Repository astropy/astropy, changes with the labels that .github/labeler.yml gives for each.
All labels: testing, external, installation, Release, config, constants, convolution, coordinates, cosmology, io.ascii, io.fits, io.misc, io.registry, io.votable, logging, modeling, nddata, samp, stats, table, time, timeseries, uncertainty, unified-io, units, utils.iers, utils.masked, visualization.wcsaxes, wcs.wcsapi, dev-automation, skip-changelog-checks

add empty viz file
  astropy/visualization/helloworld.txt
Labels: none

BOT: Bump action-towncrier-changelog hash to pick up 0.1.1 that does not use deprecated pkg_resources
  .github/workflows/check_changelog.yml
Labels: testing

BOT: Bump action-towncrier-changelog hash to pick up 0.1.1 that does not use deprecated pkg_resources
  .github/workflows/check_changelog.yml
Labels: testing

Backport PR #15746: BOT: Bump action-towncrier-changelog version hash
  .github/workflows/check_changelog.yml
Labels: testing

Remove unused code from a test helper file
  astropy/io/ascii/tests/common.py
Labels: io.ascii

Remove unused code from a test helper file
  astropy/io/ascii/tests/common.py
Labels: io.ascii

universal replace function
  astropy/coordinates/baseframe.py
  astropy/coordinates/sky_coordinate.py
  astropy/units/quantity.py
  astropy/utils/__init__.py
  astropy/utils/replace.py
Labels: coordinates, units

Remove deprecated kwarg and property names in stretches
  astropy/visualization/stretch.py
  astropy/visualization/tests/test_stretch.py
Labels: none

BUG: avoid double superscipts with unicode
  astropy/units/format/unicode_format.py
  astropy/units/tests/test_format.py
  docs/changes/units/15753.bugfix.rst
Labels: units

Rename 15753.bugfix.rst to 15755.bugfix.rst
  docs/changes/units/15755.bugfix.rst
Labels: units

Handle ZBLANK in compressed integer HDU (Fixes #15236)
  astropy/io/fits/hdu/compressed/_tiled_compression.py
  astropy/io/fits/hdu/compressed/compressed.py
Labels: io.fits

Remove whitespace on empty line
  astropy/io/fits/hdu/compressed/compressed.py
Labels: io.fits

address reviewers comments
  astropy/units/format/unicode_format.py
  astropy/units/tests/test_format.py
  docs/changes/units/15755.bugfix.rst
Labels: units

Remove deprecated keywords args from io.ascii
  astropy/io/ascii/tests/test_read.py
  astropy/io/ascii/ui.py
Labels: io.ascii

add api changelog
  docs/changes/io.ascii/15758.api.rst
Labels: none

add api changelog
  docs/changes/visualization/15751.api.rst
Labels: none

address comments
  astropy/units/format/unicode_format.py
  docs/changes/units/15755.bugfix.rst
Labels: units

Let Quantity accept Array-API compatible objects
  astropy/units/quantity.py
  astropy/units/tests/test_quantity_array_methods.py
  docs/changes/units/15752.api.rst
Labels: units

Let Quantity accept Array-API compatible objects
  astropy/units/quantity.py
  astropy/units/tests/test_quantity_array_methods.py
  docs/changes/units/15752.api.rst
Labels: units

BUG: avoid double superscipts with unicode (#15755)
  astropy/units/format/unicode_format.py
  astropy/units/tests/test_format.py
  docs/changes/units/15755.bugfix.rst
Labels: units

BUG: avoid double superscipts with unicode (#15755)
  astropy/units/format/unicode_format.py
  astropy/units/tests/test_format.py
  docs/changes/units/15755.bugfix.rst
Labels: units

Backport PR #15755: BUG: avoid double superscipts with unicode
  astropy/units/format/unicode_format.py
  astropy/units/tests/test_format.py
  docs/changes/units/15755.bugfix.rst
Labels: units

ENH: ensure Quantity support for latest numpy (np.vecdot, etc.)
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/tests/test_quantity_non_ufuncs.py
Labels: units

ENH: ensure Quantity support for latest numpy (np.vecdot, etc.)
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/tests/test_quantity_non_ufuncs.py
Labels: units

ENH: ensure Masked support for latest numpy (np.vecdot, etc.)
  astropy/utils/masked/function_helpers.py
  astropy/utils/masked/tests/test_function_helpers.py
Labels: utils.masked

ENH: ensure Masked support for latest numpy (np.vecdot, etc.)
  astropy/utils/masked/function_helpers.py
  astropy/utils/masked/tests/test_function_helpers.py
Labels: utils.masked

Add note on why we are not using np.matrix_transpose internally
  astropy/coordinates/matrix_utilities.py
Labels: coordinates

Add note on why we are not using np.matrix_transpose internally
  astropy/coordinates/matrix_utilities.py
Labels: coordinates

add __all__ to visualization.units
  astropy/visualization/units.py
Labels: none

Add lazy_loader as dependency
  pyproject.toml
Labels: installation

Ignore import style in generated stub files
  .ruff.toml
Labels: none

Remove need for circular import hack in time/formats.py
  astropy/time/formats.py
Labels: time

Implement lazy-loading at the top level
  astropy/__init__.py.bak
  astropy/__init__.pyi
  astropy/_conf.py
  astropy/init_exports.py
Labels: none

Put lazy_loader dependency in the right places
  pyproject.toml
Labels: installation

Backport PR #15762: Bump github/codeql-action from 2 to 3 in /.github/workflows
  .github/workflows/codeql-analysis.yml
Labels: testing

TST: fix a broken table test
  astropy/table/tests/test_pprint.py
Labels: table

Backport PR #15740: Add clarification on the xy coordinates in fit_wcs_from_points
  astropy/wcs/utils.py
Labels: none

bump numpy minversion to 1.23
  astropy/io/fits/tests/test_table.py
  astropy/table/tests/test_groups.py
  astropy/uncertainty/core.py
  astropy/uncertainty/tests/test_distribution.py
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/structured.py
  astropy/units/tests/test_quantity_non_ufuncs.py
  astropy/utils/compat/numpycompat.py
  astropy/utils/masked/core.py
  astropy/utils/masked/function_helpers.py
  astropy/utils/masked/tests/test_function_helpers.py
  docs/changes/15706.other.rst
  pyproject.toml
  setup.py
  tox.ini
Labels: testing, installation, io.fits, table, uncertainty, units, utils.masked

bump numpy minversion to 1.23
  astropy/io/fits/tests/test_table.py
  astropy/table/tests/test_groups.py
  astropy/uncertainty/core.py
  astropy/uncertainty/tests/test_distribution.py
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/structured.py
  astropy/units/tests/test_quantity_non_ufuncs.py
  astropy/utils/compat/numpycompat.py
  astropy/utils/masked/core.py
  astropy/utils/masked/function_helpers.py
  astropy/utils/masked/tests/test_function_helpers.py
  docs/changes/15706.other.rst
  pyproject.toml
  setup.py
  tox.ini
Labels: testing, installation, io.fits, table, uncertainty, units, utils.masked

Bump scipy minversion to 1.8
  docs/changes/15706.other.rst
  pyproject.toml
  tox.ini
Labels: testing, installation

.github/labeler.yml:

Docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/*
    - docs/_static/*
    - docs/_templates/*
    - docs/development/**/*
    - docs/whatsnew/*
    - examples/**/*
    - licenses/*
    - CITATION
    - .mailmap
    - .readthedocs.yaml
    - '*.md'
- any:
  - changed-files:
    - any-glob-to-any-file:
      - '*.rst'
      - '!CHANGES.rst'

testing:
- changed-files:
  - any-glob-to-any-file:
    - astropy/tests/**/*
    - codecov.yml
    - conftest.py
    - '**/conftest.py'
    - tox.ini
    - .circleci/*
    - .github/**/*.yml
    - .pyinstaller/**/*

external:
- changed-files:
  - any-glob-to-any-file:
    - astropy/extern/**/*
    - cextern/**/*

installation:
- changed-files:
  - any-glob-to-any-file:
    - docs/install.rst
    - MANIFEST.in
    - pyproject.toml
    - setup.*

Release:
- changed-files:
  - any-glob-to-any-file:
    - docs/development/releasing.rst

config:
- changed-files:
  - any-glob-to-any-file:
    - '**/config/**/*'
    - astropy/extern/configobj/**/*

constants:
- changed-files:
  - any-glob-to-any-file:
    - '**/constants/**/*'

convolution:
- changed-files:
  - any-glob-to-any-file:
    - '**/convolution/**/*'

coordinates:
- changed-files:
  - any-glob-to-any-file:
    - '**/coordinates/**/*'

cosmology:
- changed-files:
  - any-glob-to-any-file:
    - '**/cosmology/**/*'

io.ascii:
- changed-files:
  - any-glob-to-any-file:
    - '**/io/ascii/**/*'

io.fits:
- changed-files:
  - any-glob-to-any-file:
    - '**/io/fits/**/*'
    - cextern/cfitsio/**/*

io.misc:
- changed-files:
  - any-glob-to-any-file:
    - astropy/io/misc/*
    - astropy/io/misc/pandas/**/*
    - astropy/io/misc/tests/**/*
    - docs/io/misc.rst

io.registry:
- changed-files:
  - any-glob-to-any-file:
    - astropy/io/*
    - astropy/io/tests/*
    - docs/io/registry.rst

io.votable:
- changed-files:
  - any-glob-to-any-file:
    - '**/io/votable/**/*'

logging:
- changed-files:
  - any-glob-to-any-file:
    - astropy/logger.py
    - astropy/tests/test_logger.py
    - docs/logging.rst

modeling:
- changed-files:
  - any-glob-to-any-file:
    - '**/modeling/**/*'

nddata:
- changed-files:
  - any-glob-to-any-file:
    - '**/nddata/**/*'

samp:
- changed-files:
  - any-glob-to-any-file:
    - '**/samp/**/*'

stats:
- changed-files:
  - any-glob-to-any-file:
    - '**/stats/**/*'

table:
- changed-files:
  - any-glob-to-any-file:
    - '**/table/**/*'
    - astropy/extern/jquery/**/*

time:
- changed-files:
  - any-glob-to-any-file:
    - '**/time/**/*'

timeseries:
- changed-files:
  - any-glob-to-any-file:
    - '**/timeseries/**/*'

uncertainty:
- changed-files:
  - any-glob-to-any-file:
    - '**/uncertainty/**/*'

unified-io:
- changed-files:
  - any-glob-to-any-file:
    - docs/io/unified.rst

units:
- changed-files:
  - any-glob-to-any-file:
    - '**/units/**/*'
    - astropy/extern/ply/**/*

utils:
- changed-files:
  - any-glob-to-any-file:
    - cextern/expat/**/*
- any:
  - changed-files:
    - any-glob-to-any-file:
      - '**/utils/**/*'
      - '!astropy/utils/iers/**/*'
      - '!docs/utils/iers.rst'
      - '!astropy/utils/masked/**/*'
      - '!docs/utils/masked/**/*'

utils.iers:
- changed-files:
  - any-glob-to-any-file:
    - astropy/utils/iers/**/*
    - docs/utils/iers.rst

utils.masked:
- changed-files:
  - any-glob-to-any-file:
    - astropy/utils/masked/**/*
    - docs/utils/masked/**/*

visualization:
- any:
  - changed-files:
    - all-globs-to-any-file:
      - '**/visualization/**/*'
      - '!**/visualization/wcsaxes/**/*'

visualization.wcsaxes:
- changed-files:
  - any-glob-to-any-file:
    - '**/visualization/wcsaxes/**/*'

wcs:
- changed-files:
  - any-glob-to-any-file:
    - cextern/wcslib/**/*
- any:
  - changed-files:
    - any-glob-to-any-file:
      - '**/wcs/**/*'
      - '!astropy/wcs/wcsapi/**/*'
      - '!docs/wcs/wcsapi.rst'

wcs.wcsapi:
- changed-files:
  - any-glob-to-any-file:
    - astropy/wcs/wcsapi/**/*
    - docs/wcs/wcsapi.rst

dev-automation:
- changed-files:
  - any-glob-to-any-file:
    - .pre-commit-config.yaml

skip-changelog-checks:
- changed-files:
  - any-glob-to-any-file:
    - .pre-commit-config.yaml
