Repository astropy/astropy, changes with the labels that .github/labeler.yml gives for each.
All labels: testing, external, installation, Release, config, constants, convolution, coordinates, cosmology, io.ascii, io.fits, io.misc, io.registry, io.votable, logging, modeling, nddata, samp, stats, table, time, timeseries, uncertainty, unified-io, units, utils.iers, utils.masked, visualization.wcsaxes, wcs.wcsapi, dev-automation, skip-changelog-checks

.github/labeler.yml:

Docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/*
    - docs/_static/*
    - docs/_templates/*
    - docs/development/**/*
    - docs/whatsnew/*
    - examples/**/*
    - licenses/*
    - CITATION
    - .mailmap
    - .readthedocs.yaml
    - '*.md'
- any:
  - changed-files:
    - any-glob-to-any-file:
      - '*.rst'
      - '!CHANGES.rst'

testing:
- changed-files:
  - any-glob-to-any-file:
    - astropy/tests/**/*
    - codecov.yml
    - conftest.py
    - '**/conftest.py'
    - tox.ini
    - .circleci/*
    - .github/**/*.yml
    - .pyinstaller/**/*

external:
- changed-files:
  - any-glob-to-any-file:
    - astropy/extern/**/*
    - cextern/**/*

installation:
- changed-files:
  - any-glob-to-any-file:
    - docs/install.rst
    - MANIFEST.in
    - pyproject.toml
    - setup.*

Release:
- changed-files:
  - any-glob-to-any-file:
    - docs/development/releasing.rst

config:
- changed-files:
  - any-glob-to-any-file:
    - '**/config/**/*'
    - astropy/extern/configobj/**/*

constants:
- changed-files:
  - any-glob-to-any-file:
    - '**/constants/**/*'

convolution:
- changed-files:
  - any-glob-to-any-file:
    - '**/convolution/**/*'

coordinates:
- changed-files:
  - any-glob-to-any-file:
    - '**/coordinates/**/*'

cosmology:
- changed-files:
  - any-glob-to-any-file:
    - '**/cosmology/**/*'

io.ascii:
- changed-files:
  - any-glob-to-any-file:
    - '**/io/ascii/**/*'

io.fits:
- changed-files:
  - any-glob-to-any-file:
    - '**/io/fits/**/*'
    - cextern/cfitsio/**/*

io.misc:
- changed-files:
  - any-glob-to-any-file:
    - astropy/io/misc/*
    - astropy/io/misc/pandas/**/*
    - astropy/io/misc/tests/**/*
    - docs/io/misc.rst

io.registry:
- changed-files:
  - any-glob-to-any-file:
    - astropy/io/*
    - astropy/io/tests/*
    - docs/io/registry.rst

io.votable:
- changed-files:
  - any-glob-to-any-file:
    - '**/io/votable/**/*'

logging:
- changed-files:
  - any-glob-to-any-file:
    - astropy/logger.py
    - astropy/tests/test_logger.py
    - docs/logging.rst

modeling:
- changed-files:
  - any-glob-to-any-file:
    - '**/modeling/**/*'

nddata:
- changed-files:
  - any-glob-to-any-file:
    - '**/nddata/**/*'

samp:
- changed-files:
  - any-glob-to-any-file:
    - '**/samp/**/*'

stats:
- changed-files:
  - any-glob-to-any-file:
    - '**/stats/**/*'

table:
- changed-files:
  - any-glob-to-any-file:
    - '**/table/**/*'
    - astropy/extern/jquery/**/*

time:
- changed-files:
  - any-glob-to-any-file:
    - '**/time/**/*'

timeseries:
- changed-files:
  - any-glob-to-any-file:
    - '**/timeseries/**/*'

uncertainty:
- changed-files:
  - any-glob-to-any-file:
    - '**/uncertainty/**/*'

unified-io:
- changed-files:
  - any-glob-to-any-file:
    - docs/io/unified.rst

units:
- changed-files:
  - any-glob-to-any-file:
    - '**/units/**/*'
    - astropy/extern/ply/**/*

utils:
- changed-files:
  - any-glob-to-any-file:
    - cextern/expat/**/*
- any:
  - changed-files:
    - any-glob-to-any-file:
      - '**/utils/**/*'
      - '!astropy/utils/iers/**/*'
      - '!docs/utils/iers.rst'
      - '!astropy/utils/masked/**/*'
      - '!docs/utils/masked/**/*'

utils.iers:
- changed-files:
  - any-glob-to-any-file:
    - astropy/utils/iers/**/*
    - docs/utils/iers.rst

utils.masked:
- changed-files:
  - any-glob-to-any-file:
    - astropy/utils/masked/**/*
    - docs/utils/masked/**/*

visualization:
- any:
  - changed-files:
    - all-globs-to-any-file:
      - '**/visualization/**/*'
      - '!**/visualization/wcsaxes/**/*'

visualization.wcsaxes:
- changed-files:
  - any-glob-to-any-file:
    - '**/visualization/wcsaxes/**/*'

wcs:
- changed-files:
  - any-glob-to-any-file:
    - cextern/wcslib/**/*
- any:
  - changed-files:
    - any-glob-to-any-file:
      - '**/wcs/**/*'
      - '!astropy/wcs/wcsapi/**/*'
      - '!docs/wcs/wcsapi.rst'

wcs.wcsapi:
- changed-files:
  - any-glob-to-any-file:
    - astropy/wcs/wcsapi/**/*
    - docs/wcs/wcsapi.rst

dev-automation:
- changed-files:
  - any-glob-to-any-file:
    - .pre-commit-config.yaml

skip-changelog-checks:
- changed-files:
  - any-glob-to-any-file:
    - .pre-commit-config.yaml

Bump scipy minversion to 1.8
  docs/changes/15706.other.rst
  pyproject.toml
  tox.ini
Labels: testing, installation

Backport PR #15760: Support new additions to numpy (np.vecdot, np.matrix_transpose, etc.)
  astropy/coordinates/matrix_utilities.py
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/tests/test_quantity_non_ufuncs.py
  astropy/utils/masked/function_helpers.py
  astropy/utils/masked/tests/test_function_helpers.py
Labels: coordinates, units, utils.masked

Remove `removestar` pre-commit hook
  .pre-commit-config.yaml
Labels: dev-automation, skip-changelog-checks

Remove `removestar` pre-commit hook
  .pre-commit-config.yaml
Labels: dev-automation, skip-changelog-checks

Backport PR #15767: Remove `removestar` pre-commit hook
  .pre-commit-config.yaml
Labels: dev-automation, skip-changelog-checks

TST: fix a broken table test (#15764)
  astropy/table/tests/test_pprint.py
Labels: table

TST: fix a broken table test (#15764)
  astropy/table/tests/test_pprint.py
Labels: table

Backport PR #15764: TST: fix a broken table test
  astropy/table/tests/test_pprint.py
Labels: table

Fix conflicing function/module name stats.bayesian_blocks
  astropy/stats/__init__.pyi
  astropy/stats/_bayesian_blocks.py
  astropy/stats/_histogram.py
Labels: stats

Fix conflicting function/module name astropy.convolution.convolve
  astropy/convolution/__init__.pyi
  astropy/convolution/convolution.py
  astropy/convolution/tests/test_convolve.py
  astropy/convolution/tests/test_convolve_fft.py
  astropy/convolution/tests/test_convolve_kernels.py
  astropy/convolution/tests/test_convolve_models.py
  astropy/convolution/tests/test_convolve_nddata.py
  astropy/convolution/tests/test_kernel_class.py
Labels: convolution

Use getattr() instead of .__dict__ to support introspection of lazy-loaded modules
  astropy/utils/introspection.py
Labels: none

TST: fix incorrect skipif marker
  astropy/cosmology/flrw/tests/test_base.py
Labels: cosmology

TST: fix incorrect skipif marker
  astropy/cosmology/flrw/tests/test_base.py
Labels: cosmology

Backport PR #15770: TST: fix incorrect skipif marker
  astropy/cosmology/flrw/tests/test_base.py
Labels: cosmology

ENH: avoid importing optional dependencies just to know if they are installed
  astropy/utils/compat/optional_deps.py
Labels: none
