Repository astropy/astropy, pull requests merged in 2018-07, with the labels that each got.

#7617 Fixes for Python 3.7
  astropy/__init__.py
  astropy/io/ascii/misc.py
  astropy/io/fits/tests/test_fitstime.py
  astropy/nddata/tests/test_decorators.py
  astropy/tests/helper.py
Labels: Refactoring, no-changelog-entry-needed

#7430 Use Green Bank Convention to write and read vectorized location for time coordinates to/from FITS
  CHANGES.rst
  astropy/io/fits/fitstime.py
  astropy/io/fits/tests/test_fitstime.py
  astropy/time/core.py
  docs/io/unified.rst
Labels: io.fits, table

#7610 add doc section about --readonly option
  docs/development/testguide.rst
Labels: Docs, no-changelog-entry-needed

#7612 Throw a more helpful error message in CCDData.read with invalid BUNIT.
  astropy/nddata/ccddata.py
  astropy/nddata/tests/test_ccddata.py
Labels: Refactoring, nddata, no-changelog-entry-needed

#7586 TST: Fix parallel data download test for v2.x
  astropy/utils/setup_package.py
  astropy/utils/tests/data/dataurl/index.html
  astropy/utils/tests/data/dataurl_mirror/index.html
  astropy/utils/tests/test_data.py
Labels: Bug, merge-when-ci-passes, no-changelog-entry-needed, testing, utils

#7574 Implementation of Table Index Engine using sortedcontainers
  .travis.yml
  CHANGES.rst
  astropy/table/__init__.py
  astropy/table/index.py
  astropy/table/soco.py
  astropy/table/table.py
  astropy/table/tests/test_index.py
  docs/install.rst
  docs/table/indexing.rst
Labels: Enhancement, table, whatsnew-needed

#7641 DOC: Fix change log typo
  CHANGES.rst
Labels: Affects-dev, Docs, skip-changelog-checks

#7637 Improve error message when ascii guessing fails [skip ci]
  astropy/io/ascii/ui.py
Labels: Affects-release, io.ascii, no-changelog-entry-needed

#7615 Speed up SkyCoord initialization by a factor of ~2
  CHANGES.rst
  astropy/coordinates/baseframe.py
Labels: Performance, coordinates

#7643 Speed up Unit.to when target unit is the same as original unit
  CHANGES.rst
  astropy/units/core.py
Labels: Performance, units

#7642 Don't break on not getting "Downloading" message in doctest.
  astropy/utils/data.py
Labels: no-changelog-entry-needed, testing, utils

#7647 Simple refactoring to reduce astropy import time.
  CHANGES.rst
  astropy/utils/introspection.py
  astropy/utils/misc.py
  astropy/utils/tests/test_introspection.py
Labels: Performance, Refactoring, utils

#7654 Update BJD conversion info in docstring
  astropy/time/core.py
Labels: Docs, Ready-for-final-review, no-changelog-entry-needed, time

#7481 Allow round-trip of MaskedColumn in ECSV, FITS, HDF5
  CHANGES.rst
  astropy/io/ascii/ecsv.py
  astropy/io/ascii/tests/test_ecsv.py
  astropy/io/ascii/ui.py
  astropy/io/fits/tests/test_connect.py
  astropy/io/misc/tests/test_hdf5.py
  astropy/table/column.py
  astropy/table/info.py
  astropy/table/serialize.py
  astropy/table/table.py
  astropy/table/tests/test_info.py
  astropy/table/tests/test_mixin.py
  astropy/time/core.py
  astropy/units/quantity.py
  astropy/utils/data_info.py
  docs/io/ascii/index.rst
  docs/io/ascii/write.rst
  docs/io/unified.rst
Labels: Bug, Ready-for-final-review, io.ascii, io.fits, io.misc, table

#7656 Update docs on known issues; see astropy/astropy/#7582 [docs only]
  docs/known_issues.rst
Labels: Docs, no-changelog-entry-needed, units

#7638 Improve performance of converting CartesianRepresentation to xyz
  CHANGES.rst
  astropy/coordinates/representation.py
  astropy/coordinates/tests/test_representation.py
Labels: Performance, coordinates

#7592 Add performance stubs
  docs/conf.py
  docs/constants/index.rst
  docs/constants/performance.inc.rst
  docs/convolution/index.rst
  docs/convolution/performance.inc.rst
  docs/coordinates/index.rst
  docs/coordinates/performance.inc.rst
  docs/cosmology/index.rst
  docs/cosmology/performance.inc.rst
  docs/io/ascii/index.rst
  docs/io/ascii/performance.inc.rst
  docs/io/fits/index.rst
  docs/io/fits/performance.inc.rst
  docs/io/votable/index.rst
  docs/io/votable/performance.inc.rst
  docs/modeling/index.rst
  docs/modeling/performance.inc.rst
  docs/nddata/index.rst
  docs/nddata/performance.inc.rst
  docs/samp/index.rst
  docs/samp/performance.inc.rst
  docs/stats/index.rst
  docs/stats/performance.inc.rst
  docs/table/index.rst
  docs/table/performance.inc.rst
  docs/time/index.rst
  docs/time/performance.inc.rst
  docs/units/index.rst
  docs/units/performance.inc.rst
  docs/visualization/index.rst
  docs/visualization/performance.inc.rst
  docs/wcs/index.rst
  docs/wcs/performance.inc.rst
Labels: Docs, Performance, no-changelog-entry-needed

#7658 Fix IERS error message and upgrade tests
  astropy/utils/iers/iers.py
  astropy/utils/iers/tests/test_iers.py
Labels: Ready-for-final-review, no-changelog-entry-needed, utils

#7503 Remove side-effects from convolution.convolve()
  astropy/convolution/convolve.py
  astropy/convolution/tests/test_convolve.py
Labels: Affects-dev, convolution

#7579 Fix parametrization of test_asymmetric_kernel()
  astropy/convolution/tests/test_convolve.py
  astropy/convolution/tests/test_convolve_fft.py
Labels: Bug, convolution, no-changelog-entry-needed, testing

#7664 DOC: Remove unnecessary verbiage from releasing doc
  docs/development/releasing.rst
Labels: Docs, Release, no-changelog-entry-needed

#6536 Added page to developer docs on when to rebase
  docs/development/when_to_rebase.rst
  docs/index.rst
Labels: Docs, keep-open, no-changelog-entry-needed

#7668 Make relative humidity a QuantityAttribute.
  CHANGES.rst
  astropy/coordinates/attributes.py
  astropy/coordinates/builtin_frames/altaz.py
  astropy/coordinates/builtin_frames/cirs_observed_transforms.py
  astropy/coordinates/tests/test_iau_fullstack.py
  astropy/coordinates/tests/test_sky_coord.py
  docs/coordinates/frames.rst
Labels: Bug, coordinates, merge-when-ci-passes

#7673 Fix running test suite with coverage enabled on Windows
  CHANGES.rst
  astropy/tests/command.py
Labels: testing

#7667 Fix regression from #7503 in convolution.convolve()
  astropy/convolution/convolve.py
  astropy/convolution/tests/test_convolve.py
Labels: Affects-dev, convolution

#7675 Put the frame transform graph in a div with a class
  astropy/coordinates/builtin_frames/__init__.py
Labels: Docs, coordinates, no-changelog-entry-needed

#7589 Fits documentation enhancements
  astropy/io/fits/hdu/hdulist.py
  docs/io/fits/api/verification.rst
  docs/io/fits/usage/scripts.rst
  docs/io/fits/usage/table.rst
Labels: Docs, io.fits, no-changelog-entry-needed

#7676 Add LaTeX complex numbers representation
  CHANGES.rst
  astropy/units/quantity.py
  astropy/units/tests/test_quantity.py
Labels: units

#7682 Rename vo.client.async to vo.client.vo_async
  astropy/vo/client/conesearch.py
  astropy/vo/client/tests/test_conesearch.py
  astropy/vo/client/vo_async.py
  docs/vo/conesearch/index.rst
Labels: Python3, Refactoring, merge-when-ci-passes, no-changelog-entry-needed, vo.conesearch

#7684 Adding workaround for erf ufunc
  astropy/units/quantity_helper.py
Labels: merge-when-ci-passes, no-changelog-entry-needed, units

#7607 Add Python 3.7 testing to travis
  .travis.yml
Labels: no-changelog-entry-needed, testing

#7685 Update AppVeyor build OS to VS 2017
  appveyor.yml
Labels: Windows, no-changelog-entry-needed, testing

#7691 Fixed WCS utilities when axes are swapped
  CHANGES.rst
  astropy/wcs/tests/test_utils.py
  astropy/wcs/utils.py
Labels: Affects-release, Bug, Ready-for-final-review, wcs

#7694 Remove remote content from whatsnew page [docs only]
  docs/whatsnew/1.3.rst
Labels: Docs, no-changelog-entry-needed

#7323 Implement strftime and strptime for Time
  CHANGES.rst
  astropy/time/core.py
  astropy/time/tests/test_basic.py
  docs/time/index.rst
Labels: time
