Repository astropy/astropy, pull requests merged in 2018-02, with the labels that each got.

#7174 Update generated lextab/parsetab files
  CHANGES.rst
  astropy/coordinates/angle_lextab.py
  astropy/coordinates/angle_parsetab.py
  astropy/coordinates/angle_utilities.py
  astropy/extern/ply/cpp.py
  astropy/extern/ply/lex.py
  astropy/extern/ply/yacc.py
  astropy/extern/ply/ygen.py
  astropy/units/format/base.py
  astropy/units/format/cds.py
  astropy/units/format/cds_lextab.py
  astropy/units/format/cds_parsetab.py
  astropy/units/format/generic.py
  astropy/units/format/generic_lextab.py
  astropy/units/format/generic_parsetab.py
  astropy/units/format/ogip.py
  astropy/units/format/ogip_lextab.py
  astropy/units/format/ogip_parsetab.py
  docs/development/building.rst
Labels: coordinates, units

#7175 Minor cleanups prior release 3.0
  .mailmap
  CHANGES.rst
  docs/credits.rst
  docs/whatsnew/3.0.rst
Labels: merge-when-ci-passes, no-changelog-entry-needed

#7176 Improvements to What's new in 3.0?
  docs/whatsnew/3.0.rst
Labels: Docs, no-changelog-entry-needed

#7182 Use NumpyRNGContext in test_2d_model for deterministic results
  astropy/modeling/tests/test_constraints.py
Labels: merge-when-ci-passes, modeling, no-changelog-entry-needed, testing

#7188 Fix "coordiante" spelling mistakes
  astropy/coordinates/transformations.py
  docs/coordinates/index.rst
Labels: coordinates, no-changelog-entry-needed

#7184 Add back mirror URL for image tests
  astropy/tests/image_tests.py
Labels: merge-when-ci-passes, no-changelog-entry-needed, testing

#7187 Add workaround for einsum issues in norm()
  CHANGES.rst
  astropy/coordinates/builtin_frames/utils.py
Labels: Bug, Ready-for-final-review, coordinates

#7193 Updates to changelog post 3.0 release
  CHANGES.rst
Labels: Docs, no-changelog-entry-needed

#7206 Display axes dimensions in summary of NonstandardExtHDU
  astropy/io/fits/hdu/base.py
Labels: Enhancement, io.fits, no-changelog-entry-needed

#7186 Make sure HDUs are loaded before hdulist.pop is called
  CHANGES.rst
  astropy/io/fits/hdu/hdulist.py
  astropy/io/fits/tests/test_hdulist.py
Labels: Bug, io.fits

#7212 ENH: Nothing to see here
  astropy/coordinates/calculation.py
Labels: Enhancement, coordinates, no-changelog-entry-needed

#6952 Support Units and Equivalencies on CompoundModel
  CHANGES.rst
  astropy/modeling/blackbody.py
  astropy/modeling/core.py
  astropy/modeling/functional_models.py
  astropy/modeling/mappings.py
  astropy/modeling/projections.py
  astropy/modeling/rotations.py
  astropy/modeling/tests/test_quantities_evaluation.py
  astropy/modeling/utils.py
  docs/modeling/units.rst
Labels: Affects-release, Bug, modeling

#7219 Avoid ImportError when using old scipy
  CHANGES.rst
  astropy/units/quantity_helper.py
Labels: Affects-release, Bug, units

#7208 Fix ID lookup error in to_table()
  CHANGES.rst
  astropy/io/votable/tests/table_test.py
  astropy/io/votable/tree.py
Labels: Affects-release, Bug, io.votable
