Repository astropy/astropy, pull requests merged in 2018-08, with the labels that each got.

#7699 Temporarily limit pytest version to workaround upstream issue
  .circleci/config.yml
Labels: no-changelog-entry-needed, testing

#7703 Add v3.0.5 and v2.0.9 to the changelog, and post release cleanup
  CHANGES.rst
Labels: Docs, no-changelog-entry-needed, skip-changelog-checks

#7698 Added documentation on using transform and coord_meta in WCSAxes
  CHANGES.rst
  docs/visualization/wcsaxes/generic_transforms.rst
  docs/visualization/wcsaxes/index.rst
Labels: Docs, Ready-for-final-review, visualization.wcsaxes

#7702 remove extraneous code from sgr example
  examples/coordinates/plot_sgr-coordinate-frame.py
Labels: Docs, coordinates, merge-when-ci-passes, no-changelog-entry-needed

#7639 Speed up coordinate representations using erfa routines
  CHANGES.rst
  astropy/coordinates/representation.py
  astropy/coordinates/tests/test_sky_coord.py
  astropy/time/tests/test_basic.py
  astropy/units/quantity.py
  astropy/units/quantity_helper.py
  astropy/units/tests/test_quantity.py
  astropy/units/tests/test_quantity_ufuncs.py
Labels: Performance, coordinates

#7707 Fix coordinate transform bug with multiple / consecutive StaticMatrixTransform's
  CHANGES.rst
  astropy/coordinates/tests/test_transformations.py
  astropy/coordinates/transformations.py
Labels: coordinates

#7697 Increase coverage
  astropy/coordinates/distances.py
  astropy/coordinates/tests/test_distance.py
  astropy/units/tests/test_utils.py
Labels: coordinates, no-changelog-entry-needed, testing, units

#7711 Build doc on RTD with pip (drop conda)
  .rtd-environment.yml
  pip-requirements-doc
  readthedocs.yml
Labels: Docs, no-changelog-entry-needed

#7726 import numpy as np for line 25, 56, and 95
  examples/io/skip_create-large-fits.py
Labels: Refactoring, no-changelog-entry-needed

#7712 Allow for mixins in table grouping and unique
  CHANGES.rst
  astropy/table/groups.py
  astropy/table/index.py
  astropy/table/table.py
  astropy/table/tests/test_groups.py
  astropy/table/tests/test_mixin.py
Labels: Enhancement, table

#7391 ENH: Adding Transit Periodogram to astropy.stats
  CHANGES.rst
  astropy/stats/__init__.py
  astropy/stats/bls/__init__.py
  astropy/stats/bls/_impl.pyx
  astropy/stats/bls/bls.c
  astropy/stats/bls/core.py
  astropy/stats/bls/methods.py
  astropy/stats/bls/setup_package.py
  astropy/stats/bls/tests/__init__.py
  astropy/stats/bls/tests/test_bls.py
  docs/stats/bls.rst
  docs/stats/index.rst
Labels: Ready-for-final-review, stats, whatsnew-needed

#7724 Include license file in wheels
  setup.cfg
Labels: installation, no-changelog-entry-needed

#7731 TWO_OR_THREE_ARGS --> TWO_OR_MORE_ARGS in __all__ of wcs/_docutil.py
  astropy/wcs/_docutil.py
Labels: no-changelog-entry-needed, wcs

#7735 Add a note about squashing
  docs/development/when_to_rebase.rst
Labels: Docs, no-changelog-entry-needed

#7718 Adding __citation__ for the main astropy reference
  CHANGES.rst
  CITATION
  MANIFEST.in
  astropy/CITATION
  astropy/__init__.py
  astropy/setup_package.py
Labels: Docs

#7651 Time small refactoring
  astropy/time/core.py
Labels: Affects-dev, Refactoring

#7742 Travis: Remove some egg_info builds
  .travis.yml
Labels: no-changelog-entry-needed, testing

#7746 handle zero size inputs in wcs
  CHANGES.rst
  astropy/wcs/tests/test_wcs.py
  astropy/wcs/wcs.py
Labels: Affects-release, Bug, merge-when-ci-passes, wcs

#7155 Speed up LambdaCDM distance calculations using elliptic integrals
  CHANGES.rst
  astropy/cosmology/core.py
  astropy/cosmology/tests/test_cosmology.py
Labels: cosmology, merge-when-ci-passes

#7348 Parse CDS units with Unit 'cds' format.
  CHANGES.rst
  astropy/io/ascii/cds.py
  astropy/io/ascii/tests/t/cds.dat
  astropy/io/ascii/tests/test_cds_header_from_readme.py
  astropy/table/tests/test_showtable.py
  astropy/units/cds.py
  astropy/utils/iers/tests/test_iers.py
Labels: Bug, io.ascii, units

#7721 Use unique configuration variable for astropy cache in pytest plugin
  CHANGES.rst
  astropy/tests/plugins/config.py
  docs/development/testguide.rst
Labels: Bug, Refactoring, merge-when-ci-passes, testing

#7753 Reset matplotlib rcParams to defaults before tests.
  astropy/conftest.py
Labels: no-changelog-entry-needed, testing, visualization.wcsaxes

#7767 Doctests to be picked up from narrative documentation
  CHANGES.rst
  astropy/tests/runner.py
Labels: Bug, testing

#7769 Fix pytest warning about tree fixture being called directly
  astropy/table/tests/test_bst.py
Labels: no-changelog-entry-needed, table, testing

#7674 Make Column stackable
  CHANGES.rst
  astropy/table/operations.py
  astropy/table/tests/test_operations.py
Labels: table

#7774 Remove a few setup warnings for missing files
  MANIFEST.in
  ah_bootstrap.py
  docs/development/building.rst
Labels: Release, no-changelog-entry-needed

#7778 Updating CITATION to include published 2018 paper
  astropy/CITATION
Labels: Docs, no-changelog-entry-needed

#7779 Fix fixture issue with pytest 3.7 in test_statistics.py
  .gitignore
  astropy/stats/lombscargle/tests/test_statistics.py
Labels: no-changelog-entry-needed, stats, testing

#7045 Set minimum value for blackbody bolometric flux
  CHANGES.rst
  astropy/modeling/blackbody.py
Labels: Enhancement, merge-when-ci-passes, modeling

#7054 Add thermodynamic temperature equivalency
  CHANGES.rst
  astropy/units/equivalencies.py
  astropy/units/tests/test_equivalencies.py
  docs/units/equivalencies.rst
Labels: units, whatsnew-needed

#7775 A few fixes for Pypy
  astropy/coordinates/tests/test_api_ape5.py
  astropy/io/ascii/tests/test_write.py
  astropy/stats/tests/test_biweight.py
  astropy/stats/tests/test_funcs.py
  astropy/stats/tests/test_sigma_clipping.py
Labels: coordinates, io.ascii, no-changelog-entry-needed, stats, testing

#7788 Use raw strings for latex formatting in test
  astropy/visualization/wcsaxes/tests/test_formatter_locator.py
Labels: Bug, no-changelog-entry-needed, testing, visualization.wcsaxes

#7737 Fix biweight stats functions for constant arrays
  CHANGES.rst
  astropy/stats/biweight.py
  astropy/stats/tests/test_biweight.py
Labels: Bug, stats

#7790 TST: Ignore deprecation message in Python agnostic way
  CHANGES.rst
  astropy/tests/helper.py
Labels: Refactoring, testing
