Repository astropy/astropy, pull requests merged in 2018-04, with the labels that each got.

#7359 An asdf tag for Linear1D
  astropy/io/misc/asdf/tags/coordinates/tests/test_frames.py
  astropy/io/misc/asdf/tags/fits/tests/test_fits.py
  astropy/io/misc/asdf/tags/table/tests/test_table.py
  astropy/io/misc/asdf/tags/time/tests/test_time.py
  astropy/io/misc/asdf/tags/transform/polynomial.py
  astropy/io/misc/asdf/tags/transform/tests/test_transform.py
  astropy/io/misc/asdf/tags/unit/tests/test_quantity.py
  astropy/io/misc/asdf/tags/unit/tests/test_unit.py
Labels: no-changelog-entry-needed

#7345 adding additional example to Tables doc
  docs/table/access_table.rst
Labels: Docs, Enhancement, no-changelog-entry-needed, table

#7210 Make unit related attributes on model read-only
  CHANGES.rst
  astropy/io/misc/asdf/tags/transform/polynomial.py
  astropy/io/misc/asdf/tags/transform/tests/test_transform.py
  astropy/modeling/core.py
  astropy/modeling/functional_models.py
  astropy/modeling/mappings.py
  astropy/modeling/rotations.py
  astropy/modeling/tests/test_functional_models.py
  astropy/modeling/tests/test_quantities_evaluation.py
  astropy/modeling/tests/test_quantities_model.py
  astropy/modeling/tests/test_rotations.py
Labels: Enhancement, modeling

#7370 Update extern cfitsio package to 3.44 for bug fixes
  CHANGES.rst
  cextern/cfitsio/docs/changes.txt
  cextern/cfitsio/lib/cfileio.c
  cextern/cfitsio/lib/drvrfile.c
  cextern/cfitsio/lib/drvrgsiftp.c
  cextern/cfitsio/lib/drvrnet.c
  cextern/cfitsio/lib/editcol.c
  cextern/cfitsio/lib/eval_f.c
  cextern/cfitsio/lib/fitscore.c
  cextern/cfitsio/lib/fitsio.h
  cextern/cfitsio/lib/fitsio2.h
  cextern/cfitsio/lib/getcols.c
  cextern/cfitsio/lib/getkey.c
  cextern/cfitsio/lib/group.c
  cextern/cfitsio/lib/group.h
  cextern/cfitsio/lib/histo.c
  cextern/cfitsio/lib/imcompress.c
  cextern/cfitsio/lib/iraffits.c
  cextern/cfitsio/lib/longnam.h
  cextern/cfitsio/lib/modkey.c
  cextern/cfitsio/lib/putcol.c
  cextern/cfitsio/lib/putkey.c
Labels: Bug, Priority-High, io.fits

#7372 TST: Avoid deprecation warning from scipy.stats for numpy>=1.15
  astropy/tests/helper.py
Labels: no-changelog-entry-needed, numpy-dev, stats, testing

#7373 TST: Fix np.sum from generator deprecation warning
  astropy/io/fits/util.py
Labels: io.fits, no-changelog-entry-needed, numpy-dev, testing

#7376 DOC: Consistent change log formatting
  CHANGES.rst
Labels: Affects-dev, Docs

#7262 fix bug during error handeling for timeouts in name_resolve
  astropy/coordinates/name_resolve.py
Labels: coordinates, no-changelog-entry-needed

#7252 Moving function quantity_allclose #7235
  CHANGES.rst
  astropy/coordinates/tests/accuracy/test_ecliptic.py
  astropy/coordinates/tests/test_api_ape5.py
  astropy/coordinates/tests/test_celestial_transformations.py
  astropy/coordinates/tests/test_distance.py
  astropy/coordinates/tests/test_earth.py
  astropy/coordinates/tests/test_finite_difference_velocities.py
  astropy/coordinates/tests/test_frames.py
  astropy/coordinates/tests/test_frames_with_velocity.py
  astropy/coordinates/tests/test_intermediate_transformations.py
  astropy/coordinates/tests/test_regression.py
  astropy/coordinates/tests/test_sites.py
  astropy/coordinates/tests/test_sky_coord.py
  astropy/coordinates/tests/test_solar_system.py
  astropy/coordinates/tests/test_transformations.py
  astropy/cosmology/tests/test_cosmology.py
  astropy/io/ascii/tests/test_ecsv.py
  astropy/io/fits/tests/test_connect.py
  astropy/tests/helper.py
  astropy/units/quantity.py
  astropy/units/tests/test_quantity_helpers.py
  docs/stats/lombscargle.rst
  docs/units/quantity.rst
Labels: Refactoring, testing, units, utils

#7378 Corrected Sersic1D and Sersic2D amplitude definition in docstrings
  astropy/modeling/functional_models.py
Labels: Docs, modeling, no-changelog-entry-needed

#7382 Add backticks around format type in FITS error
  astropy/io/fits/column.py
Labels: io.fits, merge-when-ci-passes, no-changelog-entry-needed

#7288 [BUG]: Remove fit_deriv in Box1D model
  astropy/modeling/functional_models.py
Labels: Affects-release, Bug, modeling, no-changelog-entry-needed

#7384 BUG: Fix error message for assert_quantity_allclose
  astropy/tests/helper.py
  astropy/tests/tests/test_quantity_helpers.py
Labels: Affects-dev, testing, units

#7387 Fix bug with separation_3d failing when velocity data present
  CHANGES.rst
  astropy/coordinates/sky_coordinate.py
  astropy/coordinates/tests/test_sky_coord_velocities.py
Labels: Affects-release, Bug, coordinates, merge-when-ci-passes

#7037 Allow lists of quantities to be converted in Matplotlib unit converter
  CHANGES.rst
  astropy/visualization/tests/test_units.py
  astropy/visualization/units.py
Labels: Affects-release, Bug, visualization

#7392 TST: Add astropy_helpers version info to test header
  astropy/tests/plugins/display.py
Labels: Upstream Fix Required, merge-when-ci-passes, no-changelog-entry-needed, testing

#7380 v2.0.x : Fix None return annotation in quantity_input
  astropy/units/decorators.py
  astropy/units/tests/py3_test_quantity_annotations.py
Labels: Bug, units

#7395 TST: Fix parallel download caching in test
  astropy/utils/tests/test_data.py
Labels: no-changelog-entry-needed, testing, utils

#7381 MNT: Remove quantity_allclose wrapper in test helper
  CHANGES.rst
  astropy/tests/helper.py
Labels: Ready-for-final-review, testing

#7349 Makes Latex reader ignore table rules
  CHANGES.rst
  astropy/io/ascii/latex.py
  astropy/io/ascii/tests/t/latex2.tex
  astropy/io/ascii/tests/t/latex3.tex
Labels: io.ascii

#6907 remove the docs that have been moved to the package template
  docs/conf.py
  docs/development/astropy-package-template.rst
Labels: Docs, merge-when-ci-passes, no-changelog-entry-needed

#7401 Switching to use released asdf
  .travis.yml
Labels: no-changelog-entry-needed, testing

#7398 Eliminate chained exceptions for lazyproperty
  astropy/utils/decorators.py
Labels: no-changelog-entry-needed, utils

#7134 Update test_showtable to split lines as in other tests
  astropy/table/tests/test_showtable.py
Labels: no-changelog-entry-needed, table, testing

#7400 Minor changes to the package template docs
  docs/development/astropy-package-template.rst
Labels: Docs, no-changelog-entry-needed

#7248 fix histogram bug
  CHANGES.rst
  astropy/stats/histogram.py
  astropy/stats/tests/test_histogram.py
Labels: Affects-release, Bug, merge-when-ci-passes, stats

#7393 Update ASDF-related docs to reflect presence of schemas
  astropy/io/misc/asdf/__init__.py
Labels: Docs, io.misc.asdf, no-changelog-entry-needed

#7403 Changelog fix post v3.0.2 and v2.0.6
  CHANGES.rst
Labels: Docs, no-changelog-entry-needed

#7122 Added LOCAL time scale
  CHANGES.rst
  astropy/io/fits/tests/test_fitstime.py
  astropy/table/tests/test_mixin.py
  astropy/time/core.py
  astropy/time/formats.py
  astropy/time/tests/test_basic.py
  astropy/time/tests/test_delta.py
  docs/time/index.rst
Labels: Enhancement, time

#7411 Tabular outputs shape
  CHANGES.rst
  astropy/modeling/tabular.py
  astropy/modeling/tests/test_compound.py
Labels: Affects-release, Bug, merge-when-ci-passes, modeling
