Repository astropy/astropy, pull requests merged in 2018-11, with the labels that each got.

#8048 Remove deprecated usage of AsdfFile.open in io.misc.asdf
  astropy/io/misc/asdf/tags/table/tests/test_table.py
  astropy/io/misc/asdf/tags/unit/tests/test_quantity.py
  astropy/io/misc/asdf/tags/unit/tests/test_unit.py
  docs/install.rst
Labels: Refactoring, io.misc.asdf, no-changelog-entry-needed

#8042 MNT: Replace bintrees with sortedcontainers in pip requirements
  pip-requirements-dev
Labels: installation, no-changelog-entry-needed, table

#8062 Fix failing tests on MIPS and PowerPC
  astropy/time/tests/test_mask.py
  astropy/utils/data_info.py
Labels: Ready-for-final-review, merge-when-ci-passes, no-changelog-entry-needed, platform-mips, platform-ppc, testing

#8057 Simplify C convolution code by using common code for all boundary cases
  astropy/convolution/convolve.py
  astropy/convolution/setup_package.py
  astropy/convolution/src/boundary_padded.c
  astropy/convolution/src/convolve.c
  astropy/convolution/src/convolve.h
Labels: Affects-dev, Refactoring, convolution

#8055 Fix test runner: allow single doc paths to be tested again
  CHANGES.rst
  astropy/tests/runner.py
Labels: Bug, testing

#8052 fix serialization of bounding_box with quantities
  CHANGES.rst
  astropy/io/misc/asdf/tags/transform/basic.py
  astropy/io/misc/asdf/tags/transform/tabular.py
  astropy/io/misc/asdf/tags/transform/tests/test_transform.py
  astropy/modeling/utils.py
Labels: Bug, io.misc.asdf, modeling

#8043 Fix installation doc
  docs/install.rst
  pip-requirements
Labels: Docs, installation, no-changelog-entry-needed

#8064 Pin optional ASDF dependency to 2.1.0 for now
  .travis.yml
Labels: installation, io.misc.asdf, no-changelog-entry-needed, testing

#7616 Speed up initialization of Longitude
  CHANGES.rst
  astropy/coordinates/angles.py
Labels: Performance, coordinates, merge-when-ci-passes, units

#8073 Fix typo in wcs deprecation warning for _naxis*
  astropy/wcs/wcs.py
Labels: no-changelog-entry-needed, wcs

#7856 Handle valid modes correctly for file objects passed to fits.append
  CHANGES.rst
  astropy/io/fits/hdu/hdulist.py
  astropy/io/fits/tests/test_convenience.py
  astropy/io/fits/tests/test_header.py
Labels: Bug, io.fits

#8076 Additions to convolution.convolve as per #8057
  astropy/convolution/convolve.py
  astropy/convolution/src/convolve.c
  astropy/convolution/src/convolve.h
Labels: Affects-dev, Refactoring, convolution

#7975 Fix errors in kuiper_false_positive_probability
  CHANGES.rst
  astropy/stats/funcs.py
  astropy/stats/tests/test_funcs.py
Labels: Bug, stats

#8031 EXP: Try using pytest 3.10
  .circleci/config.yml
  .travis.yml
Labels: no-changelog-entry-needed, testing

#8082 Alternate fix to None differential_type bug
  astropy/coordinates/sky_coordinate_parsers.py
  astropy/coordinates/tests/test_sky_coord.py
Labels: Affects-dev, Critical, coordinates

#8081 Unpin numpy!=1.15.3
  .circleci/config.yml
  docs/install.rst
  pip-requirements
  setup.py
Labels: Docs, installation, no-changelog-entry-needed

#8084 TST: Use matplotlib dev with numpy dev for cron
  .travis.yml
Labels: no-changelog-entry-needed, numpy-dev, testing

#8069 Fix bug in show_in_notebook, not supporting mixin columns
  CHANGES.rst
  astropy/table/table.py
Labels: Bug, table, time

#8093 Make astropy compatible with wcslib version 6
  CHANGES.rst
  astropy/wcs/src/wcslib_wrap.c
  astropy/wcs/tests/data/validate.6.txt
  astropy/wcs/tests/test_wcs.py
  astropy/wcs/tests/test_wcsprm.py
Labels: wcs

#8034 TST: Fix warnings in utils tests
  astropy/utils/iers/tests/test_iers.py
  astropy/utils/tests/test_timer.py
Labels: no-changelog-entry-needed, testing, utils

#8023 Added sections for 'What's new in 3.1?'
  CHANGES.rst
  docs/uncertainty/index.rst
  docs/units/equivalencies.rst
  docs/visualization/normalization.rst
  docs/wcs/wcsapi.rst
  docs/whatsnew/3.1.rst
Labels: Ready-for-final-review, no-changelog-entry-needed, skip-changelog-checks

#7383 Make NDUncertainty picklable
  CHANGES.rst
  astropy/nddata/nduncertainty.py
  astropy/nddata/tests/test_nddata.py
  astropy/nddata/tests/test_nduncertainty.py
Labels: Enhancement, nddata

#8109 updated links for BLS in whatsnew
  docs/whatsnew/3.1.rst
Labels: Docs, no-changelog-entry-needed

#8110 Fixing __citation__
  CHANGES.rst
  astropy/__init__.py
Labels: Docs

#8106 Add Cython compilation directive to pyx for language_level=3
  astropy/cosmology/scalar_inv_efuncs.pyx
  astropy/io/ascii/cparser.pyx
  astropy/stats/bls/_impl.pyx
  astropy/stats/lombscargle/implementations/cython_impl.pyx
  astropy/table/_column_mixins.pyx
  astropy/table/_np_utils.pyx
Labels: cosmology, installation, io.ascii, no-changelog-entry-needed, stats, table

#8112 Fix bug in BLS when times are negative
  astropy/stats/bls/bls.c
  astropy/stats/bls/core.py
  astropy/stats/bls/methods.py
  astropy/stats/bls/tests/test_bls.py
Labels: Affects-dev, Bug, stats

#8105 Fix Moffat2DKernel's FWHM
  CHANGES.rst
  astropy/convolution/kernels.py
  astropy/convolution/tests/test_convolve_kernels.py
Labels: Affects-release, Bug, convolution

#7989 TST: Ignore coordinates test warnings
  astropy/coordinates/tests/test_angles.py
  astropy/coordinates/tests/test_distance.py
  astropy/coordinates/tests/test_matching.py
  astropy/coordinates/tests/test_representation.py
  astropy/coordinates/tests/test_unit_representation.py
Labels: coordinates, no-changelog-entry-needed, testing

#8104 Cython implementation of kuiper_two.
  CHANGES.rst
  astropy/stats/_stats.pyx
  astropy/stats/funcs.py
Labels: Performance, stats

#8116 MNT: Replace deprecated PyUnicode_GetSize with PyUnicode_GetLength
  astropy/io/votable/src/tablewriter.c
  astropy/utils/xml/src/iterparse.c
Labels: Python4, io.votable, no-changelog-entry-needed, utils, ¯\_(ツ)_/¯

#8088 Warn if nan_treatment='interpolate' and NaN values persist post convolution
  CHANGES.rst
  astropy/convolution/convolve.py
  astropy/convolution/tests/test_convolve.py
  docs/convolution/index.rst
Labels: convolution, merge-when-ci-passes

#7991 Add upper limit to number of bins in hist and refactor bin edge calculation
  CHANGES.rst
  astropy/stats/histogram.py
  astropy/stats/tests/test_histogram.py
  astropy/visualization/hist.py
  astropy/visualization/tests/test_histogram.py
Labels: Bug, Ready-for-final-review, merge-when-ci-passes, stats, visualization

#8072 Update nddata documentation to reflect new uncertainties and bitmasks
  astropy/nddata/ccddata.py
  docs/nddata/bitmask.rst
  docs/nddata/ccddata.rst
  docs/nddata/index.rst
  docs/nddata/subclassing.rst
Labels: Docs, nddata, no-changelog-entry-needed

#8123 Planck15
  CHANGES.rst
  astropy/cosmology/core.py
  astropy/units/tests/test_equivalencies.py
  docs/units/equivalencies.rst
  docs/whatsnew/3.1.rst
Labels: cosmology, whatsnew-needed

#8125 Unpin asdf now that 2.1.2 is released with bug fix
  .travis.yml
Labels: no-changelog-entry-needed, testing

#8128 Update status of units to mature.
  docs/stability.rst
Labels: Docs, no-changelog-entry-needed, units

#8119 deprecate representation
  CHANGES.rst
  astropy/coordinates/baseframe.py
  astropy/wcs/wcsapi/tests/test_fitswcs.py
Labels: coordinates

#8129 MNT: Set C-ext language level
  astropy/stats/_stats.pyx
Labels: Affects-dev, stats

#8143 TST: Skip test if no YAML
  astropy/time/tests/test_mask.py
  docs/install.rst
Labels: no-changelog-entry-needed, table, testing

#8135 Fix docstrings for units in nduncertainty
  astropy/nddata/nduncertainty.py
Labels: Docs, nddata, no-changelog-entry-needed

#8137 Fix convolve_fft for masked input
  CHANGES.rst
  astropy/convolution/convolve.py
  astropy/convolution/tests/test_convolve_fft.py
Labels: Bug, convolution

#8149 Fix precision issue in test_arithmetic_overload_ccddata_operand
  astropy/nddata/tests/test_ccddata.py
Labels: nddata, no-changelog-entry-needed, testing

#8156 Address install inconsistencies between documentation and pip requirements
  docs/install.rst
  pip-requirements
  pip-requirements-dev
Labels: Docs, installation, no-changelog-entry-needed

#8160 TST: Skip segfault test case instead of xfail
  astropy/tests/test_logger.py
Labels: logging, no-changelog-entry-needed, testing, ¯\_(ツ)_/¯

#8158 TST: Fix MarkInfo object in pytest 4
  astropy/nddata/tests/test_ccddata.py
Labels: nddata, no-changelog-entry-needed, testing

#8164 Move #7942 change log to correct section
  CHANGES.rst
Labels: Docs, skip-changelog-checks, units

#8152 Remove function side-effetcs of input data from convolve_fft
  CHANGES.rst
  astropy/convolution/convolve.py
  astropy/convolution/tests/test_convolve.py
  astropy/convolution/tests/test_convolve_fft.py
Labels: convolution

#8171 Minor fixes to changelog so that it parses correctly with an rst reader
  CHANGES.rst
Labels: merge-when-ci-passes, no-changelog-entry-needed

#8166 Optimize import time for fitsheader (and other fits scripts)
  astropy/io/fits/convenience.py
Labels: Performance, io.fits, no-changelog-entry-needed

#8173 Limit pytest version for LTS
  .travis.yml
  CHANGES.rst
  appveyor.yml
  docs/install.rst
  setup.py
Labels: installation, merge-when-ci-passes, testing

#8140 Fix deprecationwarnings issued by old uses of the representation= kwarg in coordinates
  astropy/coordinates/baseframe.py
  astropy/coordinates/sky_coordinate.py
  astropy/coordinates/sky_coordinate_parsers.py
  astropy/coordinates/tests/conftest.py
  astropy/coordinates/tests/test_api_ape5.py
  astropy/coordinates/tests/test_frames.py
  astropy/coordinates/tests/test_frames_with_velocity.py
  astropy/coordinates/tests/test_intermediate_transformations.py
  astropy/coordinates/tests/test_regression.py
  astropy/coordinates/tests/test_sky_coord.py
  astropy/coordinates/tests/test_skyoffset_transformations.py
  astropy/io/ascii/tests/test_ecsv.py
  astropy/io/fits/tests/test_connect.py
  astropy/io/misc/tests/test_hdf5.py
  astropy/table/tests/test_mixin.py
  astropy/table/tests/test_operations.py
Labels: Affects-dev, coordinates

#8108 Fix ``Moffat1D`` and ``Moffat2D`` derivatives. [#8094]
  CHANGES.rst
  astropy/modeling/functional_models.py
Labels: Bug, modeling

#8174 Updating bundled pytest-remotedata to v0.3.1
  CHANGES.rst
  astropy/extern/plugins/pytest_remotedata/plugin.py
Labels: testing

#8175 Updating bundled pytest-doctestplus to v0.2.0
  CHANGES.rst
  astropy/extern/plugins/pytest_doctestplus/output_checker.py
  astropy/extern/plugins/pytest_doctestplus/plugin.py
Labels: testing

#8176 Updating bundled pytest-openfiles to v0.3.0
  CHANGES.rst
  astropy/extern/plugins/pytest_openfiles/plugin.py
Labels: testing

#8178 Adding new ``warning_type`` argument for the deprecating decorators
  CHANGES.rst
  astropy/utils/decorators.py
  astropy/utils/tests/test_decorators.py
Labels: utils

#8187 Update version requirement for pytest in v2.0.x
  setup.py
Labels: no-changelog-entry-needed

#8189 Fix CircleCi 32-bit Python 2.7 build for v2.0.x
  .circleci/config.yml
Labels: no-changelog-entry-needed, testing, ¯\_(ツ)_/¯

#8186 Added known issue about pytest issues
  docs/known_issues.rst
Labels: no-changelog-entry-needed

#8185 Correct CASA installation instructions
  docs/install.rst
Labels: CASA-Installation, Docs, installation, no-changelog-entry-needed

#8188 Explicitly disallow bad versions of pytest when using test runner
  .travis.yml
  CHANGES.rst
  appveyor.yml
  astropy/tests/runner.py
Labels: merge-when-ci-passes, testing

#8183 asdftypes is deprecated, use asdf.types
  .travis.yml
  astropy/io/misc/asdf/types.py
Labels: Affects-dev, io.misc.asdf, no-changelog-entry-needed
