Repository astropy/astropy, pull requests merged in 2018-06, with the labels that each got.

#7324 Changed defaults for KDTree to more suitable values
  CHANGES.rst
  astropy/coordinates/matching.py
  astropy/coordinates/tests/test_matching.py
Labels: Performance, coordinates, merge-when-ci-passes

#7524 Fix biweight test failure
  astropy/stats/tests/test_biweight.py
Labels: no-changelog-entry-needed, stats, testing

#7525 Add v3.0.4 and v2.0.8 to the changelog, and post release cleanup
  CHANGES.rst
Labels: Docs, no-changelog-entry-needed

#7535 Remove outdated PyPI release instruction
  docs/development/releasing.rst
Labels: Docs, Release, no-changelog-entry-needed

#7537 Remove implicit relative import from bundled configobj
  astropy/extern/configobj/configobj.py
Labels: Affects-release, Bug, Python3, config, external, merge-when-ci-passes, no-changelog-entry-needed

#7470 Code revision in diff.py
  CHANGES.rst
  astropy/io/fits/tests/test_diff.py
  astropy/utils/diff.py
  astropy/utils/tests/test_diff.py
Labels: Affects-dev, Bug, Refactoring, utils

#7544 Change biweight test to use nulp=5
  astropy/stats/tests/test_biweight.py
Labels: Affects-dev, no-changelog-entry-needed, stats, testing

#7540 Fix rename_duplicate to not require duplicates
  CHANGES.rst
  astropy/table/table.py
  astropy/table/tests/test_table.py
Labels: Affects-release, Bug, table

#7542 Fix convolve for non-float masked kernels
  CHANGES.rst
  astropy/convolution/convolve.py
  astropy/convolution/tests/test_convolve.py
Labels: Affects-release, Bug, convolution

#7548 Correct documentation for parallel= option to astropy.test()
  astropy/tests/command.py
  astropy/tests/runner.py
  docs/development/testguide.rst
Labels: Docs, merge-when-ci-passes, no-changelog-entry-needed, testing

#7541 Fix convolve for zero sum kernels
  CHANGES.rst
  astropy/convolution/convolve.py
  astropy/convolution/tests/test_convolve.py
Labels: Bug, convolution, merge-when-ci-passes

#7536 Add example on creating empty table and filling it
  docs/table/construct_table.rst
Labels: Docs, no-changelog-entry-needed, table

#7552 Fix Cutout2D NAXIS in cutout WCS
  CHANGES.rst
  astropy/nddata/tests/test_utils.py
  astropy/nddata/utils.py
Labels: Affects-release, Bug, nddata

#7549 Small speed-ups of sqrt and composite unit creation.
  CHANGES.rst
  astropy/units/core.py
  astropy/units/quantity_helper.py
  astropy/units/utils.py
Labels: Performance, units

#7556 Fix incorrect WCS after slicing or making image cutouts when WCS has SIP
  CHANGES.rst
  astropy/nddata/tests/test_utils.py
  astropy/nddata/utils.py
  astropy/wcs/tests/test_utils.py
  astropy/wcs/tests/test_wcs.py
  astropy/wcs/wcs.py
Labels: Affects-release, Bug, nddata, wcs

#7559 Disable coverage checking on CircleCI
  .circleci/config.yml
Labels: Ready-for-final-review, no-changelog-entry-needed, testing

#7561 Make convolve() accept Kernel as tuple
  CHANGES.rst
  astropy/convolution/convolve.py
  astropy/convolution/tests/test_convolve.py
Labels: Enhancement, convolution

#7538 Add ignore_hdus keyword to FITSDiff
  CHANGES.rst
  astropy/io/fits/diff.py
  astropy/io/fits/scripts/fitsdiff.py
  astropy/io/fits/tests/test_diff.py
  astropy/io/fits/tests/test_fitsdiff.py
Labels: io.fits, whatsnew-needed

#7501 Small refactoring of EarthLocation.from_geodetic.
  astropy/coordinates/earth.py
Labels: Refactoring, coordinates, no-changelog-entry-needed

#7563 Fix a typo in coordinates/angles.py
  astropy/coordinates/angles.py
Labels: Docs, no-changelog-entry-needed

#7578 TST: Disable exception capture for pytest-qt
  setup.cfg
Labels: logging, merge-when-ci-passes, no-changelog-entry-needed, testing

#7570 Add support for calling CoordinateHelper.set_separator(None)
  CHANGES.rst
  astropy/visualization/wcsaxes/coordinate_helpers.py
  astropy/visualization/wcsaxes/formatter_locator.py
  astropy/visualization/wcsaxes/tests/test_coordinate_helpers.py
Labels: Enhancement, Ready-for-final-review, visualization.wcsaxes

#7318 Improve formatting of decimal labels in WCSAxes
  CHANGES.rst
  astropy/visualization/wcsaxes/coordinate_helpers.py
  astropy/visualization/wcsaxes/formatter_locator.py
  astropy/visualization/wcsaxes/tests/test_display_world_coordinates.py
  astropy/visualization/wcsaxes/tests/test_formatter_locator.py
  astropy/visualization/wcsaxes/tests/test_images.py
  astropy/visualization/wcsaxes/tests/test_utils.py
  astropy/visualization/wcsaxes/utils.py
  docs/visualization/wcsaxes/controlling_axes.rst
Labels: Ready-for-final-review, visualization.wcsaxes

#7568 Improve contour performance in WCSAxes by 10-1000x
  CHANGES.rst
  astropy/visualization/wcsaxes/core.py
  astropy/visualization/wcsaxes/tests/test_images.py
  astropy/visualization/wcsaxes/utils.py
Labels: Performance, Ready-for-final-review, visualization.wcsaxes

#7580 Emit warning trying to read ECSV file without PyYAML
  CHANGES.rst
  astropy/io/ascii/ecsv.py
  astropy/io/ascii/tests/test_ecsv.py
  astropy/io/ascii/ui.py
Labels: Affects-release, Enhancement, io.ascii

#7575 TST: Fix parallel data download test
  astropy/utils/setup_package.py
  astropy/utils/tests/data/dataurl/index.html
  astropy/utils/tests/data/dataurl_mirror/index.html
  astropy/utils/tests/test_data.py
Labels: Bug, no-changelog-entry-needed, testing, utils

#7502 Wrap erfa functions with ufuncs and gufuncs
  .gitignore
  CHANGES.rst
  astropy/_erfa/core.c.templ
  astropy/_erfa/core.py.templ
  astropy/_erfa/erfa_additions.h
  astropy/_erfa/erfa_generator.py
  astropy/_erfa/pav2pv.c
  astropy/_erfa/pv2pav.c
  astropy/_erfa/setup_package.py
  astropy/_erfa/tests/test_erfa.py
  astropy/_erfa/ufunc.c.templ
  astropy/coordinates/builtin_frames/icrs_cirs_transforms.py
  astropy/coordinates/builtin_frames/utils.py
  astropy/coordinates/funcs.py
  astropy/coordinates/solar_system.py
  astropy/time/core.py
  astropy/time/formats.py
  docs/coordinates/frames.rst
Labels: Performance, Refactoring, coordinates, erfa, time

#7590 Added section in CONTRIBUTING.md about performance benchmarks
  CONTRIBUTING.md
Labels: Performance, Ready-for-final-review, no-changelog-entry-needed

#7588 Fix fits test needing write permission
  astropy/io/fits/tests/test_convenience.py
  astropy/io/fits/tests/test_core.py
Labels: io.fits, no-changelog-entry-needed, testing

#7560 Remove the ask for issue numbers for changelog entries
  CONTRIBUTING.md
  docs/development/workflow/development_workflow.rst
  docs/development/workflow/git_edit_workflow_examples.rst
Labels: Docs, no-changelog-entry-needed

#7478 Faster sigma clipping
  .travis.yml
  CHANGES.rst
  astropy/stats/sigma_clipping.py
  astropy/stats/tests/test_sigma_clipping.py
  docs/stats/index.rst
  docs/stats/robust.rst
Labels: Performance, Ready-for-final-review, stats

#7058 Numpy >= 1.13, matplotlib >=2.0 for astropy 3.1
  .circleci/config.yml
  .travis.yml
  CHANGES.rst
  astropy/__init__.py
  astropy/coordinates/angles.py
  astropy/coordinates/earth.py
  astropy/coordinates/representation.py
  astropy/io/fits/_numpy_hacks.py
  astropy/io/fits/column.py
  astropy/io/fits/hdu/table.py
  astropy/io/fits/tests/test_hdulist.py
  astropy/io/fits/tests/test_image.py
  astropy/io/fits/tests/test_util.py
  astropy/time/core.py
  astropy/units/function/core.py
  astropy/units/quantity.py
  astropy/units/quantity_helper.py
  astropy/units/tests/test_quantity_array_methods.py
  astropy/units/tests/test_quantity_ufuncs.py
  astropy/utils/compat/numpycompat.py
Labels: Refactoring, coordinates, io.fits, units, utils

#7585 Fixing tnull value bug in column insert. Closes #7555
  CHANGES.rst
  astropy/table/column.py
  astropy/table/tests/test_column.py
Labels: Affects-release, Bug, table

#7584 Let time operations return NotImplemented
  CHANGES.rst
  astropy/time/core.py
  astropy/time/tests/test_comparisons.py
  astropy/time/tests/test_quantity_interaction.py
Labels: Affects-release, Ready-for-final-review, Refactoring, time

#7577 Add `show_progress` option to `IERS.open`
  CHANGES.rst
  astropy/utils/data.py
Labels: utils

#7598 Added a --readonly option for python setup.py test
  .travis.yml
  CHANGES.rst
  appveyor.yml
  astropy/tests/command.py
  astropy/wcs/tests/extension/test_extension.py
Labels: Ready-for-final-review, testing
