Repository astropy/astropy, pull requests merged in 2018-12, with the labels that each got.

#8201 Printing the version of astropy_helpers of the package being tested
  astropy/tests/plugins/display.py
Labels: Bug, no-changelog-entry-needed, testing

#8193 Reenable doctests for known_issues.rst
  docs/known_issues.rst
Labels: Docs, no-changelog-entry-needed

#8163 BUG: Ignore mirror caching when no internet
  CHANGES.rst
  astropy/utils/data.py
  astropy/utils/tests/test_data.py
Labels: Affects-release, Bug, utils

#8219 Use defined minimum python version in install docs
  docs/conf.py
  docs/install.rst
Labels: Docs, no-changelog-entry-needed

#8217 Updating astropy_helpers to 2.0.8
  ah_bootstrap.py
Labels: astropy-helpers, merge-when-ci-passes, no-changelog-entry-needed

#8204 Add note of side-effect API change
  CHANGES.rst
Labels: Docs, coordinates

#8224 Adjust wording of coordinates what's new for 3.1
  docs/whatsnew/3.1.rst
Labels: Docs, coordinates, no-changelog-entry-needed

#8230 Add photometric API doc link
  docs/units/index.rst
Labels: Docs, no-changelog-entry-needed, units

#8232 Adding stats and contributors to whatsnew
  docs/whatsnew/3.1.rst
Labels: Docs, Release, no-changelog-entry-needed

#8222 Update stability section for 3.1
  docs/stability.rst
Labels: Docs, no-changelog-entry-needed

#8216 Output IPAC tables with float and int columns
  CHANGES.rst
  astropy/io/ascii/ipac.py
  astropy/io/ascii/tests/test_ipac_definitions.py
Labels: Enhancement, io.ascii

#8233 CircleCI: Add running 32-bit tests on Python 3.5 and 3.7
  .circleci/config.yml
Labels: platform-i386, testing

#8235 Add a config for isort
  setup.cfg
Labels: Refactoring, no-changelog-entry-needed

#8198 Declare optional dependencies in extras_require
  .circleci/config.yml
  .travis.yml
  CHANGES.rst
  docs/development/codeguide.rst
  docs/development/docguide.rst
  docs/development/releasing.rst
  docs/development/workflow/get_devel_version.rst
  docs/install.rst
  docs/nitpick-exceptions
  pip-requirements
  pip-requirements-dev
  pip-requirements-doc
  readthedocs.yml
  setup.cfg
  setup.py
Labels: Ready-for-final-review, testing

#8249 Add narrative doc links for major user-facing classes
  astropy/coordinates/sky_coordinate.py
  astropy/io/ascii/ui.py
  astropy/nddata/compat.py
  astropy/nddata/nddata.py
  astropy/nddata/nddata_base.py
  astropy/table/table.py
  astropy/time/core.py
  astropy/uncertainty/core.py
  astropy/units/core.py
  astropy/units/quantity.py
  astropy/wcs/wcs.py
  docs/development/docrules.rst
Labels: Docs, no-changelog-entry-needed

#8256 Fixing more names
  .mailmap
  docs/whatsnew/3.1.rst
Labels: Docs, Release, no-changelog-entry-needed

#8262 Bump required ASDF version in docs
  docs/install.rst
Labels: Docs, no-changelog-entry-needed

#8266 Remove unused import in astropy.uncertainty
  astropy/uncertainty/core.py
Labels: merge-when-ci-passes, no-changelog-entry-needed, uncertainty

#8268 Fix specification of dependencies for RTD build
  readthedocs.yml
Labels: Docs, merge-when-ci-passes, no-changelog-entry-needed

#8263 Fix bug with raising to a negative power.
  CHANGES.rst
  astropy/units/core.py
  astropy/units/tests/test_units.py
Labels: :fire:, Bug, units

#8261 Implement Table reader and writer for ASDF
  CHANGES.rst
  astropy/io/misc/asdf/__init__.py
  astropy/io/misc/asdf/connect.py
  astropy/io/misc/asdf/tests/__init__.py
  astropy/io/misc/asdf/tests/test_io.py
  astropy/table/__init__.py
Labels: io.misc.asdf, io.registry, table, whatsnew-needed

#8280 Removing verbose flag for circleCI runs
  .circleci/config.yml
Labels: no-changelog-entry-needed, testing

#8279 Fix error when writing out empty ASCII table
  CHANGES.rst
  astropy/io/ascii/cparser.pyx
  astropy/io/ascii/tests/test_write.py
Labels: Bug, io.ascii

#8278 Fix banner linking
  docs/index.rst
Labels: Docs, no-changelog-entry-needed

#8283 Fix fast reader C tokenizer to handle doubled quotes in quoted field
  CHANGES.rst
  astropy/io/ascii/src/tokenizer.c
  astropy/io/ascii/src/tokenizer.h
  astropy/io/ascii/tests/test_c_reader.py
Labels: Bug, io.ascii

#8247 Improve Table to/from pandas
  CHANGES.rst
  astropy/table/table.py
  astropy/table/tests/test_table.py
  astropy/time/formats.py
Labels: Enhancement, Ready-for-final-review, table

#8295 Print filenames in report for fitsdiff --ignore-hdus
  CHANGES.rst
  astropy/io/fits/diff.py
  astropy/io/fits/tests/test_fitsdiff.py
Labels: Affects-release, Bug, io.fits

#8292 Fix with_H0/little-h equivalency
  CHANGES.rst
  astropy/units/equivalencies.py
  astropy/units/tests/test_equivalencies.py
  docs/units/equivalencies.rst
  docs/whatsnew/3.1.rst
Labels: :fire:, Affects-release, Bug, merge-when-ci-passes, units

#8286 Implement serialization of EarthLocation in ASDF
  CHANGES.rst
  astropy/io/misc/asdf/extension.py
  astropy/io/misc/asdf/schemas/astropy.org/astropy/coordinates/earthlocation-1.0.0.yaml
  astropy/io/misc/asdf/tags/coordinates/earthlocation.py
  astropy/io/misc/asdf/tags/coordinates/tests/test_earthlocation.py
Labels: Enhancement, io.misc.asdf

#8294 Refer to required version of ASDF in a consistent way
  astropy/__init__.py
  astropy/conftest.py
  astropy/io/misc/asdf/tags/coordinates/tests/test_angle.py
  astropy/io/misc/asdf/tags/coordinates/tests/test_frames.py
  astropy/io/misc/asdf/tags/coordinates/tests/test_representation.py
  astropy/io/misc/asdf/tags/fits/tests/test_fits.py
  astropy/io/misc/asdf/tags/table/tests/test_table.py
  astropy/io/misc/asdf/tags/time/tests/test_time.py
  astropy/io/misc/asdf/tags/transform/tests/test_transform.py
  astropy/io/misc/asdf/tags/unit/tests/test_quantity.py
  astropy/io/misc/asdf/tags/unit/tests/test_unit.py
  astropy/io/misc/asdf/tests/test_io.py
Labels: io.misc.asdf, no-changelog-entry-needed, testing

#8282 Fix a bug in `io.fits` with fortran-ordered arrays in python3
  CHANGES.rst
  astropy/io/fits/tests/test_image.py
  astropy/io/fits/util.py
Labels: :fire:, Affects-release, Bug, io.fits

#8080 TST: Bump Python to 3.7 for some jobs
  .travis.yml
  appveyor.yml
Labels: merge-when-ci-passes, no-changelog-entry-needed, testing

#8033 TST: Mark coordinates tests as requiring remote data
  astropy/coordinates/tests/accuracy/test_altaz_icrs.py
  astropy/coordinates/tests/test_celestial_transformations.py
  astropy/coordinates/tests/test_finite_difference_velocities.py
  astropy/coordinates/tests/test_frames.py
  astropy/coordinates/tests/test_iau_fullstack.py
  astropy/coordinates/tests/test_intermediate_transformations.py
  astropy/coordinates/tests/test_regression.py
  astropy/coordinates/tests/test_representation.py
  astropy/coordinates/tests/test_shape_manipulation.py
  astropy/coordinates/tests/test_sky_coord.py
  astropy/coordinates/tests/test_skyoffset_transformations.py
  astropy/coordinates/tests/test_solar_system.py
  astropy/coordinates/tests/test_transformations.py
  astropy/coordinates/tests/test_unit_representation.py
  astropy/coordinates/tests/test_velocity_corrs.py
  docs/coordinates/frames.rst
  docs/coordinates/performance.inc.rst
  docs/coordinates/velocities.rst
Labels: coordinates, no-changelog-entry-needed, testing

#8302 Delay bleach import to save time
  astropy/io/ascii/tests/test_html.py
  astropy/table/tests/test_jsviewer.py
  astropy/utils/tests/test_xml.py
  astropy/utils/xml/writer.py
Labels: Performance, merge-when-ci-passes, no-changelog-entry-needed, table, utils

#8264 Ensure we support the new matmul ufunc in numpy 1.16.
  CHANGES.rst
  astropy/units/quantity.py
  astropy/units/quantity_helper/helpers.py
  astropy/units/tests/test_quantity.py
  astropy/units/tests/test_quantity_ufuncs.py
  astropy/utils/compat/numpycompat.py
Labels: merge-when-ci-passes, numpy-dev, units

#8308 Introduce IERS_A_URL_MIRROR for when IERS_A_URL is down
  CHANGES.rst
  astropy/utils/iers/iers.py
  astropy/utils/iers/tests/test_iers.py
  docs/utils/iers.rst
Labels: :fire:, merge-when-ci-passes, utils

#8287 Update magnitude docs
  astropy/units/photometric.py
  docs/units/index.rst
  docs/units/logarithmic_units.rst
Labels: Docs, Ready-for-final-review, no-changelog-entry-needed, units

#8314 Remove a few uses of six
  astropy/io/misc/asdf/types.py
  astropy/tests/helper.py
  docs/io/registry.rst
  docs/table/construct_table.rst
Labels: no-changelog-entry-needed

#8309 Use numpy 1.16 fixed gufunc dimensions in erfa.
  astropy/_erfa/core.py.templ
  astropy/_erfa/erfa_generator.py
  astropy/_erfa/tests/test_erfa.py
  astropy/_erfa/ufunc.c.templ
Labels: Performance, erfa, no-changelog-entry-needed, numpy-dev

#8305 2.0.x: Add support for matmul as a ufunc (new in numpy 1.16).
  CHANGES.rst
  astropy/units/quantity.py
  astropy/units/quantity_helper.py
  astropy/units/tests/test_quantity_ufuncs.py
  astropy/utils/compat/numpycompat.py
Labels: numpy-dev, units

#8319 Fix circleci config for LTS
  .circleci/config.yml
  docs/nitpick-exceptions
  pip-requirements
  pip-requirements-doc
Labels: merge-when-ci-passes, no-changelog-entry-needed, testing

#8258 Remove edit on github option
  docs/conf.py
Labels: Docs, no-changelog-entry-needed

#8293 Include highly visible message about acknowledgement in core docs
  docs/index.rst
Labels: Docs, no-changelog-entry-needed

#8289 Remove py2/py3 commentary in the dev build docs
  docs/development/workflow/development_workflow.rst
Labels: Docs, no-changelog-entry-needed
