Repository astropy/astropy, pull requests merged in 2019-03, with the labels that each got.

#8467 Fix Typo
  examples/coordinates/plot_sgr-coordinate-frame.py
Labels: Docs, no-changelog-entry-needed

#8463 Make transform graph docs non-astropy specific
  astropy/coordinates/builtin_frames/__init__.py
Labels: Docs, coordinates, no-changelog-entry-needed

#8469 remove unused import of copy
  astropy/units/equivalencies.py
Labels: no-changelog-entry-needed, units

#8473 TST: Move linkcheck to cron
  .circleci/config.yml
  .travis.yml
  astropy/io/misc/asdf/__init__.py
  docs/conf.py
  docs/io/fits/appendix/header_transition.rst
  docs/io/fits/appendix/history.rst
  docs/table/construct_table.rst
  docs/whatsnew/1.2.rst
Labels: :fire:, Docs, no-changelog-entry-needed, testing

#8450 Make sure the QuantityAttribute default doesn't default to None
  CHANGES.rst
  astropy/coordinates/attributes.py
  astropy/coordinates/tests/test_regression.py
Labels: coordinates, merge-when-ci-passes

#8339 Set ncp_prior correctly in Bayesian Blocks
  CHANGES.rst
  astropy/stats/bayesian_blocks.py
  astropy/stats/tests/test_bayesian_blocks.py
Labels: Affects-release, Bug, stats

#8481 Remove two instances where Py3 was described as special case
  docs/units/quantity.rst
Labels: Docs, no-changelog-entry-needed, units

#8484 Fix ASDF schema test location in setup.cfg
  setup.cfg
Labels: merge-when-ci-passes, no-changelog-entry-needed, testing

#8489 Remove remainder of astropy.tests.plugins.config plugin
  CHANGES.rst
  astropy/tests/plugins/config.py
  astropy/tests/runner.py
  conftest.py
Labels: Refactoring, testing

#8358 Block repr in format when VOTable is converted to Table
  CHANGES.rst
  astropy/io/votable/tests/table_test.py
  astropy/io/votable/tree.py
Labels: Affects-release, Bug, io.ascii

#8499 [Temp fix] Pin PyYAML<5.1 until we fix the tests
  .travis.yml
  setup.cfg
Labels: no-changelog-entry-needed, testing

#8404 Make table meta do shallow copy by default
  CHANGES.rst
  astropy/table/column.py
  astropy/table/table.py
  astropy/table/tests/test_table.py
Labels: Performance, table, whatsnew-needed

#8494 Improve table Row and len() speed
  CHANGES.rst
  astropy/table/row.py
  astropy/table/table.py
Labels: Performance, new benchmark, table

#8251 Fix numerical power parsing for FITS-compatible units
  CHANGES.rst
  astropy/units/format/generic.py
  astropy/units/format/generic_parsetab.py
  astropy/units/tests/test_format.py
Labels: Bug, units

#8493 Improve table slice performance by managing col.info better
  CHANGES.rst
  astropy/table/table.py
Labels: Performance, Ready-for-final-review, table

#8500 Set YAML default_flow_style=None for consistent output with PyYAML version 5.1+
  .travis.yml
  CHANGES.rst
  astropy/io/misc/tests/test_hdf5.py
  astropy/io/misc/yaml.py
  astropy/table/meta.py
  setup.cfg
Labels: io.ascii, io.misc, testing

#8381 Add pandas backend support for Table read/write
  .travis.yml
  CHANGES.rst
  appveyor.yml
  astropy/io/misc/pandas/__init__.py
  astropy/io/misc/pandas/connect.py
  astropy/io/misc/tests/test_pandas.py
  astropy/table/__init__.py
  docs/install.rst
  docs/io/unified.rst
  setup.cfg
Labels: Enhancement, io.misc, io.registry, table, whatsnew-needed

#8512 Updated donor link
  README.rst
Labels: no-changelog-entry-needed

#8503 Ensure Time._advanced_index returns a Tuple
  astropy/time/core.py
Labels: no-changelog-entry-needed, time

#8478 Remove unused imports in io.fits
  astropy/io/fits/connect.py
  astropy/io/fits/scripts/fitscheck.py
  astropy/io/fits/tests/test_image.py
  astropy/io/fits/tests/test_table.py
Labels: io.fits, no-changelog-entry-needed

#8495 Update docstring of "blackbody.py" to add contrasting examples
  astropy/modeling/blackbody.py
Labels: Docs, Enhancement, merge-when-ci-passes, modeling, no-changelog-entry-needed

#8491 Docs: Catalog match indexing
  docs/coordinates/matchsep.rst
Labels: Bug, Docs, coordinates, no-changelog-entry-needed

#8412 Removal of doctest SKIP in matchsep.rst
  docs/coordinates/matchsep.rst
Labels: Docs, coordinates, no-changelog-entry-needed, testing

#8534 Provide default for uncertainty type keyword to ensure pre-3.1 files can be read
  CHANGES.rst
  astropy/nddata/ccddata.py
  astropy/nddata/tests/test_ccddata.py
Labels: Affects-release, Bug, merge-when-ci-passes, nddata
