Repository astropy/astropy, pull requests merged in 2019-02, with the labels that each got.

#8396 Fix a bug in the compoundmodel docs
  docs/modeling/compound-models.rst
Labels: Docs, modeling, no-changelog-entry-needed

#8384 Updating comments to clarify astropy.wcs examples in documentation
  docs/wcs/examples/from_file.py
  docs/wcs/examples/programmatic.py
Labels: Docs, no-changelog-entry-needed, wcs

#8393 Fix default quantize method in CompImageHDU docstring
  astropy/io/fits/hdu/compressed.py
Labels: Docs, io.fits, no-changelog-entry-needed

#8397 Add Lomb-Scargle model inspection methods
  CHANGES.rst
  astropy/stats/lombscargle/core.py
  astropy/stats/lombscargle/implementations/main.py
  astropy/stats/lombscargle/implementations/utils.py
  astropy/stats/lombscargle/tests/test_lombscargle.py
  docs/stats/lombscargle.rst
Labels: Enhancement, stats, whatsnew-needed

#8401 Fix typo and remove unused imports
  astropy/visualization/hist.py
Labels: Docs, merge-when-ci-passes, no-changelog-entry-needed, stats

#8391 Fix elliptic analytical solution for comoving distance.
  CHANGES.rst
  astropy/cosmology/core.py
  astropy/cosmology/tests/test_cosmology.py
Labels: Bug, cosmology

#8417 TST: Display skimage version and fix cron job
  .travis.yml
  astropy/conftest.py
Labels: nddata, no-changelog-entry-needed, testing

#8253 added a sigma_clip_stats test with units
  astropy/stats/sigma_clipping.py
  astropy/stats/tests/test_sigma_clipping.py
Labels: no-changelog-entry-needed, stats

#8418 Remove unneeded calculation of the first axis size in sigma_clip
  astropy/stats/sigma_clipping.py
Labels: Performance, no-changelog-entry-needed, stats

#8385 Polishing up doc on development workflow
  docs/development/workflow/get_devel_version.rst
  docs/development/workflow/git_edit_workflow_examples.rst
Labels: Docs, installation, no-changelog-entry-needed

#7787 MNT: Remove cache dir config for pytest
  CHANGES.rst
  astropy/tests/plugins/config.py
Labels: Refactoring, testing

#8420 Fixed has_celestial and wcs_to_celestial_frame when celestial axes were correlated with other axes
  CHANGES.rst
  astropy/wcs/tests/test_utils.py
  astropy/wcs/utils.py
  astropy/wcs/wcs.py
  astropy/wcs/wcsapi/tests/test_fitswcs.py
Labels: Bug, wcs

#8425 bugfix: allow to retrieve function-units from Table/Column
  CHANGES.rst
  astropy/table/column.py
  astropy/table/tests/test_column.py
Labels: Bug, table, units

#8428 Optimize fits.Header parsing
  CHANGES.rst
  astropy/io/fits/card.py
  astropy/io/fits/header.py
Labels: Performance, io.fits

#8433 TST: Use match for pytest.warns
  astropy/io/fits/tests/test_connect.py
Labels: io.fits, no-changelog-entry-needed, testing

#8386 Linkcheck feature request
  .circleci/config.yml
  astropy/stats/info_theory.py
  astropy/units/format/latex.py
  astropy/utils/data_info.py
  docs/conf.py
  docs/development/docrules.rst
  docs/development/scripts.rst
  docs/development/testguide.rst
  docs/development/workflow/virtual_pythons.rst
  docs/install.rst
  docs/io/fits/appendix/faq.rst
  docs/io/fits/appendix/history.rst
  docs/io/unified.rst
  docs/table/construct_table.rst
  docs/table/indexing.rst
  docs/table/masking.rst
  docs/units/format.rst
  docs/visualization/wcsaxes/slicing_datacubes.rst
  docs/whatsnew/0.2.rst
  docs/whatsnew/0.3.rst
Labels: Docs, no-changelog-entry-needed, testing

#8435 Fixed a Typo in docs/visualization/normalization.rst
  docs/visualization/normalization.rst
Labels: Docs, merge-when-ci-passes, no-changelog-entry-needed, visualization

#8437 Use pip install for the allowed to fail dev build, too
  .travis.yml
Labels: merge-when-ci-passes, no-changelog-entry-needed, testing

#8434 Updating bundled pytest-openfiles to v0.3.2
  .travis.yml
  CHANGES.rst
  astropy/extern/plugins/pytest_openfiles/plugin.py
Labels: external, merge-when-ci-passes, testing

#8422 Bugfix: Passing the final row of a table into Table should return a new table containing that row
  CHANGES.rst
  astropy/table/row.py
  astropy/table/tests/test_table.py
Labels: Affects-release, Bug, table

#8402 Don't require astropy to be importable at setup.py time
  .circleci/config.yml
  astropy/__init__.py
  astropy/_erfa/__init__.py
  astropy/_erfa/erfa_generator.py
  astropy/_erfa/setup_package.py
  astropy/config/configuration.py
  astropy/convolution/__init__.py
  astropy/coordinates/earth.py
  astropy/wcs/__init__.py
  astropy/wcs/_docutil.py
  astropy/wcs/docstrings.py
  astropy/wcs/setup_package.py
  astropy/wcs/wcs.py
  setup.cfg
  setup.py
Labels: Refactoring, installation, no-changelog-entry-needed

#8439 Avoid ResourceWarning with io.fits tests
  astropy/io/fits/tests/test_hdulist.py
Labels: io.fits, no-changelog-entry-needed, testing

#8324 Add functionality to deprecate argument rather than rename
  CHANGES.rst
  astropy/utils/decorators.py
  astropy/utils/tests/test_decorators.py
Labels: Ready-for-final-review, utils

#8446 Minor: CASA should be --user installed
  docs/install.rst
Labels: Docs, installation, no-changelog-entry-needed

#6380 Add 'donate' badge to README and improve wording
  README.rst
Labels: Docs, Ready-for-final-review, closed-by-bot, keep-open, no-changelog-entry-needed

#8441 Expose ERFA exceptions through utils.exceptions
  CHANGES.rst
  astropy/_erfa/core.py.templ
  astropy/utils/exceptions.py
Labels: Refactoring, erfa, merge-when-ci-passes, utils

#8300 Have QuantityAttribute yield a useful error when default is used
  CHANGES.rst
  astropy/coordinates/attributes.py
  astropy/coordinates/tests/test_regression.py
  astropy/coordinates/transformations.py
Labels: Affects-release, Bug, coordinates, merge-when-ci-passes

#8447 Update MaskedColumn 'data_mask' serialization for performance
  CHANGES.rst
  astropy/io/ascii/tests/test_ecsv.py
  astropy/io/fits/tests/test_connect.py
  astropy/table/column.py
Labels: io.ascii, io.fits, table, unified-io

#8457 Add v2.0.13 and v3.1.3 to the changelog
  CHANGES.rst
Labels: Docs, merge-when-ci-passes, no-changelog-entry-needed, skip-changelog-checks

#8356 Let TimeDelta mul, div return NotImplemented if they cannot deal with other
  CHANGES.rst
  astropy/time/core.py
  astropy/time/tests/test_delta.py
  astropy/time/tests/test_quantity_interaction.py
Labels: Bug, merge-when-ci-passes, time

#8456 Fix import of assert_quantity_allclose in ASDF tags...
  CHANGES.rst
  astropy/io/misc/asdf/tags/coordinates/frames.py
  astropy/io/misc/asdf/tags/coordinates/representation.py
  astropy/io/misc/asdf/tags/transform/tabular.py
Labels: Bug, io.misc.asdf

#8460 Bugfix for issue 8458
  CHANGES.rst
  astropy/io/fits/column.py
  astropy/io/fits/tests/test_table.py
Labels: Bug, io.fits
