Repository astropy/astropy, pull requests merged in 2019-01, with the labels that each got.

#8322 Add v2.0.12 and v3.1.2 to the changelog
  CHANGES.rst
Labels: no-changelog-entry-needed, skip-changelog-checks

#8285 Implement serialization of TimeDelta in ASDF
  CHANGES.rst
  astropy/io/misc/asdf/extension.py
  astropy/io/misc/asdf/schemas/astropy.org/astropy/time/timedelta-1.0.0.yaml
  astropy/io/misc/asdf/tags/time/tests/test_timedelta.py
  astropy/io/misc/asdf/tags/time/timedelta.py
Labels: Enhancement, io.misc.asdf

#8321 Fixed a couple of small bugs in contour/contourf in WCSAxes
  CHANGES.rst
  astropy/visualization/wcsaxes/core.py
  astropy/visualization/wcsaxes/tests/test_misc.py
  astropy/visualization/wcsaxes/utils.py
Labels: Bug, visualization.wcsaxes

#8328 TST: Close FITS handlers properly in tests.
  astropy/io/fits/tests/test_hdulist.py
Labels: io.fits, no-changelog-entry-needed, testing

#8252 Provide a way of serialising units equivalencies to asdf
  CHANGES.rst
  astropy/io/misc/asdf/extension.py
  astropy/io/misc/asdf/schemas/astropy.org/astropy/units/equivalency-1.0.0.yaml
  astropy/io/misc/asdf/tags/unit/equivalency.py
  astropy/io/misc/asdf/tags/unit/tests/test_equivalency.py
  astropy/units/equivalencies.py
  astropy/units/tests/test_equivalencies.py
Labels: Ready-for-final-review, io.misc, units

#8332 TST: Control exactly how to/from_pandas doctest output would appear
  astropy/table/table.py
Labels: Docs, no-changelog-entry-needed, table, testing

#8336 thermodynamic_temperature equivalency doc fix
  CHANGES.rst
  astropy/units/equivalencies.py
Labels: Affects-release, Bug, Docs, skip-changelog-checks, units

#8284 Implement serialization of SkyCoord in ASDF
  CHANGES.rst
  astropy/io/misc/asdf/extension.py
  astropy/io/misc/asdf/schemas/astropy.org/astropy/coordinates/skycoord-1.0.0.yaml
  astropy/io/misc/asdf/tags/coordinates/skycoord.py
  astropy/io/misc/asdf/tags/coordinates/tests/test_skycoord.py
Labels: Enhancement, io.misc.asdf

#8323 MNT: Deprecate bundled six
  CHANGES.rst
  astropy/extern/six.py
Labels: Python2, Refactoring, external

#8341 added sep constraint example to docs #5865 [ci skip]
  docs/coordinates/matchsep.rst
Labels: Docs, coordinates, merge-when-ci-passes, no-changelog-entry-needed

#8240 Move a large chunk of the setup.py configuration to setup.cfg
  .circleci/config.yml
  CHANGES.rst
  docs/development/releasing.rst
  setup.cfg
  setup.py
Labels: Refactoring, installation

#8344 Remove redundant Python version check
  setup.py
Labels: installation, no-changelog-entry-needed

#7786 MNT: Remove deprecated pytest_plugins
  CHANGES.rst
  astropy/tests/pytest_plugins.py
Labels: Refactoring, merge-when-ci-passes, testing

#8352 TST: Fix viz test failure due to MPL error refactoring
  astropy/visualization/tests/test_units.py
Labels: no-changelog-entry-needed, testing, visualization

#8346 Fix make.bat clean command for documentation
  CHANGES.rst
  docs/make.bat
Labels: Bug, Docs, Ready-for-final-review

#8351 TST: Fix doctest of to/from_pandas
  astropy/table/table.py
Labels: Mac OSX, no-changelog-entry-needed, table, testing

#8349 Fix massive slowness in compound models using many multidimensional constituent models
  CHANGES.rst
  astropy/modeling/utils.py
Labels: Performance, modeling

#8361 Remove doctest that raises exception in plot example
  docs/units/quantity.rst
Labels: no-changelog-entry-needed, testing, units

#8359 Change reference to QTable within from_pandas
  astropy/table/table.py
Labels: Docs, merge-when-ci-passes, no-changelog-entry-needed, table

#8313 Allow more options in Quantity LaTeX formatting
  CHANGES.rst
  astropy/units/quantity.py
  astropy/units/tests/test_quantity.py
Labels: units

#8353 Bugfix for issue 8348
  CHANGES.rst
  astropy/io/fits/column.py
  astropy/io/fits/tests/test_table.py
Labels: Bug, io.fits

#8370 Revert removal of mean, std, and var methods on Quantity.
  CHANGES.rst
  astropy/coordinates/tests/test_angles.py
  astropy/units/function/core.py
  astropy/units/quantity.py
Labels: Bug, units

#8355 Speed up time calculations a tiny bit using faster test.
  astropy/time/utils.py
Labels: Performance, no-changelog-entry-needed, time

#8380 Doc updates related to pandas and unicode
  docs/io/ascii/index.rst
  docs/io/ascii/read.rst
Labels: Docs, io.ascii, no-changelog-entry-needed

#8383 Add robots.txt to docs
  docs/conf.py
  docs/robots.txt
Labels: Docs, no-changelog-entry-needed
