Repository astropy/astropy, pull requests merged in 2019-12, with the labels that each got.

#9706 fix test leaving open file behind
  astropy/io/misc/asdf/tags/transform/tests/test_transform.py
Labels: Affects-dev, merge-when-ci-passes, testing

#9675 MNT: Remove CITATION symlink
  CITATION
Labels: Docs, installation, no-changelog-entry-needed

#9693 Fix bugs in SlicedLowLevelWCS with 1D WCSes
  CHANGES.rst
  astropy/wcs/wcsapi/sliced_low_level_wcs.py
  astropy/wcs/wcsapi/tests/test_sliced_low_level_wcs.py
Labels: Affects-release, Bug, merge-when-ci-passes, wcs, wcs.wcsapi

#9581 What's new sections for v4.0
  docs/modeling/blackbody_deprecated.rst
  docs/modeling/physical_models.rst
  docs/whatsnew/4.0.rst
Labels: Docs, merge-when-ci-passes, no-changelog-entry-needed

#9652 Make bz2 import optional for `io.fits`
  astropy/io/fits/file.py
  astropy/io/fits/hdu/hdulist.py
  astropy/io/fits/tests/test_core.py
  docs/io/fits/index.rst
Labels: Bug, io.fits, no-changelog-entry-needed

#9672 Fixes for some of the problems uncovered on ARM bigendian/quad precision
  astropy/time/tests/test_basic.py
  astropy/time/tests/test_custom_formats.py
  astropy/units/tests/test_quantity_ufuncs.py
  astropy/wcs/tests/test_wcs.py
Labels: Bug, no-changelog-entry-needed, testing, time, units, wcs

#9710 TST: Use context manager in asdf test
  astropy/io/misc/asdf/tags/transform/tests/test_transform.py
Labels: io.misc, io.misc.asdf, no-changelog-entry-needed, testing

#9723 Fix how data is fetched in timeseries examples
  docs/timeseries/io.rst
Labels: Bug, Docs, no-changelog-entry-needed, testing, timeseries

#9708 Priors and posteriors should be Parameter attributes
  CHANGES.rst
  astropy/modeling/parameters.py
  astropy/modeling/tests/test_constraints.py
Labels: modeling

#9707 Tabular1d inverse flags
  astropy/modeling/tabular.py
  astropy/modeling/tests/test_models.py
Labels: Affects-dev, modeling

#9669 Fix bug in locking mechanism
  astropy/utils/data.py
  astropy/utils/tests/test_data.py
Labels: Affects-dev, Bug, utils

#9724 Ignore Matplotlib deprecation warning in conftest.py
  astropy/conftest.py
Labels: no-changelog-entry-needed, testing

#9712 Allow table row to interact like a dict, e.g., making it splattable
  CHANGES.rst
  astropy/table/row.py
  astropy/table/tests/test_row.py
Labels: Enhancement, table

#9717 Fix setting of model constraints
  astropy/modeling/core.py
  astropy/modeling/tests/test_constraints.py
  astropy/modeling/utils.py
Labels: Affects-dev, modeling

#9703 Fix bug in temporary path setting (was: Clear up cache-related warnings on Windows)
  astropy/config/paths.py
  astropy/config/tests/test_configs.py
  astropy/utils/tests/test_data.py
  setup.cfg
Labels: Affects-dev, Bug, config, no-changelog-entry-needed, utils

#9733 DOC: Clarify IAU year inconsistencies
  astropy/constants/iau2012.py
  astropy/constants/iau2015.py
Labels: Docs, constants, no-changelog-entry-needed

#9734 Update bundled erfa sources to 1.7
  CHANGES.rst
  cextern/erfa/erfadatextra.c
  cextern/erfa/erfadatextra.h
  cextern/erfa/erfaextra.h
  cextern/erfa/erfaversion.c
Labels: erfa

#9727 Remove our fork of the numpydoc instructions in favor of the official page
  CONTRIBUTING.md
  docs/development/docguide.rst
  docs/development/docrules.rst
  docs/development/workflow/development_workflow.rst
Labels: Docs, Refactoring, no-changelog-entry-needed

#9738 Changed OverflowError condition of fast ascii converter to >= |HUGE_VAL|
  astropy/io/ascii/src/tokenizer.c
Labels: io.ascii, no-changelog-entry-needed

#9739 Change ascii.read with converters and names both specified
  CHANGES.rst
  astropy/io/ascii/core.py
  astropy/io/ascii/tests/test_read.py
  astropy/utils/iers/iers.py
Labels: API change, io.ascii

#9753 MNT: Fix broken Sphinx doc links
  docs/development/docguide.rst
  docs/install.rst
Labels: Bug, Docs, no-changelog-entry-needed

#9751 Small correction in doc
  docs/io/fits/usage/headers.rst
Labels: Docs, io.fits, merge-when-ci-passes, no-changelog-entry-needed

#9755 MNT: Remove unused datasets from wcsaxes tests
  astropy/visualization/wcsaxes/tests/datasets.py
  astropy/visualization/wcsaxes/tests/test_images.py
Labels: no-changelog-entry-needed, testing, visualization, visualization.wcsaxes

#9758 TST: Ignore RuntimeWarning in MIPS
  astropy/time/tests/test_mask.py
Labels: no-changelog-entry-needed, platform-mips, testing, time

#9757 Adding the flake8 comment to the PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Docs, no-changelog-entry-needed

#9756 Add bullet point to code style guide to discourage automatic code formatters and encourage PEP 8 check
  docs/development/codeguide.rst
Labels: Docs, no-changelog-entry-needed

#9761 Change import Exception for missing bz2/lzma to ModuleNotFoundError
  CHANGES.rst
  astropy/utils/data.py
  astropy/utils/tests/test_data.py
Labels: API change, merge-when-ci-passes, utils

#9776 TST: Temporarily skip non-deterministic failure
  astropy/utils/tests/test_data.py
Labels: Priority-High, merge-when-ci-passes, no-changelog-entry-needed, testing, utils, ¯\_(ツ)_/¯

#9741 Stats updates for 4.0
  .mailmap
  docs/stability.rst
  docs/uncertainty/index.rst
  docs/whatsnew/4.0.rst
Labels: Docs, Last-before-release, no-changelog-entry-needed

#9772 Flake8 compliance --ignore=W503,E402,E721,E731
  astropy/time/__init__.py
  astropy/time/core.py
  astropy/time/formats.py
  astropy/time/tests/test_basic.py
  astropy/time/tests/test_comparisons.py
  astropy/time/tests/test_corrs.py
  astropy/time/tests/test_delta.py
  astropy/time/tests/test_methods.py
  astropy/time/tests/test_precision.py
  astropy/time/tests/test_quantity_interaction.py
  astropy/time/tests/test_sidereal.py
  astropy/time/tests/test_update_leap_seconds.py
Labels: no-changelog-entry-needed, time

#9791 Clarify wording about location of sun in Galactocentric example
  examples/coordinates/plot_galactocentric-frame.py
Labels: Docs, coordinates, no-changelog-entry-needed

#9731 Get --debug flag from sys.argv instead of using an astropy helpers routine
  astropy/io/fits/setup_package.py
  astropy/wcs/setup_package.py
Labels: Ready-for-final-review, Refactoring, astropy-helpers-removal, no-changelog-entry-needed

#9729 Declare all package data in setup.cfg instead of in setup_package.py files
  astropy/setup_package.py
  astropy/tests/setup_package.py
  astropy/wcs/setup_package.py
  setup.cfg
Labels: Ready-for-final-review, Refactoring, astropy-helpers-removal, merge-when-ci-passes, no-changelog-entry-needed, wcs

#9787 Add torr unit
  CHANGES.rst
  astropy/units/astrophys.py
Labels: units

#9800 Fix doctest race condition
  .circleci/config.yml
  docs/io/ascii/index.rst
Labels: Bug, io.ascii, no-changelog-entry-needed

#9803 Use asdf pytest plugin automatically
  conftest.py
  setup.cfg
Labels: Ready-for-final-review, io.misc.asdf, no-changelog-entry-needed, testing

#9793 Improve performance of rotation_matrix for common angle units
  astropy/coordinates/matrix_utilities.py
Labels: Performance, coordinates, no-changelog-entry-needed

#9711 Create Header instance when _BasicHeader fails
  CHANGES.rst
  astropy/io/fits/hdu/base.py
  astropy/io/fits/scripts/fitsdiff.py
  astropy/io/fits/tests/data/invalid/group_invalid.fits
  astropy/io/fits/tests/test_groups.py
Labels: Affects-release, Bug, io.fits

#9730 Use environment variables to select system libraries
  CHANGES.rst
  astropy/_erfa/setup_package.py
  astropy/io/fits/setup_package.py
  astropy/utils/xml/setup_package.py
  astropy/wcs/setup_package.py
  docs/install.rst
Labels: Ready-for-final-review, Refactoring, astropy-helpers-removal, io.fits, utils, wcs

#9808 DOC: Release instructions formatting
  docs/development/releasing.rst
Labels: Docs, merge-when-ci-passes, no-changelog-entry-needed

#9767 TST: Ignore remaining matplotlib warnings on Debian
  astropy/visualization/wcsaxes/tests/test_misc.py
  setup.cfg
Labels: Ready-for-final-review, no-changelog-entry-needed, testing, visualization, visualization.wcsaxes

#9798 Fix start of What's new in v4.0
  docs/whatsnew/4.0.rst
Labels: Docs, Ready-for-final-review, no-changelog-entry-needed

#9615 Switch from python 3.8-dev to regular 3.8
  .travis.yml
Labels: merge-when-ci-passes, no-changelog-entry-needed, testing

#9779 Add mass-energy equivalency docs
  docs/units/equivalencies.rst
Labels: Docs, merge-when-ci-passes, no-changelog-entry-needed, units

#9806 Skip asdf tests if entry points are not installed
  astropy/io/misc/asdf/tags/coordinates/tests/__init__.py
  astropy/io/misc/asdf/tags/fits/tests/__init__.py
  astropy/io/misc/asdf/tags/table/tests/__init__.py
  astropy/io/misc/asdf/tags/time/tests/__init__.py
  astropy/io/misc/asdf/tags/transform/tests/__init__.py
  astropy/io/misc/asdf/tags/unit/tests/__init__.py
  astropy/io/misc/asdf/tests/__init__.py
Labels: io.misc, io.misc.asdf, no-changelog-entry-needed, testing

#9789 Changelog and what's new cleanup after v4.0
  CHANGES.rst
  docs/credits.rst
  docs/index.rst
  docs/whatsnew/4.0.rst
  docs/whatsnew/4.1.rst
  docs/whatsnew/index.rst
Labels: no-changelog-entry-needed

#9759 Add pep8speaks configuration file
  .pep8speaks.yml
Labels: Enhancement, no-changelog-entry-needed, testing

#9820 minor docstring edits for reStructuredText (RST) validation
  astropy/cosmology/core.py
  astropy/io/ascii/html.py
  astropy/io/ascii/misc.py
  astropy/io/fits/tests/test_fitstime.py
  astropy/modeling/fitting.py
  astropy/modeling/utils.py
  astropy/timeseries/periodograms/bls/core.py
  astropy/timeseries/periodograms/lombscargle/implementations/utils.py
  astropy/utils/compat/misc.py
  astropy/utils/iers/iers.py
  astropy/wcs/utils.py
Labels: Docs, cosmology, io.ascii, io.fits, modeling, no-changelog-entry-needed, timeseries, utils, utils.iers, wcs
