Repository astropy/astropy, pull requests merged in 2019-06, with the labels that each got.

#8786 Fix sphinx 2.1 related docs failures
  docs/nddata/utils.rst
  docs/timeseries/bls.rst
  docs/units/logarithmic_units.rst
Labels: Docs, no-changelog-entry-needed

#8787 Update Matplotlib CI configuration and drop support for Matplotlib 2.0
  .circleci/config.yml
  .travis.yml
  CHANGES.rst
  setup.cfg
Labels: testing, visualization

#8791 Use Python 3.7 for Circle CI images for Matplotlib 3.x
  .circleci/config.yml
Labels: merge-when-ci-passes, no-changelog-entry-needed, testing

#8797 Copy editing: constants and convolution packages
  docs/constants/index.rst
  docs/constants/performance.inc.rst
  docs/convolution/index.rst
  docs/convolution/kernels.rst
  docs/convolution/non_normalized_kernels.rst
  docs/convolution/performance.inc.rst
  docs/convolution/using.rst
Labels: Docs, constants, convolution, no-changelog-entry-needed

#8794 Fixed using differentials with HCRS
  CHANGES.rst
  astropy/coordinates/builtin_frames/icrs_cirs_transforms.py
  astropy/coordinates/tests/test_celestial_transformations.py
Labels: Bug, coordinates

#8803 Minor fix for Python 3.8
  astropy/utils/timer.py
Labels: merge-when-ci-passes, no-changelog-entry-needed

#8807 Removing commented out API sections
  docs/nddata/utils.rst
  docs/units/logarithmic_units.rst
Labels: no-changelog-entry-needed

#8809 Limit sphinx version for LTS
  .circleci/config.yml
  .travis.yml
  docs/install.rst
  pip-requirements-doc
Labels: Docs, merge-when-ci-passes, no-changelog-entry-needed, testing

#8679 Highlevel wcs docstring tweak
  astropy/wcs/wcsapi/high_level_api.py
Labels: Affects-dev, Docs

#8805 Additions/cleanup for 3.2 whatsnew
  docs/whatsnew/3.2.rst
Labels: Docs, no-changelog-entry-needed

#8810 Adding numbers to whatsnew 3.2
  .mailmap
  docs/whatsnew/3.2.rst
Labels: Docs, no-changelog-entry-needed

#8817 Changelog and credit updates after v3.2
  CHANGES.rst
  docs/credits.rst
Labels: Docs, no-changelog-entry-needed

#8821 Adding new contributors for 3.1
  docs/credits.rst
Labels: Docs, no-changelog-entry-needed

#8823 Clarifying that changelog needs the PR number rather than issue
  docs/development/workflow/development_workflow.rst
Labels: Docs, no-changelog-entry-needed

#8824 changed name of remote from ``upstream`` to ``astropy``
  docs/development/workflow/development_workflow.rst
Labels: Docs, no-changelog-entry-needed

#8827 DOC: Use RTD v2 YAML and make dependencies configurable again
  .readthedocs.yml
  docs/rtd_requirements.txt
Labels: Docs, no-changelog-entry-needed

#8826 Fix problem creating MaskedColumn from list of MaskedArray
  CHANGES.rst
  astropy/table/column.py
  astropy/table/tests/test_column.py
Labels: Bug, table

#8828 DOC: Change astropy-tools to astropy-procedures, fix typo
  docs/development/releasing.rst
Labels: Docs, Release, no-changelog-entry-needed

#8815 Fix Moffat1D and Moffat2D FWHM
  CHANGES.rst
  astropy/modeling/functional_models.py
  astropy/modeling/tests/test_functional_models.py
Labels: Bug, merge-when-ci-passes, modeling

#8837 Move asdf schema_tester pytest plugin to top-level conftest.py
  astropy/conftest.py
  conftest.py
Labels: io.misc.asdf, merge-when-ci-passes, no-changelog-entry-needed, testing

#8840 Do not drop comments in Header.update
  CHANGES.rst
  astropy/io/fits/header.py
  astropy/io/fits/tests/test_header.py
Labels: io.fits

#8838 Avoid warning with keywords not provided by the user
  CHANGES.rst
  astropy/io/fits/hdu/table.py
  astropy/io/fits/tests/test_fitstime.py
Labels: io.fits

#8818 Let quantity_support also support Quantity subclasses
  CHANGES.rst
  astropy/visualization/tests/test_units.py
  astropy/visualization/units.py
Labels: Bug, visualization

#8843 Fix determination of current module in astropy.constants
  astropy/constants/__init__.py
  astropy/constants/astropyconst13.py
  astropy/constants/astropyconst20.py
Labels: constants, merge-when-ci-passes, no-changelog-entry-needed

#8846 Fixed residual relative import
  astropy/units/tests/test_quantity.py
Labels: merge-when-ci-passes, no-changelog-entry-needed, units

#8847 Unindent change log entry
  CHANGES.rst
Labels: Docs, merge-when-ci-passes, skip-changelog-checks

#8844 Fix quantity_support when multiple context managers are nested
  CHANGES.rst
  astropy/visualization/tests/test_units.py
  astropy/visualization/units.py
Labels: Bug, merge-when-ci-passes, units, visualization

#8811 Corrected the message to work with None values in world_axis_physical_types
  CHANGES.rst
  astropy/wcs/wcsapi/low_level_api.py
  astropy/wcs/wcsapi/tests/test_sliced_low_level_wcs.py
Labels: Bug, wcs, wcs.wcsapi

#8713 Open files in binary mode in `Header.fromfile`: fixes #8711
  CHANGES.rst
  astropy/io/fits/header.py
  astropy/io/fits/tests/test_header.py
  astropy/io/fits/util.py
Labels: io.fits, merge-when-ci-passes

#8848 Fix reading of empty BinTableHDU when stored in a gzip-compressed file
  CHANGES.rst
  astropy/io/fits/tests/test_table.py
  astropy/io/fits/util.py
Labels: Bug, io.fits

#8849 Numpy-dev problems: Quantity casting / offset_by
  CHANGES.rst
  astropy/coordinates/angle_utilities.py
  astropy/units/quantity.py
Labels: Bug, coordinates, merge-when-ci-passes, units

#8850 Cleanup changelog after v3.2.1 release
  CHANGES.rst
Labels: Docs, merge-when-ci-passes, no-changelog-entry-needed

#8517 Set constants version via ScienceState classes
  CHANGES.rst
  astropy/__init__.py
  astropy/constants/__init__.py
  astropy/constants/astropyconst13.py
  astropy/constants/astropyconst20.py
  astropy/constants/cgs.py
  astropy/constants/config.py
  astropy/constants/si.py
  astropy/constants/tests/test_prior_version.py
  astropy/constants/tests/test_sciencestate.py
  docs/constants/index.rst
  docs/units/constants_versions.rst
  docs/units/index.rst
Labels: constants, units, whatsnew-needed

#8782 Add a new ``time_support`` context manager for plotting times
  CHANGES.rst
  astropy/visualization/__init__.py
  astropy/visualization/tests/test_time.py
  astropy/visualization/time.py
  docs/units/quantity.rst
  docs/visualization/index.rst
  docs/visualization/matplotlib_integration.rst
Labels: Enhancement, Ready-for-final-review, time, visualization, whatsnew-needed

#8853 Fixes to io.ascii fast reader when used in multiprocessing 'spawn' mode
  CHANGES.rst
  astropy/io/ascii/cparser.pyx
  astropy/io/ascii/tests/test_c_reader.py
Labels: Bug, Ready-for-final-review, io.ascii

#8831 Copy editing: cosmology package
  docs/cosmology/index.rst
Labels: Docs, cosmology, no-changelog-entry-needed

#8869 Smarter rewriting of component names in Frame repr
  CHANGES.rst
  astropy/coordinates/baseframe.py
  astropy/coordinates/tests/test_frames.py
Labels: coordinates

#8875 Added codecov.yml and disable codecov comments
  codecov.yml
Labels: no-changelog-entry-needed, testing

#8808 Use __array_function__ to make most numpy functions work on Quantity
  CHANGES.rst
  astropy/modeling/projections.py
  astropy/units/quantity.py
  astropy/units/quantity_helper/__init__.py
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/tests/test_quantity.py
  astropy/units/tests/test_quantity_array_methods.py
  astropy/units/tests/test_quantity_non_ufuncs.py
  astropy/utils/compat/numpycompat.py
  docs/known_issues.rst
  docs/units/quantity.rst
  examples/coordinates/plot_obs-planning.py
Labels: Enhancement, numpy-dev, units, whatsnew-needed

#8872 Let Quantity only convert (unsigned) integer to float by default.
  CHANGES.rst
  astropy/units/quantity.py
  astropy/units/tests/test_quantity.py
Labels: Bug, units

#8878 MNT: Remove CONTACT and EMAIL from wcs
  astropy/wcs/setup_package.py
Labels: merge-when-ci-passes, no-changelog-entry-needed, wcs

#8754 TST: Get rid of time test warnings
  astropy/time/tests/test_basic.py
  astropy/time/tests/test_comparisons.py
  astropy/time/tests/test_corrs.py
  astropy/time/tests/test_delta.py
  astropy/time/tests/test_guess.py
  astropy/time/tests/test_mask.py
  astropy/time/tests/test_methods.py
  astropy/time/tests/test_pickle.py
  astropy/time/tests/test_precision.py
  astropy/time/tests/test_quantity_interaction.py
  astropy/time/tests/test_sidereal.py
  astropy/time/tests/test_ut1.py
  docs/time/index.rst
Labels: merge-when-ci-passes, no-changelog-entry-needed, testing, time

#8891 Removing numpy prerelease test
  .travis.yml
Labels: no-changelog-entry-needed, testing

#8889 Remove ccd_data fixture from nddata tests
  astropy/nddata/tests/test_ccddata.py
Labels: Refactoring, nddata, no-changelog-entry-needed, testing

#8896 Refactor: Remove __getattribute__ usages in favor of built-in getattr function
  astropy/nddata/tests/test_ccddata.py
Labels: Refactoring, nddata, no-changelog-entry-needed, testing

#8874 Reorganize code in WCSAxes to isolate WCS code in preparation of adding APE14 support
  astropy/visualization/wcsaxes/coordinate_helpers.py
  astropy/visualization/wcsaxes/coordinates_map.py
  astropy/visualization/wcsaxes/core.py
  astropy/visualization/wcsaxes/fitswcs.py
  astropy/visualization/wcsaxes/tests/test_fitswcs.py
  astropy/visualization/wcsaxes/tests/test_images.py
  astropy/visualization/wcsaxes/tests/test_misc.py
  astropy/visualization/wcsaxes/tests/test_transforms.py
  astropy/visualization/wcsaxes/tests/test_utils.py
  astropy/visualization/wcsaxes/transforms.py
  astropy/visualization/wcsaxes/utils.py
Labels: Ready-for-final-review, Refactoring, no-changelog-entry-needed, visualization.wcsaxes

#8895 Refactor: Avoid using random numbers or needlessly big arrays in test_ccddata
  astropy/nddata/tests/test_ccddata.py
Labels: Refactoring, nddata, no-changelog-entry-needed, testing

#8710 Fix votable warning on COOSYS
  astropy/io/votable/tree.py
Labels: Bug, io.votable, no-changelog-entry-needed

#8880 DOC: Remove deprecated example from equivalency
  docs/units/equivalencies.rst
Labels: Docs, no-changelog-entry-needed, units

#8789 Change behavior of Table regarding masked columns
  CHANGES.rst
  astropy/io/ascii/core.py
  astropy/io/ascii/tests/test_c_reader.py
  astropy/io/ascii/tests/test_ecsv.py
  astropy/io/ascii/tests/test_html.py
  astropy/io/ascii/tests/test_read.py
  astropy/io/fits/tests/test_connect.py
  astropy/io/misc/tests/test_hdf5.py
  astropy/table/table.py
  astropy/table/tests/test_masked.py
  astropy/table/tests/test_operations.py
  astropy/table/tests/test_table.py
  astropy/utils/iers/iers.py
  docs/table/masking.rst
Labels: API change, Ready-for-final-review, io.ascii, io.fits, io.misc, table, whatsnew-needed

#8904 Take into account units for comparisons between Column and Quantity
  CHANGES.rst
  astropy/table/column.py
  astropy/table/tests/test_column.py
Labels: Bug, table, units

#8784 Invalid TRPOS<n> keyword not generated for FITS time column
  CHANGES.rst
  astropy/io/fits/convenience.py
  astropy/io/fits/fitstime.py
  astropy/io/fits/tests/test_fitstime.py
  astropy/time/tests/test_mask.py
Labels: Bug, io.fits, time

#8909 Removed deprecated funcsigs and futures
  CHANGES.rst
  astropy/utils/compat/funcsigs.py
  astropy/utils/compat/futures/__init__.py
  setup.cfg
Labels: Python2, utils

#8913 Remove string literal to string conversion
  astropy/_erfa/erfa_generator.py
  astropy/config/tests/test_configs.py
  astropy/coordinates/tests/test_distance.py
  astropy/coordinates/tests/test_matching.py
  astropy/coordinates/tests/test_sky_coord.py
  astropy/coordinates/tests/test_sky_coord_velocities.py
  astropy/coordinates/tests/test_solar_system.py
  astropy/io/ascii/tests/test_read.py
  astropy/io/fits/tests/test_checksum.py
  astropy/io/fits/tests/test_connect.py
  astropy/io/fits/tests/test_core.py
  astropy/io/fits/tests/test_table.py
  astropy/io/misc/asdf/tags/fits/tests/test_fits.py
  astropy/io/misc/asdf/tags/table/tests/test_table.py
  astropy/io/tests/test_registry.py
  astropy/io/votable/tests/vo_test.py
  astropy/modeling/core.py
  astropy/modeling/setup_package.py
  astropy/table/tests/conftest.py
  astropy/table/tests/test_init_table.py
  astropy/table/tests/test_np_utils.py
  astropy/table/tests/test_pprint.py
  astropy/table/tests/test_row.py
  astropy/table/tests/test_table.py
  astropy/tests/plugins/display.py
  astropy/tests/test_logger.py
  astropy/utils/console.py
  astropy/utils/iers/tests/test_iers.py
  astropy/utils/introspection.py
  astropy/utils/tests/test_console.py
  astropy/utils/tests/test_data.py
  astropy/utils/tests/test_introspection.py
  astropy/utils/tests/test_misc.py
  astropy/wcs/setup_package.py
  astropy/wcs/tests/extension/setup.py
  astropy/wcs/tests/extension/test_extension.py
  astropy/wcs/tests/test_wcs.py
  astropy/wcs/wcs.py
Labels: Python2, Refactoring, no-changelog-entry-needed

#8912 Add __hash__ method to Time/TimeDelta
  CHANGES.rst
  astropy/time/core.py
  astropy/time/tests/test_basic.py
  docs/time/index.rst
Labels: Enhancement, Ready-for-final-review, time

#8910 Removed the deprecated astropy.utils.compat.numpy module
  CHANGES.rst
  astropy/utils/compat/numpy/__init__.py
  astropy/utils/compat/numpy/core/__init__.py
  astropy/utils/compat/numpy/core/multiarray.py
  astropy/utils/compat/numpy/lib/__init__.py
  astropy/utils/compat/numpy/lib/stride_tricks.py
  astropy/utils/compat/numpy/tests/__init__.py
  docs/development/codeguide.rst
  docs/utils/index.rst
  docs/utils/numpy.rst
Labels: Refactoring, utils

#8906 Only create unit from the columns unit if the to_string worked.
  CHANGES.rst
  astropy/io/fits/convenience.py
  astropy/io/fits/tests/test_convenience.py
Labels: Bug, io.fits, table

#8905 Refactor: Use explicit keyword argument instead of popping it of the catch-all kwargs
  astropy/table/connect.py
Labels: Refactoring, no-changelog-entry-needed, table

#8908 added STmag to fnu conversion example
  docs/coordinates/matchsep.rst
  docs/units/logarithmic_units.rst
Labels: Docs, coordinates, no-changelog-entry-needed, units

#8925 Add BITPIX=64 to doc
  docs/io/fits/usage/image.rst
Labels: Docs, io.fits, no-changelog-entry-needed

#8893 Fix crash loading WCS from headers with duplicate SIP keywords.
  CHANGES.rst
  astropy/wcs/wcs.py
Labels: Bug, wcs

#8926 TST: Skip cat test on Windows
  astropy/io/fits/tests/test_hdulist.py
Labels: Bug, io.fits, no-changelog-entry-needed, testing

#8882 Runtime warnings wcsaxes
  CHANGES.rst
  astropy/visualization/wcsaxes/coordinate_helpers.py
  astropy/visualization/wcsaxes/coordinate_range.py
  astropy/visualization/wcsaxes/frame.py
Labels: visualization.wcsaxes

#8890 Removing deprecated usecPickle kwarg
  CHANGES.rst
  astropy/io/misc/pickle_helpers.py
  astropy/io/misc/tests/test_pickle_helpers.py
Labels: Python2, io.misc

#8901 Fix edge-case bugs in overlap slices
  CHANGES.rst
  astropy/nddata/tests/test_utils.py
  astropy/nddata/utils.py
Labels: Affects-release, Bug, merge-when-ci-passes, nddata

#8902 Simplify and speed up Table replace_column()
  CHANGES.rst
  astropy/table/table.py
  astropy/table/tests/test_table.py
Labels: Performance, table

#8907 Correctly handle masking in add_row() after #8789
  astropy/table/table.py
  astropy/table/tests/test_masked.py
  astropy/utils/data_info.py
Labels: Affects-dev, no-changelog-entry-needed, table

#8884 Quantity __array_function__ updates
  astropy/units/quantity.py
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/tests/test_quantity_non_ufuncs.py
Labels: Affects-dev, Bug, numpy-dev, units

#8900 Quantity __array_function__ support for histograms, arraysetops functions and apply_{along, over}_axis
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/tests/test_quantity_non_ufuncs.py
Labels: Affects-dev, Enhancement, numpy-dev, units

#8855 Ensure that MaskedColumn.data returns a plain MaskedArray.
  CHANGES.rst
  astropy/table/column.py
  astropy/table/tests/test_masked.py
Labels: Performance, Refactoring, table
