Repository astropy/astropy, pull requests merged in 2019-07, with the labels that each got.

#8945 Limit pytest version to be <5.0
  .circleci/config.yml
  appveyor.yml
Labels: merge-when-ci-passes, no-changelog-entry-needed, testing

#8899 Eliminate compatibility mode from HDF5 I/O
  CHANGES.rst
  astropy/io/misc/hdf5.py
  astropy/io/misc/tests/data/old_meta_example.hdf5
  astropy/io/misc/tests/test_hdf5.py
Labels: Refactoring, io.misc

#8932 Added regression test for setting unit and replacing column on timeseries
  astropy/timeseries/tests/test_common.py
Labels: Bug, no-changelog-entry-needed, testing, timeseries

#8948 Remove deprecated renamed arguments in stats package
  CHANGES.rst
  astropy/stats/biweight.py
  astropy/stats/sigma_clipping.py
Labels: stats

#8949 Resolve str AssertionErrors on ExceptionInfo objects in pytest 5
  astropy/coordinates/tests/test_angles.py
  astropy/coordinates/tests/test_earth.py
  astropy/coordinates/tests/test_frames.py
  astropy/coordinates/tests/test_representation.py
  astropy/coordinates/tests/test_sky_coord.py
  astropy/io/ascii/tests/test_c_reader.py
  astropy/io/ascii/tests/test_ecsv.py
  astropy/io/ascii/tests/test_html.py
  astropy/io/ascii/tests/test_read.py
  astropy/io/ascii/tests/test_write.py
  astropy/io/fits/tests/test_compression_failures.py
  astropy/io/fits/tests/test_connect.py
  astropy/io/misc/asdf/tags/table/tests/test_table.py
  astropy/io/misc/tests/test_hdf5.py
  astropy/nddata/tests/test_ccddata.py
  astropy/stats/tests/test_histogram.py
  astropy/table/tests/test_info.py
  astropy/table/tests/test_init_table.py
  astropy/table/tests/test_item_access.py
  astropy/table/tests/test_operations.py
  astropy/table/tests/test_row.py
  astropy/table/tests/test_table.py
  astropy/time/tests/test_basic.py
  astropy/time/tests/test_delta.py
  astropy/time/tests/test_mask.py
  astropy/units/tests/test_format.py
  astropy/utils/iers/tests/test_iers.py
  astropy/utils/tests/test_data.py
  astropy/utils/tests/test_xml.py
  astropy/wcs/tests/test_wcsprm.py
Labels: merge-when-ci-passes, no-changelog-entry-needed, testing

#8877 Fix concatenation of representations when units are not the same.
  CHANGES.rst
  astropy/coordinates/funcs.py
  astropy/coordinates/tests/test_funcs.py
Labels: Bug, coordinates

#8933 Simplify and speed up table add_column(s)
  CHANGES.rst
  astropy/table/table.py
  astropy/table/tests/test_table.py
  astropy/timeseries/sampled.py
Labels: API change, Performance, table, whatsnew-needed

#8876 Let scalar Quantity.value return a numpy scalar
  CHANGES.rst
  astropy/coordinates/tests/test_representation.py
  astropy/units/quantity.py
  astropy/units/tests/test_quantity.py
  astropy/units/utils.py
Labels: API change, Bug, needs-discussion, units

#8892 Remove deprecated _recommended_units attribute from Representations.
  CHANGES.rst
  astropy/coordinates/baseframe.py
  astropy/coordinates/representation.py
  astropy/coordinates/tests/test_representation.py
Labels: coordinates

#8951 Fix sign error in galactocentric matrix 1
  docs/coordinates/galactocentric.rst
Labels: Docs, coordinates, no-changelog-entry-needed

#8938 Deprecation warnings and test failures under Python 3.8
  astropy/io/votable/src/tablewriter.c
  astropy/wcs/tests/test_wcsprm.py
Labels: Python3.8, io.votable, no-changelog-entry-needed, wcs

#8955 Removing python 3.5 testing as well as changing required python to 3.6+
  .circleci/config.yml
  .travis.yml
  CHANGES.rst
  setup.cfg
Labels: Release, merge-when-ci-passes

#8960 Remove old Python 2 import in cparser
  astropy/io/ascii/cparser.pyx
Labels: io.ascii, no-changelog-entry-needed

#8961 Fixed compatibility of fits2bitmap with latest developer version of Matplotlib
  CHANGES.rst
  astropy/visualization/scripts/fits2bitmap.py
Labels: visualization

#8954 Use latest pytest version
  .circleci/config.yml
  .travis.yml
  appveyor.yml
  astropy/conftest.py
  astropy/table/tests/test_table.py
Labels: merge-when-ci-passes, no-changelog-entry-needed, testing

#8966 Fix issue in construction of warning message in astropy.samp
  CHANGES.rst
  astropy/samp/hub.py
Labels: Bug, samp

#8964 Fix warnings in timeseries.periodograms
  astropy/timeseries/periodograms/lombscargle/tests/test_statistics.py
Labels: no-changelog-entry-needed, timeseries

#8957 Table operations always return unmasked table
  CHANGES.rst
  astropy/table/operations.py
  astropy/table/table.py
  astropy/table/tests/test_operations.py
  astropy/table/tests/test_table.py
Labels: API change, Ready-for-final-review, table, whatsnew-needed

#8967 Suppress divide by zero warnings for log(prob) in statistics.
  astropy/timeseries/periodograms/lombscargle/_statistics.py
  astropy/timeseries/periodograms/lombscargle/tests/test_statistics.py
Labels: no-changelog-entry-needed, timeseries

#8973 Fix typo in table docs
  docs/table/masking.rst
Labels: no-changelog-entry-needed

#8845 Fix find_current_module so that it can work in application bundles
  CHANGES.rst
  astropy/modeling/core.py
  astropy/modeling/tests/test_core.py
  astropy/utils/introspection.py
  astropy/utils/tests/test_introspection.py
Labels: Bug, Ready-for-final-review, utils

#8974 Add missing docs dependencies in setup.cfg
  .travis.yml
  setup.cfg
Labels: Docs, installation, no-changelog-entry-needed, testing

#8975 MNT: PEP 8 fixes for stats
  astropy/stats/__init__.py
  astropy/stats/funcs.py
  astropy/stats/spatial.py
Labels: no-changelog-entry-needed, stats

#8982 Fix uint conversion after slicing
  CHANGES.rst
  astropy/io/fits/fitsrec.py
  astropy/io/fits/tests/test_uint.py
Labels: Bug, io.fits

#8988 Fix test_wcs_sub with Python debug build
  astropy/wcs/src/wcslib_wrap.c
Labels: Bug, no-changelog-entry-needed, wcs

#8986 Change to static inline wrap_into in bls.c
  astropy/timeseries/periodograms/bls/bls.c
Labels: Bug, no-changelog-entry-needed, timeseries

#9000 Do not count fractional exponents against excess solidus instances in units
  CHANGES.rst
  astropy/units/format/generic.py
  astropy/units/format/vounit.py
  astropy/units/tests/test_units.py
Labels: Bug, io.votable, merge-when-ci-passes, units

#9001 Changed the frame transform graph orientation
  astropy/coordinates/transformations.py
Labels: Docs, coordinates, no-changelog-entry-needed

#8993 http:// no no longer responds. but https:// does.
  astropy/utils/iers/iers.py
Labels: no-changelog-entry-needed, utils

#9005 Fix units warnings
  astropy/units/tests/test_format.py
  astropy/units/tests/test_logarithmic.py
  astropy/units/tests/test_quantity_ufuncs.py
  astropy/units/tests/test_units.py
Labels: no-changelog-entry-needed, testing, units

#8965 Avoid getting DeprecationWarnings on broadcasted arrays fed into Cython
  astropy/timeseries/periodograms/lombscargle/implementations/cython_impl.pyx
Labels: merge-when-ci-passes, no-changelog-entry-needed, numpy-dev, timeseries

#9011 Remove deprecated argument name in median_absolute_deviation
  CHANGES.rst
  astropy/stats/funcs.py
Labels: Refactoring, stats

#9012 Fix creation of HDU when XTENSION is A3DTABLE
  CHANGES.rst
  astropy/io/fits/hdu/table.py
  astropy/io/fits/tests/test_table.py
Labels: io.fits

#8854 Allow initialization of zero-size Times for all formats
  CHANGES.rst
  astropy/time/formats.py
  astropy/time/tests/test_basic.py
Labels: Bug, time

#8972 Change Table data-to-col convert strategy from white-list to "try"
  astropy/table/table.py
  astropy/table/tests/test_table.py
Labels: Affects-dev, Ready-for-final-review, no-changelog-entry-needed, table

#9016 Remove bintrees from dependencies
  setup.cfg
Labels: installation, no-changelog-entry-needed

#9007 Check NaN before making and querying kdtree
  CHANGES.rst
  astropy/coordinates/matching.py
  astropy/coordinates/tests/test_matching.py
Labels: Bug, coordinates

#9021 Remove continuation slash from FITS test
  astropy/io/fits/tests/test_table.py
Labels: io.fits, no-changelog-entry-needed, testing

#8857 Added property to BaseCoordinateFrame for cylindrical representation
  CHANGES.rst
  astropy/coordinates/baseframe.py
  astropy/coordinates/tests/test_frames.py
Labels: coordinates

#9022 Fix failure from 8857
  astropy/coordinates/tests/test_frames.py
Labels: Affects-dev, Bug, coordinates, testing

#8881 Deprecate InheritDocstring and remove its usage
  CHANGES.rst
  astropy/config/configuration.py
  astropy/constants/constant.py
  astropy/coordinates/representation.py
  astropy/io/votable/tree.py
  astropy/modeling/core.py
  astropy/timeseries/binned.py
  astropy/units/core.py
  astropy/units/format/base.py
  astropy/units/quantity.py
  astropy/units/tests/test_quantity.py
  astropy/units/tests/test_units.py
  astropy/utils/misc.py
  astropy/utils/tests/test_misc.py
  astropy/visualization/interval.py
  astropy/visualization/stretch.py
  docs/conf.py
Labels: Docs, Ready-for-final-review, Refactoring, utils

#9025 Deprecate set_enabled_constants
  CHANGES.rst
  astropy/constants/__init__.py
  astropy/constants/tests/test_prior_version.py
  docs/constants/index.rst
Labels: Refactoring, constants

#9008 Coordinate matching fails for unit-less distances
  CHANGES.rst
  astropy/coordinates/baseframe.py
  astropy/coordinates/tests/test_frames.py
  astropy/coordinates/tests/test_matching.py
Labels: Bug, coordinates, merge-when-ci-passes

#9013 Add roundtrip test for user-defined unit in ecsv.
  astropy/io/ascii/tests/test_ecsv.py
  astropy/io/misc/tests/test_yaml.py
  astropy/io/misc/yaml.py
  astropy/units/core.py
  docs/units/format.rst
Labels: io.ascii, no-changelog-entry-needed, testing

#9027 Hardcode mass values in astropyconst20 and astropyconst40
  astropy/constants/astropyconst20.py
  astropy/constants/astropyconst40.py
  astropy/constants/codata2010.py
  astropy/constants/iau2012.py
  astropy/constants/tests/test_prior_version.py
Labels: Affects-dev, Bug, constants

#9030 Fix Python 3 32-bit build for v2.0.x
  astropy/tests/command.py
Labels: no-changelog-entry-needed, testing

#9029 Updated CircleCI configuration to upload test images as artifacts
  .circleci/config.yml
  astropy/tests/image_tests.py
Labels: no-changelog-entry-needed, testing, visualization

#9037 Update pytest intersphinx
  docs/conf.py
Labels: Docs, merge-when-ci-passes, no-changelog-entry-needed, testing

#9039 Fix issue with data path that caused crash on Windows
  CHANGES.rst
  astropy/setup_package.py
Labels: Bug, Windows, installation, merge-when-ci-passes

#9031 Update configuration for Matplotlib CircleCI jobs on v2.0.x
  .circleci/config.yml
Labels: Ready-for-final-review, merge-when-ci-passes, no-changelog-entry-needed, testing, visualization

#9026 Remove normed keyword in histogram helper functions
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/tests/test_quantity_non_ufuncs.py
Labels: Affects-dev, Refactoring, merge-when-ci-passes, units

#8769 Updating modeling to use new Compound Models and new Parameter behavior
  CHANGES.rst
  astropy/convolution/convolve.py
  astropy/io/misc/asdf/tags/transform/compound.py
  astropy/modeling/core.py
  astropy/modeling/fitting.py
  astropy/modeling/models.py
  astropy/modeling/parameters.py
  astropy/modeling/polynomial.py
  astropy/modeling/separable.py
  astropy/modeling/tests/test_compound.py
  astropy/modeling/tests/test_constraints.py
  astropy/modeling/tests/test_core.py
  astropy/modeling/tests/test_fitters.py
  astropy/modeling/tests/test_functional_models.py
  astropy/modeling/tests/test_model_sets.py
  astropy/modeling/tests/test_models.py
  astropy/modeling/tests/test_parameters.py
  astropy/modeling/tests/test_polynomial.py
  astropy/modeling/tests/test_quantities_evaluation.py
  astropy/modeling/tests/test_quantities_fitting.py
  astropy/modeling/tests/test_quantities_parameters.py
  astropy/modeling/tests/test_quantities_rotations.py
  astropy/utils/misc.py
  docs/modeling/changes_for_4.rst
  docs/modeling/compound-models.rst
  docs/modeling/index.rst
Labels: Ready-for-final-review, Refactoring, modeling, run-asv, whatsnew-needed

#9032 find_api_page to use custom headers and also HTTPS when version is given
  CHANGES.rst
  astropy/utils/misc.py
  astropy/utils/tests/test_misc.py
Labels: Bug, utils

#9035 Add list of frame classes to main coordinates docs page
  astropy/coordinates/__init__.py
  astropy/coordinates/angle_utilities.py
  astropy/coordinates/angles.py
  astropy/coordinates/baseframe.py
  astropy/coordinates/builtin_frames/__init__.py
  astropy/coordinates/builtin_frames/altaz.py
  astropy/coordinates/builtin_frames/baseradec.py
  astropy/coordinates/builtin_frames/ecliptic.py
  astropy/coordinates/builtin_frames/galactic.py
  astropy/coordinates/builtin_frames/galactocentric.py
  astropy/coordinates/builtin_frames/lsr.py
  astropy/coordinates/builtin_frames/skyoffset.py
  astropy/coordinates/builtin_frames/supergalactic.py
  astropy/coordinates/matrix_utilities.py
  astropy/coordinates/representation.py
  astropy/coordinates/tests/test_api_ape5.py
  docs/coordinates/index.rst
  examples/coordinates/plot_sgr-coordinate-frame.py
Labels: Docs, coordinates, no-changelog-entry-needed

#9038 MNT: Deprecate utils.timer
  CHANGES.rst
  astropy/utils/tests/test_timer.py
  astropy/utils/timer.py
  docs/utils/index.rst
Labels: Refactoring, merge-when-ci-passes, utils

#9047 add inverse to GenericModel
  astropy/io/misc/asdf/tags/transform/basic.py
Labels: Affects-dev, io.misc.asdf, modeling

#9049 Fix unresolved link
  docs/io/fits/appendix/faq.rst
Labels: Docs, io.fits, no-changelog-entry-needed

#9052 Add test to create table from list of rows
  astropy/table/tests/test_row.py
Labels: no-changelog-entry-needed, numpy-dev, table, testing

#8885 Implement support for APE14 WCS in WCSAxes
  CHANGES.rst
  astropy/visualization/wcsaxes/coordinate_helpers.py
  astropy/visualization/wcsaxes/coordinates_map.py
  astropy/visualization/wcsaxes/core.py
  astropy/visualization/wcsaxes/fitswcs.py
  astropy/visualization/wcsaxes/formatter_locator.py
  astropy/visualization/wcsaxes/tests/test_display_world_coordinates.py
  astropy/visualization/wcsaxes/tests/test_fitswcs.py
  astropy/visualization/wcsaxes/tests/test_formatter_locator.py
  astropy/visualization/wcsaxes/tests/test_images.py
  astropy/visualization/wcsaxes/tests/test_misc.py
  astropy/visualization/wcsaxes/tests/test_wcsapi.py
  astropy/visualization/wcsaxes/transforms.py
  astropy/visualization/wcsaxes/wcsapi.py
  astropy/wcs/wcs.py
  astropy/wcs/wcsapi/fitswcs.py
  astropy/wcs/wcsapi/low_level_api.py
  docs/visualization/wcsaxes/generic_transforms.rst
Labels: Enhancement, visualization.wcsaxes

#9053 Avoid numpy.nonzero call in modeling core
  astropy/modeling/core.py
Labels: Affects-dev, modeling, numpy-dev

#9048 Fix bug adding a column consisting of list of masked arrays
  CHANGES.rst
  astropy/table/table.py
  astropy/table/tests/test_table.py
Labels: Bug, table

#9062 Fix linking to multivariate_normal
  docs/coordinates/skycoord.rst
Labels: Docs, no-changelog-entry-needed

#9063 Show the source code in visualization.histogram
  docs/visualization/histogram.rst
Labels: Docs, no-changelog-entry-needed, visualization

#9004 Add example in narrative docs for the ``fixed`` parameter in models
  docs/modeling/fitting.rst
Labels: Docs, modeling, no-changelog-entry-needed

#9065 TST: Move Windows build from Appveyor to Travis
  .travis.yml
  README.rst
  appveyor.yml
  docs/development/releasing.rst
  docs/development/testguide.rst
Labels: Windows, merge-when-ci-passes, no-changelog-entry-needed, testing
