Repository astropy/astropy, pull requests merged in 2019-08, with the labels that each got.

#9074 Remove reference to AppVeyor in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: Windows, merge-when-ci-passes, no-changelog-entry-needed, testing

#8997 Refactor remaining tests for Exceptions to use `pytest.raises` context
  astropy/convolution/tests/test_convolve.py
  astropy/convolution/tests/test_convolve_fft.py
  astropy/convolution/tests/test_kernel_class.py
  astropy/coordinates/tests/test_matching.py
  astropy/cosmology/tests/test_cosmology.py
  astropy/io/fits/tests/test_connect.py
  astropy/io/fits/tests/test_core.py
  astropy/io/fits/tests/test_fitsdiff.py
  astropy/io/fits/tests/test_fitstime.py
  astropy/io/fits/tests/test_hdulist.py
  astropy/io/fits/tests/test_header.py
  astropy/io/fits/tests/test_image.py
  astropy/io/fits/tests/test_table.py
  astropy/io/misc/tests/test_hdf5.py
  astropy/table/tests/test_table.py
  astropy/time/tests/test_basic.py
  astropy/units/tests/test_units.py
  astropy/visualization/wcsaxes/tests/test_formatter_locator.py
  docs/development/testguide.rst
  docs/development/workflow/development_workflow.rst
  docs/development/workflow/git_edit_workflow_examples.rst
Labels: Refactoring, io.fits, no-changelog-entry-needed, table, time, units

#9076 Limit numpy version in 32bit test
  .circleci/config.yml
Labels: merge-when-ci-passes, no-changelog-entry-needed, testing

#9091 Update URL for visualization baseline images
  astropy/tests/image_tests.py
Labels: no-changelog-entry-needed, testing, visualization, visualization.wcsaxes

#9087 Converting remainder of multi-line test match expressions to raw strings
  astropy/convolution/tests/test_convolve.py
  astropy/convolution/tests/test_convolve_fft.py
  astropy/convolution/tests/test_kernel_class.py
  astropy/io/fits/tests/test_connect.py
  astropy/io/fits/tests/test_core.py
  astropy/io/fits/tests/test_fitsdiff.py
  astropy/io/fits/tests/test_fitstime.py
  astropy/io/fits/tests/test_hdulist.py
  astropy/io/fits/tests/test_image.py
  astropy/io/fits/tests/test_table.py
Labels: Affects-dev, convolution, io.fits

#9089 Removing numpy dev testing as np 1.18 will be released after the EOS 2.0.x
  .circleci/config.yml
  .travis.yml
Labels: no-changelog-entry-needed, testing

#9090 Removing numpy dev testing as np 1.18 will be released after the EOS 3.2.x
  .circleci/config.yml
  .travis.yml
Labels: no-changelog-entry-needed, testing

#9075 TST: rank removed in Numpy 1.18
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/tests/test_quantity_non_ufuncs.py
  astropy/utils/compat/numpycompat.py
Labels: no-changelog-entry-needed, numpy-dev, units

#9084 Adding Analytic King Model
  CHANGES.rst
  astropy/modeling/functional_models.py
  astropy/modeling/models.py
  astropy/modeling/tests/example_models.py
  astropy/modeling/tests/test_functional_models.py
  astropy/modeling/tests/test_models_quantities.py
Labels: modeling

#9077 Adding page summarizing modeling changes for v4.0
  astropy/io/misc/asdf/tags/transform/compound.py
  docs/modeling/changes_for_4.rst
Labels: Affects-dev, modeling

#9083 Add modeling.Tabular1D.inverse
  CHANGES.rst
  astropy/modeling/tabular.py
  astropy/modeling/tests/test_models.py
Labels: modeling

#9101 Development guide update on testing warnings
  docs/development/testguide.rst
Labels: Docs, no-changelog-entry-needed

#9105 Fixing link formatting in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: Bug, Docs, no-changelog-entry-needed

#8694 Add note about np.savetxt format to CommentedHeader
  astropy/io/ascii/basic.py
Labels: Docs, io.ascii, no-changelog-entry-needed, table

#8984 Allowing non unit annotations in quantity_input decorator
  CHANGES.rst
  astropy/units/decorators.py
  astropy/units/tests/test_quantity_decorator.py
  docs/units/quantity.rst
Labels: units

#8991 updated unit equivalencies example with parsec
  docs/units/equivalencies.rst
Labels: Docs, merge-when-ci-passes, no-changelog-entry-needed, units

#9058 Revise visualization docs to put convenience function at the top
  docs/visualization/normalization.rst
Labels: Docs, merge-when-ci-passes, no-changelog-entry-needed, visualization

#9109 Raise NotImplementedError in inverse
  astropy/modeling/tabular.py
  astropy/modeling/tests/test_models.py
Labels: Affects-dev, modeling

#9111 Add --doctest-rst as a default option for pytest
  setup.cfg
Labels: Docs, merge-when-ci-passes, needs-discussion, no-changelog-entry-needed

#8939 Adding depth-wise table stacking
  CHANGES.rst
  astropy/table/__init__.py
  astropy/table/operations.py
  astropy/table/tests/test_operations.py
  docs/table/operations.rst
Labels: Enhancement, table

#9120 DOC: Promote developer-docs header to chapter and TOC
  docs/index.rst
Labels: Docs, merge-when-ci-passes, no-changelog-entry-needed

#9116 MNT: Deprecate np.alen in quantity helper
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/tests/test_quantity_non_ufuncs.py
Labels: merge-when-ci-passes, no-changelog-entry-needed, numpy-dev, units

#9098 Fix backward-compatibility for ax.coords in WCSAxes
  CHANGES.rst
  astropy/visualization/wcsaxes/coordinate_helpers.py
  astropy/visualization/wcsaxes/coordinates_map.py
  astropy/visualization/wcsaxes/core.py
  astropy/visualization/wcsaxes/tests/test_misc.py
  astropy/visualization/wcsaxes/tests/test_wcsapi.py
  astropy/visualization/wcsaxes/wcsapi.py
Labels: Bug, Enhancement, visualization.wcsaxes

#9078 Modeling doc reorganization
  CHANGES.rst
  docs/modeling/algorithms.rst
  docs/modeling/basic-compound-models.rst
  docs/modeling/basic-fitting.rst
  docs/modeling/basics.rst
  docs/modeling/compound-models.rst
  docs/modeling/example-fitting-constraints.rst
  docs/modeling/example-fitting-model-sets.rst
  docs/modeling/example-fitting-sigma-clipping.rst
  docs/modeling/example-fitting-uncertainties.rst
  docs/modeling/fitting.rst
  docs/modeling/index.rst
  docs/modeling/model-sets.rst
  docs/modeling/new-model.rst
  docs/modeling/performance.rst
  docs/modeling/reference_api.rst
Labels: Docs, Ready-for-final-review, modeling

#8315 Remove bundled six
  CHANGES.rst
  astropy/extern/README.rst
  astropy/extern/bundled/__init__.py
  astropy/extern/bundled/six.py
  astropy/extern/six.py
Labels: Python2, Refactoring, keep-open

#9123 fix of problems with parameter overrides in model inheritance
  astropy/modeling/core.py
  astropy/modeling/tests/test_models.py
Labels: Affects-dev, modeling

#9124 Decorator `quantity_input` was not working as intended in annotation style
  astropy/units/decorators.py
  astropy/units/tests/test_quantity_decorator.py
Labels: Affects-dev, merge-when-ci-passes, units

#9137 TST: Pin pytest in CircleCI 32-bit
  .circleci/config.yml
Labels: no-changelog-entry-needed, testing

#9146 Temporarily pinning sphinx <2.2
  .circleci/config.yml
Labels: Docs, no-changelog-entry-needed, testing

#9142 DOC: Add modeling ref tags back
  docs/modeling/basic-fitting.rst
  docs/modeling/changes_for_4.rst
  docs/modeling/index.rst
  docs/modeling/model-sets.rst
Labels: Docs, modeling, no-changelog-entry-needed

#9151 Fix possible buffer overflow with cunit or ctype
  CHANGES.rst
  astropy/wcs/src/str_list_proxy.c
  astropy/wcs/src/unit_list_proxy.c
  astropy/wcs/tests/test_wcsprm.py
Labels: Bug, wcs

#9153 Fix bug in coordinate formatting in WCSAxes
  astropy/visualization/wcsaxes/core.py
  astropy/visualization/wcsaxes/tests/test_display_world_coordinates.py
Labels: Affects-dev, Bug, visualization.wcsaxes

#9152 Use Py_CLEAR in wcs C extension
  astropy/wcs/src/astropy_wcs.c
  astropy/wcs/src/distortion_wrap.c
  astropy/wcs/src/str_list_proxy.c
  astropy/wcs/src/unit_list_proxy.c
  astropy/wcs/src/wcslib_tabprm_wrap.c
  astropy/wcs/src/wcslib_wrap.c
Labels: Refactoring, no-changelog-entry-needed, wcs

#9154 Fixed WCS.wcs.cunit equality
  CHANGES.rst
  astropy/wcs/src/unit_list_proxy.c
  astropy/wcs/tests/test_wcs.py
Labels: Bug, wcs

#9155 Collate module index by module name ignoring `astropy.` suffix
  docs/conf.py
Labels: Docs, no-changelog-entry-needed

#9118 Allow for equal sized arrays to be added in nddata.utils.add_array
  CHANGES.rst
  astropy/nddata/tests/test_utils.py
  astropy/nddata/utils.py
Labels: Bug, nddata

#9148 Replace (deprecated) optparse with argparse in fits scripts
  CHANGES.rst
  astropy/io/fits/scripts/fitscheck.py
  astropy/io/fits/scripts/fitsdiff.py
  astropy/io/fits/tests/test_fitsdiff.py
Labels: Refactoring, io.fits

#9159 Update minimum python version in installation docs
  CONTRIBUTING.md
  astropy/__init__.py
Labels: Docs, no-changelog-entry-needed

#9149 Add a check to make sure PyTuple_New succeeded
  astropy/wcs/src/unit_list_proxy.c
Labels: Refactoring, no-changelog-entry-needed, wcs

#9167 Update Matplotlib dev CircleCI configuration for visualization tests
  .circleci/config.yml
Labels: no-changelog-entry-needed, testing

#9169 TST: Fix linkcheck cron directive
  .travis.yml
Labels: Docs, no-changelog-entry-needed, testing

#8728 Check for open files in Matplotlib visualization tests and fix issues
  .circleci/config.yml
  setup.cfg
Labels: merge-when-ci-passes, no-changelog-entry-needed, testing, visualization.wcsaxes

#9177 Update docstring to Table
  astropy/table/table.py
Labels: no-changelog-entry-needed, table

#9181 Changed 1st modeling example to be fitting a line
  astropy/table/table.py
  docs/modeling/index.rst
Labels: Docs, modeling, no-changelog-entry-needed
