Repository astropy/astropy, pull requests merged in 2020-05, with the labels that each got.

#10214 Add reshape_as_blocks function
  CHANGES.rst
  astropy/nddata/__init__.py
  astropy/nddata/blocks.py
  astropy/nddata/tests/test_blocks.py
  astropy/nddata/tests/test_utils.py
  astropy/nddata/utils.py
  docs/install.rst
  setup.cfg
Labels: Docs, Enhancement, nddata

#10250 parameter constraints are no longer serialized if they are default values
  astropy/io/misc/asdf/tags/transform/basic.py
Labels: Affects-dev, io.misc, io.misc.asdf

#10149 Implement TEME frame in astropy.
  CHANGES.rst
  astropy/coordinates/builtin_frames/__init__.py
  astropy/coordinates/builtin_frames/intermediate_rotation_transforms.py
  astropy/coordinates/builtin_frames/teme.py
  astropy/coordinates/tests/test_intermediate_transformations.py
  docs/coordinates/index.rst
  docs/coordinates/satellites.rst
  docs/install.rst
  docs/whatsnew/4.1.rst
  setup.cfg
Labels: Ready-for-final-review, coordinates, copyedited

#10129 Fixed error in the obliquity for *TrueEcliptic coordinate frames
  CHANGES.rst
  astropy/coordinates/builtin_frames/ecliptic_transforms.py
  astropy/coordinates/tests/accuracy/test_ecliptic.py
Labels: Bug, coordinates

#10238 Update default Galactocentric frame parameter set
  CHANGES.rst
  astropy/coordinates/builtin_frames/galactocentric.py
  astropy/coordinates/tests/test_frames.py
  docs/coordinates/galactocentric.rst
Labels: coordinates

#9939 Allow reading ASCII table with duplicate column names
  CHANGES.rst
  astropy/io/ascii/core.py
  astropy/io/ascii/cparser.pyx
  astropy/io/ascii/fastbasic.py
  astropy/io/ascii/tests/test_read.py
Labels: Enhancement, io.ascii, table

#10256 Update cfitsio v3.48
  CHANGES.rst
  cextern/cfitsio/docs/changes.txt
  cextern/cfitsio/lib/cfileio.c
  cextern/cfitsio/lib/editcol.c
  cextern/cfitsio/lib/edithdu.c
  cextern/cfitsio/lib/eval_l.c
  cextern/cfitsio/lib/eval_tab.h
  cextern/cfitsio/lib/eval_y.c
  cextern/cfitsio/lib/fitscore.c
  cextern/cfitsio/lib/fitsio.h
  cextern/cfitsio/lib/fitsio2.h
  cextern/cfitsio/lib/getcols.c
  cextern/cfitsio/lib/histo.c
  cextern/cfitsio/lib/imcompress.c
  cextern/cfitsio/lib/longnam.h
  cextern/cfitsio/lib/ricecomp.c
  cextern/trim_cfitsio.sh
Labels: external, io.fits, merge-when-ci-passes

#10259 MNT: Make matplotlib import truly optional in image_tests.py
  astropy/tests/image_tests.py
Labels: no-changelog-entry-needed, testing, visualization

#10258 Update PLY to 3.11
  CHANGES.rst
  astropy/coordinates/angle_lextab.py
  astropy/coordinates/angle_parsetab.py
  astropy/extern/README.rst
  astropy/extern/ply/__init__.py
  astropy/extern/ply/cpp.py
  astropy/extern/ply/ctokens.py
  astropy/extern/ply/lex.py
  astropy/extern/ply/yacc.py
  astropy/extern/ply/ygen.py
  astropy/units/format/cds_lextab.py
  astropy/units/format/cds_parsetab.py
  astropy/units/format/generic_lextab.py
  astropy/units/format/generic_parsetab.py
  astropy/units/format/ogip_lextab.py
  astropy/units/format/ogip_parsetab.py
Labels: coordinates, external, units

#10185 Add SpectralCoord class to astropy.coordinates
  CHANGES.rst
  astropy/coordinates/__init__.py
  astropy/coordinates/builtin_frames/__init__.py
  astropy/coordinates/builtin_frames/lsr.py
  astropy/coordinates/sky_coordinate.py
  astropy/coordinates/spectral_coordinate.py
  astropy/coordinates/spectral_quantity.py
  astropy/coordinates/tests/accuracy/data/rv.ecsv
  astropy/coordinates/tests/accuracy/generate_spectralcoord_ref.py
  astropy/coordinates/tests/test_spectral_coordinate.py
  astropy/coordinates/tests/test_spectral_quantity.py
  astropy/io/misc/asdf/data/schemas/astropy.org/astropy/coordinates/spectralcoord-1.0.0.yaml
  astropy/io/misc/asdf/extension.py
  astropy/io/misc/asdf/tags/coordinates/spectralcoord.py
  astropy/io/misc/asdf/tags/coordinates/tests/test_spectralcoord.py
  astropy/wcs/tests/test_utils.py
  astropy/wcs/wcs.py
  astropy/wcs/wcsapi/fitswcs.py
  astropy/wcs/wcsapi/tests/test_fitswcs.py
  astropy/wcs/wcsapi/tests/test_sliced_low_level_wcs.py
  docs/coordinates/index.rst
  docs/coordinates/references.txt
  docs/coordinates/spectralcoord.rst
  docs/coordinates/velocities.rst
  docs/units/equivalencies.rst
  docs/wcs/wcsapi.rst
  docs/whatsnew/4.1.rst
Labels: Enhancement, Ready-for-final-review, coordinates, units, wcs, wcs.wcsapi, whatsnew-needed

#10262 Update contributing guide
  CONTRIBUTING.md
Labels: Docs, no-changelog-entry-needed

#10210 Allow in-place modifications of representations
  CHANGES.rst
  astropy/coordinates/baseframe.py
  astropy/coordinates/representation.py
  astropy/coordinates/tests/test_representation.py
  astropy/io/ascii/cparser.pyx
  astropy/io/ascii/tests/test_ecsv.py
  astropy/io/fits/tests/test_connect.py
  astropy/io/misc/tests/test_hdf5.py
  astropy/io/misc/tests/test_yaml.py
  astropy/io/misc/yaml.py
  astropy/table/operations.py
  astropy/table/serialize.py
  astropy/table/tests/conftest.py
  astropy/table/tests/test_mixin.py
  astropy/table/tests/test_operations.py
  astropy/utils/data_info.py
  astropy/utils/iers/iers.py
  docs/coordinates/frames.rst
  docs/coordinates/representations.rst
  docs/coordinates/skycoord.rst
Labels: Enhancement, coordinates, table

#10154 Implement __eq__ and __ne__ for coordinate classes
  CHANGES.rst
  astropy/coordinates/baseframe.py
  astropy/coordinates/representation.py
  astropy/coordinates/sky_coordinate.py
  astropy/coordinates/tests/test_arrays.py
  astropy/coordinates/tests/test_frames.py
  astropy/coordinates/tests/test_sky_coord.py
  astropy/coordinates/tests/test_spectral_coordinate.py
  astropy/table/tests/test_table.py
  astropy/visualization/wcsaxes/core.py
  astropy/visualization/wcsaxes/transforms.py
  docs/coordinates/skycoord.rst
Labels: coordinates, whatsnew-needed

#10169 Support Table fuzzy or cross-match join with SkyCoord, Quantity, Column
  CHANGES.rst
  astropy/coordinates/tests/test_sky_coord.py
  astropy/table/__init__.py
  astropy/table/operations.py
  astropy/table/tests/test_operations.py
  docs/table/operations.rst
Labels: coordinates, table, whatsnew-needed

#10232 quantity_input decorator: Allow numeric values when dimensionless is an allowed unit to an argument
  CHANGES.rst
  astropy/units/decorators.py
  astropy/units/tests/test_quantity_annotations.py
  astropy/units/tests/test_quantity_decorator.py
Labels: Enhancement, units

#10268 Update minimum required version of SGP4
  setup.cfg
Labels: Affects-dev, Docs, coordinates, installation

#10274 Fix new failure of spectral coord test because of quantity_input changes
  astropy/coordinates/tests/test_spectral_coordinate.py
Labels: Affects-dev, coordinates

#10257 MNT: Make yaml import truly optional in io.misc.yaml
  astropy/__init__.py
  astropy/io/misc/tests/test_yaml.py
  astropy/io/misc/yaml.py
  docs/conf.py
  docs/install.rst
  docs/io/misc.rst
  setup.cfg
  tox.ini
Labels: io.misc, no-changelog-entry-needed

#10243 DOC: Fix CI error when file exists
  docs/whatsnew/4.1.rst
Labels: Docs, io.fits, no-changelog-entry-needed

#9541 Adding pandas Int64 support [fix #9280]
  CHANGES.rst
  astropy/table/table.py
  astropy/table/tests/test_table.py
Labels: table

#9162 Cache name resolve results in astropy.coordinates
  CHANGES.rst
  astropy/coordinates/name_resolve.py
  astropy/coordinates/sky_coordinate.py
  astropy/coordinates/tests/test_name_resolve.py
Labels: coordinates, utils

#10282 Fix hard-to-debug import issues.
  astropy/io/misc/yaml.py
  astropy/table/serialize.py
Labels: Affects-dev, Bug, merge-when-ci-passes, table

#10279 What's new entries for 4.1 plus new ref links
  docs/coordinates/skycoord.rst
  docs/table/construct_table.rst
  docs/table/operations.rst
  docs/whatsnew/4.1.rst
Labels: coordinates, no-changelog-entry-needed, table

#10285 Move coordinate API change to the correct section
  CHANGES.rst
Labels: Docs, no-changelog-entry-needed

#10229 Tidy up SlicedLowLevelWCS to facilitate more development
  astropy/visualization/wcsaxes/tests/test_wcsapi.py
  astropy/wcs/wcsapi/__init__.py
  astropy/wcs/wcsapi/conftest.py
  astropy/wcs/wcsapi/fitswcs.py
  astropy/wcs/wcsapi/high_level_api.py
  astropy/wcs/wcsapi/high_level_wcs_wrapper.py
  astropy/wcs/wcsapi/low_level_api.py
  astropy/wcs/wcsapi/sliced_low_level_wcs.py
  astropy/wcs/wcsapi/tests/test_high_level_api.py
  astropy/wcs/wcsapi/tests/test_high_level_wcs_wrapper.py
  astropy/wcs/wcsapi/utils.py
  astropy/wcs/wcsapi/wrappers/__init__.py
  astropy/wcs/wcsapi/wrappers/base.py
  astropy/wcs/wcsapi/wrappers/sliced_wcs.py
  astropy/wcs/wcsapi/wrappers/tests/__init__.py
  astropy/wcs/wcsapi/wrappers/tests/test_sliced_wcs.py
Labels: no-changelog-entry-needed, visualization, visualization.wcsaxes, wcs, wcs.wcsapi

#10290 Fixed a bug with frame attributes that are coordinates when checking for frame equivalency
  astropy/coordinates/baseframe.py
  astropy/coordinates/sky_coordinate.py
  astropy/coordinates/tests/test_frames.py
Labels: Affects-dev, Bug, coordinates

#10289 Add to what's new in 4.1 and fix constraints serialization
  astropy/io/misc/asdf/tags/transform/basic.py
  docs/whatsnew/4.1.rst
Labels: Affects-dev, Docs, io.misc.asdf

#10293 Handle older versions of transform/constant schema
  CHANGES.rst
  astropy/io/misc/asdf/tags/transform/basic.py
  astropy/io/misc/asdf/tags/transform/tests/test_transform.py
Labels: io.misc, io.misc.asdf

#10265 Allow URL caching in CCDData.read
  CHANGES.rst
  astropy/io/registry.py
  astropy/nddata/mixins/ndio.py
  docs/nddata/ccddata.rst
Labels: API change, Bug, io.registry, nddata

#10266 Fix asdf minversion in install doc
  docs/conf.py
  docs/install.rst
Labels: Bug, Docs, installation, merge-when-ci-passes, no-changelog-entry-needed

#10139 ENH: Allow discovery of available config items
  CHANGES.rst
  astropy/config/configuration.py
  astropy/config/tests/test_configs.py
  docs/config/index.rst
Labels: Enhancement, Ready-for-final-review, config, merge-when-ci-passes

#10300 Fixed a check of non-equality between frames in a test
  astropy/coordinates/tests/test_api_ape5.py
Labels: Affects-dev, Bug, coordinates, testing

#10292 Improve get_body by using location of observer in light travel time correction
  CHANGES.rst
  astropy/coordinates/solar_system.py
  astropy/coordinates/tests/test_solar_system.py
Labels: Bug, coordinates

#10307 Revise incorrect equation docs in Sersic2D class
  astropy/modeling/functional_models.py
Labels: Bug, Docs, modeling, no-changelog-entry-needed

#10305 DOC: Un-skip coordinate example for doctest
  docs/coordinates/index.rst
  docs/coordinates/velocities.rst
Labels: Docs, coordinates, no-changelog-entry-needed, testing

#10309 Branching v4.1.x
  CHANGES.rst
  docs/whatsnew/4.2.rst
  docs/whatsnew/index.rst
Labels: no-changelog-entry-needed

#10301 BUG: Fix wcsapi doctest
  docs/wcs/wcsapi.rst
Labels: Affects-dev, Bug, Docs, testing, wcs, wcs.wcsapi

#10304 TST: Minimize calls to remote sites.json for testing
  astropy/coordinates/earth.py
  astropy/io/misc/asdf/tags/coordinates/tests/test_earthlocation.py
  docs/coordinates/index.rst
  docs/coordinates/remote_methods.rst
  docs/coordinates/satellites.rst
  docs/coordinates/spectralcoord.rst
  docs/whatsnew/4.1.rst
Labels: coordinates, no-changelog-entry-needed, testing

#10314 MNT: Move earth.py circular imports into relevant method
  astropy/coordinates/earth.py
Labels: Refactoring, coordinates, no-changelog-entry-needed

#10276 Fix some problems with converting unitspherical representations with differentials
  CHANGES.rst
  astropy/coordinates/baseframe.py
  astropy/coordinates/tests/test_frames_with_velocity.py
Labels: Bug, coordinates, merge-when-ci-passes

#10318 expand documentation
  docs/modeling/compound-models.rst
  docs/modeling/units.rst
  docs/whatsnew/4.1.rst
Labels: Docs, modeling, no-changelog-entry-needed

#10316 BUG: Fix typo in error message
  astropy/units/quantity.py
Labels: Bug, merge-when-ci-passes, no-changelog-entry-needed, units

#10320 DOC: Clarify that equivalency cannot take Quantity
  docs/units/equivalencies.rst
Labels: Docs, no-changelog-entry-needed, units

#10330 Missing f for an f-string in a coordinates error message
  astropy/coordinates/transformations.py
Labels: coordinates, no-changelog-entry-needed

#10324 MNT: PEP 8 clean-ups of some io.misc.asdf
  astropy/io/misc/asdf/extension.py
  astropy/io/misc/asdf/tags/coordinates/frames.py
  astropy/io/misc/asdf/tags/coordinates/spectralcoord.py
  astropy/io/misc/asdf/tags/table/table.py
  astropy/io/misc/asdf/tags/time/time.py
  astropy/io/misc/asdf/tags/transform/basic.py
  astropy/io/misc/asdf/tags/transform/compound.py
  astropy/io/misc/asdf/tags/transform/polynomial.py
  astropy/io/misc/asdf/tags/unit/quantity.py
  astropy/io/misc/asdf/types.py
Labels: Refactoring, io.misc.asdf, no-changelog-entry-needed

#10332 Fix bug in SkyCoord separation methods not accepting frame object
  CHANGES.rst
  astropy/coordinates/sky_coordinate.py
  astropy/coordinates/tests/test_sky_coord.py
Labels: Bug, coordinates

#10288 TST: switch to use numpy nightly wheels
  tox.ini
Labels: build, no-changelog-entry-needed, testing

#10326 Don't assume coordinate frame supports radial_velocity in FITS WCS
  astropy/wcs/wcsapi/fitswcs.py
Labels: Affects-dev, Bug, Ready-for-final-review, wcs.wcsapi

#10340 Allow units to be passed as strings to SpectralQuantity.to
  astropy/coordinates/spectral_quantity.py
  astropy/coordinates/tests/test_spectral_quantity.py
Labels: Affects-dev, coordinates

#10347 Fix codestyle checks in tox and fix PEP8 whitespace issues
  astropy/coordinates/sky_coordinate.py
  astropy/coordinates/tests/test_sky_coord.py
  astropy/coordinates/tests/test_spectral_coordinate.py
  astropy/io/ascii/tests/test_cds_header_from_readme.py
  astropy/io/ascii/tests/test_read.py
  astropy/io/misc/asdf/tags/transform/functional_models.py
  astropy/io/misc/asdf/tags/transform/tests/test_transform.py
  astropy/modeling/core.py
  astropy/modeling/fitting.py
  astropy/modeling/physical_models.py
  astropy/modeling/tests/test_compound.py
  astropy/modeling/tests/test_core.py
  astropy/table/tests/test_table.py
  astropy/utils/data.py
  astropy/wcs/tests/test_utils.py
  astropy/wcs/wcsapi/conftest.py
  tox.ini
Labels: :fire:, Affects-dev, Bug, coordinates, io.ascii, io.misc, io.misc.asdf, merge-when-ci-passes, modeling, table, utils, wcs, wcs.wcsapi

#10333 Expose auxillary parameters from WCSLIB in astropy.wcs
  CHANGES.rst
  astropy/wcs/docstrings.py
  astropy/wcs/include/astropy_wcs/wcslib_auxprm_wrap.h
  astropy/wcs/setup_package.py
  astropy/wcs/src/astropy_wcs.c
  astropy/wcs/src/wcslib_auxprm_wrap.c
  astropy/wcs/src/wcslib_wrap.c
  astropy/wcs/tests/test_auxprm.py
  astropy/wcs/wcs.py
Labels: Enhancement, wcs

#8795 Fix astropy so that it can be used in app bundles, and add CI to prevent regression
  .pyinstaller/hooks/hook-skyfield.py
  .pyinstaller/run_astropy_tests.py
  .travis.yml
  CHANGES.rst
  astropy/coordinates/tests/test_matching.py
  astropy/io/fits/tests/test_convenience.py
  astropy/io/misc/asdf/tags/fits/tests/test_fits.py
  astropy/io/misc/asdf/tags/table/tests/test_table.py
  astropy/modeling/tests/test_compound.py
  astropy/modeling/tests/test_math_func.py
  tox.ini
Labels: Ready-for-final-review, testing

#10322 Fix some backwards compatibility and conftest issues in WCS wrappers
  astropy/wcs/wcsapi/conftest.py
  astropy/wcs/wcsapi/sliced_low_level_wcs.py
Labels: Affects-dev, Bug, wcs.wcsapi

#10366 Update PULL_REQUEST_TEMPLATE.md for better PR titles
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Docs, no-changelog-entry-needed

#10369 Fixes to changelog entries
  CHANGES.rst
Labels: no-changelog-entry-needed

#10354 DOC: Fix satellites page rendering
  docs/coordinates/satellites.rst
Labels: Affects-dev, Bug, Docs, coordinates

#10367 DOC: Fix README extension
  examples/README.rst
Labels: Docs, no-changelog-entry-needed

#10374 Fix continuous integration for v4.0.x
  .travis.yml
Labels: Docs, Ready-for-final-review, no-changelog-entry-needed

#10296 Use pmsafe instead of starpm for applying space motion to SkyCoords
  CHANGES.rst
  astropy/coordinates/sky_coordinate.py
  astropy/coordinates/tests/test_regression.py
  astropy/coordinates/tests/test_sky_coord.py
  astropy/coordinates/tests/test_velocity_corrs.py
Labels: Bug, coordinates

#10358 Skip doctest collection for subpackages depending on available dependencies
  .travis.yml
  astropy/io/misc/yaml.py
  docs/io/misc.rst
  setup.cfg
Labels: Enhancement, Ready-for-final-review, merge-when-ci-passes, no-changelog-entry-needed, testing

#10378 MNT: Bump pytest minversion in setup.cfg
  setup.cfg
Labels: merge-when-ci-passes, no-changelog-entry-needed, testing

#10376 Update built-in IERS files
  astropy/utils/iers/data/Leap_Second.dat
  astropy/utils/iers/data/eopc04_IAU2000.62-now
  docs/utils/iers.rst
Labels: Ready-for-final-review, no-changelog-entry-needed, utils, utils.iers

#9966 Add back in major minor version
  setup.py
Labels: Affects-dev, installation

#10371 Fix pyinstaller CI failures
  tox.ini
Labels: Upstream Fix Required, no-changelog-entry-needed, testing

#10370 Finalize what's new and mailmap ahead of 4.1 release
  .mailmap
  docs/credits.rst
  docs/whatsnew/4.1.rst
Labels: Last-before-release, Ready-for-final-review, no-changelog-entry-needed

#10306 Fix fast_reader parsing of RDB headers with names specified and performance issues
  CHANGES.rst
  astropy/io/ascii/core.py
  astropy/io/ascii/cparser.pyx
  astropy/io/ascii/fastbasic.py
  astropy/io/ascii/tests/test_read.py
Labels: Bug, Performance, io.ascii

#10336 Add docs for Wtbarr
  astropy/wcs/docstrings.py
  astropy/wcs/src/wcslib_wrap.c
  astropy/wcs/src/wcslib_wtbarr_wrap.c
  astropy/wcs/wcs.py
Labels: Docs, no-changelog-entry-needed, wcs

#10321 updates to modeling and asdf docs
  docs/io/misc.rst
  docs/modeling/models.rst
Labels: Docs, io.misc.asdf, modeling, needs-copyediting, no-changelog-entry-needed

#10383 Fix test_unicode_as_char test
  astropy/io/votable/tests/converter_test.py
Labels: io.votable, no-changelog-entry-needed

#10384 Construct CompoundModel inverse lazily
  CHANGES.rst
  astropy/io/misc/asdf/tags/transform/basic.py
  astropy/io/misc/asdf/tags/transform/compound.py
  astropy/io/misc/asdf/tags/transform/tests/test_transform.py
  astropy/modeling/core.py
  docs/modeling/models.rst
Labels: :fire:, Bug, io.misc, io.misc.asdf, modeling

#10385 Add Moffat2D to the 2D models documentation
  docs/modeling/predef_models2D.rst
Labels: Docs, modeling, no-changelog-entry-needed

#10379 Add optimize flag in `yacc.yacc` calls to allow importing `units` under `python -OO`
  CHANGES.rst
  astropy/coordinates/angle_utilities.py
  astropy/units/format/cds.py
  astropy/units/format/generic.py
  astropy/units/format/ogip.py
Labels: Performance, coordinates, units

#10387 Fix remote test failures related to IERS update
  astropy/utils/iers/data/eopc04_IAU2000.62-now
  astropy/utils/iers/iers.py
  astropy/utils/iers/tests/test_iers.py
  docs/coordinates/frames.rst
Labels: Affects-dev, coordinates, utils, utils.iers

#10391 Update copyright years in LICENSE file
  LICENSE.rst
Labels: no-changelog-entry-needed

#10373 Set up Hypothesis and add property-based tests for `Time` precision
  .gitignore
  .travis.yml
  astropy/time/tests/test_precision.py
  conftest.py
  docs/development/testguide.rst
Labels: no-changelog-entry-needed, testing, time

#10395 Explicitly convert tmpdir in test to string
  astropy/utils/tests/test_data.py
Labels: no-changelog-entry-needed, testing

#10400 Don't set observer or target on SpectralCoord in FITS WCS if they can't be converted to ICRS
  astropy/wcs/wcsapi/fitswcs.py
Labels: Affects-dev, Bug, wcs, wcs.wcsapi

#10406 Improve performance creating TimeFromEpoch object
  CHANGES.rst
  astropy/time/formats.py
  astropy/time/tests/test_basic.py
Labels: Performance, time

#10416 Silence deprecation warning we cannot control
  astropy/io/fits/hdu/hdulist.py
  astropy/io/fits/tests/test_hdulist.py
  astropy/io/fits/tests/test_image.py
Labels: Windows, io.fits, no-changelog-entry-needed
