Repository astropy/astropy, pull requests merged in 2020-08, with the labels that each got.

#10621 Fix mpldev build in v4.1.x branch
  astropy/visualization/wcsaxes/tests/test_misc.py
Labels: Affects-dev, visualization, visualization.wcsaxes

#10619 Update leap second out-of-date test error message to clarify how to fix it
  astropy/utils/iers/tests/test_leap_second.py
Labels: Docs, no-changelog-entry-needed, testing, utils, utils.iers

#10542 still use `out` even if out.dtype is not float64
  CHANGES.rst
  astropy/modeling/core.py
  astropy/modeling/tests/test_core.py
Labels: Bug, modeling

#10437 Lock-free cache implementation
  CHANGES.rst
  astropy/coordinates/tests/test_name_resolve.py
  astropy/utils/data.py
  astropy/utils/iers/iers.py
  astropy/utils/tests/test_data.py
  docs/utils/data.rst
Labels: :fire:, Bug, Ready-for-final-review, Refactoring, utils

#10626 MNT: Remove unused import in utils/data.py
  astropy/utils/data.py
Labels: Affects-dev, Ready-for-final-review, utils

#10631 Handle trailing slash on http urls
  CHANGES.rst
  astropy/utils/data.py
  astropy/utils/tests/test_data.py
Labels: Bug, utils

#10635 Enable Travis notifications to slack
  .travis.yml
Labels: Ready-for-final-review, no-changelog-entry-needed, testing

#10634 Fix tests on MacOS X with Matplotlib 3.3
  astropy/conftest.py
Labels: Ready-for-final-review, no-changelog-entry-needed, testing

#10637 Fix PyInstaller cron job/tox env
  .pyinstaller/run_astropy_tests.py
  tox.ini
Labels: Ready-for-final-review, no-changelog-entry-needed, testing

#10505 NFW Profile Addition to Modeling Package
  CHANGES.rst
  astropy/modeling/models.py
  astropy/modeling/physical_models.py
  astropy/modeling/tests/test_physical_models.py
  docs/modeling/physical_models.rst
Labels: Enhancement, modeling

#10623 Linear1D and Planar2D should be able to fit as model sets
  CHANGES.rst
  astropy/modeling/fitting.py
  astropy/modeling/functional_models.py
  astropy/modeling/tests/test_constraints.py
  astropy/modeling/tests/test_fitters.py
  astropy/modeling/tests/test_model_sets.py
  docs/modeling/models.rst
Labels: Bug, modeling

#10640 Fixes for commentary cards
  CHANGES.rst
  astropy/io/fits/header.py
  astropy/io/fits/tests/test_header.py
Labels: Bug, io.fits

#10641 DOC: Fix linkcheck error maybe
  docs/development/codeguide.rst
Labels: Docs, Ready-for-final-review, no-changelog-entry-needed

#10636 Fix performance and bugs for Table init from lists with masks
  CHANGES.rst
  astropy/table/column.py
  astropy/table/table.py
  astropy/table/tests/test_masked.py
  docs/table/masking.rst
Labels: Bug, Performance, new benchmark, table

#10622 MNT: Remove bintrees support
  CHANGES.rst
  astropy/table/__init__.py
  astropy/table/bst.py
  astropy/table/connect.py
  astropy/table/index.py
  astropy/table/table.py
  astropy/table/tests/test_index.py
  docs/install.rst
  docs/table/indexing.rst
Labels: Refactoring, table

#10649 Include 3-d list for full coverage of list init code
  astropy/table/tests/test_masked.py
Labels: Affects-dev, merge-when-ci-passes, no-changelog-entry-needed, table, testing

#10650 Remove trailing references to astropy's own ErfaWarning
  astropy/coordinates/tests/test_regression.py
  astropy/coordinates/tests/test_sky_coord.py
  astropy/time/tests/test_basic.py
  astropy/time/tests/test_precision.py
  astropy/visualization/tests/test_time.py
Labels: coordinates, merge-when-ci-passes, no-changelog-entry-needed, testing, time, visualization

#10660 Doc: fix number of bytes for 'K' FITS format code
  docs/io/fits/usage/table.rst
Labels: Docs, io.fits, no-changelog-entry-needed

#10659 Account for removal of financial functions in numpy 1.20
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/tests/test_quantity_non_ufuncs.py
  astropy/utils/compat/numpycompat.py
Labels: merge-when-ci-passes, no-changelog-entry-needed, numpy-dev

#10658 Make frame attribute equivalency checks symmetric
  astropy/coordinates/baseframe.py
  astropy/coordinates/tests/test_frames.py
  astropy/coordinates/tests/test_sky_coord.py
Labels: Affects-dev, Bug, coordinates

#10665 Update Cfitsio 3.49
  CHANGES.rst
  cextern/cfitsio/docs/changes.txt
  cextern/cfitsio/lib/cfileio.c
  cextern/cfitsio/lib/drvrnet.c
  cextern/cfitsio/lib/fitscore.c
  cextern/cfitsio/lib/fitsio.h
  cextern/cfitsio/lib/group.c
  cextern/cfitsio/lib/grparser.c
  cextern/cfitsio/lib/imcompress.c
Labels: external, io.fits

#10642 Add a stopping criterion to FittingWithOutlierRemoval
  CHANGES.rst
  astropy/modeling/fitting.py
  astropy/modeling/tests/test_fitters.py
Labels: Enhancement, modeling

#10475 Modifications to transforming frames with data as opposed to SkyCoord
  CHANGES.rst
  astropy/coordinates/attributes.py
  astropy/coordinates/baseframe.py
  astropy/coordinates/builtin_frames/galactic.py
  astropy/coordinates/builtin_frames/galactocentric.py
  astropy/coordinates/builtin_frames/icrs_cirs_transforms.py
  astropy/coordinates/builtin_frames/intermediate_rotation_transforms.py
  astropy/coordinates/builtin_frames/lsr.py
  astropy/coordinates/orbital_elements.py
  astropy/coordinates/spectral_coordinate.py
  astropy/coordinates/tests/accuracy/test_ecliptic.py
  astropy/coordinates/tests/accuracy/test_fk4_no_e_fk4.py
  astropy/coordinates/tests/accuracy/test_galactic_fk4.py
  astropy/coordinates/tests/accuracy/test_icrs_fk5.py
  astropy/coordinates/tests/test_angular_separation.py
  astropy/coordinates/tests/test_api_ape5.py
  astropy/coordinates/tests/test_arrays.py
  astropy/coordinates/tests/test_celestial_transformations.py
  astropy/coordinates/tests/test_finite_difference_velocities.py
  astropy/coordinates/tests/test_frames.py
  astropy/coordinates/tests/test_frames_with_velocity.py
  astropy/coordinates/tests/test_iau_fullstack.py
  astropy/coordinates/tests/test_intermediate_transformations.py
  astropy/coordinates/tests/test_regression.py
  astropy/coordinates/tests/test_sky_coord.py
  astropy/coordinates/tests/test_skyoffset_transformations.py
  astropy/coordinates/tests/test_spectral_coordinate.py
  astropy/coordinates/tests/test_transformations.py
  astropy/coordinates/tests/test_unit_representation.py
  docs/coordinates/frames.rst
  docs/coordinates/velocities.rst
  examples/coordinates/plot_galactocentric-frame.py
  examples/coordinates/plot_sgr-coordinate-frame.py
  examples/coordinates/rv-to-gsr.py
Labels: API change, coordinates

#10570 Make finding home directory more general
  CHANGES.rst
  astropy/config/paths.py
Labels: Bug, config

#10672 Allow adding None object column to table
  astropy/table/table.py
  astropy/table/tests/test_init_table.py
  docs/table/modify_table.rst
Labels: Affects-dev, no-changelog-entry-needed, table

#10676 DOC: Remove mention of broken virtualenv-csh link
  docs/development/workflow/known_projects.inc
  docs/development/workflow/virtualenv_detail.rst
Labels: Docs, no-changelog-entry-needed, testing

#10681 DOC: Remove broken UCO/Lick link
  docs/time/index.rst
Labels: Docs, no-changelog-entry-needed
