Repository astropy/astropy, pull requests merged in 2020-07, with the labels that each got.

#10522 MNT: remove LS and BLS from stats public API
  astropy/stats/__init__.py
  astropy/stats/spatial.py
Labels: Refactoring, no-changelog-entry-needed, stats

#10520 Minor updates to documentation for new contributors
  CONTRIBUTING.md
  docs/development/vision.rst
  docs/development/workflow/development_workflow.rst
  docs/development/workflow/virtual_pythons.rst
Labels: Docs, no-changelog-entry-needed

#10524 DOC: Bump Python version on RTD build and fix failure
  .readthedocs.yml
  astropy/wcs/docstrings.py
  setup.cfg
Labels: :fire:, Docs, Ready-for-final-review, no-changelog-entry-needed, testing

#10538 Fix extension conf when using system libraries
  astropy/io/fits/setup_package.py
  astropy/utils/xml/setup_package.py
  astropy/wcs/setup_package.py
Labels: Affects-dev, Bug, astropy-helpers-removal, build, io.fits, wcs

#10543 Change Table.columns keys(), values() to return generator
  CHANGES.rst
  astropy/table/index.py
  astropy/table/info.py
  astropy/table/sorted_array.py
  astropy/table/table.py
  astropy/table/tests/test_table.py
  docs/table/modify_table.rst
Labels: API change, table

#10530 DOC: Unpin numpydoc, add nitpick exception rules
  astropy/wcs/docstrings.py
  docs/conf.py
  docs/nitpick-exceptions
  setup.cfg
Labels: Docs, no-changelog-entry-needed, testing

#10545 Remove newline characters from header file 3d_cd.hdr
  astropy/wcs/tests/data/3d_cd.hdr
  astropy/wcs/tests/test_wcs.py
Labels: Bug, external, no-changelog-entry-needed, testing, wcs

#10550 TST: Fix missing import in test_intermediate_transformations.py
  astropy/coordinates/tests/test_intermediate_transformations.py
Labels: Bug, coordinates, no-changelog-entry-needed, testing

#10546 Fix a forgotten change in requirement checking in __init__.py
  astropy/__init__.py
Labels: Affects-dev, Bug, erfa, merge-when-ci-passes

#10549 Stop using astropy's catch_warnings in fitscheck
  astropy/io/fits/scripts/fitscheck.py
  astropy/io/fits/tests/test_fitscheck.py
Labels: Ready-for-final-review, Refactoring, io.fits, no-changelog-entry-needed

#10556 Make angle parser and lexer thread-local
  CHANGES.rst
  astropy/coordinates/angle_utilities.py
  astropy/coordinates/tests/test_angles.py
Labels: Bug, coordinates

#10002 Add functioning evaluate for CompoundModel
  CHANGES.rst
  astropy/modeling/core.py
  astropy/modeling/tests/test_compound.py
Labels: modeling

#10563 DOC: Fix linkcheck ref target not found
  docs/nitpick-exceptions
Labels: Docs, no-changelog-entry-needed, testing, timeseries

#10565 Catch warnings from fitscheck
  astropy/io/fits/tests/test_fitscheck.py
Labels: io.fits, merge-when-ci-passes, no-changelog-entry-needed, testing

#10558 Fixing issue #9384: Documenting long string representations for Time objects
  docs/time/index.rst
Labels: Docs, merge-when-ci-passes, no-changelog-entry-needed, time

#10569 Change parsec definition to small-angle (linear) approximation following IAU 2015 B2
  CHANGES.rst
  astropy/constants/iau2015.py
  astropy/constants/tests/test_prior_version.py
  astropy/units/tests/test_equivalencies.py
  docs/units/conversion.rst
Labels: Bug, constants, units

#10541 Compare coord values as floats
  astropy/wcs/wcsapi/tests/test_fitswcs.py
Labels: no-changelog-entry-needed, testing, wcs, wcs.wcsapi

#10518 MNT: Remove unused imports from wcsapi
  astropy/wcs/wcsapi/tests/test_fitswcs.py
  astropy/wcs/wcsapi/wrappers/tests/test_sliced_wcs.py
Labels: Refactoring, no-changelog-entry-needed, wcs, wcs.wcsapi

#10555 Use system libraries on apt
  .travis.yml
  astropy/wcs/tests/extension/setup.py
Labels: Enhancement, merge-when-ci-passes, no-changelog-entry-needed, testing

#10571 MNT: Replace some distutils imports with setuptools
  astropy/convolution/setup_package.py
  astropy/io/ascii/setup_package.py
  astropy/io/fits/setup_package.py
  astropy/io/votable/setup_package.py
  astropy/modeling/setup_package.py
  astropy/table/setup_package.py
  astropy/tests/command.py
  astropy/timeseries/periodograms/bls/setup_package.py
  astropy/utils/setup_package.py
  astropy/utils/xml/setup_package.py
  astropy/wcs/setup_package.py
  docs/development/building.rst
  docs/development/ccython.rst
Labels: installation, no-changelog-entry-needed

#10583 Don't ignore blank-valued attributes with the c-based parser.
  CHANGES.rst
  astropy/io/votable/tests/data/regression.bin.tabledata.truth.1.1.xml
  astropy/io/votable/tests/data/regression.bin.tabledata.truth.1.3.xml
  astropy/io/votable/tests/data/regression.xml
  astropy/io/votable/tests/data/validation.txt
  astropy/utils/xml/src/iterparse.c
Labels: Bug, io.votable, merge-when-ci-passes, utils

#10513 Shorten D2IM and CPDIS keyword comments
  CHANGES.rst
  astropy/wcs/tests/data/ie6d07ujq_wcs.fits
  astropy/wcs/tests/test_pickle.py
  astropy/wcs/tests/test_wcs.py
  astropy/wcs/wcs.py
Labels: Refactoring, io.fits, wcs

#10532 Store sub-WCS created by sub() to get correct naxis estimate
  CHANGES.rst
  astropy/wcs/tests/test_wcs.py
  astropy/wcs/wcs.py
Labels: Bug, wcs

#10557 Convert 'ctype_name' to uppercase before appending to 'types'
  CHANGES.rst
  astropy/wcs/wcsapi/fitswcs.py
Labels: Bug, wcs, wcs.wcsapi

#10590 Remove LooseVersion
  astropy/io/misc/asdf/tags/transform/tests/test_transform.py
  astropy/tests/helper.py
  astropy/utils/introspection.py
  astropy/visualization/scripts/fits2bitmap.py
  astropy/visualization/tests/test_norm.py
  astropy/visualization/wcsaxes/tests/test_misc.py
  astropy/wcs/tests/test_wcs.py
  astropy/wcs/tests/test_wcsprm.py
  astropy/wcs/wcsapi/tests/test_fitswcs.py
Labels: Refactoring, installation, io.misc, io.misc.asdf, no-changelog-entry-needed, visualization, visualization.wcsaxes, wcs, wcs.wcsapi

#10589 TST: Fix linkcheck in cron job
  astropy/utils/decorators.py
  docs/development/workflow/git_links.inc
  docs/development/workflow/git_resources.rst
  tox.ini
Labels: Docs, Ready-for-final-review, no-changelog-entry-needed, testing

#10599 Fix ResourceWarning with fits.writeto and pathlib object
  CHANGES.rst
  astropy/io/fits/hdu/hdulist.py
  astropy/io/fits/tests/test_convenience.py
  astropy/io/fits/util.py
Labels: Bug, io.fits

#10593 Test fix: normalized filepaths before comparison
  astropy/utils/tests/test_data.py
Labels: Bug, Windows, no-changelog-entry-needed, testing, utils

#10592 fix earth location info
  CHANGES.rst
  astropy/coordinates/earth.py
  astropy/coordinates/tests/test_earth.py
  astropy/utils/data_info.py
Labels: Bug, coordinates, utils

#10609 TST: doctest compat with pandas 1.1.0
  astropy/table/table.py
Labels: Docs, no-changelog-entry-needed, table, testing

#10610 Fix SigmaClip output data values for masked=True, copy=True, axis is not None
  CHANGES.rst
  astropy/stats/sigma_clipping.py
  astropy/stats/tests/test_sigma_clipping.py
Labels: merge-when-ci-passes, stats

#10617 Update leap second and IERS tables.
  astropy/utils/iers/data/Leap_Second.dat
  astropy/utils/iers/data/eopc04_IAU2000.62-now
Labels: no-changelog-entry-needed, time, utils, utils.iers

#10602 Fix extract_array with integer input array and NaN fill value
  CHANGES.rst
  astropy/nddata/tests/test_utils.py
  astropy/nddata/utils.py
Labels: Bug, Ready-for-final-review, merge-when-ci-passes, nddata
