Repository astropy/astropy, pull requests merged in 2020-11, with the labels that each got.

#10972 MNT: Remove deprecated blackbody module
  CHANGES.rst
  astropy/modeling/blackbody.py
  astropy/modeling/models.py
  astropy/modeling/tests/test_blackbody.py
  docs/modeling/blackbody_deprecated.rst
  docs/modeling/physical_models.rst
Labels: Refactoring, modeling

#10969 Improved norm handling for Differential classes
  CHANGES.rst
  astropy/coordinates/representation.py
  astropy/coordinates/tests/test_representation.py
Labels: Bug, coordinates

#10975 Removed simultaneous use of norm and vmin/vmax
  docs/visualization/normalization.rst
Labels: Docs, no-changelog-entry-needed, visualization

#10984 Remove temporary warning in modeling
  astropy/modeling/math_functions.py
  astropy/modeling/tests/test_math_func.py
Labels: Refactoring, modeling, no-changelog-entry-needed

#10965 Add some common solar FITS WCS to IVOA mappings.
  CHANGES.rst
  astropy/wcs/wcsapi/fitswcs.py
Labels: Enhancement, wcs, wcs.wcsapi

#10970 Fixed missing induced velocity for helioecliptic transforms
  CHANGES.rst
  astropy/coordinates/builtin_frames/ecliptic_transforms.py
  astropy/coordinates/builtin_frames/icrs_cirs_transforms.py
  astropy/coordinates/builtin_frames/utils.py
  astropy/coordinates/tests/accuracy/test_ecliptic.py
  astropy/coordinates/tests/test_utils.py
Labels: Bug, coordinates

#10405 Build nightly wheels with Azure Pipelines
  azure-pipelines.yml
Labels: Enhancement, build, no-changelog-entry-needed

#10989 TST: Skip more flaky utils tests on Windows CI
  astropy/utils/tests/test_data.py
Labels: Windows, no-changelog-entry-needed, testing, utils, ¯\_(ツ)_/¯

#10995 Support masked bool data in ASCII files with blank string
  CHANGES.rst
  astropy/io/ascii/core.py
  astropy/io/ascii/tests/test_ecsv.py
  astropy/io/ascii/tests/test_read.py
Labels: Bug, io.ascii

#10515 Removing hardcoded filepaths in tests.
  astropy/io/ascii/tests/test_connect.py
  astropy/io/fits/tests/test_connect.py
  astropy/io/fits/tests/test_hdulist.py
  astropy/io/fits/tests/test_image.py
  astropy/visualization/wcsaxes/tests/test_coordinate_helpers.py
  astropy/visualization/wcsaxes/tests/test_images.py
  astropy/visualization/wcsaxes/tests/test_misc.py
  astropy/visualization/wcsaxes/tests/test_wcsapi.py
Labels: Refactoring, io.ascii, io.fits, no-changelog-entry-needed, testing, visualization, visualization.wcsaxes

#10966 TST: Undo PR 10863 now fix is upstream in numpy
  setup.cfg
Labels: no-changelog-entry-needed, numpy-dev, testing

#10281 Remove deprecated utils.timer and utils.misc.InheritDocstrings
  CHANGES.rst
  astropy/utils/misc.py
  astropy/utils/tests/test_misc.py
  astropy/utils/tests/test_timer.py
  astropy/utils/timer.py
  docs/_static/timer_prediction_pow10.png
  setup.cfg
Labels: Ready-for-final-review, Refactoring, utils

#11013 TST: Replace np.bool with bool
  astropy/io/ascii/tests/test_read.py
Labels: io.ascii, no-changelog-entry-needed, numpy-dev, testing

#10990 Remove OrderedDict from astropy.coordinates, small BaseCoordinateFrame.__init__ refactor
  astropy/coordinates/attributes.py
  astropy/coordinates/baseframe.py
  astropy/coordinates/representation.py
  astropy/coordinates/solar_system.py
  astropy/coordinates/tests/test_representation.py
  astropy/coordinates/tests/test_unit_representation.py
  astropy/coordinates/transformations.py
  docs/coordinates/frames.rst
  docs/coordinates/inplace.rst
  docs/coordinates/skycoord.rst
Labels: Refactoring, coordinates, no-changelog-entry-needed

#11012 DOC: Fix broken link
  docs/development/astropy-package-template.rst
Labels: Bug, Docs, no-changelog-entry-needed

#11014 MNT: Pin sphinx to avoid very slow doc build on RTD
  setup.cfg
Labels: Bug, Docs, Performance, Ready-for-final-review, no-changelog-entry-needed

#11020 TST: Relax warning check in remote coordinates test with IERS download
  astropy/coordinates/tests/test_intermediate_transformations.py
Labels: coordinates, no-changelog-entry-needed, testing

#10974 Github Action to label PR
  .github/labeler.yml
  .github/workflows/label_pr.yml
  pyproject.toml
Labels: Ready-for-final-review, no-changelog-entry-needed

#10895 Check that the SIMPLE card is present
  CHANGES.rst
  astropy/io/fits/connect.py
  astropy/io/fits/hdu/hdulist.py
  astropy/io/fits/tests/test_hdulist.py
Labels: Enhancement, io.fits

#11022 TST: Relax tolerances in test_bbox_size on Freetype version mismatch
  astropy/visualization/wcsaxes/tests/test_misc.py
Labels: no-changelog-entry-needed, testing, visualization.wcsaxes

#11023 Use jyear format instead of decimalyear in apply_space_motion example
  docs/coordinates/apply_space_motion.rst
Labels: Docs, coordinates, no-changelog-entry-needed

#11024 Skip intermittent fail for wheels
  azure-pipelines.yml
Labels: build, no-changelog-entry-needed, testing

#11033 Fix pytest for wheel builds
  azure-pipelines.yml
Labels: testing

#11034 MNT: Unpin sphinx<3.3
  setup.cfg
Labels: Docs, Performance, Ready-for-final-review, installation, no-changelog-entry-needed

#10388 TST: GitHub Actions as CI
  .github/workflows/ci_cron.yml
  .github/workflows/ci_workflows.yml
  .travis.yml
  README.rst
  astropy/utils/tests/test_data.py
  tox.ini
Labels: :fire:, no-changelog-entry-needed, testing

#11039 Make sure access to Header items is case insensitive
  astropy/io/fits/header.py
  astropy/io/fits/tests/test_header.py
Labels: io.fits, no-changelog-entry-needed

#11040 upload any codecov in GitHub CI
  .github/workflows/ci_workflows.yml
Labels: no-changelog-entry-needed, testing

#11019 TST: Handle PY_SSIZE_T_CLEAN warnings
  astropy/visualization/wcsaxes/tests/test_misc.py
  setup.cfg
Labels: no-changelog-entry-needed, testing, visualization.wcsaxes

#11037 TST: Add back --open-files to one job
  .github/workflows/ci_workflows.yml
  tox.ini
Labels: no-changelog-entry-needed, testing

#10942 MNT: Do not use IPython stream in console
  CHANGES.rst
  astropy/__init__.py
  astropy/utils/console.py
  docs/conf.py
  docs/install.rst
  setup.cfg
  tox.ini
Labels: Ready-for-final-review, Refactoring, utils

#10962 Add `Column.value` as an alias for `Column.data` for consistency with `Quantity` and `Time`
  CHANGES.rst
  astropy/table/column.py
  astropy/table/tests/test_column.py
Labels: Enhancement, table

#11032 VOTable unit format
  CHANGES.rst
  astropy/io/votable/exceptions.py
  astropy/io/votable/table.py
  astropy/io/votable/tests/tree_test.py
  astropy/io/votable/tree.py
  astropy/table/tests/test_mixin.py
  docs/units/format.rst
Labels: io.votable, table

#11053 TST: Move numpy-dev cron from daily to weekly
  .github/workflows/ci_cron.yml
  .github/workflows/ci_cron_weekly.yml
Labels: needs-discussion, no-changelog-entry-needed, numpy-dev, testing

#11001 Simplify transformation to true ecliptic coordinates
  astropy/coordinates/builtin_frames/ecliptic_transforms.py
Labels: Performance, Refactoring, coordinates, merge-when-ci-passes, no-changelog-entry-needed

#11054 Restrict builds on push events to master
  .github/workflows/ci_workflows.yml
Labels: no-changelog-entry-needed, testing

#11056 Run cron workflows only on the main repo
  .github/workflows/ci_cron.yml
  .github/workflows/ci_cron_weekly.yml
Labels: no-changelog-entry-needed, testing

#11052 DOC: Fix broken what's new link for v4.0
  docs/whatsnew/4.0.rst
Labels: Bug, Docs, no-changelog-entry-needed

#10994 Add topocentric CIRS and fix the CIRS to AltAz transformations
  CHANGES.rst
  astropy/coordinates/builtin_frames/cirs.py
  astropy/coordinates/builtin_frames/cirs_observed_transforms.py
  astropy/coordinates/builtin_frames/icrs_cirs_transforms.py
  astropy/coordinates/builtin_frames/intermediate_rotation_transforms.py
  astropy/coordinates/builtin_frames/utils.py
  astropy/coordinates/earth.py
  astropy/coordinates/erfa_astrom.py
  astropy/coordinates/tests/test_celestial_transformations.py
  astropy/coordinates/tests/test_erfa_astrom.py
  astropy/coordinates/tests/test_intermediate_transformations.py
  astropy/coordinates/tests/test_regression.py
  astropy/coordinates/tests/test_sky_coord.py
  docs/coordinates/common_errors.rst
  docs/coordinates/frames.rst
  docs/coordinates/index.rst
  docs/coordinates/satellites.rst
Labels: Enhancement, coordinates, precision, whatsnew-needed

#11055 Deprecate "accuracy" in all_world2pix
  CHANGES.rst
  astropy/wcs/wcs.py
Labels: API change, wcs

#11061 Use EarthLocation instead of GCRS position for TETE observer.
  astropy/coordinates/builtin_frames/equatorial.py
  astropy/coordinates/builtin_frames/icrs_cirs_transforms.py
  astropy/coordinates/builtin_frames/intermediate_rotation_transforms.py
  astropy/coordinates/solar_system.py
  astropy/coordinates/tests/test_intermediate_transformations.py
  astropy/coordinates/tests/test_solar_system.py
Labels: Affects-dev, Bug, coordinates

#11069 Speed up GCRS<->(TETE, CIRS) by smarter location conversions
  CHANGES.rst
  astropy/coordinates/builtin_frames/intermediate_rotation_transforms.py
  astropy/coordinates/earth.py
  astropy/coordinates/tests/test_intermediate_transformations.py
  docs/whatsnew/4.3.rst
Labels: Performance, coordinates, merge-when-ci-passes, precision

#11073 Speed up EarthLocation.get_gcrs
  CHANGES.rst
  astropy/coordinates/builtin_frames/intermediate_rotation_transforms.py
  astropy/coordinates/earth.py
  astropy/coordinates/tests/test_intermediate_transformations.py
  docs/coordinates/solarsystem.rst
Labels: Performance, coordinates

#11077 Do not access uninitialized info when adding a mixin to a table.
  CHANGES.rst
  astropy/table/column.py
  astropy/table/table.py
  astropy/table/tests/test_mixin.py
  astropy/utils/data_info.py
  astropy/utils/tests/test_data_info.py
Labels: Bug, Performance, table, utils

#11075 Minor edit to docs for binom_conf_interval
  astropy/stats/funcs.py
Labels: Docs, Enhancement, no-changelog-entry-needed, stats

#11018 TST: Relax remote data error check
  astropy/utils/tests/test_data.py
Labels: no-changelog-entry-needed, testing, utils

#11082 Fix backport compatibilities 4.0.4
  astropy/coordinates/tests/test_representation.py
  astropy/stats/tests/test_biweight.py
  astropy/time/formats.py
  docs/known_issues.rst
Labels: Release, merge-when-ci-passes, no-changelog-entry-needed, testing

#11065 Merge pull request #11061 from mhvk/tete-location
  astropy/coordinates/builtin_frames/equatorial.py
  astropy/coordinates/builtin_frames/icrs_cirs_transforms.py
  astropy/coordinates/builtin_frames/intermediate_rotation_transforms.py
  astropy/coordinates/builtin_frames/utils.py
  astropy/coordinates/solar_system.py
  astropy/coordinates/tests/test_intermediate_transformations.py
  astropy/coordinates/tests/test_solar_system.py
Labels: Bug, coordinates

#11084 cleanup mailmap and whatsnew for 4.2
  .mailmap
  docs/whatsnew/4.2.rst
Labels: Docs, merge-when-ci-passes, no-changelog-entry-needed

#11079 Direct icrs altaz
  CHANGES.rst
  astropy/coordinates/builtin_frames/__init__.py
  astropy/coordinates/builtin_frames/icrs_observed_transforms.py
  astropy/coordinates/tests/test_icrs_observed_transformations.py
Labels: Enhancement, coordinates

#11043 TST: Move 32-bit and parallel job to Actions
  .circleci/config.yml
  .github/workflows/ci_workflows.yml
Labels: no-changelog-entry-needed, testing

#11088 DOC: Fix typo in 4.2 What's New
  docs/whatsnew/4.2.rst
Labels: Bug, Docs, no-changelog-entry-needed

#11085 Post v4.2 release changelog and docs cleanup
  .mailmap
  CHANGES.rst
  docs/credits.rst
Labels: Docs, no-changelog-entry-needed

#11062 Fix leap second update when using a non english locale
  .github/workflows/ci_workflows.yml
  CHANGES.rst
  astropy/io/ascii/tests/test_read.py
  astropy/utils/iers/iers.py
  astropy/utils/iers/tests/test_leap_second.py
  astropy/utils/tests/test_misc.py
Labels: Bug, utils.iers

#11090 Remove metaclasses from astropy.coordinates
  CHANGES.rst
  astropy/coordinates/baseframe.py
  astropy/coordinates/representation.py
Labels: Refactoring, coordinates

#11101 Follow-up to #11090 to address #11096
  astropy/coordinates/baseframe.py
  astropy/coordinates/tests/test_frames.py
Labels: Affects-dev, coordinates

#11098 Remove use of OrderedDict from astropy.modeling
  astropy/modeling/core.py
  astropy/modeling/tests/test_models_quantities.py
Labels: Affects-dev, Refactoring, modeling

#11045 Add aarch64, ppc64le, and s390x builds to GitHub actions
  .github/workflows/ci_cron_daily.yml
  .github/workflows/ci_cron_weekly.yml
  .travis.yml
Labels: Ready-for-final-review, no-changelog-entry-needed, platform-ppc, testing
