Repository astropy/astropy, pull requests merged in 2020-03, with the labels that each got.

#9762 Flag examples in constants sub-package
  docs/constants/index.rst
Labels: Docs, constants, no-changelog-entry-needed

#9754 Flag examples in config sub-package
  docs/config/index.rst
Labels: Docs, Enhancement, config, no-changelog-entry-needed

#9788 Flag examples in convolution sub-package
  docs/convolution/index.rst
  docs/convolution/kernels.rst
  docs/convolution/non_normalized_kernels.rst
  docs/convolution/using.rst
Labels: Docs, convolution, copyedited, no-changelog-entry-needed

#9814 Flag examples in coordinates sub-package
  docs/coordinates/angles.rst
  docs/coordinates/apply_space_motion.rst
  docs/coordinates/formatting.rst
  docs/coordinates/frames.rst
  docs/coordinates/galactocentric.rst
  docs/coordinates/index.rst
  docs/coordinates/matchsep.rst
  docs/coordinates/performance.inc.rst
  docs/coordinates/representations.rst
  docs/coordinates/skycoord.rst
  docs/coordinates/solarsystem.rst
  docs/coordinates/transforming.rst
  docs/coordinates/velocities.rst
Labels: Docs, coordinates, no-changelog-entry-needed

#9978 Add verification of disp (TDISP) keyword to fits.column and tests for TFORM
  CHANGES.rst
  astropy/io/fits/column.py
  astropy/io/fits/tests/test_table.py
Labels: Affects-release, Bug, io.fits

#9994 DOC: Clarify gamma in Lorentz1D
  astropy/modeling/functional_models.py
Labels: Docs, modeling, no-changelog-entry-needed

#9505 VO table no longer access char field as bytes
  CHANGES.rst
  astropy/io/votable/converters.py
  astropy/io/votable/exceptions.py
  astropy/io/votable/tests/converter_test.py
  astropy/io/votable/tests/vo_test.py
  astropy/io/votable/tree.py
Labels: Bug, Ready-for-final-review, io.votable

#9971 very minor changes to support Functional units in CDS tables
  CHANGES.rst
  astropy/io/ascii/tests/data/cdsFunctional.dat
  astropy/io/ascii/tests/test_cds_header_from_readme.py
  astropy/units/format/cds.py
  astropy/units/format/cds_lextab.py
  astropy/units/format/cds_parsetab.py
  astropy/units/function/logarithmic.py
  astropy/units/tests/test_format.py
  astropy/units/tests/test_logarithmic.py
Labels: Enhancement, io.ascii, merge-when-ci-passes, units

#10005 Validate type of key arguments in io.ascii read() and write()
  CHANGES.rst
  astropy/io/ascii/cds.py
  astropy/io/ascii/docs.py
  astropy/io/ascii/fastbasic.py
  astropy/io/ascii/tests/test_ecsv.py
  astropy/io/ascii/tests/test_read.py
  astropy/io/ascii/tests/test_write.py
  astropy/io/ascii/ui.py
  docs/io/ascii/read.rst
Labels: io.ascii

#10007 Cache readonly improvements
  CHANGES.rst
  astropy/utils/data.py
  astropy/utils/tests/test_data.py
Labels: Bug, utils

#10011 MAINT: fix travis config issues
  .travis.yml
Labels: merge-when-ci-passes, no-changelog-entry-needed, testing

#9868 Immediate validation of Time and TimeFormat in_subfmt and out_subfmt properties
  CHANGES.rst
  astropy/time/core.py
  astropy/time/formats.py
  astropy/time/tests/test_basic.py
Labels: API change, merge-when-ci-passes, time

#10013 Fixing issue with reference times in BoxLeastSquares
  CHANGES.rst
  astropy/timeseries/periodograms/bls/core.py
  astropy/timeseries/periodograms/bls/tests/test_bls.py
Labels: Bug, timeseries

#10014 Add known issue about using float on complex numbers
  docs/known_issues.rst
Labels: Docs, no-changelog-entry-needed

#10016 Fix technically correct, but non-sensical example in docstring
  astropy/coordinates/sky_coordinate.py
Labels: Docs, coordinates, no-changelog-entry-needed

#9835 Flag examples in cosmology sub-package
  docs/cosmology/index.rst
Labels: Docs, cosmology, no-changelog-entry-needed

#10012 Fix checksum verification to process all HDUs
  CHANGES.rst
  astropy/io/fits/hdu/hdulist.py
  astropy/io/fits/tests/test_checksum.py
Labels: Affects-release, Bug, io.fits

#9468 Expanded documentation for the radio_velocity_correction method to de…
  astropy/coordinates/sky_coordinate.py
Labels: Docs, coordinates, no-changelog-entry-needed

#10017 Change a number in an example
  astropy/coordinates/sky_coordinate.py
Labels: Docs, coordinates, no-changelog-entry-needed

#10019 Remove inframe keyword from wcsaxes
  astropy/visualization/wcsaxes/core.py
Labels: merge-when-ci-passes, no-changelog-entry-needed, visualization, visualization.wcsaxes

#10018 Set max line length for PEP 8 check
  setup.cfg
Labels: no-changelog-entry-needed, testing

#10015 ENH: spectral_density equivalency now handles integrated flux
  CHANGES.rst
  astropy/units/equivalencies.py
  astropy/units/tests/test_equivalencies.py
  docs/units/equivalencies.rst
Labels: Enhancement, merge-when-ci-passes, units

#9976 update docs to point to the correct docs invocation to build docs
  docs/install.rst
Labels: Affects-dev, Docs, astropy-helpers-removal

#10027 Fix bug in table Index.insert_row()
  CHANGES.rst
  astropy/table/index.py
  astropy/table/tests/test_index.py
Labels: Bug, table

#9980 Use motion in rvs
  CHANGES.rst
  astropy/coordinates/sky_coordinate.py
  astropy/coordinates/tests/test_velocity_corrs.py
  docs/coordinates/velocities.rst
  docs/units/equivalencies.rst
Labels: Bug, coordinates, units

#10036 Remove unused variables and imports
  astropy/units/tests/test_quantity.py
Labels: no-changelog-entry-needed, testing, units

#10030 Pass output_verify to close via fits.open
  CHANGES.rst
  astropy/io/fits/hdu/hdulist.py
  astropy/io/fits/tests/test_hdulist.py
Labels: Bug, io.fits

#10045 Use ci helpers pinnings file
  .circleci/config.yml
  tox.ini
Labels: Ready-for-final-review, no-changelog-entry-needed, testing

#10046 TST: Make ignore_matplotlibrc a pytest fixture
  astropy/conftest.py
  astropy/tests/image_tests.py
  astropy/visualization/wcsaxes/tests/test_coordinate_helpers.py
  astropy/visualization/wcsaxes/tests/test_display_world_coordinates.py
  astropy/visualization/wcsaxes/tests/test_misc.py
Labels: Bug, merge-when-ci-passes, no-changelog-entry-needed, testing, visualization, visualization.wcsaxes

#10041 Prevent instantiation of PrimaryHDU and ImageHDU with a scalar
  CHANGES.rst
  astropy/io/fits/hdu/image.py
  astropy/io/fits/tests/test_image.py
Labels: Bug, io.fits, merge-when-ci-passes

#10035 MNT: Set minversion of scipy
  astropy/__init__.py
  conftest.py
  docs/conf.py
  docs/install.rst
  setup.cfg
  tox.ini
Labels: Bug, installation, merge-when-ci-passes, no-changelog-entry-needed, testing

#9352 Fits structural kw docs
  docs/io/fits/appendix/faq.rst
  docs/io/fits/index.rst
Labels: Docs, io.fits, merge-when-ci-passes, no-changelog-entry-needed

#10038 MNT: Update expat 2.2.9
  CHANGES.rst
  astropy/utils/xml/setup_package.py
  astropy/utils/xml/src/expat_config.h
  cextern/expat/.gitignore
  cextern/expat/Changes
  cextern/expat/README.md
  cextern/expat/expat_config.h
  cextern/expat/expat_config.h.in
  cextern/expat/lib/.gitignore
  cextern/expat/lib/Makefile.am
  cextern/expat/lib/Makefile.in
  cextern/expat/lib/asciitab.h
  cextern/expat/lib/expat.h
  cextern/expat/lib/expat_external.h
  cextern/expat/lib/iasciitab.h
  cextern/expat/lib/internal.h
  cextern/expat/lib/latin1tab.h
  cextern/expat/lib/libexpat.def
  cextern/expat/lib/libexpatw.def
  cextern/expat/lib/loadlibrary.c
  cextern/expat/lib/nametab.h
  cextern/expat/lib/siphash.h
  cextern/expat/lib/utf8tab.h
  cextern/expat/lib/winconfig.h
  cextern/expat/lib/xmlparse.c
  cextern/expat/lib/xmlrole.c
  cextern/expat/lib/xmlrole.h
  cextern/expat/lib/xmltok.c
  cextern/expat/lib/xmltok.h
  cextern/expat/lib/xmltok_impl.c
  cextern/expat/lib/xmltok_impl.h
  cextern/expat/lib/xmltok_ns.c
  cextern/trim_expat.sh
Labels: Enhancement, external

#9991 Fix LaTeX error due to labels that become empty in simplify_labels
  CHANGES.rst
  astropy/visualization/wcsaxes/tests/test_misc.py
  astropy/visualization/wcsaxes/ticklabels.py
Labels: Affects-release, Bug, merge-when-ci-passes, visualization, visualization.wcsaxes

#10034 Ensure mixing regular and long double input to Time is possible.
  CHANGES.rst
  astropy/time/formats.py
  astropy/time/tests/test_basic.py
Labels: Affects-release, Bug, time

#9804 Do not attempt to do in-place changes inside the erfa python wrappers
  astropy/_erfa/core.py.templ
  astropy/_erfa/erfa_generator.py
  astropy/_erfa/tests/test_erfa.py
Labels: Bug, erfa, no-changelog-entry-needed

#9663 Add big-endian s390 architecture on travis
  .travis.yml
Labels: no-changelog-entry-needed, testing

#9668 Add arm64 CI run to travis
  .travis.yml
Labels: no-changelog-entry-needed, testing

#10059 Cleaning up travis config for 4.0.x
  .travis.yml
Labels: no-changelog-entry-needed, testing

#10062 Set 'Agg' backend after reverting to matplotlib defaults
  astropy/conftest.py
Labels: no-changelog-entry-needed

#10060 Minor changes to travis setup
  .travis.yml
Labels: no-changelog-entry-needed, testing

#10066 Fix ndmin issue 10063
  CHANGES.rst
  astropy/units/quantity.py
  astropy/units/tests/test_quantity.py
Labels: Bug, merge-when-ci-passes, units

#10068 Ensure that table.show_in_browser works for mixin columns.
  CHANGES.rst
  astropy/table/jsviewer.py
  astropy/table/tests/test_jsviewer.py
Labels: Bug, table

#10071 Fix Documentation Bug in io.ascii
  docs/io/ascii/index.rst
  docs/io/ascii/read.rst
Labels: Docs, io.ascii, no-changelog-entry-needed

#10069 Fix column access by attribute with FITS_rec
  CHANGES.rst
  astropy/io/fits/fitsrec.py
  astropy/io/fits/tests/test_table.py
Labels: io.fits

#9985 BUG: Fix deprecated_renamed_argument not issuing warning when deprecated keyword with no new_name called as positional argument
  CHANGES.rst
  astropy/utils/decorators.py
  astropy/utils/tests/test_decorators.py
Labels: Affects-release, Bug, utils

#10077 remove a tricksy print statement in wcs_info_str
  astropy/wcs/wcsapi/utils.py
Labels: Bug, no-changelog-entry-needed, wcs, wcs.wcsapi

#10078 Fix transient failure with warnings catching in test_output_verify
  astropy/io/fits/tests/test_hdulist.py
Labels: io.fits, no-changelog-entry-needed, testing

#9984 Copy editing: table
  docs/table/access_table.rst
  docs/table/construct_table.rst
  docs/table/implementation_details.rst
  docs/table/index.rst
  docs/table/indexing.rst
  docs/table/io.rst
  docs/table/masking.rst
  docs/table/mixin_columns.rst
  docs/table/modify_table.rst
  docs/table/operations.rst
  docs/table/pandas.rst
  docs/table/performance.inc.rst
Labels: Docs, no-changelog-entry-needed, table

#10080 Changelog cleanup post 4.0.1 release
  CHANGES.rst
Labels: no-changelog-entry-needed

#10050 Add examples to illustrate use of fill_include/exclude_names
  docs/io/ascii/read.rst
Labels: Docs, io.ascii, no-changelog-entry-needed

#9472 Add unit argument to Table.from_pandas
  CHANGES.rst
  astropy/table/table.py
  astropy/table/tests/test_table.py
Labels: Enhancement, table

#10088 Fix remote data doctest for wcsapi
  docs/wcs/wcsapi.rst
Labels: no-changelog-entry-needed, testing, wcs, wcs.wcsapi

#10081 Add TimeUnixTai (unix_tai) time format class
  CHANGES.rst
  astropy/time/core.py
  astropy/time/formats.py
  astropy/time/tests/test_basic.py
  docs/time/index.rst
Labels: time, whatsnew-needed

#10085 Replace uses of tostring with tobytes
  astropy/io/fits/tests/test_division.py
  astropy/io/fits/tests/test_table.py
  astropy/io/fits/util.py
  astropy/io/misc/yaml.py
  astropy/io/votable/converters.py
  astropy/units/quantity.py
  astropy/units/tests/test_quantity_array_methods.py
Labels: io.fits, io.misc, io.votable, no-changelog-entry-needed, units
