Repository astropy/astropy, pull requests merged in 2020-10, with the labels that each got.

#10768 Fix handling of 1d table elements with single entry in fits
  CHANGES.rst
  astropy/io/fits/column.py
  astropy/io/fits/tests/test_connect.py
  astropy/io/fits/tests/test_table.py
Labels: Bug, io.fits

#10771 Speedup local docs build following ideas from #10187
  tox.ini
Labels: Docs, no-changelog-entry-needed

#10613 Add a grow parameter to sigma_clip et al.
  CHANGES.rst
  astropy/stats/sigma_clipping.py
  astropy/stats/tests/test_sigma_clipping.py
Labels: merge-when-ci-passes, stats

#10308 Spell out SLSQP in SLSQPLSQFitter class docstring
  astropy/modeling/fitting.py
Labels: Docs, modeling, no-changelog-entry-needed

#10656 Refactor `Time` and `TimeDelta` to inherit from common `TimeBase` class
  CHANGES.rst
  astropy/table/table.py
  astropy/time/core.py
  astropy/timeseries/binned.py
  astropy/timeseries/periodograms/bls/core.py
  astropy/timeseries/sampled.py
Labels: API change, table, time, whatsnew-needed

#10793 Fix #10785: work around matplotlib warning caused by PyInstaller
  .gitignore
  astropy/conftest.py
Labels: Affects-dev, Bug, testing

#10784 undoes part of #8108 that was incorrect
  CHANGES.rst
  astropy/modeling/functional_models.py
Labels: Bug, modeling

#10801 Ignore imp warning triggered by ProgressBar + IPython
  setup.cfg
Labels: no-changelog-entry-needed, testing, utils

#10764 Fix typos in modeling
  CHANGES.rst
  astropy/modeling/fitting.py
  astropy/modeling/tests/test_fitters.py
Labels: Affects-dev, modeling, no-changelog-entry-needed

#10802 Reduce number in points in coordinate example, fixes #10794
  docs/coordinates/performance.inc.rst
Labels: Affects-dev, Docs, Performance, coordinates

#10346 Bugfix: Adding bounds to wcs fitting
  CHANGES.rst
  astropy/wcs/tests/test_utils.py
  astropy/wcs/utils.py
Labels: Bug, wcs

#10804 Capitalize semver
  docs/conf.py
  docs/development/astropy-package-template.rst
  docs/development/releasing.rst
Labels: no-changelog-entry-needed

#10805 TST: Fix error message regex due to upstream change
  astropy/coordinates/tests/test_sky_coord.py
Labels: coordinates, no-changelog-entry-needed, numpy-dev, testing

#10646 Add isclose() method to Time and TimeDelta classes
  CHANGES.rst
  astropy/time/core.py
  astropy/time/tests/test_comparisons.py
Labels: Enhancement, time, whatsnew-needed

#10746 TST: Skip flaky test_compound_fitting_with_units
  astropy/modeling/tests/test_quantities_fitting.py
Labels: modeling, no-changelog-entry-needed, testing

#10691 Re-include astropy/*/src/*.c in .gitignore
  .gitignore
Labels: no-changelog-entry-needed

#10810 Fix CI in v4.0.x branch
  .circleci/config.yml
  astropy/table/tests/test_index.py
  docs/conf.py
  docs/coordinates/solarsystem.rst
  docs/development/testguide.rst
  docs/install.rst
  docs/nitpick-exceptions
  docs/whatsnew/4.0.rst
Labels: Bug, no-changelog-entry-needed, testing

#10774 Never use setuptools_scm except when importing astropy from a git repository
  .gitignore
  MANIFEST.in
  astropy/_dev/__init__.py
  astropy/_dev/scm_version.py
  astropy/version.py
  setup.cfg
  setup.py
Labels: :fire:, Bug, installation, no-changelog-entry-needed

#10825 Fix Azure sdist job
  MANIFEST.in
  pyproject.toml
  setup.py
Labels: no-changelog-entry-needed

#10828 Use IAU 2006 matrix for converting to true coordinates.
  astropy/coordinates/solar_system.py
Labels: Bug, coordinates, no-changelog-entry-needed

#10819 Fix empty Column initialization for structured dtype.
  CHANGES.rst
  astropy/table/column.py
  astropy/table/tests/test_column.py
Labels: Bug, table

#10833 Fix interpolator
  astropy/coordinates/erfa_astrom.py
Labels: Affects-dev, Bug, coordinates

#10831 Ensure possible astropy/_dev gets ignored in tests
  .travis.yml
  setup.cfg
Labels: Bug, no-changelog-entry-needed, testing

#10840 TST: yet more URLError alternate names
  astropy/utils/tests/test_data.py
Labels: no-changelog-entry-needed, testing, utils

#10829 Updates to changelog following v4.0.2 release
  CHANGES.rst
Labels: no-changelog-entry-needed

#10666 Include a realistic treatment of solar light deflection for nearby objects
  CHANGES.rst
  astropy/coordinates/builtin_frames/icrs_cirs_transforms.py
  astropy/coordinates/builtin_frames/utils.py
  astropy/coordinates/tests/test_atc_replacements.py
  astropy/coordinates/tests/test_regression.py
Labels: coordinates

#10566 Updating uncertainty doc in Constants Class to add "absolute"
  astropy/constants/constant.py
Labels: Docs, constants, no-changelog-entry-needed

#10754 TST: Accept socket warning for now in test_data_noastropy_fallback
  astropy/utils/tests/test_data.py
Labels: merge-when-ci-passes, no-changelog-entry-needed, testing, utils

#10846 TST: Allow Windows CI to fail for now
  .travis.yml
Labels: Windows, no-changelog-entry-needed, testing, ¯\_(ツ)_/¯

#10837 Fix installation of Astropy LTS with old pip versions
  CHANGES.rst
  setup.cfg
  setup.py
Labels: Bug, installation, merge-when-ci-passes

#10850 Use manylinux1 for LTS wheels
  azure-pipelines.yml
Labels: Release, no-changelog-entry-needed

#10852 Fix error with double Numpy requirement with LTS and pip 10
  CHANGES.rst
  pyproject.toml
  setup.cfg
Labels: Bug, Release

#10799 WCSAxes AxisLabel refactoring
  astropy/visualization/wcsaxes/axislabels.py
  astropy/visualization/wcsaxes/frame.py
Labels: Refactoring, no-changelog-entry-needed, visualization.wcsaxes

#10855 TST: Pin pytest in oldest deps job in LTS
  .travis.yml
Labels: Bug, no-changelog-entry-needed, testing

#10858 Updated changelog following v4.0.3 release
  CHANGES.rst
Labels: Docs, Release, no-changelog-entry-needed

#10863 TST: Ignore dtype with a subarray field deprecation warning
  setup.cfg
Labels: no-changelog-entry-needed, numpy-dev, testing

#10860 EXP: Choco install windows on Travis CI
  .travis.yml
Labels: Windows, no-changelog-entry-needed, testing

#10848 DOC: Update list of functions that lose units
  docs/known_issues.rst
Labels: Docs, no-changelog-entry-needed, units

#10849 DOC: Update dev workflow example
  docs/development/workflow/command_history.rst
  docs/development/workflow/command_history.sh
  docs/development/workflow/command_history_with_output.sh
  docs/development/workflow/git_edit_workflow_examples.rst
  docs/development/workflow/terminal_cast.rst
Labels: Docs, no-changelog-entry-needed

#10826 Remove unnecessary step in release and fix rst syntax
  docs/development/releasing.rst
Labels: Docs, Release, no-changelog-entry-needed

#10814 Simplify prepare_earth_position_vel, removes calling epv00 twice, fixes #10813
  CHANGES.rst
  astropy/coordinates/builtin_frames/utils.py
Labels: Performance, Refactoring, coordinates

#10873 Use manylinux1 for linux wheels
  azure-pipelines.yml
Labels: Release, no-changelog-entry-needed

#10884 Remove config and file related to deprecated bdist_wininst
  setup.cfg
  static/wininst_background.bmp
Labels: Refactoring, build, no-changelog-entry-needed

#10874 TST: Fix doctest failures
  docs/known_issues.rst
Labels: :fire:, Affects-dev, Bug, Docs, merge-when-ci-passes, testing

#10261 Make code snippets from docstring
  astropy/coordinates/angles.py
Labels: Docs, coordinates, no-changelog-entry-needed

#10881 fix division by zero warnings for values near sun
  astropy/coordinates/builtin_frames/utils.py
Labels: Affects-dev, Bug, coordinates, merge-when-ci-passes

#10869 Add 10666 what's new entry for 4.1
  CHANGES.rst
  docs/whatsnew/4.1.rst
Labels: Docs, no-changelog-entry-needed

#10880 Ignore parallel option in fast C reader
  CHANGES.rst
  astropy/io/ascii/cparser.pyx
  setup.cfg
Labels: Bug, Performance, Ready-for-final-review, io.ascii

#10739 DOC: Add info about draft PR
  docs/development/workflow/development_workflow.rst
Labels: Docs, Enhancement, no-changelog-entry-needed

#10824 Fix table sorting for a single Time column
  CHANGES.rst
  astropy/table/table.py
  astropy/table/tests/test_operations.py
Labels: Bug, table

#10822 Made convolve work with units, closing issue #10811
  CHANGES.rst
  astropy/convolution/convolve.py
  astropy/convolution/tests/test_convolve.py
  astropy/convolution/tests/test_convolve_fft.py
Labels: Enhancement, Ready-for-final-review, convolution

#10891 Representation conversion can lose information
  astropy/coordinates/representation.py
Labels: Docs, coordinates, no-changelog-entry-needed

#10885 Backport light deflection
  astropy/coordinates/builtin_frames/icrs_cirs_transforms.py
  astropy/coordinates/builtin_frames/utils.py
Labels: coordinates

#10876 Handle change in default epoch in matplotlib 3.3
  CHANGES.rst
  astropy/time/formats.py
  astropy/time/tests/test_basic.py
  astropy/visualization/tests/test_time.py
  docs/time/index.rst
Labels: Bug, time

#10899 TST: Skip doctest from PR 10848 due to Numpy 1.16 behavior
  docs/known_issues.rst
Labels: Affects-dev, Docs, testing, units

#10898 Drop failing warning in v4.1.x
  astropy/io/ascii/tests/test_c_reader.py
Labels: Affects-dev, testing

#10857 TST: Relax test_data_at_range_limit warning check
  astropy/io/ascii/tests/test_c_reader.py
Labels: Bug, io.ascii, no-changelog-entry-needed, testing

#10627 ENH: Free space getter and checker to handle Quantity
  CHANGES.rst
  astropy/utils/data.py
  astropy/utils/tests/test_data.py
Labels: Enhancement, Ready-for-final-review, utils

#10890 When slicing a table mixin column, do not copy indices by default.
  CHANGES.rst
  astropy/table/table.py
  astropy/table/tests/test_index.py
  astropy/utils/data_info.py
Labels: Bug, Performance, table

#10862 Added a Quadrangle patch for WCSAxes
  CHANGES.rst
  astropy/visualization/wcsaxes/patches.py
  astropy/visualization/wcsaxes/tests/test_images.py
  docs/visualization/wcsaxes/overlays.rst
Labels: visualization, visualization.wcsaxes

#10903 changed default in docstring for cylindrical equal area
  astropy/modeling/projections.py
Labels: Bug, Docs, modeling, no-changelog-entry-needed

#10341 Added a context manager to set all of the finite-difference time steps in a TransformGraph
  CHANGES.rst
  astropy/coordinates/tests/test_transformations.py
  astropy/coordinates/transformations.py
  docs/coordinates/velocities.rst
Labels: Enhancement, coordinates

#10904 Add note to isclose/allclose about atol
  astropy/units/quantity.py
Labels: Docs, no-changelog-entry-needed, units

#10910 add .github_cache to gitignore
  .gitignore
Labels: no-changelog-entry-needed

#10913 Fix badge link to travis.com in README
  README.rst
Labels: Docs, no-changelog-entry-needed

#10889 Do not copy info when getting scalar Time item
  CHANGES.rst
  astropy/table/tests/test_mixin.py
  astropy/time/core.py
  astropy/utils/data_info.py
  astropy/utils/tests/test_data_info.py
Labels: Performance, time, timeseries

#10806 Refactor TickLabels drawing code in WCSAxes
  CHANGES.rst
  astropy/visualization/wcsaxes/ticklabels.py
Labels: Refactoring, merge-when-ci-passes, visualization, visualization.wcsaxes

#10893 Fix a few issues with generate_config
  CHANGES.rst
  astropy/config/configuration.py
  astropy/config/tests/test_configs.py
Labels: Bug, config

#10916 update changelog for 4.1 release
  CHANGES.rst
Labels: Docs, no-changelog-entry-needed

#10871 TST: Do not use conda for OSX
  .travis.yml
Labels: Mac OSX, no-changelog-entry-needed, testing

#10883 Remove extension auto-building machinery
  CHANGES.rst
  astropy/__init__.py
Labels: Refactoring, build, needs-discussion

#10925 TST: Skip bayesian_info_criterion_lsq doctest
  astropy/stats/info_theory.py
Labels: Bug, Docs, no-changelog-entry-needed, stats, testing

#10911 Split the Azure wheel jobs up
  azure-pipelines.yml
Labels: Release, no-changelog-entry-needed

#10195 Store information about dimensions that are dropped in SlicedLowLevelWCS
  CHANGES.rst
  astropy/wcs/wcsapi/conftest.py
  astropy/wcs/wcsapi/wrappers/sliced_wcs.py
  astropy/wcs/wcsapi/wrappers/tests/test_sliced_wcs.py
Labels: visualization, visualization.wcsaxes, wcs, wcs.wcsapi

#10628 MNT: Deprecate unused keywords in utils/data.py
  CHANGES.rst
  astropy/utils/data.py
Labels: API change, Refactoring, utils

#10924 TST: Skip test_update_parallel_multi on Windows CI too
  astropy/utils/tests/test_data.py
Labels: Bug, Windows, no-changelog-entry-needed, testing, utils, ¯\_(ツ)_/¯

#10866 Fix overly pessimistic polar motion warning, fixes #10645
  astropy/coordinates/builtin_frames/utils.py
  astropy/coordinates/tests/test_utils.py
Labels: Refactoring, coordinates, no-changelog-entry-needed

#10867 Add True Equator, True Equinox (TETE) coordinate system and tests
  CHANGES.rst
  astropy/coordinates/builtin_frames/__init__.py
  astropy/coordinates/builtin_frames/equatorial.py
  astropy/coordinates/builtin_frames/icrs_cirs_transforms.py
  astropy/coordinates/builtin_frames/intermediate_rotation_transforms.py
  astropy/coordinates/builtin_frames/teme.py
  astropy/coordinates/solar_system.py
  astropy/coordinates/tests/test_intermediate_transformations.py
  astropy/coordinates/tests/test_solar_system.py
Labels: coordinates

#10484 Add world coordinate names to coordinate map aliases
  CHANGES.rst
  astropy/visualization/wcsaxes/coordinates_map.py
  astropy/visualization/wcsaxes/tests/test_wcsapi.py
  astropy/visualization/wcsaxes/wcsapi.py
Labels: Bug, merge-when-ci-passes, visualization, visualization.wcsaxes

#10398 Simplify SpectralCoord implementation
  CHANGES.rst
  astropy/coordinates/spectral_coordinate.py
  astropy/coordinates/tests/test_spectral_coordinate.py
  docs/coordinates/spectralcoord.rst
Labels: Performance, Refactoring, coordinates

#10632 ENH: New astropy.utils.data.conf.allow_internet to replace remote_timeout=0
  CHANGES.rst
  astropy/utils/data.py
  astropy/utils/tests/test_data.py
  docs/utils/data.rst
Labels: Enhancement, Ready-for-final-review, Refactoring, utils

#10580 MNT: Replace distutils.log with astropy logger
  astropy/tests/command.py
Labels: Ready-for-final-review, no-changelog-entry-needed, testing

#10465 Hypothesis config for CI/cron
  conftest.py
Labels: Enhancement, Ready-for-final-review, no-changelog-entry-needed, testing

#10684 ENH: Expose _is_url as is_url
  CHANGES.rst
  astropy/utils/data.py
  astropy/utils/tests/test_data.py
Labels: Enhancement, merge-when-ci-passes, utils

#10360 Faster parsing of fixed-format time strings in Time
  CHANGES.rst
  astropy/time/__init__.py
  astropy/time/formats.py
  astropy/time/setup_package.py
  astropy/time/src/parse_times.c
  astropy/time/tests/test_fast_parser.py
  docs/time/index.rst
Labels: Performance, Ready-for-final-review, new benchmark, time, whatsnew-needed

#10927 BUG: Revert abspath in setup package
  astropy/config/tests/test_configs.py
  astropy/convolution/setup_package.py
  astropy/io/ascii/setup_package.py
  astropy/modeling/setup_package.py
  astropy/table/setup_package.py
  astropy/timeseries/periodograms/bls/setup_package.py
  astropy/utils/setup_package.py
  astropy/wcs/setup_package.py
Labels: :fire:, Bug, Windows, build, merge-when-ci-passes, no-changelog-entry-needed

#10929 Updated RTD configuration for older-docs-archive branch
  .circleci/config.yml
  .readthedocs.yml
Labels: no-changelog-entry-needed, skip-changelog-checks

#10928 TST: Skip flaky float cmp doctest
  docs/coordinates/spectralcoord.rst
Labels: Affects-dev, Bug, Docs, coordinates, testing

#10908 Travis use focal for apt based v3
  .travis.yml
  astropy/io/fits/tests/test_checksum.py
  setup.cfg
Labels: testing

#10872 ENH: Calculate WCS pixel area and scales as Quantity
  CHANGES.rst
  astropy/wcs/tests/test_wcs.py
  astropy/wcs/wcs.py
Labels: Enhancement, merge-when-ci-passes, wcs

#10797 Fix WCSAxes bbox calculation
  CHANGES.rst
  astropy/visualization/wcsaxes/core.py
  astropy/visualization/wcsaxes/tests/test_misc.py
Labels: Bug, merge-when-ci-passes, visualization.wcsaxes

#10915 Add published version of Planck 18 cosmology.
  CHANGES.rst
  astropy/cosmology/core.py
  astropy/cosmology/parameters.py
  docs/cosmology/index.rst
  docs/units/equivalencies.rst
  docs/whatsnew/4.2.rst
Labels: Enhancement, cosmology, merge-when-ci-passes, whatsnew-needed

#10759 Update wcs fit
  CHANGES.rst
  astropy/wcs/tests/test_utils.py
  astropy/wcs/utils.py
Labels: Bug, wcs

#10476 Raise TypeError when scalar column added to empty table
  CHANGES.rst
  astropy/table/table.py
  astropy/table/tests/test_table.py
Labels: API change, merge-when-ci-passes, table

#10933 Upgrade doctestplus on travis using pip
  .travis.yml
  setup.cfg
Labels: no-changelog-entry-needed, testing

#10931 Time fast reader bigendian fix
  astropy/time/formats.py
  astropy/time/setup_package.py
  astropy/time/src/parse_times.c
Labels: Affects-dev, Bug, Ready-for-final-review, platform-ppc, time

#10935 Remove unnecessary array copy in pixel_scale_matrix
  astropy/wcs/wcs.py
Labels: Refactoring, no-changelog-entry-needed, wcs

#10670 Modeling leastsquare statistic in N-Dimensions
  CHANGES.rst
  astropy/modeling/statistic.py
  astropy/modeling/tests/test_statistics.py
Labels: Enhancement, modeling

#10941 TST: No fuzzing for arm64
  conftest.py
Labels: Affects-dev, Bug, testing, time

#10940 TST: Fix pyinstaller not recognizing pytest fixture
  .pyinstaller/run_astropy_tests.py
Labels: Affects-dev, Bug, Ready-for-final-review, testing, wcs.wcsapi

#10912 Fix biweight stats when MAD=0 and axis is input
  CHANGES.rst
  astropy/stats/biweight.py
  astropy/stats/tests/test_biweight.py
Labels: Bug, stats

#10945 BUG: Fix matplotlib version check in test
  astropy/visualization/wcsaxes/tests/test_misc.py
Labels: Affects-dev, Bug, merge-when-ci-passes, testing, visualization.wcsaxes

#10900 MNT: Bump minversion of Python to 3.7 (also Scipy, PyYAML, Matplotlib)
  .circleci/config.yml
  .travis.yml
  CHANGES.rst
  CONTRIBUTING.md
  astropy/__init__.py
  astropy/coordinates/matching.py
  astropy/coordinates/sky_coordinate.py
  astropy/io/fits/util.py
  astropy/io/misc/yaml.py
  astropy/modeling/functional_models.py
  astropy/modeling/tabular.py
  astropy/stats/funcs.py
  astropy/table/table.py
  astropy/table/tests/test_init_table.py
  astropy/tests/helper.py
  astropy/units/quantity_helper/scipy_special.py
  astropy/visualization/mpl_style.py
  astropy/visualization/scripts/fits2bitmap.py
  astropy/visualization/tests/test_units.py
  astropy/visualization/time.py
  astropy/visualization/wcsaxes/core.py
  astropy/visualization/wcsaxes/tests/test_misc.py
  docs/conf.py
  docs/development/testguide.rst
  docs/install.rst
  setup.cfg
  tox.ini
Labels: Python3.7

#10938 Add what's new for time performance improvements
  docs/time/index.rst
  docs/whatsnew/4.2.rst
Labels: Docs, merge-when-ci-passes, no-changelog-entry-needed, time

#10951 Removing python3.6 from azure
  azure-pipelines.yml
Labels: Release, no-changelog-entry-needed

#10949 Fixing 4.1 whatsnew typo
  docs/whatsnew/4.1.rst
Labels: Docs, merge-when-ci-passes, no-changelog-entry-needed

#10948 Post branching fo 4.2.x, and cleanup
  docs/index.rst
  docs/whatsnew/4.1.rst
  docs/whatsnew/4.3.rst
  docs/whatsnew/index.rst
Labels: Docs, no-changelog-entry-needed

#10838 MNT: Force N to be int in _scipy_kraft_burrows_nousek
  CHANGES.rst
  astropy/stats/funcs.py
  astropy/stats/tests/test_funcs.py
Labels: API change, stats

#10959 Fix biweight stats to return scalar values if axis is None
  astropy/stats/biweight.py
  astropy/stats/tests/test_biweight.py
Labels: Affects-dev, Bug, stats

#10952 Enable test for bbox_size limits in all Matplotlib 3 versions
  astropy/visualization/wcsaxes/tests/test_misc.py
Labels: no-changelog-entry-needed, testing, visualization, visualization.wcsaxes

#10956 MNT: Special handling of matplotlib version checks for doc and test
  astropy/visualization/wcsaxes/tests/test_misc.py
  setup.cfg
Labels: Docs, no-changelog-entry-needed, testing, visualization.wcsaxes

#10961 DOC: Clarify Om0 in Planck18 cosmology
  docs/cosmology/index.rst
Labels: Docs, cosmology, no-changelog-entry-needed

#10963 MNT: Use moar f-string
  astropy/coordinates/builtin_frames/__init__.py
  astropy/coordinates/spectral_coordinate.py
  astropy/logger.py
  docs/conf.py
  docs/coordinates/formatting.rst
  docs/development/codeguide.rst
  docs/io/unified.rst
  docs/modeling/compound-models.rst
  docs/modeling/models.rst
  docs/modeling/physical_models.rst
  docs/table/construct_table.rst
  docs/table/mixin_columns.rst
  docs/table/operations.rst
  docs/timeseries/lombscargle.rst
  docs/units/format.rst
  docs/visualization/histogram.rst
  examples/coordinates/plot_galactocentric-frame.py
  examples/coordinates/plot_obs-planning.py
  examples/coordinates/plot_sgr-coordinate-frame.py
  examples/io/skip_create-large-fits.py
Labels: Refactoring, no-changelog-entry-needed

#10968 MNT: Enable wheel building for Python 3.9
  azure-pipelines.yml
Labels: Python3.9, Release, merge-when-ci-passes, no-changelog-entry-needed

#10687 Fixes for weights with linear fitter
  CHANGES.rst
  astropy/modeling/fitting.py
  astropy/modeling/tests/test_fitters.py
  astropy/modeling/tests/test_model_sets.py
Labels: Bug, modeling

#10971 DOC: Fix h5py link warnings
  astropy/io/misc/hdf5.py
Labels: :fire:, Bug, Docs, Ready-for-final-review, io.misc, no-changelog-entry-needed
