Repository astropy/astropy, pull requests merged in 2020-04, with the labels that each got.

#9602 table (hdf5): pass additional kwargs through to create_dataset() in write_table_hdf5
  CHANGES.rst
  astropy/io/misc/hdf5.py
  astropy/io/misc/tests/test_hdf5.py
Labels: io.misc, table

#9439 Run each doctest in a tmpdir
  docs/conftest.py
Labels: no-changelog-entry-needed, testing

#10098 Fix to ensure ImageNormalize clip is used in the __call__ method
  CHANGES.rst
  astropy/visualization/mpl_normalize.py
  astropy/visualization/tests/test_norm.py
Labels: Bug, visualization

#10100 Add logos to badges in readme
  README.rst
Labels: Docs, no-changelog-entry-needed

#10101 Minor fixes to coding guidelines docs
  docs/development/codeguide.rst
Labels: Docs, no-changelog-entry-needed

#10099 Sigma clipping fixed for fully-masked input MaskedArray
  CHANGES.rst
  astropy/stats/sigma_clipping.py
  astropy/stats/tests/test_sigma_clipping.py
Labels: Bug, stats

#10076 Handle 64-bit systems and large memory allocations
  CHANGES.rst
  astropy/utils/xml/src/iterparse.c
Labels: Bug, merge-when-ci-passes, utils

#10104 Fix one remaining tostring use
  astropy/io/fits/hdu/base.py
Labels: io.fits, merge-when-ci-passes, no-changelog-entry-needed, numpy-dev

#10103 Fix bugs / performance when sorting a table
  CHANGES.rst
  astropy/table/table.py
  astropy/table/tests/test_operations.py
  astropy/table/tests/test_table.py
Labels: Bug, table

#10107 Updated tox configuration to be compatible with latest version of tox-pypi-filter
  tox.ini
Labels: no-changelog-entry-needed, testing

#10109 TST: Add Python dev job to cron job
  .travis.yml
  tox.ini
Labels: no-changelog-entry-needed, testing

#10112 Fix travis config error for s390x architecture
  .travis.yml
Labels: no-changelog-entry-needed, testing

#10105 TST: Ignore data server in linkcheck
  docs/conf.py
Labels: Docs, no-changelog-entry-needed, testing

#10106 Small RST tweaks to docstrings
  astropy/coordinates/tests/accuracy/test_altaz_icrs.py
  astropy/modeling/tests/test_fitters.py
  astropy/time/tests/test_methods.py
Labels: Docs, coordinates, modeling, no-changelog-entry-needed, time

#10113 Correct treatment of size-1 array times and coordinates.
  CHANGES.rst
  astropy/coordinates/attributes.py
  astropy/coordinates/baseframe.py
  astropy/coordinates/sky_coordinate.py
  astropy/coordinates/tests/test_shape_manipulation.py
  astropy/time/core.py
  astropy/time/tests/test_basic.py
Labels: Bug, coordinates, time

#10118 Fixed reference to Greisen et al. 2002 in WCS API docs.
  docs/wcs/wcsapi.rst
Labels: Bug, Docs, no-changelog-entry-needed, wcs

#9929 Fix `fast_reader` parsing of newline as delimiters
  CHANGES.rst
  astropy/io/ascii/core.py
  astropy/io/ascii/cparser.pyx
  astropy/io/ascii/docs.py
  astropy/io/ascii/src/tokenizer.c
  astropy/io/ascii/src/tokenizer.h
  astropy/io/ascii/tests/test_c_reader.py
  docs/io/ascii/read.rst
Labels: Bug, io.ascii

#10122 TST: Fix Windows io.ascii fast reader failure
  astropy/io/ascii/tests/test_c_reader.py
Labels: Bug, Windows, io.ascii, no-changelog-entry-needed, testing

#9941 Fix serialization of polynomials; improve documentation.
  CHANGES.rst
  astropy/io/misc/asdf/tags/transform/basic.py
  astropy/io/misc/asdf/tags/transform/tests/test_transform.py
  astropy/modeling/core.py
  astropy/modeling/polynomial.py
  docs/modeling/example-fitting-model-sets.rst
Labels: Bug, Docs, io.misc, io.misc.asdf, modeling

#10126 Handle auto_max_age = None consistently
  CHANGES.rst
  astropy/utils/iers/iers.py
  astropy/utils/iers/tests/test_leap_second.py
Labels: Bug, utils.iers

#10121 DOC: Add Windows build doc
  docs/development/building.rst
  docs/development/workflow/development_workflow.rst
Labels: Docs, Windows, build, copyedited, no-changelog-entry-needed

#10135 Add note about risk of round-off errors for Time.
  docs/time/index.rst
Labels: Docs, no-changelog-entry-needed, time

#10082 added ability to serialize parameter and model constraints
  CHANGES.rst
  astropy/io/misc/asdf/tags/transform/basic.py
  astropy/io/misc/asdf/tags/transform/tests/test_transform.py
Labels: io.misc, io.misc.asdf

#9742 Add initial support for saving Dask arrays to FITS files
  CHANGES.rst
  astropy/io/fits/convenience.py
  astropy/io/fits/file.py
  astropy/io/fits/hdu/image.py
  astropy/io/fits/tests/test_image_dask.py
  docs/io/fits/index.rst
  docs/io/fits/performance.inc.rst
  docs/whatsnew/4.1.rst
  setup.cfg
Labels: Enhancement, Performance, io.fits, whatsnew-needed

#10142 Let skyfield use a temporary directory for files it downloads.
  astropy/coordinates/tests/test_solar_system.py
Labels: Bug, coordinates, no-changelog-entry-needed, testing

#10145 fix issues with domain and window in polynomial models
  CHANGES.rst
  astropy/io/misc/asdf/tags/transform/polynomial.py
  astropy/modeling/core.py
  astropy/modeling/polynomial.py
  astropy/modeling/utils.py
  docs/modeling/example-fitting-model-sets.rst
Labels: Enhancement, io.misc.asdf, modeling

#10094 Apply space motion of SkyCoords for rv corrections
  CHANGES.rst
  astropy/coordinates/sky_coordinate.py
  astropy/coordinates/tests/test_velocity_corrs.py
Labels: API change, coordinates

#10123 Allow more unit types for pixel_scale
  CHANGES.rst
  astropy/io/misc/asdf/tags/unit/tests/test_equivalency.py
  astropy/units/equivalencies.py
  astropy/units/tests/test_equivalencies.py
  docs/units/equivalencies.rst
Labels: Enhancement, units

#10075 Copy editing: time
  docs/time/index.rst
Labels: Docs, no-changelog-entry-needed, time

#10164 EXP: Pin pytest-openfiles in old deps job
  tox.ini
Labels: :fire:, Bug, no-changelog-entry-needed, testing

#10173 Remove include line related to helpers
  MANIFEST.in
Labels: Affects-dev, astropy-helpers-removal, merge-when-ci-passes

#10152 ENH: astropy.io.votable.exceptions.conf.max_warnings
  CHANGES.rst
  astropy/astropy.cfg
  astropy/io/votable/exceptions.py
  astropy/io/votable/tests/exception_test.py
  docs/io/votable/api_exceptions.rst
Labels: Enhancement, io.votable, merge-when-ci-passes

#10163 Fix SkyOffsetFrame wrap angle for data stored as non-spherical repres…
  CHANGES.rst
  astropy/coordinates/builtin_frames/skyoffset.py
  astropy/coordinates/tests/test_skyoffset_transformations.py
Labels: Bug, coordinates, merge-when-ci-passes

#10158 fix units of compound models
  CHANGES.rst
  astropy/modeling/core.py
  astropy/modeling/tests/test_units_mapping.py
Labels: Bug, modeling

#10175 Fix simple_norm keyword name
  astropy/visualization/mpl_normalize.py
Labels: Bug, Docs, merge-when-ci-passes, no-changelog-entry-needed, visualization

#10138 add _as_mpl_axes method to HighLevelWCSWrapper
  CHANGES.rst
  astropy/wcs/wcsapi/high_level_wcs_wrapper.py
Labels: Enhancement, wcs, wcs.wcsapi

#10159 Fix --open-files error when FITSDiff raises AssertionError
  CHANGES.rst
  astropy/io/fits/diff.py
  astropy/io/fits/tests/test_fitsdiff.py
  astropy/io/fits/tests/test_hdulist.py
Labels: Bug, Ready-for-final-review, io.fits, testing

#10171 Avoid crash when reading data
  CHANGES.rst
  astropy/io/fits/column.py
  astropy/io/fits/tests/test_table.py
Labels: Bug, io.fits, merge-when-ci-passes

#10124 Some maintenance commits for io.fits _File
  astropy/io/fits/file.py
  astropy/io/fits/hdu/base.py
  astropy/io/fits/hdu/groups.py
  astropy/io/fits/hdu/hdulist.py
  astropy/io/fits/hdu/image.py
  astropy/io/fits/hdu/table.py
  astropy/io/fits/header.py
  astropy/io/fits/tests/test_core.py
  astropy/io/fits/util.py
Labels: io.fits, no-changelog-entry-needed

#10111 Update Astropy Narrative Style Guide
  docs/development/style-guide.rst
Labels: Docs, no-changelog-entry-needed

#10053 Add some missing parameter doc for wcaxes.grid()
  astropy/visualization/wcsaxes/core.py
Labels: Docs, no-changelog-entry-needed, visualization, visualization.wcsaxes

#10190 fork master branches are not confusing for maintainers
  docs/development/workflow/development_workflow.rst
Labels: Docs, no-changelog-entry-needed

#10095 Add bit flag name map
  CHANGES.rst
  astropy/nddata/bitmask.py
  astropy/nddata/tests/test_bitmask.py
  docs/nddata/bitmask.rst
Labels: Enhancement, nddata, whatsnew-needed

#10155 BUG: Adding wrap around checking in WCS
  CHANGES.rst
  astropy/wcs/tests/test_utils.py
  astropy/wcs/utils.py
Labels: Bug, wcs

#10184 TST: Fix VisibleDeprecationWarning in numpy-dev
  astropy/modeling/tests/test_units_mapping.py
Labels: Ready-for-final-review, modeling, no-changelog-entry-needed, numpy-dev, testing

#10197 Add HDU name and ver to FITSDiff report where appropriate
  CHANGES.rst
  astropy/io/fits/diff.py
  astropy/io/fits/tests/test_diff.py
Labels: Enhancement, io.fits

#10186 DOC: Clarify docs only commit instructions
  docs/development/docguide.rst
Labels: Docs, copyedited, no-changelog-entry-needed

#10199 DOC: Update contributing guide
  CONTRIBUTING.md
Labels: Docs, no-changelog-entry-needed

#10189 Support circular references in ASDF-serialized models
  CHANGES.rst
  astropy/__init__.py
  astropy/io/misc/asdf/tags/coordinates/angle.py
  astropy/io/misc/asdf/tags/coordinates/earthlocation.py
  astropy/io/misc/asdf/tags/coordinates/frames.py
  astropy/io/misc/asdf/tags/coordinates/representation.py
  astropy/io/misc/asdf/tags/coordinates/skycoord.py
  astropy/io/misc/asdf/tags/fits/fits.py
  astropy/io/misc/asdf/tags/table/table.py
  astropy/io/misc/asdf/tags/time/time.py
  astropy/io/misc/asdf/tags/time/timedelta.py
  astropy/io/misc/asdf/tags/transform/basic.py
  astropy/io/misc/asdf/tags/transform/compound.py
  astropy/io/misc/asdf/tags/transform/math.py
  astropy/io/misc/asdf/tags/transform/polynomial.py
  astropy/io/misc/asdf/tags/transform/projections.py
  astropy/io/misc/asdf/tags/transform/tabular.py
  astropy/io/misc/asdf/tags/unit/equivalency.py
  astropy/io/misc/asdf/tags/unit/quantity.py
  setup.cfg
  tox.ini
Labels: Enhancement, io.misc, io.misc.asdf

#10097 Add support for custom attributes in Table subclasses
  CHANGES.rst
  astropy/table/__init__.py
  astropy/table/table.py
  astropy/table/tests/test_table.py
  astropy/utils/metadata.py
  docs/table/construct_table.rst
Labels: Enhancement, table, whatsnew-needed

#10165 Added paragraph in astropy.io.fits index.rst describing non-standard FITS
  docs/io/fits/index.rst
  docs/io/fits/usage/verification.rst
Labels: Docs, io.fits, no-changelog-entry-needed

#10179 Improve package description
  setup.cfg
Labels: Docs, installation, no-changelog-entry-needed

#10192 Do not parse table when no fields are defined
  CHANGES.rst
  astropy/io/votable/exceptions.py
  astropy/io/votable/tests/data/no_field_not_empty_table.xml
  astropy/io/votable/tests/table_test.py
  astropy/io/votable/tree.py
Labels: Bug, io.votable, merge-when-ci-passes

#10206 set skyfield requirement to work around deprecation warning
  setup.cfg
Labels: coordinates, merge-when-ci-passes, no-changelog-entry-needed, testing

#10182 Fix normalization/stretch classes for upstream mpl change
  CHANGES.rst
  astropy/visualization/mpl_normalize.py
  astropy/visualization/stretch.py
  astropy/visualization/tests/test_norm.py
  docs/visualization/normalization.rst
Labels: Ready-for-final-review, visualization

#9964 Use ftp w/ TLS for default IERS download (CDDIS)
  CHANGES.rst
  astropy/utils/data.py
  astropy/utils/iers/iers.py
  astropy/utils/tests/test_data.py
Labels: merge-when-ci-passes, utils, utils.iers

#10177 Add parameter restrictions in visualization stretch classes
  CHANGES.rst
  astropy/visualization/stretch.py
  astropy/visualization/tests/test_stretch.py
Labels: Enhancement, Ready-for-final-review, visualization

#9857 Allow in-place modification of coordinate BaseFrame and SkyCoord
  CHANGES.rst
  astropy/coordinates/baseframe.py
  astropy/coordinates/representation.py
  astropy/coordinates/sky_coordinate.py
  astropy/coordinates/tests/test_frames.py
  astropy/coordinates/tests/test_representation_methods.py
  astropy/coordinates/tests/test_sky_coord.py
  astropy/table/operations.py
  astropy/table/tests/test_mixin.py
  astropy/table/tests/test_operations.py
  astropy/table/tests/test_table.py
  docs/coordinates/frames.rst
  docs/coordinates/inplace.rst
  docs/coordinates/skycoord.rst
Labels: Enhancement, Ready-for-final-review, coordinates, table, whatsnew-needed

#10203 Update instructions for building docs
  docs/install.rst
Labels: Docs, no-changelog-entry-needed

#10209 Copy editing: uncertainty
  docs/uncertainty/index.rst
Labels: Docs, no-changelog-entry-needed, uncertainty

#10147 Copy editing: timeseries
  docs/timeseries/analysis.rst
  docs/timeseries/bls.rst
  docs/timeseries/data_access.rst
  docs/timeseries/index.rst
  docs/timeseries/initializing.rst
  docs/timeseries/io.rst
  docs/timeseries/lombscargle.rst
  docs/timeseries/masking.rst
  docs/timeseries/pandas.rst
  docs/timeseries/times.rst
Labels: Docs, no-changelog-entry-needed, timeseries

#10217 DOC: Fix broken Anaconda link
  docs/development/workflow/virtual_pythons.rst
Labels: Bug, Docs, no-changelog-entry-needed

#10148 Add function to generate the configuration file
  CHANGES.rst
  astropy/astropy.cfg
  astropy/config/configuration.py
  astropy/config/tests/test_configs.py
  astropy/table/pandas.py
  docs/config/astropy_config.rst
  docs/config/index.rst
  setup.cfg
Labels: config

#10208 Add support for docstrings for bit flags in bitmask
  CHANGES.rst
  astropy/nddata/bitmask.py
  astropy/nddata/tests/test_bitmask.py
  docs/nddata/bitmask.rst
Labels: Bug, nddata

#10222 Fix bug serializing mixin column with name / attribute collision
  CHANGES.rst
  astropy/io/ascii/tests/test_ecsv.py
  astropy/io/fits/tests/test_connect.py
  astropy/io/misc/tests/test_hdf5.py
  astropy/table/serialize.py
Labels: Bug, io.ascii, io.fits, io.misc, table

#10220 Adjust shape manipulation tests to check broadcasting again.
  astropy/coordinates/tests/test_shape_manipulation.py
Labels: Affects-dev, Bug, coordinates, testing

#10223 Fix id bug in baseframe-1.0.0 schema
  CHANGES.rst
  astropy/io/misc/asdf/data/schemas/astropy.org/astropy/coordinates/frames/baseframe-1.0.0.yaml
  astropy/io/misc/asdf/data/schemas/astropy.org/astropy/coordinates/frames/icrs-1.0.0.yaml
  astropy/io/misc/asdf/data/schemas/astropy.org/astropy/coordinates/latitude-1.0.0.yaml
  astropy/io/misc/asdf/data/schemas/astropy.org/astropy/coordinates/longitude-1.0.0.yaml
  astropy/io/misc/asdf/data/schemas/astropy.org/astropy/coordinates/representation-1.0.0.yaml
Labels: Bug, io.misc, io.misc.asdf

#10028 Added tags to serialize all functional models.
  CHANGES.rst
  astropy/io/misc/asdf/extension.py
  astropy/io/misc/asdf/tags/transform/basic.py
  astropy/io/misc/asdf/tags/transform/functional_models.py
  astropy/io/misc/asdf/tags/transform/physical_models.py
  astropy/io/misc/asdf/tags/transform/powerlaws.py
  astropy/io/misc/asdf/tags/transform/tests/test_transform.py
Labels: io.misc, io.misc.asdf, modeling

#10224 bug fix: model name search can crash
  CHANGES.rst
  astropy/modeling/core.py
  astropy/modeling/tests/test_compound.py
Labels: Bug, modeling

#10176 Replace submodel
  CHANGES.rst
  astropy/modeling/core.py
  astropy/modeling/tests/test_compound.py
  docs/whatsnew/4.1.rst
Labels: Enhancement, modeling, whatsnew-needed

#10236 fixed bug in constant model tag
  astropy/io/misc/asdf/tags/transform/basic.py
Labels: Affects-dev, io.misc, io.misc.asdf

#10231 add legend to plot
  docs/stats/ripley.rst
Labels: Docs, no-changelog-entry-needed, stats
