Repository astropy/astropy, pull requests merged in 2020-09, with the labels that each got.

#10692 Notify slack on cron success
  .travis.yml
Labels: no-changelog-entry-needed, testing

#10698 MNT: Fix Windows and doc build issues due to setuptools 50
  .readthedocs.yml
  astropy/io/fits/setup_package.py
Labels: Docs, Upstream Fix Required, installation, no-changelog-entry-needed, testing

#10700 TST: XPASS to not fail IERS test
  astropy/utils/iers/tests/test_iers.py
Labels: merge-when-ci-passes, no-changelog-entry-needed, testing, utils.iers

#10696 Fix covolution.discretize_model oversample calling linspace bug
  CHANGES.rst
  astropy/convolution/tests/test_discretize.py
  astropy/convolution/utils.py
Labels: Bug, convolution

#10710 Fix logic and improve error message of name_resolve
  astropy/coordinates/name_resolve.py
Labels: Bug, coordinates, no-changelog-entry-needed

#10703 move imports to top of file in test_frames
  astropy/coordinates/tests/test_frames.py
Labels: Refactoring, coordinates, no-changelog-entry-needed, testing

#10618 Improve stability for mpmath KBN algorithm in poisson_confidence_interval
  CHANGES.rst
  astropy/stats/funcs.py
  astropy/stats/tests/test_funcs.py
Labels: Bug, merge-when-ci-passes, stats

#10690 Circular standard deviation
  CHANGES.rst
  astropy/stats/circstats.py
Labels: Enhancement, stats

#10720 Skip test on Python 3.6 due to random failure
  astropy/utils/tests/test_data.py
Labels: no-changelog-entry-needed, testing, utils

#10694 Fix reported module name of math_functions model classes
  CHANGES.rst
  astropy/modeling/math_functions.py
  astropy/modeling/tests/test_math_func.py
Labels: modeling

#10709 Fix reported module name of tabular model classes
  CHANGES.rst
  astropy/modeling/tabular.py
  astropy/modeling/tests/test_compound.py
  astropy/modeling/tests/test_models.py
  docs/modeling/reference_api.rst
Labels: Bug, modeling

#10722 Edits in documentation
  docs/config/index.rst
  docs/coordinates/angles.rst
  docs/coordinates/galactocentric.rst
  docs/coordinates/index.rst
  docs/coordinates/solarsystem.rst
  docs/coordinates/spectralcoord.rst
  docs/coordinates/velocities.rst
  docs/development/testguide.rst
  docs/development/workflow/command_history_with_output.sh
  docs/development/workflow/development_workflow.rst
  docs/development/workflow/git_edit_workflow_examples.rst
  docs/development/workflow/known_projects.inc
  docs/index.rst
  docs/install.rst
  docs/known_issues.rst
  docs/modeling/compound-models.rst
  docs/modeling/models.rst
  docs/testhelpers.rst
  docs/visualization/wcsaxes/slicing_datacubes.rst
  docs/whatsnew/4.1.rst
Labels: Docs, config, coordinates, modeling, no-changelog-entry-needed, visualization, visualization.wcsaxes

#10647 Improve speed of coordinate transformations for arrays of obstime
  CHANGES.rst
  astropy/coordinates/builtin_frames/cirs_observed_transforms.py
  astropy/coordinates/builtin_frames/icrs_cirs_transforms.py
  astropy/coordinates/erfa_astrom.py
  astropy/coordinates/tests/test_erfa_astrom.py
  docs/coordinates/performance.inc.rst
Labels: Enhancement, Performance, coordinates

#10697 Do not create models for ufuncs that are only aliases
  CHANGES.rst
  astropy/modeling/math_functions.py
  astropy/modeling/tests/test_math_func.py
Labels: modeling

#10726 add `spat` unit of solid angle
  CHANGES.rst
  astropy/units/astrophys.py
  astropy/units/tests/test_units.py
Labels: Enhancement, units

#10731 DOC: Update coordinates doctest result
  docs/coordinates/performance.inc.rst
Labels: Affects-dev, Docs, Ready-for-final-review, coordinates, testing

#10718 DOC: Fix HST data handbook links
  docs/nddata/bitmask.rst
Labels: Bug, Docs, nddata, no-changelog-entry-needed

#10719 Add wheel and sdist auto-release Azure pipeline
  astropy/utils/tests/test_data.py
  azure-pipelines.yml
  docs/development/releasing.rst
Labels: Ready-for-final-review, Release, needs-discussion, no-changelog-entry-needed

#10624 Galactocentric frame defaults registry
  CHANGES.rst
  astropy/__init__.py
  astropy/coordinates/builtin_frames/galactocentric.py
  astropy/coordinates/tests/test_frames.py
  astropy/utils/tests/test_state.py
  docs/coordinates/galactocentric.rst
  docs/credits.rst
Labels: Enhancement, Ready-for-final-review, coordinates, utils

#10740 Only run Azure Pipelines on pull requests if they target v* branches
  azure-pipelines.yml
Labels: no-changelog-entry-needed

#10741 [4.1rc2] Fix permissions for a FITS test file
  astropy/wcs/tests/data/header_with_time.fits
Labels: no-changelog-entry-needed, testing, wcs

#10743 Improve HDF5 I/O documentation
  docs/io/unified.rst
Labels: Docs, no-changelog-entry-needed, table, unified-io

#10727 Allow **kwargs in `realize_frame`
  CHANGES.rst
  astropy/coordinates/baseframe.py
  astropy/coordinates/tests/test_frames.py
Labels: Ready-for-final-review, coordinates

#10750 Properly handle FTP socket error
  astropy/utils/data.py
  astropy/utils/tests/test_data.py
Labels: Affects-dev, Bug, merge-when-ci-passes, utils

#10749 Raise more helpful error message in SkyCoord for mixed components
  astropy/coordinates/sky_coordinate.py
  astropy/coordinates/sky_coordinate_parsers.py
  astropy/coordinates/tests/test_sky_coord.py
Labels: Bug, coordinates, no-changelog-entry-needed

#10552 add attributes for fitting uncertainties to models
  CHANGES.rst
  astropy/modeling/core.py
  astropy/modeling/fitting.py
  astropy/modeling/parameters.py
  astropy/modeling/tests/test_fitters.py
  astropy/modeling/tests/test_models_quantities.py
Labels: Enhancement, modeling

#10753 Use absolute path in setup_package.py
  astropy/convolution/setup_package.py
  astropy/io/ascii/setup_package.py
  astropy/modeling/setup_package.py
  astropy/table/setup_package.py
  astropy/timeseries/periodograms/bls/setup_package.py
  astropy/utils/setup_package.py
  astropy/wcs/setup_package.py
Labels: Bug, Windows, build, convolution, io.ascii, modeling, no-changelog-entry-needed, table, timeseries, utils, wcs

#10755 TST: URLError has different message on Windows
  astropy/utils/tests/test_data.py
Labels: merge-when-ci-passes, no-changelog-entry-needed, testing, utils

#10705 MNT: Change config home path logic
  CHANGES.rst
  astropy/config/paths.py
Labels: API change, config

#10763 Update link to USNO circular 179
  astropy/coordinates/builtin_frames/gcrs.py
  docs/coordinates/index.rst
Labels: Docs, coordinates, no-changelog-entry-needed

#10766 Ignore a toolz warning triggered by a dask import
  setup.cfg
Labels: Upstream Fix Required, merge-when-ci-passes, no-changelog-entry-needed, testing

#10533 Clarify that get_body takes into account light travel time
  astropy/coordinates/solar_system.py
Labels: Docs, coordinates, no-changelog-entry-needed

#10757 TST: Skip flaky utils test on Travis
  astropy/utils/tests/test_data.py
Labels: no-changelog-entry-needed, testing, utils

#9901 Set FITS ASCII table int dtype as required by column width given by TFORMn
  CHANGES.rst
  astropy/io/fits/column.py
  astropy/io/fits/fitsrec.py
  astropy/io/fits/tests/data/ascii_i4-i20.fits
  astropy/io/fits/tests/test_table.py
Labels: Bug, io.fits

#10772 Fix compilation of cfitsio with Xcode 12
  CHANGES.rst
  astropy/io/fits/setup_package.py
Labels: Mac OSX, io.fits

#10730 TST: Ignore unknown config ini key (pytest 6.1)
  setup.cfg
Labels: merge-when-ci-passes, no-changelog-entry-needed, testing

#10586 Move bar out of SI, since it is not recommended to use it.
  CHANGES.rst
  astropy/units/astrophys.py
  astropy/units/si.py
  astropy/units/tests/test_units.py
Labels: Bug, Refactoring, units

#10756 MNT: Update doc about setup.py and py.test
  astropy/__init__.py
  astropy/io/ascii/tests/common.py
  astropy/io/fits/hdu/compressed.py
  astropy/table/tests/conftest.py
  astropy/table/tests/test_row.py
  astropy/tests/command.py
  astropy/tests/disable_internet.py
  astropy/tests/helper.py
  astropy/tests/runner.py
  astropy/utils/tests/test_progress_bar_func.py
  astropy/wcs/tests/test_profiling.py
  docs/Makefile
  docs/conf.py
  docs/conftest.py
  docs/development/astropy-package-template.rst
  docs/development/releasing.rst
  docs/development/scripts.rst
  docs/development/workflow/command_history.sh
  docs/development/workflow/command_history_with_output.sh
  docs/development/workflow/git_edit_workflow_examples.rst
  docs/development/workflow/virtualenv_detail.rst
  docs/known_issues.rst
Labels: Docs, Ready-for-final-review, no-changelog-entry-needed

#10674 Write keys to ASDF only if the value is present
  CHANGES.rst
  astropy/io/misc/asdf/tags/coordinates/spectralcoord.py
  astropy/io/misc/asdf/tags/transform/tabular.py
Labels: Enhancement, io.misc, io.misc.asdf
