Repository astropy/astropy, pull requests merged in 2020-06, with the labels that each got.

#10364 Clean example script
  examples/io/split-jpeg-to-fits.py
Labels: Docs, Ready-for-final-review, io.fits, no-changelog-entry-needed

#10421 Used f-string to concatenate 'bibtexreference' and 'url'
  astropy/__init__.py
Labels: Docs, Ready-for-final-review, no-changelog-entry-needed

#10425 Simplify repetition of many pytest.xfail by making it a decorator.
  astropy/units/tests/test_quantity_non_ufuncs.py
Labels: Refactoring, no-changelog-entry-needed, testing, units

#9720 Remove SYSTEM_FILE check in test_system_file_never_expired
  astropy/utils/iers/tests/test_leap_second.py
Labels: no-changelog-entry-needed, testing, utils, utils.iers

#10432 Check values equal to zero in QuantityAttribute a bit more carefully.
  astropy/coordinates/attributes.py
  astropy/coordinates/tests/test_frames.py
Labels: Bug, Refactoring, coordinates, no-changelog-entry-needed, numpy-dev

#10440 Do not issue datfix warning when MJDREF has default value
  CHANGES.rst
  astropy/wcs/wcs.py
Labels: wcs

#10343 Update install docs for conda optional dependencies
  docs/install.rst
Labels: Docs, installation, no-changelog-entry-needed

#10445 Avoid checking code style in the generated _erfa/core.py
  setup.cfg
Labels: erfa, no-changelog-entry-needed, testing

#10447 DOC: Add change log section for 4.1.1
  CHANGES.rst
Labels: Docs, skip-changelog-checks

#10345 MNT: Remove outdated dependency checks
  astropy/coordinates/tests/test_matching.py
  astropy/coordinates/tests/test_regression.py
  astropy/io/ascii/tests/test_compressed.py
  astropy/io/ascii/tests/test_read.py
  astropy/io/fits/file.py
  astropy/io/fits/hdu/hdulist.py
  astropy/io/fits/tests/test_core.py
  astropy/utils/tests/test_data.py
Labels: Refactoring, coordinates, io.ascii, io.fits, merge-when-ci-passes, no-changelog-entry-needed, utils

#10427 bug fix 10408: int for N in Poisson Conf throws error
  CHANGES.rst
  astropy/stats/funcs.py
  astropy/stats/tests/test_funcs.py
Labels: Bug, merge-when-ci-passes, stats

#10449 MNT: Only import in setup when needed
  setup.py
Labels: installation, merge-when-ci-passes, no-changelog-entry-needed

#10311 TST: Disable IERS download for testing
  astropy/conftest.py
  astropy/coordinates/tests/test_solar_system.py
  astropy/time/tests/test_ut1.py
  astropy/utils/iers/tests/test_iers.py
  astropy/utils/iers/tests/test_leap_second.py
  docs/coordinates/performance.inc.rst
  docs/coordinates/satellites.rst
  docs/utils/iers.rst
Labels: Ready-for-final-review, no-changelog-entry-needed, testing, utils.iers

#10455 Move changelog entry from #10427 to 4.0.2
  CHANGES.rst
Labels: Docs, no-changelog-entry-needed

#10418 Copy editing: units
  docs/units/combining_and_defining.rst
  docs/units/constants_versions.rst
  docs/units/conversion.rst
  docs/units/decomposing_and_composing.rst
  docs/units/equivalencies.rst
  docs/units/format.rst
  docs/units/index.rst
  docs/units/logarithmic_units.rst
  docs/units/performance.inc.rst
  docs/units/quantity.rst
  docs/units/standard_units.rst
Labels: Docs, merge-when-ci-passes, no-changelog-entry-needed, units

#10458 TST: Use Python 3.9 dev, not 3.10 from nightly
  .travis.yml
Labels: Ready-for-final-review, no-changelog-entry-needed, testing

#10459 Fix doctests files in tmpdir with doctestplus 0.6+
  docs/conftest.py
Labels: Bug, Docs, no-changelog-entry-needed, testing

#10337 Allow numpy shape functions on ShapedNDArray subclasses
  CHANGES.rst
  astropy/_erfa/core.py.templ
  astropy/coordinates/baseframe.py
  astropy/coordinates/representation.py
  astropy/coordinates/sky_coordinate.py
  astropy/coordinates/tests/test_finite_difference_velocities.py
  astropy/coordinates/tests/test_representation_methods.py
  astropy/coordinates/tests/test_shape_manipulation.py
  astropy/time/tests/test_methods.py
  astropy/utils/__init__.py
  astropy/utils/misc.py
  astropy/utils/shapes.py
  astropy/utils/tests/test_misc.py
  astropy/utils/tests/test_shapes.py
  astropy/wcs/tests/test_utils.py
  astropy/wcs/utils.py
  docs/coordinates/index.rst
  docs/coordinates/representations.rst
  docs/coordinates/skycoord.rst
  docs/time/index.rst
  docs/utils/index.rst
Labels: Enhancement, coordinates, time, utils

#10452 Fix travis cron tests with apt
  .travis.yml
  astropy/table/pandas.py
Labels: no-changelog-entry-needed, testing

#10472 MNT: Remove PY2 compat for urlparse import
  astropy/utils/iers/iers.py
Labels: Python3, Refactoring, no-changelog-entry-needed, utils, utils.iers

#10477 TST: Fix Sphinx warning for test runner
  astropy/tests/runner.py
  docs/testhelpers.rst
Labels: Docs, no-changelog-entry-needed, testing

#10431 Ensure we catch all exceptions when trying to set shape.
  astropy/coordinates/representation.py
  astropy/coordinates/tests/test_representation_methods.py
  astropy/time/core.py
  astropy/time/tests/test_methods.py
Labels: Bug, coordinates, no-changelog-entry-needed, time

#10442 Remove round-trip checking code in WCSAxes
  CHANGES.rst
  astropy/visualization/wcsaxes/tests/test_wcsapi.py
  astropy/visualization/wcsaxes/wcsapi.py
Labels: visualization, visualization.wcsaxes

#10446 Set/get correct coord.axislabel with axes.set_xlabel for EllipticalFrame plots
  CHANGES.rst
  astropy/visualization/wcsaxes/core.py
  astropy/visualization/wcsaxes/tests/test_misc.py
Labels: Bug, visualization, visualization.wcsaxes

#10482 Fix issue when setting a keyword ending with space
  CHANGES.rst
  astropy/io/fits/header.py
  astropy/io/fits/tests/test_header.py
Labels: Bug, io.fits

#10460 Fix Table.read/write.help when reader/writer has no docstring
  CHANGES.rst
  astropy/io/registry.py
  astropy/io/tests/test_registry_help.py
Labels: Bug, io.registry

#10415 Allow fitting of a wider range of compound models
  CHANGES.rst
  astropy/modeling/core.py
  astropy/modeling/functional_models.py
  astropy/modeling/tests/test_quantities_fitting.py
Labels: Bug, modeling

#10380 Fix unwanted behavior of CompoundModel inverse from my PR#10176
  astropy/modeling/core.py
  astropy/modeling/tests/test_compound.py
Labels: Affects-dev, Bug, modeling

#10499 DOC: Remove mention of author_lists.py
  docs/development/releasing.rst
Labels: Docs, Release, no-changelog-entry-needed

#10493 Remove use of deprecated unicode APIs.
  astropy/io/votable/src/tablewriter.c
  astropy/utils/xml/src/iterparse.c
Labels: Refactoring, io.votable, no-changelog-entry-needed, utils

#10498 TST: Pin Sphinx so linkcheck works in cron job
  tox.ini
Labels: Docs, no-changelog-entry-needed, testing

#10485 Fix issues with mixins serialization and FITS
  CHANGES.rst
  astropy/io/fits/connect.py
  astropy/io/fits/tests/test_connect.py
Labels: Bug, io.fits, table

#10502 Fix regression for np.diff(time) and np.sum(timedelta) no longer working
  CHANGES.rst
  astropy/time/tests/test_functions.py
  astropy/utils/shapes.py
Labels: Bug, time, utils

#10509 Update development_workflow.rst
  docs/development/workflow/development_workflow.rst
Labels: Docs, no-changelog-entry-needed

#10480 Add comments to SIP coefficients in WCS.to_header
  CHANGES.rst
  astropy/wcs/wcs.py
Labels: Enhancement, wcs

#10474 Remove unnecessary remote_data in (mostly) coordinates.
  .travis.yml
  CHANGES.rst
  astropy/config/paths.py
  astropy/config/tests/test_configs.py
  astropy/coordinates/tests/accuracy/test_altaz_icrs.py
  astropy/coordinates/tests/test_celestial_transformations.py
  astropy/coordinates/tests/test_finite_difference_velocities.py
  astropy/coordinates/tests/test_frames.py
  astropy/coordinates/tests/test_iau_fullstack.py
  astropy/coordinates/tests/test_intermediate_transformations.py
  astropy/coordinates/tests/test_regression.py
  astropy/coordinates/tests/test_representation.py
  astropy/coordinates/tests/test_shape_manipulation.py
  astropy/coordinates/tests/test_sky_coord.py
  astropy/coordinates/tests/test_skyoffset_transformations.py
  astropy/coordinates/tests/test_solar_system.py
  astropy/coordinates/tests/test_spectral_coordinate.py
  astropy/coordinates/tests/test_transformations.py
  astropy/coordinates/tests/test_unit_representation.py
  astropy/coordinates/tests/test_velocity_corrs.py
  astropy/time/tests/test_basic.py
  astropy/utils/iers/tests/test_iers.py
Labels: Ready-for-final-review, testing

#10497 MNT: Remove doc build from CircleCI (use RTD PR builder)
  .circleci/config.yml
  .readthedocs.yml
  tox.ini
Labels: Docs, no-changelog-entry-needed, testing

#10511 TST: Fix stats doctest failures due to upstream changes
  astropy/stats/funcs.py
Labels: Ready-for-final-review, no-changelog-entry-needed, stats, testing

#10510 Replace use of deprecated numpy aliases for python int, float, bool.
  astropy/coordinates/tests/test_matching.py
  astropy/io/ascii/core.py
  astropy/io/ascii/cparser.pyx
  astropy/io/ascii/html.py
  astropy/io/ascii/tests/test_read.py
  astropy/io/fits/tests/test_compression_failures.py
  astropy/io/misc/tests/test_pandas.py
  astropy/table/_np_utils.pyx
  astropy/table/tests/test_row.py
  astropy/wcs/tests/helper.py
  astropy/wcs/wcsapi/high_level_api.py
  docs/known_issues.rst
Labels: coordinates, io.ascii, io.fits, io.misc, merge-when-ci-passes, no-changelog-entry-needed, numpy-dev, table, wcs, wcs.wcsapi

#10058 [WIP] Update documentation of "astropy.wcs"
  astropy/wcs/wcs.py
  docs/nitpick-exceptions
  docs/wcs/example_create_imaging.rst
  docs/wcs/example_cube_wcs.rst
  docs/wcs/examples/cube_wcs.py
  docs/wcs/index.rst
  docs/wcs/legacy_interface.rst
  docs/wcs/loading_from_fits.rst
  docs/wcs/reference_api.rst
  docs/wcs/references.rst
  docs/wcs/references.txt
  docs/wcs/relax.rst
  docs/wcs/supported_projections.rst
  docs/wcs/validation.rst
  docs/wcs/wcsapi.rst
  docs/wcs/wcstools.rst
Labels: Docs, no-changelog-entry-needed, wcs

#10517 Add copy=False option to Quantity.to
  CHANGES.rst
  astropy/units/quantity.py
  astropy/units/tests/test_quantity.py
Labels: Enhancement, units

#10436 Ignore pytest warnings due to asdf plugin
  setup.cfg
Labels: io.misc.asdf, merge-when-ci-passes, no-changelog-entry-needed, testing

#10419 Allow zero-length table from names and structured-array dtype
  CHANGES.rst
  astropy/table/table.py
  astropy/table/tests/test_init_table.py
  astropy/table/tests/test_table.py
Labels: Enhancement, table

#10428 Relax precision test for scale UTC
  astropy/time/tests/test_precision.py
Labels: no-changelog-entry-needed, precision, testing, time
