Repository astropy/astropy, pull requests merged in 2021-08, with the labels that each got.

#11990 Backport PR #11910: Ensure any .info on Masked instances is propagated correctly.
  astropy/utils/data_info.py
  astropy/utils/masked/core.py
  astropy/utils/masked/tests/test_table.py
  docs/changes/utils/11910.bugfix.rst
Labels: Bug, Manual Backport, skip-basebranch-check, skip-changelog-checks, utils, utils.masked

#11978 Remove v4.1+ deprecated code from modeling
  astropy/modeling/core.py
  astropy/modeling/functional_models.py
  astropy/modeling/models.py
  astropy/modeling/tests/test_functional_models.py
  astropy/modeling/tests/test_quantities_model.py
  astropy/modeling/tests/test_utils.py
  astropy/modeling/utils.py
  docs/changes/modeling/11978.api.rst
Labels: Refactoring, modeling

#11948 Cosmology read/write methods
  astropy/cosmology/connect.py
  astropy/cosmology/core.py
  astropy/cosmology/tests/test_connect.py
  astropy/cosmology/tests/test_funcs.py
  docs/changes/cosmology/11948.feature.rst
  docs/cosmology/index.rst
  docs/cosmology/io.rst
  docs/io/registry.rst
Labels: cosmology, io.registry, unified-io, whatsnew-needed

#11982 Accept UCD C atoms when parsing UCDs
  astropy/io/votable/tests/ucd_test.py
  astropy/io/votable/ucd.py
  docs/changes/io.votable/11982.bugfix.rst
Labels: Bug, backport-v4.0.x, backport-v4.3.x, io.votable

#12004 MNT: Skip label bot for backport bot
  .github/workflows/open_actions.yml
Labels: dev-automation, no-changelog-entry-needed, testing

#11917 Ensure MaskedColumn(masked_column) propagates info.serialize_method.
  astropy/io/ascii/ui.py
  astropy/table/column.py
  astropy/table/tests/test_column.py
  docs/changes/table/11917.bugfix.rst
Labels: Refactoring, io.ascii, table

#12005 Add docstrings for dynamically created properties of coordinate frames
  astropy/coordinates/baseframe.py
Labels: Docs, Enhancement, coordinates, merge-when-ci-passes, no-changelog-entry-needed

#11957 json.dump of FITS_rec with VLF succeeds but produces unexpected result
  astropy/io/fits/column.py
  astropy/io/fits/fitsrec.py
  astropy/io/fits/tests/test_table.py
  astropy/utils/tests/test_misc.py
  docs/changes/io.fits/11957.bugfix.rst
Labels: backport-v4.0.x, backport-v4.3.x, io.fits, utils

#11936 DOC: minor docstring updates in _KnuthF class
  astropy/stats/histogram.py
Labels: Docs, no-changelog-entry-needed, stats

#12020 Add note that np.ma functions should not be used with Masked [skip ci]
  docs/utils/masked/index.rst
Labels: Docs, no-changelog-entry-needed, utils.masked

#12019 Fix build error on Python 3.10 for Windows
  astropy/utils/xml/src/iterparse.c
Labels: utils, no-changelog-entry-needed, Python3.10, backport-v4.3.x

#12018 Fix bug converting certain Table subclasses (e.g. TimeSeries) to pandas
  astropy/table/table.py
  astropy/table/tests/test_table.py
  docs/changes/table/12018.bugfix.rst
Labels: table, Bug, backport-v4.3.x

#11775 Quantities with structured units
  astropy/units/__init__.py
  astropy/units/core.py
  astropy/units/format/generic.py
  astropy/units/format/generic_lextab.py
  astropy/units/format/generic_parsetab.py
  astropy/units/quantity.py
  astropy/units/quantity_helper/converters.py
  astropy/units/quantity_helper/erfa.py
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/structured.py
  astropy/units/tests/test_structured.py
  astropy/units/tests/test_structured_erfa_ufuncs.py
  docs/changes/units/11775.feature.rst
  docs/common_links.txt
  docs/units/index.rst
  docs/units/structured_units.rst
Labels: Docs, units, Enhancement, whatsnew-needed

#11979 4.3.1 changelog roll-up from towncrier
  CHANGES.rst
  docs/changes/io.fits/11860.bugfix.rst
  docs/changes/io.fits/11911.bugfix.rst
  docs/changes/io.fits/11913.bugfix.rst
  docs/changes/io.fits/11922.bugfix.rst
  docs/changes/modeling/11908.bugfix.rst
  docs/changes/units/11879.bugfix.rst
  docs/changes/units/11977.bugfix.rst
Labels: Docs, units, Release, modeling, skip-changelog-checks, skip-basebranch-check

#12031 ensure in-built realizations can pickle
  astropy/cosmology/core.py
  astropy/cosmology/tests/test_pickle.py
Labels: cosmology, Affects-dev, no-changelog-entry-needed

#12025 Backport PR #12018 on branch v4.3.x (Fix bug converting certain Table subclasses (e.g. TimeSeries) to pandas)
  astropy/table/table.py
  astropy/table/tests/test_table.py
  docs/changes/table/12018.bugfix.rst
Labels: table, Bug

#11980 Let WCS slice accept integer types other than just int
  astropy/wcs/wcsapi/wrappers/sliced_wcs.py
  astropy/wcs/wcsapi/wrappers/tests/test_sliced_wcs.py
  docs/changes/wcs/11980.bugfix.rst
Labels: Bug, wcs.wcsapi, backport-v4.3.x

#12042 Fix bitmask compatibility with numpy 1.21.0 and later
  astropy/nddata/bitmask.py
Labels: nddata, no-changelog-entry-needed, Extra CI, backport-v4.3.x, backport-v4.0.x

#12038 MAINT: guard __warningregistry__ deletion with try/except
  astropy/io/votable/table.py
  astropy/tests/helper.py
Labels: testing, io.votable, Refactoring, no-changelog-entry-needed, merge-when-ci-passes

#12044 Backport PR #12042 on branch v4.3.x (Fix bitmask compatibility with numpy 1.21.0 and later)
  astropy/nddata/bitmask.py
Labels: nddata, no-changelog-entry-needed

#12045 Backport PR #12042 on branch v4.0.x (Fix bitmask compatibility with numpy 1.21.0 and later)
  astropy/nddata/bitmask.py
Labels: nddata, no-changelog-entry-needed

#12041 MAINT: Remove six from astropy.io.misc.asdf.tags.unit.unit
  astropy/io/misc/asdf/tags/unit/unit.py
Labels: Bug, Refactoring, no-changelog-entry-needed, io.misc.asdf, backport-v4.3.x, backport-v4.0.x

#12023 Backport PR #12019 on branch v4.3.x (Fix build error on Python 3.10 for Windows)
  astropy/utils/xml/src/iterparse.c
Labels: utils, no-changelog-entry-needed, Python3.10, backport-v4.3.x

#11993 Backport PR #11972 on branch v4.3.x (Fixed possible race condition in parallel testing)
  astropy/time/tests/test_methods.py
Labels: testing, time, Bug, no-changelog-entry-needed

#11988 Backport PR #11986 on branch v4.3.x (Fix ASDF tag versions in transform type classes)
  astropy/io/misc/asdf/tags/transform/compound.py
  astropy/io/misc/asdf/tags/transform/projections.py
  docs/changes/io.misc/11986.bugfix.rst
Labels: Bug, io.misc.asdf

#12002 Backport PR #11982 on branch v4.0.x (Accept UCD C atoms when parsing UCDs)
  astropy/io/votable/tests/ucd_test.py
  astropy/io/votable/ucd.py
  docs/changes/io.votable/11982.bugfix.rst
Labels: io.votable, Bug

#12049 Backport PR #12041 on branch v4.0.x (MAINT: Remove six from astropy.io.misc.asdf.tags.unit.unit)
  astropy/io/misc/asdf/tags/unit/unit.py
Labels: Bug, Refactoring, no-changelog-entry-needed, io.misc.asdf

#12013 Backport PR #11957 on branch v4.3.x (json.dump of FITS_rec with VLF succeeds but produces unexpected result)
  astropy/io/fits/column.py
  astropy/io/fits/fitsrec.py
  astropy/io/fits/tests/test_table.py
  astropy/utils/tests/test_misc.py
  docs/changes/io.fits/11957.bugfix.rst
Labels: io.fits, Bug, utils

#12046 Updates in main for 4.3.1
  CHANGES.rst
  astropy/utils/iers/data/eopc04_IAU2000.62-now
  docs/changes/io.fits/11860.bugfix.rst
  docs/changes/io.fits/11911.bugfix.rst
  docs/changes/io.fits/11913.bugfix.rst
  docs/changes/io.fits/11922.bugfix.rst
  docs/changes/modeling/11908.bugfix.rst
  docs/changes/table/12018.bugfix.rst
  docs/changes/units/11879.bugfix.rst
  docs/changes/units/11977.bugfix.rst
  docs/changes/utils/11910.bugfix.rst
Labels: table, Docs, units, modeling, utils, skip-changelog-checks, utils.iers

#12052 Restrict matplotlib version check for failing test
  astropy/visualization/wcsaxes/tests/test_misc.py
Labels: testing, no-changelog-entry-needed, visualization.wcsaxes, backport-v4.3.x

#11984 Updates to `~astropy.modeling.custom_model`
  astropy/modeling/core.py
  astropy/modeling/tests/test_core.py
  docs/changes/modeling/11984.feature.rst
  docs/modeling/new-model.rst
Labels: modeling, Refactoring

#12059 TST: Use proper matplotlib dev check
  astropy/visualization/wcsaxes/tests/test_misc.py
Labels: testing, Ready-for-final-review, no-changelog-entry-needed, visualization.wcsaxes, merge-when-ci-passes, Extra CI

#12060 BOT: Fix author check logic for labeling bot
  .github/workflows/open_actions.yml
Labels: testing, Bug, no-changelog-entry-needed, dev-automation

#12068 Run apt-get update in CI before installing language pack
  .github/workflows/ci_workflows.yml
Labels: testing, Ready-for-final-review, no-changelog-entry-needed, merge-when-ci-passes, backport-v4.3.x, backport-v4.0.x

#12070 Backport PR #12068 on branch v4.0.x (Run apt-get update in CI before installing language pack)
  .github/workflows/ci_workflows.yml
Labels: testing, Ready-for-final-review, no-changelog-entry-needed, merge-when-ci-passes

#12071 Attempt to fix 32-bit CI
  astropy/time/tests/test_precision.py
Labels: testing, no-changelog-entry-needed

#12009 Enforce e201 e202
  .pep8speaks.yml
  astropy/coordinates/tests/test_sky_coord.py
  astropy/io/misc/asdf/connect.py
  astropy/io/misc/asdf/tags/transform/tests/test_transform.py
  astropy/modeling/tests/test_rotations.py
  astropy/modeling/utils.py
  astropy/units/tests/test_utils.py
  astropy/wcs/utils.py
  astropy/wcs/wcsapi/wrappers/tests/test_sliced_wcs.py
  tox.ini
Labels: testing, wcs, no-changelog-entry-needed, io.misc.asdf, wcs.wcsapi

#12069 Backport PR #12068 on branch v4.3.x (Run apt-get update in CI before installing language pack)
  .github/workflows/ci_workflows.yml
Labels: testing, Ready-for-final-review, no-changelog-entry-needed, merge-when-ci-passes

#11689 change to just links for whatsnew index
  docs/whatsnew/index.rst
Labels: Docs, Release, no-changelog-entry-needed

#12073 Update old whatsnew pages to be orphans to fix the RTD build
  docs/development/releasing.rst
  docs/whatsnew/4.2.rst
  docs/whatsnew/4.3.rst
Labels: Docs, no-changelog-entry-needed

#11994 Fix bug in sigma clipping return bounds
  astropy/stats/sigma_clipping.py
  astropy/stats/tests/test_sigma_clipping.py
  docs/changes/stats/11994.bugfix.rst
Labels: Bug, stats, Ready-for-final-review, backport-v4.3.x

#12074 Backport PR #11994 on branch v4.3.x (Fix bug in sigma clipping return bounds)
  astropy/stats/sigma_clipping.py
  astropy/stats/tests/test_sigma_clipping.py
  docs/changes/stats/11994.bugfix.rst
Labels: Bug, stats, Ready-for-final-review

#12043 Backport PR #11980 on branch v4.3.x (Let WCS slice accept integer types other than just int)
  astropy/wcs/wcsapi/wrappers/sliced_wcs.py
  astropy/wcs/wcsapi/wrappers/tests/test_sliced_wcs.py
  docs/changes/wcs/11980.bugfix.rst
Labels: wcs, Bug, wcs.wcsapi

#12075 Backport PR #11279 on branch v4.0.x (Switch to Towncrier)
  CONTRIBUTING.md
  docs/changelog.rst
  docs/changes/README.rst
  docs/changes/config/.gitkeep
  docs/changes/constants/.gitkeep
  docs/changes/convolution/.gitkeep
  docs/changes/coordinates/.gitkeep
  docs/changes/cosmology/.gitkeep
  docs/changes/extern/.gitkeep
  docs/changes/io.ascii/.gitkeep
  docs/changes/io.fits/.gitkeep
  docs/changes/io.misc/.gitkeep
  docs/changes/io.registry/.gitkeep
  docs/changes/io.votable/.gitkeep
  docs/changes/modeling/.gitkeep
  docs/changes/nddata/.gitkeep
  docs/changes/samp/.gitkeep
  docs/changes/stats/.gitkeep
  docs/changes/table/.gitkeep
  docs/changes/template.rst
  docs/changes/tests/.gitkeep
  docs/changes/time/.gitkeep
  docs/changes/timeseries/.gitkeep
  docs/changes/uncertainty/.gitkeep
  docs/changes/units/.gitkeep
  docs/changes/utils/.gitkeep
  docs/changes/visualization/.gitkeep
  docs/changes/wcs/.gitkeep
  docs/conf.py
  docs/development/releasing.rst
  docs/development/workflow/development_workflow.rst
  docs/development/workflow/git_edit_workflow_examples.rst
  docs/development/workflow/maintainer_workflow.rst
  docs/development/workflow/milestone.png
  pyproject.toml
  setup.cfg
Labels: Docs, Release, installation, no-changelog-entry-needed, merge-when-ci-passes

#12079 Mention access to original function in ``quantity_input``
  astropy/units/decorators.py
Labels: units, Ready-for-final-review, no-changelog-entry-needed

#12011 Update table documentation
  docs/table/access_table.rst
  docs/table/construct_table.rst
  docs/table/implementation_details.rst
  docs/table/index.rst
  docs/table/indexing.rst
  docs/table/io.rst
  docs/table/masking.rst
  docs/table/mixin_columns.rst
  docs/table/modify_table.rst
  docs/table/operations.rst
  docs/table/pandas.rst
  docs/table/performance.inc.rst
Labels: table, Docs, no-changelog-entry-needed, Extra CI

#12084 Fix bug 12082 where can't set constants version
  astropy/__init__.py
  docs/changes/constants/12084.bugfix.rst
Labels: Bug, constants, merge-when-ci-passes, backport-v4.3.x

#12086 Backport PR #12084 on branch v4.3.x (Fix bug 12082 where can't set constants version)
  astropy/__init__.py
  docs/changes/constants/12084.bugfix.rst
Labels: Bug, constants, merge-when-ci-passes

#12087 Backport PR #12038 on branch v4.3.x (MAINT: guard __warningregistry__ deletion with try/except)
  astropy/io/votable/table.py
  astropy/tests/helper.py
Labels: testing, io.votable, Refactoring, no-changelog-entry-needed, merge-when-ci-passes

#12088 Remove unneeded print statement in tests
  astropy/cosmology/tests/test_funcs.py
Labels: cosmology, Ready-for-final-review, Affects-dev, no-changelog-entry-needed

#12061 Allow CompImageHDU header argument to contain very few cards
  astropy/io/fits/hdu/compressed.py
  astropy/io/fits/tests/test_image.py
  docs/changes/io.fits/12061.bugfix.rst
Labels: io.fits, backport-v4.3.x, backport-v4.0.x

#12091 Backport PR #12061 on branch v4.3.x (Allow CompImageHDU header argument to contain very few cards)
  astropy/io/fits/hdu/compressed.py
  astropy/io/fits/tests/test_image.py
  docs/changes/io.fits/12061.bugfix.rst
Labels: io.fits

#12085 Finalizing changelog for v4.0.6
  CHANGES.rst
  docs/changes/11379.other.rst
  docs/changes/convolution/11510.bugfix.rst
  docs/changes/coordinates/11469.bugfix.rst
  docs/changes/io.ascii/11475.bugfix.rst
  docs/changes/io.ascii/11531.bugfix.rst
  docs/changes/io.fits/11387.bugfix.rst
  docs/changes/io.fits/11487.bugfix.rst
  docs/changes/io.fits/11688.bugfix.rst
  docs/changes/io.fits/11922.bugfix.rst
  docs/changes/io.fits/11957.bugfix.rst
  docs/changes/io.votable/11982.bugfix.rst
  docs/changes/modeling/11435.bugfix.rst
  docs/changes/modeling/11908.bugfix.rst
  docs/changes/table/11585.bugfix.rst
  docs/changes/table/11921.bugfix.rst
  docs/changes/time/11516.bugfix.rst
  docs/changes/wcs/11647.bugfix.rst
Labels: Docs, Release, Ready-for-final-review, no-changelog-entry-needed

#11681 Raise exceptions from other exceptions in `table`
  astropy/table/column.py
  astropy/table/groups.py
  astropy/table/meta.py
  astropy/table/np_utils.py
  astropy/table/operations.py
  astropy/table/pprint.py
  astropy/table/table.py
Labels: table, Refactoring, no-changelog-entry-needed

#11751 DOC: Small fixes for convolution kernel docs
  astropy/convolution/kernels.py
  docs/convolution/kernels.rst
Labels: Docs, Bug, convolution, no-changelog-entry-needed

#12001 MNT: PR template to clarify manual backport
  .github/PULL_REQUEST_TEMPLATE.md
Labels: no-changelog-entry-needed, dev-automation

#12097 Don't assume MKS constants
  astropy/cosmology/core.py
Labels: cosmology, Ready-for-final-review, Affects-dev, no-changelog-entry-needed

#12090 TST: apt-get update cron jobs
  .github/workflows/ci_cron_daily.yml
  .github/workflows/ci_cron_weekly.yml
Labels: testing, no-changelog-entry-needed, Extra CI

#11955 Targeted fixes to avoid zero-byte writes
  astropy/io/fits/hdu/base.py
  astropy/io/fits/hdu/table.py
  astropy/io/fits/tests/test_core.py
  astropy/io/tests/safeio.py
  docs/changes/io.fits/11955.bugfix.rst
Labels: io.fits, Bug, Performance, backport-v4.3.x, backport-v4.0.x

#12105 Remove constants.set_enabled_constants
  astropy/constants/__init__.py
  astropy/constants/tests/test_prior_version.py
  docs/changes/constants/12105.api.rst
Labels: constants

#12100 Create section for developers in Cosmology docs
  astropy/cosmology/core.py
  docs/changes/cosmology/12100.other.rst
  docs/cosmology/dev.rst
  docs/cosmology/index.rst
Labels: Docs, cosmology

#12094 Update units documentation
  docs/units/combining_and_defining.rst
  docs/units/constants_versions.rst
  docs/units/conversion.rst
  docs/units/decomposing_and_composing.rst
  docs/units/equivalencies.rst
  docs/units/format.rst
  docs/units/index.rst
  docs/units/logarithmic_units.rst
  docs/units/performance.inc.rst
  docs/units/physical_types.rst
  docs/units/quantity.rst
  docs/units/standard_units.rst
  docs/units/structured_units.rst
Labels: Docs, units, no-changelog-entry-needed, merge-when-ci-passes, Extra CI

#12037 BUG: Fix cfgtype list serialization, fix table.jsviewer.conf.css_urls cfgtype
  astropy/config/configuration.py
  astropy/config/tests/test_configs.py
  astropy/table/__init__.py
  astropy/table/jsviewer.py
  docs/changes/config/12037.bugfix.rst
  docs/changes/table/12037.bugfix.rst
  docs/config/index.rst
Labels: table, config, Bug, backport-v4.3.x

#12114 Remove mentions of ci-helpers
  docs/development/releasing.rst
  docs/development/testguide.rst
Labels: Docs, Release, no-changelog-entry-needed

#11743 Allow SkyCoords to be converted to Tables
  astropy/coordinates/sky_coordinate.py
  docs/changes/coordinates/11743.feature.rst
  docs/coordinates/skycoord.rst
  docs/table/construct_table.rst
  docs/table/index.rst
Labels: table, coordinates, Enhancement, whatsnew-needed

#12092 Cosmological units module
  astropy/cosmology/__init__.py
  astropy/cosmology/tests/test_units.py
  astropy/cosmology/units.py
  astropy/io/misc/asdf/tags/unit/tests/test_equivalency.py
  astropy/units/__init__.py
  astropy/units/astrophys.py
  astropy/units/equivalencies.py
  astropy/units/tests/test_equivalencies.py
  astropy/utils/compat/optional_deps.py
  docs/changes/cosmology/12092.feature.rst
  docs/changes/units/12092.api.rst
  docs/cosmology/index.rst
  docs/cosmology/units.rst
  docs/units/equivalencies.rst
Labels: units, cosmology

#11998 Add ``to/from_format`` for Cosmology interchange
  astropy/cosmology/__init__.py
  astropy/cosmology/connect.py
  astropy/cosmology/core.py
  astropy/cosmology/io/__init__.py
  astropy/cosmology/io/mapping.py
  astropy/cosmology/io/tests/__init__.py
  astropy/cosmology/io/tests/test_mapping.py
  astropy/cosmology/tests/test_connect.py
  docs/changes/cosmology/11998.feature.rst
  docs/cosmology/io.rst
  docs/whatsnew/5.0.rst
Labels: cosmology, unified-io, Enhancement, merge-when-ci-passes

#12115 Use __init_subclass__ instead of metaclass in time formats
  astropy/time/formats.py
Labels: time, Refactoring, no-changelog-entry-needed

#12116 cleanup cosmology realization creation
  astropy/cosmology/core.py
  astropy/cosmology/io/mapping.py
  astropy/cosmology/parameters.py
  astropy/cosmology/realizations.py
  astropy/cosmology/tests/test_connect.py
  docs/changes/cosmology/12116.api.rst
  docs/cosmology/io.rst
Labels: cosmology

#12125 Cosmo: move FLRW classes
  astropy/cosmology/__init__.py
  astropy/cosmology/core.py
  astropy/cosmology/flrw.py
  astropy/cosmology/io/mapping.py
  astropy/cosmology/tests/test_cosmology.py
  astropy/cosmology/tests/test_funcs.py
  docs/cosmology/io.rst
  docs/whatsnew/5.0.rst
Labels: Docs, cosmology, no-changelog-entry-needed, merge-when-ci-passes

#11897 Add MRT format writer to `cds.py` [GSoC21a]
  astropy/io/ascii/cds.py
  astropy/io/ascii/tests/test_cds.py
  docs/changes/io.ascii/11897.feature.rst
  docs/io/ascii/index.rst
  docs/io/ascii/write.rst
  docs/io/unified.rst
Labels: io.ascii

#12131 MNT: Revive Astropy stalebot in dry-run mode (ported baldrick logic to Action)
  .github/workflows/ci_cron_daily.yml
  .github/workflows/label_issue_actions.yml
  .github/workflows/stalebot.yml
Labels: testing, no-changelog-entry-needed, dev-automation

#12128 Add light second definition
  astropy/units/astrophys.py
  astropy/units/core.py
  astropy/units/tests/test_equivalencies.py
  docs/changes/units/12128.feature.rst
  docs/units/equivalencies.rst
  docs/units/standard_units.rst
Labels: units

#11933 Add a warning about distance joins
  docs/table/operations.rst
Labels: table, Docs, no-changelog-entry-needed, backport-v4.3.x, backport-v4.0.x

#12132 Backport PR #11933 on branch v4.3.x (Add a warning about distance joins)
  docs/table/operations.rst
Labels: table, Docs, no-changelog-entry-needed
