Repository astropy/astropy, pull requests merged in 2021-06, with the labels that each got.

#11772 Update Spinner API, fix #11004
  astropy/utils/console.py
  docs/changes/utils/11772.api.rst
Labels: API change, Enhancement, utils

#11750 Allow differentials of a SkyCoord to be serialized
  astropy/coordinates/sky_coordinate.py
  astropy/coordinates/tests/test_regression.py
  astropy/io/ascii/tests/test_ecsv.py
  astropy/io/fits/tests/test_connect.py
  astropy/io/misc/tests/test_hdf5.py
  docs/changes/coordinates/11750.bugfix.rst
Labels: Bug, coordinates, io.ascii, io.fits, io.misc

#11797 Print nice error message if sphinx_changelog is not installed
  docs/conf.py
Labels: Docs, no-changelog-entry-needed

#11814 Ensure Table.read/write cannot be overwritten, have their docstrings rendered by sphinx
  astropy/io/registry.py
  astropy/table/connect.py
  astropy/table/tests/test_table.py
Labels: io.registry, no-changelog-entry-needed, table

#11813 Cosmology equality
  astropy/cosmology/core.py
  astropy/cosmology/tests/test_cosmology.py
  docs/changes/cosmology/11813.feature.rst
Labels: cosmology

#11818 TST: xfail flatiter test for s390x and numpy<1.22
  astropy/units/tests/test_quantity_array_methods.py
  astropy/utils/compat/numpycompat.py
Labels: Affects-dev, Extra CI, merge-when-ci-passes, no-changelog-entry-needed, units, utils

#11809 Close ascii files with unified file read interface
  astropy/coordinates/solar_system.py
  astropy/coordinates/tests/test_solar_system.py
  astropy/io/ascii/tests/test_read.py
  astropy/io/fits/tests/test_core.py
  astropy/io/fits/tests/test_division.py
  astropy/io/fits/tests/test_header.py
  astropy/io/fits/tests/test_image.py
  astropy/io/fits/tests/test_table.py
  astropy/timeseries/io/kepler.py
  astropy/utils/data.py
  docs/changes/utils/11809.bugfix.rst
  docs/io/fits/index.rst
  docs/wcs/index.rst
  docs/wcs/legacy_interface.rst
  docs/wcs/wcsapi.rst
  setup.cfg
Labels: Bug, Ready-for-final-review, Refactoring, coordinates, installation, io.ascii, io.fits, utils, wcs

#11823 DOC: Use FITS standard unit 'count' in FITS table documentation
  docs/io/fits/usage/table.rst
Labels: Docs, io.fits, no-changelog-entry-needed

#11830 Unit format refactoring
  astropy/units/format/base.py
Labels: Refactoring, no-changelog-entry-needed, units

#11831 Include information on output-only in unknown formats error message.
  astropy/units/format/__init__.py
  astropy/units/tests/test_format.py
Labels: Refactoring, no-changelog-entry-needed, units

#11827 Allow unit parser to deal with more unicode representations
  astropy/units/astrophys.py
  astropy/units/format/generic.py
  astropy/units/tests/test_format.py
  docs/changes/units/11827.bugfix.rst
Labels: Bug, Feature Request, units

#11832 Add else clause and raise TypeError if incorrect unit type
  astropy/units/format/utils.py
  astropy/units/tests/test_format.py
Labels: Bug, no-changelog-entry-needed, units

#11740 Fix the fix to WCSLIB 7.6
  cextern/wcslib/C/wcsfix.c
Labels: Affects-dev, Bug, external, no-changelog-entry-needed, wcs

#11766 Backport PR #11756 on branch v4.3.x (Fix install_requires and remove requires)
  setup.cfg
Labels: installation, no-changelog-entry-needed

#11799 Backport PR #11724 on branch v4.3.x (DOC: Pin max version of Sphinx)
  setup.cfg
Labels: :fire:, Bug, Upstream Fix Required, installation, no-changelog-entry-needed

#11781 attempt to fix issue 11780
  astropy/wcs/wcsapi/fitswcs.py
  astropy/wcs/wcsapi/tests/test_fitswcs.py
  docs/changes/wcs/11781.bugfix.rst
Labels: Bug, wcs.wcsapi

#11839 Allow pre-releases vesions (dev, alpha, etc.) of documentation requirements
  docs/conf.py
Labels: Affects-dev, Docs, Ready-for-final-review, no-changelog-entry-needed

#11846 change actions to trigger workflows on this branch
  .github/workflows/ci_workflows.yml
Labels: Affects-dev, merge-when-ci-passes, no-changelog-entry-needed, skip-basebranch-check, testing

#11737 Update astropy.coordinates.calculation scraper
  astropy/coordinates/calculation.py
Labels: Docs, coordinates, no-changelog-entry-needed

#11853 Add overwrite option to jsviewer table writer
  astropy/table/jsviewer.py
  astropy/table/tests/test_jsviewer.py
  docs/changes/table/11853.api.rst
Labels: API change, Enhancement, table

#11680 Add Local Earth Rotation Angle. Adjust sidereal time for the TIO.
  astropy/time/core.py
  astropy/time/tests/test_sidereal.py
  docs/changes/time/11680.api.rst
  docs/changes/time/11680.feature.rst
  docs/time/index.rst
Labels: time, whatsnew-needed

#11367 Fix #10508 (modernize virtualenv doc)
  .gitignore
  docs/common_links.txt
  docs/development/workflow/virtual_pythons.rst
  docs/development/workflow/virtualenv_detail.rst
Labels: Docs, installation, no-changelog-entry-needed

#11844 Add maintainer checklist to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: dev-automation, no-changelog-entry-needed

#11865 Add physical type aliases for angular speed
  astropy/units/physical.py
  docs/changes/units/11865.feature.rst
Labels: units

#11858 Mark test as requiring jplephem.
  astropy/coordinates/tests/test_solar_system.py
Labels: Bug, backport-4.3.x, coordinates, no-changelog-entry-needed, testing

#11867 Fix wrong docstring section headers [skip ci]
  astropy/time/core.py
Labels: Affects-dev, Docs, no-changelog-entry-needed, time

#11869 DOC: Replace broken link with intersphinx
  astropy/stats/sigma_clipping.py
Labels: Bug, Docs, backport-4.0.x, backport-4.3.x, no-changelog-entry-needed, stats

#11871 TST: Relax sesame URL check in test_name_resolve_cache
  astropy/coordinates/tests/test_name_resolve.py
Labels: coordinates, no-changelog-entry-needed, testing

#11877 Manual Backport for PR 11700 and PR 11712
  astropy/coordinates/tests/test_intermediate_transformations.py
Labels: coordinates, no-changelog-entry-needed, skip-basebranch-check, testing

#11879 Ensure that pickling does not propagate memoized hash.
  astropy/tests/helper.py
  astropy/units/core.py
  astropy/units/tests/test_units.py
  docs/changes/units/11879.bugfix.rst
Labels: Bug, backport-v4.3.x, units

#11854 Add overwrite option to pandas writers
  astropy/io/misc/pandas/connect.py
  astropy/io/misc/tests/test_pandas.py
  docs/changes/table/11854.api.rst
Labels: API change, Enhancement, io.misc

#11790 Attempt to fix issue 11719
  astropy/visualization/wcsaxes/patches.py
  astropy/visualization/wcsaxes/tests/test_images.py
  docs/changes/visualization/11790.feature.rst
  docs/visualization/wcsaxes/overlays.rst
Labels: Enhancement, visualization.wcsaxes

#11881 Change equality to allclose to fix test on 32 bit
  astropy/coordinates/tests/test_representation_arithmetic.py
Labels: Bug, backport-v4.3.x, coordinates, no-changelog-entry-needed

#11886 Backport PR #11881 on branch v4.3.x (Change equality to allclose to fix test on 32 bit)
  astropy/coordinates/tests/test_representation_arithmetic.py
Labels: Bug, coordinates, no-changelog-entry-needed, testing

#11887 TST: Relax test_download_ftp_file_properly_handles_socket_error more
  astropy/utils/tests/test_data.py
Labels: Bug, no-changelog-entry-needed, testing, utils

#11684 Use sphinx-astropy xref aliases
  docs/conf.py
  setup.cfg
Labels: Docs, no-changelog-entry-needed

#11882 remove outdated mention of ``Cosmology.clone``
  docs/cosmology/index.rst
Labels: Docs, Refactoring, cosmology, no-changelog-entry-needed

#11873 Backport PR #11858 on branch v4.3.x (Mark test as requiring jplephem.)
  astropy/coordinates/tests/test_solar_system.py
Labels: Bug, coordinates, no-changelog-entry-needed

#11894 Fix QDP docstring example (missing a newline)
  astropy/io/ascii/qdp.py
Labels: Bug, Docs, backport-v4.3.x, io.ascii, merge-when-ci-passes, no-changelog-entry-needed

#11880 Remove references to old software from documentation
  docs/convolution/index.rst
  docs/coordinates/frames.rst
  docs/coordinates/galactocentric.rst
  docs/coordinates/index.rst
  docs/coordinates/representations.rst
  docs/coordinates/skycoord.rst
  docs/io/ascii/read.rst
  docs/io/fits/index.rst
  docs/io/fits/usage/verification.rst
  docs/io/unified.rst
  docs/known_issues.rst
  docs/modeling/changes_for_4.rst
  docs/modeling/compound-models.rst
  docs/modeling/index.rst
  docs/table/masking.rst
  docs/table/modify_table.rst
  docs/table/operations.rst
  docs/time/index.rst
  docs/uncertainty/index.rst
  docs/units/quantity.rst
Labels: Docs, convolution, coordinates, io.ascii, io.fits, modeling, no-changelog-entry-needed, table, time, uncertainty, unified-io, units

#11898 Add test of custom reader class that sets col.dtype
  astropy/io/ascii/tests/test_types.py
Labels: io.ascii, no-changelog-entry-needed

#11848 DOC: Fix ref link for KingProjectedAnalytic1D
  astropy/modeling/functional_models.py
  docs/io/misc.rst
Labels: Docs, Extra CI, Ready-for-final-review, backport-v4.0.x, backport-v4.3.x, modeling, no-changelog-entry-needed

#11900 Fix a broken link in change log
  CHANGES.rst
Labels: Docs, no-changelog-entry-needed

#10581 MNT: Replace distutils with setuptools in wcs extension test
  astropy/wcs/tests/extension/setup.py
  astropy/wcs/tests/extension/test_extension.py
Labels: no-changelog-entry-needed, testing, wcs

#10464 Split setup.cfg test and all into types; use in tox.ini
  docs/development/codeguide.rst
  docs/development/docguide.rst
  docs/development/testguide.rst
  docs/install.rst
  setup.cfg
  tox.ini
Labels: Docs, installation, needs-discussion, no-changelog-entry-needed, testing

#11892 Allow wildcard pattern-matching when specifying converters
  astropy/io/ascii/core.py
  astropy/io/ascii/docs.py
  astropy/io/ascii/tests/test_read.py
  docs/changes/io.ascii/11892.feature.rst
  docs/io/ascii/read.rst
Labels: Enhancement, io.ascii

#11903 make PyYaml a runtime dependency
  astropy/coordinates/tests/test_regression.py
  astropy/coordinates/tests/test_spectral_coordinate.py
  astropy/io/ascii/ecsv.py
  astropy/io/ascii/tests/test_connect.py
  astropy/io/ascii/tests/test_ecsv.py
  astropy/io/ascii/tests/test_write.py
  astropy/io/fits/connect.py
  astropy/io/fits/convenience.py
  astropy/io/fits/tests/test_connect.py
  astropy/io/misc/hdf5.py
  astropy/io/misc/tests/test_hdf5.py
  astropy/io/misc/tests/test_yaml.py
  astropy/io/misc/yaml.py
  astropy/io/tests/test_registry.py
  astropy/table/meta.py
  astropy/table/tests/test_mixin.py
  astropy/table/tests/test_pprint.py
  astropy/table/tests/test_table.py
  astropy/time/tests/test_mask.py
  astropy/utils/compat/optional_deps.py
  astropy/utils/masked/tests/test_table.py
  docs/changes/11903.other.rst
  docs/install.rst
  setup.cfg
Labels: Docs, coordinates, installation, io.ascii, io.fits, io.misc, io.registry, table, time, utils, utils.masked

#11906 improve Cosmology init signatures
  astropy/cosmology/core.py
Labels: Refactoring, cosmology, merge-when-ci-passes, no-changelog-entry-needed
