Repository astropy/astropy, pull requests merged in 2021-11, with the labels that each got.

#12340 patch to fix double registration of example package
  astropy/cosmology/tests/mypackage/io/astropy_convert.py
  astropy/cosmology/tests/mypackage/io/astropy_io.py
Labels: cosmology, no-changelog-entry-needed

#12344 fix de-registration of mypackage IO
  astropy/cosmology/tests/mypackage/io/tests/conftest.py
Labels: testing, cosmology, no-changelog-entry-needed, backport-v5.0.x

#12342 Change `BoundingBox` to `ModelBoundingBox`
  astropy/io/misc/asdf/tags/transform/basic.py
  astropy/io/misc/asdf/tags/transform/tabular.py
  astropy/modeling/bounding_box.py
  astropy/modeling/core.py
  astropy/modeling/tabular.py
  astropy/modeling/tests/test_bounding_box.py
  astropy/modeling/tests/test_core.py
  astropy/modeling/tests/test_models.py
  astropy/modeling/tests/test_models_quantities.py
  docs/modeling/models.rst
Labels: modeling, no-changelog-entry-needed, io.misc.asdf, backport-v5.0.x

#12345 Backport PR #12340 on branch v5.0.x (patch to fix double registration of example package)
  astropy/cosmology/tests/mypackage/io/astropy_convert.py
  astropy/cosmology/tests/mypackage/io/astropy_io.py
Labels: cosmology, no-changelog-entry-needed

#12346 Backport PR #12344 on branch v5.0.x (fix de-registration of mypackage IO)
  astropy/cosmology/tests/mypackage/io/tests/conftest.py
Labels: testing, cosmology, no-changelog-entry-needed, backport-v5.0.x

#12349 Backport PR #12342 on branch v5.0.x (Change `BoundingBox` to `ModelBoundingBox`)
  astropy/io/misc/asdf/tags/transform/basic.py
  astropy/io/misc/asdf/tags/transform/tabular.py
  astropy/modeling/bounding_box.py
  astropy/modeling/core.py
  astropy/modeling/tabular.py
  astropy/modeling/tests/test_bounding_box.py
  astropy/modeling/tests/test_core.py
  astropy/modeling/tests/test_models.py
  astropy/modeling/tests/test_models_quantities.py
  docs/modeling/models.rst
Labels: modeling, no-changelog-entry-needed, io.misc.asdf, backport-v5.0.x

#12347 Update leap second and IERS tables
  astropy/utils/iers/data/Leap_Second.dat
  astropy/utils/iers/data/eopc04_IAU2000.62-now
Labels: no-changelog-entry-needed, backport-v5.0.x

#12351 Backport PR #12347 on branch v5.0.x (Update leap second and IERS tables)
  astropy/utils/iers/data/Leap_Second.dat
  astropy/utils/iers/data/eopc04_IAU2000.62-now
Labels: no-changelog-entry-needed, backport-v5.0.x

#12343 Cleanup of recent modeling changes
  astropy/modeling/bounding_box.py
  astropy/modeling/core.py
  astropy/modeling/spline.py
  astropy/modeling/tests/test_bounding_box.py
  astropy/modeling/tests/test_core.py
  astropy/modeling/tests/test_spline.py
Labels: modeling, no-changelog-entry-needed, backport-v5.0.x

#12338 Further improvements to release documentation
  docs/development/releasing.rst
Labels: Docs, Release, no-changelog-entry-needed

#12359 Backport PR #12343 on branch v5.0.x (Cleanup of recent modeling changes)
  astropy/modeling/bounding_box.py
  astropy/modeling/core.py
  astropy/modeling/spline.py
  astropy/modeling/tests/test_bounding_box.py
  astropy/modeling/tests/test_core.py
  astropy/modeling/tests/test_spline.py
Labels: modeling, no-changelog-entry-needed, backport-v5.0.x

#12277 cosmo: simplify conversion constants
  astropy/cosmology/flrw.py
Labels: cosmology, no-changelog-entry-needed

#12313 Cosmo to/from table row
  astropy/cosmology/io/row.py
  astropy/cosmology/io/table.py
  astropy/cosmology/io/tests/test_row.py
  astropy/cosmology/tests/test_connect.py
  docs/changes/cosmology/12313.feature.rst
  docs/cosmology/io.rst
Labels: table, Docs, cosmology, merge-when-ci-passes

#12278 Make parameter dicts immutable
  astropy/cosmology/parameters.py
  astropy/cosmology/realizations.py
  docs/changes/cosmology/12278.bugfix.rst
Labels: cosmology, merge-when-ci-passes, backport-v5.0.x

#12354 `Planck18_arXiv_v2` is removed
  astropy/cosmology/parameters.py
  astropy/cosmology/realizations.py
  astropy/cosmology/tests/test_realizations.py
  docs/changes/cosmology/12354.api.rst
Labels: cosmology, merge-when-ci-passes

#12372 Backport PR #12278 on branch v5.0.x (Make parameter dicts immutable)
  astropy/cosmology/parameters.py
  astropy/cosmology/realizations.py
  docs/changes/cosmology/12278.bugfix.rst
Labels: cosmology, merge-when-ci-passes, backport-v5.0.x

#12279 Cosmo: to/from yaml
  astropy/cosmology/io/__init__.py
  astropy/cosmology/io/mapping.py
  astropy/cosmology/io/tests/test_yaml.py
  astropy/cosmology/io/yaml.py
  astropy/cosmology/tests/test_connect.py
  docs/changes/cosmology/12279.feature.rst
  docs/changes/io.misc/12279.feature.rst
  docs/cosmology/io.rst
Labels: cosmology, whatsnew-needed

#12190 Cosmo: validating and setting Parameters
  astropy/cosmology/__init__.py
  astropy/cosmology/connect.py
  astropy/cosmology/core.py
  astropy/cosmology/flrw.py
  astropy/cosmology/io/tests/test_ecsv.py
  astropy/cosmology/parameter.py
  astropy/cosmology/tests/conftest.py
  astropy/cosmology/tests/test_core.py
  astropy/cosmology/tests/test_flrw.py
  astropy/cosmology/tests/test_parameter.py
  docs/changes/cosmology/12190.feature.rst
  docs/conf.py
  docs/cosmology/dev.rst
  docs/cosmology/io.rst
Labels: cosmology, merge-when-ci-passes, backport-v5.0.x

#12390 fix bug where redshift not recognized as unit
  astropy/cosmology/connect.py
Labels: Bug, cosmology, no-changelog-entry-needed, merge-when-ci-passes

#12383 Fix 12377
  astropy/cosmology/tests/mypackage/io/__init__.py
Labels: cosmology, no-changelog-entry-needed, backport-v5.0.x

#12366 setuptools_scm preferences in pyproject.toml
  pyproject.toml
  setup.cfg
  setup.py
Labels: installation, no-changelog-entry-needed

#12360 Clarify LTS vs non-LTS procedure for changelog
  docs/development/releasing.rst
Labels: Docs, Release, no-changelog-entry-needed

#12386 Backport PR #12190 on branch v5.0.x (Cosmo: validating and setting Parameters)
  astropy/cosmology/__init__.py
  astropy/cosmology/connect.py
  astropy/cosmology/core.py
  astropy/cosmology/flrw.py
  astropy/cosmology/io/tests/test_ecsv.py
  astropy/cosmology/parameter.py
  astropy/cosmology/tests/conftest.py
  astropy/cosmology/tests/test_core.py
  astropy/cosmology/tests/test_flrw.py
  astropy/cosmology/tests/test_parameter.py
  docs/changes/cosmology/12190.feature.rst
  docs/conf.py
  docs/cosmology/dev.rst
  docs/cosmology/io.rst
Labels: cosmology, merge-when-ci-passes, backport-v5.0.x

#12396 Backport PR #12383 on branch v5.0.x (Fix 12377)
  astropy/cosmology/tests/mypackage/io/__init__.py
Labels: cosmology, no-changelog-entry-needed, backport-v5.0.x

#12397 Backport PR #12366 on branch v5.0.x (setuptools_scm preferences in pyproject.toml)
  pyproject.toml
  setup.cfg
  setup.py
Labels: installation, no-changelog-entry-needed

#12389 Ensure no unexpected failures in treating deprecations as exceptions.
  astropy/tests/helper.py
Labels: testing, Bug, no-changelog-entry-needed, backport-v5.0.x

#12379 Build arm64 wheels for MacOS X
  azure-pipelines.yml
Labels: testing, no-changelog-entry-needed, backport-v5.0.x

#12395 isort constants
  astropy/constants/__init__.py
  astropy/constants/astropyconst13.py
  astropy/constants/astropyconst20.py
  astropy/constants/astropyconst40.py
  astropy/constants/cgs.py
  astropy/constants/codata2010.py
  astropy/constants/codata2014.py
  astropy/constants/codata2018.py
  astropy/constants/config.py
  astropy/constants/constant.py
  astropy/constants/iau2015.py
  astropy/constants/si.py
  astropy/constants/tests/test_constant.py
  astropy/constants/tests/test_pickle.py
  astropy/constants/tests/test_prior_version.py
  astropy/constants/tests/test_sciencestate.py
Labels: constants, no-changelog-entry-needed

#12398 Add What's New for 5.0 for MRT format support
  docs/whatsnew/5.0.rst
Labels: Docs, no-changelog-entry-needed

#12399 Backport PR #12389 on branch v5.0.x (Ensure no unexpected failures in treating deprecations as exceptions.)
  astropy/tests/helper.py
Labels: testing, Bug, no-changelog-entry-needed, backport-v5.0.x

#12401 Backport PR #12379 on branch v5.0.x (Build arm64 wheels for MacOS X)
  azure-pipelines.yml
Labels: testing, no-changelog-entry-needed, backport-v5.0.x

#12385 Fix typo in ASDF serialization code for model bounding box
  astropy/io/misc/asdf/tags/transform/basic.py
  docs/changes/io.misc/12385.bugfix.rst
Labels: Bug, io.misc.asdf, backport-v5.0.x

#12380 Bugfix for truncated outputs when using `with_bounding_box=True`
  astropy/modeling/core.py
  astropy/modeling/tests/test_core.py
Labels: modeling, Affects-dev, no-changelog-entry-needed, backport-v5.0.x

#12371 Bugfix for copying user defined attributes in `CompoundModel`
  astropy/modeling/bounding_box.py
  astropy/modeling/core.py
  astropy/modeling/tests/test_bounding_box.py
  astropy/modeling/tests/test_core.py
Labels: modeling, Affects-dev, no-changelog-entry-needed, backport-v5.0.x

#12400 Fix ECSV tests on MacOS X arm64
  astropy/io/ascii/tests/test_ecsv.py
Labels: io.ascii, no-changelog-entry-needed, backport-v5.0.x

#12405 Backport PR #12385 on branch v5.0.x (Fix typo in ASDF serialization code for model bounding box)
  astropy/io/misc/asdf/tags/transform/basic.py
  docs/changes/io.misc/12385.bugfix.rst
Labels: Bug, io.misc.asdf, backport-v5.0.x

#12406 Backport PR #12380 on branch v5.0.x (Bugfix for truncated outputs when using `with_bounding_box=True`)
  astropy/modeling/core.py
  astropy/modeling/tests/test_core.py
Labels: modeling, Affects-dev, no-changelog-entry-needed, backport-v5.0.x

#12407 Backport PR #12371 on branch v5.0.x (Bugfix for copying user defined attributes in `CompoundModel`)
  astropy/modeling/bounding_box.py
  astropy/modeling/core.py
  astropy/modeling/tests/test_bounding_box.py
  astropy/modeling/tests/test_core.py
Labels: modeling, Affects-dev, no-changelog-entry-needed, backport-v5.0.x

#12408 Backport PR #12400 on branch v5.0.x (Fix ECSV tests on MacOS X arm64)
  astropy/io/ascii/tests/test_ecsv.py
Labels: io.ascii, no-changelog-entry-needed, backport-v5.0.x

#12381 Fix ASDF serialization of model inputs and outputs
  astropy/io/misc/asdf/tags/transform/basic.py
  astropy/io/misc/asdf/tags/transform/tests/test_transform.py
  docs/changes/io.misc/12381.bugfix.rst
Labels: Bug, io.misc.asdf, backport-v5.0.x

#12374 Cosmo ECSV copy-paste fixes.
  astropy/cosmology/io/ecsv.py
Labels: cosmology, no-changelog-entry-needed, backport-v5.0.x

#12387 cosmo move immutability test
  astropy/cosmology/tests/test_core.py
  astropy/cosmology/tests/test_cosmology.py
Labels: cosmology, no-changelog-entry-needed

#12402 Fix linkcheck job
  astropy/utils/xml/writer.py
  docs/conf.py
  docs/coordinates/galactocentric.rst
  docs/cosmology/dev.rst
  docs/cosmology/io.rst
  docs/io/fits/appendix/faq.rst
  docs/whatsnew/5.0.rst
  docs/whatsnew/index.rst
  examples/coordinates/plot_galactocentric-frame.py
  tox.ini
Labels: testing, Docs, io.fits, coordinates, cosmology, Ready-for-final-review, no-changelog-entry-needed, Extra CI, backport-v5.0.x

#12173 Fix pyinstaller CI
  .pyinstaller/run_astropy_tests.py
  tox.ini
Labels: testing, utils, Ready-for-final-review, no-changelog-entry-needed, Extra CI, backport-v5.0.x

#12413 move `test_flrw_moved_deprecation` test
  astropy/cosmology/tests/test_core.py
  astropy/cosmology/tests/test_cosmology.py
Labels: cosmology, no-changelog-entry-needed

#12415 Backport PR #12173 on branch v5.0.x (Fix pyinstaller CI)
  .pyinstaller/run_astropy_tests.py
  tox.ini
Labels: testing, utils, Ready-for-final-review, no-changelog-entry-needed, merge-when-ci-passes, Extra CI

#12417 Fix init of table from list of Mapping
  astropy/table/table.py
  astropy/table/tests/test_init_table.py
  docs/changes/table/12417.bugfix.rst
Labels: table, Bug, backport-v5.0.x

#12419 Don't run hypothesis tests on the dist builds
  azure-pipelines.yml
Labels: testing, no-changelog-entry-needed, backport-v5.0.x

#12421 Backport PR #12417 on branch v5.0.x (Fix init of table from list of Mapping)
  astropy/table/table.py
  astropy/table/tests/test_init_table.py
  docs/changes/table/12417.bugfix.rst
Labels: table, Bug, backport-v5.0.x

#12411 Depreciate `AliasDict`
  astropy/modeling/utils.py
  docs/changes/modeling/12411.api.rst
Labels: modeling, backport-v5.0.x

#12414 Possible fixes for Spline test fails due to floats.
  astropy/modeling/tests/test_spline.py
Labels: testing, modeling, Affects-dev, no-changelog-entry-needed, backport-v5.0.x

#12422 Backport PR #12419 on branch v5.0.x (Don't run hypothesis tests on the dist builds)
  azure-pipelines.yml
Labels: testing, no-changelog-entry-needed, backport-v5.0.x

#12423 Backport PR #12411 on branch v5.0.x (Depreciate `AliasDict`)
  astropy/modeling/utils.py
  docs/changes/modeling/12411.api.rst
Labels: modeling, backport-v5.0.x

#12424 Backport PR #12414 on branch v5.0.x (Possible fixes for Spline test fails due to floats.)
  astropy/modeling/tests/test_spline.py
Labels: testing, modeling, Affects-dev, no-changelog-entry-needed, backport-v5.0.x

#12409 Backport PR #12381 on branch v5.0.x (Fix ASDF serialization of model inputs and outputs)
  astropy/io/misc/asdf/tags/transform/basic.py
  astropy/io/misc/asdf/tags/transform/tests/test_transform.py
  docs/changes/io.misc/12381.bugfix.rst
Labels: Bug, io.misc.asdf, backport-v5.0.x

#12412 Backport PR #12374 on branch v5.0.x (Cosmo ECSV copy-paste fixes.)
  astropy/cosmology/io/ecsv.py
Labels: cosmology, no-changelog-entry-needed, backport-v5.0.x

#12367 Fix unclosed file warning in `io.ascii` tests for big tables
  astropy/io/ascii/tests/test_c_reader.py
Labels: testing, io.ascii, Bug, no-changelog-entry-needed, backport-v5.0.x

#12369 Updates to documentation for Splines
  astropy/modeling/spline.py
  docs/modeling/index.rst
  docs/modeling/spline_models.rst
Labels: Docs, modeling, Affects-dev, no-changelog-entry-needed, backport-v5.0.x

#12426 Backport PR #12402 on branch v5.0.x (Fix linkcheck job)
  astropy/utils/xml/writer.py
  docs/conf.py
  docs/coordinates/galactocentric.rst
  docs/cosmology/dev.rst
  docs/cosmology/io.rst
  docs/io/fits/appendix/faq.rst
  examples/coordinates/plot_galactocentric-frame.py
  tox.ini
Labels: testing, Docs, io.fits, coordinates, cosmology, utils, no-changelog-entry-needed, Manual Backport, skip-basebranch-check

#12428 Backport PR #12367 on branch v5.0.x (Fix unclosed file warning in `io.ascii` tests for big tables)
  astropy/io/ascii/tests/test_c_reader.py
Labels: testing, io.ascii, Bug, no-changelog-entry-needed, backport-v5.0.x

#12429 Backport PR #12369 on branch v5.0.x (Updates to documentation for Splines)
  astropy/modeling/spline.py
  docs/modeling/index.rst
  docs/modeling/spline_models.rst
Labels: Docs, modeling, Affects-dev, no-changelog-entry-needed, backport-v5.0.x

#12432 Remove use of global set_enabled_equivalencies, to fix doc build
  docs/units/equivalencies.rst
Labels: units, no-changelog-entry-needed, backport-v5.0.x

#12433 Backport PR #12432 on branch v5.0.x (Remove use of global set_enabled_equivalencies, to fix doc build)
  docs/units/equivalencies.rst
Labels: units, no-changelog-entry-needed, backport-v5.0.x

#12437 Fix WCSAxes test on mpl dev
  astropy/visualization/wcsaxes/tests/test_misc.py
Labels: no-changelog-entry-needed, visualization.wcsaxes, backport-v5.0.x

#12441 Backport PR #12437 on branch v5.0.x (Fix WCSAxes test on mpl dev)
  astropy/visualization/wcsaxes/tests/test_misc.py
Labels: no-changelog-entry-needed, visualization.wcsaxes, backport-v5.0.x

#12392 isort pyinstaller
  .pyinstaller/hooks/hook-skyfield.py
  .pyinstaller/run_astropy_tests.py
Labels: testing, no-changelog-entry-needed

#12393 isort top-level astropy
  astropy/__init__.py
  astropy/_dev/scm_version.py
  astropy/_erfa/__init__.py
  astropy/conftest.py
Labels: testing, no-changelog-entry-needed

#12445 Fix typo in DexUnit's docstring
  astropy/units/function/logarithmic.py
Labels: units, no-changelog-entry-needed

#12258 Remove the `clobber` argument from `io.fits`
  astropy/io/fits/convenience.py
  astropy/io/fits/diff.py
  astropy/io/fits/file.py
  astropy/io/fits/hdu/base.py
  astropy/io/fits/hdu/hdulist.py
  astropy/io/fits/hdu/table.py
  astropy/io/fits/header.py
  astropy/io/fits/tests/test_diff.py
  astropy/io/fits/tests/test_hdulist.py
  astropy/io/fits/tests/test_table.py
  docs/changes/io.fits/12258.api.rst
Labels: io.fits, Refactoring

#12449 backward compat for private methods in registry
  astropy/io/registry/__init__.py
Labels: no-changelog-entry-needed, merge-when-ci-passes, backport-v5.0.x

#12440 Bugfix for using `SpectralCoord` bounds when validating `_Interval`
  astropy/coordinates/spectral_quantity.py
  astropy/modeling/tests/test_bounding_box.py
  docs/changes/coordinates/12440.api.rst
Labels: modeling, Affects-dev, backport-v5.0.x

#12447 Fix bug in WCSAxes that caused errors when drawing multiple times a f…
  astropy/visualization/wcsaxes/coordinate_helpers.py
  astropy/visualization/wcsaxes/core.py
  astropy/visualization/wcsaxes/tests/test_misc.py
  docs/changes/visualization/12447.bugfix.rst
Labels: visualization, visualization.wcsaxes, backport-v5.0.x

#12453 Backport PR #12449 on branch v5.0.x (backward compat for private methods in registry)
  astropy/io/registry/__init__.py
Labels: no-changelog-entry-needed, merge-when-ci-passes, backport-v5.0.x

#12456 Backport PR #12440 on branch v5.0.x (Bugfix for using `SpectralCoord` bounds when validating `_Interval`)
  astropy/coordinates/spectral_quantity.py
  astropy/modeling/tests/test_bounding_box.py
  docs/changes/coordinates/12440.api.rst
Labels: modeling, Affects-dev, backport-v5.0.x

#12450 Enable doctests in 'What's new in 5.0'
  docs/whatsnew/5.0.rst
Labels: Docs, no-changelog-entry-needed, skip-basebranch-check

#12455 Whats new entry about masked quantity in qtable
  docs/whatsnew/5.0.rst
Labels: Docs, no-changelog-entry-needed

#12452 Added spline plot to whatsnew.
  docs/whatsnew/5.0.rst
Labels: Docs, no-changelog-entry-needed

#12454 Support nanfunctions for utils.masked
  astropy/utils/masked/core.py
  astropy/utils/masked/function_helpers.py
  astropy/utils/masked/tests/test_function_helpers.py
  astropy/utils/masked/tests/test_masked.py
  docs/changes/utils/12454.bugfix.rst
  docs/changes/utils/12454.feature.rst
Labels: Bug, utils, Enhancement, utils.masked, backport-v5.0.x

#12457 Backport PR #12447 on branch v5.0.x (Fix bug in WCSAxes that caused errors when drawing multiple times a f…)
  astropy/visualization/wcsaxes/coordinate_helpers.py
  astropy/visualization/wcsaxes/core.py
  astropy/visualization/wcsaxes/tests/test_misc.py
  docs/changes/visualization/12447.bugfix.rst
Labels: visualization, visualization.wcsaxes, backport-v5.0.x

#12458 Backport PR #12454 on branch v5.0.x (Support nanfunctions for utils.masked)
  astropy/utils/masked/core.py
  astropy/utils/masked/function_helpers.py
  astropy/utils/masked/tests/test_function_helpers.py
  astropy/utils/masked/tests/test_masked.py
  docs/changes/utils/12454.bugfix.rst
  docs/changes/utils/12454.feature.rst
Labels: Bug, utils, Enhancement, utils.masked, backport-v5.0.x

#12364 Updates to documentation for new modeling bounding box features.
  astropy/modeling/core.py
  astropy/modeling/tests/test_core.py
  docs/modeling/models.rst
Labels: Docs, modeling, no-changelog-entry-needed, backport-v5.0.x

#12459 Backport PR #12364 on branch v5.0.x (Updates to documentation for new modeling bounding box features.)
  astropy/modeling/core.py
  astropy/modeling/tests/test_core.py
  docs/modeling/models.rst
Labels: Docs, modeling, no-changelog-entry-needed, backport-v5.0.x

#12451 Add What's New entry for `SkyCoord.to_table()`
  docs/whatsnew/5.0.rst
Labels: Docs, no-changelog-entry-needed, skip-basebranch-check

#12462 isort convolve
  astropy/convolution/__init__.py
  astropy/convolution/convolve.py
  astropy/convolution/core.py
  astropy/convolution/kernels.py
  astropy/convolution/setup_package.py
  astropy/convolution/tests/test_convolve.py
  astropy/convolution/tests/test_convolve_fft.py
  astropy/convolution/tests/test_convolve_kernels.py
  astropy/convolution/tests/test_convolve_models.py
  astropy/convolution/tests/test_convolve_nddata.py
  astropy/convolution/tests/test_convolve_speeds.py
  astropy/convolution/tests/test_discretize.py
  astropy/convolution/tests/test_kernel_class.py
  astropy/convolution/tests/test_pickle.py
  astropy/convolution/utils.py
Labels: convolution, no-changelog-entry-needed, merge-when-ci-passes

#12460 avoid sunpy logger in asdf roundtrip
  astropy/cosmology/tests/test_units.py
Labels: testing, cosmology, no-changelog-entry-needed, backport-v5.0.x

#12466 Backport PR #12460 on branch v5.0.x (avoid sunpy logger in asdf roundtrip)
  astropy/cosmology/tests/test_units.py
Labels: testing, cosmology, no-changelog-entry-needed, backport-v5.0.x

#12468 Update IERS table ahead of 5.0rc2
  astropy/utils/iers/data/eopc04_IAU2000.62-now
Labels: no-changelog-entry-needed, merge-when-ci-passes, utils.iers, backport-v5.0.x

#12469 Backport PR #12468 on branch v5.0.x (Update IERS table ahead of 5.0rc2)
  astropy/utils/iers/data/eopc04_IAU2000.62-now
Labels: no-changelog-entry-needed, merge-when-ci-passes, utils.iers, backport-v5.0.x

#12357 Fix ECSV tests class location
  astropy/cosmology/tests/test_connect.py
Labels: cosmology, no-changelog-entry-needed

#12471 Ensure scalar QuantityDistribution work properly with ufuncs.
  astropy/uncertainty/tests/test_distribution.py
  astropy/units/core.py
  docs/changes/uncertainty/12471.bugfix.rst
Labels: units, Bug, uncertainty, backport-v5.0.x

#12474 Backport PR #12471 on branch v5.0.x (Ensure scalar QuantityDistribution work properly with ufuncs.)
  astropy/uncertainty/tests/test_distribution.py
  astropy/units/core.py
  docs/changes/uncertainty/12471.bugfix.rst
Labels: units, Bug, uncertainty

#10507 Suggest minor edit to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: Docs, Close?, no-changelog-entry-needed

#12476 Add intersphinx links and cleanup text in 'What's new in 5.0?'
  docs/whatsnew/5.0.rst
Labels: Docs, no-changelog-entry-needed, skip-basebranch-check

#12473 DOC: Remove stability page
  docs/index.rst
  docs/io/ascii/index.rst
  docs/io/fits/index.rst
  docs/io/votable/index.rst
  docs/nddata/index.rst
  docs/stability.rst
  docs/uncertainty/index.rst
  docs/visualization/wcsaxes/index.rst
  docs/wcs/index.rst
Labels: io.votable, wcs, Docs, io.fits, io.ascii, nddata, no-changelog-entry-needed, visualization.wcsaxes, uncertainty, backport-v5.0.x

#12467 Fix example versions in generate_releaserst.xsh command in release docs
  docs/development/releasing.rst
Labels: Docs, Release, no-changelog-entry-needed

#12477 Backport PR #12473 on branch v5.0.x (DOC: Remove stability page)
  docs/index.rst
  docs/io/ascii/index.rst
  docs/io/fits/index.rst
  docs/io/votable/index.rst
  docs/nddata/index.rst
  docs/stability.rst
  docs/uncertainty/index.rst
  docs/visualization/wcsaxes/index.rst
  docs/wcs/index.rst
Labels: io.votable, wcs, Docs, io.fits, io.ascii, nddata, no-changelog-entry-needed, visualization.wcsaxes, uncertainty

#12492 register structured units with yaml serialization
  astropy/io/misc/tests/test_yaml.py
  astropy/io/misc/yaml.py
  docs/changes/units/12492.feature.rst
Labels: io.misc

#12489 TST: Remove wcsapi C-extension test
  astropy/wcs/tests/extension/.gitignore
  astropy/wcs/tests/extension/__init__.py
  astropy/wcs/tests/extension/setup.py
  astropy/wcs/tests/extension/test_extension.py
  astropy/wcs/tests/extension/wcsapi_test.c
Labels: wcs, no-changelog-entry-needed, backport-v5.0.x

#12499 Backport PR #12489 on branch v5.0.x (TST: Remove wcsapi C-extension test)
  astropy/wcs/tests/extension/.gitignore
  astropy/wcs/tests/extension/__init__.py
  astropy/wcs/tests/extension/setup.py
  astropy/wcs/tests/extension/test_extension.py
  astropy/wcs/tests/extension/wcsapi_test.c
Labels: wcs, no-changelog-entry-needed, backport-v5.0.x

#12496 DOC: Fix doc warnings so RTD would build again (try 2)
  docs/conf.py
  docs/nitpick-exceptions
Labels: Docs, no-changelog-entry-needed, backport-v5.0.x

#12500 Backport PR #12496 on branch v5.0.x (DOC: Fix doc warnings so RTD would build again (try 2))
  docs/conf.py
  docs/nitpick-exceptions
Labels: Docs, no-changelog-entry-needed, backport-v5.0.x

#12461 Test FLRW & subclass's Parameters
  astropy/cosmology/flrw.py
  astropy/cosmology/tests/test_core.py
  astropy/cosmology/tests/test_cosmology.py
  astropy/cosmology/tests/test_flrw.py
Labels: cosmology, no-changelog-entry-needed, merge-when-ci-passes

#12511 Temporary fix problems with Quantity.__class_getitem__
  astropy/units/quantity.py
  astropy/utils/masked/function_helpers.py
  docs/changes/units/12511.bugfix.rst
  docs/changes/utils/12511.bugfix.rst
Labels: units, Bug, utils, numpy-dev, utils.masked

#12516 Use +FLOAT_CMP to fix test failure on i386 and others in convolve.py
  astropy/convolution/convolve.py
Labels: testing, convolution, no-changelog-entry-needed, backport-v5.0.x

#12507 Removed coordination committee from credits page in core package docs
  docs/credits.rst
Labels: Docs, no-changelog-entry-needed, backport-v5.0.x

#12519 Backport PR #12511 on branch v5.0.x (Temporary fix problems with Quantity.__class_getitem__)
  astropy/units/quantity.py
  astropy/utils/masked/function_helpers.py
  docs/changes/units/12511.bugfix.rst
  docs/changes/utils/12511.bugfix.rst
Labels: units, Bug, utils, numpy-dev, merge-when-ci-passes, utils.masked

#12508 Test FLRW properties
  astropy/cosmology/tests/test_core.py
  astropy/cosmology/tests/test_cosmology.py
  astropy/cosmology/tests/test_flrw.py
Labels: cosmology, no-changelog-entry-needed, merge-when-ci-passes

#12522 TST: Update Python versions in CI
  .github/workflows/ci_workflows.yml
Labels: testing, no-changelog-entry-needed

#12525 fix handling of Column objects for astropy.cosmology.utils.aszarr (issue #12518)
  astropy/cosmology/utils.py
  docs/changes/cosmology/12525.bugfix.rst
Labels: Bug, cosmology, backport-v5.0.x

#12486 register ``structured_to_unstructured``
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/tests/test_quantity_non_ufuncs.py
  astropy/units/tests/test_structured.py
  docs/changes/units/12486.feature.rst
Labels: units, Enhancement, merge-when-ci-passes

#12479 cosmo: Parameter clone
  astropy/cosmology/flrw.py
  astropy/cosmology/parameter.py
  astropy/cosmology/tests/test_parameter.py
  docs/changes/cosmology/12479.feature.rst
  docs/cosmology/dev.rst
Labels: cosmology, merge-when-ci-passes

#12528 Backport PR #12525 on branch v5.0.x (fix handling of Column objects for astropy.cosmology.utils.aszarr (issue #12518))
  astropy/cosmology/utils.py
  docs/changes/cosmology/12525.bugfix.rst
Labels: Bug, cosmology, backport-v5.0.x

#11843 Allow specifying parse_strict for units when reading FITS tables
  astropy/io/fits/connect.py
  astropy/io/fits/tests/test_connect.py
  astropy/io/fits/tests/test_table.py
  astropy/table/tests/test_showtable.py
  astropy/timeseries/io/tests/test_kepler.py
  astropy/timeseries/tests/test_sampled.py
  docs/changes/io.fits/11843.feature.rst
  docs/timeseries/index.rst
Labels: io.fits, unified-io

#12509 Support structured quantity, including scalars.
  astropy/io/misc/tests/test_yaml.py
  astropy/io/misc/yaml.py
  docs/changes/io.misc/12509.bugfix.rst
Labels: Bug, io.misc, backport-v5.0.x

#12535 ENH: fix compatibility with numpy 1.23
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/tests/test_quantity_non_ufuncs.py
  astropy/utils/compat/numpycompat.py
  astropy/utils/masked/function_helpers.py
  astropy/utils/masked/tests/test_function_helpers.py
Labels: units, utils, no-changelog-entry-needed, merge-when-ci-passes, utils.masked, backport-v5.0.x

#12529 Prevent `Table.remove_columns()` and `Table.keep_columns()` from failing with generators
  astropy/table/table.py
  astropy/table/tests/test_table.py
  docs/changes/table/12529.bugfix.rst
Labels: table, Bug, backport-v5.0.x

#12523 Parameters vector bugfix for Spline models.
  astropy/modeling/spline.py
  astropy/modeling/tests/test_spline.py
  docs/changes/modeling/12523.bugfix.rst
Labels: Bug, modeling, backport-v5.0.x

#12537 Backport PR #12535: ENH: fix compatibility with numpy 1.23
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/tests/test_quantity_non_ufuncs.py
  astropy/utils/compat/numpycompat.py
  astropy/utils/masked/function_helpers.py
  astropy/utils/masked/tests/test_function_helpers.py
Labels: units, Bug, utils, no-changelog-entry-needed, numpy-dev, skip-basebranch-check, utils.masked

#12542 Fix Parameter.clone link
  docs/cosmology/dev.rst
Labels: Docs, Bug, cosmology, no-changelog-entry-needed, Extra CI, backport-v5.0.x

#12520 Backport PR #12507 on branch v5.0.x (Removed coordination committee from credits page in core package docs)
  docs/credits.rst
Labels: Docs, no-changelog-entry-needed

#12524 DOC: Fix linkcheck
  docs/whatsnew/5.0.rst
  docs/whatsnew/index.rst
Labels: Docs, no-changelog-entry-needed

#12470 TST: Un-ignore pipenv docs from linkcheck
  docs/conf.py
Labels: Docs, no-changelog-entry-needed, Extra CI

#12547 DOC: Replace defunct noao.edu sites
  astropy/io/votable/exceptions.py
  astropy/io/votable/tree.py
Labels: io.votable, Docs, no-changelog-entry-needed, Extra CI
