Repository astropy/astropy, pull requests merged in 2021-12, with the labels that each got.

#12549 TST: Temporarily skipping MRT write doctest
  docs/io/ascii/write.rst
Labels: testing, Docs, io.ascii, no-changelog-entry-needed, ¯\_(ツ)_/¯, Extra CI

#12552 Backport PR #12547 on branch v5.0.x (DOC: Replace defunct noao.edu sites)
  astropy/io/votable/exceptions.py
  astropy/io/votable/tree.py
Labels: io.votable, Docs, no-changelog-entry-needed, Extra CI

#12553 Backport PR #12516 on branch v5.0.x (Use +FLOAT_CMP to fix test failure on i386 and others in convolve.py)
  astropy/convolution/convolve.py
Labels: testing, convolution, no-changelog-entry-needed

#12555 Backport PR #12529 on branch v5.0.x (Prevent `Table.remove_columns()` and `Table.keep_columns()` from failing with generators)
  astropy/table/table.py
  astropy/table/tests/test_table.py
  docs/changes/table/12529.bugfix.rst
Labels: table, Bug

#12557 Backport PR #12523 on branch v5.0.x (Parameters vector bugfix for Spline models.)
  astropy/modeling/spline.py
  astropy/modeling/tests/test_spline.py
  docs/changes/modeling/12523.bugfix.rst
Labels: Bug, modeling

#12559 Backport PR #12492 on branch v5.0.x (register structured units with yaml serialization)
  astropy/io/misc/tests/test_yaml.py
  astropy/io/misc/yaml.py
  docs/changes/units/12492.feature.rst
Labels: units, io.misc

#12560 Backport PR #12509 on branch v5.0.x (Support structured quantity, including scalars.)
  astropy/io/misc/tests/test_yaml.py
  astropy/io/misc/yaml.py
  docs/changes/io.misc/12509.bugfix.rst
Labels: Bug, io.misc, backport-v5.0.x

#12550 Cosmo strict copy
  astropy/cosmology/connect.py
  astropy/cosmology/core.py
  astropy/cosmology/io/tests/test_ecsv.py
  astropy/cosmology/io/tests/test_mapping.py
  astropy/cosmology/io/tests/test_table.py
  astropy/cosmology/tests/test_connect.py
  astropy/cosmology/tests/test_core.py
Labels: cosmology, no-changelog-entry-needed

#12531 Prevent `Distance` from being constructed with both `z` and `parallax`
  astropy/coordinates/distances.py
  astropy/coordinates/tests/test_distance.py
  docs/changes/coordinates/12531.bugfix.rst
Labels: coordinates, backport-v5.0.x

#12562 Backport PR #12531 on branch v5.0.x (Prevent `Distance` from being constructed with both `z` and `parallax`)
  astropy/coordinates/distances.py
  astropy/coordinates/tests/test_distance.py
  docs/changes/coordinates/12531.bugfix.rst
Labels: Bug, coordinates, merge-when-ci-passes

#12565 Backport PR #12563 on branch v5.0.x (DOC: Fix broken link to PyPI tutorial)
  docs/development/astropy-package-template.rst
Labels: Docs, no-changelog-entry-needed, merge-when-ci-passes, Extra CI

#12566 Implement multiplication and division of LogQuantities
  astropy/units/function/logarithmic.py
  astropy/units/tests/test_logarithmic.py
  docs/changes/units/12566.feature.rst
  docs/units/logarithmic_units.rst
Labels: units, Enhancement

#12569 Enable using `unit` together with `parallax` in `Distance` constructor
  astropy/coordinates/distances.py
  astropy/coordinates/tests/test_distance.py
  docs/changes/coordinates/12569.bugfix.rst
Labels: Bug, coordinates, backport-v5.0.x

#12572 Backport PR #12569 on branch v5.0.x (Enable using `unit` together with `parallax` in `Distance` constructor)
  astropy/coordinates/distances.py
  astropy/coordinates/tests/test_distance.py
  docs/changes/coordinates/12569.bugfix.rst
Labels: Bug, coordinates, merge-when-ci-passes

#12556 Fixed a subtle broadcasting bug when instantiating representations without copying the inputs
  astropy/coordinates/representation.py
  astropy/coordinates/tests/test_representation.py
  docs/changes/coordinates/12556.bugfix.rst
Labels: Bug, coordinates, backport-v5.0.x

#12482 Ensure that masked instances can be used to initialize np.ma.MaskedArray
  astropy/utils/masked/core.py
  astropy/utils/masked/tests/test_masked.py
  docs/changes/utils/12482.bugfix.rst
Labels: Bug, utils, merge-when-ci-passes, utils.masked, backport-v5.0.x

#12576 Backport PR #12482 on branch v5.0.x (Ensure that masked instances can be used to initialize np.ma.MaskedArray)
  astropy/utils/masked/core.py
  astropy/utils/masked/tests/test_masked.py
  docs/changes/utils/12482.bugfix.rst
Labels: Bug, utils, merge-when-ci-passes, utils.masked

#12574 Backport PR #12556 on branch v5.0.x (Fixed a subtle broadcasting bug when instantiating representations without copying the inputs)
  astropy/coordinates/representation.py
  astropy/coordinates/tests/test_representation.py
  docs/changes/coordinates/12556.bugfix.rst
Labels: Bug, coordinates

#12567 Refactor `Distance` constructor, update docstring and error messages
  astropy/coordinates/distances.py
  astropy/coordinates/representation.py
  astropy/coordinates/tests/test_distance.py
Labels: coordinates, Refactoring, no-changelog-entry-needed, merge-when-ci-passes

#12581 Numpy dev warning message change
  astropy/modeling/tests/test_model_sets.py
  astropy/nddata/mixins/tests/test_ndarithmetic.py
  astropy/utils/masked/tests/test_masked.py
Labels: nddata, Bug, modeling, Refactoring, no-changelog-entry-needed, numpy-dev, utils.masked, backport-v5.0.x

#12582 Backport PR #12581 on branch v5.0.x (Numpy dev warning message change)
  astropy/modeling/tests/test_model_sets.py
  astropy/nddata/mixins/tests/test_ndarithmetic.py
  astropy/utils/masked/tests/test_masked.py
Labels: nddata, Bug, modeling, Refactoring, no-changelog-entry-needed, numpy-dev, merge-when-ci-passes, utils.masked, backport-v5.0.x

#12583 pickle structured units
  astropy/units/structured.py
  astropy/units/tests/test_structured.py
  docs/changes/units/12583.bugfix.rst
Labels: units, Bug, backport-v5.0.x

#12590 Omega total
  astropy/cosmology/flrw.py
  astropy/cosmology/tests/test_cosmology.py
  astropy/cosmology/tests/test_flrw.py
  astropy/cosmology/tests/test_funcs.py
  docs/changes/cosmology/12590.feature.rst
Labels: cosmology

#12586 Backport PR #12583 on branch v5.0.x (pickle structured units)
  astropy/units/structured.py
  astropy/units/tests/test_structured.py
  docs/changes/units/12583.bugfix.rst
Labels: units, Bug, backport-v5.0.x

#12591 Try ubuntu 20.04
  .github/workflows/ci_cron_weekly.yml
Labels: testing, no-changelog-entry-needed, Extra CI, backport-v5.0.x

#12592 Simplify `Or` in cosmology internals
  astropy/cosmology/flrw.py
Labels: cosmology, Refactoring, no-changelog-entry-needed

#12602 Backport PR #12591 on branch v5.0.x (Try ubuntu 20.04)
  .github/workflows/ci_cron_weekly.yml
Labels: testing, no-changelog-entry-needed, Extra CI

#12587 Fix structured units deserialization
  astropy/units/structured.py
  astropy/units/tests/test_structured.py
  docs/changes/units/12583.bugfix.rst
  docs/known_issues.rst
Labels: units, skip-changelog-checks, Extra CI, backport-v5.0.x

#12605 Backport PR #12587 on branch v5.0.x (Fix structured units deserialization)
  astropy/units/structured.py
  astropy/units/tests/test_structured.py
  docs/changes/units/12583.bugfix.rst
  docs/known_issues.rst
Labels: units, merge-when-ci-passes, skip-changelog-checks, Extra CI

#12585 Make `_fitter_to_model_params` and `_model_to_fit_params` public.
  astropy/modeling/fitting.py
  docs/changes/modeling/12585.api.rst
Labels: modeling, API change

#12601 Remove an obsolete workaround from `Row.as_void()`
  astropy/table/row.py
Labels: table, Refactoring, no-changelog-entry-needed, merge-when-ci-passes, Extra CI

#12606 Cosmology property `is_flat`
  astropy/cosmology/core.py
  astropy/cosmology/flrw.py
  astropy/cosmology/io/tests/test_model.py
  astropy/cosmology/tests/test_core.py
  astropy/cosmology/tests/test_flrw.py
  astropy/cosmology/tests/test_parameter.py
  docs/changes/cosmology/12606.feature.rst
  docs/whatsnew/5.1.rst
Labels: cosmology, Enhancement, whatsnew-needed

#12607 Avoid duplicate storage of info in serialized columns.
  astropy/table/serialize.py
  astropy/table/tests/test_mixin.py
  astropy/utils/masked/core.py
  docs/changes/table/12607.bugfix.rst
Labels: table, Bug, Ready-for-final-review, backport-v5.0.x

#12615 TST: Pin numpy for 32-bit job
  .github/workflows/ci_workflows.yml
Labels: testing, Ready-for-final-review, no-changelog-entry-needed, ¯\_(ツ)_/¯, backport-v5.0.x

#12616 Backport PR #12615 on branch v5.0.x (TST: Pin numpy for 32-bit job)
  .github/workflows/ci_workflows.yml
Labels: testing, Ready-for-final-review, no-changelog-entry-needed, ¯\_(ツ)_/¯

#12597 Bugfix for key error in `fix_inputs` models `input_units_equivalencies` property
  astropy/modeling/core.py
  astropy/modeling/tests/test_models_quantities.py
  astropy/modeling/tests/test_quantities_evaluation.py
  docs/changes/modeling/12597.bugfix.rst
Labels: Bug, modeling, merge-when-ci-passes, backport-v5.0.x

#12475 Bugfix for fitting compound models with mixed output units
  astropy/modeling/core.py
  astropy/modeling/fitting.py
  astropy/modeling/tests/test_compound.py
  docs/changes/modeling/12475.bugfix.rst
  docs/modeling/add-units.rst
Labels: modeling, merge-when-ci-passes

#12618 Backport PR #12607 on branch v5.0.x (Avoid duplicate storage of info in serialized columns.)
  astropy/table/serialize.py
  astropy/table/tests/test_mixin.py
  astropy/utils/masked/core.py
  docs/changes/table/12607.bugfix.rst
Labels: table, Bug, Ready-for-final-review

#12617 Backport PR #12597 on branch v5.0.x (Bugfix for key error in `fix_inputs` models `input_units_equivalencies` property)
  astropy/modeling/core.py
  astropy/modeling/tests/test_models_quantities.py
  astropy/modeling/tests/test_quantities_evaluation.py
  docs/changes/modeling/12597.bugfix.rst
Labels: Bug, modeling, merge-when-ci-passes

#12611 clean up formatting in cosmology docs
  docs/common_links.txt
  docs/cosmology/dev.rst
  docs/cosmology/index.rst
  docs/cosmology/io.rst
  docs/cosmology/units.rst
Labels: Docs, cosmology, no-changelog-entry-needed, merge-when-ci-passes

#12375 merge `get_cosmology_from_string` with `get`
  astropy/cosmology/realizations.py
  astropy/cosmology/tests/test_realizations.py
  docs/changes/cosmology/12375.api.rst
Labels: cosmology, merge-when-ci-passes

#12588 check if `data_class` has method for doc updates
  astropy/io/registry/base.py
Labels: unified-io, no-changelog-entry-needed, backport-v5.0.x

#12194 cosmo: move pickling tests
  astropy/cosmology/tests/conftest.py
  astropy/cosmology/tests/test_core.py
  astropy/cosmology/tests/test_flrw.py
  astropy/cosmology/tests/test_pickle.py
  astropy/cosmology/tests/test_realizations.py
Labels: testing, cosmology, no-changelog-entry-needed, merge-when-ci-passes

#12620 Backport PR #12588 on branch v5.0.x (check if `data_class` has method for doc updates)
  astropy/io/registry/base.py
Labels: unified-io, no-changelog-entry-needed

#12625 Clarify iers warning message
  astropy/coordinates/builtin_frames/utils.py
  astropy/utils/decorators.py
Labels: coordinates, no-changelog-entry-needed, utils.iers, backport-v5.0.x

#12627 Backport PR #12625 on branch v5.0.x (Clarify iers warning message)
  astropy/coordinates/builtin_frames/utils.py
  astropy/utils/decorators.py
Labels: Docs, Bug, coordinates, no-changelog-entry-needed, utils.iers

#12573 Ensure quantity.to_string(format='latex') always typesets big exponents.
  astropy/units/quantity.py
  astropy/units/tests/test_quantity.py
  docs/changes/units/12573.bugfix.rst
Labels: units, Bug, backport-v5.0.x

#12629 Backport PR #12573 on branch v5.0.x (Ensure quantity.to_string(format='latex') always typesets big exponents. )
  astropy/units/quantity.py
  astropy/units/tests/test_quantity.py
  docs/changes/units/12573.bugfix.rst
Labels: units, Bug

#12637 Add sort kind argument to Table.sort method
  astropy/table/table.py
  astropy/table/tests/test_table.py
  docs/changes/table/12637.api.rst
  docs/changes/table/12637.feature.rst
Labels: table, API change

#12643 TST: Pin maxversion of pytest-astropy-header
  tox.ini
Labels: :fire:, installation, Ready-for-final-review, no-changelog-entry-needed, backport-v5.0.x

#12612 move Parameter conversion to own functions
  astropy/cosmology/flrw.py
  astropy/cosmology/io/mapping.py
  astropy/cosmology/io/model.py
  astropy/cosmology/io/row.py
  astropy/cosmology/io/table.py
  astropy/cosmology/io/tests/test_table.py
  astropy/cosmology/io/utils.py
  astropy/cosmology/parameter.py
  astropy/cosmology/realizations.py
  astropy/cosmology/tests/test_flrw.py
  astropy/cosmology/tests/test_parameter.py
  docs/changes/cosmology/12612.api.rst
  docs/cosmology/index.rst
  docs/cosmology/io.rst
Labels: cosmology, Refactoring, merge-when-ci-passes

#12636 Add cosmology units to ECSV reading
  astropy/cosmology/io/ecsv.py
  docs/changes/cosmology/12636.bugfix.rst
Labels: Bug, cosmology, backport-v5.0.x

#12649 Remove dependency on deprecated distutils.version.StrictVersion
  astropy/io/fits/util.py
  astropy/io/votable/util.py
Labels: io.votable, Refactoring, no-changelog-entry-needed, merge-when-ci-passes, backport-v5.0.x

#12645 Backport PR #12643 on branch v5.0.x (TST: Pin maxversion of pytest-astropy-header)
  tox.ini
Labels: :fire:, installation, Ready-for-final-review, no-changelog-entry-needed

#12652 Backport PR #12649 on branch v5.0.x (Remove dependency on deprecated distutils.version.StrictVersion)
  astropy/io/fits/util.py
  astropy/io/votable/util.py
Labels: io.votable, Refactoring, no-changelog-entry-needed, merge-when-ci-passes

#12648 Small refactor to Quantity.to_string()
  astropy/units/quantity.py
Labels: units, Refactoring, no-changelog-entry-needed, merge-when-ci-passes

#12624 Add redshift units to ``z_reion``
  astropy/cosmology/io/tests/test_yaml.py
  astropy/cosmology/io/yaml.py
  astropy/cosmology/parameters.py
  astropy/cosmology/tests/test_core.py
  astropy/cosmology/tests/test_realizations.py
  docs/changes/cosmology/12624.api.rst
Labels: cosmology

#12639 TST: Update weekly devdeps job (Python, asdf)
  .github/workflows/ci_cron_weekly.yml
  setup.cfg
  tox.ini
Labels: testing, Ready-for-final-review, no-changelog-entry-needed, Extra CI, backport-v5.0.x

#12658 Backport PR #12639 on branch v5.0.x (TST: Update weekly devdeps job (Python, asdf))
  .github/workflows/ci_cron_weekly.yml
  setup.cfg
  tox.ini
Labels: testing, Ready-for-final-review, no-changelog-entry-needed, Extra CI

#12655 MNT: Remove all mention of distutils
  astropy/convolution/convolve.py
  astropy/tests/command.py
  astropy/tests/helper.py
  astropy/version.py
  docs/nitpick-exceptions
  setup.cfg
  tox.ini
Labels: testing, Docs, installation, convolution, Refactoring, no-changelog-entry-needed, Extra CI, backport-v5.0.x

#12632 BOT: Avoid labeler from removing labels
  .github/workflows/open_actions.yml
Labels: testing, no-changelog-entry-needed, ¯\_(ツ)_/¯, dev-automation

#12623 move test of w(z)
  astropy/cosmology/tests/test_core.py
  astropy/cosmology/tests/test_cosmology.py
  astropy/cosmology/tests/test_flrw.py
Labels: cosmology, Ready-for-final-review, no-changelog-entry-needed

#12664 Backport PR #12636 on branch v5.0.x (Add cosmology units to ECSV reading)
  astropy/cosmology/io/ecsv.py
  docs/changes/cosmology/12636.bugfix.rst
Labels: Bug, cosmology

#12665 Backport PR #12475 on branch v5.0.x (Bugfix for fitting compound models with mixed output units)
  astropy/modeling/core.py
  astropy/modeling/fitting.py
  astropy/modeling/tests/test_compound.py
  docs/changes/modeling/12475.bugfix.rst
  docs/modeling/add-units.rst
Labels: modeling, merge-when-ci-passes

#12666 Backport PR #12655 on branch v5.0.x (MNT: Remove all mention of distutils)
  astropy/convolution/convolve.py
  astropy/tests/command.py
  astropy/tests/helper.py
  astropy/version.py
  docs/nitpick-exceptions
  setup.cfg
  tox.ini
Labels: testing, Docs, installation, convolution, Refactoring, no-changelog-entry-needed, Extra CI, backport-v5.0.x

#12661 Misc docstring fixes for visualization
  astropy/visualization/lupton_rgb.py
  astropy/visualization/mpl_normalize.py
  astropy/visualization/wcsaxes/coordinate_helpers.py
  astropy/visualization/wcsaxes/core.py
Labels: Docs, visualization, no-changelog-entry-needed, visualization.wcsaxes, backport-v5.0.x

#12668 Backport PR #12661 on branch v5.0.x (Misc docstring fixes for visualization)
  astropy/visualization/lupton_rgb.py
  astropy/visualization/mpl_normalize.py
  astropy/visualization/wcsaxes/coordinate_helpers.py
  astropy/visualization/wcsaxes/core.py
Labels: Docs, visualization, no-changelog-entry-needed, visualization.wcsaxes

#12675 Move test_zeroing
  astropy/cosmology/flrw.py
  astropy/cosmology/tests/test_core.py
  astropy/cosmology/tests/test_cosmology.py
  astropy/cosmology/tests/test_flrw.py
Labels: cosmology, no-changelog-entry-needed

#12526 Fix formatting and add test for dump and load binary tables
  astropy/io/fits/hdu/table.py
  astropy/io/fits/tests/test_convenience.py
  astropy/io/fits/tests/test_table.py
  docs/changes/io.fits/12526.bugfix.rst
Labels: io.fits, Bug, backport-v5.0.x

#12677 Backport PR #12526 on branch v5.0.x (Fix formatting and add test for dump and load binary tables)
  astropy/io/fits/hdu/table.py
  astropy/io/fits/tests/test_convenience.py
  astropy/io/fits/tests/test_table.py
  docs/changes/io.fits/12526.bugfix.rst
Labels: io.fits, Bug

#12633 Deprecate deprecations as exceptions and friends
  astropy/__init__.py
  astropy/conftest.py
  astropy/io/ascii/tests/common.py
  astropy/tests/disable_internet.py
  astropy/tests/helper.py
  astropy/tests/plugins/__init__.py
  astropy/tests/plugins/display.py
  astropy/tests/runner.py
  astropy/tests/tests/test_run_tests.py
  astropy/utils/decorators.py
  astropy/utils/tests/test_decorators.py
  docs/changes/tests/12633.api.1.rst
  docs/changes/tests/12633.api.2.rst
  docs/changes/tests/12633.api.3.rst
  docs/changes/tests/12633.api.4.rst
  docs/testhelpers.rst
  docs/utils/index.rst
  setup.cfg
Labels: testing, Docs, io.ascii, utils, installation, Refactoring, Extra CI

#12614 Refactor mixin tests, to avoid duplication between ECSV, FITS, HDF5
  astropy/io/ascii/tests/test_ecsv.py
  astropy/io/fits/fitstime.py
  astropy/io/fits/tests/test_connect.py
  astropy/io/misc/tests/test_hdf5.py
  astropy/io/tests/mixin_columns.py
Labels: io.fits, io.ascii, io.misc, io.registry, Ready-for-final-review, Refactoring, no-changelog-entry-needed
