Repository astropy/astropy, pull requests merged in 2021-02, with the labels that each got.

#11287 Update leap seconds and IERS tables
  astropy/utils/iers/data/Leap_Second.dat
  astropy/utils/iers/data/eopc04_IAU2000.62-now
Labels: no-changelog-entry-needed, utils.iers

#11253 [#11003] Add GitHub action for welcoming new contributors
  .github/workflows/open_actions.yml
Labels: Enhancement, dev-automation, needs-copyediting, no-changelog-entry-needed

#11288 Fix check for byteorder swap in Table.to_pandas()
  CHANGES.rst
  astropy/table/table.py
  astropy/table/tests/test_table.py
Labels: Bug, table

#11292 TST: Patch failing tests caused by mpl-dev
  astropy/visualization/wcsaxes/tests/test_misc.py
Labels: Upstream Fix Required, no-changelog-entry-needed, testing, visualization.wcsaxes

#11290 Update lombscargle.rst to indicate units are required for autopower
  astropy/timeseries/periodograms/lombscargle/core.py
  docs/timeseries/lombscargle.rst
Labels: Docs, no-changelog-entry-needed, timeseries

#11294 Add native to_pandas byteorder conversion for ArrayWrapper Tables
  CHANGES.rst
  astropy/table/table.py
  astropy/table/tests/conftest.py
  astropy/table/tests/test_mixin.py
  astropy/table/tests/test_table.py
Labels: Bug, table, testing

#11303 Create FITS time keyword parsing function
  astropy/io/fits/fitstime.py
Labels: Refactoring, io.fits, no-changelog-entry-needed

#11301 FITS: Allow multiple leading spaces in value field for RVKC input format
  CHANGES.rst
  astropy/io/fits/card.py
  astropy/io/fits/tests/test_header.py
Labels: Priority-Medium, Ready-for-final-review, io.fits, wcs

#11308 Pin pyerfa to fix test failures with version 1.7.2
  setup.cfg
Labels: coordinates, installation, merge-when-ci-passes, no-changelog-entry-needed

#11295 Fix Unit construction with no arguments
  CHANGES.rst
  astropy/units/core.py
  astropy/units/tests/test_units.py
Labels: API change, units

#11316 TST: Skip CI natively, DOC: Update license year
  .github/workflows/ci_workflows.yml
  LICENSE.rst
Labels: no-changelog-entry-needed, testing

#11319 TST: Temporarily xfail test_skyoffset until to_geodetic error is handled properly
  astropy/coordinates/tests/test_skyoffset_transformations.py
Labels: coordinates, no-changelog-entry-needed, testing

#11324 Remove orphaned TableReadWrite class
  astropy/table/table.py
Labels: no-changelog-entry-needed, table

#11214 Idea for adding priorities to registry
  CHANGES.rst
  astropy/io/registry.py
  astropy/io/tests/test_registry.py
Labels: io.registry

#10733 POC: Actions to comment on draft PR
  .github/workflows/label_pr.yml
  .github/workflows/open_actions.yml
Labels: Enhancement, dev-automation, no-changelog-entry-needed

#11326 Run cron CI on pull requests with a label added
  .github/workflows/ci_cron_daily.yml
  .github/workflows/ci_cron_weekly.yml
Labels: Enhancement, Extra CI, dev-automation, no-changelog-entry-needed, testing

#11329 Fix bug in Table init from list of Quantity
  CHANGES.rst
  astropy/table/column.py
  astropy/table/tests/test_init_table.py
Labels: Bug, table

#11330 TST: Fix cancel workflow for PR
  .github/workflows/cancel_workflows.yml
  .github/workflows/ci_workflows.yml
Labels: no-changelog-entry-needed, testing

#11331 Fix broken link in the TimeSeries docs (fixes #11328)
  docs/timeseries/index.rst
Labels: Docs, Extra CI, no-changelog-entry-needed, timeseries

#11315 TST: lift xfail from tests fixed upstream in matplotlib
  astropy/visualization/wcsaxes/tests/test_misc.py
Labels: no-changelog-entry-needed, testing, visualization.wcsaxes

#11285 Ignore errors about invalid headers when extra data are found at EOF
  CHANGES.rst
  astropy/io/fits/header.py
  astropy/io/fits/tests/test_hdulist.py
Labels: Bug, io.fits

#11335 Improve docs example for Table SkyCoord join
  docs/table/operations.rst
Labels: Docs, no-changelog-entry-needed, table

#11336 Improve validation and docs for dstack, vstack, hstack
  CHANGES.rst
  astropy/table/operations.py
  astropy/table/tests/test_operations.py
Labels: Bug, table

#11333 Table indices tidying: class structure and repr's
  CHANGES.rst
  astropy/table/bst.py
  astropy/table/index.py
  astropy/table/soco.py
  astropy/table/sorted_array.py
  astropy/table/table.py
  astropy/table/tests/test_index.py
  docs/table/indexing.rst
Labels: Refactoring, table

#11304 Fix #11298 (CONTINUE keyword in header)
  CHANGES.rst
  astropy/io/fits/tests/test_header.py
  astropy/io/fits/util.py
Labels: Bug, io.fits

#11236 adding `STOKES` polarisation to map the CTYPE axis name to UCD1
  CHANGES.rst
  astropy/wcs/wcsapi/fitswcs.py
  astropy/wcs/wcsapi/tests/test_fitswcs.py
Labels: Enhancement, wcs.wcsapi

#11342 DOC: Only show developer docs in latest
  docs/conf.py
  docs/index.rst
  docs/install.rst
Labels: Docs, no-changelog-entry-needed

#11349 Remove outdated docs for virtualenv and IPython [skip-ci]
  docs/development/workflow/virtualenv_detail.rst
Labels: Docs, no-changelog-entry-needed

#11350 Doc update: INFO is the logging default.
  docs/logging.rst
Labels: Bug, Docs, logging, merge-when-ci-passes, no-changelog-entry-needed

#11354 Add example of printing selected columns of Table
  docs/table/access_table.rst
Labels: Docs, no-changelog-entry-needed, table

#11353 Remove useless logging call
  astropy/__init__.py
Labels: Refactoring, logging, no-changelog-entry-needed
