Repository astropy/astropy, pull requests merged in 2021-07, with the labels that each got.

#11860 Remove fallback in getdata when ext specified
  astropy/io/fits/convenience.py
  astropy/io/fits/tests/test_convenience.py
  docs/changes/io.fits/11860.bugfix.rst
Labels: Bug, backport-v4.3.x, io.fits

#11870 MNT: Minor update to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Affects-dev, dev-automation, no-changelog-entry-needed

#11916 IO registry `write` returns results
  astropy/io/registry.py
  astropy/io/tests/test_registry.py
  docs/changes/io.registry/11916.api.rst
  docs/io/registry.rst
Labels: Refactoring, io.registry

#11921 Fix problem in to_pandas() introduced in pandas 1.3.0
  astropy/table/table.py
  docs/changes/table/11921.bugfix.rst
Labels: Bug, backport-v4.3.x, table

#11911 Fix FITS serialization of multi-D masked columns.
  astropy/io/fits/connect.py
  astropy/io/fits/convenience.py
  astropy/io/fits/tests/test_connect.py
  docs/changes/io.fits/11911.bugfix.rst
Labels: Bug, backport-v4.3.x, io.fits

#11923 Remove unncessary ABC registrations for _CardAccessor
  astropy/io/fits/header.py
  docs/changes/io.fits/11923.api.rst
Labels: API change, io.fits

#11919 When writing a table, make only a shallow copy
  astropy/io/ascii/tests/test_write.py
  astropy/io/ascii/ui.py
  docs/changes/io.ascii/11919.other.rst
Labels: Performance, Refactoring, io.ascii

#11875 Backport PR #11869 on branch v4.0.x (DOC: Replace broken link with intersphinx)
  astropy/stats/sigma_clipping.py
Labels: Bug, Docs, no-changelog-entry-needed, stats

#11874 Backport PR #11869 on branch v4.3.x (DOC: Replace broken link with intersphinx)
  astropy/stats/sigma_clipping.py
Labels: Bug, Docs, no-changelog-entry-needed, stats

#11922 Add np.float32 instances validation for FITS headers values.
  astropy/io/fits/card.py
  astropy/io/fits/tests/test_header.py
  docs/changes/io.fits/11922.bugfix.rst
Labels: Bug, backport-v4.0.x, backport-v4.3.x, io.fits

#11904 Implement Table.update()
  astropy/table/operations.py
  astropy/table/table.py
  astropy/table/tests/test_table.py
  docs/changes/table/11904.feature.rst
  docs/table/modify_table.rst
  docs/table/operations.rst
Labels: Enhancement, table

#11928 TST: Unignore cannot resolve package warning in pytest
  docs/changes/11928.other.rst
  setup.cfg
  tox.ini
Labels: Extra CI, installation, testing

#11938 MAINT: fix reStructuredText underline
  astropy/stats/funcs.py
Labels: Bug, Docs, no-changelog-entry-needed, stats

#11935 Dropping support for numpy 1.17
  .circleci/config.yml
  .github/workflows/ci_workflows.yml
  CONTRIBUTING.md
  astropy/tests/helper.py
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/tests/test_quantity_non_ufuncs.py
  astropy/utils/compat/numpycompat.py
  astropy/utils/masked/function_helpers.py
  astropy/utils/masked/tests/test_function_helpers.py
  docs/changes/11935.other.rst
  setup.cfg
  tox.ini
Labels: Docs, installation, testing, units, utils, utils.masked

#11908 Bugfix for `fix_inputs` bounding box
  astropy/modeling/core.py
  astropy/modeling/tests/test_compound.py
  docs/changes/modeling/11908.bugfix.rst
Labels: backport-v4.0.x, modeling

#11926 Add registry of cosmology classes
  astropy/cosmology/core.py
  astropy/cosmology/realizations.py
  astropy/cosmology/tests/test_cosmology.py
Labels: Refactoring, cosmology, no-changelog-entry-needed

#11944 Sort Cosmology imports
  astropy/cosmology/core.py
  astropy/cosmology/funcs.py
  astropy/cosmology/realizations.py
  astropy/cosmology/tests/test_funcs.py
  astropy/cosmology/tests/test_pickle.py
Labels: cosmology, no-changelog-entry-needed

#11943 Fix for printing angle, latitude, and longitude with a NaN in degrees.
  astropy/coordinates/angles.py
  astropy/coordinates/tests/test_angles.py
  docs/changes/coordinates/11943.bugfix.rst
Labels: coordinates

#11778 Cosmo: allow broadcasting in `z_at_value`
  astropy/coordinates/distances.py
  astropy/coordinates/tests/test_distance.py
  astropy/cosmology/core.py
  astropy/cosmology/funcs.py
  astropy/cosmology/tests/test_funcs.py
  docs/changes/cosmology/11778.api.rst
Labels: coordinates, cosmology

#11951 Improve io.ascii.write definition of names parameter
  docs/io/ascii/write.rst
Labels: Docs, backport-v4.0.x, backport-v4.3.x, io.ascii, no-changelog-entry-needed

#11954 Support table join on different keys
  astropy/table/operations.py
  astropy/table/tests/test_operations.py
  docs/changes/table/11954.api.rst
  docs/changes/table/11954.feature.rst
  docs/table/operations.rst
Labels: API change, Enhancement, table

#11470 Representation arithmetic with differentials
  astropy/coordinates/representation.py
  astropy/coordinates/tests/test_representation_arithmetic.py
  docs/changes/coordinates/11470.feature.rst
Labels: Enhancement, coordinates

#11913 Ensure multi-D masked times roundtrip to FITS
  astropy/io/fits/fitstime.py
  astropy/io/fits/tests/test_fitstime.py
  docs/changes/io.fits/11913.bugfix.rst
Labels: Bug, backport-v4.3.x, io.fits

#11956 TST: Fix weekly cron failures (broken link, xpass)
  astropy/stats/funcs.py
  astropy/stats/jackknife.py
  astropy/units/tests/test_quantity_array_methods.py
  astropy/utils/compat/numpycompat.py
Labels: Extra CI, no-changelog-entry-needed, stats, testing, units

#11907 Adjust Time.argsort() for slightly faster performance.
  astropy/time/core.py
  astropy/time/tests/test_precision.py
Labels: Performance, Refactoring, no-changelog-entry-needed, time

#11576 Transform radial rep when multiplication
  astropy/coordinates/representation.py
  astropy/coordinates/tests/test_representation.py
  docs/changes/coordinates/11576.feature.rst
Labels: coordinates

#11960 move non-cosmology functions to utils
  astropy/cosmology/__init__.py
  astropy/cosmology/core.py
  astropy/cosmology/tests/test_utils.py
  astropy/cosmology/utils.py
Labels: Refactoring, cosmology, no-changelog-entry-needed

#11852 Consolidate Cosmology init signature
  astropy/cosmology/core.py
Labels: cosmology, merge-when-ci-passes, no-changelog-entry-needed

#11968 add len to quantity iterator
  astropy/units/quantity.py
  astropy/units/tests/test_quantity_array_methods.py
Labels: Ready-for-final-review, no-changelog-entry-needed, units

#11817 Clean up ``Cosmology.__new__``
  astropy/cosmology/core.py
Labels: Ready-for-final-review, cosmology, no-changelog-entry-needed

#11971 update iers for 4.3 release
  astropy/utils/iers/data/Leap_Second.dat
  astropy/utils/iers/data/eopc04_IAU2000.62-now
Labels: Release, backport-v4.3.x, no-changelog-entry-needed, utils.iers

#11974 indentation fix
  docs/whatsnew/4.3.rst
Labels: Docs, no-changelog-entry-needed, skip-basebranch-check

#11970 DOC: Remove broken Kepler link
  docs/timeseries/index.rst
Labels: Docs, Extra CI, no-changelog-entry-needed, timeseries

#11977 BUG: Fix imperials import from astropy.units
  astropy/units/physical.py
  astropy/units/tests/test_physical.py
  docs/changes/units/11977.bugfix.rst
Labels: :fire:, Bug, Extra CI, backport-v4.3.x, units

#11969 Fix for kernels allowing silent overwritting of arrays.
  astropy/convolution/core.py
  astropy/convolution/tests/test_kernel_class.py
  docs/changes/convolution/11969.bugfix.rst
Labels: Bug, convolution

#11914 Allow conversion of MaskedColumn to MaskedQuantity.
  astropy/table/table.py
  astropy/table/tests/test_masked.py
  docs/changes/table/11914.feature.rst
Labels: Enhancement, table

#11986 Fix ASDF tag versions in transform type classes
  astropy/io/misc/asdf/tags/transform/compound.py
  astropy/io/misc/asdf/tags/transform/projections.py
  docs/changes/io.misc/11986.bugfix.rst
Labels: Bug, backport-v4.3.x, io.misc.asdf

#11910 Ensure any .info on Masked instances is propagated correctly.
  astropy/utils/data_info.py
  astropy/utils/masked/core.py
  astropy/utils/masked/tests/test_table.py
  docs/changes/utils/11910.bugfix.rst
Labels: Bug, backport-v4.3.x, utils, utils.masked

#11972 Fixed possible race condition in parallel testing
  astropy/time/tests/test_methods.py
Labels: Bug, backport-v4.3.x, no-changelog-entry-needed, testing, time
