Repository astropy/astropy, pull requests merged in 2021-03, with the labels that each got.

#11356 Improve the performance of bayesian_blocks (binned or unbinned events)
  CHANGES.rst
  astropy/stats/bayesian_blocks.py
Labels: Enhancement, Performance, merge-when-ci-passes, stats

#11359 Fix issue with serialized meta with h5py version >= 3.0
  CHANGES.rst
  astropy/io/misc/hdf5.py
  astropy/io/misc/tests/test_hdf5.py
Labels: Bug, io.misc

#11364 Fix compatibility issue with Table masked init and numpy 1.21
  CHANGES.rst
  astropy/table/column.py
Labels: Bug, numpy-dev, table

#11370 Fix minor documentation formatting bug in modeling docs
  docs/modeling/example-fitting-constraints.rst
Labels: Docs, modeling, no-changelog-entry-needed

#11124 Correct docs for number of terms in 2D Polynomials
  astropy/modeling/polynomial.py
Labels: Bug, Docs, modeling, no-changelog-entry-needed

#11177 Replacing inaccurate Voigt1D algorithm with Humlicek approximation or scipy.special.wofz
  CHANGES.rst
  astropy/modeling/functional_models.py
  astropy/modeling/tests/example_models.py
  astropy/modeling/tests/test_functional_models.py
  astropy/modeling/tests/test_models_quantities.py
Labels: Bug, analytic_functions, modeling, needs-discussion

#11365 adding fix for performance issues in fitting
  CHANGES.rst
  astropy/modeling/core.py
  astropy/modeling/fitting.py
  astropy/modeling/tests/test_compound.py
Labels: Performance, modeling

#11372 Proper format parsing when attempting mask creation on fits load
  astropy/io/fits/connect.py
  astropy/io/fits/tests/test_connect.py
Labels: Affects-dev, io.fits, unified-io

#11376 Fix cextern/wcslib build to compile original WCSLIB source in C99 mode
  astropy/wcs/setup_package.py
  cextern/wcslib/C/wcshdr.c
Labels: Affects-dev, Close?, build, external, wcs

#11240 Introduce a special function for unit scale conversion.
  astropy/units/core.py
  astropy/units/quantity_helper/helpers.py
  astropy/units/tests/test_units.py
Labels: Refactoring, no-changelog-entry-needed, units

#11391 BUG: Fix missing "server_close" method on SAMPHubProxy
  astropy/samp/hub_proxy.py
  astropy/samp/tests/web_profile_test_helpers.py
  astropy/samp/utils.py
  setup.cfg
Labels: Priority-Medium, no-changelog-entry-needed, samp, testing

#11389 DOC: Fix broken pytest link
  docs/development/testguide.rst
Labels: Docs, no-changelog-entry-needed, testing

#11123 TST: Use Actions for LTS
  .circleci/config.yml
  .github/workflows/ci_workflows.yml
  .gitignore
  .readthedocs.yml
  .travis.yml
  CONTRIBUTING.md
  README.rst
  astropy/conftest.py
  astropy/coordinates/tests/test_earth.py
  astropy/io/ascii/tests/test_c_reader.py
  astropy/modeling/functional_models.py
  astropy/modeling/tests/test_quantities_fitting.py
  astropy/table/operations.py
  astropy/utils/iers/tests/test_iers.py
  astropy/utils/iers/tests/test_leap_second.py
  astropy/utils/tests/test_data.py
  astropy/wcs/tests/extension/test_extension.py
  azure-pipelines.yml
  conftest.py
  docs/development/astropy-package-template.rst
  docs/development/docguide.rst
  docs/development/releasing.rst
  docs/development/testguide.rst
  tox.ini
Labels: Refactoring, no-changelog-entry-needed, testing

#11401 Update Cython version used in pyproject.toml
  azure-pipelines.yml
  pyproject.toml
Labels: Windows, installation, merge-when-ci-passes, testing

#11398 Fix Azure CI
  azure-pipelines.yml
Labels: Bug, no-changelog-entry-needed, testing

#11409 Manual backport of PR 11128 (TST: Fix hypothesis fuzzing logic on CI)
  .github/workflows/ci_cron_daily.yml
  .github/workflows/ci_cron_weekly.yml
  .github/workflows/ci_workflows.yml
  conftest.py
  tox.ini
Labels: no-changelog-entry-needed, testing

#11422 Correct typo in doc string
  astropy/coordinates/earth.py
Labels: Bug, Docs, coordinates, merge-when-ci-passes, no-changelog-entry-needed

#11421 Manual backport of #11401 (Update Cython version used in pyproject.toml)
  azure-pipelines.yml
  pyproject.toml
Labels: Windows, installation, no-changelog-entry-needed, testing

#11420 Manual backport of #11389 (DOC: Fix broken pytest link)
  docs/development/testguide.rst
Labels: Docs, no-changelog-entry-needed, testing

#11419 Manual backport of #11391 (BUG: Fix missing "server_close" method on SAMPHubProxy)
  astropy/samp/hub_proxy.py
  astropy/samp/tests/web_profile_test_helpers.py
  astropy/samp/utils.py
  setup.cfg
Labels: no-changelog-entry-needed, samp, testing

#11418 Manual backport of #11250 (Ensure that the CDS unit parser can deal with '[-]')
  CHANGES.rst
  astropy/io/ascii/tests/data/cdsFunctional2.dat
  astropy/io/ascii/tests/test_cds_header_from_readme.py
  astropy/units/cds.py
  astropy/units/format/cds.py
  astropy/units/format/cds_lextab.py
  astropy/units/format/cds_parsetab.py
  astropy/units/function/logarithmic.py
  astropy/units/tests/test_format.py
Labels: Bug, io.ascii, units

#11416 Manual backport of #11145 (Use proper precision when format not specified)
  CHANGES.rst
  astropy/units/quantity.py
  astropy/units/tests/test_quantity.py
Labels: Bug, units

#11411 TST: Skip test_web_profile on CI
  astropy/samp/tests/test_web_profile.py
Labels: no-changelog-entry-needed, samp, testing

#11438 Fix test failing after backport of #11285
  astropy/io/fits/tests/test_hdulist.py
Labels: Bug, Manual Backport, io.fits

#11415 Manual backport for #11108 (Don't re-verify invalid FITS cards after their values have been replaced)
  CHANGES.rst
  astropy/io/fits/card.py
  astropy/io/fits/tests/test_header.py
Labels: Bug, io.fits

#11437 MNT: matplotlib 3.4.0 broke plot_obs-planning.py
  setup.cfg
Labels: Docs, Upstream Fix Required, installation, no-changelog-entry-needed

#11406 Update tokenizer.c
  astropy/io/ascii/src/tokenizer.c
Labels: Refactoring, io.ascii, no-changelog-entry-needed

#11441 Fix deprecation warning about default h5py file mode
  .github/workflows/ci_workflows.yml
  astropy/io/misc/tests/test_hdf5.py
  tox.ini
Labels: :fire:, io.misc, merge-when-ci-passes, no-changelog-entry-needed, testing

#11430 xfail test_against_pyephem on v4.2.x
  astropy/coordinates/tests/accuracy/test_altaz_icrs.py
Labels: coordinates, no-changelog-entry-needed, testing

#11436 TST: Update coordinates doctest result for 4.2.x
  docs/coordinates/frames.rst
Labels: Docs, coordinates, no-changelog-entry-needed, testing
