Repository astropy/astropy, pull requests merged in 2022-06, with the labels that each got.

#13284 Backport PR #13251 on branch v5.1.x (Switch to OpenAstronomy GitHub Actions workflow to build and publish wheels)
  .github/workflows/publish.yml
  astropy/coordinates/tests/test_representation.py
  astropy/wcs/wcsapi/tests/test_fitswcs.py
  pyproject.toml
Labels: testing, installation, no-changelog-entry-needed, Still Needs Manual Backport, backport-v5.0.x, backport-v5.1.x, Build all wheels

#13294 Backport PR #13291 on branch v5.1.x (Update IERS Earth rotation and leap second tables)
  astropy/utils/iers/data/eopc04_IAU2000.62-now
Labels: no-changelog-entry-needed, utils.iers, backport-v5.0.x, backport-v5.1.x

#13295 Backport PR #13251 on branch v5.0.x (Switch to OpenAstronomy GitHub Actions workflow to build and publish wheels)
  .github/workflows/publish.yml
  astropy/coordinates/tests/test_representation.py
  astropy/wcs/wcsapi/tests/test_fitswcs.py
  pyproject.toml
Labels: testing, coordinates, installation, skip-changelog-checks, wcs.wcsapi, skip-basebranch-check

#13293 Backport PR #13291 on branch v5.0.x (Update IERS Earth rotation and leap second tables)
  astropy/utils/iers/data/eopc04_IAU2000.62-now
Labels: no-changelog-entry-needed, utils.iers, backport-v5.0.x, backport-v5.1.x

#13296 Backport PR #13289 on branch v5.0.x (Skip tests that sometimes hang when building musllinux wheels)
  .github/workflows/publish.yml
Labels: testing, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x, Build all wheels

#13299 Fix Kernel normalization
  astropy/convolution/core.py
  astropy/convolution/kernels.py
  astropy/convolution/tests/test_kernel_class.py
  docs/changes/convolution/13299.bugfix.rst
  docs/convolution/index.rst
Labels: Bug, convolution, backport-v5.0.x, backport-v5.1.x

#13261 Move `__equiv__` to flat base class
  astropy/cosmology/core.py
  astropy/cosmology/flrw/base.py
  astropy/cosmology/flrw/tests/test_base.py
  astropy/cosmology/tests/test_core.py
  docs/changes/cosmology/13261.feature.rst
Labels: cosmology, merge-when-ci-passes

#13266 move coverage config to pyproject.toml
  pyproject.toml
  setup.cfg
Labels: installation, no-changelog-entry-needed

#13308 Remove last mentions of `OrderedDict` from `coordinates` documentation
  docs/coordinates/representations.rst
Labels: Docs, coordinates, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13310 Backport PR #13308 on branch v5.1.x (Remove last mentions of `OrderedDict` from `coordinates` documentation)
  docs/coordinates/representations.rst
Labels: Docs, coordinates, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13309 Backport PR #13308 on branch v5.0.x (Remove last mentions of `OrderedDict` from `coordinates` documentation)
  docs/coordinates/representations.rst
Labels: Docs, coordinates, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13314 DOC: Fixed typo
  docs/io/ascii/read.rst
Labels: Docs, io.ascii, Bug, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13316 Backport PR #13314 on branch v5.1.x (DOC: Fixed typo)
  docs/io/ascii/read.rst
Labels: Docs, io.ascii, Bug, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13306 Ensure tables with structured columns can be stacked
  astropy/table/tests/test_operations.py
  astropy/utils/metadata.py
  docs/changes/table/13306.bugfix.rst
Labels: table, Bug, utils, backport-v5.1.x

#13321 Backport PR #13306 on branch v5.1.x (Ensure tables with structured columns can be stacked)
  astropy/table/tests/test_operations.py
  astropy/utils/metadata.py
  docs/changes/table/13306.bugfix.rst
Labels: table, Bug, utils, backport-v5.1.x

#13241 Add CODEOWNERS file
  .github/CODEOWNERS
Labels: no-changelog-entry-needed, dev-automation

#13322 TST: Fix numpy-dev failure
  astropy/visualization/wcsaxes/tests/test_misc.py
  tox.ini
Labels: testing, no-changelog-entry-needed, numpy-dev, backport-v5.0.x, backport-v5.1.x

#13324 Backport PR #13322 on branch v5.0.x (TST: Fix numpy-dev failure)
  astropy/visualization/wcsaxes/tests/test_misc.py
  tox.ini
Labels: testing, no-changelog-entry-needed, numpy-dev, backport-v5.0.x, backport-v5.1.x

#13325 Backport PR #13322 on branch v5.1.x (TST: Fix numpy-dev failure)
  astropy/visualization/wcsaxes/tests/test_misc.py
  tox.ini
Labels: testing, no-changelog-entry-needed, numpy-dev, backport-v5.0.x, backport-v5.1.x

#13323 Ensure that np.concatenate with dtype argument works on quantities and masked data
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/tests/test_quantity_non_ufuncs.py
  astropy/utils/masked/function_helpers.py
  astropy/utils/masked/tests/test_function_helpers.py
  docs/changes/units/13323.bugfix.rst
  docs/changes/utils/13323.bugfix.rst
Labels: units, Bug, utils, Ready-for-final-review, utils.masked, backport-v5.0.x, backport-v5.1.x

#13328 Backport PR #13323 on branch v5.1.x (Ensure that np.concatenate with dtype argument works on quantities and masked data)
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/tests/test_quantity_non_ufuncs.py
  astropy/utils/masked/function_helpers.py
  astropy/utils/masked/tests/test_function_helpers.py
  docs/changes/units/13323.bugfix.rst
  docs/changes/utils/13323.bugfix.rst
Labels: units, Bug, utils, Ready-for-final-review, utils.masked, backport-v5.0.x, backport-v5.1.x

#13327 Backport PR #13323 on branch v5.0.x (Ensure that np.concatenate with dtype argument works on quantities and masked data)
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/tests/test_quantity_non_ufuncs.py
  astropy/utils/masked/function_helpers.py
  astropy/utils/masked/tests/test_function_helpers.py
  docs/changes/units/13323.bugfix.rst
  docs/changes/utils/13323.bugfix.rst
Labels: units, Bug, utils, Ready-for-final-review, utils.masked, backport-v5.0.x, backport-v5.1.x

#13329 Add keepdims argument to argmin, argmax for numpy >=1.22
  astropy/units/quantity.py
  astropy/units/tests/test_quantity_array_methods.py
  astropy/utils/masked/core.py
  astropy/utils/masked/tests/test_masked.py
  docs/changes/units/13329.feature.rst
  docs/changes/utils/13329.feature.rst
Labels: units, utils, Enhancement, utils.masked

#12699 Pass along detailed_exception arg in FITS unit parser
  astropy/units/format/fits.py
  docs/changes/units/12699.bugfix.rst
Labels: units, Bug, Performance, merge-when-ci-passes, backport-v5.0.x, backport-v5.1.x

#13336 Backport PR #12699 on branch v5.0.x (Pass along detailed_exception arg in FITS unit parser)
  astropy/units/format/fits.py
  docs/changes/units/12699.bugfix.rst
Labels: units, Bug, Performance, merge-when-ci-passes, backport-v5.0.x, backport-v5.1.x

#13337 Backport PR #12699 on branch v5.1.x (Pass along detailed_exception arg in FITS unit parser)
  astropy/units/format/fits.py
  docs/changes/units/12699.bugfix.rst
Labels: units, Bug, Performance, merge-when-ci-passes, backport-v5.0.x, backport-v5.1.x

#13340 Take into account units of `initial` argument to reductions
  astropy/units/quantity.py
  astropy/units/tests/test_quantity_array_methods.py
  docs/changes/units/13340.bugfix.rst
Labels: units, Bug, backport-v5.0.x, backport-v5.1.x

#13342 TST: Have coverage read from pyproject.toml
  tox.ini
Labels: testing, no-changelog-entry-needed

#13344 Backport PR #13340 on branch v5.1.x (Take into account units of `initial` argument to reductions)
  astropy/units/quantity.py
  astropy/units/tests/test_quantity_array_methods.py
  docs/changes/units/13340.bugfix.rst
Labels: units, Bug, Still Needs Manual Backport, backport-v5.0.x, backport-v5.1.x

#13345 Merge pull request #13340 from mhvk/quantity-unit-of-initial-argument-for-reductions
  astropy/units/quantity.py
  astropy/units/tests/test_quantity_array_methods.py
  docs/changes/units/13340.bugfix.rst
Labels: units, Bug

#13339 TST: Do not install asdf-astropy for dev job
  tox.ini
Labels: testing, Bug, no-changelog-entry-needed, backport-v5.1.x

#13343 TST: Ignore RuntimeWarning when parsing regression.xml
  astropy/io/votable/tests/table_test.py
  astropy/io/votable/tests/vo_test.py
  astropy/table/tests/test_showtable.py
Labels: io.votable, table, no-changelog-entry-needed, numpy-dev, backport-v5.0.x, backport-v5.1.x

#13347 Backport PR #13343 on branch v5.1.x (TST: Ignore RuntimeWarning when parsing regression.xml)
  astropy/io/votable/tests/table_test.py
  astropy/io/votable/tests/vo_test.py
  astropy/table/tests/test_showtable.py
Labels: io.votable, table, no-changelog-entry-needed, numpy-dev, Still Needs Manual Backport, backport-v5.0.x, backport-v5.1.x

#13318 rename private attr to make it a dunder attr
  astropy/cosmology/core.py
  astropy/cosmology/flrw/base.py
  astropy/cosmology/flrw/tests/test_base.py
  astropy/cosmology/tests/test_core.py
Labels: cosmology, no-changelog-entry-needed

#13352 Add safer check for showing download progress bar
  astropy/utils/data.py
  docs/changes/utils/13352.bugfix.rst
Labels: Bug, utils, backport-v5.0.x, backport-v5.1.x

#13354 Backport PR #13352 on branch v5.1.x (Add safer check for showing download progress bar)
  astropy/utils/data.py
  docs/changes/utils/13352.bugfix.rst
Labels: Bug, utils, backport-v5.0.x, backport-v5.1.x

#13353 Backport PR #13352 on branch v5.0.x (Add safer check for showing download progress bar)
  astropy/utils/data.py
  docs/changes/utils/13352.bugfix.rst
Labels: Bug, utils, backport-v5.0.x, backport-v5.1.x

#13362 Ensure tests actually get run twice if needed
  astropy/coordinates/tests/test_pickle.py
Labels: testing, coordinates, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13363 Fix for asdf-astropy downstream
  astropy/io/misc/asdf/tags/time/tests/test_time.py
Labels: testing, time, no-changelog-entry-needed, io.misc.asdf, backport-v5.0.x, backport-v5.1.x

#13365 Backport PR #13362 on branch v5.1.x (Ensure tests actually get run twice if needed)
  astropy/coordinates/tests/test_pickle.py
Labels: testing, coordinates, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13368 Backport PR #13363 on branch v5.1.x (Fix for asdf-astropy downstream)
  astropy/io/misc/asdf/tags/time/tests/test_time.py
Labels: testing, time, no-changelog-entry-needed, io.misc.asdf, backport-v5.0.x, backport-v5.1.x

#13349 TST: Daily cron to test pre-releases, if any
  .github/workflows/ci_cron_daily.yml
  tox.ini
Labels: testing, no-changelog-entry-needed, Extra CI

#13371 DOC: Remove broken git magic link
  docs/development/workflow/git_links.inc
  docs/development/workflow/git_resources.rst
Labels: Docs, no-changelog-entry-needed, Extra CI, backport-v5.0.x, backport-v5.1.x

#13367 Backport PR #13363 on branch v5.0.x (Fix for asdf-astropy downstream)
  astropy/io/misc/asdf/tags/time/tests/test_time.py
Labels: testing, time, no-changelog-entry-needed, io.misc.asdf, backport-v5.0.x, backport-v5.1.x

#13373 Backport PR #13371 on branch v5.1.x (DOC: Remove broken git magic link)
  docs/development/workflow/git_links.inc
  docs/development/workflow/git_resources.rst
Labels: Docs, no-changelog-entry-needed, Extra CI, backport-v5.0.x, backport-v5.1.x

#13305 Fix bug that prevents SkyOffsetFrame instances from being pickled (alternative)
  astropy/coordinates/builtin_frames/skyoffset.py
  astropy/coordinates/tests/test_pickle.py
  astropy/tests/helper.py
  docs/changes/coordinates/13305.bugfix.rst
Labels: Bug, coordinates, backport-v5.0.x, backport-v5.1.x

#13375 Backport PR #13305 on branch v5.0.x (Fix bug that prevents SkyOffsetFrame instances from being pickled (alternative))
  astropy/coordinates/builtin_frames/skyoffset.py
  astropy/coordinates/tests/test_pickle.py
  astropy/tests/helper.py
  docs/changes/coordinates/13305.bugfix.rst
Labels: Bug, coordinates, backport-v5.0.x, backport-v5.1.x

#13378 run pyupgrade on convolution
  astropy/convolution/tests/test_convolve_kernels.py
Labels: convolution, no-changelog-entry-needed

#13379 run pyupgrade on coordinates
  astropy/coordinates/angle_lextab.py
  astropy/coordinates/baseframe.py
  astropy/coordinates/funcs.py
  astropy/coordinates/representation.py
  astropy/coordinates/sky_coordinate.py
  astropy/coordinates/sky_coordinate_parsers.py
  astropy/coordinates/tests/accuracy/__init__.py
  astropy/coordinates/tests/test_frames.py
  astropy/coordinates/tests/test_sites.py
  astropy/coordinates/tests/test_sky_coord.py
  astropy/coordinates/tests/test_transformations.py
  astropy/coordinates/tests/test_velocity_corrs.py
  astropy/coordinates/transformations.py
Labels: coordinates, no-changelog-entry-needed

#13391 run pyupgrade on uncertainties
  astropy/uncertainty/__init__.py
  astropy/uncertainty/core.py
  astropy/uncertainty/distributions.py
Labels: no-changelog-entry-needed, uncertainty

#13385 run pyupgrade on stats
  astropy/stats/funcs.py
  astropy/stats/sigma_clipping.py
  astropy/stats/tests/test_circstats.py
  astropy/stats/tests/test_info_theory.py
  astropy/stats/tests/test_spatial.py
Labels: stats, no-changelog-entry-needed

#13377 run pyupgrade on constants
  astropy/constants/constant.py
Labels: constants, no-changelog-entry-needed

#13380 run pyupgrade on cosmology
  astropy/cosmology/core.py
  astropy/cosmology/flrw/base.py
  astropy/cosmology/funcs/__init__.py
  astropy/cosmology/funcs/comparison.py
  astropy/cosmology/io/__init__.py
  astropy/cosmology/io/tests/test_json.py
  astropy/cosmology/io/tests/test_model.py
  astropy/cosmology/realizations.py
  astropy/cosmology/tests/test_realizations.py
  astropy/cosmology/tests/test_units.py
  astropy/cosmology/units.py
Labels: cosmology, no-changelog-entry-needed

#13395 run pyupgrade on wcs
  astropy/wcs/setup_package.py
  astropy/wcs/tests/test_auxprm.py
  astropy/wcs/tests/test_utils.py
  astropy/wcs/tests/test_wcs.py
  astropy/wcs/tests/test_wcsprm.py
  astropy/wcs/wcs.py
  astropy/wcs/wcsapi/low_level_api.py
  astropy/wcs/wcsapi/utils.py
  astropy/wcs/wcsapi/wrappers/sliced_wcs.py
Labels: wcs, no-changelog-entry-needed, wcs.wcsapi

#13384 run pyupgrade on Samp
  astropy/samp/client.py
  astropy/samp/hub.py
  astropy/samp/lockfile_helpers.py
Labels: samp, no-changelog-entry-needed

#13386 run pyupgrade on table
  astropy/table/column.py
  astropy/table/index.py
  astropy/table/info.py
  astropy/table/np_utils.py
  astropy/table/operations.py
  astropy/table/pandas.py
  astropy/table/scripts/showtable.py
  astropy/table/soco.py
  astropy/table/sorted_array.py
  astropy/table/table.py
  astropy/table/tests/test_bst.py
  astropy/table/tests/test_column.py
  astropy/table/tests/test_info.py
  astropy/table/tests/test_init_table.py
  astropy/table/tests/test_mixin.py
  astropy/table/tests/test_np_utils.py
  astropy/table/tests/test_pickle.py
  astropy/table/tests/test_pprint.py
  astropy/table/tests/test_subclass.py
  astropy/table/tests/test_table.py
Labels: table, no-changelog-entry-needed

#13393 run pyupgrade on utils
  astropy/utils/codegen.py
  astropy/utils/console.py
  astropy/utils/data.py
  astropy/utils/data_info.py
  astropy/utils/decorators.py
  astropy/utils/iers/__init__.py
  astropy/utils/introspection.py
  astropy/utils/masked/core.py
  astropy/utils/masked/function_helpers.py
  astropy/utils/masked/tests/test_containers.py
  astropy/utils/masked/tests/test_table.py
  astropy/utils/metadata.py
  astropy/utils/misc.py
  astropy/utils/parsing.py
  astropy/utils/tests/test_console.py
  astropy/utils/tests/test_data.py
  astropy/utils/tests/test_data_info.py
  astropy/utils/tests/test_misc.py
  astropy/utils/xml/iterparser.py
Labels: utils, no-changelog-entry-needed, merge-when-ci-passes, utils.iers, utils.masked

#13382 run pyupgrade on modeling
  astropy/modeling/bounding_box.py
  astropy/modeling/core.py
  astropy/modeling/fitting.py
  astropy/modeling/polynomial.py
  astropy/modeling/projections.py
  astropy/modeling/tabular.py
  astropy/modeling/tests/test_bounding_box.py
  astropy/modeling/tests/test_models_quantities.py
  astropy/modeling/tests/test_parameters.py
  astropy/modeling/tests/test_spline.py
Labels: modeling, no-changelog-entry-needed

#13387 run pyupgrade on tests
  astropy/tests/command.py
  astropy/tests/helper.py
  astropy/tests/tests/test_run_tests.py
Labels: testing, no-changelog-entry-needed

#13392 run pyupgrade on units
  astropy/units/astrophys.py
  astropy/units/cds.py
  astropy/units/cgs.py
  astropy/units/core.py
  astropy/units/decorators.py
  astropy/units/deprecated.py
  astropy/units/format/cds.py
  astropy/units/format/console.py
  astropy/units/format/ogip.py
  astropy/units/format/unicode_format.py
  astropy/units/format/vounit.py
  astropy/units/function/core.py
  astropy/units/function/logarithmic.py
  astropy/units/function/mixin.py
  astropy/units/function/units.py
  astropy/units/imperial.py
  astropy/units/misc.py
  astropy/units/photometric.py
  astropy/units/quantity.py
  astropy/units/quantity_helper/converters.py
  astropy/units/quantity_helper/erfa.py
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/quantity_helper/helpers.py
  astropy/units/quantity_helper/scipy_special.py
  astropy/units/required_by_vounit.py
  astropy/units/si.py
  astropy/units/structured.py
  astropy/units/tests/test_aliases.py
  astropy/units/tests/test_deprecated.py
  astropy/units/tests/test_equivalencies.py
  astropy/units/tests/test_format.py
  astropy/units/tests/test_logarithmic.py
  astropy/units/tests/test_photometric.py
  astropy/units/tests/test_quantity.py
  astropy/units/tests/test_quantity_annotations.py
  astropy/units/tests/test_quantity_decorator.py
  astropy/units/tests/test_quantity_typing.py
  astropy/units/tests/test_quantity_ufuncs.py
  astropy/units/tests/test_structured.py
  astropy/units/tests/test_structured_erfa_ufuncs.py
  astropy/units/tests/test_units.py
  astropy/units/tests/test_utils.py
Labels: units, no-changelog-entry-needed

#13388 run pyupgrade on time
  astropy/time/core.py
  astropy/time/formats.py
  astropy/time/tests/test_delta.py
  astropy/time/tests/test_sidereal.py
  astropy/time/utils.py
Labels: time, no-changelog-entry-needed

#13403 Backport PR #13068 on branch v5.1.x (Issue #13008, Time() precision should be 0-9)
  astropy/time/core.py
  astropy/time/formats.py
  astropy/time/tests/test_basic.py
  docs/changes/time/13068.bugfix.rst
Labels: time, Bug, Ready-for-final-review, backport-v5.0.x, backport-v5.1.x

#13402 Backport PR #13068 on branch v5.0.x (Issue #13008, Time() precision should be 0-9)
  astropy/time/core.py
  astropy/time/formats.py
  astropy/time/tests/test_basic.py
  docs/changes/time/13068.bugfix.rst
Labels: time, Bug, Ready-for-final-review, backport-v5.0.x, backport-v5.1.x

#13404 Ensure repr/str of structured subarrays works properly
  astropy/utils/masked/function_helpers.py
  astropy/utils/masked/tests/test_masked.py
  docs/changes/utils/13404.bugfix.rst
Labels: Bug, utils, utils.masked, backport-v5.0.x, backport-v5.1.x

#13406 Fix numpy-dev failures for modeling
  astropy/modeling/functional_models.py
Labels: modeling, no-changelog-entry-needed, numpy-dev, backport-v5.0.x, backport-v5.1.x

#13410 Backport PR #13406 on branch v5.1.x (Fix numpy-dev failures for modeling)
  astropy/modeling/functional_models.py
Labels: modeling, no-changelog-entry-needed, numpy-dev, backport-v5.0.x, backport-v5.1.x

#13409 Backport PR #13406 on branch v5.0.x (Fix numpy-dev failures for modeling)
  astropy/modeling/functional_models.py
Labels: modeling, no-changelog-entry-needed, numpy-dev, backport-v5.0.x, backport-v5.1.x

#13408 Backport PR #13404 on branch v5.1.x (Ensure repr/str of structured subarrays works properly)
  astropy/utils/masked/function_helpers.py
  astropy/utils/masked/tests/test_masked.py
  docs/changes/utils/13404.bugfix.rst
Labels: Bug, utils, utils.masked, backport-v5.0.x, backport-v5.1.x

#13407 Backport PR #13404 on branch v5.0.x (Ensure repr/str of structured subarrays works properly)
  astropy/utils/masked/function_helpers.py
  astropy/utils/masked/tests/test_masked.py
  docs/changes/utils/13404.bugfix.rst
Labels: Bug, utils, utils.masked, backport-v5.0.x, backport-v5.1.x

#13405 Do not check private numpy functions for overrides
  astropy/units/tests/test_quantity_non_ufuncs.py
Labels: testing, units, no-changelog-entry-needed, numpy-dev, utils.masked, backport-v5.0.x, backport-v5.1.x

#13412 Backport PR #13405 on branch v5.1.x (Do not check private numpy functions for overrides)
  astropy/units/tests/test_quantity_non_ufuncs.py
Labels: testing, units, no-changelog-entry-needed, numpy-dev, utils.masked, backport-v5.0.x, backport-v5.1.x

#13411 Backport PR #13405 on branch v5.0.x (Do not check private numpy functions for overrides)
  astropy/units/tests/test_quantity_non_ufuncs.py
Labels: testing, units, no-changelog-entry-needed, numpy-dev, utils.masked, backport-v5.0.x, backport-v5.1.x

#13413 Fix for SimplexLSQFitter with scipy 1.9.0rc1
  astropy/modeling/optimizers.py
  astropy/modeling/tests/test_fitters.py
Labels: modeling, no-changelog-entry-needed, Extra CI, backport-v5.0.x, backport-v5.1.x

#13415 Manual backport of #13413
  astropy/modeling/optimizers.py
  astropy/modeling/tests/test_fitters.py
Labels: modeling, no-changelog-entry-needed, Manual Backport, skip-changelog-checks, skip-basebranch-check, Extra CI

#13394 run pyupgrade on visualization
  astropy/visualization/tests/test_time.py
  astropy/visualization/tests/test_units.py
  astropy/visualization/time.py
  astropy/visualization/units.py
  astropy/visualization/wcsaxes/coordinates_map.py
Labels: visualization, no-changelog-entry-needed, visualization.wcsaxes

#13389 run pyupgrade on timeseries
  astropy/timeseries/periodograms/bls/core.py
  astropy/timeseries/periodograms/bls/methods.py
  astropy/timeseries/periodograms/bls/tests/test_bls.py
  astropy/timeseries/periodograms/lombscargle/implementations/chi2_impl.py
  astropy/timeseries/periodograms/lombscargle/implementations/fast_impl.py
  astropy/timeseries/periodograms/lombscargle/implementations/fastchi2_impl.py
  astropy/timeseries/periodograms/lombscargle/implementations/mle.py
  astropy/timeseries/periodograms/lombscargle/implementations/scipy_impl.py
  astropy/timeseries/periodograms/lombscargle/implementations/slow_impl.py
  astropy/timeseries/periodograms/lombscargle/implementations/tests/test_utils.py
  astropy/timeseries/tests/test_sampled.py
Labels: no-changelog-entry-needed, timeseries
