Repository astropy/astropy, pull requests merged in 2022-01, with the labels that each got.

#12662 Misc docstring fixes for cosmology
  astropy/cosmology/funcs.py
  astropy/cosmology/io/ecsv.py
  astropy/cosmology/io/mapping.py
  astropy/cosmology/io/row.py
  astropy/cosmology/io/table.py
  astropy/cosmology/parameter.py
Labels: Docs, cosmology, no-changelog-entry-needed, backport-v5.0.x

#12682 Relax tolerance of some tests for numpy 1.22
  astropy/coordinates/tests/test_matching.py
  astropy/coordinates/tests/test_sky_coord.py
  astropy/io/fits/tests/test_table.py
  astropy/modeling/tests/test_models.py
  examples/coordinates/plot_galactocentric-frame.py
  examples/coordinates/rv-to-gsr.py
  tox.ini
Labels: testing, coordinates, modeling, Ready-for-final-review, no-changelog-entry-needed, numpy-dev, Extra CI, backport-v5.0.x

#12689 Manual backport of PR 12682 (Relax tolerance of some tests for numpy 1.22)
  astropy/coordinates/tests/test_matching.py
  astropy/coordinates/tests/test_sky_coord.py
  astropy/io/fits/tests/test_table.py
  astropy/modeling/tests/test_models.py
  examples/coordinates/plot_galactocentric-frame.py
  examples/coordinates/rv-to-gsr.py
  tox.ini
Labels: testing, Docs, io.fits, coordinates, modeling, no-changelog-entry-needed, skip-basebranch-check

#12690 TST: Relax rtol in modeling test
  astropy/modeling/tests/test_models.py
Labels: modeling, no-changelog-entry-needed, backport-v5.0.x

#12691 Backport PR #12690 on branch v5.0.x (TST: Relax rtol in modeling test)
  astropy/modeling/tests/test_models.py
Labels: modeling, no-changelog-entry-needed, backport-v5.0.x

#12681 Remove vestiges of Python 2
  MANIFEST.in
  astropy/coordinates/representation.py
  astropy/coordinates/tests/test_representation_arithmetic.py
  astropy/io/ascii/latex.py
  astropy/modeling/parameters.py
  astropy/table/column.py
  astropy/table/np_utils.py
  astropy/table/operations.py
  astropy/table/table.py
  astropy/table/tests/test_column.py
  astropy/units/core.py
  astropy/units/function/core.py
  astropy/units/quantity.py
  astropy/utils/data.py
  astropy/utils/data_info.py
Labels: table, io.ascii, coordinates, utils, installation, Refactoring, no-changelog-entry-needed

#12631 Support reading and writing ASCII tables with embedded newlines in data fields
  astropy/io/ascii/basic.py
  astropy/io/ascii/core.py
  astropy/io/ascii/cparser.pyx
  astropy/io/ascii/src/tokenizer.c
  astropy/io/ascii/tests/test_c_reader.py
  astropy/table/pprint.py
  astropy/table/tests/test_pprint.py
  docs/changes/io.ascii/12631.bugfix.rst
  docs/changes/table/12631.api.rst
Labels: table, io.ascii

#12680 Performance improvement for bytes-type Column searchsorted
  astropy/table/column.py
  astropy/table/tests/test_column.py
  docs/changes/table/12680.feature.rst
Labels: table, Performance

#10198 serialization of model unit equivalencies
  astropy/io/misc/asdf/tags/transform/basic.py
  astropy/io/misc/asdf/tags/transform/tests/test_transform.py
  docs/changes/io.misc/10198.feature.rst
Labels: io.misc, io.misc.asdf

#12674 move test_z1
  astropy/cosmology/tests/test_cosmology.py
  astropy/cosmology/tests/test_flrw.py
Labels: cosmology, no-changelog-entry-needed, merge-when-ci-passes

#12676 move test units
  astropy/cosmology/io/tests/test_model.py
  astropy/cosmology/tests/conftest.py
  astropy/cosmology/tests/test_core.py
  astropy/cosmology/tests/test_flrw.py
  astropy/cosmology/tests/test_units.py
Labels: cosmology, no-changelog-entry-needed

#12527 Edge case bugs when using `aggregate_downsample` with custom binning
  astropy/timeseries/downsample.py
  astropy/timeseries/tests/test_downsample.py
  docs/changes/timeseries/12527.bugfix.rst
Labels: Bug, Ready-for-final-review, timeseries, backport-v5.0.x

#12697 Backport PR #12527 on branch v5.0.x (Edge case bugs when using `aggregate_downsample` with custom binning)
  astropy/timeseries/downsample.py
  astropy/timeseries/tests/test_downsample.py
  docs/changes/timeseries/12527.bugfix.rst
Labels: Bug, Ready-for-final-review, timeseries, backport-v5.0.x

#12694 Fix name in credits.rst
  docs/credits.rst
Labels: Docs, Bug, no-changelog-entry-needed, backport-v5.0.x

#12683 get_moon: Document observer-dependent location
  astropy/coordinates/solar_system.py
Labels: Docs, coordinates, no-changelog-entry-needed, backport-v5.0.x

#12702 Backport PR #12683 on branch v5.0.x (get_moon: Document observer-dependent location)
  astropy/coordinates/solar_system.py
Labels: Docs, coordinates, no-changelog-entry-needed

#12420 Refactor of testing for `modeling.utils`
  astropy/modeling/tests/test_utils.py
  astropy/modeling/utils.py
Labels: testing, modeling, no-changelog-entry-needed, merge-when-ci-passes

#12362 Updated list of contributors and .mailmap file
  .mailmap
  docs/credits.rst
Labels: Docs, no-changelog-entry-needed

#12693 Cosmo restructure ``m_nu`` initialization
  astropy/cosmology/flrw.py
  astropy/cosmology/io/tests/base.py
  astropy/cosmology/io/tests/test_model.py
  astropy/cosmology/tests/test_connect.py
  astropy/cosmology/tests/test_core.py
  astropy/cosmology/tests/test_cosmology.py
  astropy/cosmology/tests/test_flrw.py
  astropy/cosmology/tests/test_parameter.py
  astropy/cosmology/tests/test_units.py
Labels: cosmology, no-changelog-entry-needed, API change

#12707 move ``test_varyde``
  astropy/cosmology/tests/test_cosmology.py
Labels: cosmology, no-changelog-entry-needed

#12705 DOC: Update matplotlib doc base URL
  astropy/visualization/wcsaxes/coordinate_helpers.py
  docs/conf.py
  docs/visualization/matplotlib_integration.rst
Labels: Docs, no-changelog-entry-needed, Extra CI, backport-v5.0.x

#12712 Backport PR #12705 on branch v5.0.x (DOC: Update matplotlib doc base URL)
  astropy/visualization/wcsaxes/coordinate_helpers.py
  docs/conf.py
  docs/visualization/matplotlib_integration.rst
Labels: Docs, no-changelog-entry-needed, Extra CI

#12717 Make OrderedDict into a dict in astropy.io.misc
  astropy/io/misc/asdf/tags/time/tests/test_time.py
Labels: time, Ready-for-final-review, Refactoring, no-changelog-entry-needed, io.misc.asdf

#12714 TST: Add regression test for Issue 12706
  astropy/io/fits/tests/test_table.py
  astropy/table/tests/test_groups.py
  astropy/utils/compat/numpycompat.py
Labels: testing, table, Bug, no-changelog-entry-needed, backport-v5.0.x

#12710 Add kwargs to ``to_mapping``
  astropy/cosmology/io/mapping.py
  astropy/cosmology/io/tests/test_mapping.py
  docs/changes/cosmology/12710.feature.rst
  docs/cosmology/io.rst
Labels: cosmology, merge-when-ci-passes

#12709 FEAT: New doppler_redshift equivalency
  astropy/coordinates/spectral_coordinate.py
  astropy/units/equivalencies.py
  astropy/units/tests/test_equivalencies.py
  docs/changes/units/12709.feature.rst
  docs/units/equivalencies.rst
  docs/whatsnew/5.1.rst
Labels: Docs, units, coordinates, whatsnew-needed

#12719 Backport PR #12714 on branch v5.0.x (TST: Add regression test for Issue 12706)
  astropy/io/fits/tests/test_table.py
  astropy/table/tests/test_groups.py
  astropy/utils/compat/numpycompat.py
Labels: testing, table, io.fits, Bug, utils, no-changelog-entry-needed, skip-basebranch-check

#12701 Speed up _select_subfmts in `astropy.time`
  astropy/time/formats.py
Labels: time, Performance, no-changelog-entry-needed

#12711 Public-scope cosmology units module
  astropy/cosmology/__init__.py
Labels: cosmology, Ready-for-final-review, no-changelog-entry-needed, backport-v5.0.x

#12722 Backport PR #12711 on branch v5.0.x (Public-scope cosmology units module)
  astropy/cosmology/__init__.py
Labels: cosmology, Ready-for-final-review, no-changelog-entry-needed, merge-when-ci-passes

#12723 DOC: Unskip missing wraps from API in v5.0.x
  docs/utils/index.rst
Labels: Docs, Bug, utils, no-changelog-entry-needed, skip-basebranch-check

#12384 Enable direct usage of bounding box ignore function
  astropy/modeling/bounding_box.py
  astropy/modeling/core.py
  astropy/modeling/tests/test_bounding_box.py
  astropy/modeling/tests/test_core.py
  docs/changes/modeling/12384.feature.rst
  docs/modeling/models.rst
Labels: modeling

#12726 TST: Update 32-bit/parallel job
  .github/workflows/ci_workflows.yml
Labels: testing, Ready-for-final-review, no-changelog-entry-needed, backport-v5.0.x

#12671 Update documentation about fits_ccddata_reader and extension HDUs in convenience.py
  astropy/io/fits/convenience.py
  astropy/nddata/ccddata.py
  astropy/nddata/tests/test_ccddata.py
Labels: Docs, io.fits, nddata, no-changelog-entry-needed, backport-v5.0.x

#12728 Backport PR #12726 on branch v5.0.x (TST: Update 32-bit/parallel job)
  .github/workflows/ci_workflows.yml
Labels: testing, Ready-for-final-review, no-changelog-entry-needed

#12729 Backport PR #12671 on branch v5.0.x (Update documentation about fits_ccddata_reader and extension HDUs in convenience.py)
  astropy/io/fits/convenience.py
  astropy/nddata/ccddata.py
  astropy/nddata/tests/test_ccddata.py
Labels: Docs, io.fits, nddata, no-changelog-entry-needed

#12725 Split IO test base classes
  astropy/cosmology/io/tests/base.py
  astropy/cosmology/io/tests/test_ecsv.py
  astropy/cosmology/io/tests/test_mapping.py
  astropy/cosmology/io/tests/test_model.py
  astropy/cosmology/io/tests/test_row.py
  astropy/cosmology/io/tests/test_table.py
  astropy/cosmology/io/tests/test_yaml.py
Labels: cosmology, no-changelog-entry-needed

#12733 Fix typo in cosmology docs
  docs/cosmology/dev.rst
Labels: Docs, Bug, cosmology, no-changelog-entry-needed, merge-when-ci-passes, backport-v5.0.x

#12735 refactor json tests to use mixin classes
  astropy/cosmology/io/tests/base.py
  astropy/cosmology/io/tests/test_ecsv.py
  astropy/cosmology/io/tests/test_json.py
  astropy/cosmology/io/tests/test_mapping.py
  astropy/cosmology/io/tests/test_model.py
  astropy/cosmology/io/tests/test_row.py
  astropy/cosmology/io/tests/test_table.py
  astropy/cosmology/io/tests/test_yaml.py
  astropy/cosmology/tests/conftest.py
  astropy/cosmology/tests/test_connect.py
  astropy/cosmology/tests/test_core.py
  astropy/cosmology/tests/test_flrw.py
  astropy/cosmology/tests/test_funcs.py
  astropy/cosmology/tests/test_realizations.py
Labels: testing, cosmology, no-changelog-entry-needed

#12734 Backport PR #12733 on branch v5.0.x (Fix typo in cosmology docs)
  docs/cosmology/dev.rst
Labels: Docs, Bug, cosmology, no-changelog-entry-needed, merge-when-ci-passes

#12720 Documentation for the astropy modeling JointFitter
  docs/modeling/example_spectal_segments_jointfitter.png
  docs/modeling/index.rst
  docs/modeling/jointfitter.rst
Labels: Docs, modeling, no-changelog-entry-needed

#12738 BUG: spectral coordinates redshift should be Quantity
  astropy/coordinates/spectral_coordinate.py
  astropy/coordinates/tests/test_spectral_coordinate.py
Labels: Bug, coordinates, Affects-dev, no-changelog-entry-needed

#12736 register to/from cosmology
  astropy/cosmology/io/cosmology.py
  astropy/cosmology/io/tests/test_cosmology.py
  astropy/cosmology/tests/test_connect.py
  docs/changes/cosmology/12736.feature.rst
  docs/cosmology/io.rst
Labels: cosmology

#12739 Modify JointFitter docs to allow doctesting
  docs/modeling/example_spectal_segments_jointfitter.png
  docs/modeling/jointfitter.rst
Labels: Docs, modeling, no-changelog-entry-needed

#12741 remove unused imports
  astropy/cosmology/io/tests/test_ecsv.py
  astropy/cosmology/io/tests/test_mapping.py
  astropy/cosmology/io/tests/test_model.py
  astropy/cosmology/io/tests/test_row.py
  astropy/cosmology/io/tests/test_table.py
Labels: cosmology, no-changelog-entry-needed

#12740 Allow extending equivalence with `from_format`
  astropy/cosmology/connect.py
  astropy/cosmology/core.py
  astropy/cosmology/io/tests/test_cosmology.py
  astropy/cosmology/io/tests/test_mapping.py
  astropy/cosmology/io/tests/test_model.py
  astropy/cosmology/io/tests/test_row.py
  astropy/cosmology/io/tests/test_table.py
  astropy/cosmology/io/tests/test_yaml.py
  astropy/cosmology/tests/test_connect.py
  astropy/cosmology/tests/test_core.py
  docs/changes/cosmology/12740.feature.rst
  docs/whatsnew/5.1.rst
Labels: cosmology, Enhancement

#12745 Fix #12744
  astropy/cosmology/io/tests/test_model.py
  astropy/cosmology/io/tests/test_row.py
Labels: :fire:, cosmology, no-changelog-entry-needed

#12622 Add documentation on cosmology to model conversion
  docs/modeling/physical_models.rst
Labels: modeling, no-changelog-entry-needed, merge-when-ci-passes, backport-v5.0.x

#12742 Cosmo restructure `m_nu` initialization
  astropy/cosmology/flrw.py
Labels: cosmology, no-changelog-entry-needed, merge-when-ci-passes

#12713 BUG: Skip good_enough when auto_max_age is None
  astropy/utils/iers/iers.py
  astropy/utils/iers/tests/test_leap_second.py
  docs/changes/utils/12713.bugfix.rst
Labels: Bug, Ready-for-final-review, utils.iers, backport-v5.0.x

#12748 Pin Numpy to 1.20.* for wheel testing
  azure-pipelines.yml
Labels: testing, Release, no-changelog-entry-needed, backport-v5.0.x

#12751 Backport PR #12748 on branch v5.0.x (Pin Numpy to 1.20.* for wheel testing)
  azure-pipelines.yml
Labels: testing, Release, no-changelog-entry-needed, backport-v5.0.x

#12750 Backport PR #12713 on branch v5.0.x (BUG: Skip good_enough when auto_max_age is None)
  astropy/utils/iers/iers.py
  astropy/utils/iers/tests/test_leap_second.py
  docs/changes/utils/12713.bugfix.rst
Labels: Bug, Ready-for-final-review, utils.iers, backport-v5.0.x

#12752 set `m_nu` by validator
  astropy/cosmology/flrw.py
Labels: cosmology, Refactoring, no-changelog-entry-needed

#12754 Updated pinned Numpy from 1.20 to 1.21 for wheel testing
  azure-pipelines.yml
Labels: testing, no-changelog-entry-needed

#12757 Backport PR #12754 on branch v5.0.x (Updated pinned Numpy from 1.20 to 1.21 for wheel testing)
  azure-pipelines.yml
Labels: testing, no-changelog-entry-needed, backport-v5.0.x

#12759 Backport PR #12756 on branch v5.0.x (Update IERS and leap second table ahead of 5.0.1)
  astropy/utils/iers/data/Leap_Second.dat
  astropy/utils/iers/data/eopc04_IAU2000.62-now
Labels: no-changelog-entry-needed, utils.iers, backport-v5.0.x

#12663 Misc docstring fixes for io
  astropy/io/ascii/basic.py
  astropy/io/ascii/core.py
  astropy/io/ascii/daophot.py
  astropy/io/ascii/qdp.py
  astropy/io/ascii/ui.py
  astropy/io/fits/card.py
  astropy/io/fits/column.py
  astropy/io/fits/connect.py
  astropy/io/fits/convenience.py
  astropy/io/fits/fitsrec.py
  astropy/io/fits/hdu/base.py
  astropy/io/fits/hdu/hdulist.py
  astropy/io/fits/hdu/table.py
  astropy/io/fits/header.py
  astropy/io/misc/hdf5.py
  astropy/io/misc/yaml.py
  astropy/io/votable/converters.py
  astropy/io/votable/table.py
  astropy/io/votable/tree.py
Labels: io.votable, Docs, io.fits, io.ascii, io.misc, no-changelog-entry-needed, backport-v5.0.x

#12765 Fix invalid escape sequence
  astropy/utils/misc.py
Labels: testing, utils, no-changelog-entry-needed, merge-when-ci-passes, backport-v5.0.x

#12766 Backport PR #12765 on branch v5.0.x (Fix invalid escape sequence)
  astropy/utils/misc.py
Labels: testing, utils, no-changelog-entry-needed, merge-when-ci-passes, backport-v5.0.x

#12772 Fix changelog fragment type for #12492
  docs/changes/units/12492.bugfix.rst
Labels: units, skip-changelog-checks, backport-v5.0.x

#12747 Backport PR #12622 and #12611 on branch v5.0.x (Add documentation on cosmology to model conversion)
  docs/common_links.txt
  docs/cosmology/dev.rst
  docs/cosmology/index.rst
  docs/cosmology/io.rst
  docs/cosmology/units.rst
  docs/modeling/physical_models.rst
Labels: Docs, modeling, no-changelog-entry-needed, merge-when-ci-passes

#12773 Backport PR #12772 on branch v5.0.x (Fix changelog fragment type for #12492)
  docs/changes/units/12492.bugfix.rst
Labels: units, skip-changelog-checks

#11017 allow metaclass keywords in Model subclasses
  astropy/modeling/core.py
  astropy/modeling/tests/test_models.py
Labels: modeling, Ready-for-final-review, no-changelog-entry-needed, API change

#12774 remove outdated note
  astropy/cosmology/connect.py
Labels: cosmology, no-changelog-entry-needed, backport-v5.0.x

#12775 Ensure `table.row` is tested in Cosmology `ReadWriteTestMixin`
  astropy/cosmology/tests/test_connect.py
Labels: cosmology, no-changelog-entry-needed

#12776 Backport PR #12774 on branch v5.0.x (remove outdated note)
  astropy/cosmology/connect.py
Labels: cosmology, no-changelog-entry-needed, backport-v5.0.x

#12514 Add Celprm and Prjprm WCSLIB wrappers
  astropy/wcs/docstrings.py
  astropy/wcs/include/astropy_wcs/pyutil.h
  astropy/wcs/include/astropy_wcs/wcslib_celprm_wrap.h
  astropy/wcs/include/astropy_wcs/wcslib_prjprm_wrap.h
  astropy/wcs/setup_package.py
  astropy/wcs/src/astropy_wcs.c
  astropy/wcs/src/pyutil.c
  astropy/wcs/src/wcslib_celprm_wrap.c
  astropy/wcs/src/wcslib_prjprm_wrap.c
  astropy/wcs/src/wcslib_wrap.c
  astropy/wcs/tests/conftest.py
  astropy/wcs/tests/test_celprm.py
  astropy/wcs/tests/test_prjprm.py
  astropy/wcs/tests/test_wcsprm.py
  astropy/wcs/wcs.py
  docs/changes/wcs/12514.feature.rst
Labels: testing, wcs, Enhancement

#12783 Fix underline lengths in docstrings to fix RTD
  astropy/modeling/fitting.py
  astropy/modeling/projections.py
  astropy/nddata/ccddata.py
  astropy/nddata/compat.py
  astropy/nddata/nddata.py
  astropy/time/core.py
  astropy/utils/data.py
Labels: Docs, time, nddata, modeling, utils, no-changelog-entry-needed, Extra CI, backport-v5.0.x

#12785 Backport PR #12783 on branch v5.0.x (Fix underline lengths in docstrings to fix RTD)
  astropy/modeling/fitting.py
  astropy/modeling/projections.py
  astropy/nddata/ccddata.py
  astropy/nddata/compat.py
  astropy/nddata/nddata.py
  astropy/time/core.py
  astropy/utils/data.py
Labels: Docs, time, nddata, modeling, utils, no-changelog-entry-needed, Extra CI

#12786 Bugfix for bounding box ReadTheDocs failure.
  astropy/modeling/bounding_box.py
Labels: Docs, Bug, modeling, :fire:, no-changelog-entry-needed, Extra CI, backport-v5.0.x

#12782 test aszarr
  astropy/cosmology/tests/test_utils.py
Labels: cosmology, no-changelog-entry-needed

#12746 Cosmo: move parameters to ecsv
  astropy/cosmology/__init__.py
  astropy/cosmology/core.py
  astropy/cosmology/data/Planck13.ecsv
  astropy/cosmology/data/Planck15.ecsv
  astropy/cosmology/data/Planck18.ecsv
  astropy/cosmology/data/WMAP1.ecsv
  astropy/cosmology/data/WMAP3.ecsv
  astropy/cosmology/data/WMAP5.ecsv
  astropy/cosmology/data/WMAP7.ecsv
  astropy/cosmology/data/WMAP9.ecsv
  astropy/cosmology/io/tests/base.py
  astropy/cosmology/io/yaml.py
  astropy/cosmology/parameters.py
  astropy/cosmology/realizations.py
  astropy/cosmology/tests/mypackage/io/tests/test_astropy_convert.py
  astropy/cosmology/tests/mypackage/io/tests/test_astropy_io.py
  astropy/cosmology/tests/test_connect.py
  astropy/cosmology/tests/test_parameters.py
  astropy/cosmology/tests/test_realizations.py
  docs/changes/cosmology/12746.api.rst
  docs/cosmology/index.rst
  setup.cfg
Labels: cosmology, installation

#12788 Get rid of `modeling.fitting` warnings and `WCS` `FITSFixedWarning` in RTD
  docs/modeling/compound-models.rst
  docs/modeling/example-fitting-constraints.rst
  docs/modeling/fitting.rst
  docs/wcs/wcstools.rst
Labels: wcs, Docs, modeling, no-changelog-entry-needed, backport-v5.0.x

#12791 Backport PR #12788 on branch v5.0.x (Get rid of `modeling.fitting` warnings and `WCS` `FITSFixedWarning` in RTD)
  docs/modeling/compound-models.rst
  docs/modeling/example-fitting-constraints.rst
  docs/modeling/fitting.rst
  docs/wcs/wcstools.rst
Labels: wcs, Docs, modeling, no-changelog-entry-needed

#12795 Manual backport of non-controversial parts from #12633
  astropy/__init__.py
  astropy/conftest.py
  astropy/tests/helper.py
  astropy/tests/runner.py
  astropy/tests/tests/test_run_tests.py
  astropy/utils/decorators.py
  astropy/utils/tests/test_decorators.py
  setup.cfg
Labels: testing, utils, installation, no-changelog-entry-needed, ¯\_(ツ)_/¯, skip-basebranch-check

#12797 Forward-port of 5.0.1 changelog changes
  CHANGES.rst
  docs/changes/coordinates/12531.bugfix.rst
  docs/changes/coordinates/12556.bugfix.rst
  docs/changes/coordinates/12569.bugfix.rst
  docs/changes/cosmology/12525.bugfix.rst
  docs/changes/cosmology/12636.bugfix.rst
  docs/changes/io.fits/12526.bugfix.rst
  docs/changes/io.misc/12509.bugfix.rst
  docs/changes/modeling/12475.bugfix.rst
  docs/changes/modeling/12523.bugfix.rst
  docs/changes/modeling/12597.bugfix.rst
  docs/changes/table/12529.bugfix.rst
  docs/changes/table/12607.bugfix.rst
  docs/changes/timeseries/12527.bugfix.rst
  docs/changes/units/12492.bugfix.rst
  docs/changes/units/12511.bugfix.rst
  docs/changes/units/12573.bugfix.rst
  docs/changes/units/12583.bugfix.rst
  docs/changes/utils/12482.bugfix.rst
  docs/changes/utils/12511.bugfix.rst
  docs/changes/utils/12713.bugfix.rst
Labels: table, units, coordinates, modeling, cosmology, utils, skip-changelog-checks, timeseries

#12798 Avoid using strings in minversion() wherever possible
  astropy/io/misc/parquet.py
  astropy/utils/compat/numpycompat.py
Labels: utils, io.misc, Refactoring, no-changelog-entry-needed, backport-v5.0.x

#12799 Backport PR #12798 on branch v5.0.x (Avoid using strings in minversion() wherever possible)
  astropy/io/misc/parquet.py
  astropy/utils/compat/numpycompat.py
Labels: utils, io.misc, Refactoring, no-changelog-entry-needed

#12800 Bugfix for `units_mapping` asdf schema.
  astropy/io/misc/asdf/data/schemas/astropy.org/astropy/transform/units_mapping-1.0.0.yaml
  astropy/io/misc/asdf/tags/transform/basic.py
  docs/changes/io.misc/12800.bugfix.rst
Labels: io.misc.asdf
