Repository astropy/astropy, pull requests merged in 2022-05, with the labels that each got.

#13198 Backport PR #13195 on branch v5.0.x (Update IERS Earth rotation and leap second tables)
  astropy/utils/iers/data/eopc04_IAU2000.62-now
Labels: no-changelog-entry-needed, utils.iers, backport-v5.0.x, backport-v5.1.x

#13199 Backport PR #13195 on branch v5.1.x (Update IERS Earth rotation and leap second tables)
  astropy/utils/iers/data/eopc04_IAU2000.62-now
Labels: no-changelog-entry-needed, utils.iers, backport-v5.0.x, backport-v5.1.x

#13204 Bugfix for fitting test failure on i386
  astropy/modeling/tests/test_models_quantities.py
Labels: modeling, no-changelog-entry-needed, backport-v5.1.x

#13207 Backport PR #13204 on branch v5.1.x (Bugfix for fitting test failure on i386)
  astropy/modeling/tests/test_models_quantities.py
Labels: modeling, no-changelog-entry-needed, backport-v5.1.x

#13214 Backport PR #13212 on branch v5.1.x (fix of tiny insignificant typo)
  astropy/utils/decorators.py
Labels: Docs, Bug, utils, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13213 Backport PR #13212 on branch v5.0.x (fix of tiny insignificant typo)
  astropy/utils/decorators.py
Labels: Docs, Bug, utils, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13205 TST: fix for RTD failure with new matplotlib version
  setup.cfg
Labels: Upstream Fix Required, convolution, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13216 Backport PR #13205 on branch v5.1.x (TST: fix for RTD failure with new matplotlib version)
  setup.cfg
Labels: Upstream Fix Required, convolution, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13215 Backport PR #13205 on branch v5.0.x (TST: fix for RTD failure with new matplotlib version)
  setup.cfg
Labels: Upstream Fix Required, convolution, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13210 Update v5.1 What's New page
  docs/whatsnew/5.1.rst
Labels: Docs, units, modeling, cosmology, Manual Backport, skip-changelog-checks, utils.iers, skip-basebranch-check

#13208 Fix for s390x failure
  astropy/modeling/tests/test_constraints.py
Labels: testing, Bug, modeling, no-changelog-entry-needed, backport-v5.1.x

#13219 Backport PR #13208 on branch v5.1.x (Fix for s390x failure)
  astropy/modeling/tests/test_constraints.py
Labels: testing, Bug, modeling, no-changelog-entry-needed, backport-v5.1.x

#13220 TST: Update codecov workflow
  .github/workflows/ci_workflows.yml
Labels: testing, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13222 Backport PR #13220 on branch v5.1.x (TST: Update codecov workflow)
  .github/workflows/ci_workflows.yml
Labels: testing, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13221 Backport PR #13220 on branch v5.0.x (TST: Update codecov workflow)
  .github/workflows/ci_workflows.yml
Labels: testing, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#11890 Add more help for "what do do when reading a table fails"
  docs/io/ascii/read.rst
Labels: Docs, io.ascii, no-changelog-entry-needed

#13226 Use datacenter.iers.org as primary source for IERS data
  astropy/utils/iers/iers.py
Labels: no-changelog-entry-needed, utils.iers, backport-v5.0.x, backport-v5.1.x

#13230 Backport PR #13226 on branch v5.1.x (Use datacenter.iers.org as primary source for IERS data)
  astropy/utils/iers/iers.py
Labels: no-changelog-entry-needed, utils.iers, backport-v5.0.x, backport-v5.1.x

#13229 Backport PR #13226 on branch v5.0.x (Use datacenter.iers.org as primary source for IERS data)
  astropy/utils/iers/iers.py
Labels: no-changelog-entry-needed, utils.iers, backport-v5.0.x, backport-v5.1.x

#13234 Preserve order for structured columns on reading back from file
  astropy/io/ascii/tests/test_ecsv.py
  astropy/io/fits/tests/test_connect.py
  astropy/io/misc/tests/test_hdf5.py
  astropy/io/tests/mixin_columns.py
  astropy/table/serialize.py
Labels: table, io.ascii, Bug, :fire:, Affects-dev, no-changelog-entry-needed, backport-v5.1.x

#13240 TST: Relax project coverage threshold
  codecov.yml
Labels: testing, Bug, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13242 Backport PR #13240 on branch v5.0.x (TST: Relax project coverage threshold)
  codecov.yml
Labels: testing, Bug, no-changelog-entry-needed, merge-when-ci-passes, backport-v5.0.x, backport-v5.1.x

#13243 Backport PR #13240 on branch v5.1.x (TST: Relax project coverage threshold)
  codecov.yml
Labels: testing, Bug, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13228 Fix bug with spectral WCS transformations when target is not available
  astropy/wcs/wcsapi/fitswcs.py
  astropy/wcs/wcsapi/tests/test_fitswcs.py
  docs/changes/wcs/13228.bugfix.rst
Labels: Bug, Ready-for-final-review, wcs.wcsapi, backport-v5.0.x, backport-v5.1.x

#13247 Backport PR #13228 on branch v5.0.x (Fix bug with spectral WCS transformations when target is not available)
  astropy/wcs/wcsapi/fitswcs.py
  astropy/wcs/wcsapi/tests/test_fitswcs.py
  docs/changes/wcs/13228.bugfix.rst
Labels: wcs, skip-changelog-checks, wcs.wcsapi, skip-basebranch-check

#13236 Change Table default to add structured array as Column not NdarrayMixin
  astropy/table/table.py
  astropy/table/tests/test_mixin.py
  astropy/table/tests/test_table.py
  docs/changes/table/13236.api.rst
  docs/changes/table/13236.bugfix.rst
  docs/table/construct_table.rst
Labels: table, Bug, merge-when-ci-passes, API change

#12941 Quantity dtype option to not upcast
  astropy/coordinates/angles.py
  astropy/coordinates/distances.py
  astropy/units/core.py
  astropy/units/function/core.py
  astropy/units/quantity.py
  astropy/units/tests/test_quantity.py
  astropy/units/tests/test_utils.py
  astropy/units/utils.py
  docs/changes/units/12941.api.rst
  docs/units/quantity.rst
  docs/whatsnew/5.2.rst
Labels: units, coordinates, whatsnew-needed

#13250 Backport PR #13236 on branch v5.1.x (Change Table default to add structured array as Column not NdarrayMixin)
  astropy/table/table.py
  astropy/table/tests/test_mixin.py
  astropy/table/tests/test_table.py
  docs/changes/table/13236.api.rst
  docs/changes/table/13236.bugfix.rst
  docs/table/construct_table.rst
Labels: table, Bug, merge-when-ci-passes, API change, backport-v5.1.x

#13245 Update docs git:// to https:// as unencrypted Git protocol unavailable [ci skip]
  docs/development/workflow/get_devel_version.rst
  docs/development/workflow/maintainer_workflow.rst
  docs/development/workflow/patches.rst
  docs/install.rst
Labels: Docs, installation, no-changelog-entry-needed

#13252 Backport to v5.1.x: Update the What's New entry for Structured Columns
  docs/whatsnew/5.1.rst
Labels: Docs, no-changelog-entry-needed, Manual Backport, skip-basebranch-check

#13257 Improve documentation of handing non-finite fitting data
  astropy/modeling/fitting.py
  docs/modeling/fitting.rst
Labels: modeling, no-changelog-entry-needed, backport-v5.1.x

#13258 Backport PR #13257 on branch v5.1.x (Improve documentation of handing non-finite fitting data)
  astropy/modeling/fitting.py
  docs/modeling/fitting.rst
Labels: modeling, no-changelog-entry-needed, backport-v5.1.x

#13104 Cosmo comparison functions
  astropy/cosmology/core.py
  astropy/cosmology/funcs/__init__.py
  astropy/cosmology/funcs/comparison.py
  astropy/cosmology/funcs/optimize.py
  astropy/cosmology/funcs/tests/__init__.py
  astropy/cosmology/funcs/tests/test_comparison.py
  astropy/cosmology/funcs/tests/test_funcs.py
  docs/changes/cosmology/13104.feature.rst
  docs/whatsnew/5.2.rst
  setup.cfg
Labels: Docs, cosmology, Enhancement

#13263 Update the version of cython used in pyproject.toml
  pyproject.toml
Labels: installation, no-changelog-entry-needed, backport-v5.1.x

#13264 Backport PR #13263 on branch v5.1.x (Update the version of cython used in pyproject.toml)
  pyproject.toml
Labels: installation, no-changelog-entry-needed, backport-v5.1.x

#13260 fix confusing cosmology ``__eq__``
  astropy/cosmology/core.py
Labels: cosmology, no-changelog-entry-needed

#13277 TST: Pin hypothesis to temporarily get around time precision test failures
  setup.cfg
Labels: installation, no-changelog-entry-needed, ¯\_(ツ)_/¯, Extra CI, backport-v5.0.x, backport-v5.1.x

#13278 Backport PR #13277 on branch v5.0.x (TST: Pin hypothesis to temporarily get around time precision test failures)
  setup.cfg
  tox.ini
Labels: installation, no-changelog-entry-needed, ¯\_(ツ)_/¯, Extra CI, backport-v5.0.x, backport-v5.1.x

#13251 Switch to OpenAstronomy GitHub Actions workflow to build and publish wheels
  .github/workflows/publish.yml
  astropy/coordinates/tests/test_representation.py
  astropy/wcs/wcsapi/tests/test_fitswcs.py
  pyproject.toml
Labels: testing, installation, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x, Build all wheels
