Repository astropy/astropy, pull requests merged in 2022-07, with the labels that each got.

#13080 TST: Test against dev infrastructure weekly, add scipy dev to devdeps
  .github/workflows/ci_cron_weekly.yml
  tox.ini
Labels: testing, no-changelog-entry-needed, Extra CI

#13420 Backport PR #13416 on branch v5.1.x (Update IERS Earth rotation and leap second tables)
  astropy/utils/iers/data/eopc04_IAU2000.62-now
Labels: no-changelog-entry-needed, utils.iers, backport-v5.0.x, backport-v5.1.x

#13390 Adjust Column to work with numpy-dev, simplifying it somewhat
  astropy/table/column.py
  astropy/table/tests/test_column.py
Labels: table, no-changelog-entry-needed, numpy-dev, backport-v5.0.x, backport-v5.1.x

#13423 Backport PR #13390 on branch v5.1.x (Adjust Column to work with numpy-dev, simplifying it somewhat)
  astropy/table/column.py
  astropy/table/tests/test_column.py
Labels: table, no-changelog-entry-needed, numpy-dev, backport-v5.0.x, backport-v5.1.x

#13422 Backport PR #13390 on branch v5.0.x (Adjust Column to work with numpy-dev, simplifying it somewhat)
  astropy/table/column.py
  astropy/table/tests/test_column.py
Labels: table, no-changelog-entry-needed, numpy-dev, backport-v5.0.x, backport-v5.1.x

#13425 Update required `pytest-astropy` version for `test-all` dependencies
  setup.cfg
Labels: testing, Bug, installation, no-changelog-entry-needed, backport-v5.1.x

#13428 Backport PR #13425 on branch v5.1.x (Update required `pytest-astropy` version for `test-all` dependencies)
  setup.cfg
Labels: testing, Bug, installation, no-changelog-entry-needed, backport-v5.1.x

#13433 Backport PR #13430 on branch v5.1.x (Skip TestQuantityTyping for all wheel builds)
  .github/workflows/publish.yml
Labels: testing, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13432 Backport PR #13430 on branch v5.0.x (Skip TestQuantityTyping for all wheel builds)
  .github/workflows/publish.yml
Labels: testing, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13431 Finalize set-up of GitHub actions for building wheels
  .github/workflows/publish.yml
  docs/changes/13431.other.rst
  docs/install.rst
Labels: testing, Docs, installation, Ready-for-final-review

#13436 Backport PR #13431 on branch v5.0.x (Finalize set-up of GitHub actions for building wheels)
  .github/workflows/publish.yml
  docs/changes/13431.other.rst
  docs/install.rst
Labels: testing, Docs, installation, Ready-for-final-review, backport-v5.0.x, backport-v5.1.x

#13437 Backport PR #13431 on branch v5.1.x (Finalize set-up of GitHub actions for building wheels)
  .github/workflows/publish.yml
  docs/changes/13431.other.rst
  docs/install.rst
Labels: testing, Docs, installation, Ready-for-final-review, backport-v5.0.x, backport-v5.1.x

#13298 MNT: Remove Azure pipelines
  .github/labeler.yml
  README.rst
  azure-pipelines.yml
  docs/development/releasing.rst
Labels: testing, Ready-for-final-review, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13439 Backport PR #13298 on branch v5.1.x (MNT: Remove Azure pipelines)
  .github/labeler.yml
  README.rst
  azure-pipelines.yml
  docs/development/releasing.rst
Labels: testing, Ready-for-final-review, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13440 Backport PR #13298 on branch v5.0.x (MNT: Remove Azure pipelines)
  .github/labeler.yml
  README.rst
  azure-pipelines.yml
  docs/development/releasing.rst
Labels: testing, Docs, Release, no-changelog-entry-needed, Manual Backport, skip-basebranch-check

#13438 Update jQuery to 3.6.0
  astropy/extern/jquery/data/js/jquery-3.1.1.min.js
  astropy/extern/jquery/data/js/jquery-3.6.0.js
  astropy/extern/jquery/data/js/jquery-3.6.0.min.js
  astropy/table/jsviewer.py
  astropy/table/tests/test_jsviewer.py
  docs/changes/README.rst
  docs/changes/table/13438.bugfix.rst
Labels: table, external, backport-v5.0.x, backport-v5.1.x

#13443 Backport PR #13438 on branch v5.1.x (Update jQuery to 3.6.0)
  astropy/extern/jquery/data/js/jquery-3.1.1.min.js
  astropy/extern/jquery/data/js/jquery-3.6.0.js
  astropy/extern/jquery/data/js/jquery-3.6.0.min.js
  astropy/table/jsviewer.py
  astropy/table/tests/test_jsviewer.py
  docs/changes/README.rst
  docs/changes/table/13438.bugfix.rst
Labels: table, external, backport-v5.0.x, backport-v5.1.x

#13444 Update `docs/units/format.rst`
  docs/units/format.rst
Labels: Docs, units, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13445 Backport PR #13444 on branch v5.0.x (Update `docs/units/format.rst`)
  docs/units/format.rst
Labels: Docs, units, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13454 Backport PR #13453 on branch v5.0.x (Make HTML Table writer apply supplied output formatting)
  astropy/io/ascii/html.py
  astropy/io/ascii/tests/test_html.py
  docs/changes/io.ascii/13453.bugfix.rst
Labels: io.ascii, Bug, backport-v5.0.x

#13466 Correction to documentation of AltAz and HADec self transforms.
  astropy/coordinates/builtin_frames/altaz.py
  astropy/coordinates/builtin_frames/hadec.py
Labels: coordinates, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13467 Backport PR #13466 on branch v5.0.x (Correction to documentation of AltAz and HADec self transforms.)
  astropy/coordinates/builtin_frames/altaz.py
  astropy/coordinates/builtin_frames/hadec.py
Labels: coordinates, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13468 Backport PR #13466 on branch v5.1.x (Correction to documentation of AltAz and HADec self transforms.)
  astropy/coordinates/builtin_frames/altaz.py
  astropy/coordinates/builtin_frames/hadec.py
Labels: coordinates, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13470 Clarify block_reduce func keyword parameter
  astropy/nddata/blocks.py
Labels: Docs, nddata, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13472 Backport PR #13470 on branch v5.0.x (Clarify block_reduce func keyword parameter)
  astropy/nddata/blocks.py
Labels: Docs, nddata, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13473 Backport PR #13470 on branch v5.1.x (Clarify block_reduce func keyword parameter)
  astropy/nddata/blocks.py
Labels: Docs, nddata, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13491 Adjust expected error for illegal Angle input.
  astropy/coordinates/tests/test_arrays.py
  astropy/utils/compat/numpycompat.py
Labels: testing, coordinates, utils, no-changelog-entry-needed, numpy-dev, backport-v5.0.x, backport-v5.1.x

#13493 Backport PR #13491: Adjust expected error for illegal Angle input.
  astropy/coordinates/tests/test_arrays.py
  astropy/utils/compat/numpycompat.py
Labels: testing, coordinates, utils, no-changelog-entry-needed, numpy-dev

#13492 Backport PR #13491 on branch v5.1.x (Adjust expected error for illegal Angle input.)
  astropy/coordinates/tests/test_arrays.py
  astropy/utils/compat/numpycompat.py
Labels: testing, coordinates, utils, no-changelog-entry-needed, numpy-dev, Still Needs Manual Backport, backport-v5.0.x, backport-v5.1.x

#12598 Create Earth location object using OBSGEO and MJDAVG, not MJD-OBS
  astropy/wcs/wcsapi/fitswcs.py
  astropy/wcs/wcsapi/tests/test_fitswcs.py
  docs/changes/wcs/12598.bugfix.rst
Labels: Bug, wcs.wcsapi, backport-v5.0.x, backport-v5.1.x

#13502 Improve IERS docs and add a top-level entry
  docs/index.rst
  docs/utils/iers.rst
Labels: Docs, no-changelog-entry-needed, utils.iers, backport-v5.0.x, backport-v5.1.x

#13498 Slightly improve Latitude.validate_angles performance
  astropy/coordinates/angles.py
Labels: coordinates, Performance, no-changelog-entry-needed

#13398 Add topocentric ITRS frame. Create direct transforms between it and o…
  astropy/coordinates/builtin_frames/__init__.py
  astropy/coordinates/builtin_frames/intermediate_rotation_transforms.py
  astropy/coordinates/builtin_frames/itrs.py
  astropy/coordinates/builtin_frames/itrs_observed_transforms.py
  astropy/coordinates/tests/test_intermediate_transformations.py
  docs/changes/coordinates/13398.feature.rst
  docs/coordinates/common_errors.rst
  docs/coordinates/satellites.rst
  docs/coordinates/spectralcoord.rst
  docs/whatsnew/5.2.rst
Labels: coordinates, whatsnew-needed

#13497 Improve performance of Angle.wrap_at
  astropy/coordinates/angles.py
Labels: coordinates, Performance, no-changelog-entry-needed

#13496 Memoize UnitBase._get_physical_type_id
  astropy/units/core.py
Labels: units, Performance, no-changelog-entry-needed

#13487 Improve `EarthLocation.of_address()` documentation
  docs/coordinates/index.rst
Labels: Docs, coordinates, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13471 Performance improvements for transformations using `CoordinateAttribute`
  astropy/coordinates/attributes.py
Labels: coordinates, Performance, no-changelog-entry-needed

#13514 Backport PR #13487 on branch v5.1.x (Improve `EarthLocation.of_address()` documentation)
  docs/coordinates/index.rst
Labels: Docs, coordinates, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13513 Backport PR #13487 on branch v5.0.x (Improve `EarthLocation.of_address()` documentation)
  docs/coordinates/index.rst
Labels: Docs, coordinates, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13504 Backport PR #13502 on branch v5.1.x (Improve IERS docs and add a top-level entry)
  docs/index.rst
  docs/utils/iers.rst
Labels: Docs, no-changelog-entry-needed, utils.iers, backport-v5.0.x, backport-v5.1.x

#13503 Backport PR #13502 on branch v5.0.x (Improve IERS docs and add a top-level entry)
  docs/index.rst
  docs/utils/iers.rst
Labels: Docs, no-changelog-entry-needed, utils.iers, backport-v5.0.x, backport-v5.1.x

#13515 DOC: Add note about [ci skip] in dev docs
  docs/development/docguide.rst
Labels: Docs, no-changelog-entry-needed
