Repository astropy/astropy, pull requests merged in 2022-04, with the labels that each got.

#13030 Allow Ellipse2D and Sersic2D theta to be a quantity
  astropy/modeling/functional_models.py
  astropy/modeling/tests/test_functional_models.py
  astropy/modeling/tests/test_models_quantities.py
  astropy/modeling/utils.py
  docs/changes/modeling/13030.feature.rst
Labels: modeling

#13039 MNT: Do not auto update IERS on forks
  .github/workflows/update_iers.yml
Labels: testing, Bug, Ready-for-final-review, no-changelog-entry-needed, dev-automation

#13040 Backport PR #13034 on branch v5.0.x (Update IERS Earth rotation and leap second tables)
  astropy/utils/iers/data/eopc04_IAU2000.62-now
Labels: no-changelog-entry-needed, merge-when-ci-passes, utils.iers, backport-v5.0.x

#12749 Make ndarray Parameters read-only
  astropy/cosmology/parameter.py
Labels: cosmology, Ready-for-final-review, no-changelog-entry-needed

#13045 Fix for Pillow deprecation and open files warnings
  astropy/visualization/scripts/tests/test_fits2bitmap.py
  astropy/visualization/wcsaxes/core.py
Labels: testing, visualization, no-changelog-entry-needed, visualization.wcsaxes, backport-v5.0.x

#13032 Fixes for broken bounding_box ignore
  astropy/modeling/bounding_box.py
  astropy/modeling/tests/test_bounding_box.py
  docs/changes/modeling/13032.bugfix.rst
Labels: Bug, modeling, backport-v5.0.x

#13047 Backport PR #13045 on branch v5.0.x (Fix for Pillow deprecation and open files warnings)
  astropy/visualization/scripts/tests/test_fits2bitmap.py
  astropy/visualization/wcsaxes/core.py
Labels: testing, visualization, no-changelog-entry-needed, visualization.wcsaxes, backport-v5.0.x

#13049 Backport PR #13032 on branch v5.0.x (Fixes for broken bounding_box ignore)
  astropy/modeling/bounding_box.py
  astropy/modeling/tests/test_bounding_box.py
  docs/changes/modeling/13032.bugfix.rst
Labels: modeling, Manual Backport, skip-changelog-checks, skip-basebranch-check

#13055 Fix Pillow deprecation warnings for all versions
  astropy/visualization/wcsaxes/core.py
Labels: testing, visualization, no-changelog-entry-needed, visualization.wcsaxes, backport-v5.0.x

#13065 TST: Run apt update on CircleCI
  .circleci/config.yml
Labels: testing, no-changelog-entry-needed, backport-v5.0.x

#13067 Backport PR #13065 on branch v5.0.x (TST: Run apt update on CircleCI)
  .circleci/config.yml
Labels: testing, no-changelog-entry-needed, backport-v5.0.x

#13064 Backport PR #13055 on branch v5.0.x (Fix Pillow deprecation warnings for all versions)
  astropy/visualization/wcsaxes/core.py
Labels: testing, visualization, no-changelog-entry-needed, visualization.wcsaxes, backport-v5.0.x

#13066 BUG: Fix HAS_PACKAGENAME
  .pyinstaller/run_astropy_tests.py
  astropy/utils/compat/optional_deps.py
  docs/changes/utils/13066.bugfix.rst
Labels: Bug, utils, Extra CI, backport-v5.0.x

#13070 Backport PR #13066 on branch v5.0.x (BUG: Fix HAS_PACKAGENAME)
  .pyinstaller/run_astropy_tests.py
  astropy/utils/compat/optional_deps.py
  docs/changes/utils/13066.bugfix.rst
Labels: Bug, utils, Extra CI, backport-v5.0.x

#13057 Cosmo: make flrw semi-private API private
  astropy/cosmology/flrw/__init__.py
  astropy/cosmology/flrw/base.py
  astropy/cosmology/flrw/tests/test_base.py
  astropy/cosmology/flrw/tests/test_init.py
Labels: cosmology, no-changelog-entry-needed, API change

#13074 Import cosmology io
  astropy/cosmology/io/__init__.py
  astropy/cosmology/io/tests/test_.py
Labels: cosmology, Affects-dev, no-changelog-entry-needed

#13081 Backport PR #13077 on branch v5.0.x (table documentation small improvement: clarify loc vs iloc)
  docs/table/indexing.rst
Labels: table, Docs, no-changelog-entry-needed, backport-v5.0.x

#13082 TST: Ignore bs4 deprecation warning in pandas
  setup.cfg
Labels: installation, no-changelog-entry-needed, backport-v5.0.x

#13085 TST: Un-xfail test_iers_a_dl_mirror
  astropy/utils/iers/tests/test_iers.py
Labels: testing, no-changelog-entry-needed, utils.iers, backport-v5.0.x

#13063 Do not call wcstab after wcscopy
  astropy/wcs/src/wcslib_wrap.c
  astropy/wcs/tests/test_tab.py
  docs/changes/wcs/13063.bugfix.rst
Labels: wcs, Bug, backport-v5.0.x

#13084 Backport PR #13082 on branch v5.0.x (TST: Ignore bs4 deprecation warning in pandas)
  setup.cfg
Labels: installation, no-changelog-entry-needed, backport-v5.0.x

#13089 Backport PR #13085 on branch v5.0.x (TST: Un-xfail test_iers_a_dl_mirror)
  astropy/utils/iers/tests/test_iers.py
Labels: testing, no-changelog-entry-needed, utils.iers, backport-v5.0.x

#13062 Expose mechanism of selecting TIME axis in WCS
  astropy/wcs/docstrings.py
  astropy/wcs/src/wcslib_wrap.c
  astropy/wcs/tests/test_wcs.py
  astropy/wcs/wcs.py
  docs/changes/wcs/13062.bugfix.rst
Labels: wcs, Bug, backport-v5.0.x

#13094 Add wcs temporal properties
  astropy/wcs/tests/test_wcs.py
  astropy/wcs/wcs.py
  docs/changes/wcs/13094.feature.rst
Labels: wcs

#13073 Simplify specifying data types when reading ASCII tables
  astropy/io/ascii/core.py
  astropy/io/ascii/docs.py
  astropy/io/ascii/tests/test_read.py
  docs/changes/io.ascii/13073.feature.rst
  docs/io/ascii/index.rst
  docs/io/ascii/read.rst
  docs/whatsnew/5.1.rst
Labels: Docs, io.ascii, Enhancement, whatsnew-needed

#13087 flake8 cosmology
  astropy/cosmology/__init__.py
  astropy/cosmology/connect.py
  astropy/cosmology/flrw/tests/conftest.py
  astropy/cosmology/flrw/tests/test_init.py
  astropy/cosmology/flrw/tests/test_lambdacdm.py
  astropy/cosmology/funcs.py
  astropy/cosmology/io/__init__.py
  astropy/cosmology/io/tests/test_json.py
  astropy/cosmology/io/tests/test_yaml.py
  astropy/cosmology/parameters.py
  astropy/cosmology/tests/conftest.py
  astropy/cosmology/tests/test_connect.py
  astropy/cosmology/tests/test_core.py
  astropy/cosmology/tests/test_cosmology.py
  astropy/cosmology/tests/test_funcs.py
  astropy/cosmology/tests/test_parameter.py
  astropy/cosmology/tests/test_realizations.py
  astropy/cosmology/tests/test_units.py
  astropy/cosmology/tests/test_utils.py
  astropy/cosmology/units.py
  astropy/cosmology/utils.py
Labels: testing, cosmology, no-changelog-entry-needed

#12110 Expose the data size calculation in Header as well as in HDU
  astropy/io/fits/hdu/base.py
  astropy/io/fits/header.py
  astropy/io/fits/tests/test_header.py
  docs/changes/io.fits/12110.feature.rst
Labels: io.fits

#13076 Add property `equivalent_nonflat` to flat cosmologies
  astropy/cosmology/core.py
  astropy/cosmology/flrw/base.py
  astropy/cosmology/flrw/lambdacdm.py
  astropy/cosmology/flrw/w0cdm.py
  astropy/cosmology/flrw/w0wacdm.py
  astropy/cosmology/tests/test_core.py
  docs/changes/cosmology/13076.feature.rst
  docs/whatsnew/5.1.rst
Labels: cosmology, Enhancement, API change

#13056 Improve support for `'latex_inline'` unit format
  astropy/coordinates/angles.py
  astropy/coordinates/tests/test_formatting.py
  astropy/units/function/core.py
  astropy/units/quantity.py
  astropy/units/structured.py
  astropy/units/tests/test_logarithmic.py
  astropy/units/tests/test_quantity.py
  astropy/units/tests/test_structured.py
  docs/changes/coordinates/13056.feature.rst
  docs/changes/units/13056.feature.rst
Labels: units, coordinates, Enhancement

#13100 Update utils.py
  astropy/cosmology/io/utils.py
Labels: cosmology, no-changelog-entry-needed

#13108 DOC: Fix linkcheck
  astropy/stats/funcs.py
  docs/conf.py
  docs/development/workflow/development_workflow.rst
Labels: Docs, no-changelog-entry-needed, Extra CI, backport-v5.0.x

#13113 Add link to Header class in FITS header docs
  docs/io/fits/index.rst
Labels: Docs, io.fits, no-changelog-entry-needed, backport-v5.0.x

#12644 Serialized structured column via SerializedColumn
  astropy/coordinates/earth.py
  astropy/cosmology/io/row.py
  astropy/cosmology/io/table.py
  astropy/io/ascii/tests/test_ecsv.py
  astropy/io/tests/mixin_columns.py
  astropy/table/column.py
  astropy/table/operations.py
  astropy/table/pprint.py
  astropy/table/scripts/showtable.py
  astropy/table/serialize.py
  astropy/table/table.py
  astropy/table/tests/test_mixin.py
  astropy/table/tests/test_operations.py
  astropy/table/tests/test_pprint.py
  astropy/table/tests/test_showtable.py
  astropy/utils/data_info.py
  docs/changes/table/12644.feature.rst
  docs/cosmology/io.rst
  docs/io/ascii/ecsv.rst
  docs/table/access_table.rst
  docs/table/construct_table.rst
  docs/table/index.rst
  docs/table/operations.rst
  docs/whatsnew/5.1.rst
Labels: table, io.ascii, Enhancement, whatsnew-needed, merge-when-ci-passes

#13117 DOC: Manual backport of PR 13108 (Fix linkcheck)
  astropy/stats/funcs.py
  docs/conf.py
  docs/development/workflow/development_workflow.rst
Labels: Docs, stats, no-changelog-entry-needed, skip-basebranch-check

#13118 DOC: Manual backport of PR 13113 (Add link to Header class in FITS header docs)
  docs/io/fits/index.rst
Labels: Docs, io.fits, no-changelog-entry-needed, skip-basebranch-check

#13119 TST: Manually set mpl backend in pyinstaller job
  .pyinstaller/run_astropy_tests.py
Labels: testing, no-changelog-entry-needed, Extra CI, backport-v5.0.x

#13090 Backport PR #13063 on branch v5.0.x (Do not call wcstab after wcscopy)
  astropy/wcs/src/wcslib_wrap.c
  astropy/wcs/tests/test_tab.py
  docs/changes/wcs/13063.bugfix.rst
Labels: wcs, Bug, backport-v5.0.x

#13121 TST: Manual backport of PR 13119 (Manually set mpl backend in pyinstaller job)
  .pyinstaller/run_astropy_tests.py
Labels: testing, no-changelog-entry-needed, skip-basebranch-check

#12532 Add docs on how to access decomposed units
  docs/units/decomposing_and_composing.rst
Labels: units, no-changelog-entry-needed

#13114 Fix compiler errors with older externally installed WCSLIB
  astropy/wcs/docstrings.py
  astropy/wcs/src/wcslib_wrap.c
  astropy/wcs/tests/test_tab.py
  astropy/wcs/wcs.py
Labels: wcs, Bug, :fire:, installation, Affects-dev, no-changelog-entry-needed, Extra CI

#13123 Backport of PR 13120 (Fix unit test for 13063)
  astropy/wcs/tests/test_tab.py
Labels: wcs, no-changelog-entry-needed, skip-basebranch-check, Extra CI

#12962 Add parameter to `CCDData.to_hdu` to get an `ImageHDU` from a `CCDData` object
  astropy/nddata/ccddata.py
  astropy/nddata/tests/test_ccddata.py
  docs/changes/nddata/12962.feature.rst
Labels: nddata, Ready-for-final-review, Enhancement

#13099 Cosmo clone equivalent
  astropy/cosmology/core.py
  astropy/cosmology/flrw/base.py
  astropy/cosmology/flrw/lambdacdm.py
  astropy/cosmology/flrw/tests/test_base.py
  astropy/cosmology/flrw/w0cdm.py
  astropy/cosmology/flrw/w0wacdm.py
  astropy/cosmology/tests/test_core.py
  docs/changes/cosmology/13076.feature.rst
  docs/changes/cosmology/13099.feature.rst
  docs/whatsnew/5.1.rst
Labels: cosmology, Ready-for-final-review, skip-changelog-checks

#13115 Partial revert on default_cosmology
  astropy/cosmology/realizations.py
  astropy/cosmology/tests/test_realizations.py
  docs/changes/cosmology/12375.api.rst
Labels: cosmology, Ready-for-final-review, Affects-dev, skip-changelog-checks

#13106 Fitsheader: Add new `--sort` argument
  astropy/io/fits/scripts/fitsheader.py
  astropy/io/fits/tests/test_fitsheader.py
  docs/changes/io.fits/13106.api.rst
Labels: io.fits

#12081 Change FITS I/O from unbuffered to buffered for performance improvements
  astropy/io/fits/file.py
  astropy/io/fits/util.py
  docs/changes/io.fits/12081.feature.rst
Labels: io.fits

#13102 Add specific clear() function for `CompImageHeader` class
  astropy/io/fits/hdu/compressed.py
  astropy/io/fits/hdu/table.py
  astropy/io/fits/tests/test_header.py
  docs/changes/io.fits/13102.bugfix.rst
Labels: io.fits, backport-v5.0.x

#13128 Backport PR #13102 on branch v5.0.x (Add specific clear() function for `CompImageHeader` class)
  astropy/io/fits/hdu/compressed.py
  astropy/io/fits/hdu/table.py
  astropy/io/fits/tests/test_header.py
  docs/changes/io.fits/13102.bugfix.rst
Labels: io.fits, backport-v5.0.x

#13122 TST: Fix 32-bit job, minor workflow updates
  .github/workflows/ci_cron_daily.yml
  .github/workflows/ci_cron_weekly.yml
  .github/workflows/ci_workflows.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/open_actions.yml
  .github/workflows/update_iers.yml
Labels: testing, no-changelog-entry-needed, Extra CI, backport-v5.0.x

#12051 Adding TRF fitter to astropy modeling
  astropy/modeling/fitting.py
  astropy/modeling/tests/test_constraints.py
  astropy/modeling/tests/test_fitters.py
  astropy/modeling/tests/test_functional_models.py
  astropy/modeling/tests/test_input.py
  astropy/modeling/tests/test_mappings.py
  astropy/modeling/tests/test_models.py
  astropy/modeling/tests/test_models_quantities.py
  astropy/modeling/tests/test_physical_models.py
  astropy/modeling/tests/test_polynomial.py
  astropy/modeling/tests/test_quantities_fitting.py
  docs/changes/modeling/12051.feature.rst
  docs/modeling/fitting.rst
  docs/whatsnew/5.1.rst
Labels: modeling, whatsnew-needed, Extra CI

#13138 Fix mistakes in docs related to HDF5 I/O
  astropy/io/misc/hdf5.py
  docs/io/unified.rst
Labels: Docs, io.misc, unified-io, no-changelog-entry-needed, backport-v5.0.x

#13139 Backport PR #13138 on branch v5.0.x (Fix mistakes in docs related to HDF5 I/O)
  astropy/io/misc/hdf5.py
  docs/io/unified.rst
Labels: Docs, io.misc, unified-io, no-changelog-entry-needed, backport-v5.0.x

#13140 Fix for broken warning import
  astropy/modeling/core.py
Labels: Bug, modeling, no-changelog-entry-needed, backport-v5.0.x

#13141 Backport PR #13140 on branch v5.0.x (Fix for broken warning import)
  astropy/modeling/core.py
Labels: Bug, modeling, no-changelog-entry-needed, backport-v5.0.x

#13143 TST: Bump codecov-action to v3
  .github/workflows/ci_workflows.yml
Labels: testing, no-changelog-entry-needed, backport-v5.0.x

#13144 Backport PR #13143 on branch v5.0.x (TST: Bump codecov-action to v3)
  .github/workflows/ci_workflows.yml
Labels: testing, no-changelog-entry-needed, backport-v5.0.x

#13142 TST: Manual backport of PR 13122 (Fix 32-bit job, minor workflow updates)
  .github/workflows/ci_cron_daily.yml
  .github/workflows/ci_cron_weekly.yml
  .github/workflows/ci_workflows.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/open_actions.yml
Labels: testing, no-changelog-entry-needed, Manual Backport, skip-basebranch-check

#12891 Added `where` kwarg to `astropy.units.Quantity`'s reduction-like methods
  astropy/units/quantity.py
  astropy/units/tests/test_quantity_array_methods.py
  astropy/utils/masked/core.py
  astropy/utils/masked/tests/test_masked.py
  docs/changes/units/12891.feature.rst
  docs/changes/utils/12891.feature.rst
Labels: units, merge-when-ci-passes

#13132 Add __array_func__ and np.linspace support for astropy.time.Time
  astropy/time/core.py
  astropy/time/tests/test_basic.py
  astropy/time/time_helper/__init__.py
  astropy/time/time_helper/function_helpers.py
  docs/changes/time/13132.feature.rst
  docs/time/index.rst
Labels: time, Enhancement, Extra CI

#13137 flake8 modeling
  astropy/modeling/__init__.py
  astropy/modeling/bounding_box.py
  astropy/modeling/convolution.py
  astropy/modeling/core.py
  astropy/modeling/fitting.py
  astropy/modeling/functional_models.py
  astropy/modeling/mappings.py
  astropy/modeling/math_functions.py
  astropy/modeling/models.py
  astropy/modeling/physical_models.py
  astropy/modeling/polynomial.py
  astropy/modeling/powerlaws.py
  astropy/modeling/projections.py
  astropy/modeling/rotations.py
  astropy/modeling/statistic.py
  astropy/modeling/tabular.py
  astropy/modeling/tests/irafutil.py
  astropy/modeling/tests/test_bounding_box.py
  astropy/modeling/tests/test_compound.py
  astropy/modeling/tests/test_constraints.py
  astropy/modeling/tests/test_convolution.py
  astropy/modeling/tests/test_core.py
  astropy/modeling/tests/test_fitters.py
  astropy/modeling/tests/test_functional_models.py
  astropy/modeling/tests/test_input.py
  astropy/modeling/tests/test_mappings.py
  astropy/modeling/tests/test_model_sets.py
  astropy/modeling/tests/test_models.py
  astropy/modeling/tests/test_models_quantities.py
  astropy/modeling/tests/test_parameters.py
  astropy/modeling/tests/test_physical_models.py
  astropy/modeling/tests/test_polynomial.py
  astropy/modeling/tests/test_projections.py
  astropy/modeling/tests/test_quantities_evaluation.py
  astropy/modeling/tests/test_quantities_fitting.py
  astropy/modeling/tests/test_quantities_model.py
  astropy/modeling/tests/test_quantities_parameters.py
  astropy/modeling/tests/test_rotations.py
  astropy/modeling/tests/test_separable.py
  astropy/modeling/tests/test_spline.py
  astropy/modeling/tests/test_statistics.py
  astropy/modeling/utils.py
Labels: modeling, no-changelog-entry-needed

#13072 deprecate Cosmology Parameter “fmt”
  astropy/cosmology/core.py
  astropy/cosmology/flrw/tests/test_base.py
  astropy/cosmology/io/tests/test_table.py
  astropy/cosmology/io/utils.py
  astropy/cosmology/parameter.py
  astropy/cosmology/tests/test_core.py
  astropy/cosmology/tests/test_parameter.py
  docs/changes/cosmology/13072.api.rst
Labels: cosmology, API change

#13146 Switch modeling over to using f-strings
  astropy/modeling/core.py
  astropy/modeling/fitting.py
  astropy/modeling/functional_models.py
  astropy/modeling/mappings.py
  astropy/modeling/parameters.py
  astropy/modeling/polynomial.py
  astropy/modeling/projections.py
  astropy/modeling/rotations.py
  astropy/modeling/separable.py
  astropy/modeling/statistic.py
  astropy/modeling/tabular.py
Labels: modeling, Refactoring, no-changelog-entry-needed

#13130 Support opening file paths given relative to home directory with tildes in io.ascii
  astropy/io/ascii/tests/test_read.py
  astropy/io/ascii/tests/test_write.py
  astropy/io/ascii/ui.py
  astropy/utils/data.py
  docs/changes/io.ascii/13130.feature.rst
Labels: io.ascii, utils, Enhancement

#12660 Misc docstring fixes for timeseries
  astropy/timeseries/periodograms/bls/core.py
  astropy/timeseries/periodograms/lombscargle/core.py
  astropy/timeseries/periodograms/lombscargle/implementations/scipy_impl.py
  astropy/timeseries/periodograms/lombscargle/implementations/utils.py
Labels: Docs, no-changelog-entry-needed, timeseries, backport-v5.0.x

#13148 Backport PR #12660 on branch v5.0.x (Misc docstring fixes for timeseries)
  astropy/timeseries/periodograms/bls/core.py
  astropy/timeseries/periodograms/lombscargle/core.py
  astropy/timeseries/periodograms/lombscargle/implementations/scipy_impl.py
  astropy/timeseries/periodograms/lombscargle/implementations/utils.py
Labels: Docs, no-changelog-entry-needed, timeseries, backport-v5.0.x

#12842 Ensure all time formats can be serialized to ECSV, FITS, HDF5
  astropy/io/ascii/tests/test_ecsv.py
  astropy/time/core.py
  astropy/time/formats.py
  astropy/time/tests/test_basic.py
  docs/changes/io.ascii/12842.bugfix.rst
  docs/changes/table/12842.bugfix.rst
  docs/changes/time/12842.bugfix.rst
Labels: time, Bug, backport-v5.0.x

#13052 Handle missing or stale IERS-A better
  astropy/utils/iers/iers.py
  astropy/utils/iers/tests/test_iers.py
  docs/changes/utils/13052.feature.rst
  docs/utils/data.rst
  docs/utils/iers.rst
  docs/whatsnew/5.1.rst
Labels: Enhancement, Refactoring, whatsnew-needed, utils.iers

#12628 Misc WCSAxes code cleanups
  astropy/visualization/wcsaxes/frame.py
  astropy/visualization/wcsaxes/ticklabels.py
  astropy/visualization/wcsaxes/ticks.py
Labels: Refactoring, no-changelog-entry-needed, visualization.wcsaxes

#13125 Minor updates to units documentation
  docs/units/format.rst
Labels: Docs, units, no-changelog-entry-needed, backport-v5.0.x

#13151 Backport PR #13125 on branch v5.0.x (Minor updates to units documentation)
  docs/units/format.rst
Labels: Docs, units, no-changelog-entry-needed, backport-v5.0.x

#13116 Add Schechter1D model
  astropy/modeling/powerlaws.py
  astropy/modeling/tests/example_models.py
  docs/changes/modeling/13116.feature.rst
  docs/modeling/index.rst
  docs/modeling/polynomial_models.rst
  docs/modeling/powerlaw_models.rst
  docs/whatsnew/5.1.rst
Labels: modeling, whatsnew-needed

#12541 Allow any remotely available JPL ephemeris version
  astropy/coordinates/solar_system.py
  astropy/coordinates/tests/test_solar_system.py
  docs/changes/coordinates/12541.feature.rst
Labels: coordinates, merge-when-ci-passes

#12721 Improve creating registry keys from observatory names listed in JSON
  astropy/coordinates/sites.py
  astropy/coordinates/tests/test_sites.py
  docs/changes/coordinates/12721.bugfix.rst
  docs/coordinates/index.rst
Labels: Bug, coordinates, Refactoring

#13046 "n_bootstraps" to docstring of false_alarm_level
  astropy/timeseries/periodograms/lombscargle/core.py
Labels: Docs, no-changelog-entry-needed, timeseries, backport-v5.0.x

#13156 Backport PR #13046 on branch v5.0.x ("n_bootstraps" to docstring of false_alarm_level)
  astropy/timeseries/periodograms/lombscargle/core.py
Labels: Docs, no-changelog-entry-needed, timeseries, backport-v5.0.x

#12057 Add conversion between uncertainty types
  astropy/nddata/nduncertainty.py
  astropy/nddata/tests/test_nduncertainty.py
  docs/changes/nddata/12057.feature.rst
  docs/nddata/nddata.rst
  docs/whatsnew/5.1.rst
Labels: nddata, whatsnew-needed

#13161 Limit tilde-path expansion in io.ascii to io.ascii itself
  astropy/io/ascii/ui.py
  astropy/utils/data.py
Labels: io.ascii, utils, Affects-dev, no-changelog-entry-needed

#13157 MNT: Update license year
  LICENSE.rst
Labels: Docs, no-changelog-entry-needed, backport-v5.0.x

#13165 Backport PR #13157 on branch v5.0.x (MNT: Update license year)
  LICENSE.rst
Labels: Docs, no-changelog-entry-needed, backport-v5.0.x

#13164 Backport PR #13033 on branch v5.0.x (Clearer timeseries required column exception msg )
  astropy/timeseries/core.py
  astropy/timeseries/tests/test_sampled.py
Labels: Bug, no-changelog-entry-needed, timeseries, backport-v5.0.x

#13051 Add "Version " at beginning of sections in Changelog to enable fixed anchor tags
  CHANGES.rst
  pyproject.toml
Labels: Docs, no-changelog-entry-needed, backport-v5.0.x

#13166 Backport PR #13051 on branch v5.0.x (Add "Version " at beginning of sections in Changelog to enable fixed anchor tags)
  CHANGES.rst
  pyproject.toml
Labels: Docs, no-changelog-entry-needed, backport-v5.0.x

#13163 add note about the de440s case
  docs/coordinates/solarsystem.rst
Labels: Docs, coordinates, no-changelog-entry-needed, merge-when-ci-passes

#12825 Support mixin columns for group aggregation operations
  astropy/table/column.py
  astropy/table/groups.py
  astropy/table/tests/conftest.py
  astropy/table/tests/test_groups.py
  astropy/utils/data_info.py
  docs/changes/table/12825.feature.rst
  docs/table/mixin_columns.rst
  docs/table/operations.rst
Labels: testing, table, utils, Enhancement

#13129 Support opening file paths given relative to home directory with tildes in table module
  astropy/io/misc/tests/test_hdf5.py
  astropy/io/registry/core.py
  astropy/table/tests/test_table.py
  docs/changes/cosmology/13129.feature.rst
  docs/changes/io.registry/13129.feature.rst
  docs/changes/nddata/13129.feature.rst
  docs/changes/table/13129.feature.rst
  docs/io/unified.rst
Labels: table, io.misc, Enhancement

#12544 Fix use of memmap with Table.read and add option to deactivate the masking of invalid values
  astropy/io/fits/connect.py
  astropy/io/fits/tests/test_connect.py
  docs/changes/io.fits/12544.bugfix.rst
  docs/io/unified.rst
Labels: io.fits, Bug, backport-v5.0.x

#13135 Document Column's data and value attributes
  astropy/table/column.py
Labels: table, Docs, no-changelog-entry-needed, backport-v5.0.x

#13167 Backport PR #13135 on branch v5.0.x (Document Column's data and value attributes)
  astropy/table/column.py
Labels: table, Docs, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#12978 Bugfix: `Masked` arrays break `numpy.interp`
  astropy/utils/masked/function_helpers.py
  astropy/utils/masked/tests/test_function_helpers.py
  docs/changes/utils/12978.bugfix.rst
Labels: Bug, utils.masked, backport-v5.0.x, backport-v5.1.x

#13173 Backport PR #12978 on branch v5.0.x (Bugfix: `Masked` arrays break `numpy.interp`)
  astropy/utils/masked/function_helpers.py
  astropy/utils/masked/tests/test_function_helpers.py
  docs/changes/utils/12978.bugfix.rst
Labels: Bug, utils.masked, backport-v5.0.x, backport-v5.1.x

#13174 Backport PR #12978 on branch v5.1.x (Bugfix: `Masked` arrays break `numpy.interp`)
  astropy/utils/masked/function_helpers.py
  astropy/utils/masked/tests/test_function_helpers.py
  docs/changes/utils/12978.bugfix.rst
Labels: Bug, utils.masked, backport-v5.0.x, backport-v5.1.x

#13162 Deprecate dms_to_degrees
  astropy/coordinates/angle_formats.py
  astropy/coordinates/angles.py
  astropy/coordinates/tests/test_angles.py
  astropy/coordinates/tests/test_arrays.py
  docs/changes/coordinates/13162.api.rst
  docs/coordinates/angles.rst
Labels: coordinates, API change, backport-v5.1.x

#13178 Backport PR #13162 on branch v5.1.x (Deprecate dms_to_degrees)
  astropy/coordinates/angle_formats.py
  astropy/coordinates/angles.py
  astropy/coordinates/tests/test_angles.py
  astropy/coordinates/tests/test_arrays.py
  docs/changes/coordinates/13162.api.rst
  docs/coordinates/angles.rst
Labels: coordinates, API change, backport-v5.1.x

#13185 Backport PR #13145 on branch v5.0.x (TST: Use built-in cancelation for Actions)
  .github/workflows/cancel_workflows.yml
  .github/workflows/check_changelog.yml
  .github/workflows/ci_cron_daily.yml
  .github/workflows/ci_cron_weekly.yml
  .github/workflows/ci_workflows.yml
Labels: testing, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13184 Backport PR #13145 on branch v5.1.x (TST: Use built-in cancelation for Actions)
  .github/workflows/cancel_workflows.yml
  .github/workflows/check_changelog.yml
  .github/workflows/ci_cron_daily.yml
  .github/workflows/ci_cron_weekly.yml
  .github/workflows/ci_workflows.yml
Labels: testing, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13189 Backport PR #13188 on branch v5.1.x (Update IERS Earth rotation and leap second tables)
  astropy/utils/iers/data/eopc04_IAU2000.62-now
Labels: no-changelog-entry-needed, utils.iers, backport-v5.0.x, backport-v5.1.x

#13183 Table index docs
  astropy/table/soco.py
  astropy/table/table.py
Labels: table, no-changelog-entry-needed

#13190 Backport PR #13188 on branch v5.0.x (Update IERS Earth rotation and leap second tables)
  astropy/utils/iers/data/eopc04_IAU2000.62-now
Labels: no-changelog-entry-needed, utils.iers, backport-v5.0.x, backport-v5.1.x

#13187 Updated list of contributors and .mailmap file
  .mailmap
  docs/credits.rst
Labels: Docs, no-changelog-entry-needed
