Repository astropy/astropy, pull requests merged in 2022-09, with the labels that each got.

#13557 Fix translation of compressed keywords from primary hdu.
  astropy/io/fits/hdu/compressed.py
  astropy/io/fits/tests/test_header.py
  docs/changes/io.fits/13557.bugfix.rst
Labels: io.fits, Bug, backport-v5.0.x, backport-v5.1.x

#13595 Backport PR #13557 on branch v5.1.x (Fix translation of compressed keywords from primary hdu.)
  astropy/io/fits/hdu/compressed.py
  astropy/io/fits/tests/test_header.py
  docs/changes/io.fits/13557.bugfix.rst
Labels: io.fits, Bug, backport-v5.0.x, backport-v5.1.x

#13594 Backport PR #13557 on branch v5.0.x (Fix translation of compressed keywords from primary hdu.)
  astropy/io/fits/hdu/compressed.py
  astropy/io/fits/tests/test_header.py
  docs/changes/io.fits/13557.bugfix.rst
Labels: io.fits, Bug, backport-v5.0.x, backport-v5.1.x

#13579 Fix issues with world to pixel with `SlicedLowLevelWCS`
  astropy/wcs/wcsapi/wrappers/sliced_wcs.py
  astropy/wcs/wcsapi/wrappers/tests/test_sliced_wcs.py
  docs/changes/wcs/13579.bugfix.rst
Labels: Bug, wcs.wcsapi, backport-v5.0.x, backport-v5.1.x

#13602 Backport PR #13601 on branch v5.0.x (TST: Update actions/setup-python to v4)
  .github/workflows/ci_cron_daily.yml
  .github/workflows/ci_cron_weekly.yml
  .github/workflows/ci_workflows.yml
  .github/workflows/codeql-analysis.yml
Labels: testing, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13603 Backport PR #13601 on branch v5.1.x (TST: Update actions/setup-python to v4)
  .github/workflows/ci_cron_daily.yml
  .github/workflows/ci_cron_weekly.yml
  .github/workflows/ci_workflows.yml
  .github/workflows/codeql-analysis.yml
Labels: testing, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13588 Update citation file with Paper 3 information
  astropy/CITATION
Labels: Docs, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13599 Backport PR #13590 on branch v5.0.x (Update changelog template for towncrier 22.8.0)
  docs/changes/template.rst
  setup.cfg
Labels: installation, no-changelog-entry-needed

#13600 Backport PR #13590 on branch v5.1.x (Update changelog template for towncrier 22.8.0)
  docs/changes/template.rst
  setup.cfg
Labels: installation, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13598 Backport PR #13579 on branch v5.1.x ( Fix issues with world to pixel with `SlicedLowLevelWCS`)
  astropy/wcs/wcsapi/wrappers/sliced_wcs.py
  astropy/wcs/wcsapi/wrappers/tests/test_sliced_wcs.py
  docs/changes/wcs/13579.bugfix.rst
Labels: Bug, wcs.wcsapi, backport-v5.0.x, backport-v5.1.x

#13605 Backport PR #13588 on branch v5.1.x (Update citation file with Paper 3 information)
  astropy/CITATION
Labels: Docs, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13604 Backport PR #13588 on branch v5.0.x (Update citation file with Paper 3 information)
  astropy/CITATION
Labels: Docs, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13552 Update and document the pre-commit configuration.
  .pre-commit-config.yaml
  README.rst
  docs/development/codeguide.rst
  docs/development/testguide.rst
  docs/development/workflow/development_workflow.rst
Labels: Docs, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13607 Backport PR #13592 on branch v5.1.x (Update IERS Earth rotation and leap second tables)
  astropy/utils/iers/data/eopc04_IAU2000.62-now
Labels: no-changelog-entry-needed, utils.iers, backport-v5.0.x, backport-v5.1.x

#13609 Backport PR #13552 on branch v5.1.x (Update and document the pre-commit configuration.)
  .pre-commit-config.yaml
  README.rst
  docs/development/codeguide.rst
  docs/development/testguide.rst
  docs/development/workflow/development_workflow.rst
Labels: Docs, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13469 Fix 12229 (Can't convert a list of Astropy tables to a NumPy array of tables)
  astropy/table/table.py
  astropy/table/tests/test_table.py
  docs/changes/table/13469.feature.rst
  setup.cfg
Labels: table, merge-when-ci-passes

#13485 Add recording date of release to releasing documentation
  docs/development/releasing.rst
Labels: Docs, Release, no-changelog-entry-needed

#13572 Updated earth_orientation module to call ERFA functions
  astropy/coordinates/earth_orientation.py
  astropy/coordinates/tests/test_earth_orientation.py
  astropy/coordinates/tests/test_sky_coord.py
  docs/changes/coordinates/13572.bugfix.rst
Labels: coordinates

#13606 Backport PR #13592 on branch v5.0.x (Update IERS Earth rotation and leap second tables)
  astropy/utils/iers/data/eopc04_IAU2000.62-now
Labels: no-changelog-entry-needed, utils.iers, backport-v5.0.x, backport-v5.1.x

#13608 Backport PR #13552 on branch v5.0.x (Update and document the pre-commit configuration.)
  .pre-commit-config.yaml
  README.rst
  docs/development/codeguide.rst
  docs/development/testguide.rst
  docs/development/workflow/development_workflow.rst
Labels: Docs, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13568 Deprecate `coordinates.matrix_utilities.matrix_product()`
  astropy/coordinates/builtin_frames/ecliptic_transforms.py
  astropy/coordinates/builtin_frames/fk4_fk5_transforms.py
  astropy/coordinates/builtin_frames/galactic_transforms.py
  astropy/coordinates/builtin_frames/galactocentric.py
  astropy/coordinates/builtin_frames/icrs_fk5_transforms.py
  astropy/coordinates/builtin_frames/skyoffset.py
  astropy/coordinates/builtin_frames/supergalactic_transforms.py
  astropy/coordinates/earth_orientation.py
  astropy/coordinates/matrix_utilities.py
  astropy/coordinates/tests/test_matrix_utilities.py
  astropy/coordinates/transformations.py
  astropy/modeling/rotations.py
  astropy/visualization/wcsaxes/patches.py
  examples/coordinates/plot_sgr-coordinate-frame.py
Labels: Docs, coordinates, modeling, Refactoring, no-changelog-entry-needed, visualization.wcsaxes

#13562 Add `scatter_coord` method to `wcsaxes`
  astropy/tests/figures/py39-test-image-mpl311.json
  astropy/tests/figures/py39-test-image-mpldev.json
  astropy/visualization/wcsaxes/core.py
  astropy/visualization/wcsaxes/tests/test_images.py
  astropy/visualization/wcsaxes/tests/test_misc.py
  docs/changes/visualization/13562.feature.rst
Labels: visualization, visualization.wcsaxes

#13610 Backport PR #13596 on branch v5.1.x (Switch to using hash-based figure comparison)
  .circleci/config.yml
  astropy/tests/figures/py39-test-image-mpl311.json
  astropy/tests/figures/py39-test-image-mpldev.json
  astropy/tests/image_tests.py
  astropy/visualization/wcsaxes/tests/test_frame.py
  astropy/visualization/wcsaxes/tests/test_images.py
  astropy/visualization/wcsaxes/tests/test_transform_coord_meta.py
  astropy/visualization/wcsaxes/tests/test_wcsapi.py
  docs/development/testguide.rst
  pyproject.toml
  setup.cfg
  tox.ini
Labels: testing, Docs, no-changelog-entry-needed, visualization.wcsaxes, backport-v5.0.x, backport-v5.1.x

#13611 Backport PR #13596 on branch v5.0.x (Switch to using hash-based figure comparison)
  .circleci/config.yml
  astropy/tests/figures/py39-test-image-mpl311.json
  astropy/tests/figures/py39-test-image-mpldev.json
  astropy/tests/image_tests.py
  astropy/visualization/wcsaxes/tests/test_frame.py
  astropy/visualization/wcsaxes/tests/test_images.py
  astropy/visualization/wcsaxes/tests/test_transform_coord_meta.py
  astropy/visualization/wcsaxes/tests/test_wcsapi.py
  docs/development/testguide.rst
  pyproject.toml
  setup.cfg
  tox.ini
Labels: testing, Docs, no-changelog-entry-needed, visualization.wcsaxes, backport-v5.0.x, backport-v5.1.x

#13553 Document the pre-commit.ci bot
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci_workflows.yml
  docs/development/workflow/maintainer_workflow.rst
Labels: testing, Docs, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#12630 Calculate WCSAxes TickLabel pixel coords at draw time
  astropy/tests/figures/py39-test-image-mpl311.json
  astropy/tests/figures/py39-test-image-mpldev.json
  astropy/visualization/wcsaxes/coordinate_helpers.py
  astropy/visualization/wcsaxes/tests/test_frame.py
  astropy/visualization/wcsaxes/tests/test_images.py
  astropy/visualization/wcsaxes/tests/test_transform_coord_meta.py
  astropy/visualization/wcsaxes/tests/test_wcsapi.py
  astropy/visualization/wcsaxes/ticklabels.py
  docs/changes/wcs/12630.api.rst
  docs/changes/wcs/12630.bugfix.rst
  tox.ini
Labels: Bug, Refactoring, visualization.wcsaxes, backport-v5.0.x, backport-v5.1.x

#13615 Backport PR #12630 on branch v5.1.x (Calculate WCSAxes TickLabel pixel coords at draw time)
  astropy/tests/figures/py39-test-image-mpl311.json
  astropy/tests/figures/py39-test-image-mpldev.json
  astropy/visualization/wcsaxes/coordinate_helpers.py
  astropy/visualization/wcsaxes/tests/test_frame.py
  astropy/visualization/wcsaxes/tests/test_images.py
  astropy/visualization/wcsaxes/tests/test_transform_coord_meta.py
  astropy/visualization/wcsaxes/tests/test_wcsapi.py
  astropy/visualization/wcsaxes/ticklabels.py
  docs/changes/wcs/12630.api.rst
  docs/changes/wcs/12630.bugfix.rst
  tox.ini
Labels: Bug, Refactoring, visualization.wcsaxes, Still Needs Manual Backport, backport-v5.0.x, backport-v5.1.x

#13616 Backport PR #12630 on branch v5.0.x (Calculate WCSAxes TickLabel pixel coords at draw time)
  astropy/tests/figures/py39-test-image-mpl311.json
  astropy/tests/figures/py39-test-image-mpldev.json
  astropy/visualization/wcsaxes/coordinate_helpers.py
  astropy/visualization/wcsaxes/tests/test_frame.py
  astropy/visualization/wcsaxes/tests/test_images.py
  astropy/visualization/wcsaxes/tests/test_transform_coord_meta.py
  astropy/visualization/wcsaxes/tests/test_wcsapi.py
  astropy/visualization/wcsaxes/ticklabels.py
  docs/changes/wcs/12630.api.rst
  docs/changes/wcs/12630.bugfix.rst
  tox.ini
Labels: testing, wcs, visualization.wcsaxes, skip-changelog-checks, skip-basebranch-check, backport-v5.0.x

#12418 Fix tight_layout for WCSAxes
  astropy/tests/figures/py39-test-image-mpl311.json
  astropy/tests/figures/py39-test-image-mpldev.json
  astropy/visualization/wcsaxes/core.py
  astropy/visualization/wcsaxes/tests/test_images.py
  docs/changes/visualization/12418.bugfix.rst
Labels: Bug, Close?, visualization.wcsaxes, backport-v5.0.x, backport-v5.1.x

#13620 Backport PR #12418 on branch v5.1.x (Fix tight_layout for WCSAxes)
  astropy/tests/figures/py39-test-image-mpl311.json
  astropy/tests/figures/py39-test-image-mpldev.json
  astropy/visualization/wcsaxes/core.py
  astropy/visualization/wcsaxes/tests/test_images.py
  docs/changes/visualization/12418.bugfix.rst
Labels: Bug, Close?, visualization.wcsaxes, backport-v5.0.x, backport-v5.1.x

#13619 Backport PR #12418 on branch v5.0.x (Fix tight_layout for WCSAxes)
  astropy/tests/figures/py39-test-image-mpl311.json
  astropy/tests/figures/py39-test-image-mpldev.json
  astropy/visualization/wcsaxes/core.py
  astropy/visualization/wcsaxes/tests/test_images.py
  docs/changes/visualization/12418.bugfix.rst
Labels: Bug, Close?, visualization.wcsaxes, backport-v5.0.x, backport-v5.1.x

#13623 Create common wrapper decorator for all figure tests, and avoid embedding Matplotlib version in PNGs
  astropy/tests/figures/__init__.py
  astropy/tests/figures/helpers.py
  astropy/tests/figures/py39-test-image-mpl311.json
  astropy/tests/figures/py39-test-image-mpldev.json
  astropy/visualization/wcsaxes/tests/test_frame.py
  astropy/visualization/wcsaxes/tests/test_images.py
  astropy/visualization/wcsaxes/tests/test_transform_coord_meta.py
  astropy/visualization/wcsaxes/tests/test_wcsapi.py
  docs/development/testguide.rst
Labels: testing, visualization.wcsaxes, skip-changelog-checks, backport-v5.0.x, backport-v5.1.x

#13622 Enable aarch64 wheels and turn off testing of aarch64 and musllinux wheels
  .github/workflows/publish.yml
  pyproject.toml
Labels: testing, installation, skip-changelog-checks, backport-v5.0.x, backport-v5.1.x, Build all wheels

#13625 Backport PR #13623 on branch v5.1.x (Create common wrapper decorator for all figure tests, and avoid embedding Matplotlib version in PNGs)
  astropy/tests/figures/__init__.py
  astropy/tests/figures/helpers.py
  astropy/tests/figures/py39-test-image-mpl311.json
  astropy/tests/figures/py39-test-image-mpldev.json
  astropy/visualization/wcsaxes/tests/test_frame.py
  astropy/visualization/wcsaxes/tests/test_images.py
  astropy/visualization/wcsaxes/tests/test_transform_coord_meta.py
  astropy/visualization/wcsaxes/tests/test_wcsapi.py
  docs/development/testguide.rst
Labels: testing, Docs, visualization.wcsaxes, skip-changelog-checks, skip-basebranch-check, backport-v5.1.x

#13624 Backport PR #13623 on branch v5.0.x (Create common wrapper decorator for all figure tests, and avoid embedding Matplotlib version in PNGs)
  astropy/tests/figures/__init__.py
  astropy/tests/figures/helpers.py
  astropy/tests/figures/py39-test-image-mpl311.json
  astropy/tests/figures/py39-test-image-mpldev.json
  astropy/visualization/wcsaxes/tests/test_frame.py
  astropy/visualization/wcsaxes/tests/test_images.py
  astropy/visualization/wcsaxes/tests/test_transform_coord_meta.py
  astropy/visualization/wcsaxes/tests/test_wcsapi.py
  docs/development/testguide.rst
Labels: testing, Docs, visualization.wcsaxes, skip-changelog-checks, skip-basebranch-check, backport-v5.0.x

#13626 Backport PR #13622 on branch v5.0.x (Enable aarch64 wheels and turn off testing of aarch64 and musllinux wheels)
  .github/workflows/publish.yml
  pyproject.toml
Labels: testing, installation, skip-changelog-checks, backport-v5.0.x, backport-v5.1.x, Build all wheels

#13627 Backport PR #13622 on branch v5.1.x (Enable aarch64 wheels and turn off testing of aarch64 and musllinux wheels)
  .github/workflows/publish.yml
  pyproject.toml
Labels: testing, installation, skip-changelog-checks, backport-v5.0.x, backport-v5.1.x, Build all wheels

#13434 TST: Undo skipping test_wcsapi_extension in publish workflow
  .github/workflows/publish.yml
Labels: testing, no-changelog-entry-needed, Build all wheels

#13628 Bugfix for Error when fitting zero-degree polynomial #13617
  astropy/modeling/fitting.py
  astropy/modeling/tests/test_fitters.py
  docs/changes/modeling/13628.bugfix.rst
Labels: Bug, modeling, backport-v5.0.x, backport-v5.1.x

#13629 Colorize pytest
  setup.cfg
Labels: testing, installation, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13633 Backport PR #13629 on branch v5.0.x (Colorize pytest)
  setup.cfg
Labels: testing, no-changelog-entry-needed, Manual Backport, skip-basebranch-check

#13630 Backport PR #13629 on branch v5.1.x (Colorize pytest)
  setup.cfg
Labels: testing, installation, no-changelog-entry-needed, Still Needs Manual Backport, backport-v5.0.x, backport-v5.1.x

#13631 Backport PR #13628 on branch v5.0.x (Bugfix for Error when fitting zero-degree polynomial #13617)
  astropy/modeling/fitting.py
  astropy/modeling/tests/test_fitters.py
  docs/changes/modeling/13628.bugfix.rst
Labels: modeling, no-changelog-entry-needed, Manual Backport, skip-basebranch-check

#13632 Backport PR #13628 on branch v5.1.x (Bugfix for Error when fitting zero-degree polynomial #13617)
  astropy/modeling/fitting.py
  astropy/modeling/tests/test_fitters.py
  docs/changes/modeling/13628.bugfix.rst
Labels: modeling, no-changelog-entry-needed, Manual Backport, skip-basebranch-check

#13636 Remove / deprecate outdated code in `utils.compat`
  astropy/coordinates/baseframe.py
  astropy/coordinates/sky_coordinate.py
  astropy/time/core.py
  astropy/units/quantity.py
  astropy/utils/compat/misc.py
  docs/changes/utils/13636.api.rst
Labels: time, units, coordinates, utils

#13170 Fixed chained error message in io.ascii's read() function
  astropy/io/ascii/ui.py
  docs/changes/io.ascii/13170.bugfix.rst
Labels: io.ascii, Bug

#13639 Fix Python 3.11 issue for pprint_include/exclude_names
  astropy/table/table.py
  docs/changes/table/13639.bugfix.rst
Labels: table, Bug, backport-v5.0.x, backport-v5.1.x, Python 3.11

#13642 Backport PR #13170 on branch v5.0.x (Fixed chained error message in io.ascii's read() function)
  astropy/io/ascii/ui.py
  docs/changes/io.ascii/13170.bugfix.rst
Labels: io.ascii, Bug, backport-v5.0.x, backport-v5.1.x

#13643 Backport PR #13170 on branch v5.1.x (Fixed chained error message in io.ascii's read() function)
  astropy/io/ascii/ui.py
  docs/changes/io.ascii/13170.bugfix.rst
Labels: io.ascii, Bug, backport-v5.0.x, backport-v5.1.x

#13647 Backport PR #13639 on branch v5.0.x (Fix Python 3.11 issue for pprint_include/exclude_names)
  astropy/table/table.py
  docs/changes/table/13639.bugfix.rst
Labels: table, Bug, backport-v5.0.x, backport-v5.1.x, Python 3.11

#13648 Backport PR #13639 on branch v5.1.x (Fix Python 3.11 issue for pprint_include/exclude_names)
  astropy/table/table.py
  docs/changes/table/13639.bugfix.rst
Labels: table, Bug, backport-v5.0.x, backport-v5.1.x, Python 3.11

#13652 Backport PR #13650 on branch v5.1.x ([pre-commit.ci] pre-commit autoupdate)
  .pre-commit-config.yaml
Labels: no-changelog-entry-needed, Manual Backport, skip-basebranch-check

#13653 Backport PR #13650 on branch v5.0.x ([pre-commit.ci] pre-commit autoupdate)
  .pre-commit-config.yaml
Labels: no-changelog-entry-needed, Manual Backport, skip-basebranch-check

#13651 MNT: Fix test compat with scipy 1.10.0
  astropy/io/fits/tests/test_image.py
  setup.cfg
  tox.ini
Labels: testing, io.fits, Ready-for-final-review, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13655 Backport PR #13651 on branch v5.1.x (MNT: Fix test compat with scipy 1.10.0)
  astropy/io/fits/tests/test_image.py
  setup.cfg
  tox.ini
Labels: testing, io.fits, Ready-for-final-review, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13654 Backport PR #13651 on branch v5.0.x (MNT: Fix test compat with scipy 1.10.0)
  astropy/io/fits/tests/test_image.py
  setup.cfg
  tox.ini
Labels: testing, io.fits, Ready-for-final-review, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13657 Remove unnecessary scipy imports
  astropy/io/fits/tests/test_image.py
Labels: testing, io.fits, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13614 MNT: Compatibility with Python 3.11
  .github/workflows/ci_workflows.yml
  astropy/cosmology/tests/test_core.py
  astropy/io/ascii/core.py
  astropy/tests/helper.py
  astropy/time/tests/test_mask.py
  astropy/utils/compat/misc.py
  docs/changes/13614.other.rst
  tox.ini
Labels: testing, merge-when-ci-passes, backport-v5.0.x, backport-v5.1.x, Python 3.11

#13661 remove private function `possible_filename`
  astropy/utils/compat/misc.py
  astropy/wcs/wcs.py
  docs/changes/utils/13661.api.rst
Labels: wcs, utils, Refactoring

#13665 Backport PR #13614 on branch v5.1.x (MNT: Compatibility with Python 3.11)
  .github/workflows/ci_workflows.yml
  astropy/cosmology/tests/test_core.py
  astropy/io/ascii/core.py
  astropy/tests/helper.py
  astropy/time/tests/test_mask.py
  astropy/utils/compat/misc.py
  docs/changes/13614.other.rst
  tox.ini
Labels: testing, time, io.ascii, cosmology, utils, Ready-for-final-review, skip-changelog-checks, skip-basebranch-check

#13672 TST: Relax float comp for test_biweight_midvariance_masked
  astropy/stats/tests/test_biweight.py
Labels: testing, stats, no-changelog-entry-needed, numpy-dev, backport-v5.0.x, backport-v5.1.x

#13674 Backport PR #13672 on branch v5.1.x (TST: Relax float comp for test_biweight_midvariance_masked)
  astropy/stats/tests/test_biweight.py
Labels: testing, stats, no-changelog-entry-needed, numpy-dev, backport-v5.0.x, backport-v5.1.x

#13673 Backport PR #13672 on branch v5.0.x (TST: Relax float comp for test_biweight_midvariance_masked)
  astropy/stats/tests/test_biweight.py
Labels: testing, stats, no-changelog-entry-needed, numpy-dev, backport-v5.0.x, backport-v5.1.x

#13664 Backport PR #13614 on branch v5.0.x (MNT: Compatibility with Python 3.11)
  .github/workflows/ci_workflows.yml
  astropy/cosmology/io/tests/test_model.py
  astropy/io/ascii/core.py
  astropy/tests/helper.py
  astropy/time/tests/test_mask.py
  astropy/utils/compat/misc.py
  docs/changes/13614.other.rst
  pyproject.toml
  tox.ini
Labels: testing, time, io.ascii, utils, skip-changelog-checks, skip-basebranch-check

#13675 BUG: Fix logic in generic_recursive_equality_test
  astropy/cosmology/io/tests/test_model.py
  astropy/tests/helper.py
Labels: testing, Bug, Ready-for-final-review, Affects-dev, no-changelog-entry-needed, backport-v5.1.x

#13668 BUG: WCS validation to pass HDUList
  astropy/wcs/tests/test_wcs.py
  astropy/wcs/wcs.py
  docs/changes/wcs/13668.bugfix.rst
Labels: wcs, Bug, backport-v5.0.x, backport-v5.1.x

#13677 Backport PR #13675 on branch v5.1.x (BUG: Fix logic in generic_recursive_equality_test)
  astropy/cosmology/io/tests/test_model.py
  astropy/tests/helper.py
Labels: testing, Bug, Ready-for-final-review, Affects-dev, no-changelog-entry-needed, backport-v5.1.x

#13679 Backport PR #13668 on branch v5.0.x (BUG: WCS validation to pass HDUList)
  astropy/wcs/tests/test_wcs.py
  astropy/wcs/wcs.py
  docs/changes/wcs/13668.bugfix.rst
Labels: wcs, Bug, backport-v5.0.x, backport-v5.1.x

#13680 Backport PR #13668 on branch v5.1.x (BUG: WCS validation to pass HDUList)
  astropy/wcs/tests/test_wcs.py
  astropy/wcs/wcs.py
  docs/changes/wcs/13668.bugfix.rst
Labels: wcs, Bug, backport-v5.0.x, backport-v5.1.x

#13681 Rename Read the Docs configuration file
  .readthedocs.yaml
Labels: Docs, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13683 Backport PR #13681 on branch v5.1.x (Rename Read the Docs configuration file)
  .readthedocs.yaml
Labels: Docs, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13682 Backport PR #13681 on branch v5.0.x (Rename Read the Docs configuration file)
  .readthedocs.yaml
Labels: Docs, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13684 isort logger
  astropy/logger.py
  pyproject.toml
Labels: installation, logging, no-changelog-entry-needed

#13687 isort table
  astropy/table/__init__.py
  astropy/table/_column_mixins.pyx
  astropy/table/_np_utils.pyx
  astropy/table/column.py
  astropy/table/groups.py
  astropy/table/index.py
  astropy/table/info.py
  astropy/table/jsviewer.py
  astropy/table/meta.py
  astropy/table/mixins/tests/test_dask.py
  astropy/table/mixins/tests/test_registry.py
  astropy/table/np_utils.py
  astropy/table/operations.py
  astropy/table/pprint.py
  astropy/table/scripts/showtable.py
  astropy/table/serialize.py
  astropy/table/setup_package.py
  astropy/table/soco.py
  astropy/table/table.py
  astropy/table/table_helpers.py
  astropy/table/tests/conftest.py
  astropy/table/tests/test_array.py
  astropy/table/tests/test_column.py
  astropy/table/tests/test_groups.py
  astropy/table/tests/test_index.py
  astropy/table/tests/test_info.py
  astropy/table/tests/test_init_table.py
  astropy/table/tests/test_item_access.py
  astropy/table/tests/test_jsviewer.py
  astropy/table/tests/test_masked.py
  astropy/table/tests/test_mixin.py
  astropy/table/tests/test_operations.py
  astropy/table/tests/test_pickle.py
  astropy/table/tests/test_pprint.py
  astropy/table/tests/test_row.py
  astropy/table/tests/test_table.py
  pyproject.toml
Labels: testing, table, installation, no-changelog-entry-needed

#13669 register `numpy.lib.recfunctions.merge_arrays` for Quantity overload
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/tests/test_quantity_non_ufuncs.py
  docs/changes/units/13669.feature.rst
Labels: units

#12732 Fix Time.insert() with out_fmt set
  astropy/time/core.py
  astropy/time/tests/test_basic.py
  docs/changes/time/12732.bugfix.rst
Labels: time, backport-v5.0.x, backport-v5.1.x

#13697 isort config
  astropy/config/__init__.py
  astropy/config/configuration.py
  astropy/config/paths.py
  astropy/config/tests/test_configs.py
  pyproject.toml
Labels: config, installation, no-changelog-entry-needed

#13706 Backport PR #12732 on branch v5.1.x (Fix Time.insert() with out_fmt set)
  astropy/time/core.py
  astropy/time/tests/test_basic.py
  docs/changes/time/12732.bugfix.rst
Labels: time, backport-v5.0.x, backport-v5.1.x

#13698 isort constants
  astropy/constants/tests/test_prior_version.py
  pyproject.toml
Labels: installation, constants, no-changelog-entry-needed, merge-when-ci-passes

#13710 isort stats
  astropy/stats/__init__.py
  astropy/stats/_stats.pyx
  astropy/stats/bayesian_blocks.py
  astropy/stats/bls/__init__.py
  astropy/stats/circstats.py
  astropy/stats/funcs.py
  astropy/stats/histogram.py
  astropy/stats/setup_package.py
  astropy/stats/sigma_clipping.py
  astropy/stats/spatial.py
  astropy/stats/tests/test_bayesian_blocks.py
  astropy/stats/tests/test_biweight.py
  astropy/stats/tests/test_circstats.py
  astropy/stats/tests/test_funcs.py
  astropy/stats/tests/test_histogram.py
  astropy/stats/tests/test_info_theory.py
  astropy/stats/tests/test_jackknife.py
  astropy/stats/tests/test_sigma_clipping.py
  astropy/stats/tests/test_spatial.py
  pyproject.toml
Labels: installation, stats, no-changelog-entry-needed

#13712 Fix for python 3.8 CI.
  astropy/timeseries/tests/test_sampled.py
  docs/timeseries/pandas.rst
  tox.ini
Labels: testing, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13713 Configure isort to use parentheses instead of line-continuation character
  astropy/stats/bls/__init__.py
  pyproject.toml
Labels: stats, no-changelog-entry-needed

#13696 Add top-level astropy stuff to isort
  pyproject.toml
  setup.py
Labels: installation, no-changelog-entry-needed, merge-when-ci-passes

#13716 Backport PR #13712 on branch v5.1.x (Fix for python 3.8 CI.)
  astropy/timeseries/tests/test_sampled.py
  docs/timeseries/pandas.rst
  tox.ini
Labels: testing, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13715 Backport PR #13712 on branch v5.0.x (Fix for python 3.8 CI.)
  astropy/timeseries/tests/test_sampled.py
  docs/timeseries/pandas.rst
  tox.ini
Labels: testing, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13719 isort samp
  astropy/samp/__init__.py
  astropy/samp/client.py
  astropy/samp/errors.py
  astropy/samp/hub.py
  astropy/samp/hub_proxy.py
  astropy/samp/hub_script.py
  astropy/samp/lockfile_helpers.py
  astropy/samp/standard_profile.py
  astropy/samp/tests/test_client.py
  astropy/samp/tests/test_errors.py
  astropy/samp/tests/test_helpers.py
  astropy/samp/tests/test_hub_proxy.py
  astropy/samp/tests/test_standard_profile.py
  astropy/samp/tests/test_web_profile.py
  astropy/samp/tests/web_profile_test_helpers.py
  astropy/samp/utils.py
  astropy/samp/web_profile.py
  pyproject.toml
Labels: installation, samp, no-changelog-entry-needed

#13701 Isort time
  astropy/time/__init__.py
  astropy/time/core.py
  astropy/time/formats.py
  astropy/time/setup_package.py
  astropy/time/tests/test_basic.py
  astropy/time/tests/test_comparisons.py
  astropy/time/tests/test_custom_formats.py
  astropy/time/tests/test_delta.py
  astropy/time/tests/test_fast_parser.py
  astropy/time/tests/test_functions.py
  astropy/time/tests/test_mask.py
  astropy/time/tests/test_methods.py
  astropy/time/tests/test_pickle.py
  astropy/time/tests/test_precision.py
  astropy/time/tests/test_quantity_interaction.py
  astropy/time/tests/test_sidereal.py
  astropy/time/tests/test_update_leap_seconds.py
  astropy/time/tests/test_ut1.py
  astropy/time/utils.py
  pyproject.toml
Labels: time, installation, no-changelog-entry-needed

#13699 isort convolution
  astropy/convolution/__init__.py
  astropy/convolution/setup_package.py
  astropy/convolution/tests/test_convolve.py
  astropy/convolution/tests/test_convolve_fft.py
  astropy/convolution/tests/test_convolve_kernels.py
  astropy/convolution/tests/test_convolve_models.py
  astropy/convolution/tests/test_convolve_nddata.py
  astropy/convolution/tests/test_discretize.py
  astropy/convolution/tests/test_kernel_class.py
  astropy/convolution/tests/test_pickle.py
  pyproject.toml
Labels: installation, convolution, no-changelog-entry-needed

#13723 isort file missed by #13700
  astropy/io/fits/setup_package.py
Labels: io.fits, no-changelog-entry-needed

#13721 isort tests
  astropy/tests/command.py
  astropy/tests/helper.py
  astropy/tests/runner.py
  astropy/tests/test_logger.py
  pyproject.toml
Labels: testing, installation, logging, no-changelog-entry-needed

#13726 isort uncertainty
  astropy/uncertainty/core.py
  astropy/uncertainty/distributions.py
  astropy/uncertainty/tests/test_distribution.py
  pyproject.toml
Labels: installation, no-changelog-entry-needed, uncertainty

#13695 isort nddata
  astropy/nddata/__init__.py
  astropy/nddata/bitmask.py
  astropy/nddata/ccddata.py
  astropy/nddata/compat.py
  astropy/nddata/decorators.py
  astropy/nddata/mixins/ndslicing.py
  astropy/nddata/mixins/tests/test_ndarithmetic.py
  astropy/nddata/mixins/tests/test_ndio.py
  astropy/nddata/mixins/tests/test_ndslicing.py
  astropy/nddata/nddata.py
  astropy/nddata/nddata_base.py
  astropy/nddata/nddata_withmixins.py
  astropy/nddata/nduncertainty.py
  astropy/nddata/tests/test_bitmask.py
  astropy/nddata/tests/test_blocks.py
  astropy/nddata/tests/test_ccddata.py
  astropy/nddata/tests/test_compat.py
  astropy/nddata/tests/test_decorators.py
  astropy/nddata/tests/test_flag_collection.py
  astropy/nddata/tests/test_nddata.py
  astropy/nddata/tests/test_nduncertainty.py
  astropy/nddata/tests/test_utils.py
  astropy/nddata/utils.py
  pyproject.toml
Labels: nddata, installation, no-changelog-entry-needed, merge-when-ci-passes

#13728 isort utils
  astropy/utils/argparse.py
  astropy/utils/codegen.py
  astropy/utils/compat/__init__.py
  astropy/utils/compat/misc.py
  astropy/utils/compat/numpycompat.py
  astropy/utils/console.py
  astropy/utils/data.py
  astropy/utils/data_info.py
  astropy/utils/decorators.py
  astropy/utils/diff.py
  astropy/utils/exceptions.py
  astropy/utils/iers/iers.py
  astropy/utils/iers/tests/test_iers.py
  astropy/utils/iers/tests/test_leap_second.py
  astropy/utils/introspection.py
  astropy/utils/masked/core.py
  astropy/utils/masked/function_helpers.py
  astropy/utils/masked/tests/test_containers.py
  astropy/utils/masked/tests/test_function_helpers.py
  astropy/utils/masked/tests/test_functions.py
  astropy/utils/masked/tests/test_masked.py
  astropy/utils/masked/tests/test_table.py
  astropy/utils/metadata.py
  astropy/utils/misc.py
  astropy/utils/parsing.py
  astropy/utils/setup_package.py
  astropy/utils/tests/test_console.py
  astropy/utils/tests/test_data.py
  astropy/utils/tests/test_data_info.py
  astropy/utils/tests/test_decorators.py
  astropy/utils/tests/test_diff.py
  astropy/utils/tests/test_introspection.py
  astropy/utils/tests/test_metadata.py
  astropy/utils/tests/test_misc.py
  astropy/utils/tests/test_parsing.py
  astropy/utils/tests/test_shapes.py
  astropy/utils/tests/test_xml.py
  astropy/utils/xml/iterparser.py
  astropy/utils/xml/setup_package.py
  astropy/utils/xml/tests/test_iterparse.py
  astropy/utils/xml/unescaper.py
  pyproject.toml
Labels: utils, installation, no-changelog-entry-needed, merge-when-ci-passes, utils.iers, utils.masked

#13676 structured unit / quantity stuff
  astropy/units/quantity.py
  astropy/units/structured.py
  astropy/units/tests/test_structured.py
  docs/changes/units/13676.api.rst
Labels: units, merge-when-ci-passes

#13731 Fix bug in time parsing of fractional digits in date string
  astropy/time/formats.py
  astropy/time/tests/test_basic.py
  docs/changes/time/13731.bugfix.rst
Labels: time, Bug, backport-v5.0.x, backport-v5.1.x

#13703 Add checks to pre-commit
  .pre-commit-config.yaml
  docs/development/workflow/git_edit_workflow_examples.rst
  docs/io/misc.rst
Labels: Docs, io.misc, no-changelog-entry-needed

#13738 Fix flake8 issues for modeling
  astropy/modeling/core.py
  astropy/modeling/fitting.py
  astropy/modeling/tests/test_fitters.py
  astropy/modeling/tests/test_models.py
  astropy/modeling/tests/test_physical_models.py
Labels: modeling, no-changelog-entry-needed

#13739 Flake8 fixes for astropy.io.misc.asdf
  astropy/io/misc/asdf/connect.py
  astropy/io/misc/asdf/deprecation.py
  astropy/io/misc/asdf/extension.py
  astropy/io/misc/asdf/tags/coordinates/frames.py
  astropy/io/misc/asdf/tags/coordinates/tests/test_angle.py
  astropy/io/misc/asdf/tags/coordinates/tests/test_earthlocation.py
  astropy/io/misc/asdf/tags/coordinates/tests/test_frames.py
  astropy/io/misc/asdf/tags/coordinates/tests/test_representation.py
  astropy/io/misc/asdf/tags/coordinates/tests/test_skycoord.py
  astropy/io/misc/asdf/tags/coordinates/tests/test_spectralcoord.py
  astropy/io/misc/asdf/tags/fits/tests/test_fits.py
  astropy/io/misc/asdf/tags/table/tests/test_table.py
  astropy/io/misc/asdf/tags/tests/helpers.py
  astropy/io/misc/asdf/tags/time/tests/test_time.py
  astropy/io/misc/asdf/tags/time/tests/test_timedelta.py
  astropy/io/misc/asdf/tags/time/time.py
  astropy/io/misc/asdf/tags/transform/compound.py
  astropy/io/misc/asdf/tags/transform/math.py
  astropy/io/misc/asdf/tags/transform/tabular.py
  astropy/io/misc/asdf/tags/transform/tests/test_transform.py
  astropy/io/misc/asdf/tags/transform/tests/test_units_mapping.py
  astropy/io/misc/asdf/tags/unit/equivalency.py
  astropy/io/misc/asdf/tags/unit/tests/test_equivalency.py
  astropy/io/misc/asdf/tags/unit/tests/test_quantity.py
  astropy/io/misc/asdf/tags/unit/tests/test_unit.py
  astropy/io/misc/asdf/tests/test_io.py
Labels: table, time, coordinates, no-changelog-entry-needed, merge-when-ci-passes, io.misc.asdf

#13740 Flake8 fixes for astropy.cosmology
  astropy/cosmology/core.py
  astropy/cosmology/flrw/base.py
  astropy/cosmology/funcs/__init__.py
  astropy/cosmology/funcs/comparison.py
  astropy/cosmology/funcs/tests/test_comparison.py
  astropy/cosmology/tests/test_core.py
Labels: cosmology, no-changelog-entry-needed, merge-when-ci-passes

#13741 Flake8 fixes for astropy.constants
  astropy/constants/codata2010.py
  astropy/constants/codata2014.py
  astropy/constants/codata2018.py
  astropy/constants/constant.py
Labels: constants, no-changelog-entry-needed, merge-when-ci-passes

#13734 Support fixed width ASCII table with header rows for dtype, unit, format, description
  astropy/io/ascii/fixedwidth.py
  astropy/io/ascii/tests/test_fixedwidth.py
  docs/changes/io.ascii/13734.feature.rst
  docs/io/ascii/fixed_width_gallery.rst
  docs/whatsnew/5.2.rst
Labels: Feature Request, io.ascii, whatsnew-needed

#13742 Flake8 fixes for astropy.convolution
  astropy/convolution/__init__.py
  astropy/convolution/convolve.py
  astropy/convolution/tests/test_convolve.py
  astropy/convolution/tests/test_convolve_fft.py
  astropy/convolution/tests/test_convolve_kernels.py
  astropy/convolution/tests/test_convolve_models.py
  astropy/convolution/tests/test_convolve_nddata.py
  astropy/convolution/tests/test_convolve_speeds.py
  astropy/convolution/tests/test_discretize.py
  astropy/convolution/tests/test_kernel_class.py
  astropy/convolution/tests/test_pickle.py
  astropy/convolution/utils.py
Labels: convolution, no-changelog-entry-needed

#13656 DOC: Add back wcslint section
  docs/wcs/index.rst
  docs/wcs/validation.rst
Labels: wcs, Docs, Ready-for-final-review, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13725 isort visualization
  astropy/visualization/__init__.py
  astropy/visualization/interval.py
  astropy/visualization/lupton_rgb.py
  astropy/visualization/mpl_normalize.py
  astropy/visualization/scripts/fits2bitmap.py
  astropy/visualization/scripts/tests/test_fits2bitmap.py
  astropy/visualization/stretch.py
  astropy/visualization/tests/test_histogram.py
  astropy/visualization/tests/test_interval.py
  astropy/visualization/tests/test_lupton_rgb.py
  astropy/visualization/tests/test_norm.py
  astropy/visualization/tests/test_stretch.py
  astropy/visualization/tests/test_time.py
  astropy/visualization/tests/test_units.py
  astropy/visualization/time.py
  astropy/visualization/units.py
  astropy/visualization/wcsaxes/__init__.py
  astropy/visualization/wcsaxes/axislabels.py
  astropy/visualization/wcsaxes/coordinate_helpers.py
  astropy/visualization/wcsaxes/coordinates_map.py
  astropy/visualization/wcsaxes/core.py
  astropy/visualization/wcsaxes/formatter_locator.py
  astropy/visualization/wcsaxes/frame.py
  astropy/visualization/wcsaxes/grid_paths.py
  astropy/visualization/wcsaxes/patches.py
  astropy/visualization/wcsaxes/tests/test_coordinate_helpers.py
  astropy/visualization/wcsaxes/tests/test_display_world_coordinates.py
  astropy/visualization/wcsaxes/tests/test_formatter_locator.py
  astropy/visualization/wcsaxes/tests/test_frame.py
  astropy/visualization/wcsaxes/tests/test_images.py
  astropy/visualization/wcsaxes/tests/test_misc.py
  astropy/visualization/wcsaxes/tests/test_transform_coord_meta.py
  astropy/visualization/wcsaxes/tests/test_utils.py
  astropy/visualization/wcsaxes/tests/test_wcsapi.py
  astropy/visualization/wcsaxes/ticklabels.py
  astropy/visualization/wcsaxes/ticks.py
  astropy/visualization/wcsaxes/transforms.py
  astropy/visualization/wcsaxes/wcsapi.py
  pyproject.toml
Labels: installation, visualization, no-changelog-entry-needed, visualization.wcsaxes

#13753 Remove PCOUNT GCOUNT from decompressed primary headers.
  astropy/io/fits/hdu/compressed.py
  astropy/io/fits/tests/test_header.py
  docs/changes/io.fits/13753.bugfix.rst
Labels: io.fits, backport-v5.0.x, backport-v5.1.x

#13755 Backport PR #13656 on branch v5.0.x (DOC: Add back wcslint section)
  docs/wcs/index.rst
  docs/wcs/validation.rst
Labels: wcs, Docs, Ready-for-final-review, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13756 Backport PR #13656 on branch v5.1.x (DOC: Add back wcslint section)
  docs/wcs/index.rst
  docs/wcs/validation.rst
Labels: wcs, Docs, Ready-for-final-review, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13758 Backport PR #13753 on branch v5.1.x (Remove PCOUNT GCOUNT from decompressed primary headers.)
  astropy/io/fits/hdu/compressed.py
  astropy/io/fits/tests/test_header.py
  docs/changes/io.fits/13753.bugfix.rst
Labels: io.fits, backport-v5.0.x, backport-v5.1.x

#13757 Backport PR #13753 on branch v5.0.x (Remove PCOUNT GCOUNT from decompressed primary headers.)
  astropy/io/fits/hdu/compressed.py
  astropy/io/fits/tests/test_header.py
  docs/changes/io.fits/13753.bugfix.rst
Labels: io.fits, backport-v5.0.x, backport-v5.1.x

#13752 Add pre-commit-config.yaml codeowners
  .github/CODEOWNERS
Labels: no-changelog-entry-needed

#13747 Use `np.random.default_rng()` in code examples
  docs/convolution/index.rst
  docs/convolution/kernels.rst
  docs/convolution/non_normalized_kernels.rst
  docs/coordinates/performance.inc.rst
  docs/coordinates/skycoord.rst
  docs/modeling/compound-models.rst
  docs/modeling/example-fitting-constraints.rst
  docs/modeling/example-fitting-line.rst
  docs/modeling/example-fitting-model-sets.rst
  docs/modeling/fitting.rst
  docs/modeling/index.rst
  docs/modeling/jointfitter.rst
  docs/modeling/models.rst
  docs/modeling/new-model.rst
  docs/modeling/spline_models.rst
  docs/nddata/ccddata.rst
  docs/nddata/index.rst
  docs/stats/ripley.rst
  docs/stats/robust.rst
  docs/timeseries/bls.rst
  docs/uncertainty/index.rst
  docs/units/performance.inc.rst
  docs/visualization/normalization.rst
  docs/visualization/rgb.rst
Labels: Docs, nddata, units, coordinates, modeling, stats, convolution, visualization, no-changelog-entry-needed, uncertainty, timeseries, backport-v5.0.x, backport-v5.1.x

#13759 Backport PR #13747 on branch v5.1.x (Use `np.random.default_rng()` in code examples)
  docs/convolution/index.rst
  docs/convolution/kernels.rst
  docs/convolution/non_normalized_kernels.rst
  docs/coordinates/performance.inc.rst
  docs/coordinates/skycoord.rst
  docs/modeling/compound-models.rst
  docs/modeling/example-fitting-constraints.rst
  docs/modeling/example-fitting-line.rst
  docs/modeling/example-fitting-model-sets.rst
  docs/modeling/fitting.rst
  docs/modeling/index.rst
  docs/modeling/jointfitter.rst
  docs/modeling/models.rst
  docs/modeling/new-model.rst
  docs/modeling/spline_models.rst
  docs/nddata/ccddata.rst
  docs/nddata/index.rst
  docs/stats/ripley.rst
  docs/stats/robust.rst
  docs/timeseries/bls.rst
  docs/uncertainty/index.rst
  docs/units/performance.inc.rst
  docs/visualization/normalization.rst
  docs/visualization/rgb.rst
Labels: Docs, nddata, units, coordinates, modeling, stats, convolution, visualization, no-changelog-entry-needed, uncertainty, timeseries, Still Needs Manual Backport, backport-v5.0.x, backport-v5.1.x

#13761 Backport PR #13747 on branch v5.0.x (Use np.random.default_rng() in code examples)
  docs/convolution/index.rst
  docs/convolution/kernels.rst
  docs/convolution/non_normalized_kernels.rst
  docs/coordinates/performance.inc.rst
  docs/coordinates/skycoord.rst
  docs/modeling/compound-models.rst
  docs/modeling/example-fitting-constraints.rst
  docs/modeling/example-fitting-line.rst
  docs/modeling/example-fitting-model-sets.rst
  docs/modeling/fitting.rst
  docs/modeling/index.rst
  docs/modeling/models.rst
  docs/modeling/new-model.rst
  docs/modeling/spline_models.rst
  docs/nddata/ccddata.rst
  docs/nddata/index.rst
  docs/stats/ripley.rst
  docs/stats/robust.rst
  docs/timeseries/bls.rst
  docs/uncertainty/index.rst
  docs/units/performance.inc.rst
  docs/visualization/normalization.rst
  docs/visualization/rgb.rst
Labels: nddata, units, coordinates, modeling, stats, convolution, visualization, no-changelog-entry-needed, Manual Backport, uncertainty, timeseries, skip-basebranch-check

#13762 Fix the "Defining New Fitter Classes" documentation.
  docs/modeling/new-fitter.rst
Labels: Docs, Bug, modeling, no-changelog-entry-needed, backport-v5.1.x

#13763 Backport PR #13762 on branch v5.1.x (Fix the "Defining New Fitter Classes" documentation.)
  docs/modeling/new-fitter.rst
Labels: Docs, Bug, modeling, no-changelog-entry-needed, backport-v5.1.x

#13765 Backport PR #13731 on branch v5.1.x (Fix bug in time parsing of fractional digits in date string)
  astropy/time/formats.py
  astropy/time/tests/test_basic.py
  docs/changes/time/13731.bugfix.rst
Labels: time, Manual Backport, skip-changelog-checks, skip-basebranch-check

#13764 Backport PR #13731 on branch v5.0.x (Fix bug in time parsing of fractional digits in date string)
  astropy/time/formats.py
  astropy/time/tests/test_basic.py
  docs/changes/time/13731.bugfix.rst
Labels: time, Manual Backport, skip-changelog-checks, skip-basebranch-check

#13746 Add sinh stretch option to simple_norm
  astropy/visualization/mpl_normalize.py
  astropy/visualization/tests/test_norm.py
  docs/changes/visualization/13746.feature.rst
Labels: visualization

#13766 TST: Fix io.ascii doctest for s390x
  docs/io/ascii/fixed_width_gallery.rst
  docs/whatsnew/5.2.rst
Labels: testing, Docs, io.ascii, Bug, Affects-dev, no-changelog-entry-needed, Extra CI

#13727 isort timeseries
  astropy/timeseries/__init__.py
  astropy/timeseries/binned.py
  astropy/timeseries/core.py
  astropy/timeseries/downsample.py
  astropy/timeseries/io/kepler.py
  astropy/timeseries/io/tests/test_kepler.py
  astropy/timeseries/periodograms/__init__.py
  astropy/timeseries/periodograms/base.py
  astropy/timeseries/periodograms/bls/_impl.pyx
  astropy/timeseries/periodograms/bls/core.py
  astropy/timeseries/periodograms/bls/methods.py
  astropy/timeseries/periodograms/bls/setup_package.py
  astropy/timeseries/periodograms/bls/tests/test_bls.py
  astropy/timeseries/periodograms/lombscargle/_statistics.py
  astropy/timeseries/periodograms/lombscargle/core.py
  astropy/timeseries/periodograms/lombscargle/implementations/__init__.py
  astropy/timeseries/periodograms/lombscargle/implementations/cython_impl.pyx
  astropy/timeseries/periodograms/lombscargle/implementations/fast_impl.py
  astropy/timeseries/periodograms/lombscargle/implementations/main.py
  astropy/timeseries/periodograms/lombscargle/implementations/tests/test_mle.py
  astropy/timeseries/periodograms/lombscargle/implementations/tests/test_utils.py
  astropy/timeseries/periodograms/lombscargle/implementations/utils.py
  astropy/timeseries/periodograms/lombscargle/tests/test_lombscargle.py
  astropy/timeseries/periodograms/lombscargle/tests/test_statistics.py
  astropy/timeseries/periodograms/lombscargle/tests/test_utils.py
  astropy/timeseries/periodograms/lombscargle/utils.py
  astropy/timeseries/sampled.py
  astropy/timeseries/tests/test_binned.py
  astropy/timeseries/tests/test_common.py
  astropy/timeseries/tests/test_downsample.py
  astropy/timeseries/tests/test_sampled.py
  pyproject.toml
Labels: installation, no-changelog-entry-needed, timeseries

#13767 Clean condition on uncompressed header.
  astropy/io/fits/hdu/compressed.py
Labels: io.fits, Affects-dev, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13769 Backport PR #13767 on branch v5.1.x (Clean condition on uncompressed header.)
  astropy/io/fits/hdu/compressed.py
Labels: io.fits, Affects-dev, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13768 Backport PR #13767 on branch v5.0.x (Clean condition on uncompressed header.)
  astropy/io/fits/hdu/compressed.py
Labels: io.fits, Affects-dev, no-changelog-entry-needed, backport-v5.0.x, backport-v5.1.x

#13770 Remove "please tag embray" from bot message
  .github/workflows/open_actions.yml
Labels: testing, no-changelog-entry-needed, dev-automation

#13771 Isort examples and docs
  docs/conf.py
  docs/conftest.py
  docs/wcs/examples/cube_wcs.py
  docs/wcs/examples/from_file.py
  docs/wcs/examples/programmatic.py
  examples/coordinates/plot_galactocentric-frame.py
  examples/coordinates/plot_obs-planning.py
  examples/coordinates/plot_sgr-coordinate-frame.py
  examples/coordinates/rv-to-gsr.py
  examples/io/create-mef.py
  examples/io/fits-tables.py
  examples/io/modify-fits-header.py
  examples/io/plot_fits-image.py
  examples/io/skip_create-large-fits.py
  examples/io/split-jpeg-to-fits.py
  examples/template/example-template.py
  pyproject.toml
Labels: testing, wcs, Docs, coordinates, installation, no-changelog-entry-needed

#13729 isort wcs
  astropy/wcs/__init__.py
  astropy/wcs/setup_package.py
  astropy/wcs/tests/conftest.py
  astropy/wcs/tests/helper.py
  astropy/wcs/tests/test_auxprm.py
  astropy/wcs/tests/test_celprm.py
  astropy/wcs/tests/test_pickle.py
  astropy/wcs/tests/test_prjprm.py
  astropy/wcs/tests/test_profiling.py
  astropy/wcs/tests/test_tab.py
  astropy/wcs/tests/test_tabprm.py
  astropy/wcs/tests/test_utils.py
  astropy/wcs/tests/test_wcs.py
  astropy/wcs/tests/test_wcsprm.py
  astropy/wcs/tests/test_wtbarr.py
  astropy/wcs/utils.py
  astropy/wcs/wcs.py
  astropy/wcs/wcsapi/__init__.py
  astropy/wcs/wcsapi/conftest.py
  astropy/wcs/wcsapi/fitswcs.py
  astropy/wcs/wcsapi/high_level_api.py
  astropy/wcs/wcsapi/low_level_api.py
  astropy/wcs/wcsapi/sliced_low_level_wcs.py
  astropy/wcs/wcsapi/tests/test_fitswcs.py
  astropy/wcs/wcsapi/tests/test_high_level_api.py
  astropy/wcs/wcsapi/tests/test_high_level_wcs_wrapper.py
  astropy/wcs/wcsapi/tests/test_utils.py
  astropy/wcs/wcsapi/utils.py
  astropy/wcs/wcsapi/wrappers/__init__.py
  astropy/wcs/wcsapi/wrappers/tests/test_sliced_wcs.py
  astropy/wcs/wcslint.py
  pyproject.toml
Labels: testing, wcs, installation, no-changelog-entry-needed, merge-when-ci-passes, wcs.wcsapi

#13745 Add fix and tests for float32 pi/2 Latitude
  astropy/coordinates/angles.py
  astropy/coordinates/tests/test_angles.py
  docs/changes/coordinates/13745.bugfix.rst
Labels: Bug, coordinates, modeling, backport-v5.0.x, backport-v5.1.x
