Repository astropy/astropy, pull requests merged in 2022-02, with the labels that each got.

#12812 Set minimum version of typing_extensions
  setup.cfg
Labels: installation, no-changelog-entry-needed, backport-v5.0.x

#12816 Backport PR #12812 on branch v5.0.x (Set minimum version of typing_extensions)
  setup.cfg
Labels: installation, no-changelog-entry-needed, backport-v5.0.x

#12716 Missing images for local CSS file (jquery)
  astropy/extern/jquery/data/images/sort_asc.png
  astropy/extern/jquery/data/images/sort_asc_disabled.png
  astropy/extern/jquery/data/images/sort_both.png
  astropy/extern/jquery/data/images/sort_desc.png
  astropy/extern/jquery/data/images/sort_desc_disabled.png
  docs/changes/table/12716.bugfix.rst
Labels: table, external

#12819 Backport PR #12549 on branch v5.0.x (TST: Temporarily skipping MRT write doctest)
  docs/io/ascii/write.rst
Labels: testing, Docs, io.ascii, no-changelog-entry-needed, ¯\_(ツ)_/¯, Extra CI

#12813 Add checkbox to PR template for What's new entry
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Docs, Release, no-changelog-entry-needed

#12823 TST: pytest 7.0.0, scipy 1.8.0 broke a few things
  astropy/convolution/tests/test_kernel_class.py
  astropy/coordinates/tests/test_intermediate_transformations.py
  astropy/cosmology/tests/test_funcs.py
  astropy/io/ascii/tests/test_c_reader.py
  astropy/io/fits/tests/test_header.py
  astropy/io/fits/tests/test_table.py
  astropy/modeling/tests/test_constraints.py
  astropy/tests/test_logger.py
  astropy/units/tests/test_format.py
  astropy/units/tests/test_quantity_ufuncs.py
  astropy/visualization/wcsaxes/tests/test_misc.py
  astropy/wcs/tests/test_profiling.py
  astropy/wcs/tests/test_utils.py
  astropy/wcs/tests/test_wcs.py
  docs/conf.py
  docs/development/testguide.rst
  setup.cfg
  tox.ini
Labels: testing, wcs, Docs, io.fits, io.ascii, units, coordinates, modeling, :fire:, cosmology, installation, convolution, Ready-for-final-review, no-changelog-entry-needed, visualization.wcsaxes, io.misc.asdf, Extra CI, backport-v5.0.x

#12849 Backport PR #12823 on branch v5.0.x (TST: pytest 7.0.0, scipy 1.8.0 broke a few things)
  astropy/convolution/tests/test_kernel_class.py
  astropy/coordinates/tests/test_intermediate_transformations.py
  astropy/cosmology/tests/test_funcs.py
  astropy/io/ascii/tests/test_c_reader.py
  astropy/io/fits/tests/test_header.py
  astropy/io/fits/tests/test_table.py
  astropy/modeling/tests/test_constraints.py
  astropy/tests/test_logger.py
  astropy/units/tests/test_format.py
  astropy/units/tests/test_quantity_ufuncs.py
  astropy/visualization/wcsaxes/tests/test_misc.py
  astropy/wcs/tests/test_profiling.py
  astropy/wcs/tests/test_utils.py
  astropy/wcs/tests/test_wcs.py
  docs/conf.py
  docs/development/testguide.rst
  setup.cfg
  tox.ini
Labels: testing, wcs, Docs, io.fits, io.ascii, units, coordinates, modeling, cosmology, installation, convolution, logging, visualization.wcsaxes, skip-changelog-checks, skip-basebranch-check

#12848 Backport PR #12831 on branch v5.0.x (Update RTD config for py310)
  .readthedocs.yml
Labels: Docs, no-changelog-entry-needed, backport-v5.0.x

#12843 WCS documentation: fix bad section label
  docs/wcs/index.rst
Labels: wcs, Docs, Bug, no-changelog-entry-needed, backport-v5.0.x

#12854 TST: Use pytest-dev for py310 in v5.0.x
  .github/workflows/ci_workflows.yml
  tox.ini
Labels: testing, io.misc.asdf, skip-changelog-checks, ¯\_(ツ)_/¯, Python3.10, skip-basebranch-check

#12852 Backport PR #12843 on branch v5.0.x (WCS documentation: fix bad section label)
  docs/wcs/index.rst
Labels: wcs, Docs, Bug, no-changelog-entry-needed, backport-v5.0.x

#12856 Backport PR #12800 on branch v5.0.x (Bugfix for `units_mapping` asdf schema.)
  astropy/io/misc/asdf/data/schemas/astropy.org/astropy/transform/units_mapping-1.0.0.yaml
  astropy/io/misc/asdf/tags/transform/basic.py
  docs/changes/io.misc/12800.bugfix.rst
Labels: Bug, io.misc.asdf, backport-v5.0.x

#12858 Fix incorrect test discovery due to np.arctan2 being left as a global
  astropy/units/quantity_helper/helpers.py
Labels: testing, Docs, units, no-changelog-entry-needed, backport-v5.0.x

#12859 Backport PR #12858 on branch v5.0.x (Fix incorrect test discovery due to np.arctan2 being left as a global)
  astropy/units/quantity_helper/helpers.py
Labels: testing, Docs, units, no-changelog-entry-needed, backport-v5.0.x

#12855 TST: Fix pyinstaller CI job
  .pyinstaller/run_astropy_tests.py
  tox.ini
Labels: testing, Ready-for-final-review, no-changelog-entry-needed, Extra CI, backport-v5.0.x

#12755 Refactor core package release notes
  docs/development/astropy-package-template.rst
  docs/development/releasing.rst
Labels: Docs, Release, no-changelog-entry-needed

#12832 Run 'cron' CI configurations on all release branches and all tags
  .github/workflows/ci_cron_daily.yml
  .github/workflows/ci_cron_weekly.yml
Labels: testing, Ready-for-final-review, no-changelog-entry-needed

#12867 BUG: don't escalate a deprecation warning from numpy into an ImportError. Partially revert #12655
  astropy/convolution/convolve.py
Labels: Bug, convolution, no-changelog-entry-needed, backport-v5.0.x

#12871 Backport PR #12855 on branch v5.0.x (TST: Fix pyinstaller CI job)
  .pyinstaller/run_astropy_tests.py
  tox.ini
Labels: testing, no-changelog-entry-needed, skip-basebranch-check

#12869 Test: fix using numpy nightlies
  tox.ini
Labels: testing, no-changelog-entry-needed, numpy-dev, backport-v5.0.x

#12874 Backport PR #12869 on branch v5.0.x (Test: fix using numpy nightlies)
  tox.ini
Labels: testing, no-changelog-entry-needed, numpy-dev, backport-v5.0.x

#12558 Switch modeling.projections to use WCSLIB prjprm wrapper
  astropy/modeling/projections.py
  astropy/modeling/setup_package.py
  astropy/modeling/src/.gitignore
  astropy/modeling/src/projections.c.templ
  astropy/modeling/tests/test_projections.py
  docs/changes/modeling/12558.feature.rst
Labels: testing, modeling

#12877 MNT: Bump jinja, add markupsafe to pyproject.toml (direct v5.0.x "backport")
  pyproject.toml
Labels: installation, no-changelog-entry-needed, skip-basebranch-check

#12876 MNT: Remove jinja2 from build dependency
  .github/workflows/codeql-analysis.yml
  docs/development/workflow/get_devel_version.rst
  docs/install.rst
  pyproject.toml
Labels: testing, Docs, installation, build, no-changelog-entry-needed, Extra CI

#12807 Fix docstring for unit_parse_strict in read_table_fits
  astropy/io/fits/connect.py
Labels: io.fits, no-changelog-entry-needed

#12880 add ECSV V0.9 file backwards compatibility for non standard datatypes
  astropy/io/ascii/ecsv.py
  astropy/io/ascii/tests/test_ecsv.py
  docs/changes/io.ascii/12880.bugfix.rst
Labels: io.ascii, Bug, backport-v5.0.x

#12884 Backport PR #12880 on branch v5.0.x (add ECSV V0.9 file backwards compatibility for non standard datatypes)
  astropy/io/ascii/ecsv.py
  astropy/io/ascii/tests/test_ecsv.py
  docs/changes/io.ascii/12880.bugfix.rst
Labels: io.ascii, Bug, backport-v5.0.x

#12888 Add warning for unitless numerical input to TimeDelta
  astropy/io/misc/asdf/tags/time/tests/test_timedelta.py
  astropy/time/core.py
  astropy/time/tests/test_delta.py
  astropy/time/tests/test_precision.py
  astropy/timeseries/tests/test_binned.py
  docs/changes/time/12888.api.rst
  docs/time/index.rst
Labels: time, modeling, merge-when-ci-passes, API change

#12844 Restore naxis-related attributes when unpickling WCS objects
  astropy/wcs/tests/test_pickle.py
  astropy/wcs/wcs.py
  docs/changes/wcs/12844.bugfix.rst
Labels: wcs, Bug, backport-v5.0.x

#12894 Backport PR #12844 on branch v5.0.x (Restore naxis-related attributes when unpickling WCS objects)
  astropy/wcs/tests/test_pickle.py
  astropy/wcs/wcs.py
  docs/changes/wcs/12844.bugfix.rst
Labels: wcs, Bug, backport-v5.0.x

#12604 Fix votable validate output handling
  astropy/io/votable/table.py
  astropy/io/votable/tests/data/valid_votable.xml
  astropy/io/votable/tests/table_test.py
  docs/changes/io.votable/12604.bugfix.rst
Labels: io.votable, Bug, backport-v5.0.x

#12898 Backport PR #12604 on branch v5.0.x (Fix votable validate output handling)
  astropy/io/votable/table.py
  astropy/io/votable/tests/data/valid_votable.xml
  astropy/io/votable/tests/table_test.py
  docs/changes/io.votable/12604.bugfix.rst
Labels: io.votable, Bug, backport-v5.0.x
