Repository astropy/astropy, pull requests merged in 2023-07, with the labels that each got.

#15004 MNT: Compatibility with matplotlib 3.8
  astropy/visualization/wcsaxes/coordinate_helpers.py
  astropy/visualization/wcsaxes/utils.py
Labels: no-changelog-entry-needed, visualization.wcsaxes, backport-v5.0.x, backport-v5.3.x

#15011 Backport PR #15004 on branch v5.3.x (MNT: Compatibility with matplotlib 3.8)
  astropy/visualization/wcsaxes/coordinate_helpers.py
  astropy/visualization/wcsaxes/utils.py
Labels: no-changelog-entry-needed, visualization.wcsaxes, backport-v5.0.x, backport-v5.3.x

#15012 Backport PR 15004 and 15009 to v5.0.x (MNT: Compatibility with matplotlib 3.8, Update IERS Earth rotation and leap second tables)
  astropy/utils/iers/data/eopc04_IAU2000.62-now
  astropy/visualization/wcsaxes/coordinate_helpers.py
  astropy/visualization/wcsaxes/utils.py
Labels: no-changelog-entry-needed, visualization.wcsaxes, Manual Backport, utils.iers, skip-basebranch-check

#15014 Backport PR #15001 on branch v5.3.x (Fixed a bug that caused compressed images with TFORM missing the optional '1' prefix to not be readable)
  astropy/io/fits/_tiled_compression/tiled_compression.py
  astropy/io/fits/tests/test_image.py
  docs/changes/io.fits/15001.bugfix.rst
Labels: io.fits, skip-changelog-checks, skip-basebranch-check

#14995 Bugfix for bitmasks passed to nddata
  astropy/nddata/mixins/ndarithmetic.py
  astropy/nddata/mixins/tests/test_ndarithmetic.py
  docs/changes/nddata/14995.bugfix.rst
Labels: nddata, Bug, backport-v5.3.x

#15021 Backport PR #14995 on branch v5.3.x (Bugfix for bitmasks passed to nddata)
  astropy/nddata/mixins/ndarithmetic.py
  astropy/nddata/mixins/tests/test_ndarithmetic.py
  docs/changes/nddata/14995.bugfix.rst
Labels: nddata, Bug, backport-v5.3.x

#14877 Adress Rule C414 violation
  .ruff.toml
  astropy/io/ascii/misc.py
  astropy/io/ascii/tests/test_read.py
Labels: io.ascii, Refactoring, no-changelog-entry-needed

#15022 Update NUMPY_LT_1_25 with released version
  astropy/utils/compat/numpycompat.py
Labels: utils, no-changelog-entry-needed, backport-v5.0.x, backport-v5.3.x

#15024 Backport PR #15022 on branch v5.3.x (Update NUMPY_LT_1_25 with released version)
  astropy/utils/compat/numpycompat.py
Labels: utils, no-changelog-entry-needed, backport-v5.0.x, backport-v5.3.x

#15023 Backport PR #15022 on branch v5.0.x (Update NUMPY_LT_1_25 with released version)
  astropy/utils/compat/numpycompat.py
Labels: utils, no-changelog-entry-needed, backport-v5.0.x, backport-v5.3.x

#14996 RTD: Explicitly do full clone of repo
  .github/labeler.yml
  .readthedocs.yaml
Labels: Docs, no-changelog-entry-needed, backport-v5.0.x, backport-v5.3.x

#15027 Backport PR #14996 on branch v5.3.x (RTD: Explicitly do full clone of repo)
  .github/labeler.yml
  .readthedocs.yaml
Labels: Docs, no-changelog-entry-needed, backport-v5.0.x, backport-v5.3.x

#15026 Backport PR #14996 on branch v5.0.x (RTD: Explicitly do full clone of repo)
  .github/labeler.yml
  .readthedocs.yaml
Labels: Docs, no-changelog-entry-needed, backport-v5.0.x, backport-v5.3.x

#14990 Add basic example building Mars reference frames.
  astropy/coordinates/tests/test_frames.py
  docs/coordinates/frames.rst
  examples/coordinates/plot_mars-coordinate-frame.py
Labels: Docs, coordinates, Affects-dev, no-changelog-entry-needed

#15031 Backport PR #14998 on branch v5.3.x (Fix error when a PrimaryHDU has a "GROUPS = 1" keyword)
  astropy/io/fits/hdu/base.py
  astropy/io/fits/hdu/image.py
  astropy/io/fits/tests/test_groups.py
  docs/changes/io.fits/14998.bugfix.rst
Labels: io.fits, backport-v5.0.x, backport-v5.3.x

#15032 Manual backport of PR #14998 on branch v5.0.x
  astropy/io/fits/hdu/base.py
  astropy/io/fits/hdu/image.py
  astropy/io/fits/tests/test_groups.py
  docs/changes/io.fits/14998.bugfix.rst
Labels: io.fits, Manual Backport, skip-changelog-checks, skip-basebranch-check

#15034 Finalizing changelog for v5.3.1
  CHANGES.rst
  docs/changes/cosmology/14991.bugfix.rst
  docs/changes/io.fits/14998.bugfix.rst
  docs/changes/io.fits/14999.bugfix.rst
  docs/changes/io.fits/15001.bugfix.rst
  docs/changes/modeling/14902.bugfix.rst
  docs/changes/nddata/14995.bugfix.rst
  docs/changes/table/14907.bugfix.rst
  docs/changes/units/14885.bugfix.rst
Labels: table, nddata, units, modeling, cosmology, skip-changelog-checks, skip-basebranch-check

#15036 TST: Update test_contour_overlay hash for mpldev
  astropy/tests/figures/py39-test-image-mpldev-cov.json
Labels: testing, no-changelog-entry-needed, visualization.wcsaxes, backport-v5.0.x, backport-v5.3.x

#15041 Use single quotes within publish.yml test_commands
  .github/workflows/publish.yml
Labels: testing, Bug, Release, no-changelog-entry-needed, dev-automation, Extra CI, backport-v5.0.x, backport-v5.3.x

#15038 Backport PR #15036 on branch v5.0.x (TST: Update test_contour_overlay hash for mpldev)
  astropy/tests/figures/py39-test-image-mpldev.json
Labels: testing, no-changelog-entry-needed, visualization.wcsaxes, backport-v5.0.x, backport-v5.3.x

#15039 Backport PR #15036 on branch v5.3.x (TST: Update test_contour_overlay hash for mpldev)
  astropy/tests/figures/py39-test-image-mpldev-cov.json
Labels: testing, no-changelog-entry-needed, visualization.wcsaxes, backport-v5.0.x, backport-v5.3.x

#15033 Address Ruff Rule PT021 and PIE804 violations
  .ruff.toml
  astropy/samp/tests/test_client.py
  astropy/utils/decorators.py
Labels: testing, samp, Refactoring, no-changelog-entry-needed, dev-automation

#15013 Adjust IERS update workflow to open PRs against v5.0.x and v5.3.x
  .github/workflows/update_iers.yml
Labels: testing, skip-changelog-checks

#15053 Backport PR #15037 on branch v5.3.x (BUG: Ensure import astropy.coordinates works with -OO optimize flag)
  astropy/coordinates/builtin_frames/__init__.py
  astropy/io/ascii/core.py
  docs/changes/coordinates/15037.bugfix.rst
Labels: io.ascii, Bug, coordinates, backport-v5.3.x

#15062 Fix F821 and flake8
  .ruff.toml
  astropy/visualization/wcsaxes/ticklabels.py
  setup.cfg
Labels: installation, no-changelog-entry-needed, visualization.wcsaxes, backport-v5.3.x

#15063 Fix F821 and flake8
  astropy/visualization/wcsaxes/ticklabels.py
  pyproject.toml
  setup.cfg
Labels: installation, no-changelog-entry-needed, visualization.wcsaxes, Manual Backport, skip-basebranch-check

#15058 The sigma_clip mask parameter description is corrected
  astropy/stats/sigma_clipping.py
Labels: Docs, Bug, stats, no-changelog-entry-needed, backport-v5.0.x, backport-v5.3.x

#15066 Backport PR #15058 on branch v5.0.x (The sigma_clip mask parameter description is corrected)
  astropy/stats/sigma_clipping.py
Labels: Docs, Bug, stats, no-changelog-entry-needed, backport-v5.0.x, backport-v5.3.x

#15067 Backport PR #15058 on branch v5.3.x (The sigma_clip mask parameter description is corrected)
  astropy/stats/sigma_clipping.py
Labels: Docs, Bug, stats, no-changelog-entry-needed, backport-v5.0.x, backport-v5.3.x

#15064 Small flake8/ruff fixes for units
  astropy/units/quantity.py
  astropy/units/tests/test_quantity_non_ufuncs.py
  setup.cfg
Labels: units, installation, Refactoring, no-changelog-entry-needed

#15060 MNT: Pin pytest<8 for v5.0.x
  setup.cfg
Labels: installation, no-changelog-entry-needed, skip-basebranch-check

#15070 Update install.rst troubleshooting section
  docs/install.rst
Labels: Docs, installation, no-changelog-entry-needed

#15018 Move 32bit CI to weekly
  .github/workflows/ci_cron_weekly.yml
  .github/workflows/ci_workflows.yml
Labels: testing, no-changelog-entry-needed, Extra CI

#15077 Update apply_space_motion.rst
  docs/coordinates/apply_space_motion.rst
Labels: Docs, Bug, coordinates, no-changelog-entry-needed, backport-v5.0.x, backport-v5.3.x

#15079 Backport PR #15077 on branch v5.3.x (Update apply_space_motion.rst)
  docs/coordinates/apply_space_motion.rst
Labels: Docs, Bug, coordinates, no-changelog-entry-needed, backport-v5.0.x, backport-v5.3.x

#15078 Backport PR #15077 on branch v5.0.x (Update apply_space_motion.rst)
  docs/coordinates/apply_space_motion.rst
Labels: Docs, Bug, coordinates, no-changelog-entry-needed, backport-v5.0.x, backport-v5.3.x

#15068 ruff: use extend-per-file-ignores
  .ruff.toml
  astropy/coordinates/tests/test_sites.py
  astropy/cosmology/_io/tests/test_html.py
  astropy/io/registry/compat.py
  astropy/io/registry/tests/test_registries.py
  astropy/modeling/models.py
  astropy/modeling/tests/test_parameters.py
  astropy/tests/test_logger.py
  astropy/units/tests/test_equivalencies.py
  pyproject.toml
Labels: installation, no-changelog-entry-needed

#14911 Fix Implicitly Concatenated String Literals (Ruff ISC001)
  .ruff.toml
  astropy/convolution/tests/test_kernel_class.py
  astropy/coordinates/tests/test_iau_fullstack.py
  astropy/io/ascii/daophot.py
  astropy/io/ascii/tests/test_ipac_definitions.py
  astropy/io/fits/hdu/image.py
  astropy/io/fits/tests/test_fitstime.py
  astropy/table/tests/test_column.py
  astropy/table/tests/test_table.py
  astropy/timeseries/periodograms/lombscargle_multiband/core.py
  astropy/units/tests/test_logarithmic.py
Labels: table, io.fits, io.ascii, units, coordinates, convolution, Refactoring, no-changelog-entry-needed, timeseries, dev-automation

#15082 Bugfix for collapses with NDData without masks, or without units
  astropy/nddata/mixins/ndarithmetic.py
  astropy/nddata/mixins/tests/test_ndarithmetic.py
  docs/changes/nddata/15082.bugfix.rst
Labels: nddata, Bug, backport-v5.3.x

#15085 Backport PR #15082 on branch v5.3.x (Bugfix for collapses with NDData without masks, or without units)
  astropy/nddata/mixins/ndarithmetic.py
  astropy/nddata/mixins/tests/test_ndarithmetic.py
  docs/changes/nddata/15082.bugfix.rst
Labels: nddata, Bug, backport-v5.3.x

#15016 Backport PR #14991 on branch v5.0.x (fix w0wz de_density_scale)
  astropy/cosmology/flrw.py
  astropy/cosmology/tests/test_cosmology.py
  docs/changes/cosmology/14991.bugfix.rst
Labels: cosmology, Manual Backport, skip-changelog-checks, skip-basebranch-check, Extra CI

#15048 Pre commit ci update config
  .pre-commit-config.yaml
  .ruff.toml
  astropy/cosmology/flrw/base.py
  astropy/modeling/bounding_box.py
  astropy/units/format/generic.py
  astropy/wcs/tests/test_wcs.py
  pyproject.toml
Labels: wcs, units, modeling, cosmology, installation, no-changelog-entry-needed, skip-changelog-checks, dev-automation

#14909 Fix PLW0120 warnings in Astropy library
  .ruff.toml
  astropy/coordinates/representation/base.py
  astropy/io/ascii/ipac.py
  astropy/io/ascii/latex.py
  astropy/io/ascii/ui.py
  astropy/io/fits/header.py
  astropy/io/registry/core.py
  astropy/modeling/bounding_box.py
  astropy/table/index.py
  astropy/time/core.py
  astropy/time/formats.py
Labels: table, io.fits, time, io.ascii, coordinates, modeling, Refactoring, no-changelog-entry-needed

#15092 MNT: changelog bot moved to Scientific Python
  .github/workflows/check_changelog.yml
Labels: testing, no-changelog-entry-needed, dev-automation, backport-v5.0.x, backport-v5.3.x

#15093 Backport PR #15092 on branch v5.0.x (MNT: changelog bot moved to Scientific Python)
  .github/workflows/check_changelog.yml
Labels: testing, no-changelog-entry-needed, dev-automation, backport-v5.0.x, backport-v5.3.x

#15094 Backport PR #15092 on branch v5.3.x (MNT: changelog bot moved to Scientific Python)
  .github/workflows/check_changelog.yml
Labels: testing, no-changelog-entry-needed, dev-automation, backport-v5.0.x, backport-v5.3.x

#15089 DOC: Remove redundant plot example in cloud FITS section
  docs/io/fits/usage/cloud.rst
Labels: Docs, io.fits, no-changelog-entry-needed, backport-v5.3.x

#15076 use cdef double over cdef
  astropy/cosmology/flrw/scalar_inv_efuncs.pyx
Labels: cosmology, no-changelog-entry-needed, Extra CI

#15098 Backport PR #15089 on branch v5.3.x (DOC: Remove redundant plot example in cloud FITS section)
  docs/io/fits/usage/cloud.rst
Labels: Docs, io.fits, no-changelog-entry-needed, backport-v5.3.x
