Repository astropy/astropy, pull requests merged in 2023-06, with the labels that each got.

#14878 Implement `astropy.table.Row.get()`
  astropy/table/row.py
  astropy/table/tests/test_row.py
  docs/changes/table/14878.feature.rst
  docs/table/access_table.rst
Labels: table

#14869 TST: Upstream nightly wheels location has changed
  .github/workflows/ci_workflows.yml
  docs/coordinates/index.rst
  setup.cfg
  tox.ini
Labels: testing, no-changelog-entry-needed, Extra CI, backport-v5.0.x, backport-v5.3.x

#14898 Manual backport of PR 14890 onto v5.0.x (Update IERS Earth rotation and leap second tables)
  astropy/utils/iers/data/eopc04_IAU2000.62-now
Labels: no-changelog-entry-needed, Manual Backport, utils.iers, skip-basebranch-check

#14669 MNT: Remove pedantic option from astropy.io.votable
  astropy/io/votable/__init__.py
  astropy/io/votable/table.py
  astropy/io/votable/tests/table_test.py
  docs/changes/io.votable/14669.api.rst
Labels: io.votable, Refactoring

#14670 MNT: Remove deprecated deprecations as exceptions and friends
  astropy/tests/helper.py
  docs/changes/tests/14670.api.rst
  docs/development/testhelpers.rst
Labels: testing, Docs, utils, Refactoring

#14899 Backport of PR 14869 onto v5.3.x (TST: Upstream nightly wheels location has changed)
  .github/workflows/ci_workflows.yml
  docs/coordinates/index.rst
  setup.cfg
  tox.ini
Labels: testing, coordinates, installation, no-changelog-entry-needed, Manual Backport, skip-basebranch-check

#14900 Backport of PR 14869 onto v5.0.x (TST: Upstream nightly wheels location has changed)
  .github/workflows/ci_workflows.yml
  tox.ini
Labels: testing, no-changelog-entry-needed, Manual Backport, skip-basebranch-check

#14885 Fix vounits incorrectly marked as deprecated
  astropy/units/format/vounit.py
  astropy/units/tests/test_format.py
  docs/changes/units/14885.bugfix.rst
Labels: units, Bug, backport-v5.3.x

#14702 repr for VOTable is now clearer
  astropy/io/votable/tests/vo_test.py
  astropy/io/votable/tree.py
  docs/changes/io.votable/14702.feature.rst
Labels: io.votable

#14901 Backport PR #14885 on branch v5.3.x (Fix vounits incorrectly marked as deprecated)
  astropy/units/format/vounit.py
  astropy/units/tests/test_format.py
  docs/changes/units/14885.bugfix.rst
Labels: units, Bug, backport-v5.3.x

#14905 Backport PR #14903 on branch v5.3.x (Remove wheel from build-system.requires)
  pyproject.toml
Labels: installation, no-changelog-entry-needed, Build all wheels, backport-v5.3.x

#14906 Re-classify PR 14702 as bug (repr for VOTable is now clearer)
  docs/changes/io.votable/14702.bugfix.rst
Labels: io.votable, Affects-dev, skip-changelog-checks

#14904 Simplify tox pytest command
  tox.ini
Labels: testing, no-changelog-entry-needed, backport-v5.3.x

#14923 Fix typos in How to make a code contribution page and Testing Guidelines page
  docs/development/testguide.rst
  docs/development/workflow/development_workflow.rst
Labels: Docs, Bug, no-changelog-entry-needed

#14919 Address useless comparisons in tests
  .ruff.toml
  astropy/coordinates/tests/test_erfa_astrom.py
  astropy/coordinates/tests/test_frames.py
  astropy/coordinates/tests/test_sky_coord.py
  astropy/cosmology/tests/test_parameter.py
  astropy/io/fits/tests/test_connect.py
  astropy/io/fits/tests/test_core.py
  astropy/modeling/tests/test_fitters.py
  astropy/modeling/tests/test_quantities_parameters.py
  astropy/table/tests/test_row.py
  astropy/table/tests/test_table.py
  astropy/time/tests/test_comparisons.py
  astropy/time/tests/test_quantity_interaction.py
  astropy/timeseries/tests/test_common.py
  astropy/units/tests/test_logarithmic.py
  astropy/units/tests/test_units.py
  astropy/utils/masked/tests/test_masked.py
  astropy/utils/tests/test_decorators.py
  astropy/wcs/tests/test_wcs.py
Labels: testing, wcs, table, io.fits, time, units, coordinates, modeling, cosmology, utils, no-changelog-entry-needed, timeseries, dev-automation, utils.masked

#14928 Backport PR #14927 on branch v5.3.x (Corrected example-fitting-constraints.rst - [OIII] ratio example)
  docs/modeling/example-fitting-constraints.rst
Labels: Docs, Bug, modeling, no-changelog-entry-needed, backport-v5.3.x

#14931 Add property scale_factor0 to FLRW cosmologies
  astropy/cosmology/flrw/base.py
  astropy/cosmology/flrw/tests/test_base.py
  docs/changes/cosmology/14931.api.rst
Labels: cosmology

#14902 Pickle most models
  astropy/modeling/functional_models.py
  astropy/modeling/parameters.py
  astropy/modeling/physical_models.py
  astropy/modeling/powerlaws.py
  astropy/modeling/projections.py
  astropy/modeling/spline.py
  astropy/modeling/tests/test_pickle.py
  docs/changes/modeling/14902.bugfix.rst
  docs/modeling/new-model.rst
Labels: Bug, modeling, backport-v5.3.x

#14939 Backport PR #14902 on branch v5.3.x (Pickle most models)
  astropy/modeling/functional_models.py
  astropy/modeling/parameters.py
  astropy/modeling/physical_models.py
  astropy/modeling/powerlaws.py
  astropy/modeling/projections.py
  astropy/modeling/spline.py
  astropy/modeling/tests/test_pickle.py
  docs/changes/modeling/14902.bugfix.rst
  docs/modeling/new-model.rst
Labels: Bug, modeling, backport-v5.3.x

#14936 Simplify Ruff `pydocstyle` configuration
  .ruff.toml
  pyproject.toml
Labels: installation, no-changelog-entry-needed, dev-automation

#14938 Added registration label ‘ascii.latex’ to Cosmology IO
  astropy/cosmology/io/latex.py
  astropy/cosmology/io/tests/test_latex.py
  astropy/cosmology/tests/test_connect.py
  docs/changes/cosmology/14938.api.rst
  docs/whatsnew/6.0.rst
Labels: cosmology

#14924 Fix broken test in ndslicing
  .ruff.toml
  astropy/nddata/mixins/tests/test_ndslicing.py
Labels: testing, nddata, Bug, no-changelog-entry-needed, backport-v5.3.x

#14847 Adress Ruff Rule C416 violations in multiple sub-packages
  .ruff.toml
  astropy/config/tests/test_configs.py
  astropy/io/ascii/core.py
  astropy/io/ascii/ipac.py
  astropy/io/fits/tests/test_core.py
  astropy/io/fits/tests/test_hdulist.py
  astropy/modeling/tests/test_bounding_box.py
  astropy/modeling/tests/test_polynomial.py
  astropy/nddata/bitmask.py
  astropy/nddata/tests/test_nddata.py
  astropy/table/bst.py
  astropy/table/column.py
  astropy/table/table.py
  astropy/table/table_helpers.py
  astropy/table/tests/test_array.py
  astropy/table/tests/test_index.py
  astropy/table/tests/test_row.py
  astropy/table/tests/test_table.py
  astropy/time/formats.py
  astropy/units/tests/test_physical.py
  astropy/units/tests/test_quantity_array_methods.py
Labels: table, io.fits, config, time, io.ascii, nddata, units, modeling, no-changelog-entry-needed

#14941 Backport PR #14907 on branch v5.3.x (Specify stable sort in indexing)
  astropy/table/index.py
  astropy/table/tests/test_groups.py
  astropy/time/core.py
  docs/changes/table/14907.bugfix.rst
  docs/table/operations.rst
Labels: table, time, Bug, numpy-dev, backport-v5.3.x

#14944 Manual backport of #14924 (Fix broken test in ndslicing)
  astropy/nddata/mixins/tests/test_ndslicing.py
Labels: nddata, Manual Backport, skip-changelog-checks, skip-basebranch-check

#14945 DOC: Fix Sunpy broken link
  docs/nddata/index.rst
Labels: Docs, nddata, no-changelog-entry-needed, Extra CI, backport-v5.0.x, backport-v5.3.x

#14947 Backport PR #14945 on branch v5.0.x (DOC: Fix Sunpy broken link)
  docs/nddata/index.rst
Labels: Docs, nddata, no-changelog-entry-needed, Extra CI, backport-v5.0.x, backport-v5.3.x

#14948 Backport PR #14945 on branch v5.3.x (DOC: Fix Sunpy broken link)
  docs/nddata/index.rst
Labels: Docs, nddata, no-changelog-entry-needed, Extra CI, backport-v5.0.x, backport-v5.3.x

#14937 Pre commit 14918
  .pre-commit-config.yaml
  .ruff.toml
  astropy/coordinates/angle_formats.py
  astropy/coordinates/jparser.py
  astropy/io/ascii/fixedwidth.py
  astropy/io/ascii/tests/test_c_reader.py
  astropy/io/ascii/tests/test_read.py
  astropy/io/fits/card.py
  astropy/io/fits/hdu/groups.py
  astropy/io/fits/hdu/hdulist.py
  astropy/io/votable/validator/result.py
  astropy/modeling/core.py
  astropy/nddata/ccddata.py
  astropy/nddata/nddata.py
  astropy/nddata/nduncertainty.py
  astropy/time/tests/test_mask.py
  astropy/units/core.py
  astropy/units/decorators.py
  astropy/utils/masked/core.py
  astropy/utils/tests/test_data.py
  astropy/wcs/wcsapi/utils.py
  pyproject.toml
Labels: io.votable, io.fits, time, io.ascii, nddata, units, coordinates, modeling, utils, installation, no-changelog-entry-needed, skip-changelog-checks, wcs.wcsapi, dev-automation, utils.masked

#14842 Cosmo io private
  astropy/cosmology/__init__.py
  astropy/cosmology/_io/__init__.py
  astropy/cosmology/_io/cosmology.py
  astropy/cosmology/_io/ecsv.py
  astropy/cosmology/_io/html.py
  astropy/cosmology/_io/latex.py
  astropy/cosmology/_io/mapping.py
  astropy/cosmology/_io/model.py
  astropy/cosmology/_io/row.py
  astropy/cosmology/_io/table.py
  astropy/cosmology/_io/tests/__init__.py
  astropy/cosmology/_io/tests/base.py
  astropy/cosmology/_io/tests/test_.py
  astropy/cosmology/_io/tests/test_cosmology.py
  astropy/cosmology/_io/tests/test_ecsv.py
  astropy/cosmology/_io/tests/test_html.py
  astropy/cosmology/_io/tests/test_json.py
  astropy/cosmology/_io/tests/test_latex.py
  astropy/cosmology/_io/tests/test_mapping.py
  astropy/cosmology/_io/tests/test_model.py
  astropy/cosmology/_io/tests/test_row.py
  astropy/cosmology/_io/tests/test_table.py
  astropy/cosmology/_io/tests/test_yaml.py
  astropy/cosmology/_io/utils.py
  astropy/cosmology/_io/yaml.py
  astropy/cosmology/funcs/tests/test_comparison.py
  astropy/cosmology/realizations.py
  astropy/cosmology/tests/test_connect.py
  astropy/cosmology/tests/test_utils.py
  docs/cosmology/io.rst
Labels: cosmology, no-changelog-entry-needed

#14955 TST: Ignore product DeprecationWarning from h5py when testing against numpy 1.25, update mpl figure hashes
  astropy/io/misc/tests/test_hdf5.py
  astropy/tests/figures/py39-test-image-mpl334-cov.json
  astropy/tests/figures/py39-test-image-mpldev-cov.json
  setup.cfg
Labels: testing, installation, no-changelog-entry-needed, backport-v5.3.x

#14958 Backport PR #14955 on branch v5.3.x (TST: Ignore product DeprecationWarning from h5py when testing against numpy 1.25, update mpl figure hashes)
  astropy/io/misc/tests/test_hdf5.py
  astropy/tests/figures/py39-test-image-mpl334-cov.json
  astropy/tests/figures/py39-test-image-mpldev-cov.json
  setup.cfg
Labels: testing, installation, no-changelog-entry-needed, backport-v5.3.x

#14960 DOC: Replace broken Anaconda link
  docs/install.rst
Labels: Docs, installation, no-changelog-entry-needed, Extra CI, backport-v5.0.x, backport-v5.3.x

#14961 Backport PR #14960 on branch v5.0.x (DOC: Replace broken Anaconda link)
  docs/install.rst
Labels: Docs, installation, no-changelog-entry-needed, Extra CI, backport-v5.0.x, backport-v5.3.x

#14962 Backport PR #14960 on branch v5.3.x (DOC: Replace broken Anaconda link)
  docs/install.rst
Labels: Docs, installation, no-changelog-entry-needed, Extra CI, backport-v5.0.x, backport-v5.3.x

#14950 Don't run trailing-whitespace check on astropy/*.py
  .pre-commit-config.yaml
Labels: no-changelog-entry-needed, skip-changelog-checks, dev-automation

#14966 Fix table group keys for mixin columns
  astropy/table/groups.py
  astropy/table/tests/conftest.py
  astropy/table/tests/test_groups.py
  docs/changes/table/14966.bugfix.rst
Labels: testing, table, Bug

#14968 TST: Un-ignore deprecation warning from h5py
  astropy/io/misc/tests/test_hdf5.py
  setup.cfg
Labels: testing, io.misc, installation, no-changelog-entry-needed, backport-v5.3.x

#14969 Backport PR #14968 on branch v5.3.x (TST: Un-ignore deprecation warning from h5py)
  astropy/io/misc/tests/test_hdf5.py
  setup.cfg
Labels: testing, io.misc, installation, no-changelog-entry-needed, backport-v5.3.x

#14971 DOC: Fix broken ASDF link
  docs/io/misc.rst
Labels: io.misc, no-changelog-entry-needed, skip-basebranch-check, Extra CI, backport-v5.0.x

#14972 Backport PR #14971 on branch v5.0.x (DOC: Fix broken ASDF link)
  docs/io/misc.rst
Labels: io.misc, no-changelog-entry-needed, skip-basebranch-check, Extra CI, backport-v5.0.x

#14946 TST: Revert some tolerance changes from cos/sin changes in numpy 1.25.dev that have been reverted
  astropy/coordinates/tests/test_intermediate_transformations.py
  astropy/coordinates/tests/test_representation.py
  astropy/modeling/tests/test_functional_models.py
  astropy/units/tests/test_quantity_ufuncs.py
Labels: testing, units, coordinates, modeling, no-changelog-entry-needed, numpy-dev

#14974 Backport PR #14946 on branch v5.3.x (TST: Revert some tolerance changes from cos/sin changes in numpy 1.25.dev that have been reverted)
  astropy/coordinates/tests/test_intermediate_transformations.py
  astropy/coordinates/tests/test_representation.py
  astropy/modeling/tests/test_functional_models.py
  astropy/units/tests/test_quantity_ufuncs.py
Labels: testing, units, coordinates, modeling, no-changelog-entry-needed, numpy-dev, backport-v5.3.x

#14973 Ensure we test __array_function__ completeness only on relevant functions
  astropy/units/tests/test_quantity_non_ufuncs.py
Labels: units, no-changelog-entry-needed, numpy-dev, backport-v5.3.x

#14976 Backport PR #14973 on branch v5.3.x (Ensure we test __array_function__ completeness only on relevant functions)
  astropy/units/tests/test_quantity_non_ufuncs.py
Labels: units, no-changelog-entry-needed, numpy-dev, backport-v5.3.x

#14954 remove back compat import from v5.2
  astropy/cosmology/funcs/__init__.py
  astropy/cosmology/funcs/tests/test_funcs.py
Labels: cosmology, no-changelog-entry-needed

#14851 Add `BaseBodycentricRepresentation`
  astropy/coordinates/representation/__init__.py
  astropy/coordinates/representation/geodetic.py
  astropy/coordinates/tests/test_geodetic_representations.py
  astropy/coordinates/tests/test_representation.py
  docs/changes/coordinates/14851.feature.rst
  docs/coordinates/representations.rst
  docs/whatsnew/6.0.rst
Labels: coordinates, Enhancement

#14979 Register YAML on class creation
  astropy/cosmology/_io/yaml.py
  astropy/cosmology/core.py
  astropy/cosmology/tests/test_core.py
Labels: cosmology, no-changelog-entry-needed

#14967 Avoid `inspect.isclass()`
  astropy/coordinates/baseframe.py
  astropy/coordinates/representation/base.py
  astropy/coordinates/representation/spherical.py
  astropy/coordinates/sky_coordinate_parsers.py
  astropy/coordinates/transformations.py
  astropy/cosmology/_io/tests/test_mapping.py
  astropy/cosmology/tests/helper.py
  astropy/modeling/fitting.py
  astropy/table/info.py
  astropy/tests/helper.py
Labels: testing, table, coordinates, modeling, cosmology, Refactoring, no-changelog-entry-needed

#14984 ruff isort coordinates
  .ruff.toml
  astropy/coordinates/__init__.py
  astropy/coordinates/representation/__init__.py
  astropy/coordinates/representation/base.py
  astropy/coordinates/representation/cartesian.py
  astropy/coordinates/representation/cylindrical.py
  astropy/coordinates/representation/geodetic.py
  astropy/coordinates/representation/spherical.py
  astropy/coordinates/spectral_quantity.py
  astropy/coordinates/tests/test_geodetic_representations.py
  astropy/coordinates/tests/test_polarization.py
  astropy/coordinates/tests/test_spectral_coordinate.py
Labels: coordinates, no-changelog-entry-needed, dev-automation

#14989 ruff isort astropy.convolution
  .ruff.toml
  astropy/convolution/core.py
  astropy/convolution/kernels.py
Labels: convolution, no-changelog-entry-needed

#14988 Skip registering abstract classes with YAML
  astropy/cosmology/_io/tests/test_yaml.py
  astropy/cosmology/core.py
  docs/changes/cosmology/14979.feature.rst
Labels: Bug, cosmology, Affects-dev, skip-changelog-checks, Extra CI

#14953 Use explicit imports
  astropy/cosmology/__init__.py
  astropy/cosmology/flrw/__init__.py
  astropy/cosmology/parameters.py
  astropy/cosmology/realizations.py
Labels: cosmology, no-changelog-entry-needed

#14991 fix w0wz de_density_scale
  astropy/cosmology/flrw/tests/test_w0wzcdm.py
  astropy/cosmology/flrw/w0wzcdm.py
  astropy/cosmology/tests/test_core.py
  astropy/cosmology/tests/test_utils.py
  docs/changes/cosmology/14991.bugfix.rst
Labels: Bug, cosmology, backport-v5.0.x, backport-v5.3.x

#15005 Backport PR #14991 on branch v5.3.x (fix w0wz de_density_scale)
  astropy/cosmology/flrw/tests/test_w0wzcdm.py
  astropy/cosmology/flrw/w0wzcdm.py
  astropy/cosmology/tests/test_core.py
  astropy/cosmology/tests/test_utils.py
  docs/changes/cosmology/14991.bugfix.rst
Labels: Bug, cosmology, backport-v5.0.x, backport-v5.3.x

#14999 Fix Cutout2D with CompImageHDU.section
  astropy/nddata/tests/test_utils.py
  astropy/nddata/utils.py
  docs/changes/io.fits/14999.bugfix.rst
Labels: io.fits, nddata, Bug, backport-v5.3.x

#15001 Fixed a bug that caused compressed images with TFORM missing the optional '1' prefix to not be readable
  astropy/io/fits/_tiled_compression/tiled_compression.py
  astropy/io/fits/tests/test_image.py
  docs/changes/io.fits/15001.bugfix.rst
Labels: io.fits, Bug, backport-v5.3.x

#15008 Backport PR #14999 on branch v5.3.x (Fix Cutout2D with CompImageHDU.section)
  astropy/nddata/tests/test_utils.py
  astropy/nddata/utils.py
  docs/changes/io.fits/14999.bugfix.rst
Labels: io.fits, nddata, Bug, backport-v5.3.x
