Repository astropy/astropy, pull requests merged in 2023-03, with the labels that each got.

#14453 switch isort to ruff
  .pre-commit-config.yaml
  pyproject.toml
Labels: installation, no-changelog-entry-needed, merge-when-ci-passes, skip-changelog-checks, dev-automation

#14484 Add np.max and np.min to SUBCLASS_SAFE_FUNCTIONS
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/tests/test_quantity_non_ufuncs.py
  astropy/utils/masked/tests/test_function_helpers.py
Labels: units, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x

#14487 Backport PR #14484 on branch v5.2.x (Add np.max and np.min to SUBCLASS_SAFE_FUNCTIONS)
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/tests/test_quantity_non_ufuncs.py
  astropy/utils/masked/tests/test_function_helpers.py
Labels: units, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x

#14488 Backport PR #14484 on branch v5.0.x (Add np.max and np.min to SUBCLASS_SAFE_FUNCTIONS)
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/tests/test_quantity_non_ufuncs.py
  astropy/utils/masked/tests/test_function_helpers.py
Labels: units, Manual Backport, skip-changelog-checks, skip-basebranch-check, utils.masked

#13993 Add ``refresh_cache`` option to ``EarthLocation`` methods
  astropy/coordinates/earth.py
  astropy/coordinates/errors.py
  astropy/coordinates/tests/test_sites.py
  docs/changes/coordinates/13993.feature.rst
  docs/coordinates/index.rst
  docs/whatsnew/5.3.rst
Labels: coordinates, Enhancement, whatsnew-needed

#13988 Document coords attribute of WCSAxes
  astropy/visualization/wcsaxes/core.py
Labels: Docs, no-changelog-entry-needed, visualization.wcsaxes, merge-when-ci-passes

#14481 Adds a dev container to help get started with GitHub Codespaces
  .devcontainer/devcontainer.json
  .devcontainer/welcome-message.txt
  README.rst
  setup.cfg
Labels: Docs, Enhancement, no-changelog-entry-needed, dev-automation

#13990 Misc tests to increase WCSAxes coverage
  astropy/visualization/wcsaxes/tests/test_misc.py
Labels: testing, no-changelog-entry-needed, visualization.wcsaxes

#14428 Expose tile shape and compression type on CompImageHDU
  astropy/io/fits/_tiled_compression/tests/test_fitsio.py
  astropy/io/fits/_tiled_compression/tests/test_tiled_compression.py
  astropy/io/fits/_tiled_compression/tiled_compression.py
  astropy/io/fits/hdu/compressed.py
  astropy/io/fits/tests/test_image.py
  docs/changes/io.fits/14428.api.rst
  docs/changes/io.fits/14428.feature.rst
Labels: io.fits

#14495 Fixed incorrect attribute access in high level WCS classes
  astropy/wcs/wcsapi/high_level_api.py
  astropy/wcs/wcsapi/tests/test_high_level_api.py
  docs/changes/wcs/14495.bugfix.rst
Labels: wcs, Bug, wcs.wcsapi, backport-v5.0.x, backport-v5.2.x

#14496 Backport PR #14495 on branch v5.2.x (Fixed incorrect attribute access in high level WCS classes)
  astropy/wcs/wcsapi/high_level_api.py
  astropy/wcs/wcsapi/tests/test_high_level_api.py
  docs/changes/wcs/14495.bugfix.rst
Labels: wcs, Bug, wcs.wcsapi, backport-v5.0.x, backport-v5.2.x

#14493 removed unnecessary import of astropy.table when data is None
  astropy/io/fits/hdu/table.py
Labels: io.fits, Performance, no-changelog-entry-needed

#14499 Manual backport of PR14495 to v5.0.x (Fixed incorrect attribute access in high level WCS classes)
  astropy/wcs/wcsapi/high_level_api.py
  astropy/wcs/wcsapi/tests/test_high_level_api.py
  docs/changes/wcs/14495.bugfix.rst
Labels: wcs, Manual Backport, skip-changelog-checks, wcs.wcsapi, skip-basebranch-check

#14500 Modified `astropy.units.Quantity.__array_ufunc__` to catch `AttributeError`
  astropy/units/quantity.py
  astropy/units/tests/test_quantity_ufuncs.py
Labels: units, Affects-dev, no-changelog-entry-needed, merge-when-ci-passes

#14501 Improve example in docs for model fitting with constraints
  docs/modeling/example-fitting-constraints.rst
Labels: Docs, modeling, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x

#14502 Run the `ruff` pre-commit hook before `black`
  .pre-commit-config.yaml
Labels: no-changelog-entry-needed, skip-changelog-checks, dev-automation

#14503 Backport PR #14501 on branch v5.0.x (Improve example in docs for model fitting with constraints)
  docs/modeling/example-fitting-constraints.rst
Labels: Docs, modeling, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x

#14012 Refactor common code in `KingProjectedAnalytic1D`
  astropy/modeling/functional_models.py
Labels: modeling, Refactoring, no-changelog-entry-needed, black

#14430 Improve the performance of tiled decompression
  astropy/io/fits/_tiled_compression/codecs.py
  astropy/io/fits/_tiled_compression/quantization.py
  astropy/io/fits/_tiled_compression/src/compression.c
  astropy/io/fits/_tiled_compression/tiled_compression.py
  astropy/io/fits/_tiled_compression/utils.py
  astropy/io/fits/hdu/compressed.py
  astropy/io/fits/hdu/table.py
  docs/io/fits/usage/image.rst
Labels: testing, Docs, io.fits, Affects-dev, no-changelog-entry-needed

#14439 Avoid resorting units when converting to strings
  astropy/modeling/physical_models.py
  astropy/nddata/tests/test_nddata.py
  astropy/units/format/generic.py
  astropy/units/tests/test_format.py
  astropy/units/tests/test_units.py
  docs/changes/units/14439.api.rst
  docs/units/combining_and_defining.rst
  docs/units/decomposing_and_composing.rst
  docs/units/equivalencies.rst
  docs/units/format.rst
  docs/units/logarithmic_units.rst
  docs/units/quantity.rst
  docs/whatsnew/5.3.rst
Labels: io.fits, nddata, units, modeling, Ready-for-final-review, API change

#14510 Fix numpy 1.25 deprecation warnings.
  astropy/convolution/convolve.py
  astropy/io/fits/_tiled_compression/tests/test_fitsio.py
  astropy/io/fits/tests/test_image.py
  astropy/modeling/tests/test_core.py
  astropy/units/tests/test_quantity_non_ufuncs.py
  astropy/utils/masked/tests/test_function_helpers.py
  examples/io/skip_create-large-fits.py
Labels: Docs, modeling, convolution, no-changelog-entry-needed, numpy-dev, backport-v5.0.x, backport-v5.2.x

#14520 Backport PR #14510 on branch v5.2.x (Fix numpy 1.25 deprecation warnings.)
  astropy/convolution/convolve.py
  astropy/modeling/tests/test_core.py
  astropy/units/tests/test_quantity_non_ufuncs.py
  astropy/utils/masked/tests/test_function_helpers.py
  examples/io/skip_create-large-fits.py
Labels: Docs, units, modeling, convolution, no-changelog-entry-needed, numpy-dev, utils.masked

#14521 Backport PR #14510 on branch v5.0.x (Fix numpy 1.25 deprecation warnings.)
  astropy/convolution/convolve.py
  astropy/modeling/tests/test_core.py
  astropy/units/tests/test_quantity_non_ufuncs.py
  astropy/utils/masked/tests/test_function_helpers.py
  examples/io/skip_create-large-fits.py
Labels: Docs, units, modeling, convolution, no-changelog-entry-needed, numpy-dev, utils.masked

#14508 Fixed incorrect string representation of floats in Cards
  astropy/io/fits/card.py
  astropy/io/fits/tests/test_header.py
  docs/changes/io.fits/14508.bugfix.rst
Labels: io.fits, Bug

#14519 Bugfix: propagation of measurement uncertainties into parameter covariances
  astropy/modeling/fitting.py
  astropy/modeling/tests/test_fitters.py
  docs/changes/modeling/14519.api.rst
  docs/whatsnew/5.3.rst
Labels: Bug, modeling, whatsnew-needed, API change

#14525 [pre-commit.ci] pre-commit autoupdate (try 2)
  .pre-commit-config.yaml
  astropy/coordinates/tests/test_spectral_coordinate.py
  astropy/io/ascii/tests/data/cds/glob/ReadMe
  astropy/io/fits/tests/test_hdulist.py
  astropy/io/fits/tests/test_table.py
  astropy/samp/tests/web_profile_test_helpers.py
  pyproject.toml
Labels: io.fits, io.ascii, coordinates, installation, samp, no-changelog-entry-needed, skip-changelog-checks, dev-automation

#14529 Update circvar docstring for scipy updates
  astropy/stats/circstats.py
Labels: Docs, stats, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x

#14532 Backport PR #14529 on branch v5.2.x (Update circvar docstring for scipy updates)
  astropy/stats/circstats.py
Labels: Docs, stats, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x

#14319 DOC: Remove towncrier pin
  setup.cfg
Labels: Docs, installation, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x

#14530 TST: Pass env vars into OpenAstronomy GHA workflows
  .github/workflows/ci_workflows.yml
Labels: testing, no-changelog-entry-needed

#14528 Fix missing .shape check for array data
  astropy/io/fits/hdu/image.py
  astropy/io/fits/tests/test_hdulist.py
  astropy/io/fits/tests/test_image.py
  docs/changes/io.fits/14528.bugfix.rst
Labels: io.fits, Bug

#14517 Release: Drop i686 wheels
  .github/workflows/publish.yml
  docs/changes/14517.other.rst
  pyproject.toml
Labels: testing, Release, installation, platform-i386, Build all wheels

#14539 Fix FITSDiff for Q type VLA
  astropy/io/fits/diff.py
  astropy/io/fits/tests/test_diff.py
  docs/changes/io.fits/14539.bugfix.rst
Labels: io.fits, Bug, backport-v5.0.x, backport-v5.2.x

#14544 Backport PR #14539 on branch v5.2.x (Fix FITSDiff for Q type VLA)
  astropy/io/fits/diff.py
  astropy/io/fits/tests/test_diff.py
  docs/changes/io.fits/14539.bugfix.rst
Labels: io.fits, Bug, backport-v5.0.x, backport-v5.2.x

#14543 Backport PR #14539 on branch v5.0.x (Fix FITSDiff for Q type VLA)
  astropy/io/fits/diff.py
  astropy/io/fits/tests/test_diff.py
  docs/changes/io.fits/14539.bugfix.rst
Labels: io.fits, Bug, backport-v5.0.x, backport-v5.2.x

#14547 Backport PR #14494 on branch v5.2.x (DOC: Exclude some URLs from linkcheck)
  astropy/io/votable/validator/main.py
  docs/conf.py
  docs/io/ascii/ecsv.rst
  docs/io/ascii/index.rst
  docs/samp/example_clients.rst
  docs/samp/example_hub.rst
  docs/samp/example_table_image.rst
  docs/samp/index.rst
Labels: Docs, no-changelog-entry-needed, Extra CI, backport-v5.0.x, backport-v5.2.x

#14546 Backport PR #14494 on branch v5.0.x (DOC: Exclude some URLs from linkcheck)
  astropy/io/votable/validator/main.py
  docs/conf.py
  docs/io/ascii/ecsv.rst
  docs/io/ascii/index.rst
  docs/samp/example_clients.rst
  docs/samp/example_hub.rst
  docs/samp/example_table_image.rst
  docs/samp/index.rst
Labels: Docs, no-changelog-entry-needed, Extra CI, backport-v5.0.x, backport-v5.2.x

#14516 BUG: ignore io.misc.asdf tests for asdf >= 3.0.0.dev
  astropy/io/misc/asdf/conftest.py
Labels: testing, no-changelog-entry-needed, io.misc.asdf, backport-v5.0.x, backport-v5.2.x

#14550 TST: Only run some doctest with numpy<1.25
  setup.cfg
Labels: testing, Docs, io.fits, installation, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x

#14552 Backport PR #14550 on branch v5.2.x (TST: Only run some doctest with numpy<1.25)
  setup.cfg
Labels: testing, Docs, io.fits, installation, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x

#14551 Backport PR #14550 on branch v5.0.x (TST: Only run some doctest with numpy<1.25)
  setup.cfg
Labels: testing, Docs, io.fits, installation, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x

#14554 Updating the UCD list to upstream version 1.5
  astropy/io/votable/data/ucd1p-words.txt
  astropy/io/votable/ucd.py
  docs/changes/io.votable/14554.feature.rst
Labels: io.votable

#14559 DOC: Update TOPCAT links and reuse same ref throughout
  astropy/io/votable/validator/main.py
  docs/common_links.txt
  docs/io/ascii/ecsv.rst
  docs/io/ascii/index.rst
  docs/samp/example_clients.rst
  docs/samp/example_hub.rst
  docs/samp/example_table_image.rst
  docs/samp/index.rst
Labels: io.votable, Docs, io.ascii, Affects-dev, samp, no-changelog-entry-needed, Extra CI, backport-v5.0.x, backport-v5.2.x

#14561 Backport PR #14559 on branch v5.2.x (DOC: Update TOPCAT links and reuse same ref throughout)
  astropy/io/votable/validator/main.py
  docs/common_links.txt
  docs/io/ascii/ecsv.rst
  docs/io/ascii/index.rst
  docs/samp/example_clients.rst
  docs/samp/example_hub.rst
  docs/samp/example_table_image.rst
  docs/samp/index.rst
Labels: io.votable, Docs, io.ascii, Affects-dev, samp, no-changelog-entry-needed, Extra CI, backport-v5.0.x, backport-v5.2.x

#14568 TST: Ensure we use minversion of pyerfa in oldestdeps, skip URL in linkcheck
  docs/conf.py
  tox.ini
Labels: testing, Docs, no-changelog-entry-needed, Extra CI, backport-v5.2.x

#14569 Backport of PR 14568 onto v5.2.x (TST: Ensure we use minversion of pyerfa in oldestdeps, skip URL in linkcheck)
  docs/conf.py
  tox.ini
Labels: testing, Docs, no-changelog-entry-needed, Manual Backport, skip-basebranch-check, Extra CI

#14570 TST: Apparently Danbury CT moved a little
  docs/coordinates/index.rst
Labels: testing, Docs, coordinates, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x

#14573 Backport PR #14570 on branch v5.2.x (TST: Apparently Danbury CT moved a little)
  docs/coordinates/index.rst
Labels: testing, Docs, coordinates, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x

#14572 Backport PR #14570 on branch v5.0.x (TST: Apparently Danbury CT moved a little)
  docs/coordinates/index.rst
Labels: testing, Docs, coordinates, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x

#14582 BUG: fix asdf 3.0 version check
  astropy/io/misc/asdf/conftest.py
Labels: testing, no-changelog-entry-needed, io.misc.asdf, backport-v5.0.x, backport-v5.2.x

#14585 Backport PR #14582 on branch v5.2.x (BUG: fix asdf 3.0 version check)
  astropy/io/misc/asdf/conftest.py
Labels: testing, no-changelog-entry-needed, io.misc.asdf, backport-v5.0.x, backport-v5.2.x

#14584 Backport PR #14582 on branch v5.0.x (BUG: fix asdf 3.0 version check)
  astropy/io/misc/asdf/conftest.py
Labels: testing, no-changelog-entry-needed, io.misc.asdf, backport-v5.0.x, backport-v5.2.x

#14586 DOC: fix typos
  astropy/convolution/convolve.py
Labels: Docs, convolution, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x

#14588 Backport PR #14586 on branch v5.2.x (DOC: fix typos)
  astropy/convolution/convolve.py
Labels: Docs, convolution, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x

#14592 Finalizing changelog for v5.0.6
  CHANGES.rst
  docs/changes/14020.other.rst
  docs/changes/convolution/14035.bugfix.rst
  docs/changes/coordinates/13933.bugfix.rst
  docs/changes/cosmology/14232.bugfix.rst
  docs/changes/io.ascii/14369.bugfix.rst
  docs/changes/io.fits/13417.bugfix.rst
  docs/changes/io.fits/14539.bugfix.rst
  docs/changes/io.votable/14102.bugfix.rst
  docs/changes/table/14357.bugfix.rst
  docs/changes/timeseries/13069.bugfix.rst
  docs/changes/units/13913.bugfix.rst
  docs/changes/units/14046.feature.rst
  docs/changes/units/14369.bugfix.rst
  docs/changes/utils/14092.bugfix.rst
  docs/changes/utils/14113.bugfix.rst
  docs/changes/visualization/13898.bugfix.rst
  docs/changes/visualization/14211.bugfix.rst
  docs/changes/wcs/14495.bugfix.rst
Labels: wcs, table, units, coordinates, cosmology, utils, convolution, visualization, skip-changelog-checks, timeseries, skip-basebranch-check

#14593 Finalizing changelog for v5.2.2
  CHANGES.rst
  docs/changes/io.ascii/14369.bugfix.rst
  docs/changes/io.fits/14539.bugfix.rst
  docs/changes/table/14357.bugfix.rst
  docs/changes/units/14369.bugfix.rst
  docs/changes/wcs/14495.bugfix.rst
Labels: wcs, table, units, Release, skip-changelog-checks, skip-basebranch-check, backport-main

#14591 Ensure np.fix works on Masked data for numpy 1.25 for older astropy
  astropy/utils/masked/function_helpers.py
Labels: utils, no-changelog-entry-needed, numpy-dev, skip-basebranch-check, utils.masked, backport-v5.0.x

#14590 Support masked where in ufuncs
  astropy/utils/masked/core.py
  astropy/utils/masked/tests/test_functions.py
  docs/changes/utils/14590.api.rst
Labels: utils, numpy-dev, API change, utils.masked

#14595 Backport PR #14591 on branch v5.0.x (Ensure np.fix works on Masked data for numpy 1.25 for older astropy
  astropy/utils/masked/function_helpers.py
Labels: no-changelog-entry-needed, numpy-dev, Manual Backport, skip-changelog-checks, skip-basebranch-check, utils.masked

#14594 Backport PR #14593 on branch main (Finalizing changelog for v5.2.2)
  CHANGES.rst
  docs/changes/io.ascii/14369.bugfix.rst
  docs/changes/io.fits/14539.bugfix.rst
  docs/changes/table/14357.bugfix.rst
  docs/changes/units/14369.bugfix.rst
  docs/changes/wcs/14495.bugfix.rst
Labels: wcs, table, units, Release, skip-changelog-checks, skip-basebranch-check, backport-main

#14596 Tests for where overrides in __array_ufunc__
  astropy/units/tests/test_quantity_ufuncs.py
  astropy/utils/masked/tests/test_function_helpers.py
Labels: testing, units, no-changelog-entry-needed, numpy-dev, utils.masked

#14597 Fix `astropy` citations
  astropy/CITATION
Labels: Docs, Bug, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x

#14599 Backport PR #14597 on branch v5.0.x (Fix `astropy` citations)
  astropy/CITATION
Labels: Docs, Bug, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x

#14600 Backport PR #14597 on branch v5.2.x (Fix `astropy` citations)
  astropy/CITATION
Labels: Docs, Bug, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x

#14251 [FIX] _transform_plot_args was converting to degrees instead of coord_unit
  astropy/tests/figures/py39-test-image-mpl322-cov.json
  astropy/tests/figures/py39-test-image-mpldev-cov.json
  astropy/visualization/wcsaxes/core.py
  astropy/visualization/wcsaxes/tests/test_wcsapi.py
  docs/changes/visualization/14251.bugfix.rst
Labels: Bug, visualization.wcsaxes, merge-when-ci-passes

#14601 Change daily chron to 3.11 and add manual trigger
  .github/workflows/ci_cron_daily.yml
  setup.cfg
Labels: testing, no-changelog-entry-needed, Extra CI

#14604 Backport PR #14251: [FIX] _transform_plot_args was converting to degrees instead of coord_unit
  astropy/tests/figures/py39-test-image-mpl311-cov.json
  astropy/tests/figures/py39-test-image-mpldev-cov.json
  astropy/visualization/wcsaxes/core.py
  astropy/visualization/wcsaxes/tests/test_wcsapi.py
  docs/changes/visualization/14251.bugfix.rst
Labels: testing, visualization, visualization.wcsaxes, Manual Backport, skip-changelog-checks, skip-basebranch-check

#14603 Backport PR #14251: [FIX] _transform_plot_args was converting to degrees instead of coord_unit
  astropy/tests/figures/py39-test-image-mpl311.json
  astropy/tests/figures/py39-test-image-mpldev.json
  astropy/visualization/wcsaxes/core.py
  astropy/visualization/wcsaxes/tests/test_wcsapi.py
  docs/changes/visualization/14251.bugfix.rst
Labels: testing, visualization, visualization.wcsaxes, Manual Backport, skip-changelog-checks, skip-basebranch-check

#13989 Deprecate getting/setting pix on WCSAxes Spine
  astropy/visualization/wcsaxes/frame.py
  docs/changes/visualization/13989.api.rst
  docs/changes/visualization/13989.bugfix.rst
Labels: visualization, Refactoring, visualization.wcsaxes, merge-when-ci-passes, API change

#14518 Ensure we only propagate info for new views when needed.
  astropy/units/quantity.py
  astropy/units/tests/test_quantity_info.py
Labels: units, Bug, Affects-dev, no-changelog-entry-needed
