Repository astropy/astropy, pull requests merged in 2023-11, with the labels that each got.

#15547 cosmo: make derived_parameters private
  astropy/cosmology/core.py
  astropy/cosmology/flrw/tests/test_base.py
  astropy/cosmology/parameter/_descriptors.py
  astropy/cosmology/parameter/tests/test_descriptors.py
  astropy/cosmology/parameter/tests/test_parameter.py
  astropy/cosmology/tests/test_core.py
  docs/changes/cosmology/15168.feature.rst
Labels: Docs, cosmology, Affects-dev, skip-changelog-checks, backport-v6.0.x

#15562 Removed OrderedDict from tests
  astropy/tests/runner.py
Labels: testing, Refactoring, no-changelog-entry-needed

#15563 Remove needless Black and Ruff settings
  pyproject.toml
Labels: installation, no-changelog-entry-needed

#15570 Remove `fmt: off` instruction from `coordinates`
  astropy/coordinates/tests/test_polarization.py
Labels: testing, coordinates, no-changelog-entry-needed, black

#15571 Backport PR #15569 on branch v6.0.x (Update minimum required version of astropy-iers-data)
  pyproject.toml
Labels: no-changelog-entry-needed, utils.iers, backport-v6.0.x

#15573 DEV: Update IERS pin auto-update instructions
  .github/workflows/update_astropy_iers_data_pin.yml
Labels: testing, no-changelog-entry-needed, dev-automation

#15572 DOC: Add branch protection rules to new release branch
  docs/development/releasing.rst
Labels: Docs, Release, no-changelog-entry-needed, dev-automation

#15568 MNT: Stop updating IERS in v5.0.x and v5.3.x
  .github/workflows/update_iers.yml
Labels: testing, no-changelog-entry-needed, dev-automation

#15574 Fix marking in docstring to `astropy.stats.histogram`
  astropy/stats/histogram.py
Labels: Docs, stats, no-changelog-entry-needed

#15577 Backport PR #15574 on branch v6.0.x (Fix marking in docstring to `astropy.stats.histogram`)
  astropy/stats/histogram.py
Labels: Docs, stats, no-changelog-entry-needed, backport-v6.0.x

#15578 Update stats main docs page
  docs/stats/index.rst
Labels: Docs, stats, no-changelog-entry-needed, backport-v6.0.x

#15580 Update credits and mailmap
  .mailmap
  docs/credits.rst
Labels: Docs, no-changelog-entry-needed, backport-v6.0.x

#15581 Backport PR #15578 on branch v6.0.x (Update stats main docs page)
  docs/stats/index.rst
Labels: Docs, stats, no-changelog-entry-needed, backport-v6.0.x

#15582 Backport PR #15580 on branch v6.0.x (Update credits and mailmap)
  .mailmap
  docs/credits.rst
Labels: Docs, no-changelog-entry-needed, backport-v6.0.x

#15583 Remove needless Black `fmt` instructions from a test file
  astropy/io/ascii/tests/test_cds.py
Labels: testing, io.ascii, no-changelog-entry-needed, black

#14723 Table io null fix
  astropy/io/fits/connect.py
  astropy/io/fits/tests/test_connect.py
  astropy/table/table.py
  astropy/table/tests/test_table.py
  docs/changes/io.fits/14723.bugfix.rst
  docs/changes/table/14723.bugfix.rst
Labels: table, io.fits, Bug, unified-io, Close?, backport-v5.0.x, backport-v5.3.x, backport-v6.0.x

#15584 Backport PR #14723 on branch v6.0.x (Table io null fix)
  astropy/io/fits/connect.py
  astropy/io/fits/tests/test_connect.py
  astropy/table/table.py
  astropy/table/tests/test_table.py
  docs/changes/io.fits/14723.bugfix.rst
  docs/changes/table/14723.bugfix.rst
Labels: table, io.fits, Bug, unified-io, backport-v6.0.x

#15585 Update expat to 2.5.0
  cextern/expat/.gitignore
  cextern/expat/COPYING
  cextern/expat/Changes
  cextern/expat/README.md
  cextern/expat/expat_config.h
  cextern/expat/expat_config.h.in
  cextern/expat/lib/.gitignore
  cextern/expat/lib/Makefile.am
  cextern/expat/lib/Makefile.in
  cextern/expat/lib/ascii.h
  cextern/expat/lib/asciitab.h
  cextern/expat/lib/expat.h
  cextern/expat/lib/expat_external.h
  cextern/expat/lib/iasciitab.h
  cextern/expat/lib/internal.h
  cextern/expat/lib/latin1tab.h
  cextern/expat/lib/libexpat.def
  cextern/expat/lib/libexpatw.def
  cextern/expat/lib/nametab.h
  cextern/expat/lib/siphash.h
  cextern/expat/lib/utf8tab.h
  cextern/expat/lib/winconfig.h
  cextern/expat/lib/xmlparse.c
  cextern/expat/lib/xmlrole.c
  cextern/expat/lib/xmlrole.h
  cextern/expat/lib/xmltok.c
  cextern/expat/lib/xmltok.h
  cextern/expat/lib/xmltok_impl.c
  cextern/expat/lib/xmltok_impl.h
  cextern/expat/lib/xmltok_ns.c
  cextern/trim_expat.sh
  docs/changes/15585.other.rst
Labels: utils, external, backport-v6.0.x

#15587 Backport PR #15585 on branch v6.0.x (Update expat to 2.5.0)
  cextern/expat/.gitignore
  cextern/expat/COPYING
  cextern/expat/Changes
  cextern/expat/README.md
  cextern/expat/expat_config.h
  cextern/expat/expat_config.h.in
  cextern/expat/lib/.gitignore
  cextern/expat/lib/Makefile.am
  cextern/expat/lib/Makefile.in
  cextern/expat/lib/ascii.h
  cextern/expat/lib/asciitab.h
  cextern/expat/lib/expat.h
  cextern/expat/lib/expat_external.h
  cextern/expat/lib/iasciitab.h
  cextern/expat/lib/internal.h
  cextern/expat/lib/latin1tab.h
  cextern/expat/lib/libexpat.def
  cextern/expat/lib/libexpatw.def
  cextern/expat/lib/nametab.h
  cextern/expat/lib/siphash.h
  cextern/expat/lib/utf8tab.h
  cextern/expat/lib/winconfig.h
  cextern/expat/lib/xmlparse.c
  cextern/expat/lib/xmlrole.c
  cextern/expat/lib/xmlrole.h
  cextern/expat/lib/xmltok.c
  cextern/expat/lib/xmltok.h
  cextern/expat/lib/xmltok_impl.c
  cextern/expat/lib/xmltok_impl.h
  cextern/expat/lib/xmltok_ns.c
  cextern/trim_expat.sh
  docs/changes/15585.other.rst
Labels: utils, external, backport-v6.0.x

#15588 Backport PR #15579 on branch v6.0.x (Allow namespace packages to avoid warnings about data files)
  .github/workflows/ci_cron_weekly.yml
  pyproject.toml
Labels: installation, no-changelog-entry-needed, Extra CI, backport-v6.0.x

#15590 Adjust indentation in a LaTeX writing test
  astropy/io/ascii/tests/test_write.py
Labels: testing, io.ascii, Refactoring, no-changelog-entry-needed

#15591 `pre-commit` manual update
  .pre-commit-config.yaml
  CHANGES.rst
  astropy/coordinates/builtin_frames/fk4_fk5_transforms.py
  astropy/coordinates/transformations.py
  astropy/modeling/projections.py
  astropy/stats/sigma_clipping.py
  astropy/table/table.py
  astropy/time/tests/test_sidereal.py
  astropy/timeseries/periodograms/lombscargle_multiband/tests/test_lombscargle_multiband.py
  astropy/units/photometric.py
  astropy/utils/tests/test_data.py
  astropy/visualization/wcsaxes/tests/test_images.py
  examples/coordinates/rv-to-gsr.py
  pyproject.toml
Labels: table, Docs, time, units, coordinates, modeling, utils, installation, stats, no-changelog-entry-needed, visualization.wcsaxes, skip-changelog-checks, timeseries, dev-automation

#15592 Backport PR #15589 on branch v6.0.x (Install openblas to compile recent Numpy versions)
  .github/workflows/ci_cron_weekly.yml
  astropy/utils/masked/tests/test_masked.py
Labels: testing, no-changelog-entry-needed, Extra CI, backport-v6.0.x

#15354 Start enforcing Ruff `flake8-annotations (ANN)` ruleset
  .ruff.toml
  astropy/coordinates/builtin_frames/galactocentric.py
  astropy/cosmology/core.py
  astropy/modeling/bounding_box.py
  pyproject.toml
Labels: coordinates, modeling, cosmology, installation, no-changelog-entry-needed, dev-automation

#15596 DOC: Fix dev docs in release branch (v6.0.x) TRY 2
  docs/conf.py
  docs/index.rst
  docs/index_dev.rst
  docs/whatsnew/6.0.rst
Labels: Docs, Bug, no-changelog-entry-needed, skip-basebranch-check, backport-main

#15602 Forwardport PR 15596 onto main (DOC: Fix dev docs in release branch (v6.0.x) TRY 2)
  docs/conf.py
  docs/index.rst
  docs/index_dev.rst
Labels: Docs, Bug, no-changelog-entry-needed

#15599 Remove `if __name__ == "__main__":` block from a test file
  astropy/io/ascii/tests/test_cds_header_from_readme.py
Labels: testing, io.ascii, no-changelog-entry-needed

#15604 Ensure TimeDelta can be initialized with empty quantity.
  astropy/time/core.py
  astropy/time/tests/test_basic.py
Labels: time, Bug, Affects-dev, no-changelog-entry-needed, backport-v6.0.x

#15605 Use __array_wrap__ instead of __array_prepare__
  astropy/nddata/compat.py
Labels: nddata, Refactoring, no-changelog-entry-needed, backport-v6.0.x

#15606 Backport PR #15604 on branch v6.0.x (Ensure TimeDelta can be initialized with empty quantity.)
  astropy/time/core.py
  astropy/time/tests/test_basic.py
Labels: time, Bug, Affects-dev, no-changelog-entry-needed, backport-v6.0.x

#15607 Backport PR #15605 on branch v6.0.x (Use __array_wrap__ instead of __array_prepare__)
  astropy/nddata/compat.py
Labels: nddata, Refactoring, no-changelog-entry-needed, backport-v6.0.x

#15609 Remove obsolete known issues
  docs/known_issues.rst
Labels: Docs, units, no-changelog-entry-needed, backport-v6.0.x

#15610 Backport PR #15609 on branch v6.0.x (Remove obsolete known issues)
  docs/known_issues.rst
Labels: Docs, units, no-changelog-entry-needed, backport-v6.0.x

#15600 Let Pandas Series work as redshift inputs
  astropy/cosmology/_utils.py
  astropy/cosmology/flrw/tests/test_base.py
  astropy/cosmology/tests/test_utils.py
  docs/changes/cosmology/15600.bugfix.rst
Labels: Bug, cosmology, backport-v6.0.x

#15612 Use correct components of posvel for position in _get_body_barycentric_posvel
  astropy/coordinates/solar_system.py
  astropy/coordinates/tests/test_solar_system.py
  docs/changes/coordinates/15612.bugfix.rst
Labels: Bug, coordinates, backport-v6.0.x

#15614 Backport PR #15612 on branch v6.0.x (Use correct components of posvel for position in _get_body_barycentric_posvel)
  astropy/coordinates/solar_system.py
  astropy/coordinates/tests/test_solar_system.py
  docs/changes/coordinates/15612.bugfix.rst
Labels: Bug, coordinates, backport-v6.0.x

#15619 Fix docstrings describing max_cut
  astropy/visualization/mpl_normalize.py
  astropy/visualization/scripts/fits2bitmap.py
Labels: Docs, Bug, visualization, no-changelog-entry-needed, backport-v6.0.x

#15620 Backport PR #15619 on branch v6.0.x (Fix docstrings describing max_cut)
  astropy/visualization/mpl_normalize.py
  astropy/visualization/scripts/fits2bitmap.py
Labels: Docs, Bug, visualization, no-changelog-entry-needed, backport-v6.0.x

#15549 Cosmo parameter tests
  astropy/cosmology/parameter/tests/test_parameter.py
Labels: testing, cosmology, no-changelog-entry-needed

#15367 Start using Scientific Python's repo-review
  .pre-commit-config.yaml
  .ruff.toml
  pyproject.toml
Labels: installation, no-changelog-entry-needed, skip-changelog-checks, dev-automation

#15628 chore: bump repo-review and cleanup a bit
  .pre-commit-config.yaml
  pyproject.toml
Labels: installation, no-changelog-entry-needed, skip-changelog-checks, dev-automation

#14977 Remove deprecated Quantity.nansum() method
  astropy/units/quantity.py
  astropy/units/tests/test_quantity_array_methods.py
  docs/changes/units/14977.api.rst
Labels: units, API change

#15637 Revert "Remove deprecated Quantity.nansum() method"
  astropy/units/quantity.py
  astropy/units/tests/test_quantity_array_methods.py
  docs/changes/units/14977.api.rst
Labels: units, skip-changelog-checks

#15634 BLD: fix compatibility issue with setuptools 69.0.0
  astropy/wcs/setup_package.py
Labels: wcs, :fire:, build, no-changelog-entry-needed, backport-v6.0.x

#15639 Backport PR #15634 on branch v6.0.x (BLD: fix compatibility issue with setuptools 69.0.0)
  astropy/wcs/setup_package.py
Labels: wcs, :fire:, build, no-changelog-entry-needed, backport-v6.0.x

#15644 Remove needless `fmt: off` instructions from `utils`
  astropy/utils/tests/test_data.py
  astropy/utils/tests/test_diff.py
Labels: utils, no-changelog-entry-needed, black

#15630 Fix support of custom WCS mapping.
  astropy/wcs/tests/test_utils.py
  astropy/wcs/utils.py
  docs/changes/wcs/15630.bugfix.rst
Labels: wcs, Bug, backport-v6.0.x

#15645 Backport PR #15630 on branch v6.0.x (Fix support of custom WCS mapping.)
  astropy/wcs/tests/test_utils.py
  astropy/wcs/utils.py
  docs/changes/wcs/15630.bugfix.rst
Labels: wcs, Bug, backport-v6.0.x

#15647 Stop worrying about `matplotlib` default epoch
  astropy/time/formats.py
  astropy/time/tests/test_basic.py
  astropy/visualization/tests/test_time.py
Labels: time, visualization, no-changelog-entry-needed

#15623 Replace OrderedDict with dict in nddata module
  astropy/nddata/bitmask.py
  astropy/nddata/flag_collection.py
  astropy/nddata/nddata.py
  astropy/nddata/tests/test_decorators.py
  astropy/nddata/tests/test_nddata.py
Labels: nddata, Refactoring, no-changelog-entry-needed

#15651 Pin numpy<2.0 for v6.0.0
  pyproject.toml
Labels: installation, no-changelog-entry-needed, skip-basebranch-check

#15654 Update security policy after v6.0 release
  SECURITY.md
Labels: Docs, no-changelog-entry-needed

#15632 BLD: Allow numpy 2.x
  astropy/table/column.py
  astropy/table/tests/test_column.py
  pyproject.toml
  tox.ini
Labels: table, installation, build, no-changelog-entry-needed, Build all wheels, backport-v6.0.x

#15658 Backport PR #15632 on branch v6.0.x (BLD: Allow numpy 2.x)
  astropy/table/column.py
  astropy/table/tests/test_column.py
  pyproject.toml
  tox.ini
Labels: table, installation, build, no-changelog-entry-needed, Extra CI, Build all wheels, backport-v6.0.x

#15660 fix: remaining ruff pie790 violations
  .ruff.toml
  astropy/table/column.py
  astropy/table/index.py
  astropy/table/table.py
  astropy/table/tests/test_info.py
  astropy/time/core.py
  astropy/uncertainty/core.py
  astropy/units/core.py
  astropy/units/format/generic.py
  astropy/utils/iers/iers.py
  astropy/utils/tests/test_decorators.py
  astropy/visualization/wcsaxes/core.py
  astropy/wcs/wcs.py
Labels: wcs, table, time, units, utils, no-changelog-entry-needed, visualization.wcsaxes, uncertainty, utils.iers, dev-automation

#15662 fix: ruff c408 in coordinates submodule
  .ruff.toml
  astropy/coordinates/builtin_frames/galactocentric.py
  astropy/coordinates/polarization.py
  astropy/coordinates/representation/base.py
  astropy/coordinates/tests/test_arrays.py
  astropy/coordinates/tests/test_erfa_astrom.py
  astropy/coordinates/tests/test_frames.py
  astropy/coordinates/tests/test_funcs.py
  astropy/coordinates/tests/test_name_resolve.py
  astropy/coordinates/tests/test_regression.py
  astropy/coordinates/tests/test_representation.py
  astropy/coordinates/tests/test_representation_arithmetic.py
  astropy/coordinates/tests/test_sky_coord_velocities.py
  astropy/coordinates/tests/test_spectral_coordinate.py
Labels: coordinates, Refactoring, no-changelog-entry-needed, dev-automation
