Repository astropy/astropy, pull requests merged in 2023-04, with the labels that each got.

#14606 Add strict arg to Time.to_datetime() for leap second handling
  astropy/time/core.py
  astropy/time/formats.py
  astropy/time/tests/test_basic.py
  docs/changes/time/14606.feature.rst
Labels: Feature Request, time

#14566 Disallow the use of quantity input for 'decimalyear' format.
  astropy/time/formats.py
  astropy/time/tests/test_basic.py
  docs/changes/time/14566.bugfix.rst
  docs/time/index.rst
Labels: time, Bug, Ready-for-final-review, backport-v5.0.x, backport-v5.2.x

#14612 Backport PR #14566: Disallow the use of quantity input for 'decimalyear' format
  astropy/time/formats.py
  astropy/time/tests/test_basic.py
  docs/changes/time/14566.bugfix.rst
  docs/time/index.rst
Labels: time, Bug, skip-basebranch-check

#14617 Avoid false positive test for large numbers with opposite sign
  astropy/time/tests/test_precision.py
Labels: testing, time, Bug, no-changelog-entry-needed, Extra CI, backport-v5.0.x, backport-v5.2.x

#14608 BUG: fixing pytest plugin discovery
  astropy/tests/runner.py
Labels: testing, Bug, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x

#14619 Backport PR #14617 on branch v5.2.x (Avoid false positive test for large numbers with opposite sign)
  astropy/time/tests/test_precision.py
Labels: testing, time, Bug, no-changelog-entry-needed, Extra CI, backport-v5.0.x, backport-v5.2.x

#14622 Backport PR #14608 on branch v5.2.x (BUG: fixing pytest plugin discovery)
  astropy/tests/runner.py
Labels: testing, Bug, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x

#14613 Backport PR #14566: Disallow the use of quantity input for 'decimalyear' format (v5.0.x)
  astropy/time/formats.py
  astropy/time/tests/test_basic.py
  docs/changes/time/14566.bugfix.rst
  docs/time/index.rst
Labels: time, Bug, skip-changelog-checks, skip-basebranch-check

#14621 Backport PR #14608 on branch v5.0.x (BUG: fixing pytest plugin discovery)
  astropy/tests/runner.py
Labels: testing, Bug, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x

#14618 Backport PR #14617 on branch v5.0.x (Avoid false positive test for large numbers with opposite sign)
  astropy/time/tests/test_precision.py
Labels: testing, time, Bug, no-changelog-entry-needed, Extra CI, backport-v5.0.x, backport-v5.2.x

#14623 Ignore AsdfDeprecationWarning about blocks in v5.0.x
  astropy/io/misc/asdf/tags/fits/fits.py
Labels: no-changelog-entry-needed, io.misc.asdf, skip-basebranch-check

#14624 Ensure masks are propagated correctly for ufunc.outer
  astropy/utils/masked/core.py
  astropy/utils/masked/tests/test_functions.py
  docs/changes/utils/14624.bugfix.rst
Labels: Bug, utils, utils.masked, backport-v5.0.x, backport-v5.2.x

#14537 Improve `EarthLocation` site registry tests
  astropy/coordinates/earth.py
  astropy/coordinates/tests/test_sites.py
  astropy/coordinates/tests/test_spectral_coordinate.py
Labels: testing, coordinates, no-changelog-entry-needed

#14235 Refactor `coordinates` tests to enable `black` for all the code
  astropy/coordinates/tests/data/barycorr_bvcs.dat
  astropy/coordinates/tests/data/barycorr_bvcs_withvels.dat
  astropy/coordinates/tests/test_frames_with_velocity.py
  astropy/coordinates/tests/test_funcs.py
  astropy/coordinates/tests/test_skyoffset_transformations.py
  astropy/coordinates/tests/test_transformations.py
  astropy/coordinates/tests/test_velocity_corrs.py
Labels: testing, coordinates, Refactoring, no-changelog-entry-needed, black

#14626 Backport PR #14624 on branch v5.0.x (Ensure masks are propagated correctly for ufunc.outer)
  astropy/utils/masked/core.py
  astropy/utils/masked/tests/test_functions.py
  docs/changes/utils/14624.bugfix.rst
Labels: Bug, utils, utils.masked, backport-v5.0.x, backport-v5.2.x

#14627 Backport PR #14624 on branch v5.2.x (Ensure masks are propagated correctly for ufunc.outer)
  astropy/utils/masked/core.py
  astropy/utils/masked/tests/test_functions.py
  docs/changes/utils/14624.bugfix.rst
Labels: Bug, utils, utils.masked, backport-v5.0.x, backport-v5.2.x

#13730 In astropy/utils/data.py, update `_rmtree` to use `shutil.move` instead of `os.rename`.
  astropy/utils/data.py
  astropy/utils/tests/test_data.py
  docs/changes/utils/13730.bugfix.rst
Labels: Bug, utils, Extra CI

#14630 Backport PR #14629 on branch v5.0.x (Improve the docstring of `Table.rename_column()`)
  astropy/table/table.py
Labels: table, Docs, no-changelog-entry-needed, merge-when-ci-passes, backport-v5.0.x, backport-v5.2.x

#14631 Backport PR #14629 on branch v5.2.x (Improve the docstring of `Table.rename_column()`)
  astropy/table/table.py
Labels: table, Docs, no-changelog-entry-needed, merge-when-ci-passes, backport-v5.0.x, backport-v5.2.x

#14633 Remove an obsolete `_array2string()`
  astropy/coordinates/representation.py
Labels: coordinates, Refactoring, no-changelog-entry-needed

#14628 #14536 Issue: Make getting a topocentric ITRS position easier
  astropy/coordinates/earth.py
  astropy/coordinates/tests/test_intermediate_transformations.py
  docs/changes/coordinates/14628.feature.rst
  docs/coordinates/common_errors.rst
Labels: coordinates

#14635 Ensure the unit is kept in ``np.median`` even if the result is a scalar ``nan``
  astropy/stats/funcs.py
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/tests/test_quantity_non_ufuncs.py
  docs/changes/units/14635.bugfix.rst
Labels: units, Bug, stats, backport-v5.0.x, backport-v5.2.x

#14637 Backport PR #14635: Ensure the unit is kept in ``np.median`` even if the result is a scalar ``nan`` (v5.0.x)
  astropy/stats/funcs.py
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/tests/test_quantity_non_ufuncs.py
  docs/changes/units/14635.bugfix.rst
Labels: units, Bug, stats, skip-changelog-checks, skip-basebranch-check

#14636 Backport PR #14635 on branch v5.2.x (Ensure the unit is kept in ``np.median`` even if the result is a scalar ``nan``)
  astropy/stats/funcs.py
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/tests/test_quantity_non_ufuncs.py
  docs/changes/units/14635.bugfix.rst
Labels: units, Bug, stats, backport-v5.0.x, backport-v5.2.x

#14614 Refactor `astropy/coordinates/tests/test_solar_system.py`
  astropy/coordinates/tests/data/jpl_moon.dat
  astropy/coordinates/tests/test_solar_system.py
Labels: testing, coordinates, Refactoring, no-changelog-entry-needed

#14498 Document the policy of contributor `.mailmap` edits
  docs/development/workflow/development_workflow.rst
Labels: Docs, no-changelog-entry-needed

#14421 Ensure Distribution can be used in Latitude and Longitude
  astropy/coordinates/angles.py
  astropy/uncertainty/core.py
  astropy/uncertainty/tests/test_containers.py
  astropy/uncertainty/tests/test_distribution.py
  docs/changes/uncertainty/14421.bugfix.rst
Labels: Bug, coordinates, uncertainty

#14270 Add section on reading Gaia data tables with astropy
  docs/io/ascii/read.rst
Labels: table, Docs, io.ascii, no-changelog-entry-needed, Extra CI, backport-v5.0.x, backport-v5.2.x

#14641 Backport PR #14270 on branch v5.2.x (Add section on reading Gaia data tables with astropy)
  docs/io/ascii/read.rst
Labels: table, Docs, io.ascii, no-changelog-entry-needed, Extra CI, backport-v5.0.x, backport-v5.2.x

#14013 Deprecate the `humlicek2` method for `Voigt1D`
  astropy/modeling/functional_models.py
  astropy/modeling/tests/test_functional_models.py
  astropy/modeling/tests/test_models.py
  astropy/modeling/tests/test_models_quantities.py
  docs/changes/modeling/14013.api.rst
Labels: modeling, Performance, API change

#14533 Add weights and axis parameters to ``vonmisesmle``
  astropy/stats/circstats.py
  astropy/stats/tests/test_circstats.py
  docs/changes/stats/14533.feature.rst
Labels: stats, API change

#14365 Make ascii.qdp case insensitive
  astropy/io/ascii/qdp.py
  astropy/io/ascii/tests/test_qdp.py
  docs/changes/io.ascii/14365.bugfix.rst
Labels: io.ascii, Bug, backport-v5.0.x, backport-v5.2.x

#14642 Backport PR #14365 on branch v5.2.x (Make ascii.qdp case insensitive)
  astropy/io/ascii/qdp.py
  astropy/io/ascii/tests/test_qdp.py
  docs/changes/io.ascii/14365.bugfix.rst
Labels: io.ascii, Bug, backport-v5.2.x

#14616 DOC: Update convolution narrative docs
  docs/convolution/index.rst
Labels: Docs, convolution, no-changelog-entry-needed

#14373 Add support for persisting big-endian arrays to Parquet by byte-swapping on write.
  astropy/io/misc/parquet.py
  astropy/io/misc/tests/test_parquet.py
  docs/changes/io.misc/14373.bugfix.rst
Labels: Bug, io.misc

#14019 Bugfix for ufunc test
  astropy/units/tests/test_quantity_ufuncs.py
Labels: testing, units, Bug, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x

#14645 DOC: Remove mention of package-template
  docs/common_links.txt
  docs/conf.py
  docs/development/astropy-package-template.rst
  docs/development/docguide.rst
  docs/development/testguide.rst
Labels: Docs, no-changelog-entry-needed

#14563 Improve toctree on coordinates landing page
  docs/coordinates/index.rst
  docs/coordinates/performance.inc.rst
Labels: Docs, coordinates, no-changelog-entry-needed

#14643 Backport PR #14019 on branch v5.0.x (Bugfix for ufunc test)
  astropy/units/tests/test_quantity_ufuncs.py
Labels: testing, units, Bug, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x

#14286 Drop Python 3.8 for next release
  .circleci/config.yml
  .github/workflows/ci_cron_daily.yml
  .github/workflows/ci_cron_weekly.yml
  .github/workflows/ci_workflows.yml
  .github/workflows/publish.yml
  .pre-commit-config.yaml
  astropy/cosmology/core.py
  astropy/cosmology/flrw/base.py
  astropy/cosmology/funcs/comparison.py
  astropy/modeling/bounding_box.py
  astropy/stats/funcs.py
  astropy/tests/figures/py39-test-image-mpl311-cov.json
  astropy/tests/figures/py39-test-image-mpl322-cov.json
  astropy/tests/figures/py39-test-image-mpl334-cov.json
  astropy/units/_typing.py
  astropy/units/decorators.py
  astropy/units/quantity.py
  astropy/units/tests/test_quantity_annotations.py
  astropy/units/tests/test_quantity_decorator.py
  astropy/units/tests/test_quantity_typing.py
  astropy/visualization/wcsaxes/tests/test_misc.py
  docs/changes/14286.other.rst
  docs/common_links.txt
  docs/coordinates/index.rst
  docs/coordinates/satellites.rst
  docs/coordinates/velocities.rst
  docs/development/testguide.rst
  docs/development/workflow/git_links.inc
  docs/install.rst
  docs/units/quantity.rst
  docs/units/standard_units.rst
  docs/utils/index.rst
  docs/visualization/rgb.rst
  examples/README.rst
  pyproject.toml
  setup.cfg
  tox.ini
Labels: testing, units, modeling, cosmology, installation, Python3.9, dev-automation, Extra CI

#14379 Bug fix of no space in the result of to_string.
  astropy/coordinates/angles.py
  astropy/coordinates/tests/test_angles.py
  astropy/coordinates/tests/test_formatting.py
  astropy/visualization/wcsaxes/tests/test_formatter_locator.py
  docs/changes/coordinates/14379.bugfix.rst
  docs/coordinates/angles.rst
Labels: Bug, coordinates, API change

#14578 Support VLA columns with FITS Unified IO
  astropy/io/fits/column.py
  astropy/io/fits/tests/test_connect.py
  astropy/io/fits/tests/test_table.py
  docs/changes/io.fits/14578.feature.rst
Labels: io.fits, unified-io

#14648 Fix my email address in the mailmap
  .mailmap
Labels: skip-changelog-checks, backport-v5.0.x, backport-v5.2.x

#14650 Backport PR #14648 on branch v5.0.x (Fix my email address in the mailmap)
  .mailmap
Labels: skip-changelog-checks, backport-v5.0.x, backport-v5.2.x

#14651 Backport PR #14648 on branch v5.2.x (Fix my email address in the mailmap)
  .mailmap
Labels: skip-changelog-checks, backport-v5.0.x, backport-v5.2.x

#14032 In samp : add a warning if notify_all did not find receiver
  astropy/samp/hub.py
  astropy/samp/tests/test_client.py
Labels: samp, no-changelog-entry-needed

#14512 Bugfix for ufunc getter on parameter with units
  astropy/modeling/functional_models.py
  astropy/modeling/parameters.py
  astropy/modeling/physical_models.py
  astropy/modeling/polynomial.py
  astropy/modeling/powerlaws.py
  astropy/modeling/projections.py
  astropy/modeling/tests/test_parameters.py
  astropy/modeling/tests/test_quantities_parameters.py
  docs/changes/modeling/14512.bugfix.rst
Labels: modeling

#14576 Do not explicitly call gc.collect in `CompImageHDU.compressed_data`
  astropy/io/fits/hdu/compressed.py
  docs/changes/io.fits/14576.feature.rst
Labels: io.fits, Performance

#14598 Fix issues with quotes in CONTINUE cards
  astropy/io/fits/card.py
  astropy/io/fits/tests/test_header.py
  docs/changes/io.fits/14598.bugfix.rst
Labels: io.fits, Bug, backport-v5.0.x, backport-v5.2.x

#13571 Fix a whole bunch of bugs to do with -TAB in wcsapi/fitswcs
  astropy/wcs/wcsapi/fitswcs.py
  astropy/wcs/wcsapi/tests/data/example_4d_tab.fits
  astropy/wcs/wcsapi/tests/test_fitswcs.py
  astropy/wcs/wcsapi/wrappers/tests/test_sliced_wcs.py
  docs/changes/wcs/13571.bugfix.rst
Labels: Bug, wcs.wcsapi, backport-v5.0.x, backport-v5.2.x

#14016 Add the LombScargleMultiband Periodogram Class
  astropy/timeseries/periodograms/__init__.py
  astropy/timeseries/periodograms/lombscargle_multiband/__init__.py
  astropy/timeseries/periodograms/lombscargle_multiband/core.py
  astropy/timeseries/periodograms/lombscargle_multiband/implementations/__init__.py
  astropy/timeseries/periodograms/lombscargle_multiband/implementations/main.py
  astropy/timeseries/periodograms/lombscargle_multiband/implementations/mbfast_impl.py
  astropy/timeseries/periodograms/lombscargle_multiband/implementations/mbflex_impl.py
  astropy/timeseries/periodograms/lombscargle_multiband/implementations/mle.py
  astropy/timeseries/periodograms/lombscargle_multiband/tests/__init__.py
  astropy/timeseries/periodograms/lombscargle_multiband/tests/test_lombscargle_multiband.py
  docs/changes/timeseries/14016.feature.rst
  docs/timeseries/index.rst
  docs/timeseries/lombscarglemb.rst
  docs/whatsnew/5.3.rst
  licenses/GATSPY_LICENSE.rst
Labels: whatsnew-needed, timeseries

#14657 Backport PR #13571 on branch v5.2.x (Fix a whole bunch of bugs to do with -TAB in wcsapi/fitswcs)
  astropy/wcs/wcsapi/fitswcs.py
  astropy/wcs/wcsapi/tests/data/example_4d_tab.fits
  astropy/wcs/wcsapi/tests/test_fitswcs.py
  astropy/wcs/wcsapi/wrappers/tests/test_sliced_wcs.py
  docs/changes/wcs/13571.bugfix.rst
Labels: Bug, wcs.wcsapi, backport-v5.0.x, backport-v5.2.x

#14654 Backport PR #14598 on branch v5.0.x (Fix issues with quotes in CONTINUE cards)
  astropy/io/fits/card.py
  astropy/io/fits/tests/test_header.py
  docs/changes/io.fits/14598.bugfix.rst
Labels: io.fits, Bug, backport-v5.0.x, backport-v5.2.x

#14656 Backport PR #13571 on branch v5.0.x (Fix a whole bunch of bugs to do with -TAB in wcsapi/fitswcs)
  astropy/wcs/wcsapi/fitswcs.py
  astropy/wcs/wcsapi/tests/data/example_4d_tab.fits
  astropy/wcs/wcsapi/tests/test_fitswcs.py
  astropy/wcs/wcsapi/wrappers/tests/test_sliced_wcs.py
  docs/changes/wcs/13571.bugfix.rst
Labels: Bug, wcs.wcsapi, backport-v5.0.x, backport-v5.2.x

#14658 Update my email address in `.mailmap`
  .mailmap
Labels: Docs, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x

#14659 Backport PR #14658 on branch v5.0.x (Update my email address in `.mailmap`)
  .mailmap
Labels: Docs, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x

#14660 Backport PR #14658 on branch v5.2.x (Update my email address in `.mailmap`)
  .mailmap
Labels: Docs, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x

#14160 Allow zero WCSAxes ticks
  astropy/tests/figures/py39-test-image-mpl334-cov.json
  astropy/tests/figures/py39-test-image-mpldev-cov.json
  astropy/visualization/wcsaxes/coordinate_helpers.py
  astropy/visualization/wcsaxes/formatter_locator.py
  astropy/visualization/wcsaxes/tests/test_images.py
  docs/changes/visualization/14160.bugfix.rst
Labels: Bug, visualization.wcsaxes, backport-v5.0.x, backport-v5.2.x

#14673 MNT: Remove deprecated Cosmology Parameter fmt
  astropy/cosmology/parameter.py
  astropy/cosmology/tests/test_parameter.py
  docs/changes/cosmology/14673.api.rst
Labels: cosmology, Refactoring

#14677 MNT: Removed vectorize_if_needed and inf_like from cosmology.utils
  astropy/cosmology/tests/test_utils.py
  astropy/cosmology/utils.py
  docs/changes/cosmology/14677.api.rst
Labels: cosmology, Refactoring

#14679 MNT: Remove deprecated stuff in utils.misc
  astropy/utils/misc.py
  docs/changes/utils/14679.api.rst
Labels: utils, Refactoring

#14671 Fix numpy 1.25 deprecation warnings
  astropy/convolution/utils.py
  astropy/modeling/polynomial.py
  astropy/modeling/rotations.py
  astropy/modeling/tests/test_models.py
  astropy/modeling/tests/test_parameters.py
  astropy/stats/histogram.py
  astropy/timeseries/periodograms/bls/core.py
Labels: modeling, stats, convolution, no-changelog-entry-needed, numpy-dev, timeseries, backport-v5.0.x, backport-v5.2.x, backport-v5.3.x

#14684 Backport PR #14671 on branch v5.2.x (Fix numpy 1.25 deprecation warnings)
  astropy/convolution/utils.py
  astropy/modeling/polynomial.py
  astropy/modeling/rotations.py
  astropy/modeling/tests/test_models.py
  astropy/modeling/tests/test_parameters.py
  astropy/stats/histogram.py
  astropy/timeseries/periodograms/bls/core.py
Labels: modeling, stats, convolution, no-changelog-entry-needed, numpy-dev, timeseries

#14680 Small bugs in structured units and quantities
  astropy/units/quantity.py
  astropy/units/structured.py
  astropy/units/tests/test_quantity_array_methods.py
  astropy/units/tests/test_structured.py
  docs/changes/units/14680.bugfix.rst
Labels: units, Bug, backport-v5.0.x, backport-v5.2.x, backport-v5.3.x

#14672 MNT: Remove deprecated imports from flrw
  astropy/cosmology/flrw/__init__.py
  astropy/cosmology/flrw/tests/test_init.py
  docs/changes/cosmology/14672.api.rst
Labels: cosmology, Refactoring

#14689 Backport PR #14680 on branch v5.3.x (Small bugs in structured units and quantities)
  astropy/units/quantity.py
  astropy/units/structured.py
  astropy/units/tests/test_quantity_array_methods.py
  astropy/units/tests/test_structured.py
  docs/changes/units/14680.bugfix.rst
Labels: units, Bug, backport-v5.3.x

#12943 Remove `AliasDict`
  astropy/modeling/utils.py
  docs/changes/modeling/12943.api.rst
Labels: modeling, Refactoring

#14694 Fix ASDF link in docs
  docs/modeling/models.rst
Labels: modeling, no-changelog-entry-needed

#14695 Bugfix: fitting fails when `weights` are passed and `filter_non_finite=True`
  astropy/modeling/fitting.py
  astropy/modeling/tests/test_fitters.py
  docs/changes/modeling/14695.bugfix.rst
Labels: Bug, modeling, backport-v5.2.x, backport-v5.3.x

#14697 Backport PR #14695 on branch v5.3.x (Bugfix: fitting fails when `weights` are passed and `filter_non_finite=True`)
  astropy/modeling/fitting.py
  astropy/modeling/tests/test_fitters.py
  docs/changes/modeling/14695.bugfix.rst
Labels: Bug, modeling, backport-v5.2.x, backport-v5.3.x

#14696 Backport PR #14695 on branch v5.2.x (Bugfix: fitting fails when `weights` are passed and `filter_non_finite=True`)
  astropy/modeling/fitting.py
  astropy/modeling/tests/test_fitters.py
  docs/changes/modeling/14695.bugfix.rst
Labels: Bug, modeling, backport-v5.2.x, backport-v5.3.x

#14698 TST: Pin hypothesis for older numpy in v5.2.x and needs to be backported to LTS
  tox.ini
Labels: testing, no-changelog-entry-needed, skip-basebranch-check, backport-v5.0.x

#14699 Backport PR #14698 on branch v5.0.x (TST: Pin hypothesis for older numpy in v5.2.x and needs to be backported to LTS)
  setup.cfg
Labels: testing, no-changelog-entry-needed, skip-basebranch-check, backport-v5.0.x

#14686 Backport PR #14671 on branch v5.0.x (Fix numpy 1.25 deprecation warnings)
  astropy/convolution/utils.py
  astropy/modeling/polynomial.py
  astropy/modeling/rotations.py
  astropy/modeling/tests/test_models.py
  astropy/modeling/tests/test_parameters.py
  astropy/stats/histogram.py
  astropy/timeseries/periodograms/bls/core.py
Labels: modeling, stats, convolution, no-changelog-entry-needed, numpy-dev, Manual Backport, timeseries, skip-basebranch-check, backport-v5.0.x

#14663 BUG: Fix improper deprecated usage (main and v5.2.x)
  astropy/coordinates/angle_formats.py
  astropy/modeling/fitting.py
  astropy/utils/compat/misc.py
Labels: Bug, coordinates, modeling, utils, no-changelog-entry-needed, backport-v5.2.x, backport-v5.3.x

#14703 Backport PR #14663 on branch v5.2.x (BUG: Fix improper deprecated usage (main and v5.2.x))
  astropy/coordinates/angle_formats.py
  astropy/modeling/fitting.py
  astropy/utils/compat/misc.py
Labels: Bug, coordinates, modeling, utils, no-changelog-entry-needed, backport-v5.2.x, backport-v5.3.x

#14704 Backport PR #14663 on branch v5.3.x (BUG: Fix improper deprecated usage (main and v5.2.x))
  astropy/coordinates/angle_formats.py
  astropy/modeling/fitting.py
  astropy/utils/compat/misc.py
Labels: Bug, coordinates, modeling, utils, no-changelog-entry-needed, backport-v5.2.x, backport-v5.3.x

#14709 Fix doctest
  astropy/modeling/core.py
Labels: testing, Docs, modeling, no-changelog-entry-needed, numpy-dev, backport-v5.0.x, backport-v5.2.x, backport-v5.3.x

#14675 MNT: Remove misc deprecated stuff in coordinates from a long time ago
  astropy/coordinates/angle_utilities.py
  astropy/coordinates/orbital_elements.py
  astropy/coordinates/solar_system.py
  astropy/coordinates/tests/test_intermediate_transformations.py
  docs/changes/coordinates/14675.api.rst
Labels: coordinates, Refactoring

#14707 Fix numpy-dev deprecation in model Parameter
  astropy/modeling/parameters.py
  astropy/modeling/tests/test_parameters.py
Labels: modeling, no-changelog-entry-needed, numpy-dev, backport-v5.0.x, backport-v5.2.x, backport-v5.3.x

#14712 Backport PR #14709 on branch v5.3.x (Fix doctest)
  astropy/modeling/core.py
Labels: testing, Docs, modeling, no-changelog-entry-needed, numpy-dev, backport-v5.0.x, backport-v5.2.x, backport-v5.3.x

#14711 Backport PR #14709 on branch v5.2.x (Fix doctest)
  astropy/modeling/core.py
Labels: testing, Docs, modeling, no-changelog-entry-needed, numpy-dev, backport-v5.0.x, backport-v5.2.x, backport-v5.3.x

#14710 Backport PR #14709 on branch v5.0.x (Fix doctest)
  astropy/modeling/core.py
Labels: testing, Docs, modeling, no-changelog-entry-needed, numpy-dev, backport-v5.0.x, backport-v5.2.x, backport-v5.3.x

#14716 Backport PR #14707 on branch v5.3.x (Fix numpy-dev deprecation in model Parameter)
  astropy/modeling/parameters.py
  astropy/modeling/tests/test_parameters.py
Labels: modeling, no-changelog-entry-needed, numpy-dev, backport-v5.0.x, backport-v5.2.x, backport-v5.3.x

#14715 Backport PR #14707 on branch v5.2.x (Fix numpy-dev deprecation in model Parameter)
  astropy/modeling/parameters.py
  astropy/modeling/tests/test_parameters.py
Labels: modeling, no-changelog-entry-needed, numpy-dev, backport-v5.0.x, backport-v5.2.x, backport-v5.3.x

#14719 DOC: Improve docs and example for discretize_docs
  astropy/convolution/tests/test_discretize.py
  astropy/convolution/utils.py
Labels: Docs, convolution, no-changelog-entry-needed, backport-v5.3.x

#14721 Backport PR #14719 on branch v5.3.x (DOC: Improve docs and example for discretize_docs)
  astropy/convolution/tests/test_discretize.py
  astropy/convolution/utils.py
Labels: Docs, convolution, no-changelog-entry-needed, backport-v5.3.x
