Repository astropy/astropy, pull requests merged in 2023-01, with the labels that each got.

#14247 Backport PR #14243 on branch v5.2.x (Update IERS Earth rotation and leap second tables)
  astropy/utils/iers/data/eopc04_IAU2000.62-now
Labels: no-changelog-entry-needed, merge-when-ci-passes, utils.iers, backport-v5.0.x, backport-v5.2.x

#14246 Backport PR #14243 on branch v5.0.x (Update IERS Earth rotation and leap second tables)
  astropy/utils/iers/data/eopc04_IAU2000.62-now
Labels: no-changelog-entry-needed, merge-when-ci-passes, utils.iers, backport-v5.0.x, backport-v5.2.x

#14253 Only propagate info if the quantity stays effectively the same
  astropy/units/quantity.py
  astropy/units/tests/test_quantity.py
  astropy/units/tests/test_quantity_info.py
  docs/changes/units/14253.api.rst
Labels: units, Performance, API change

#14120 Update `black` documentation
  docs/development/codeguide.rst
Labels: Docs, no-changelog-entry-needed

#14258 Finalizing changelog for v5.2.1
  CHANGES.rst
  docs/changes/coordinates/14180.bugfix.rst
  docs/changes/cosmology/14232.bugfix.rst
  docs/changes/io.fits/13417.bugfix.rst
  docs/changes/units/14213.bugfix.rst
  docs/changes/visualization/14164.bugfix.rst
  docs/changes/visualization/14211.bugfix.rst
Labels: units, coordinates, cosmology, visualization, no-changelog-entry-needed, skip-changelog-checks, skip-basebranch-check

#14261 Fix a minor typo in a docstring in quantity.py
  astropy/units/quantity.py
Labels: Docs, units, no-changelog-entry-needed

#14237 Add support for array-type columns (fixed size and variable) to io.misc.parquet
  astropy/io/misc/parquet.py
  astropy/io/misc/tests/test_parquet.py
  docs/changes/io.misc/14237.feature.rst
Labels: Bug, io.misc

#14264 switch ruff to ALL and skip failing
  pyproject.toml
Labels: installation, no-changelog-entry-needed, merge-when-ci-passes

#14269 Ruff fix D204-D215
  astropy/config/paths.py
  astropy/coordinates/angles.py
  astropy/coordinates/errors.py
  astropy/cosmology/__init__.py
  astropy/io/ascii/basic.py
  astropy/io/ascii/core.py
  astropy/io/ascii/ecsv.py
  astropy/io/ascii/ipac.py
  astropy/io/ascii/latex.py
  astropy/io/ascii/sextractor.py
  astropy/io/ascii/ui.py
  astropy/io/fits/header.py
  astropy/modeling/core.py
  astropy/modeling/functional_models.py
  astropy/modeling/polynomial.py
  astropy/modeling/powerlaws.py
  astropy/modeling/projections.py
  astropy/modeling/tests/irafutil.py
  astropy/table/column.py
  astropy/table/table.py
  astropy/units/function/core.py
  astropy/units/function/logarithmic.py
  astropy/units/quantity_helper/helpers.py
  astropy/visualization/wcsaxes/core.py
  astropy/visualization/wcsaxes/frame.py
  examples/coordinates/plot_sgr-coordinate-frame.py
  pyproject.toml
Labels: table, Docs, io.fits, config, io.ascii, units, coordinates, modeling, cosmology, installation, no-changelog-entry-needed, visualization.wcsaxes

#13979 Only call sys.getrefcount when it is available
  astropy/io/fits/file.py
  astropy/io/fits/hdu/base.py
  astropy/table/table.py
Labels: table, io.fits, no-changelog-entry-needed

#14260 Finalizing changelog for v5.2.1
  CHANGES.rst
  docs/changes/coordinates/14180.bugfix.rst
  docs/changes/cosmology/14232.bugfix.rst
  docs/changes/io.fits/13417.bugfix.rst
  docs/changes/units/14213.bugfix.rst
  docs/changes/visualization/14164.bugfix.rst
  docs/changes/visualization/14211.bugfix.rst
Labels: units, coordinates, cosmology, visualization, no-changelog-entry-needed

#14259 Cleanup Sphinx conf
  docs/conf.py
Labels: Docs, no-changelog-entry-needed

#14139 Tox 4.0 compatibility
  .circleci/config.yml
  .github/workflows/ci_cron_daily.yml
  .github/workflows/ci_cron_weekly.yml
  .github/workflows/ci_workflows.yml
  tox.ini
Labels: testing, no-changelog-entry-needed, merge-when-ci-passes, Extra CI

#14207 Cosmo tests
  astropy/cosmology/flrw/tests/data/cosmo_closed.ecsv
  astropy/cosmology/flrw/tests/data/cosmo_flat.ecsv
  astropy/cosmology/flrw/tests/data/cosmo_open.ecsv
  astropy/cosmology/flrw/tests/test_base.py
  astropy/cosmology/flrw/tests/test_lambdacdm.py
  astropy/cosmology/flrw/tests/test_w.py
  astropy/cosmology/flrw/tests/test_w0cdm.py
  astropy/cosmology/flrw/tests/test_w0wacdm.py
  astropy/cosmology/flrw/tests/test_w0wzcdm.py
  astropy/cosmology/flrw/tests/test_wpwazpcdm.py
  astropy/cosmology/tests/test_core.py
  astropy/cosmology/tests/test_cosmology.py
  setup.cfg
Labels: testing, cosmology, Refactoring, no-changelog-entry-needed

#14275 Ruff fix select flake8-bugbear
  astropy/cosmology/io/model.py
  astropy/io/fits/convenience.py
  astropy/io/fits/fitstime.py
  astropy/io/fits/hdu/base.py
  astropy/io/votable/tests/exception_test.py
  astropy/units/function/core.py
  pyproject.toml
Labels: io.votable, io.fits, units, cosmology, installation, no-changelog-entry-needed, merge-when-ci-passes

#14281 TST: test_contour_empty no longer warns with matplotlib 3.7.dev
  astropy/visualization/wcsaxes/tests/test_misc.py
Labels: testing, no-changelog-entry-needed, visualization.wcsaxes, backport-v5.0.x, backport-v5.2.x

#14266 Remove `SkyCoord.representation`
  astropy/coordinates/sky_coordinate.py
Labels: coordinates, Refactoring, no-changelog-entry-needed

#14282 Backport PR #14281 on branch v5.0.x (TST: test_contour_empty no longer warns with matplotlib 3.7.dev)
  astropy/visualization/wcsaxes/tests/test_misc.py
Labels: testing, no-changelog-entry-needed, visualization.wcsaxes, backport-v5.0.x, backport-v5.2.x

#14283 Backport PR #14281 on branch v5.2.x (TST: test_contour_empty no longer warns with matplotlib 3.7.dev)
  astropy/visualization/wcsaxes/tests/test_misc.py
Labels: testing, no-changelog-entry-needed, visualization.wcsaxes, backport-v5.0.x, backport-v5.2.x

#14274 Ruff fix select SIM codes
  astropy/cosmology/io/tests/test_mapping.py
  astropy/cosmology/io/tests/test_model.py
  astropy/cosmology/io/tests/test_row.py
  astropy/cosmology/io/tests/test_table.py
  astropy/io/ascii/tests/test_c_reader.py
  astropy/io/fits/connect.py
  astropy/io/fits/header.py
  astropy/io/fits/tests/test_connect.py
  astropy/io/fits/tests/test_core.py
  astropy/io/fits/tests/test_header.py
  astropy/io/votable/connect.py
  astropy/modeling/core.py
  astropy/modeling/tests/test_bounding_box.py
  astropy/modeling/tests/test_constraints.py
  astropy/modeling/tests/test_core.py
  astropy/modeling/tests/test_fitters.py
  astropy/modeling/tests/test_models.py
  astropy/modeling/tests/test_physical_models.py
  astropy/nddata/tests/test_utils.py
  astropy/stats/tests/test_funcs.py
  astropy/table/table.py
  astropy/table/tests/test_groups.py
  astropy/units/core.py
  astropy/wcs/tests/test_wtbarr.py
  pyproject.toml
Labels: io.votable, wcs, table, io.fits, io.ascii, nddata, units, modeling, cosmology, installation, stats, no-changelog-entry-needed

#14050 Deprecate passing coord_wrap as bare number
  astropy/visualization/wcsaxes/coordinate_helpers.py
  astropy/visualization/wcsaxes/coordinate_range.py
  astropy/visualization/wcsaxes/tests/test_images.py
  astropy/visualization/wcsaxes/tests/test_misc.py
  astropy/visualization/wcsaxes/tests/test_transform_coord_meta.py
  astropy/visualization/wcsaxes/tests/test_wcsapi.py
  astropy/visualization/wcsaxes/wcsapi.py
  docs/changes/visualization/14050.api.rst
Labels: visualization.wcsaxes, API change

#14288 DOC: Change back numpy URL for sphinx-gallery
  docs/conf.py
Labels: Docs, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x

#14278 Apply the `flynt` tool
  .github/workflows/ci_cron_weekly.yml
  astropy/constants/utils.py
  astropy/io/ascii/core.py
  astropy/io/fits/card.py
  astropy/io/fits/column.py
  astropy/io/fits/diff.py
  astropy/io/fits/file.py
  astropy/io/fits/fitsrec.py
  astropy/io/fits/hdu/base.py
  astropy/io/fits/hdu/hdulist.py
  astropy/io/fits/header.py
  astropy/io/fits/scripts/fitscheck.py
  astropy/io/fits/scripts/fitsheader.py
  astropy/io/fits/tests/test_table.py
  astropy/io/fits/util.py
  astropy/io/votable/validator/html.py
  astropy/nddata/bitmask.py
  astropy/nddata/ccddata.py
  astropy/samp/hub.py
  astropy/table/column.py
  astropy/table/operations.py
  astropy/table/pprint.py
  astropy/table/row.py
  astropy/table/table.py
  astropy/utils/data_info.py
  astropy/utils/xml/validate.py
  pyproject.toml
  tox.ini
Labels: io.votable, table, io.fits, io.ascii, nddata, utils, installation, constants, samp, no-changelog-entry-needed, skip-changelog-checks, dev-automation, Extra CI

#14294 Fix docs warnings
  astropy/timeseries/io/kepler.py
  docs/changes/timeseries/14294.feature.rst
  docs/timeseries/analysis.rst
  docs/timeseries/index.rst
  docs/timeseries/io.rst
Labels: Docs, timeseries

#14296 docs: add link to variable length array tables
  docs/io/fits/usage/table.rst
  docs/io/fits/usage/unfamiliar.rst
Labels: Docs, io.fits, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x

#14298 Backport PR #14296 on branch v5.0.x (docs: add link to variable length array tables)
  docs/io/fits/usage/table.rst
  docs/io/fits/usage/unfamiliar.rst
Labels: Docs, io.fits, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x

#14291 Fix some compilation warnings
  astropy/cosmology/flrw/scalar_inv_efuncs.pyx
  astropy/io/ascii/cparser.pyx
  astropy/io/ascii/src/tokenizer.h
  astropy/stats/src/compute_bounds.c
  astropy/stats/src/fast_sigma_clip.c
  astropy/wcs/src/wcslib_wrap.c
Labels: wcs, io.ascii, cosmology, stats, no-changelog-entry-needed

#14301 Backport PR #14261 on branch v5.2.x (Fix a minor typo in a docstring in quantity.py)
  astropy/units/quantity.py
Labels: Docs, units, no-changelog-entry-needed

#14300 Backport PR #14261 on branch v5.0.x (Fix a minor typo in a docstring in quantity.py)
  astropy/units/quantity.py
Labels: Docs, units, no-changelog-entry-needed

#14302 Remove the list of Git GUIs from developer documentation
  docs/development/workflow/development_workflow.rst
  docs/development/workflow/git_edit_workflow_examples.rst
  docs/development/workflow/git_install.rst
Labels: Docs, no-changelog-entry-needed

#14303 TST: Compat with bleach v6 for test_raw_html_write_clean
  astropy/io/ascii/tests/test_html.py
Labels: testing, io.ascii, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x

#14307 Backport PR #14303 on branch v5.2.x (TST: Compat with bleach v6 for test_raw_html_write_clean)
  astropy/io/ascii/tests/test_html.py
Labels: testing, io.ascii, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x

#14308 TST: Add seed to numpy_rng in FITS tiled compression test
  astropy/io/fits/_tiled_compression/tests/conftest.py
Labels: testing, io.fits, Bug, no-changelog-entry-needed

#14306 Backport PR #14303 on branch v5.0.x (TST: Compat with bleach v6 for test_raw_html_write_clean)
  astropy/io/ascii/tests/test_html.py
Labels: testing, io.ascii, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x

#14309 BUG: Fix broken logic in FITS connect when filepath is given without args
  astropy/io/fits/connect.py
  astropy/io/fits/tests/test_connect.py
Labels: io.fits, Bug, Affects-dev, no-changelog-entry-needed

#14311 Remove ability to link against external installation of CFITSIO
  .github/workflows/ci_cron_weekly.yml
  astropy/io/fits/_tiled_compression/setup_package.py
  docs/changes/14311.other.rst
  docs/install.rst
Labels: testing, Docs, io.fits, installation

#14304 RTD: Smoke out remaining 2 warnings
  docs/modeling/fitting.rst
  docs/visualization/wcsaxes/generic_transforms.rst
Labels: Docs, modeling, no-changelog-entry-needed, visualization.wcsaxes

#14295 Improve detection of TPV and allow PVi_j with legitimate prj codes
  astropy/wcs/tests/test_wcs.py
  astropy/wcs/wcs.py
  docs/changes/wcs/14295.bugfix.rst
Labels: wcs, Bug

#14212 Adding a votable.get_infos_by_name method.
  astropy/io/votable/tests/vo_test.py
  astropy/io/votable/tree.py
  docs/changes/io.votable/14212.feature.rst
Labels: io.votable, Ready-for-final-review

#14290 io.fits post-Black refactor
  astropy/io/fits/card.py
  astropy/io/fits/column.py
  astropy/io/fits/diff.py
  astropy/io/fits/fitsrec.py
  astropy/io/fits/fitstime.py
  astropy/io/fits/hdu/base.py
  astropy/io/fits/hdu/compressed.py
  astropy/io/fits/hdu/hdulist.py
  astropy/io/fits/hdu/table.py
  astropy/io/fits/header.py
  astropy/io/fits/scripts/fitsheader.py
  astropy/io/fits/tests/test_connect.py
  astropy/io/fits/tests/test_core.py
  astropy/io/fits/tests/test_fitsdiff.py
  astropy/io/fits/tests/test_header.py
  astropy/io/fits/tests/test_image.py
  astropy/io/fits/tests/test_table.py
  astropy/io/fits/util.py
Labels: io.fits, no-changelog-entry-needed

#14318 DOC: Use sphinx-automodapi for test runner docs again
  astropy/tests/runner.py
  docs/testhelpers.rst
Labels: testing, Docs, no-changelog-entry-needed

#14317 TST: Unignore toolz warning
  setup.cfg
Labels: testing, installation, no-changelog-entry-needed

#14041 Remove use of pytest-openfiles
  .github/workflows/ci_workflows.yml
  astropy/io/fits/tests/test_connect.py
  astropy/io/fits/tests/test_core.py
  astropy/io/misc/tests/test_hdf5.py
  astropy/tests/command.py
  astropy/tests/runner.py
  astropy/visualization/scripts/tests/test_fits2bitmap.py
  docs/common_links.txt
  docs/development/testguide.rst
  setup.cfg
  tox.ini
Labels: testing, Docs, io.fits, io.misc, installation, visualization, no-changelog-entry-needed

#14328 TST: Remove pytest-openfiles
  .pyinstaller/run_astropy_tests.py
  astropy/io/fits/_tiled_compression/tests/test_tiled_compression.py
Labels: testing, Bug, Affects-dev, no-changelog-entry-needed, Extra CI

#14329 Added section to docs about new hash libraries
  docs/development/testguide.rst
Labels: Docs, Ready-for-final-review, no-changelog-entry-needed

#14331 Backport PR #14325 on branch v5.0.x (RTD: Use mamba to pick up new graphviz)
  .readthedocs.yaml
  docs/rtd_environment.yaml
Labels: Docs, no-changelog-entry-needed

#14332 Backport PR #14325 on branch v5.2.x (RTD: Use mamba to pick up new graphviz)
  .readthedocs.yaml
  docs/rtd_environment.yaml
Labels: Docs, no-changelog-entry-needed

#14324 Improve PR and issue template experiences
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/open_actions.yml
  .pre-commit-config.yaml
Labels: testing, no-changelog-entry-needed, skip-changelog-checks, dev-automation

#14335 Replace placeholder with value on issue template for copy-paste (try 2)
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: no-changelog-entry-needed, dev-automation

#14338 Bugfix for `isort` version
  .pre-commit-config.yaml
Labels: no-changelog-entry-needed, skip-changelog-checks, dev-automation

#14340 Backport PR #14337 on branch v5.2.x (Update IERS Earth rotation and leap second tables)
  .pre-commit-config.yaml
  astropy/utils/iers/data/Leap_Second.dat
  astropy/utils/iers/data/eopc04_IAU2000.62-now
Labels: no-changelog-entry-needed, utils.iers, Extra CI, backport-v5.0.x, backport-v5.2.x

#14339 Backport PR #14337 on branch v5.0.x (Update IERS Earth rotation and leap second tables)
  astropy/utils/iers/data/Leap_Second.dat
  astropy/utils/iers/data/eopc04_IAU2000.62-now
Labels: no-changelog-entry-needed, utils.iers, Extra CI, backport-v5.0.x, backport-v5.2.x

#14342 Bump version of create PR action for IERS auto-update workflow
  .github/workflows/update_iers.yml
Labels: testing, no-changelog-entry-needed, dev-automation

#14321 MNT: Bump matplotlib minversion to 3.2
  .circleci/config.yml
  astropy/tests/figures/py39-test-image-mpl322-cov.json
  astropy/visualization/tests/test_norm.py
  astropy/visualization/tests/test_units.py
  astropy/visualization/time.py
  astropy/visualization/units.py
  docs/changes/14321.other.rst
  docs/development/testguide.rst
  setup.cfg
  tox.ini
Labels: testing, installation, visualization

#14341 prevent div by zero for mean of all-masks
  astropy/utils/masked/core.py
  astropy/utils/masked/tests/test_masked.py
  docs/changes/utils/14341.feature.rst
Labels: utils, Refactoring, merge-when-ci-passes, utils.masked
