Repository astropy/astropy, pull requests merged in 2023-05, with the labels that each got.

#14728 Change exception to KernelArithemeticError
  astropy/convolution/core.py
  astropy/convolution/utils.py
  docs/changes/convolution/14728.api.rst
Labels: convolution

#14726 Updated list of contributors and .mailmap file
  .mailmap
  docs/credits.rst
Labels: Docs, no-changelog-entry-needed, backport-v5.3.x

#14730 Backport PR #14726 on branch v5.3.x (Updated list of contributors and .mailmap file)
  .mailmap
  docs/credits.rst
Labels: Docs, no-changelog-entry-needed, backport-v5.3.x

#14732 Add base KernelError error class
  astropy/convolution/convolve.py
  astropy/convolution/kernels.py
  astropy/convolution/tests/test_kernel_class.py
  astropy/convolution/utils.py
  docs/changes/convolution/14732.api.rst
Labels: convolution, API change

#14734 Fix if statement in ImageHDU data setter
  astropy/io/fits/hdu/image.py
Labels: io.fits, no-changelog-entry-needed

#14735 update .mailmap
  .mailmap
Labels: Docs, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x, backport-v5.3.x

#14733 Fix typo
  astropy/units/utils.py
Labels: Docs, units, Bug, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x, backport-v5.3.x

#14738 Backport PR #14735 on branch v5.0.x (update .mailmap)
  .mailmap
Labels: Docs, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x, backport-v5.3.x

#14739 Backport PR #14735 on branch v5.2.x (update .mailmap)
  .mailmap
Labels: Docs, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x, backport-v5.3.x

#14740 Backport PR #14735 on branch v5.3.x (update .mailmap)
  .mailmap
Labels: Docs, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x, backport-v5.3.x

#14741 Backport PR #14733 on branch v5.2.x (Fix typo)
  astropy/units/utils.py
Labels: Docs, units, Bug, no-changelog-entry-needed, backport-v5.2.x, backport-v5.3.x

#14742 Backport PR #14733 on branch v5.3.x (Fix typo)
  astropy/units/utils.py
Labels: Docs, units, Bug, no-changelog-entry-needed, backport-v5.2.x, backport-v5.3.x

#14743 Pre commit update
  .pre-commit-config.yaml
  astropy/nddata/tests/test_nddata.py
  astropy/uncertainty/tests/test_distribution.py
Labels: nddata, no-changelog-entry-needed, skip-changelog-checks, uncertainty, dev-automation

#14720 Fix changelog formatting for PR 14016
  docs/changes/timeseries/14016.feature.rst
Labels: Docs, Bug, skip-changelog-checks, timeseries, Extra CI, backport-v5.3.x

#14708 Fix bug for Parameter with a getter but no setter
  astropy/modeling/parameters.py
  astropy/modeling/tests/test_parameters.py
  docs/changes/modeling/14708.bugfix.rst
Labels: Bug, modeling, backport-v5.3.x

#14692 Fix flake8 bugbear
  astropy/coordinates/baseframe.py
  astropy/cosmology/core.py
  astropy/io/ascii/core.py
  astropy/io/ascii/latex.py
  astropy/io/fits/hdu/table.py
  astropy/io/fits/util.py
  astropy/io/registry/base.py
  astropy/logger.py
  astropy/modeling/core.py
  astropy/modeling/functional_models.py
  astropy/modeling/spline.py
  astropy/table/table.py
  astropy/timeseries/binned.py
  astropy/timeseries/sampled.py
  astropy/utils/console.py
  astropy/utils/data.py
  astropy/utils/tests/test_data.py
  astropy/visualization/wcsaxes/tests/test_wcsapi.py
  astropy/wcs/utils.py
  pyproject.toml
Labels: testing, io.votable, wcs, table, io.fits, config, time, io.ascii, nddata, units, coordinates, modeling, cosmology, utils, io.misc, installation, stats, constants, convolution, logging, samp, no-changelog-entry-needed, visualization.wcsaxes, io.misc.asdf, wcs.wcsapi, uncertainty, timeseries, utils.iers

#14749 Update cython version
  pyproject.toml
Labels: installation, no-changelog-entry-needed, backport-v5.3.x

#14746 Backport PR #14708 on branch v5.3.x (Fix bug for Parameter with a getter but no setter)
  astropy/modeling/parameters.py
  astropy/modeling/tests/test_parameters.py
  docs/changes/modeling/14708.bugfix.rst
Labels: Bug, modeling, backport-v5.3.x

#14752 Backport PR #14749 on branch v5.3.x (Update cython version)
  pyproject.toml
Labels: installation, no-changelog-entry-needed, backport-v5.3.x

#14729 Add support for gc2gde and gd2gce erfa functions in units.
  astropy/coordinates/tests/test_earth.py
  astropy/units/quantity_helper/erfa.py
  astropy/units/tests/test_quantity_erfa_ufuncs.py
  docs/changes/units/14729.feature.rst
Labels: units, coordinates

#14482 Add a `StokesCoordinate` class to map numbers to symbols
  astropy/coordinates/__init__.py
  astropy/coordinates/polarization.py
  astropy/coordinates/tests/test_polarization.py
  astropy/io/tests/mixin_columns.py
  astropy/table/serialize.py
  astropy/table/tests/conftest.py
  astropy/table/tests/test_mixin.py
  astropy/table/tests/test_operations.py
  astropy/wcs/wcsapi/fitswcs.py
  astropy/wcs/wcsapi/high_level_api.py
  astropy/wcs/wcsapi/tests/test_fitswcs.py
  docs/changes/coordinates/14482.feature.rst
  docs/coordinates/index.rst
  docs/coordinates/stokescoord.rst
Labels: coordinates, wcs.wcsapi, backport-v5.3.x

#14761 Fix problem creating codespaces environment
  .devcontainer/devcontainer.json
Labels: Bug, no-changelog-entry-needed

#14762 Backport PR #14482 on branch v5.3.x (Add a `StokesCoordinate` class to map numbers to symbols)
  astropy/coordinates/__init__.py
  astropy/coordinates/polarization.py
  astropy/coordinates/tests/test_polarization.py
  astropy/io/tests/mixin_columns.py
  astropy/table/serialize.py
  astropy/table/tests/conftest.py
  astropy/table/tests/test_mixin.py
  astropy/table/tests/test_operations.py
  astropy/wcs/wcsapi/fitswcs.py
  astropy/wcs/wcsapi/high_level_api.py
  astropy/wcs/wcsapi/tests/test_fitswcs.py
  docs/changes/coordinates/14482.feature.rst
  docs/coordinates/index.rst
  docs/coordinates/stokescoord.rst
Labels: coordinates, wcs.wcsapi, backport-v5.3.x

#14718 TST: Compat with numpy 1.25.dev
  astropy/coordinates/tests/test_intermediate_transformations.py
  astropy/coordinates/tests/test_representation.py
  astropy/modeling/tests/test_compound.py
  astropy/modeling/tests/test_models.py
Labels: coordinates, modeling, no-changelog-entry-needed, numpy-dev, Extra CI, backport-v5.2.x, backport-v5.3.x

#14771 Revert Gaussian test change from #14718
  astropy/modeling/tests/test_core.py
  astropy/modeling/tests/test_functional_models.py
  astropy/modeling/tests/test_models.py
Labels: modeling, no-changelog-entry-needed, numpy-dev, backport-v5.2.x, backport-v5.3.x

#14765 Backport PR #14718 on branch v5.3.x (TST: Compat with numpy 1.25.dev)
  astropy/coordinates/tests/test_intermediate_transformations.py
  astropy/coordinates/tests/test_representation.py
  astropy/modeling/tests/test_compound.py
  astropy/modeling/tests/test_models.py
Labels: coordinates, modeling, no-changelog-entry-needed, numpy-dev, Extra CI, backport-v5.2.x, backport-v5.3.x

#14767 Pin numpy maxversion (<1.25) in LTS
  docs/changes/14767.other.rst
  setup.cfg
  tox.ini
Labels: testing, installation, numpy-dev, skip-basebranch-check

#14764 Backport PR #14718 on branch v5.2.x (TST: Compat with numpy 1.25.dev)
  astropy/coordinates/tests/test_intermediate_transformations.py
  astropy/coordinates/tests/test_representation.py
  astropy/modeling/tests/test_compound.py
  astropy/modeling/tests/test_models.py
Labels: coordinates, modeling, no-changelog-entry-needed, numpy-dev, Extra CI, backport-v5.2.x, backport-v5.3.x

#14770 Remove astropy pre-install from codespaces setup
  .devcontainer/devcontainer.json
  .devcontainer/welcome-message.txt
Labels: Affects-dev, no-changelog-entry-needed, dev-automation

#14782 remove deprecated import path
  astropy/cosmology/core.py
  astropy/cosmology/tests/test_core.py
  docs/changes/cosmology/14782.api.rst
Labels: cosmology

#14778 Update IERS Earth rotation and leap second tables (v5.0.x)
  astropy/coordinates/tests/test_intermediate_transformations.py
  astropy/utils/iers/data/eopc04_IAU2000.62-now
  astropy/utils/iers/tests/test_iers.py
  docs/coordinates/frames.rst
  docs/coordinates/spectralcoord.rst
  docs/utils/iers.rst
Labels: no-changelog-entry-needed, unusual-merge-dealt-with, utils.iers, skip-basebranch-check

#14779 Update IERS Earth rotation and leap second tables (v5.2.x)
  astropy/coordinates/tests/test_intermediate_transformations.py
  astropy/utils/iers/data/eopc04_IAU2000.62-now
  astropy/utils/iers/tests/test_iers.py
  docs/coordinates/frames.rst
  docs/coordinates/spectralcoord.rst
  docs/utils/iers.rst
Labels: no-changelog-entry-needed, unusual-merge-dealt-with, utils.iers, skip-basebranch-check

#14777 Fix more numpy-dev failures
  astropy/coordinates/tests/test_intermediate_transformations.py
  astropy/coordinates/tests/test_matrix_utilities.py
  astropy/coordinates/tests/test_sky_coord_velocities.py
  astropy/units/tests/test_quantity_ufuncs.py
Labels: testing, units, coordinates, no-changelog-entry-needed, numpy-dev, backport-v5.2.x, backport-v5.3.x

#14781 Add notes about `ruff`.
  docs/common_links.txt
  docs/development/codeguide.rst
Labels: Docs, no-changelog-entry-needed

#14775 Backport PR 14771 to v5.2.x ( Revert Gaussian test change from #14718)
  astropy/modeling/tests/test_core.py
  astropy/modeling/tests/test_functional_models.py
  astropy/modeling/tests/test_models.py
Labels: modeling, no-changelog-entry-needed, numpy-dev, skip-basebranch-check

#14776 Backport PR 14771 to v5.3.x ( Revert Gaussian test change from #14718)
  astropy/modeling/tests/test_core.py
  astropy/modeling/tests/test_functional_models.py
  astropy/modeling/tests/test_models.py
Labels: modeling, no-changelog-entry-needed, numpy-dev, skip-basebranch-check

#14772 Remove kwargs from WCSAxes.draw()
  astropy/visualization/wcsaxes/core.py
  docs/changes/visualization/14772.api.rst
Labels: visualization.wcsaxes, API change

#14787 Backport of PR 14777 onto v5.2.x (Fix more numpy-dev failures)
  astropy/coordinates/tests/test_intermediate_transformations.py
  astropy/coordinates/tests/test_matrix_utilities.py
  astropy/coordinates/tests/test_sky_coord_velocities.py
  astropy/units/tests/test_quantity_ufuncs.py
Labels: testing, units, coordinates, no-changelog-entry-needed, numpy-dev, Manual Backport, skip-basebranch-check

#14788 Backport of PR 14777 onto v5.3.x (Fix more numpy-dev failures)
  astropy/coordinates/tests/test_intermediate_transformations.py
  astropy/coordinates/tests/test_matrix_utilities.py
  astropy/coordinates/tests/test_sky_coord_velocities.py
  astropy/units/tests/test_quantity_ufuncs.py
Labels: testing, units, coordinates, no-changelog-entry-needed, numpy-dev, Manual Backport, skip-basebranch-check

#14794 Raise nicer error message if factor is not integer
  astropy/convolution/tests/test_discretize.py
  astropy/convolution/utils.py
  docs/changes/convolution/14794.api.rst
Labels: convolution, API change

#14744 Ruff config
  .github/CODEOWNERS
  .ruff.toml
  docs/conf.py
  pyproject.toml
Labels: installation, no-changelog-entry-needed

#14759 Deprecate unused functions in `astropy.utils.misc`
  astropy/utils/misc.py
  astropy/utils/tests/test_misc.py
  docs/changes/utils/14759.api.rst
  setup.cfg
Labels: utils, installation, Refactoring, API change

#14797 io.misc.asdf: skip modeling doctest that requires removed features in asdf (v5.3.x)
  docs/modeling/models.rst
Labels: testing, Docs, modeling, no-changelog-entry-needed, skip-basebranch-check

#14800 Manual Backport PR #14797 to v5.2.x
  docs/modeling/models.rst
Labels: testing, Docs, modeling, no-changelog-entry-needed, Manual Backport, skip-basebranch-check

#14661 Add ``WCSAxes.text_coord`` method
  astropy/tests/figures/py39-test-image-mpl334-cov.json
  astropy/tests/figures/py39-test-image-mpldev-cov.json
  astropy/visualization/wcsaxes/core.py
  astropy/visualization/wcsaxes/tests/test_images.py
  astropy/visualization/wcsaxes/tests/test_wcsapi.py
  docs/changes/visualization/14661.feature.rst
Labels: visualization, visualization.wcsaxes

#14802 TST: Linkcheck ignores ieeexplore.ieee.org
  docs/conf.py
Labels: testing, Docs, no-changelog-entry-needed, Extra CI, backport-v5.0.x, backport-v5.2.x, backport-v5.3.x

#14803 Backport PR #14802 on branch v5.0.x (TST: Linkcheck ignores ieeexplore.ieee.org)
  docs/conf.py
Labels: testing, Docs, no-changelog-entry-needed, Extra CI, backport-v5.0.x, backport-v5.2.x, backport-v5.3.x

#14792 Refactor representations as a module
  astropy/coordinates/representation.py
  astropy/coordinates/representation/__init__.py
  astropy/coordinates/representation/base.py
  astropy/coordinates/representation/cartesian.py
  astropy/coordinates/representation/cylindrical.py
  astropy/coordinates/representation/spherical.py
  astropy/coordinates/tests/test_representation.py
  astropy/coordinates/tests/test_unit_representation.py
  astropy/table/serialize.py
  astropy/visualization/wcsaxes/tests/test_images.py
  docs/coordinates/frames.rst
  docs/coordinates/skycoord.rst
Labels: table, coordinates, Refactoring, no-changelog-entry-needed, visualization.wcsaxes

#14807 TST: Remove remote call to Danbury, CT
  docs/coordinates/index.rst
Labels: testing, Docs, coordinates, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x, backport-v5.3.x

#14815 Backport PR #14807 on branch v5.3.x (TST: Remove remote call to Danbury, CT)
  docs/coordinates/index.rst
Labels: testing, Docs, coordinates, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x, backport-v5.3.x

#14681 Update domain of CDS from u-strasbg.fr to unistra.fr + https instead of http
  astropy/coordinates/data/constellation_data_roman87.dat
  astropy/coordinates/data/constellation_names.dat
  astropy/coordinates/funcs.py
  astropy/coordinates/name_resolve.py
  astropy/coordinates/sky_coordinate.py
  astropy/coordinates/tests/test_frames_with_velocity.py
  astropy/coordinates/tests/test_name_resolve.py
  astropy/io/ascii/cds.py
  astropy/io/ascii/mrt.py
  astropy/io/ascii/tests/test_c_reader.py
  astropy/io/votable/exceptions.py
  astropy/units/cds.py
  astropy/units/format/cds.py
  docs/changes/14681.other.rst
  docs/coordinates/index.rst
  docs/coordinates/remote_methods.rst
  docs/coordinates/spectralcoord.rst
  docs/io/ascii/extension_classes.rst
  docs/io/ascii/index.rst
  docs/io/ascii/write.rst
  docs/samp/example_clients.rst
  docs/samp/example_hub.rst
  docs/samp/example_table_image.rst
  docs/samp/index.rst
  docs/table/io.rst
  docs/units/format.rst
  docs/units/index.rst
  examples/coordinates/plot_galactocentric-frame.py
  examples/coordinates/rv-to-gsr.py
Labels: io.votable, table, Docs, io.ascii, units, coordinates, samp, Extra CI, backport-v5.3.x

#14824 Backport PR #14681 on branch v5.3.x (Update domain of CDS from u-strasbg.fr to unistra.fr + https instead of http)
  astropy/coordinates/data/constellation_data_roman87.dat
  astropy/coordinates/data/constellation_names.dat
  astropy/coordinates/funcs.py
  astropy/coordinates/name_resolve.py
  astropy/coordinates/sky_coordinate.py
  astropy/coordinates/tests/test_frames_with_velocity.py
  astropy/coordinates/tests/test_name_resolve.py
  astropy/io/ascii/cds.py
  astropy/io/ascii/mrt.py
  astropy/io/ascii/tests/test_c_reader.py
  astropy/io/votable/exceptions.py
  astropy/units/cds.py
  astropy/units/format/cds.py
  docs/changes/14681.other.rst
  docs/coordinates/index.rst
  docs/coordinates/remote_methods.rst
  docs/coordinates/spectralcoord.rst
  docs/io/ascii/extension_classes.rst
  docs/io/ascii/index.rst
  docs/io/ascii/write.rst
  docs/samp/example_clients.rst
  docs/samp/example_hub.rst
  docs/samp/example_table_image.rst
  docs/samp/index.rst
  docs/table/io.rst
  docs/units/format.rst
  docs/units/index.rst
  examples/coordinates/plot_galactocentric-frame.py
  examples/coordinates/rv-to-gsr.py
Labels: io.votable, table, Docs, io.ascii, units, coordinates, samp, Extra CI, backport-v5.3.x

#14827 Backport PR #14810 on branch v5.2.x (FITS_rec._scale_back(): Incorrectly checks heapsize for TFORMn='Q')
  astropy/io/fits/fitsrec.py
  astropy/io/fits/tests/test_table.py
  docs/changes/io.fits/14810.bugfix.rst
Labels: io.fits, Bug, backport-v5.0.x, backport-v5.2.x, backport-v5.3.x

#14828 Backport PR #14810 on branch v5.3.x (FITS_rec._scale_back(): Incorrectly checks heapsize for TFORMn='Q')
  astropy/io/fits/fitsrec.py
  astropy/io/fits/tests/test_table.py
  docs/changes/io.fits/14810.bugfix.rst
Labels: io.fits, Bug, backport-v5.0.x, backport-v5.2.x, backport-v5.3.x

#14831 Backport PR #14830 on branch v5.0.x (Fix my email in .mailmap)
  .mailmap
Labels: Docs, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x, backport-v5.3.x

#14832 Backport PR #14830 on branch v5.2.x (Fix my email in .mailmap)
  .mailmap
Labels: Docs, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x, backport-v5.3.x

#14833 Backport PR #14830 on branch v5.3.x (Fix my email in .mailmap)
  .mailmap
Labels: Docs, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x, backport-v5.3.x

#14829 Correct the docstring of `redshift_distance()`
  astropy/cosmology/units.py
Labels: Docs, Bug, cosmology, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x, backport-v5.3.x

#14834 Backport PR #14829 on branch v5.0.x (Correct the docstring of `redshift_distance()`)
  astropy/cosmology/units.py
Labels: Docs, Bug, cosmology, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x, backport-v5.3.x

#14835 Backport PR #14829 on branch v5.2.x (Correct the docstring of `redshift_distance()`)
  astropy/cosmology/units.py
Labels: Docs, Bug, cosmology, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x, backport-v5.3.x

#14836 Backport PR #14829 on branch v5.3.x (Correct the docstring of `redshift_distance()`)
  astropy/cosmology/units.py
Labels: Docs, Bug, cosmology, no-changelog-entry-needed, backport-v5.0.x, backport-v5.2.x, backport-v5.3.x

#14701 #12355 Issue: Register latex to Cosmology.write
  astropy/cosmology/io/__init__.py
  astropy/cosmology/io/latex.py
  astropy/cosmology/io/tests/test_latex.py
  astropy/cosmology/tests/test_connect.py
  docs/changes/cosmology/14701.feature.rst
  docs/whatsnew/6.0.rst
Labels: cosmology

#14838 Exclude all tests directories from coverage
  pyproject.toml
Labels: testing, installation, no-changelog-entry-needed

#14843 Ruff fix isort
  .ruff.toml
  astropy/cosmology/__init__.py
  astropy/cosmology/flrw/tests/test_init.py
  astropy/cosmology/io/__init__.py
  astropy/cosmology/io/latex.py
  astropy/cosmology/tests/test_connect.py
  pyproject.toml
Labels: cosmology, installation, no-changelog-entry-needed

#14845 astropy#14844
  astropy/time/tests/test_basic.py
  astropy/wcs/tests/test_tab.py
  astropy/wcs/tests/test_wcs.py
Labels: wcs, time, Refactoring, no-changelog-entry-needed

#14822 Split out tile validation from CompImageHDU into (private) dedicated function
  astropy/io/fits/hdu/compressed.py
Labels: io.fits, Refactoring, no-changelog-entry-needed

#14857 Remove Ruff Rule C400 from ruff.toml
  .ruff.toml
Labels: no-changelog-entry-needed, dev-automation

#14859 Replace deprecated find_common_types
  astropy/stats/funcs.py
Labels: stats, no-changelog-entry-needed, numpy-dev, backport-v5.3.x

#14861 Backport PR #14859 on branch v5.3.x (Replace deprecated find_common_types)
  astropy/stats/funcs.py
Labels: stats, no-changelog-entry-needed, numpy-dev, backport-v5.3.x

#14860 Avoid dirty index with RTD
  .readthedocs.yaml
Labels: Docs, no-changelog-entry-needed, backport-v5.0.x, backport-v5.3.x

#14858 DOC: Dev docs has its own index page
  docs/conf.py
  docs/development/index.rst
  docs/development/testhelpers.rst
  docs/getting_started.rst
  docs/index.rst
  docs/overview.rst
Labels: Docs, no-changelog-entry-needed

#14863 Backport PR #14860 on branch v5.3.x (Avoid dirty index with RTD)
  .readthedocs.yaml
Labels: Docs, no-changelog-entry-needed, backport-v5.0.x, backport-v5.3.x

#14862 Backport PR #14860 on branch v5.0.x (Avoid dirty index with RTD)
  .readthedocs.yaml
Labels: Docs, no-changelog-entry-needed, backport-v5.0.x, backport-v5.3.x

#14864 Ensure np.linalg overrides continue to work with numpy >= 1.25
  astropy/units/quantity.py
Labels: units, no-changelog-entry-needed, numpy-dev, backport-v5.3.x

#14865 Backport PR #14864 on branch v5.3.x (Ensure np.linalg overrides continue to work with numpy >= 1.25)
  astropy/units/quantity.py
Labels: units, no-changelog-entry-needed, numpy-dev, backport-v5.3.x

#14841 Address Ruff Rule C408 in astropy/io Sub-package
  .ruff.toml
  astropy/io/ascii/tests/test_c_reader.py
  astropy/io/ascii/tests/test_cds.py
  astropy/io/ascii/tests/test_read.py
  astropy/io/ascii/tests/test_write.py
  astropy/io/ascii/ui.py
  astropy/io/fits/card.py
  astropy/io/fits/column.py
  astropy/io/fits/connect.py
  astropy/io/fits/file.py
  astropy/io/fits/tests/test_connect.py
  astropy/io/misc/yaml.py
  astropy/io/registry/base.py
  astropy/io/registry/core.py
  astropy/io/registry/tests/test_registries.py
  astropy/io/votable/connect.py
  astropy/io/votable/exceptions.py
Labels: io.votable, io.fits, io.ascii, io.misc, no-changelog-entry-needed

#14875 separate `fvalidate_registry` from Parameter
  astropy/cosmology/flrw/base.py
  astropy/cosmology/parameter/__init__.py
  astropy/cosmology/parameter/_converter.py
  astropy/cosmology/parameter/_core.py
  astropy/cosmology/tests/test_parameter.py
Labels: cosmology, no-changelog-entry-needed

#14886 Backport PR #14839 on branch v5.0.x (Document distance -> redshift)
  astropy/cosmology/units.py
Labels: Docs, cosmology, no-changelog-entry-needed, backport-v5.0.x, backport-v5.3.x
