Repository astropy/astropy, pull requests merged in 2023-12, with the labels that each got.

#15665 Refactor `_parse_coordinate_arg()`
  astropy/coordinates/sky_coordinate_parsers.py
Labels: coordinates, Refactoring, no-changelog-entry-needed

#15668 Backport PR #15667 on branch v6.0.x (Update minimum required version of astropy-iers-data)
  pyproject.toml
Labels: no-changelog-entry-needed, utils.iers, backport-v6.0.x

#15669 Fix bug setting items in bytes MaskedColumn
  astropy/table/column.py
  astropy/table/tests/test_masked.py
  docs/changes/table/15669.bugfix.rst
Labels: table, Bug, backport-v6.0.x

#15671 DOC: edit out a reference to pylab (prefer matplotlib.pyplot)
  astropy/visualization/hist.py
Labels: Docs, visualization, no-changelog-entry-needed, backport-v6.0.x

#15659 Ensure `BaseCoordinateFrame` separation methods work with `SkyCoord` input
  astropy/coordinates/baseframe.py
  astropy/coordinates/tests/test_frames.py
  docs/changes/coordinates/15659.bugfix.rst
Labels: Bug, coordinates

#15674 Backport PR #15671 on branch v6.0.x (DOC: edit out a reference to pylab (prefer matplotlib.pyplot))
  astropy/visualization/hist.py
Labels: Docs, visualization, no-changelog-entry-needed, backport-v6.0.x

#15679 Backport PR #15672 on branch v6.0.x (Add links on mentioned issue and pull request numbers)
  docs/development/testguide.rst
Labels: testing, Docs, time, no-changelog-entry-needed, backport-v6.0.x

#15681 Fix whatsnew URL and instructions
  docs/development/releasing.rst
  docs/whatsnew/6.0.rst
  docs/whatsnew/index.rst
Labels: Docs, Release, no-changelog-entry-needed

#15682 BLD: pin extension-helpers to 1.* following upstream recommendation
  pyproject.toml
Labels: installation, build, no-changelog-entry-needed, backport-v6.0.x

#15673 DOC: minor fixes to astropy.nddata's doc
  astropy/nddata/utils.py
  astropy/utils/decorators.py
  docs/nddata/index.rst
  docs/nddata/mixins/ndarithmetic.rst
Labels: Docs, nddata, utils, no-changelog-entry-needed, backport-v6.0.x

#15688 Backport PR #15673 on branch v6.0.x (DOC: minor fixes to astropy.nddata's doc)
  astropy/nddata/utils.py
  astropy/utils/decorators.py
  docs/nddata/index.rst
  docs/nddata/mixins/ndarithmetic.rst
Labels: Docs, nddata, utils, no-changelog-entry-needed, backport-v6.0.x

#15689 DEP: add a `[typing]` extra dependency target for type-check-only dependencies
  pyproject.toml
Labels: installation, no-changelog-entry-needed

#15697 Remove duplicate pre-commit hooks
  .pre-commit-config.yaml
Labels: no-changelog-entry-needed, skip-changelog-checks, dev-automation

#15699 Add new (2.0) string ufuncs in np.char to UNSUPPORTED_UFUNCS
  astropy/units/quantity_helper/helpers.py
Labels: units, no-changelog-entry-needed, numpy-dev

#15709 Fix typos
  astropy/io/fits/hdu/base.py
  astropy/io/fits/tests/test_core.py
  astropy/table/operations.py
  astropy/table/table.py
  docs/coordinates/solarsystem.rst
Labels: table, io.fits, coordinates, no-changelog-entry-needed, backport-v6.0.x

#15711 Backport PR #15709 on branch v6.0.x (Fix typos)
  astropy/io/fits/hdu/base.py
  astropy/io/fits/tests/test_core.py
  astropy/table/operations.py
  astropy/table/table.py
  docs/coordinates/solarsystem.rst
Labels: table, io.fits, coordinates, no-changelog-entry-needed, backport-v6.0.x

#15704 Backport PR #15699 on branch v6.0.x (Add new (2.0) string ufuncs in np.char to UNSUPPORTED_UFUNCS)
  astropy/units/quantity_helper/helpers.py
Labels: units, no-changelog-entry-needed, numpy-dev, backport-v6.0.x

#15714 Backport PR #15707 on branch v6.0.x (Bump actions/setup-python from 4 to 5 in /.github/workflows)
  .github/workflows/ci_cron_daily.yml
  .github/workflows/ci_cron_weekly.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/update_astropy_iers_data_pin.yml
Labels: testing, no-changelog-entry-needed, dev-automation, dependencies, backport-v6.0.x

#15716 Backport PR #15708 on branch v6.0.x (Bump actions/labeler from 4 to 5 in /.github/workflows)
  .github/workflows/open_actions.yml
Labels: testing, no-changelog-entry-needed, dev-automation, dependencies, backport-v6.0.x

#15715 Fix references to `file-like` objects in glossary
  astropy/io/votable/table.py
  astropy/io/votable/util.py
  astropy/utils/console.py
  astropy/utils/data.py
  astropy/utils/xml/iterparser.py
  astropy/utils/xml/writer.py
Labels: io.votable, Docs, :fire:, utils, no-changelog-entry-needed

#15717 Backport PR #15691 on branch v6.0.x (TST: add test cases + implementations for array functions (NEP 18) new in numpy 2.0)
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/tests/test_quantity_non_ufuncs.py
  astropy/utils/masked/function_helpers.py
  astropy/utils/masked/tests/test_function_helpers.py
Labels: units, no-changelog-entry-needed, numpy-dev, backport-v6.0.x

#15718 Backport PR #15617 on branch v6.0.x ([io.ascii.cds] Fix reading of multi-line CDS descriptions where the continued line starts with a number)
  astropy/io/ascii/cds.py
  astropy/io/ascii/tests/data/cds/description/ReadMe
  astropy/io/ascii/tests/test_cds_header_from_readme.py
  docs/changes/io.ascii/15617.bugfix.rst
Labels: io.ascii, Bug, backport-v6.0.x

#15712 Allow initializing Distance from angle-like parallax
  astropy/coordinates/distances.py
  astropy/coordinates/tests/test_distance.py
  docs/changes/coordinates/15712.bugfix.rst
Labels: Bug, coordinates, backport-v6.0.x

#15723 MNT: fix labeler configuration file for v5
  .github/labeler.yml
  .github/workflows/open_actions.yml
Labels: no-changelog-entry-needed, dev-automation, backport-v6.0.x

#15724 Backport PR #15712 on branch v6.0.x (Allow initializing Distance from angle-like parallax)
  astropy/coordinates/distances.py
  astropy/coordinates/tests/test_distance.py
  docs/changes/coordinates/15712.bugfix.rst
Labels: Bug, coordinates, backport-v6.0.x

#15726 Backport PR #15723 on branch v6.0.x (MNT: fix labeler configuration file for v5)
  .github/labeler.yml
  .github/workflows/open_actions.yml
Labels: no-changelog-entry-needed, dev-automation, backport-v6.0.x

#15725 MNT: cleanup fiduciary comments that are unneeded since Python 3.8 was dropped
  astropy/coordinates/tests/test_frames_with_velocity.py
  astropy/table/tests/test_pprint.py
  astropy/units/quantity.py
Labels: table, units, coordinates, Refactoring, no-changelog-entry-needed

#15730 MNT: fix labeler.yml for labeler v5 (again)
  .github/labeler.yml
Labels: no-changelog-entry-needed, dev-automation, backport-v6.0.x

#15732 Backport PR #15730 on branch v6.0.x (MNT: fix labeler.yml for labeler v5 (again))
  .github/labeler.yml
Labels: no-changelog-entry-needed, dev-automation, backport-v6.0.x

#15719 TST [units]: restore consistent naming convention for array functions tests
  astropy/units/tests/test_quantity_non_ufuncs.py
  astropy/utils/masked/tests/test_function_helpers.py
Labels: testing, units, no-changelog-entry-needed, utils.masked

#15710 BUG [units]: fix signature incompatibilities between helper and helped functions
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/tests/test_quantity_non_ufuncs.py
  docs/changes/units/15710.bugfix.rst
Labels: units, Bug, Refactoring, API change

#15737 Move `position_angle()` from `SkyCoord` to `BaseCoordinateFrame`
  astropy/coordinates/baseframe.py
  astropy/coordinates/sky_coordinate.py
  astropy/coordinates/tests/test_frame_skycoord_common_methods.py
  astropy/coordinates/tests/test_sky_coord.py
  docs/changes/coordinates/15737.feature.rst
  docs/coordinates/matchsep.rst
  docs/coordinates/skycoord.rst
Labels: coordinates, Enhancement

#15746 BOT: Bump action-towncrier-changelog version hash
  .github/workflows/check_changelog.yml
Labels: testing, no-changelog-entry-needed, dev-automation, backport-v6.0.x

#15747 Backport PR #15746 on branch v6.0.x (BOT: Bump action-towncrier-changelog version hash)
  .github/workflows/check_changelog.yml
Labels: testing, no-changelog-entry-needed, dev-automation, backport-v6.0.x

#15755 BUG: avoid double superscipts with unicode
  astropy/units/format/unicode_format.py
  astropy/units/tests/test_format.py
  docs/changes/units/15755.bugfix.rst
Labels: units, Bug, backport-v6.0.x

#15752 Let Quantity accept Array-API compatible objects
  astropy/units/quantity.py
  astropy/units/tests/test_quantity_array_methods.py
  docs/changes/units/15752.api.rst
Labels: units, installation, Refactoring, API change

#15759 Backport PR #15755 on branch v6.0.x (BUG: avoid double superscipts with unicode)
  astropy/units/format/unicode_format.py
  astropy/units/tests/test_format.py
  docs/changes/units/15755.bugfix.rst
Labels: units, Bug, backport-v6.0.x

#15763 Backport PR #15762 on branch v6.0.x (Bump github/codeql-action from 2 to 3 in /.github/workflows)
  .github/workflows/codeql-analysis.yml
Labels: testing, no-changelog-entry-needed, dependencies, backport-v6.0.x

#15748 Remove unused code from an `io.ascii` test helper file
  astropy/io/ascii/tests/common.py
Labels: testing, io.ascii, no-changelog-entry-needed

#15740 Add clarification on the xy coordinates in fit_wcs_from_points
  astropy/wcs/utils.py
Labels: wcs, Docs, Bug, no-changelog-entry-needed, backport-v6.0.x

#15765 Backport PR #15740 on branch v6.0.x (Add clarification on the xy coordinates in fit_wcs_from_points)
  astropy/wcs/utils.py
Labels: wcs, Docs, Bug, no-changelog-entry-needed, backport-v6.0.x

#15766 Backport PR #15760: Support new additions to numpy (np.vecdot, np.matrix_transpose, etc.)
  astropy/coordinates/matrix_utilities.py
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/tests/test_quantity_non_ufuncs.py
  astropy/utils/masked/function_helpers.py
  astropy/utils/masked/tests/test_function_helpers.py
Labels: units, coordinates, Refactoring, no-changelog-entry-needed, numpy-dev, Manual Backport, skip-basebranch-check, utils.masked

#15767 Remove `removestar` pre-commit hook
  .pre-commit-config.yaml
Labels: visualization, no-changelog-entry-needed, skip-changelog-checks, dev-automation, backport-v6.0.x

#15768 Backport PR #15767 on branch v6.0.x (Remove `removestar` pre-commit hook)
  .pre-commit-config.yaml
Labels: visualization, no-changelog-entry-needed, skip-changelog-checks, dev-automation, backport-v6.0.x

#15764 TST: fix a broken table test
  astropy/table/tests/test_pprint.py
Labels: testing, table, Bug, no-changelog-entry-needed, backport-v6.0.x

#15769 Backport PR #15764 on branch v6.0.x (TST: fix a broken table test)
  astropy/table/tests/test_pprint.py
Labels: testing, table, Bug, no-changelog-entry-needed, backport-v6.0.x

#15706 Bump numpy & scipy
  astropy/io/fits/tests/test_table.py
  astropy/table/tests/test_groups.py
  astropy/uncertainty/core.py
  astropy/uncertainty/tests/test_distribution.py
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/structured.py
  astropy/units/tests/test_quantity_non_ufuncs.py
  astropy/utils/compat/numpycompat.py
  astropy/utils/masked/core.py
  astropy/utils/masked/function_helpers.py
  astropy/utils/masked/tests/test_function_helpers.py
  docs/changes/15706.other.rst
  pyproject.toml
  setup.py
  tox.ini
Labels: testing, table, io.fits, utils, installation

#15770 TST: fix incorrect skipif marker
  astropy/cosmology/flrw/tests/test_base.py
Labels: testing, Bug, cosmology, no-changelog-entry-needed, backport-v6.0.x

#15772 Backport PR #15770 on branch v6.0.x (TST: fix incorrect skipif marker)
  astropy/cosmology/flrw/tests/test_base.py
Labels: testing, Bug, cosmology, no-changelog-entry-needed, backport-v6.0.x

#15741 BUG: Fix auto labeler rules
  .github/labeler.yml
Labels: testing, Bug, no-changelog-entry-needed, dev-automation, backport-v6.0.x

#15773 Backport PR #15741 on branch v6.0.x (BUG: Fix auto labeler rules)
  .github/labeler.yml
Labels: testing, Bug, no-changelog-entry-needed, dev-automation, backport-v6.0.x

#15771 ENH: avoid importing optional dependencies just to know if they are installed
  astropy/utils/compat/optional_deps.py
Labels: units, Refactoring, no-changelog-entry-needed

#15733 BUG [table]: fix slicing logic for Row
  astropy/table/row.py
  astropy/table/tests/test_row.py
  docs/changes/table/15733.bugfix.rst
  docs/table/access_table.rst
Labels: table, Bug, backport-v6.0.x

#15777 DEPR: deprecate importing ErfaError and ErfaWarning from astropy.utils.exceptions
  astropy/utils/exceptions.py
  docs/changes/utils/15777.api.rst
Labels: utils

#15776 Shorten three long functions in `coordinates`
  astropy/coordinates/angles/formats.py
  astropy/coordinates/baseframe.py
  astropy/coordinates/sky_coordinate.py
Labels: coordinates, Refactoring, no-changelog-entry-needed

#15736 DOC: Ignore sphinx-gallery generated file
  .gitignore
Labels: Docs, no-changelog-entry-needed

#15785 Update ufunc/linalg helpers to match numpy dev
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/quantity_helper/helpers.py
  astropy/units/tests/test_quantity_non_ufuncs.py
  astropy/units/tests/test_quantity_ufuncs.py
  astropy/utils/masked/function_helpers.py
Labels: units, no-changelog-entry-needed, numpy-dev, backport-v6.0.x

#15786 Backport PR #15785 on branch v6.0.x (Update ufunc/linalg helpers to match numpy dev)
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/quantity_helper/helpers.py
  astropy/units/tests/test_quantity_non_ufuncs.py
  astropy/units/tests/test_quantity_ufuncs.py
  astropy/utils/masked/function_helpers.py
Labels: units, no-changelog-entry-needed, numpy-dev, skip-basebranch-check, utils.masked

#15790 Remove unused angle conversion helpers
  astropy/coordinates/angles/formats.py
Labels: coordinates, no-changelog-entry-needed
