Repository astropy/astropy, pull requests merged in 2023-08, with the labels that each got.

#15088 Cosmo latex identify and cleanup
  astropy/cosmology/_io/latex.py
  astropy/cosmology/_io/tests/test_latex.py
  docs/changes/cosmology/15088.feature.rst
Labels: cosmology

#15051 Added workflow and script to regularly update the minimum required version of astropy-iers-data
  .github/workflows/update_astropy_iers_data_pin.py
  .github/workflows/update_astropy_iers_data_pin.yml
  pyproject.toml
  setup.cfg
Labels: testing, installation, no-changelog-entry-needed

#14867 Use pydata-sphinx-theme
  .pre-commit-config.yaml
  LICENSE.rst
  astropy/cosmology/__init__.py
  docs/_static/astropy.css
  docs/_static/astropy_banner_96_dark.png
  docs/_static/astropy_banner_dark.svg
  docs/_static/astropy_logo.ico
  docs/_static/index-images/api.svg
  docs/_static/index-images/contributor.svg
  docs/_static/index-images/getting_started.svg
  docs/_static/index-images/user_guide.svg
  docs/conf.py
  docs/config/index.rst
  docs/config/ref_api.rst
  docs/convolution/index.rst
  docs/convolution/ref_api.rst
  docs/coordinates/index.rst
  docs/coordinates/ref_api.rst
  docs/cosmology/index.rst
  docs/cosmology/ref_api.rst
  docs/development/index.rst
  docs/glossary.rst
  docs/index.rst
  docs/index_getting_started.rst
  docs/index_project_details.rst
  docs/index_user_docs.rst
  docs/install.rst
  docs/io/ascii/index.rst
  docs/io/ascii/ref_api.rst
  docs/io/misc.rst
  docs/io/misc_ref_api.rst
  docs/io/registry.rst
  docs/io/registry_ref_api.rst
  docs/io/votable/index.rst
  docs/io/votable/ref_api.rst
  docs/modeling/index.rst
  docs/modeling/reference_api.rst
  docs/nddata/index.rst
  docs/nddata/ref_api.rst
  docs/samp/index.rst
  docs/samp/ref_api.rst
  docs/stats/index.rst
  docs/stats/ref_api.rst
  docs/table/index.rst
  docs/table/ref_api.rst
  docs/time/index.rst
  docs/time/ref_api.rst
  docs/timeseries/index.rst
  docs/timeseries/ref_api.rst
  docs/units/index.rst
  docs/units/ref_api.rst
  docs/utils/index.rst
  docs/utils/ref_api.rst
  docs/visualization/index.rst
  docs/visualization/ref_api.rst
  docs/wcs/index.rst
  docs/wcs/reference_api.rst
  setup.cfg
Labels: Docs, installation, Ready-for-final-review, Refactoring, no-changelog-entry-needed

#15090 Cosmo io docs
  astropy/cosmology/_io/cosmology.py
  astropy/cosmology/_io/ecsv.py
  astropy/cosmology/_io/html.py
  astropy/cosmology/_io/latex.py
  astropy/cosmology/_io/mapping.py
  astropy/cosmology/_io/model.py
  astropy/cosmology/_io/row.py
  astropy/cosmology/_io/table.py
  astropy/cosmology/_io/yaml.py
  docs/cosmology/index.rst
  docs/cosmology/io.rst
  docs/cosmology/io/builtin.rst
  docs/cosmology/io/custom.rst
  docs/cosmology/io/details.rst
  docs/cosmology/io/index.rst
Labels: cosmology, no-changelog-entry-needed

#14874 Cosmo param dataclass
  astropy/cosmology/parameter/_core.py
  astropy/cosmology/tests/test_parameter.py
  astropy/utils/compat/misc.py
  docs/changes/cosmology/14874.api.rst
  docs/whatsnew/6.0.rst
Labels: cosmology, utils, Refactoring, whatsnew-needed

#15116 MNT: avoid numpy.maximum_sctype (deprecated in numpy 2.0)
  astropy/nddata/bitmask.py
Labels: nddata, no-changelog-entry-needed, numpy-dev, Extra CI, backport-v5.3.x

#15118 Backport PR #15116 on branch v5.3.x (MNT: avoid numpy.maximum_sctype (deprecated in numpy 2.0))
  astropy/nddata/bitmask.py
Labels: nddata, no-changelog-entry-needed, numpy-dev, Extra CI, backport-v5.3.x

#15119 fix double-toc
  docs/cosmology/index.rst
Labels: Docs, Bug, cosmology, no-changelog-entry-needed

#15130 ruff isort io
  .ruff.toml
  astropy/io/ascii/tests/test_cds_header_from_readme.py
  astropy/io/ascii/tests/test_read.py
  astropy/io/votable/table.py
  astropy/io/votable/tree.py
Labels: io.votable, io.ascii, no-changelog-entry-needed

#15131 Ruff fix PT013 — pytest import
  .ruff.toml
  astropy/wcs/wcsapi/tests/test_low_level_api.py
  astropy/wcs/wcsapi/tests/test_utils.py
Labels: no-changelog-entry-needed, wcs.wcsapi

#15129 ruff isort nddata
  .ruff.toml
  astropy/nddata/mixins/ndslicing.py
  astropy/nddata/nddata.py
  astropy/nddata/utils.py
Labels: nddata, no-changelog-entry-needed

#15128 ruff apply isort to modeling
  .ruff.toml
  astropy/modeling/tests/test_pickle.py
  astropy/modeling/tests/test_quantities_parameters.py
Labels: modeling, no-changelog-entry-needed

#15139 ruff isort visualization
  .ruff.toml
  astropy/visualization/wcsaxes/tests/test_images.py
  astropy/visualization/wcsaxes/ticklabels.py
Labels: no-changelog-entry-needed, visualization.wcsaxes

#15135 ruff isort table
  .ruff.toml
  astropy/table/tests/test_operations.py
Labels: table, no-changelog-entry-needed

#15133 Use double quotes in test command for wheel building/testing
  .github/workflows/publish.yml
Labels: testing, Bug, no-changelog-entry-needed, dev-automation, Build all wheels

#15138 ruff isort units
  .ruff.toml
  astropy/units/physical.py
Labels: units, no-changelog-entry-needed

#15140 ruff isort wcs
  .ruff.toml
  astropy/wcs/wcsapi/tests/test_high_level_api.py
Labels: no-changelog-entry-needed, wcs.wcsapi

#15137 ruff isort timeseries
  .ruff.toml
  astropy/timeseries/periodograms/lombscargle_multiband/tests/test_lombscargle_multiband.py
Labels: no-changelog-entry-needed, timeseries

#15136 ruff isort time
  .ruff.toml
  astropy/time/core.py
Labels: time, no-changelog-entry-needed

#15144 rename X_test to test_X in io/votable/tests
  astropy/io/votable/tests/test_converter.py
  astropy/io/votable/tests/test_exception.py
  astropy/io/votable/tests/test_resource.py
  astropy/io/votable/tests/test_table.py
  astropy/io/votable/tests/test_tree.py
  astropy/io/votable/tests/test_ucd.py
  astropy/io/votable/tests/test_util.py
  astropy/io/votable/tests/test_vo.py
Labels: testing, io.votable, no-changelog-entry-needed

#15127 lazy load realizations
  astropy/cosmology/__init__.py
Labels: cosmology, no-changelog-entry-needed

#15124 Only keep 10 latest developer versions of wheels
  .github/workflows/publish.yml
Labels: testing, no-changelog-entry-needed, Build all wheels

#15101 Modified the implementation of `np.power()` for instances of `Quantity` to allow any array as the second operand if all its elements have the same value.
  astropy/units/tests/test_quantity_ufuncs.py
  astropy/units/utils.py
  docs/changes/units/15101.bugfix.rst
Labels: units, Bug, backport-v5.3.x

#15100 Update dev docs for GitHub Squash and merge option
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/open_actions.yml
  docs/development/index.rst
  docs/development/when_to_rebase.rst
  docs/development/workflow/development_workflow.rst
  docs/development/workflow/maintainer_workflow.rst
Labels: Docs, no-changelog-entry-needed

#15160 Backport PR #15154 on branch v5.3.x (DOC: Known issue for chained comparison for Quantities with dimensionless zero)
  docs/known_issues.rst
Labels: Docs, units, no-changelog-entry-needed, backport-v5.0.x, backport-v5.3.x

#15159 Backport PR #15154 on branch v5.0.x (DOC: Known issue for chained comparison for Quantities with dimensionless zero)
  docs/known_issues.rst
Labels: Docs, units, no-changelog-entry-needed, backport-v5.0.x, backport-v5.3.x

#15158 Finalizing changelog for v5.3.2
  CHANGES.rst
  docs/changes/coordinates/15037.bugfix.rst
  docs/changes/nddata/15082.bugfix.rst
  docs/changes/units/15101.bugfix.rst
Labels: nddata, units, coordinates, skip-changelog-checks, skip-basebranch-check, backport-main

#15157 Finalizing changelog for v5.0.7
  CHANGES.rst
  docs/changes/14767.other.rst
  docs/changes/cosmology/14991.bugfix.rst
  docs/changes/io.fits/14598.bugfix.rst
  docs/changes/io.fits/14810.bugfix.rst
  docs/changes/io.fits/14998.bugfix.rst
  docs/changes/time/14566.bugfix.rst
  docs/changes/units/14635.bugfix.rst
  docs/changes/utils/14624.bugfix.rst
  docs/changes/visualization/14251.bugfix.rst
  docs/changes/wcs/13571.bugfix.rst
Labels: wcs, time, units, cosmology, utils, visualization, skip-changelog-checks, skip-basebranch-check

#15156 Fix a typo in sky_coordinate.py
  astropy/coordinates/sky_coordinate.py
Labels: Docs, Bug, coordinates, no-changelog-entry-needed, backport-v5.0.x, backport-v5.3.x

#15161 Backport PR #15156 on branch v5.0.x (Fix a typo in sky_coordinate.py)
  astropy/coordinates/sky_coordinate.py
Labels: Docs, Bug, coordinates, no-changelog-entry-needed, backport-v5.0.x, backport-v5.3.x

#15162 Backport PR #15156 on branch v5.3.x (Fix a typo in sky_coordinate.py)
  astropy/coordinates/sky_coordinate.py
Labels: Docs, Bug, coordinates, no-changelog-entry-needed, backport-v5.0.x, backport-v5.3.x

#15096 TST: Use legacy numpy 1.25 print
  astropy/conftest.py
  astropy/modeling/tests/test_constraints.py
  astropy/modeling/tests/test_physical_models.py
  astropy/nddata/tests/test_bitmask.py
  astropy/units/quantity_helper/function_helpers.py
  astropy/utils/compat/numpycompat.py
  astropy/utils/tests/test_misc.py
Labels: testing, Docs, utils, no-changelog-entry-needed, numpy-dev, Extra CI, backport-v5.3.x

#15102 Cosmo realizations docs
  astropy/cosmology/__init__.py
  astropy/cosmology/_io/yaml.py
  astropy/cosmology/data/Planck13.ecsv
  astropy/cosmology/data/Planck15.ecsv
  astropy/cosmology/data/Planck18.ecsv
  astropy/cosmology/data/WMAP1.ecsv
  astropy/cosmology/data/WMAP3.ecsv
  astropy/cosmology/data/WMAP5.ecsv
  astropy/cosmology/data/WMAP7.ecsv
  astropy/cosmology/data/WMAP9.ecsv
  astropy/cosmology/parameters.py
  astropy/cosmology/realizations.py
  docs/common_links.txt
  docs/cosmology/index.rst
  docs/cosmology/realizations.rst
Labels: cosmology, no-changelog-entry-needed

#15164 Backport PR #15096 on branch v5.3.x (TST: Use legacy numpy 1.25 print)
  astropy/conftest.py
  astropy/modeling/tests/test_constraints.py
  astropy/modeling/tests/test_physical_models.py
  astropy/nddata/tests/test_bitmask.py
  astropy/units/quantity_helper/function_helpers.py
  astropy/utils/compat/numpycompat.py
  astropy/utils/tests/test_misc.py
Labels: testing, Docs, utils, no-changelog-entry-needed, numpy-dev, Extra CI, backport-v5.3.x

#15174 Backport PR #15133 on branch v5.3.x (Use double quotes in test command for wheel building/testing)
  .github/workflows/publish.yml
Labels: testing, Bug, no-changelog-entry-needed, dev-automation, Build all wheels

#15175 Backport PR #15133 on branch v5.0.x (Use double quotes in test command for wheel building/testing)
  .github/workflows/publish.yml
Labels: testing, Manual Backport, skip-changelog-checks, skip-basebranch-check

#15176 Backport PR #15158: Finalizing changelog for v5.3.2
  CHANGES.rst
  docs/changes/coordinates/15037.bugfix.rst
  docs/changes/nddata/15082.bugfix.rst
  docs/changes/units/15101.bugfix.rst
Labels: nddata, units, coordinates, skip-changelog-checks

#15177 TST: Ignore numpy-dev warnings from within scipy-dev
  astropy/modeling/tests/test_models_quantities.py
  setup.cfg
Labels: installation, no-changelog-entry-needed, numpy-dev, backport-v5.3.x

#15153 MNT: Merge duplicate mailmap entries
  .mailmap
Labels: Docs, no-changelog-entry-needed, backport-v5.0.x, backport-v5.3.x

#15179 Backport PR #15153 on branch v5.3.x (MNT: Merge duplicate mailmap entries)
  .mailmap
Labels: Docs, no-changelog-entry-needed, backport-v5.0.x, backport-v5.3.x

#15178 Backport PR #15177 on branch v5.3.x (TST: Ignore numpy-dev warnings from within scipy-dev)
  astropy/modeling/tests/test_models_quantities.py
  setup.cfg
Labels: installation, no-changelog-entry-needed, numpy-dev, backport-v5.3.x

#15054 pytest 8 compatibility
  astropy/coordinates/tests/test_iau_fullstack.py
  astropy/coordinates/tests/test_regression.py
  astropy/coordinates/tests/test_spectral_coordinate.py
  astropy/coordinates/tests/test_utils.py
  astropy/cosmology/flrw/tests/test_w0wzcdm.py
  astropy/cosmology/funcs/tests/test_funcs.py
  astropy/io/fits/tests/test_core.py
  astropy/io/fits/tests/test_hdulist.py
  astropy/io/fits/tests/test_header.py
  astropy/io/fits/tests/test_image.py
  astropy/io/votable/tests/test_tree.py
  astropy/io/votable/tests/test_vo.py
  astropy/io/votable/util.py
  astropy/modeling/tests/test_physical_models.py
  astropy/nddata/tests/test_ccddata.py
  astropy/table/tests/test_groups.py
  astropy/table/tests/test_table.py
  astropy/tests/helper.py
  astropy/utils/tests/test_data.py
  astropy/utils/tests/test_decorators.py
  astropy/utils/tests/test_misc.py
  astropy/wcs/tests/test_pickle.py
  astropy/wcs/tests/test_wcs.py
  astropy/wcs/wcs.py
  astropy/wcs/wcsapi/tests/test_fitswcs.py
  docs/changes/wcs/15054.bugfix.rst
Labels: testing, io.votable, wcs, table, io.fits, nddata, modeling, utils, wcs.wcsapi, Extra CI, backport-v5.3.x

#15185 Correct two minor problems with `io.fits` documentation
  astropy/io/fits/hdu/base.py
  docs/io/fits/index.rst
Labels: Docs, io.fits, Bug, no-changelog-entry-needed, backport-v5.0.x, backport-v5.3.x

#15188 TST: Pin pytest<8 for v5.3.x
  setup.cfg
Labels: testing, installation, no-changelog-entry-needed, skip-basebranch-check, backport-v5.0.x

#15186 Backport PR #15185 on branch v5.0.x (Correct two minor problems with `io.fits` documentation)
  astropy/io/fits/hdu/base.py
  docs/io/fits/index.rst
Labels: Docs, io.fits, Bug, no-changelog-entry-needed, backport-v5.0.x, backport-v5.3.x

#15187 Backport PR #15185 on branch v5.3.x (Correct two minor problems with `io.fits` documentation)
  astropy/io/fits/hdu/base.py
  docs/io/fits/index.rst
Labels: Docs, io.fits, Bug, no-changelog-entry-needed, backport-v5.0.x, backport-v5.3.x

#15189 DOC: Pin sphinx<7.2
  astropy/cosmology/data/WMAP3.ecsv
  setup.cfg
Labels: Upstream Fix Required, Docs, installation, no-changelog-entry-needed, Extra CI, backport-v5.0.x, backport-v5.3.x

#15191 Backport PR #15189 on branch v5.3.x (DOC: Pin sphinx<7.2)
  astropy/cosmology/data/WMAP3.ecsv
  setup.cfg
Labels: Upstream Fix Required, Docs, cosmology, installation, no-changelog-entry-needed, Manual Backport, skip-basebranch-check, Extra CI

#15192 Backport PR #15189 on branch v5.0.x (DOC: Pin sphinx<7.2) and fix devdeps
  astropy/utils/tests/test_misc.py
  setup.cfg
Labels: Upstream Fix Required, utils, installation, no-changelog-entry-needed, Manual Backport, skip-basebranch-check, Extra CI

#15183 Remove obsolete `Quantity` concatenation workarounds
  astropy/coordinates/funcs.py
  astropy/coordinates/sky_coordinate_parsers.py
Labels: coordinates, Refactoring, no-changelog-entry-needed

#15197 Attempt to patch scipy 1.11.2 bug
  astropy/modeling/tests/test_constraints.py
Labels: testing, modeling, no-changelog-entry-needed, backport-v5.0.x, backport-v5.3.x

#15198 Backport PR #15197 on branch v5.3.x (Attempt to patch scipy 1.11.2 bug)
  astropy/modeling/tests/test_constraints.py
Labels: testing, modeling, no-changelog-entry-needed, backport-v5.3.x

#15199 Pin scipy below latest release for v5.0.x
  setup.cfg
Labels: installation, no-changelog-entry-needed, skip-basebranch-check

#15184 DOC: Fix RTD
  setup.cfg
Labels: Docs, installation, no-changelog-entry-needed, backport-v5.3.x

#14949 Build: Replace oldest-supported-numpy
  pyproject.toml
  setup.py
Labels: installation, build, no-changelog-entry-needed, Extra CI, Build all wheels

#15201 TST: Un-ignore warnings in devdeps
  setup.cfg
Labels: testing, installation, no-changelog-entry-needed, backport-v5.3.x

#15203 Backport PR #15201 on branch v5.3.x (TST: Un-ignore warnings in devdeps)
  setup.cfg
Labels: testing, installation, no-changelog-entry-needed, backport-v5.3.x

#15204 MNT: Deprecate tests/command.py
  astropy/tests/command.py
  docs/changes/tests/15204.api.rst
  setup.cfg
Labels: testing, Refactoring

#15213 MNT: Fix typo
  SECURITY.md
Labels: Docs, Bug, no-changelog-entry-needed

#14926 astropy#14818 - Adress ruff rule ISC003 violations
  .ruff.toml
  astropy/io/ascii/fixedwidth.py
  astropy/io/ascii/tests/test_c_reader.py
  astropy/io/ascii/tests/test_cds.py
  astropy/io/votable/exceptions.py
  astropy/io/votable/tree.py
  astropy/table/tests/test_mixin.py
  astropy/utils/xml/check.py
  astropy/wcs/utils.py
  astropy/wcs/wcs.py
Labels: io.votable, wcs, table, io.ascii, utils, Refactoring, no-changelog-entry-needed

#15215 Better masking for non-finite values in model fitting
  astropy/modeling/fitting.py
  astropy/modeling/tests/test_fitters.py
  docs/changes/modeling/15215.bugfix.rst
Labels: Bug, modeling, backport-v5.3.x

#15209 API: check_broadcast cannot return None
  astropy/modeling/core.py
  astropy/modeling/tests/test_core.py
  astropy/modeling/tests/test_models.py
  docs/changes/modeling/15209.api.rst
Labels: modeling, Refactoring, API change

#15217 Backport PR #15215 on branch v5.3.x (Better masking for non-finite values in model fitting)
  astropy/modeling/fitting.py
  astropy/modeling/tests/test_fitters.py
  docs/changes/modeling/15215.bugfix.rst
Labels: Bug, modeling, backport-v5.3.x

#15214 MNT: fix incorrect comment in test_inconsistent_input_shapes
  astropy/modeling/tests/test_models.py
Labels: Docs, modeling, no-changelog-entry-needed

#15219 Backport PR #15214 on branch v5.3.x (MNT: fix incorrect comment in test_inconsistent_input_shapes)
  astropy/modeling/tests/test_models.py
Labels: Docs, Bug, modeling, no-changelog-entry-needed, backport-v5.0.x, backport-v5.3.x

#15218 Backport PR #15214 on branch v5.0.x (MNT: fix incorrect comment in test_inconsistent_input_shapes)
  astropy/modeling/tests/test_models.py
Labels: Docs, Bug, modeling, no-changelog-entry-needed, backport-v5.0.x, backport-v5.3.x

#15143 Pre commit ci update config
  .pre-commit-config.yaml
  .ruff.toml
  astropy/constants/tests/test_constant.py
  astropy/constants/tests/test_prior_version.py
  astropy/convolution/tests/test_convolve_fft.py
  astropy/coordinates/polarization.py
  astropy/coordinates/representation/base.py
  astropy/cosmology/parameter/_converter.py
  astropy/cosmology/parameter/_core.py
  astropy/cosmology/realizations.py
  astropy/cosmology/tests/test_core.py
  astropy/io/ascii/fixedwidth.py
  astropy/io/ascii/ipac.py
  astropy/io/ascii/mrt.py
  astropy/io/ascii/tests/test_ipac_definitions.py
  astropy/io/fits/fitstime.py
  astropy/modeling/bounding_box.py
  astropy/modeling/tests/test_polynomial.py
  astropy/table/bst.py
  astropy/table/table.py
  astropy/table/tests/test_operations.py
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/tests/test_quantity.py
  astropy/units/tests/test_quantity_annotations.py
  astropy/units/tests/test_quantity_non_ufuncs.py
  astropy/units/utils.py
  astropy/utils/masked/tests/test_function_helpers.py
  astropy/utils/tests/test_console.py
  astropy/utils/tests/test_data.py
  astropy/visualization/wcsaxes/formatter_locator.py
  astropy/wcs/wcs.py
Labels: io.votable, table, io.fits, units, coordinates, modeling, cosmology, utils, constants, convolution, no-changelog-entry-needed, skip-changelog-checks, dev-automation, utils.masked

#15222 Backport PR #15221: Fix a compatibility issue with numpy 2.0 (astropy.units) following the removal of numpy.msort
  astropy/units/quantity_helper/function_helpers.py
  astropy/utils/masked/function_helpers.py
Labels: units, Bug, numpy-dev, Manual Backport, skip-changelog-checks, skip-basebranch-check, utils.masked

#15227 Backport PR #15049 on branch v5.0.x (fix sign of w0wzCDM inv_efuncs pyx)
  astropy/cosmology/flrw.py
  astropy/cosmology/scalar_inv_efuncs.pyx
  astropy/cosmology/tests/test_cosmology.py
  docs/changes/cosmology/15227.bugfix.rst
Labels: cosmology, Manual Backport, skip-basebranch-check

#15224 Backport PR #15049: fix sign of w0wzCDM inv_efuncs pyx (v5.3.x)
  astropy/cosmology/flrw/scalar_inv_efuncs.pyx
  astropy/cosmology/flrw/tests/test_w0wzcdm.py
  astropy/cosmology/flrw/w0wzcdm.py
  docs/changes/cosmology/15224.bugfix.rst
Labels: cosmology, Manual Backport, skip-basebranch-check

#15205 MNT: Remove deprecated dms_to_degrees and hms_to_hours
  astropy/coordinates/angle_formats.py
  astropy/coordinates/angles.py
  astropy/coordinates/tests/test_angles.py
  astropy/coordinates/tests/test_arrays.py
  docs/changes/coordinates/15205.api.rst
Labels: coordinates, Refactoring, API change

#15228 Bugfix for short version of `np.nanmedian`
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/tests/test_quantity_non_ufuncs.py
  docs/changes/units/15228.bugfix.rst
Labels: units, Bug, backport-v5.3.x

#15232 Backport PR #15228 on branch v5.3.x (Bugfix for short version of `np.nanmedian`)
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/tests/test_quantity_non_ufuncs.py
  docs/changes/units/15228.bugfix.rst
Labels: units, Bug, backport-v5.3.x

#15235 MNT: more compatibility with NumPy 2.0
  astropy/io/ascii/cparser.pyx
  astropy/io/ascii/tests/test_c_reader.py
  astropy/io/misc/tests/test_yaml.py
  astropy/io/misc/yaml.py
  astropy/io/votable/converters.py
  astropy/io/votable/tests/test_vo.py
  astropy/modeling/tests/test_constraints.py
  astropy/table/meta.py
  astropy/table/tests/test_column.py
  astropy/table/tests/test_row.py
  astropy/time/formats.py
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/tests/test_quantity_non_ufuncs.py
  astropy/utils/masked/core.py
  astropy/utils/masked/function_helpers.py
  astropy/utils/masked/tests/test_function_helpers.py
  astropy/wcs/wcsapi/low_level_api.py
  tox.ini
Labels: units, no-changelog-entry-needed, numpy-dev, Extra CI, utils.masked, Build all wheels

#15244 RTD: No more system_packages
  .readthedocs.yaml
Labels: Docs, no-changelog-entry-needed, backport-v5.0.x, backport-v5.3.x

#15245 Backport PR #15244 on branch v5.0.x (RTD: No more system_packages)
  .readthedocs.yaml
Labels: Docs, no-changelog-entry-needed, backport-v5.0.x, backport-v5.3.x

#15246 Backport PR #15244 on branch v5.3.x (RTD: No more system_packages)
  .readthedocs.yaml
Labels: Docs, no-changelog-entry-needed, backport-v5.0.x, backport-v5.3.x

#15141 Reorganize FITS compressed HDU code into sub-package
  astropy/io/fits/hdu/compressed/__init__.py
  astropy/io/fits/hdu/compressed/compressed.py
  astropy/io/fits/hdu/compressed/header.py
  astropy/io/fits/hdu/compressed/section.py
  astropy/io/fits/hdu/compressed/tests/__init__.py
  astropy/io/fits/hdu/compressed/tests/test_checksum.py
  astropy/io/fits/hdu/compressed/tests/test_compressed.py
  astropy/io/fits/hdu/compressed/tests/test_compression_failures.py
  astropy/io/fits/hdu/compressed/utils.py
  astropy/io/fits/hdu/hdulist.py
  astropy/io/fits/tests/test_checksum.py
  astropy/io/fits/tests/test_image.py
Labels: io.fits, Refactoring, no-changelog-entry-needed

#15155 Documentation fix for issue #15132 PrimaryHDU.fromstring() accepts bytes not bytearray for data parameter
  astropy/io/fits/hdu/base.py
Labels: Docs, io.fits, Bug, no-changelog-entry-needed, backport-v5.0.x, backport-v5.3.x

#15249 Backport PR #15155 on branch v5.3.x (Documentation fix for issue #15132 PrimaryHDU.fromstring() accepts bytes not bytearray for data parameter )
  astropy/io/fits/hdu/base.py
Labels: Docs, io.fits, Bug, no-changelog-entry-needed, backport-v5.0.x, backport-v5.3.x

#15250 #14818 Address ruff violations to rule C417
  .ruff.toml
  astropy/timeseries/periodograms/lombscargle/implementations/slow_impl.py
Labels: Refactoring, no-changelog-entry-needed, timeseries

#15254 Black suddenly wants to add a bunch of commas?
  astropy/coordinates/tests/test_representation_arithmetic.py
  astropy/coordinates/tests/test_sky_coord_velocities.py
  astropy/cosmology/_io/ecsv.py
  astropy/cosmology/_io/utils.py
  astropy/cosmology/flrw/lambdacdm.py
  astropy/cosmology/flrw/tests/test_base.py
  astropy/cosmology/flrw/w0cdm.py
  astropy/cosmology/flrw/w0wacdm.py
  astropy/cosmology/flrw/w0wzcdm.py
  astropy/cosmology/flrw/wpwazpcdm.py
  astropy/io/ascii/tests/test_fixedwidth.py
  astropy/nddata/decorators.py
  astropy/timeseries/downsample.py
  astropy/units/tests/test_quantity_non_ufuncs.py
Labels: io.ascii, nddata, units, coordinates, cosmology, no-changelog-entry-needed, timeseries, black

#15234 MNT: Pin numpy<2 for v5.3.x
  astropy/modeling/tests/test_constraints.py
  docs/changes/15234.other.rst
  pyproject.toml
  setup.cfg
  tox.ini
Labels: testing, installation, numpy-dev, skip-basebranch-check

#15252 TST: Add back test removed in PR 15054 (pytest 8 compat)
  astropy/io/fits/tests/test_core.py
Labels: testing, io.fits, Bug, Affects-dev, no-changelog-entry-needed, Extra CI

#15216 add step in release procedure to update SECURITY.md
  docs/development/releasing.rst
Labels: Docs, Release, Affects-dev, no-changelog-entry-needed

#15253 BUG: fix an incompatibility with numpy 2.0 (np.lib.arraysetops is removed)
  astropy/utils/masked/function_helpers.py
Labels: no-changelog-entry-needed, numpy-dev, utils.masked

#15258 Move `astropy.modeling.models` to sub-module
  astropy/modeling/models/__init__.py
  pyproject.toml
Labels: modeling, installation, no-changelog-entry-needed

#15237 MetaData on dataclasses and default is None
  astropy/cosmology/tests/test_core.py
  astropy/utils/metadata.py
  astropy/utils/tests/test_metadata.py
  docs/changes/utils/15237.api.rst
Labels: utils

#15260 #14818 Address ruff violations to rule C413
  .ruff.toml
  astropy/io/fits/hdu/compressed/compressed.py
Labels: io.fits, Refactoring, no-changelog-entry-needed
