Repository astropy/astropy, pull requests merged in 2023-10, with the labels that each got.

#15409 Fix typo
  docs/coordinates/performance.inc.rst
Labels: coordinates, no-changelog-entry-needed

#15413 Backport PR #15409 on branch v5.3.x (Fix typo)
  docs/coordinates/performance.inc.rst
Labels: Docs, Bug, coordinates, no-changelog-entry-needed, backport-v5.0.x, backport-v5.3.x

#15412 Backport PR #15409 on branch v5.0.x (Fix typo)
  docs/coordinates/performance.inc.rst
  setup.cfg
Labels: Docs, Bug, coordinates, no-changelog-entry-needed, backport-v5.0.x, backport-v5.3.x

#15121 Broadcast frames over both data and attributes
  astropy/coordinates/baseframe.py
  astropy/coordinates/tests/test_frames.py
  docs/changes/coordinates/15121.feature.rst
  docs/coordinates/performance.inc.rst
  docs/whatsnew/6.0.rst
Labels: Bug, coordinates, whatsnew-needed, API change

#15406 Handle ruff error RET508.
  .ruff.toml
  astropy/io/ascii/sextractor.py
  astropy/io/fits/hdu/image.py
  astropy/io/votable/tree.py
  astropy/table/pprint.py
  astropy/units/core.py
Labels: io.votable, table, io.fits, io.ascii, units, no-changelog-entry-needed

#15396 Remove deprecated code and deprecate a few more things in io.fits
  astropy/io/fits/hdu/base.py
  astropy/io/fits/hdu/table.py
  astropy/io/fits/header.py
  astropy/io/fits/tests/test_core.py
  astropy/io/fits/tests/test_table.py
  docs/changes/io.fits/15396.api.rst
Labels: io.fits, API change

#15423 Ignore Ruff rules in single sub-packages
  .ruff.toml
Labels: no-changelog-entry-needed, dev-automation

#15421 MNT: Replace IETF_LEAP_SECOND_URL with working url for v5.3.x
  astropy/utils/iers/iers.py
  docs/changes/utils/15421.api.rst
Labels: utils, utils.iers, skip-basebranch-check, backport-v5.0.x

#15425 Backport PR #15421 on branch v5.0.x (MNT: Replace IETF_LEAP_SECOND_URL with working url for v5.3.x)
  astropy/utils/iers/iers.py
  docs/changes/utils/15421.api.rst
Labels: utils, utils.iers, skip-basebranch-check, backport-v5.0.x

#15395 Allow the use of Distribution in Representations and SkyCoord
  astropy/coordinates/representation/base.py
  astropy/uncertainty/core.py
  astropy/uncertainty/function_helpers.py
  astropy/uncertainty/tests/test_containers.py
  astropy/uncertainty/tests/test_functions.py
  docs/changes/uncertainty/15395.feature.rst
Labels: coordinates, Enhancement, uncertainty

#14438 ENH: Use Masked array repr convention in NDData
  astropy/nddata/mixins/ndslicing.py
  astropy/nddata/nddata.py
  astropy/nddata/tests/test_nddata.py
  astropy/utils/compat/optional_deps.py
  docs/changes/nddata/14438.feature.rst
  docs/nddata/index.rst
  docs/nddata/mixins/ndslicing.rst
  docs/nddata/nddata.rst
  docs/nddata/subclassing.rst
Labels: nddata

#15418 MNT: Deprecate fnunpickle and fnpickle
  astropy/io/misc/pickle_helpers.py
  astropy/io/misc/tests/test_pickle_helpers.py
  docs/changes/io.misc/15418.api.rst
Labels: io.misc, API change

#15426 Fix minor gating in ruff update
  .ruff.toml
  astropy/uncertainty/function_helpers.py
Labels: no-changelog-entry-needed, uncertainty

#15424 Finalizing changelog for v5.3.4
  CHANGES.rst
  docs/changes/14784.other.rst
  docs/changes/io.misc/15373.bugfix.rst
  docs/changes/io.votable/15359.bugfix.rst
  docs/changes/units/15282.bugfix.rst
  docs/changes/units/15368.bugfix.rst
  docs/changes/utils/15380.bugfix.rst
  docs/changes/utils/15421.api.rst
Labels: units, utils, no-changelog-entry-needed, skip-changelog-checks, skip-basebranch-check, Extra CI, Build all wheels

#15427 TST: Use stable release of Python 3.12
  .github/workflows/ci_cron_weekly.yml
  .github/workflows/ci_workflows.yml
Labels: testing, no-changelog-entry-needed, backport-v5.3.x

#15430 Backport PR #15424 on branch main (Finalizing changelog for v5.3.4)
  CHANGES.rst
  docs/changes/14784.other.rst
  docs/changes/io.misc/15373.bugfix.rst
  docs/changes/io.votable/15359.bugfix.rst
  docs/changes/units/15282.bugfix.rst
  docs/changes/units/15368.bugfix.rst
  docs/changes/utils/15380.bugfix.rst
Labels: units, utils, no-changelog-entry-needed, skip-changelog-checks, skip-basebranch-check, Extra CI, Build all wheels

#15431 Remove section about the stable branch
  docs/development/releasing.rst
Labels: Docs, Release, no-changelog-entry-needed

#15433 Use Python 3.11 for intersphinx links to avoid 3.12 warnings
  docs/conf.py
Labels: Docs, no-changelog-entry-needed

#15435 MNT: Bump astropy-iers-data version
  pyproject.toml
Labels: installation, Affects-dev, no-changelog-entry-needed

#15444 Shell compat fix for docs
  docs/development/testguide.rst
  docs/development/workflow/development_workflow.rst
  docs/development/workflow/get_devel_version.rst
  docs/development/workflow/git_edit_workflow_examples.rst
Labels: Docs, no-changelog-entry-needed

#15445 Reverts PR 15433 (Use Python 3.11 for intersphinx links to avoid 3.12 warnings)
  docs/conf.py
Labels: Docs, Affects-dev, no-changelog-entry-needed

#15448 Remove unnecessary `FlatFLRWMixin.clone()`
  astropy/cosmology/core.py
  astropy/cosmology/flrw/base.py
Labels: cosmology, Refactoring, no-changelog-entry-needed

#13499 Implement a `help()` method for the configuration system
  astropy/config/configuration.py
  astropy/config/tests/test_configs.py
  docs/changes/config/13499.feature.rst
  docs/config/index.rst
Labels: config, Enhancement

#15390 Feature MIVOT (Model Instance in VOTable)
  astropy/io/votable/exceptions.py
  astropy/io/votable/tests/data/mivot_annotated_table.xml
  astropy/io/votable/tests/data/mivot_block_custom_datatype.xml
  astropy/io/votable/tests/data/test.order.xml
  astropy/io/votable/tests/test_tree.py
  astropy/io/votable/tree.py
  astropy/utils/xml/writer.py
  docs/changes/io.votable/15390.feature.rst
  docs/io/votable/index.rst
  docs/whatsnew/6.0.rst
Labels: io.votable, Docs, utils, whatsnew-needed

#15404 MetaData compatibility with frozen dataclasses
  astropy/utils/metadata/core.py
  astropy/utils/metadata/tests/test_metadata.py
  docs/changes/utils/15404.api.rst
Labels: utils

#15451 Ensure Masked scalars print the same way as regular array scalars
  astropy/utils/masked/function_helpers.py
  astropy/utils/masked/tests/test_masked.py
  docs/changes/utils/15451.bugfix.rst
Labels: Bug, utils, utils.masked

#15454 Account for removal of "a" dtype in numpy 2.0
  astropy/io/fits/column.py
  astropy/io/fits/fitsrec.py
  astropy/io/fits/tests/test_core.py
  astropy/io/fits/tests/test_table.py
  astropy/io/fits/tests/test_tilde_path.py
  docs/io/fits/usage/table.rst
Labels: io.fits, no-changelog-entry-needed, numpy-dev

#15450 Ensure mask calculation is correct also for multi-op ufunc with scalars
  astropy/utils/masked/core.py
  astropy/utils/masked/tests/test_functions.py
  docs/changes/utils/15450.bugfix.rst
Labels: Bug, utils, utils.masked, backport-v5.0.x, backport-v5.3.x

#15457 Update a dtype in comments
  astropy/io/fits/column.py
  astropy/io/fits/fitsrec.py
Labels: io.fits, no-changelog-entry-needed

#15458 Backport PR #15450 on branch v5.3.x (Ensure mask calculation is correct also for multi-op ufunc with scalars)
  astropy/utils/masked/core.py
  astropy/utils/masked/tests/test_functions.py
  docs/changes/utils/15450.bugfix.rst
Labels: Bug, utils, utils.masked, backport-v5.0.x, backport-v5.3.x

#15460 Backport PR #15450 on branch v5.0.x (Ensure mask calculation is correct also for multi-op ufunc with scalars)
  astropy/utils/masked/core.py
  astropy/utils/masked/tests/test_functions.py
  docs/changes/utils/15450.bugfix.rst
Labels: Bug, utils, skip-changelog-checks, skip-basebranch-check, utils.masked, backport-v5.0.x, backport-v5.3.x

#15294 Move private tiled compression module to astropy/io/fits/hdu/compressed/
  astropy/io/fits/_tiled_compression/__init__.py
  astropy/io/fits/_tiled_compression/tests/__init__.py
  astropy/io/fits/_tiled_compression/utils.py
  astropy/io/fits/hdu/compressed/_codecs.py
  astropy/io/fits/hdu/compressed/_quantization.py
  astropy/io/fits/hdu/compressed/_tiled_compression.py
  astropy/io/fits/hdu/compressed/compressed.py
  astropy/io/fits/hdu/compressed/section.py
  astropy/io/fits/hdu/compressed/setup_package.py
  astropy/io/fits/hdu/compressed/src/compression.c
  astropy/io/fits/hdu/compressed/src/fits_hcompress.h
  astropy/io/fits/hdu/compressed/src/fits_hdecompress.h
  astropy/io/fits/hdu/compressed/src/pliocomp.h
  astropy/io/fits/hdu/compressed/src/quantize.h
  astropy/io/fits/hdu/compressed/src/ricecomp.h
  astropy/io/fits/hdu/compressed/src/unquantize.c
  astropy/io/fits/hdu/compressed/src/unquantize.h
  astropy/io/fits/hdu/compressed/tests/conftest.py
  astropy/io/fits/hdu/compressed/tests/data/compressed_with_nan.fits
  astropy/io/fits/hdu/compressed/tests/data/m13.fits
  astropy/io/fits/hdu/compressed/tests/data/m13_gzip.fits
  astropy/io/fits/hdu/compressed/tests/data/m13_hcomp.fits
  astropy/io/fits/hdu/compressed/tests/data/m13_plio.fits
  astropy/io/fits/hdu/compressed/tests/data/m13_rice.fits
  astropy/io/fits/hdu/compressed/tests/test_compression_failures.py
  astropy/io/fits/hdu/compressed/tests/test_fitsio.py
  astropy/io/fits/hdu/compressed/tests/test_tiled_compression.py
  astropy/io/fits/hdu/compressed/utils.py
  cextern/cfitsio/README.rst
  cextern/trim_cfitsio.sh
  docs/io/fits/api/tiled_compression.rst
  docs/nitpick-exceptions
Labels: testing, Docs, io.fits, Refactoring, no-changelog-entry-needed, external

#15463 MNT: Remove deprecated get_solar_params_from_string
  astropy/coordinates/builtin_frames/galactocentric.py
Labels: coordinates, no-changelog-entry-needed, API change

#15469 Add support for new np.linalg.diagonal and trace
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/tests/test_quantity_non_ufuncs.py
Labels: units, Bug, no-changelog-entry-needed, numpy-dev

#15466 MNT: Removed deprecated ConfigurationMissingWarning and update_default_config
  astropy/config/configuration.py
  docs/changes/config/15466.api.rst
Labels: config, API change

#15467 MNT: Removed deprecated get_cosmology_from_string
  astropy/cosmology/realizations.py
  astropy/cosmology/tests/test_realizations.py
  docs/changes/cosmology/15467.api.rst
Labels: cosmology, API change

#15281 Implementation read/write of VOTable with Parquet serialization
  .ruff.toml
  astropy/io/registry/core.py
  astropy/io/votable/connect.py
  astropy/io/votable/exceptions.py
  astropy/io/votable/tests/data/parquet_binary.xml
  astropy/io/votable/tests/data/parquet_binary.xml.parquet
  astropy/io/votable/tests/test_table.py
  astropy/io/votable/tests/test_vo.py
  astropy/io/votable/tree.py
  docs/changes/io.votable/15281.feature.rst
  docs/io/votable/index.rst
  docs/whatsnew/6.0.rst
Labels: io.votable, Enhancement, whatsnew-needed

#15468 MNT: Removed deprecated version_path in minversion
  astropy/utils/introspection.py
  docs/changes/utils/15468.api.rst
Labels: utils, API change

#15461 Removing deprecated code for _model_to_fit_params
  astropy/modeling/fitting.py
  docs/changes/modeling/15461.api.rst
  docs/modeling/new-fitter.rst
Labels: modeling, API change

#15400 Add field `default` to Parameter
  astropy/cosmology/_io/tests/base.py
  astropy/cosmology/flrw/base.py
  astropy/cosmology/flrw/tests/test_base.py
  astropy/cosmology/flrw/tests/test_w0cdm.py
  astropy/cosmology/flrw/tests/test_w0wacdm.py
  astropy/cosmology/flrw/tests/test_w0wzcdm.py
  astropy/cosmology/flrw/tests/test_wpwazpcdm.py
  astropy/cosmology/flrw/w0cdm.py
  astropy/cosmology/flrw/w0wacdm.py
  astropy/cosmology/flrw/w0wzcdm.py
  astropy/cosmology/flrw/wpwazpcdm.py
  astropy/cosmology/parameter/_core.py
  astropy/cosmology/tests/test_core.py
  astropy/cosmology/tests/test_parameter.py
  docs/changes/cosmology/15400.feature.rst
  docs/whatsnew/6.0.rst
Labels: Docs, cosmology

#15470 TST: Removed deprecated raises within io.ascii test helper
  astropy/io/ascii/tests/common.py
  docs/changes/io.ascii/15470.api.rst
Labels: testing, io.ascii, API change

#15476 Account for SOFA/ERFA bugfix in pvstar
  astropy/units/tests/test_quantity_erfa_ufuncs.py
Labels: units, erfa, no-changelog-entry-needed, backport-v5.0.x, backport-v5.3.x

#15479 Backport PR #15476 on branch v5.3.x (Account for SOFA/ERFA bugfix in pvstar)
  astropy/units/tests/test_structured_erfa_ufuncs.py
Labels: units, erfa, no-changelog-entry-needed, backport-v5.0.x, backport-v5.3.x

#15478 Backport PR #15476 on branch v5.0.x (Account for SOFA/ERFA bugfix in pvstar)
  astropy/units/tests/test_structured_erfa_ufuncs.py
Labels: units, erfa, no-changelog-entry-needed, backport-v5.0.x, backport-v5.3.x

#15473 Ensure tables with masked and unmasked columns roundtrip properly
  astropy/io/fits/convenience.py
  astropy/io/fits/tests/test_connect.py
  docs/changes/io.fits/15473.bugfix.rst
Labels: io.fits, Bug, backport-v5.0.x, backport-v5.3.x

#15480 Backport PR #15473 on branch v5.3.x (Ensure tables with masked and unmasked columns roundtrip properly)
  astropy/io/fits/convenience.py
  astropy/io/fits/tests/test_connect.py
  docs/changes/io.fits/15473.bugfix.rst
Labels: io.fits, Bug, backport-v5.0.x, backport-v5.3.x

#15475 TST: Disable flaky SAMP server tests in CI and centralize test env vars
  astropy/coordinates/tests/test_intermediate_transformations.py
  astropy/coordinates/tests/test_solar_system.py
  astropy/io/ascii/tests/test_c_reader.py
  astropy/io/votable/tree.py
  astropy/samp/tests/test_standard_profile.py
  astropy/samp/tests/test_web_profile.py
  astropy/tests/helper.py
  astropy/utils/iers/tests/test_iers.py
  astropy/utils/tests/test_data.py
  astropy/utils/tests/test_misc.py
Labels: testing, io.votable, io.ascii, coordinates, utils, samp, Refactoring, no-changelog-entry-needed, utils.iers

#15481 Backport PR #15473: Ensure tables with masked and unmasked columns roundtrip properly (v5.0.x)
  astropy/io/fits/convenience.py
  astropy/io/fits/tests/test_connect.py
  docs/changes/io.fits/15473.bugfix.rst
Labels: io.fits, Bug, Manual Backport, skip-changelog-checks, skip-basebranch-check

#15490 Removed support for version = '1.0' on VOTable
  astropy/io/votable/tests/test_tree.py
  astropy/io/votable/tree.py
  docs/changes/io.votable/15490.api.rst
Labels: io.votable, Refactoring

#15492 Use manylinux2014 for all linux LTS wheels
  pyproject.toml
Labels: installation, skip-changelog-checks, skip-basebranch-check, Build all wheels

#15500 Remove deprecated code in `BaseCoordinateFrame`
  astropy/coordinates/baseframe.py
  docs/changes/coordinates/15500.api.rst
Labels: coordinates, API change

#15502 TST: Skip TestStandardProfile and TestWebProfile
  astropy/samp/tests/test_standard_profile.py
  astropy/samp/tests/test_web_profile.py
Labels: samp, no-changelog-entry-needed, Manual Backport, skip-basebranch-check, backport-v5.0.x

#15488 Cosmology: distinguish repr from str
  astropy/cosmology/_io/cosmology.py
  astropy/cosmology/_io/ecsv.py
  astropy/cosmology/_io/model.py
  astropy/cosmology/_io/yaml.py
  astropy/cosmology/core.py
  astropy/cosmology/flrw/lambdacdm.py
  astropy/cosmology/flrw/tests/test_base.py
  astropy/cosmology/flrw/tests/test_lambdacdm.py
  astropy/cosmology/flrw/tests/test_w0cdm.py
  astropy/cosmology/flrw/tests/test_w0wacdm.py
  astropy/cosmology/flrw/tests/test_w0wzcdm.py
  astropy/cosmology/flrw/tests/test_wpwazpcdm.py
  astropy/cosmology/flrw/w0cdm.py
  astropy/cosmology/flrw/w0wacdm.py
  astropy/cosmology/realizations.py
  astropy/cosmology/tests/test_core.py
  docs/cosmology/index.rst
  docs/cosmology/io/index.rst
Labels: cosmology, Enhancement, no-changelog-entry-needed

#15505 MNT: numpy 2.0 moved core to _core (try 2)
  astropy/stats/sigma_clipping.py
  astropy/units/function/core.py
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/quantity_helper/helpers.py
  astropy/units/tests/test_quantity_ufuncs.py
  astropy/utils/masked/core.py
  astropy/utils/masked/function_helpers.py
  astropy/utils/shapes.py
  docs/nitpick-exceptions
  pyproject.toml
Labels: Docs, units, utils, installation, stats, no-changelog-entry-needed, numpy-dev, utils.masked

#15501 Decompress FITS files in memory
  astropy/io/fits/file.py
  astropy/io/fits/hdu/hdulist.py
  astropy/io/fits/tests/test_core.py
  docs/changes/io.fits/15501.feature.rst
  docs/whatsnew/6.0.rst
Labels: io.fits, Performance, whatsnew-needed

#15489 Fix segfault with error report in FITS compression
  astropy/io/fits/hdu/compressed/src/compression.c
  astropy/io/fits/hdu/compressed/tests/test_tiled_compression.py
  docs/changes/io.fits/15489.bugfix.rst
Labels: io.fits, Bug, backport-v5.3.x

#15507 Remove `CompoundModel.both_inverses_exist()` again
  astropy/modeling/core.py
Labels: modeling, no-changelog-entry-needed, API change

#15508 Backport PR #15489 on branch v5.3.x (Fix segfault with error report in FITS compression)
  astropy/io/fits/_tiled_compression/src/compression.c
  astropy/io/fits/_tiled_compression/tests/test_tiled_compression.py
  docs/changes/io.fits/15489.bugfix.rst
Labels: io.fits, Bug, Manual Backport, skip-changelog-checks, skip-basebranch-check

#15509 DOC: Fix bad ref to tree.Table that has been renamed to tree.TableElement
  docs/io/votable/index.rst
Labels: io.votable, Docs, Bug, Affects-dev, no-changelog-entry-needed

#14933 Update units.cds module docstring
  astropy/units/cds.py
Labels: Docs, units, no-changelog-entry-needed, backport-v5.3.x

#15512 Backport PR #14933 on branch v5.3.x (Update units.cds module docstring)
  astropy/units/cds.py
Labels: Docs, units, no-changelog-entry-needed, backport-v5.3.x

#15511 Regression test for non-contiguous transformation matrices
  astropy/coordinates/tests/test_representation.py
Labels: testing, coordinates, no-changelog-entry-needed

#15514 Remove deprecated functionality from `units`
  astropy/cosmology/tests/test_units.py
  astropy/units/astrophys.py
  astropy/units/equivalencies.py
  astropy/units/physical.py
  astropy/units/tests/test_equivalencies.py
  astropy/units/tests/test_physical.py
  docs/changes/units/15514.api.rst
Labels: units, cosmology, API change

#15519 TST: Fix test_group_mixins_unsupported warning handling in pytest-dev
  astropy/table/tests/test_groups.py
Labels: testing, table, no-changelog-entry-needed, Extra CI

#15494 Removed OrderedDict from io.registry
  astropy/io/registry/base.py
  astropy/io/registry/core.py
Labels: io.registry, Refactoring, no-changelog-entry-needed

#15521 Remove `utils.compat.optional_deps.HAS_YAML`
  astropy/utils/compat/optional_deps.py
Labels: utils, no-changelog-entry-needed, API change

#15462 MNT: Remove deprecated midpoint_epoch in fold
  astropy/timeseries/sampled.py
  docs/changes/timeseries/15462.api.rst
Labels: timeseries, API change

#15520 Doc typo in visualization.interval.ZScaleInterval
  astropy/visualization/interval.py
Labels: Docs, Bug, visualization, no-changelog-entry-needed, backport-v5.0.x, backport-v5.3.x

#15523 Backport PR #15520 on branch v5.3.x (Doc typo in visualization.interval.ZScaleInterval)
  astropy/visualization/interval.py
Labels: Docs, Bug, visualization, no-changelog-entry-needed, backport-v5.0.x, backport-v5.3.x

#15522 Backport PR #15520 on branch v5.0.x (Doc typo in visualization.interval.ZScaleInterval)
  astropy/visualization/interval.py
Labels: Docs, Bug, visualization, no-changelog-entry-needed, backport-v5.0.x, backport-v5.3.x

#15464 MNT: Removed deprecated accuracy in all_world2pix
  astropy/wcs/wcs.py
  docs/changes/wcs/15464.api.rst
Labels: wcs, API change

#15526 Fix regex bug in configobj
  astropy/extern/configobj/validate.py
Labels: config, no-changelog-entry-needed, external, backport-v5.0.x, backport-v5.3.x

#15528 Backport PR #15526 on branch v5.3.x (Fix regex bug in configobj)
  astropy/extern/configobj/validate.py
Labels: config, no-changelog-entry-needed, external, backport-v5.0.x, backport-v5.3.x

#15527 Backport PR #15526 on branch v5.0.x (Fix regex bug in configobj)
  astropy/extern/configobj/validate.py
Labels: config, no-changelog-entry-needed, external, backport-v5.0.x, backport-v5.3.x

#15524 Build nightly wheels against developer version of Numpy
  .github/workflows/publish.yml
Labels: testing, Release, Ready-for-final-review, no-changelog-entry-needed, Build all wheels

#15529 Remove explicit Ruff Python target version
  astropy/cosmology/parameter/_core.py
  pyproject.toml
Labels: cosmology, installation, no-changelog-entry-needed, dev-automation

#15532 DOC: Explicitly set navigation_with_keys
  docs/conf.py
Labels: Docs, Bug, no-changelog-entry-needed

#15530 Remove deprecated functionality from `stats`
  astropy/stats/__init__.py
  astropy/stats/bls/__init__.py
  astropy/stats/lombscargle/__init__.py
  docs/changes/stats/15530.api.rst
Labels: stats, API change

#15533 Use --pre flag in CIBW_BEFORE_BUILD to make sure we pick up numpy 2.0.0.dev for nightly wheels
  .github/workflows/publish.yml
Labels: testing, Ready-for-final-review, no-changelog-entry-needed, Build all wheels

#14914 MNT: `io.ascii` deprecate and rename / remove arguments
  astropy/io/ascii/core.py
  astropy/io/ascii/docs.py
  astropy/io/ascii/fastbasic.py
  astropy/io/ascii/latex.py
  astropy/io/ascii/tests/test_c_reader.py
  astropy/io/ascii/tests/test_cds_header_from_readme.py
  astropy/io/ascii/tests/test_fixedwidth.py
  astropy/io/ascii/tests/test_ipac_definitions.py
  astropy/io/ascii/tests/test_read.py
  astropy/io/ascii/tests/test_rst.py
  astropy/io/ascii/tests/test_types.py
  astropy/io/ascii/tests/test_write.py
  astropy/io/ascii/ui.py
  docs/changes/io.ascii/14914.api.rst
  docs/io/ascii/fast_ascii_io.rst
  docs/io/ascii/read.rst
Labels: io.ascii, Refactoring, API change

#15504 Remove deprecated code from `wcs`
  astropy/wcs/wcs.py
  astropy/wcs/wcsapi/conftest.py
  astropy/wcs/wcsapi/sliced_low_level_wcs.py
  docs/changes/wcs/15504.api.rst
Labels: testing, wcs, wcs.wcsapi, API change

#15168 Cosmo parameters properties
  astropy/cosmology/_io/html.py
  astropy/cosmology/_io/latex.py
  astropy/cosmology/_io/mapping.py
  astropy/cosmology/_io/model.py
  astropy/cosmology/_io/table.py
  astropy/cosmology/_io/tests/test_html.py
  astropy/cosmology/_io/tests/test_mapping.py
  astropy/cosmology/_io/tests/test_model.py
  astropy/cosmology/_io/tests/test_table.py
  astropy/cosmology/_utils.py
  astropy/cosmology/core.py
  astropy/cosmology/flrw/base.py
  astropy/cosmology/flrw/tests/conftest.py
  astropy/cosmology/flrw/tests/test_base.py
  astropy/cosmology/flrw/tests/test_w0cdm.py
  astropy/cosmology/flrw/tests/test_w0wacdm.py
  astropy/cosmology/flrw/tests/test_w0wzcdm.py
  astropy/cosmology/flrw/tests/test_wpwazpcdm.py
  astropy/cosmology/funcs/tests/test_comparison.py
  astropy/cosmology/parameter/__init__.py
  astropy/cosmology/parameter/_core.py
  astropy/cosmology/parameter/_descriptors.py
  astropy/cosmology/parameter/tests/__init__.py
  astropy/cosmology/parameter/tests/conftest.py
  astropy/cosmology/parameter/tests/test_descriptors.py
  astropy/cosmology/parameter/tests/test_parameter.py
  astropy/cosmology/tests/helper.py
  astropy/cosmology/tests/test_core.py
  astropy/cosmology/tests/test_parameters.py
  astropy/cosmology/tests/test_utils.py
  docs/changes/cosmology/15168.feature.rst
  docs/cosmology/dev.rst
  docs/whatsnew/6.0.rst
Labels: cosmology, Refactoring

#15231 Using Masked inside Time
  astropy/io/fits/fitstime.py
  astropy/io/fits/tests/test_fitstime.py
  astropy/time/__init__.py
  astropy/time/core.py
  astropy/time/formats.py
  astropy/time/tests/test_basic.py
  astropy/time/tests/test_delta.py
  astropy/time/tests/test_mask.py
  astropy/utils/compat/numpycompat.py
  docs/changes/time/15231.api.rst
  docs/changes/time/15231.feature.rst
  docs/time/index.rst
  docs/timeseries/pandas.rst
  docs/whatsnew/6.0.rst
Labels: time, utils.masked

#15541 Fix typo
  astropy/modeling/models/__init__.py
Labels: modeling, no-changelog-entry-needed

#15543 TST: Use pyerfa dev wheel in devdeps
  tox.ini
Labels: testing, no-changelog-entry-needed

#15539 Relax restriction on AsinhStretch and SinhStretch parameter
  astropy/visualization/stretch.py
  astropy/visualization/tests/test_stretch.py
  docs/changes/visualization/15539.api.rst
  docs/changes/visualization/15539.bugfix.rst
Labels: Bug, visualization, API change

#15542 Fix and improve Sersic docs
  astropy/modeling/functional_models.py
Labels: Docs, modeling, no-changelog-entry-needed

#15538 Fix inconsistent kwarg and property names in stretches
  astropy/visualization/stretch.py
  astropy/visualization/tests/test_stretch.py
  docs/changes/visualization/15538.api.rst
Labels: visualization, API change

#15535 Don't upload to PyPI on workflow dispatch
  .github/workflows/publish.yml
Labels: testing, build, no-changelog-entry-needed

#15453 Ensure cache coherence for views of time instances
  astropy/time/core.py
  astropy/time/tests/test_basic.py
  astropy/time/tests/test_pickle.py
  docs/changes/time/15453.bugfix.rst
Labels: time, Bug, backport-v5.0.x, backport-v5.3.x

#15545 Add GeneralSersic2D model
  astropy/modeling/functional_models.py
  astropy/modeling/tests/example_models.py
  astropy/modeling/tests/test_models_quantities.py
  docs/changes/modeling/15545.feature.rst
  docs/modeling/predef_models2D.rst
  docs/whatsnew/6.0.rst
Labels: modeling

#15546 TST: Un-ignore some test warnings
  pyproject.toml
Labels: testing, installation, no-changelog-entry-needed, Extra CI

#14713 Updated release procedure to no longer mention LTS (as per APE 21)
  docs/development/releasing.rst
  docs/lts_policy.rst
Labels: Docs, Release, no-changelog-entry-needed

#15446 Address ruff's rule PIE790 in io submodule
  .ruff.toml
  astropy/io/ascii/ecsv.py
  astropy/io/fits/scripts/fitsheader.py
  astropy/io/registry/base.py
Labels: io.fits, io.ascii, no-changelog-entry-needed

#15551 Remove ref from change log fragment
  docs/changes/coordinates/15121.feature.rst
Labels: Docs, Bug, coordinates, Affects-dev, skip-changelog-checks, backport-v6.0.x

#15553 Backport PR #15551 on branch v6.0.x (Remove ref from change log fragment)
  docs/changes/coordinates/15121.feature.rst
Labels: Docs, Bug, coordinates, Affects-dev, skip-changelog-checks, backport-v6.0.x

#15552 Remove an obsolete `PhysicalType` test
  astropy/units/tests/test_physical.py
Labels: testing, units, no-changelog-entry-needed, backport-v6.0.x

#15554 Backport PR #15552 on branch v6.0.x (Remove an obsolete `PhysicalType` test)
  astropy/units/tests/test_physical.py
Labels: testing, units, no-changelog-entry-needed, backport-v6.0.x
