Repository astropy/astropy, pull requests merged in 2024-04, with the labels that each got.

#16237 FIX: preserve round trip with parquet i/o
  astropy/io/misc/parquet.py
  astropy/io/misc/tests/test_parquet.py
  docs/changes/io.misc/16237.bugfix.rst
Labels: Bug, io.misc, backport-v6.0.x

#16255 Backport PR #16237 on branch v6.0.x (FIX: preserve round trip with parquet i/o)
  astropy/io/misc/parquet.py
  astropy/io/misc/tests/test_parquet.py
  docs/changes/io.misc/16237.bugfix.rst
Labels: Bug, io.misc, backport-v6.0.x

#16258 Backport PR #16256 on branch v6.0.x (Update minimum required version of astropy-iers-data)
  pyproject.toml
Labels: no-changelog-entry-needed, utils.iers, backport-v6.0.x

#16259 Prefer `scipy.spatial` `KDTree` over `cKDTree`
  astropy/coordinates/matching.py
  astropy/coordinates/tests/test_matching.py
  astropy/table/operations.py
  docs/table/operations.rst
Labels: table, Docs, coordinates, Refactoring, no-changelog-entry-needed

#16241 BUG: fix a bug where `SkyCoord.spherical_offsets_by` would crash when a wrap was needed
  astropy/coordinates/baseframe.py
  astropy/coordinates/tests/test_frames.py
  docs/changes/coordinates/16241.bugfix.rst
Labels: Bug, coordinates, backport-v6.0.x

#16252 BLD: build with numpy 2.0.0rc1 (or newer)
  docs/changes/16252.other.rst
  pyproject.toml
Labels: installation, numpy-dev

#16234 Add type annotations to introspection functions
  astropy/utils/introspection.py
  docs/nitpick-exceptions
Labels: utils, no-changelog-entry-needed

#16262 Backport PR #16241 on branch v6.0.x (BUG: fix a bug where `SkyCoord.spherical_offsets_by` would crash when a wrap was needed)
  astropy/coordinates/baseframe.py
  astropy/coordinates/tests/test_frames.py
  docs/changes/coordinates/16241.bugfix.rst
Labels: Bug, coordinates, backport-v6.0.x

#16263 chore: versions are numbers
  pyproject.toml
Labels: testing, installation, no-changelog-entry-needed

#16163 A couple of WCS DistortionLookupTable fixes
  astropy/wcs/docstrings.py
  astropy/wcs/src/distortion.c
  astropy/wcs/tests/test_utils.py
  astropy/wcs/tests/test_wcs.py
  astropy/wcs/wcs.py
  docs/changes/wcs/16163.bugfix.rst
  docs/changes/wcs/16163.feature.rst
Labels: wcs, Bug

#16265 Backport PR #15388 on branch v6.0.x ('BUG: WinError 1455 the paging file is too small')
  astropy/io/fits/file.py
  astropy/io/fits/tests/test_core.py
  docs/changes/io.fits/15388.bugfix.rst
Labels: io.fits, Bug, Windows, backport-v6.0.x

#16261 BUG: fix a regression in astropy 6.0.1 where using a dimensionless Quantity as an exponent could raise an exception
  astropy/units/tests/test_quantity.py
  astropy/units/utils.py
  docs/changes/units/16261.bugfix.rst
Labels: units, Bug, benchmark

#16181 API: align default value for copy arguments with numpy at runtime (copy=False raises an error if copies cannot be avoided)
  astropy/table/column.py
  astropy/time/core.py
  astropy/units/quantity.py
  astropy/utils/compat/numpycompat.py
  astropy/utils/masked/core.py
  docs/changes/16181.other.rst
  docs/whatsnew/6.1.rst
Labels: table, time, units, coordinates, modeling, utils, Extra CI, utils.masked

#16270 BUG: declare private str ufuncs as unsupported (np.core.math._(r)partition(_index))
  astropy/units/quantity_helper/helpers.py
Labels: units, no-changelog-entry-needed

#16264 Update Ruff `pre-commit` hook to v0.3.4
  .pre-commit-config.yaml
  astropy/coordinates/baseframe.py
  astropy/io/ascii/core.py
  astropy/io/ascii/misc.py
  astropy/io/ascii/tests/test_c_reader.py
  astropy/io/ascii/ui.py
  astropy/io/fits/card.py
  astropy/io/fits/column.py
  astropy/io/fits/diff.py
  astropy/io/fits/fitsrec.py
  astropy/io/fits/fitstime.py
  astropy/io/fits/hdu/compressed/compressed.py
  astropy/io/fits/hdu/hdulist.py
  astropy/io/fits/header.py
  astropy/io/fits/scripts/fitsdiff.py
  astropy/io/fits/util.py
  astropy/io/votable/tree.py
  astropy/nddata/ccddata.py
  astropy/nddata/flag_collection.py
  astropy/nddata/nduncertainty.py
  astropy/samp/hub.py
  astropy/samp/standard_profile.py
  astropy/table/groups.py
  astropy/table/index.py
  astropy/table/np_utils.py
  astropy/table/operations.py
  astropy/table/pprint.py
  astropy/table/table.py
  astropy/time/core.py
  astropy/units/format/cds.py
  astropy/units/quantity.py
  astropy/utils/console.py
  astropy/utils/iers/iers.py
  astropy/wcs/wcsapi/utils.py
Labels: testing, io.votable, table, io.fits, time, io.ascii, nddata, units, coordinates, utils, samp, no-changelog-entry-needed, skip-changelog-checks, wcs.wcsapi, utils.iers, dev-automation

#16275 Remove Cadair from codeowners
  .github/CODEOWNERS
Labels: no-changelog-entry-needed, dev-automation

#16268 Backport PR #16261 on branch 6.0.x (BUG: fix a regression in astropy 6.0.1 where using a dimensionless Quantity as an exponent could raise an exception)
  astropy/units/tests/test_quantity.py
  astropy/units/utils.py
  docs/changes/units/16261.bugfix.rst
Labels: units, Manual Backport, skip-changelog-checks, skip-basebranch-check

#16269 RFC: use actual numpy dev version numbers in NUMPY_LT_* definitions
  astropy/utils/compat/numpycompat.py
Labels: utils, no-changelog-entry-needed

#16273 Add --color to sphinx linkcheck in ci
  .github/workflows/ci_cron_weekly.yml
Labels: testing, Docs, Enhancement, no-changelog-entry-needed, Extra CI

#16274 Fix bullet point list
  docs/whatsnew/6.1.rst
Labels: Docs, Bug, no-changelog-entry-needed, Manual Backport, skip-basebranch-check

#16277 Rewrite an overlong coordinate matching test function
  astropy/coordinates/tests/test_matching.py
Labels: testing, coordinates, no-changelog-entry-needed

#16272 Updated list of contributors and .mailmap file
  .mailmap
  docs/credits.rst
  docs/index_getting_started.rst
Labels: Docs, no-changelog-entry-needed, backport-v6.1.x

#16281 Backport PR #16272 on branch v6.1.x (Updated list of contributors and .mailmap file)
  .mailmap
  docs/credits.rst
Labels: Docs, no-changelog-entry-needed, backport-v6.1.x

#16087 Implement `formatter` as parameter for Quantity.to_string method
  astropy/units/quantity.py
  astropy/units/tests/test_quantity.py
  docs/changes/units/16087.feature.rst
  docs/units/format.rst
  docs/whatsnew/7.0.rst
Labels: units, whatsnew-needed

#16290 Backport PR #16280 on branch v6.1.x (Remove an erroneous special case from search_around_3d())
  astropy/coordinates/matching.py
  astropy/coordinates/tests/test_matching.py
  docs/changes/coordinates/16280.bugfix.rst
Labels: Bug, coordinates, Manual Backport, skip-changelog-checks, skip-basebranch-check

#16282 Add type annotations to `utils/shape.py`
  astropy/utils/shapes.py
  docs/nitpick-exceptions
Labels: utils, no-changelog-entry-needed

#16276 Refactor `search_around_sky()` and `search_around_3d()`
  astropy/coordinates/matching.py
Labels: coordinates, Refactoring, no-changelog-entry-needed

#16293 Backport PR #15626 on branch v6.1.x (Handle UCD1 'custom:' prefix in wcsaxes)
  astropy/visualization/wcsaxes/tests/test_wcsapi.py
  astropy/visualization/wcsaxes/wcsapi.py
  docs/changes/visualization/15626.bugfix.rst
Labels: Bug, visualization.wcsaxes, backport-v6.1.x

#16250 Change Table and Column meta to dict and enforce YAML output as ordered map
  astropy/cosmology/_io/ecsv.py
  astropy/io/ascii/core.py
  astropy/io/ascii/daophot.py
  astropy/io/ascii/ecsv.py
  astropy/io/ascii/fastbasic.py
  astropy/io/ascii/ipac.py
  astropy/io/ascii/tests/test_ecsv.py
  astropy/io/ascii/tests/test_read.py
  astropy/table/column.py
  astropy/table/meta.py
  astropy/table/table.py
  astropy/utils/metadata/tests/test_metadata.py
  docs/changes/table/16250.api.rst
  docs/changes/table/16250.feature.rst
  docs/whatsnew/7.0.rst
Labels: table, io.ascii, cosmology, utils, whatsnew-needed, API change

#16299 BUG: fix compatibility with numpy 2.1 in Masked.nonzero
  astropy/utils/masked/core.py
  astropy/utils/masked/tests/test_function_helpers.py
Labels: no-changelog-entry-needed, numpy-dev, utils.masked, backport-v6.1.x

#16302 Backport PR #16299 on branch v6.1.x (BUG: fix compatibility with numpy 2.1 in Masked.nonzero)
  astropy/utils/masked/core.py
  astropy/utils/masked/tests/test_function_helpers.py
Labels: no-changelog-entry-needed, numpy-dev, utils.masked, backport-v6.1.x

#16295 Speed up `_check_{unit}_range()` functions
  astropy/coordinates/angles/formats.py
Labels: coordinates, Performance, no-changelog-entry-needed

#16304 DOC: Compatibility with Sphinx 7.3.5
  docs/conf.py
  docs/io/unified.rst
Labels: Docs, unified-io, no-changelog-entry-needed, backport-v6.1.x

#16300 DOC: Make What's New more discoverable
  docs/index.rst
  docs/whatsnew/index.rst
Labels: Docs, no-changelog-entry-needed

#16306 DOC: replace isort and black badges with ruff's
  README.rst
Labels: Docs, no-changelog-entry-needed, dev-automation

#16310 Backport PR #16300 on branch v6.1.x (DOC: Make What's New more discoverable)
  docs/index.rst
  docs/whatsnew/index.rst
Labels: Docs, no-changelog-entry-needed, backport-v6.1.x

#16296 remove dependency matrix from `asv.ci.conf.json`
  .github/workflows/ci_benchmark.yml
  asv.ci.conf.json
Labels: testing, no-changelog-entry-needed, benchmark, backport-v6.1.x

#16311 Backport PR #16296 on branch v6.1.x (remove dependency matrix from `asv.ci.conf.json`)
  .github/workflows/ci_benchmark.yml
  asv.ci.conf.json
Labels: testing, no-changelog-entry-needed, benchmark, backport-v6.1.x

#16024 Start enforcing Ruff rule ANN201 in `modeling`
  .ruff.toml
  astropy/modeling/bounding_box.py
Labels: testing, modeling, no-changelog-entry-needed, dev-automation

#15959 API/BUG: only output user-requested columns in votable.parse
  astropy/io/votable/tests/test_vo.py
  astropy/io/votable/tree.py
  docs/changes/io.votable/15959.api.rst
Labels: io.votable, API change

#16313 Replace (most) `str.format()` calls with f-strings in `coordinates`
  astropy/coordinates/baseframe.py
  astropy/coordinates/representation/base.py
Labels: coordinates, Refactoring, no-changelog-entry-needed

#16315 Update old dataTables version (1.10.12 -> 1.10.25)
  astropy/extern/jquery/data/css/jquery.dataTables.css
  astropy/extern/jquery/data/js/jquery.dataTables.js
  astropy/extern/jquery/data/js/jquery.dataTables.min.js
  docs/changes/table/16315.bugfix.rst
Labels: table, external, backport-main, backport-v6.0.x, backport-v6.1.x

#16324 Manual backport of PR 16315 onto v6.1.x (Update old dataTables version (1.10.12 -> 1.10.25))
  astropy/extern/jquery/data/css/jquery.dataTables.css
  astropy/extern/jquery/data/js/jquery.dataTables.js
  astropy/extern/jquery/data/js/jquery.dataTables.min.js
  docs/changes/table/16315.bugfix.rst
Labels: table, Bug, external, Manual Backport, skip-changelog-checks, skip-basebranch-check

#16323 Add type annotations to `astropy/units/utils.py`
  astropy/units/utils.py
Labels: units, no-changelog-entry-needed

#16331 Backport PR #16330 on branch v6.1.x (TST: temp pin macos x86 runners)
  .github/workflows/ci_workflows.yml
Labels: testing, Mac OSX, no-changelog-entry-needed, backport-v6.1.x

#16334 Backport PR #16333 on branch v6.1.x (Fix #16246 change log entry)
  docs/changes/coordinates/16246.feature.rst
Labels: Docs, coordinates, Affects-dev, skip-changelog-checks, backport-v6.1.x

#16336 TST: rewrite doctest in a floating-point-comparison friendly way
  docs/coordinates/matchsep.rst
Labels: testing, Docs, coordinates, no-changelog-entry-needed, backport-v6.1.x

#16337 Shorten `BaseCoordinateFrame._data_repr()`
  astropy/coordinates/baseframe.py
Labels: coordinates, Refactoring, no-changelog-entry-needed

#16297 cosmo: update docs
  astropy/cosmology/flrw/base.py
Labels: Docs, cosmology, no-changelog-entry-needed, backport-v6.1.x

#16344 Backport PR #16297 on branch v6.1.x (cosmo: update docs)
  astropy/cosmology/flrw/base.py
Labels: Docs, cosmology, no-changelog-entry-needed, backport-v6.1.x

#16303 TST: Enable workflow_dispatch for exotic archs job
  .github/workflows/ci_cron_weekly.yml
Labels: testing, no-changelog-entry-needed

#16345 DOC: Update celestrak URLs
  astropy/coordinates/builtin_frames/intermediate_rotation_transforms.py
  astropy/coordinates/tests/test_intermediate_transformations.py
  docs/coordinates/index.rst
  docs/coordinates/satellites.rst
Labels: Docs, coordinates, no-changelog-entry-needed, Extra CI, backport-v6.1.x

#16349 Backport PR #16345 on branch v6.1.x (DOC: Update celestrak URLs)
  astropy/coordinates/builtin_frames/intermediate_rotation_transforms.py
  astropy/coordinates/tests/test_intermediate_transformations.py
  docs/coordinates/index.rst
  docs/coordinates/satellites.rst
Labels: Docs, coordinates, no-changelog-entry-needed, Extra CI, backport-v6.1.x

#16348 linkcheck: Explicitly set linkcheck_report_timeouts_as_broken and linkcheck_allow_unauthorized for Sphinx 8
  docs/conf.py
Labels: testing, Docs, no-changelog-entry-needed, Extra CI, backport-v6.1.x

#16350 Backport PR #16348 on branch v6.1.x (linkcheck: Explicitly set linkcheck_report_timeouts_as_broken and linkcheck_allow_unauthorized for Sphinx 8)
  docs/conf.py
Labels: testing, Docs, no-changelog-entry-needed, Extra CI, backport-v6.1.x

#16343 Deprecate `factor` parameter of `spectral_density()` equivalency
  astropy/units/equivalencies.py
  astropy/units/tests/test_equivalencies.py
  docs/changes/units/16343.api.rst
Labels: units, API change

#16346 DEPR: deprecate `astropy.utils.check_broadcast`
  astropy/coordinates/baseframe.py
  astropy/coordinates/tests/test_frames.py
  astropy/modeling/core.py
  astropy/modeling/polynomial.py
  astropy/modeling/tests/test_input.py
  astropy/modeling/tests/test_models.py
  astropy/utils/exceptions.py
  astropy/utils/shapes.py
  astropy/utils/tests/test_shapes.py
  docs/changes/utils/16346.api.rst
Labels: coordinates, modeling, utils, API change

#16358 Pass character_as_bytes when converting Table to BinTableHDU
  astropy/io/fits/hdu/table.py
  astropy/io/fits/tests/test_table.py
  docs/changes/io.fits/16358.bugfix.rst
Labels: io.fits, Bug, unified-io, backport-v6.1.x

#16359 Backport PR #16358 on branch v6.1.x (Pass character_as_bytes when converting Table to BinTableHDU)
  astropy/io/fits/hdu/table.py
  astropy/io/fits/tests/test_table.py
  docs/changes/io.fits/16358.bugfix.rst
Labels: io.fits, Bug, unified-io, backport-v6.1.x
