Repository astropy/astropy, pull requests merged in 2024-11, with the labels that each got.

#17296 Backport PR #17273 on branch v7.0.x (Add `support_nddata` to `parallel_fit_dask`)
  astropy/modeling/_fitting_parallel.py
  astropy/modeling/tests/test_fitting_parallel.py
Labels: modeling, Affects-dev, no-changelog-entry-needed, backport-v7.0.x

#17306 Declare wildcard imports in `__init__.py` files as permanently allowed
  .ruff.toml
  docs/development/codeguide.rst
  pyproject.toml
Labels: testing, Docs, installation, no-changelog-entry-needed, dev-automation

#17305 TST: Pin hypothesis to avoid double tests job failure
  pyproject.toml
Labels: Upstream Fix Required, installation, no-changelog-entry-needed, backport-v6.1.x, backport-v7.0.x

#17308 Backport PR #17305 on branch v7.0.x (TST: Pin hypothesis to avoid double tests job failure)
  pyproject.toml
Labels: Upstream Fix Required, installation, no-changelog-entry-needed, skip-changelog-checks, backport-v6.1.x, backport-v7.0.x

#17291 STY: autofix `invalid-first-argument-name-for-class-method` (N804) (units)
  astropy/units/core.py
  astropy/units/tests/test_quantity.py
  astropy/units/tests/test_quantity_info.py
  astropy/units/tests/test_quantity_non_ufuncs.py
  astropy/units/tests/test_structured.py
Labels: units, no-changelog-entry-needed

#17292 STY: autofix invalid-first-argument-name-for-class-method (N804) (utils.masked)
  astropy/utils/masked/tests/test_function_helpers.py
  astropy/utils/masked/tests/test_masked.py
  astropy/utils/masked/tests/test_table.py
Labels: no-changelog-entry-needed, utils.masked

#17309 Backport PR #17305 on branch 6.1.x (TST: Pin hypothesis to avoid double tests job failure)
  pyproject.toml
Labels: Upstream Fix Required, installation, no-changelog-entry-needed, Manual Backport, skip-basebranch-check

#17311 Backport PR #17307 on branch v6.1.x (Update minimum required version of astropy-iers-data)
  pyproject.toml
Labels: installation, Manual Backport, skip-changelog-checks, utils.iers, skip-basebranch-check

#17310 Backport PR #17307 on branch v7.0.x (Update minimum required version of astropy-iers-data)
  pyproject.toml
Labels: no-changelog-entry-needed, utils.iers, backport-v6.1.x, backport-v7.0.x

#17272 Added what's new entry for modeling speedups
  docs/whatsnew/7.0.rst
Labels: Docs, Affects-dev, Performance, no-changelog-entry-needed, skip-basebranch-check

#17320 TST: Unignore DeprecationWarning in image tests
  tox.ini
Labels: testing, no-changelog-entry-needed, visualization.wcsaxes

#17321 Updated list of contributors and .mailmap file
  .mailmap
  docs/credits.rst
Labels: Docs, no-changelog-entry-needed, backport-v7.0.x

#17323 Backport PR #17321 on branch v7.0.x (Updated list of contributors and .mailmap file)
  .mailmap
  docs/credits.rst
Labels: Docs, no-changelog-entry-needed, backport-v7.0.x

#17322 Remove duplicate Ed Slavich from credits
  .mailmap
  docs/credits.rst
Labels: Docs, no-changelog-entry-needed, backport-v7.0.x

#17324 DOC: Remove iraf.net from API doc (partial backport of PR 17278 onto v7.0.x)
  astropy/visualization/interval.py
Labels: Docs, visualization, no-changelog-entry-needed, skip-basebranch-check, Extra CI

#17325 Backport PR #17322 on branch v7.0.x (Remove duplicate Ed Slavich from credits)
  .mailmap
  docs/credits.rst
Labels: Docs, no-changelog-entry-needed, backport-v7.0.x

#17263 BUG: fix instanciating Angle from a pyarrow array
  astropy/coordinates/angles/core.py
  astropy/coordinates/tests/test_arrays.py
  docs/changes/coordinates/17263.bugfix.rst
Labels: Bug, coordinates, backport-v6.1.x, backport-v7.0.x

#17331 Backport PR #17263 on branch v7.0.x (BUG: fix instanciating Angle from a pyarrow array)
  astropy/coordinates/angles/core.py
  astropy/coordinates/tests/test_arrays.py
  docs/changes/coordinates/17263.bugfix.rst
Labels: Bug, coordinates, backport-v6.1.x, backport-v7.0.x

#17330 Backport PR #17263 on branch v6.1.x (BUG: fix instanciating Angle from a pyarrow array)
  astropy/coordinates/angles/core.py
  astropy/coordinates/tests/test_arrays.py
  docs/changes/coordinates/17263.bugfix.rst
Labels: Bug, coordinates, backport-v6.1.x, backport-v7.0.x

#17332 fix RST syntax
  README.rst
Labels: Docs, no-changelog-entry-needed

#17335 Shorten `EquivalentUnitsList`
  astropy/units/core.py
Labels: units, Refactoring, no-changelog-entry-needed

#17338 README: temporary force user stats image for pypi
  README.rst
Labels: Docs, Bug, Release, :fire:, no-changelog-entry-needed, backport-v7.0.x

#17340 Backport PR #17327 on branch v7.0.x (TST: filter hypothesis healchecks on double tests)
  conftest.py
  pyproject.toml
Labels: testing, installation, no-changelog-entry-needed

#17341 Backport PR #17327 on branch v6.1.x (TST: filter hypothesis healchecks on double tests)
  conftest.py
  pyproject.toml
Labels: testing, installation, no-changelog-entry-needed, Manual Backport, skip-basebranch-check

#17342 Backport PR #17338 on branch v7.0.x (README: temporary force user stats image for pypi)
  README.rst
Labels: Docs, Bug, Release, :fire:, no-changelog-entry-needed, backport-v7.0.x

#17344 Add groups to VOTables.Resource.to_xml()
  astropy/io/votable/tests/test_resource.py
  astropy/io/votable/tree.py
  docs/changes/io.votable/17344.bugfix.rst
Labels: io.votable, Bug

#17345 Backport PR #17344 on branch v6.1.x (Add groups to VOTables.Resource.to_xml())
  astropy/io/votable/tests/test_resource.py
  astropy/io/votable/tree.py
  docs/changes/io.votable/17344.bugfix.rst
Labels: io.votable, Bug, backport-v6.1.x, backport-v7.0.x

#17349 Finalizing changelog for v6.1.5
  CHANGES.rst
  docs/changes/coordinates/17013.bugfix.rst
  docs/changes/coordinates/17132.bugfix.rst
  docs/changes/coordinates/17239.bugfix.rst
  docs/changes/coordinates/17263.bugfix.rst
  docs/changes/io.fits/16996.bugfix.rst
  docs/changes/io.votable/17344.bugfix.rst
  docs/changes/nddata/17281.bugfix.rst
  docs/changes/stats/17086.bugfix.rst
  docs/changes/table/15749.bugfix.rst
  docs/changes/table/17105.bugfix.rst
  docs/changes/units/17011.bugfix.rst
  docs/changes/units/17200.bugfix.rst
  docs/changes/units/17216.bugfix.rst
  docs/changes/units/17241.bugfix.rst
  docs/changes/utils/17013.bugfix.rst
  docs/changes/utils/17196.bugfix.rst
  docs/changes/visualization/17175.bugfix.rst
  docs/changes/wcs/17147.bugfix.rst
Labels: wcs, table, nddata, units, coordinates, utils, stats, visualization, skip-changelog-checks, skip-basebranch-check, backport-main, backport-v7.0.x

#17347 Backport PR #17324 on branch v6.1.x (DOC: Remove iraf.net from API doc (partial backport of PR 17278 onto v7.0.x))
  astropy/visualization/interval.py
Labels: Docs, visualization, no-changelog-entry-needed, skip-basebranch-check, Extra CI

#17352 Fix a pickling test with spurious xfails
  astropy/coordinates/tests/test_pickle.py
Labels: testing, coordinates, no-changelog-entry-needed

#17358 BUG: fix instanciating Angle from a pandas Series
  astropy/coordinates/angles/core.py
  astropy/coordinates/tests/test_arrays.py
  docs/changes/coordinates/17358.bugfix.rst
Labels: Bug, coordinates, backport-v6.1.x, backport-v7.0.x

#17361 Backport PR #17358 on branch v7.0.x (BUG: fix instanciating Angle from a pandas Series)
  astropy/coordinates/angles/core.py
  astropy/coordinates/tests/test_arrays.py
  docs/changes/coordinates/17358.bugfix.rst
Labels: Bug, coordinates, backport-v6.1.x, backport-v7.0.x

#17360 Backport PR #17358 on branch v6.1.x (BUG: fix instanciating Angle from a pandas Series)
  astropy/coordinates/angles/core.py
  astropy/coordinates/tests/test_arrays.py
  docs/changes/coordinates/17358.bugfix.rst
Labels: Bug, coordinates, backport-v6.1.x, backport-v7.0.x

#17354 BUG: fix calling `np.nanvar` and `np.nanstd` with `Quantity` inputs + an `out` argument
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/tests/test_quantity_non_ufuncs.py
  docs/changes/units/17354.bugfix.rst
Labels: units, Bug, backport-v6.1.x, backport-v7.0.x

#17364 TST: fix running array repr tests with an ellipsis on numpy 2.2 (dev)
  astropy/utils/compat/numpycompat.py
  astropy/utils/masked/tests/test_masked.py
  pyproject.toml
Labels: utils, installation, Affects-dev, no-changelog-entry-needed, numpy-dev, utils.masked, backport-v7.0.x

#17366 Backport PR #17354 on branch v7.0.x (BUG: fix calling `np.nanvar` and `np.nanstd` with `Quantity` inputs + an `out` argument)
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/tests/test_quantity_non_ufuncs.py
  docs/changes/units/17354.bugfix.rst
Labels: units, Bug, backport-v6.1.x, backport-v7.0.x

#17365 Backport PR #17354 on branch v6.1.x (BUG: fix calling `np.nanvar` and `np.nanstd` with `Quantity` inputs + an `out` argument)
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/tests/test_quantity_non_ufuncs.py
  docs/changes/units/17354.bugfix.rst
Labels: units, Bug, backport-v6.1.x

#17359 [7.0.0rc1] Mark some "future" test in coordinates as remote_data
  astropy/coordinates/tests/test_iau_fullstack.py
  astropy/coordinates/tests/test_regression.py
  astropy/coordinates/tests/test_utils.py
Labels: testing, Bug, coordinates, no-changelog-entry-needed, backport-v7.0.x

#17373 Backport PR #17359 on branch v7.0.x ([7.0.0rc1] Mark some "future" test in coordinates as remote_data)
  astropy/coordinates/tests/test_iau_fullstack.py
  astropy/coordinates/tests/test_regression.py
  astropy/coordinates/tests/test_utils.py
Labels: testing, Bug, coordinates, no-changelog-entry-needed, backport-v7.0.x

#17370 Finalizing changelog for v6.1.6
  CHANGES.rst
  docs/changes/coordinates/17358.bugfix.rst
  docs/changes/units/17354.bugfix.rst
Labels: units, coordinates, skip-changelog-checks, skip-basebranch-check

#17314 STY: autofix invalid-first-argument-name-for-class-method (N804) (package wise)
  .ruff.toml
  astropy/constants/constant.py
  astropy/coordinates/tests/test_geodetic_representations.py
  astropy/io/fits/fitsrec.py
  astropy/modeling/core.py
  astropy/modeling/tests/test_models.py
  astropy/nddata/bitmask.py
  astropy/timeseries/binned.py
  astropy/timeseries/sampled.py
  astropy/uncertainty/tests/test_distribution.py
  astropy/uncertainty/tests/test_functions.py
  astropy/utils/data_info.py
  astropy/utils/iers/tests/test_iers.py
Labels: testing, io.fits, coordinates, utils, no-changelog-entry-needed, uncertainty, timeseries, utils.iers, dev-automation

#17372 Backport PR #17349 on branch v7.0.x (Finalizing changelog for v6.1.5)
  CHANGES.rst
  docs/changes/coordinates/17013.bugfix.rst
  docs/changes/coordinates/17132.bugfix.rst
  docs/changes/coordinates/17239.bugfix.rst
  docs/changes/coordinates/17263.bugfix.rst
  docs/changes/io.fits/16996.bugfix.rst
  docs/changes/io.votable/17344.bugfix.rst
  docs/changes/nddata/17281.bugfix.rst
  docs/changes/stats/17086.bugfix.rst
  docs/changes/table/15749.bugfix.rst
  docs/changes/table/17105.bugfix.rst
  docs/changes/units/17011.bugfix.rst
  docs/changes/units/17200.bugfix.rst
  docs/changes/units/17216.bugfix.rst
  docs/changes/units/17241.bugfix.rst
  docs/changes/utils/17013.bugfix.rst
  docs/changes/utils/17196.bugfix.rst
  docs/changes/visualization/17175.bugfix.rst
  docs/changes/wcs/17147.bugfix.rst
Labels: wcs, table, nddata, units, coordinates, utils, stats, visualization, skip-changelog-checks, skip-basebranch-check

#17371 Backport PR #17349 on branch main (Finalizing changelog for v6.1.5)
  CHANGES.rst
  docs/changes/coordinates/17013.bugfix.rst
  docs/changes/coordinates/17132.bugfix.rst
  docs/changes/coordinates/17239.bugfix.rst
  docs/changes/coordinates/17263.bugfix.rst
  docs/changes/io.fits/16996.bugfix.rst
  docs/changes/io.votable/17344.bugfix.rst
  docs/changes/nddata/17281.bugfix.rst
  docs/changes/stats/17086.bugfix.rst
  docs/changes/table/15749.bugfix.rst
  docs/changes/table/17105.bugfix.rst
  docs/changes/units/17011.bugfix.rst
  docs/changes/units/17200.bugfix.rst
  docs/changes/units/17216.bugfix.rst
  docs/changes/units/17241.bugfix.rst
  docs/changes/utils/17013.bugfix.rst
  docs/changes/utils/17196.bugfix.rst
  docs/changes/visualization/17175.bugfix.rst
  docs/changes/wcs/17147.bugfix.rst
Labels: wcs, table, nddata, units, coordinates, utils, stats, visualization, skip-changelog-checks, skip-basebranch-check

#17375 Backport PR #17370 on branch v7.0.x (Finalizing changelog for v6.1.6)
  CHANGES.rst
  docs/changes/coordinates/17358.bugfix.rst
  docs/changes/units/17354.bugfix.rst
Labels: units, coordinates, skip-changelog-checks, skip-basebranch-check

#17376 Backport PR #17370 on branch main (Finalizing changelog for v6.1.6)
  CHANGES.rst
  docs/changes/coordinates/17358.bugfix.rst
  docs/changes/units/17354.bugfix.rst
Labels: units, coordinates, skip-changelog-checks, skip-basebranch-check

#17377 Allow more tests to run without latest IERS data
  astropy/coordinates/tests/test_iau_fullstack.py
  astropy/coordinates/tests/test_regression.py
  astropy/coordinates/tests/test_utils.py
Labels: testing, coordinates, no-changelog-entry-needed, backport-v7.0.x

#17382 Backport PR #17377 on branch v7.0.x (Allow more tests to run without latest IERS data)
  astropy/coordinates/tests/test_iau_fullstack.py
  astropy/coordinates/tests/test_regression.py
  astropy/coordinates/tests/test_utils.py
Labels: testing, coordinates, no-changelog-entry-needed, backport-v7.0.x

#17383 Remove a few coding guidelines that are enforced by Ruff anyways
  docs/development/codeguide.rst
Labels: Docs, no-changelog-entry-needed

#17385 Fix aggregation for empty tables (alternative)
  astropy/table/groups.py
  astropy/table/tests/test_groups.py
  docs/changes/table/17385.bugfix.rst
Labels: table, Bug, backport-v7.0.x

#17387 Even if IERS_Auto predictive values are stale, do not download IERS-A if downloading is disabled
  astropy/utils/iers/iers.py
  astropy/utils/iers/tests/test_iers.py
  docs/changes/utils/17387.bugfix.rst
Labels: Bug, utils.iers, backport-v7.0.x

#17389 Backport PR #17387 on branch v7.0.x (Even if IERS_Auto predictive values are stale, do not download IERS-A if downloading is disabled)
  astropy/utils/iers/iers.py
  astropy/utils/iers/tests/test_iers.py
  docs/changes/utils/17387.bugfix.rst
Labels: Bug, utils.iers, backport-v7.0.x

#17388 Backport PR #17385 on branch v7.0.x (Fix aggregation for empty tables (alternative))
  astropy/table/groups.py
  astropy/table/tests/test_groups.py
  docs/changes/table/17385.bugfix.rst
Labels: table, Bug, backport-v7.0.x

#17343 Improve unit formatter type annotations
  astropy/units/format/base.py
  astropy/units/format/cds.py
  astropy/units/format/generic.py
  astropy/units/format/latex.py
  astropy/units/format/unicode_format.py
  astropy/units/format/vounit.py
  docs/nitpick-exceptions
Labels: units, no-changelog-entry-needed, typing

#17355 Allow `Unit` to create dimensionless units with complex or rational scale factors
  astropy/units/core.py
  astropy/units/tests/test_units.py
  docs/changes/units/17355.bugfix.rst
Labels: units, Bug, backport-v7.0.x

#17380 BUG: ensure zero length tables with coordinates or representations can be stacked.
  astropy/coordinates/baseframe.py
  astropy/coordinates/representation/base.py
  astropy/table/tests/test_mixin.py
  astropy/table/tests/test_operations.py
  docs/changes/table/17380.bugfix.rst
Labels: table, Bug, coordinates, backport-v7.0.x

#17374 In unit.to_string(), treat fraction='multiline' as a request
  astropy/units/core.py
  astropy/units/format/base.py
  astropy/units/format/cds.py
  astropy/units/format/console.py
  astropy/units/format/fits.py
  astropy/units/format/ogip.py
  astropy/units/format/vounit.py
  astropy/units/tests/test_format.py
  docs/changes/units/17374.api.rst
Labels: units, API change

#17392 TYP: simplify type annotation `int | float` to `float`
  astropy/stats/histogram.py
  astropy/units/typing.py
Labels: units, stats, no-changelog-entry-needed

#17394 Fix typos in quantity tests
  astropy/units/tests/test_quantity_non_ufuncs.py
Labels: testing, units, Bug, no-changelog-entry-needed, backport-v7.0.x

#17395 Backport PR #17394 on branch v7.0.x (Fix typos in quantity tests)
  astropy/units/tests/test_quantity_non_ufuncs.py
Labels: testing, units, Bug, no-changelog-entry-needed, backport-v7.0.x

#17396 Backport PR #17394 on branch v6.1.x (Fix typos in quantity tests)
  astropy/units/tests/test_quantity_non_ufuncs.py
Labels: testing, units, Bug, no-changelog-entry-needed, backport-v7.0.x

#17398 Explicitly use `int | float` in type aliases
  astropy/units/typing.py
Labels: units, no-changelog-entry-needed, typing

#17399 Simplify and speed up `_UnitMetaClass.__call__()`
  astropy/units/core.py
  astropy/units/si.py
  docs/changes/units/17399.perf.rst
Labels: units, Performance, Refactoring

#17400 Add types to ImageNormalize __init__ parameters
  astropy/visualization/mpl_normalize.py
Labels: visualization, no-changelog-entry-needed

#17402 Fix loss of mask sigma clipping (issue #17401)
  astropy/stats/sigma_clipping.py
  astropy/stats/tests/test_sigma_clipping.py
  docs/changes/stats/17402.bugfix.rst
Labels: Bug, stats, backport-v6.1.x, backport-v7.0.x

#17408 Backport PR #17402 on branch v7.0.x (Fix loss of mask sigma clipping (issue #17401))
  astropy/stats/sigma_clipping.py
  astropy/stats/tests/test_sigma_clipping.py
  docs/changes/stats/17402.bugfix.rst
Labels: Bug, stats, backport-v6.1.x, backport-v7.0.x

#17407 Backport PR #17402 on branch v6.1.x (Fix loss of mask sigma clipping (issue #17401))
  astropy/stats/sigma_clipping.py
  astropy/stats/tests/test_sigma_clipping.py
  docs/changes/stats/17402.bugfix.rst
Labels: Bug, stats, backport-v6.1.x, backport-v7.0.x

#17409 Remove an unused plotting function from tests
  astropy/coordinates/tests/test_finite_difference_velocities.py
Labels: coordinates, Refactoring, no-changelog-entry-needed

#17410 Add sigma_clip tests for MaskedArray masks
  astropy/stats/tests/test_sigma_clipping.py
Labels: testing, stats, no-changelog-entry-needed, backport-v6.1.x, backport-v7.0.x

#17336 Update docs to reflect default `Table.meta` is now `dict`
  docs/table/access_table.rst
  docs/table/construct_table.rst
Labels: table, Docs, Bug, no-changelog-entry-needed, backport-v7.0.x

#17412 Backport PR #17410 on branch v7.0.x (Add sigma_clip tests for MaskedArray masks)
  astropy/stats/tests/test_sigma_clipping.py
Labels: testing, stats, no-changelog-entry-needed, backport-v6.1.x, backport-v7.0.x

#17413 Backport PR #17336 on branch v7.0.x (Update docs to reflect default `Table.meta` is now `dict`)
  docs/table/access_table.rst
  docs/table/construct_table.rst
Labels: table, Docs, Bug, no-changelog-entry-needed, backport-v7.0.x

#17411 Backport PR #17410 on branch v6.1.x (Add sigma_clip tests for MaskedArray masks)
  astropy/stats/tests/test_sigma_clipping.py
Labels: testing, stats, no-changelog-entry-needed, backport-v6.1.x, backport-v7.0.x

#17417 Fix grammatical error in fitting docstrings
  astropy/modeling/fitting.py
Labels: Docs, modeling, no-changelog-entry-needed, backport-v7.0.x

#17420 Backport PR #17417 on branch v7.0.x (Fix grammatical error in fitting docstrings)
  astropy/modeling/fitting.py
Labels: Docs, modeling, no-changelog-entry-needed, backport-v7.0.x

#17404 Improve performance for WCSAxes imshow
  astropy/visualization/wcsaxes/core.py
Labels: no-changelog-entry-needed, visualization.wcsaxes

#17424 CLN: remove unneeded compatibility layer for Pillow<9.1
  astropy/visualization/wcsaxes/core.py
Labels: visualization, Refactoring, no-changelog-entry-needed, visualization.wcsaxes

#17426 MNT: update an internal comment to signal a future opportunity for simplification
  astropy/units/quantity.py
Labels: units, no-changelog-entry-needed

#17431 Finalizing changelog for v6.1.7
  CHANGES.rst
  docs/changes/stats/17402.bugfix.rst
Labels: stats, skip-changelog-checks, skip-basebranch-check

#17425 Speed up `UnitBase.compose()`
  astropy/units/core.py
  docs/changes/units/17425.perf.rst
Labels: units, Performance

#17432 DOC: Update RTD instruction for release
  .github/labeler.yml
  docs/development/maintainers/releasing.rst
Labels: Docs, Release, no-changelog-entry-needed

#17433 Update releasing docs
  docs/development/maintainers/releasing.rst
Labels: Docs, Release, no-changelog-entry-needed

#17434 STY: autofix `redundant-final-literal` (`PYI064`)
  astropy/units/core.py
Labels: units, Refactoring, no-changelog-entry-needed, typing

#17436 STY: autofix `parenthesize-chained-operators` (`RUF021`)
  astropy/coordinates/representation/spherical.py
  astropy/coordinates/spectral_quantity.py
  astropy/io/fits/hdu/compressed/tests/test_fitsio.py
  astropy/io/fits/hdu/hdulist.py
  astropy/io/fits/scripts/fitscheck.py
  astropy/io/fits/tests/test_connect.py
  astropy/table/table.py
  astropy/table/tests/test_operations.py
  astropy/time/core.py
  astropy/time/formats.py
  astropy/utils/masked/function_helpers.py
  astropy/wcs/wcs.py
Labels: wcs, table, io.fits, time, coordinates, Refactoring, no-changelog-entry-needed, utils.masked

#17443 STY: manual fixes for `dict-index-missing-items` (`PLC0206`) (`units`)
  astropy/units/tests/test_quantity_ufuncs.py
Labels: units, Refactoring, no-changelog-entry-needed

#17442 STY: manual fixes for `dict-index-missing-items` (`PLC0206`) (`time`)
  astropy/time/tests/test_basic.py
Labels: time, Refactoring, no-changelog-entry-needed

#17439 STY: manual fixes for `dict-index-missing-items` (`PLC0206`) (`coordinates`)
  astropy/coordinates/calculation.py
  astropy/coordinates/tests/test_sites.py
Labels: coordinates, Refactoring, no-changelog-entry-needed

#17446 TST: avoid unecessary declarations when numpy 2.2 is available
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/tests/test_quantity_non_ufuncs.py
Labels: testing, units, no-changelog-entry-needed

#17448 Backport PR #17445 on branch v7.0.x (TST: adapt test completness metatest for numpy 2.2)
  astropy/utils/masked/function_helpers.py
  astropy/utils/masked/tests/test_function_helpers.py
Labels: units, Affects-dev, no-changelog-entry-needed, numpy-dev, utils.masked, backport-v7.0.x

#17440 STY: manual fixes for `dict-index-missing-items` (`PLC0206`) (`io.fits`)
  astropy/io/fits/tests/test_header.py
Labels: io.fits, Refactoring, no-changelog-entry-needed

#17414 Add more type annotations to astropy/units/core.py
  astropy/units/core.py
Labels: units, no-changelog-entry-needed, typing

#17381 BUG: ensure representation masks are used in table joins
  astropy/coordinates/representation/base.py
  astropy/table/tests/test_operations.py
  docs/changes/table/17381.bugfix.rst
Labels: table, Bug, coordinates, Ready-for-final-review, backport-v7.0.x

#17453 Backport PR #17381 on branch v7.0.x (BUG: ensure representation masks are used in table joins)
  astropy/coordinates/representation/base.py
  astropy/table/tests/test_operations.py
  docs/changes/table/17381.bugfix.rst
Labels: table, Bug, coordinates, Ready-for-final-review, backport-v7.0.x

#17452 STY: ignore rule `UP031` in a specific case where an fstring would be less readable
  astropy/io/fits/card.py
Labels: io.fits, Affects-dev, no-changelog-entry-needed

#17339 RFC: replace deprecated `matplotlib.pyplot.plot_date` function in docs and tests
  astropy/time/formats.py
  docs/coordinates/velocities.rst
  docs/time/index.rst
Labels: Docs, time, coordinates, Refactoring, no-changelog-entry-needed

#17315 SEC: fix security breaches in GHA workflows detected with zizmor
  .github/workflows/ci_benchmark.yml
  .github/workflows/ci_cron_daily.yml
  .github/workflows/ci_cron_weekly.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/open_actions.yml
  .github/workflows/update_astropy_iers_data_pin.yml
Labels: testing, no-changelog-entry-needed, utils.iers, dev-automation, Extra CI, backport-v7.0.x

#16143 Fix BinTableHDU.copy() memory leak
  astropy/io/fits/fitsrec.py
  astropy/io/fits/tests/test_table.py
  docs/changes/io.fits/16143.bugfix.rst
Labels: io.fits, Bug, backport-v7.0.x

#17288 Start adding type annotations to `io.ascii.latex`
  astropy/io/ascii/core.py
  astropy/io/ascii/latex.py
Labels: io.ascii, no-changelog-entry-needed, typing

#17459 Remove duplicated code in _TableBaseHDU's init
  astropy/io/fits/hdu/table.py
Labels: io.fits, no-changelog-entry-needed

#17457 Replace try/except with Header.remove
  astropy/io/fits/hdu/base.py
  astropy/io/fits/hdu/groups.py
  astropy/io/fits/hdu/image.py
  astropy/io/fits/hdu/streaming.py
Labels: io.fits, no-changelog-entry-needed

#17456 Move Header.insert example to the correct method
  astropy/io/fits/header.py
Labels: Docs, io.fits, Bug, no-changelog-entry-needed, backport-v7.0.x

#17458 Fix ImageHDU.scale with float
  astropy/io/fits/hdu/image.py
  astropy/io/fits/tests/test_image.py
  docs/changes/io.fits/17458.bugfix.rst
Labels: io.fits, Bug, Extra CI, backport-v7.0.x

#17462 Backport PR #17458 on branch v7.0.x (Fix ImageHDU.scale with float)
  astropy/io/fits/hdu/image.py
  astropy/io/fits/tests/test_image.py
  docs/changes/io.fits/17458.bugfix.rst
Labels: io.fits, Bug, Extra CI, backport-v7.0.x

#17464 BUG: add missing ufunc helpers for `np.matvec` and `np.vecmat`
  astropy/units/quantity_helper/helpers.py
  astropy/units/tests/test_quantity_ufuncs.py
  astropy/utils/compat/numpycompat.py
  astropy/utils/masked/tests/test_masked.py
Labels: units, utils, no-changelog-entry-needed, numpy-dev, backport-v7.0.x

#17466 Backport PR #17464 on branch v7.0.x (BUG: add missing ufunc helpers for `np.matvec` and `np.vecmat`)
  astropy/units/quantity_helper/helpers.py
  astropy/units/tests/test_quantity_ufuncs.py
  astropy/utils/compat/numpycompat.py
  astropy/utils/masked/tests/test_masked.py
Labels: units, utils, no-changelog-entry-needed, numpy-dev, skip-changelog-checks, backport-v7.0.x

#17468 Backport PR #17467 on branch v7.0.x (TST: fixup test from pr-17464)
  astropy/units/tests/test_quantity_ufuncs.py
Labels: testing, units, no-changelog-entry-needed, skip-changelog-checks, backport-v7.0.x

#17476 BUG: avoid assert statement in business logic (`table`)
  astropy/table/table.py
Labels: table, Bug, no-changelog-entry-needed

#17475 BUG: fix compatibility with Python's optimized mode (`cosmology`)
  astropy/cosmology/_io/model.py
  astropy/cosmology/tests/test_connect.py
Labels: Bug, cosmology, no-changelog-entry-needed

#17477 BUG: avoid assert statements in business logic (`io.ascii`)
  astropy/io/ascii/core.py
  astropy/io/ascii/ui.py
Labels: io.ascii, Bug, no-changelog-entry-needed

#17478 TST: skip a docstring-focused test when running in Python's optimized mode
  astropy/time/tests/test_sidereal.py
Labels: testing, time, Bug, no-changelog-entry-needed

#17482 Backport PR #17469 on branch v7.0.x (BUG: ensure array duck types are passed through in unit conversion)
  astropy/units/core.py
  astropy/units/tests/test_units.py
  docs/changes/units/17469.bugfix.rst
Labels: units, Bug, backport-v7.0.x

#17470 Ensure tests in `test_units.py` assert something
  astropy/units/tests/test_units.py
Labels: testing, units, no-changelog-entry-needed

#17481 BUG: avoid an assert statement in business logic (`units`)
  astropy/units/quantity.py
  astropy/units/tests/test_quantity.py
Labels: units, Bug, no-changelog-entry-needed

#17328 fix overflow with VLA columns and numpy 2
  astropy/io/fits/column.py
  astropy/io/fits/fitsrec.py
  astropy/io/fits/tests/test_table.py
  docs/changes/io.fits/17328.bugfix.rst
Labels: io.fits, Bug, backport-v7.0.x

#17465 Simplify parsing utilities
  astropy/utils/parsing.py
Labels: utils, Refactoring, no-changelog-entry-needed

#17397 MAINT: Simplify class hierarchy of the parsing unit formats
  astropy/units/format/base.py
  astropy/units/format/cds.py
  astropy/units/format/fits.py
  astropy/units/format/generic.py
  astropy/units/format/ogip.py
  astropy/units/format/vounit.py
  astropy/units/tests/test_format.py
Labels: units, Refactoring, no-changelog-entry-needed

#17483 Backport PR #17328 on branch v7.0.x (fix overflow with VLA columns and numpy 2)
  astropy/io/fits/column.py
  astropy/io/fits/fitsrec.py
  astropy/io/fits/tests/test_table.py
  docs/changes/io.fits/17328.bugfix.rst
Labels: io.fits, Bug, backport-v7.0.x

#17484 TST: remove io.fits win32 exceptions in checksum tests
  astropy/io/fits/tests/test_checksum.py
Labels: testing, io.fits, no-changelog-entry-needed, Extra CI, Build all wheels
