Repository astropy/astropy, pull requests merged in 2024-01, with the labels that each got.

#15799 BUG: list np._core.umath._replace as unsupported by Quantity
  astropy/units/quantity_helper/helpers.py
Labels: units, Bug, no-changelog-entry-needed, numpy-dev, backport-v6.0.x

#15806 Backport PR #15804 on branch v6.0.x (Update minimum required version of astropy-iers-data)
  pyproject.toml
Labels: no-changelog-entry-needed, utils.iers, backport-v6.0.x

#15800 Backport PR #15799 on branch v6.0.x (BUG: list np._core.umath._replace as unsupported by Quantity)
  astropy/units/quantity_helper/helpers.py
Labels: units, Bug, no-changelog-entry-needed, numpy-dev, backport-v6.0.x

#15798 Fix ruff violation in coordinates subpackage
  .ruff.toml
  astropy/coordinates/angles/core.py
  astropy/coordinates/angles/formats.py
  astropy/coordinates/baseframe.py
  astropy/coordinates/distances.py
  astropy/coordinates/earth.py
  astropy/coordinates/representation/base.py
  astropy/coordinates/representation/spherical.py
  astropy/coordinates/sky_coordinate.py
  astropy/coordinates/sky_coordinate_parsers.py
  astropy/coordinates/spectral_coordinate.py
  astropy/coordinates/transformations.py
Labels: testing, coordinates, no-changelog-entry-needed, dev-automation

#15802 Reduce code duplication in `sky_coordinate_parsers.py`
  astropy/coordinates/sky_coordinate_parsers.py
Labels: coordinates, Refactoring, no-changelog-entry-needed

#15809 TST: fix compatibility pytest 8.0
  astropy/io/fits/tests/test_util.py
  astropy/table/tests/test_mixin.py
  astropy/timeseries/io/tests/test_kepler.py
  astropy/timeseries/tests/test_sampled.py
  astropy/utils/tests/test_data.py
Labels: table, utils, no-changelog-entry-needed, timeseries, Extra CI, backport-v6.0.x

#15816 Backport PR #15809 on branch v6.0.x (TST: fix compatibility pytest 8.0)
  astropy/io/fits/tests/test_util.py
  astropy/table/tests/test_mixin.py
  astropy/timeseries/io/tests/test_kepler.py
  astropy/timeseries/tests/test_sampled.py
  astropy/utils/tests/test_data.py
Labels: table, utils, no-changelog-entry-needed, timeseries, Extra CI, backport-v6.0.x

#15686 DEP: adjust requirements for extra dependency on typing-extensions
  astropy/modeling/bounding_box.py
  pyproject.toml
Labels: units, modeling, installation, no-changelog-entry-needed, Extra CI

#15791 Make the `pre-commit.ci` job guard against large added files
  .pre-commit-config.yaml
Labels: testing, no-changelog-entry-needed, skip-changelog-checks, dev-automation

#15818 TST: Skip test_ignore_sigint in predeps job
  astropy/io/fits/tests/test_util.py
Labels: testing, io.fits, no-changelog-entry-needed, Extra CI, backport-v6.0.x

#15835 Backport PR #15818 on branch v6.0.x (TST: Skip test_ignore_sigint in predeps job)
  astropy/io/fits/tests/test_util.py
Labels: testing, io.fits, no-changelog-entry-needed, Extra CI, backport-v6.0.x

#15783 DOC: Inheritance diagram for dark mode
  astropy/coordinates/builtin_frames/__init__.py
  docs/_static/astropy.css
Labels: Docs, Enhancement, no-changelog-entry-needed, backport-v6.0.x

#15836 Backport PR #15783 on branch v6.0.x (DOC: Inheritance diagram for dark mode)
  astropy/coordinates/builtin_frames/__init__.py
  docs/_static/astropy.css
Labels: Docs, Enhancement, no-changelog-entry-needed, backport-v6.0.x

#15742 TST: tox option to exclude scipy
  .github/workflows/ci_cron_weekly.yml
  tox.ini
Labels: testing, no-changelog-entry-needed, numpy-dev, Extra CI, backport-v6.0.x

#15830 BUG: fix comparing NaN quantity with TimeDelta object
  astropy/time/formats.py
  astropy/time/tests/test_delta.py
  docs/changes/time/15830.bugfix.rst
Labels: time, Bug

#15846 Backport PR #15838 on branch v6.0.x (DOC: Coordinates frames in dark mode)
  astropy/coordinates/builtin_frames/__init__.py
  docs/_static/astropy.css
Labels: Docs, coordinates, no-changelog-entry-needed, backport-v6.0.x

#15848 Ensure names of Quantity and other mixin columns are propagated
  astropy/io/ascii/mrt.py
  astropy/io/ascii/tests/test_cds.py
  astropy/table/column.py
  astropy/table/tests/test_column.py
  docs/changes/io.ascii/15848.bugfix.rst
  docs/changes/table/15848.bugfix.rst
Labels: table, io.ascii, Bug, backport-v6.0.x

#15820 TST: Update org for pytest-doctestplus in devinfra
  tox.ini
Labels: testing, no-changelog-entry-needed, Extra CI, backport-v6.0.x

#15857 Backport PR #15820 on branch v6.0.x (TST: Update org for pytest-doctestplus in devinfra)
  tox.ini
Labels: testing, no-changelog-entry-needed, Extra CI, backport-v6.0.x

#15858 Backport PR #15848: Ensure names of Quantity and other mixin columns are propagated
  astropy/io/ascii/mrt.py
  astropy/io/ascii/tests/test_cds.py
  astropy/table/column.py
  astropy/table/tests/test_column.py
  docs/changes/io.ascii/15848.bugfix.rst
  docs/changes/table/15848.bugfix.rst
Labels: table, io.ascii, Bug, Manual Backport, skip-changelog-checks, skip-basebranch-check

#15861 cleanup imports
  astropy/cosmology/flrw/tests/test_init.py
  astropy/cosmology/flrw/tests/test_lambdacdm.py
  astropy/cosmology/flrw/tests/test_w.py
  astropy/cosmology/flrw/tests/test_w0cdm.py
  astropy/cosmology/flrw/tests/test_w0wacdm.py
  astropy/cosmology/flrw/tests/test_w0wzcdm.py
  astropy/cosmology/flrw/tests/test_wpwazpcdm.py
  astropy/cosmology/parameter/tests/test_parameter.py
  astropy/cosmology/parameters.py
  astropy/cosmology/realizations.py
  astropy/cosmology/tests/test_parameters.py
  astropy/cosmology/tests/test_realizations.py
  astropy/cosmology/tests/test_units.py
Labels: cosmology, no-changelog-entry-needed

#15856 cosmo: remove unneeded `__doctest_requires__`
  astropy/cosmology/core.py
Labels: cosmology, no-changelog-entry-needed

#15855 cosmo: make argument `verbose` to `z_at_value` keyword-only
  astropy/cosmology/funcs/optimize.py
  docs/changes/cosmology/15855.api.rst
Labels: cosmology, API change

#15860 Create `units.typing` module with `QuantityLike`
  astropy/units/quantity.py
  astropy/units/typing.py
  docs/changes/units/15860.feature.rst
  docs/glossary.rst
  docs/units/type_hints.rst
Labels: units

#15863 DOC: avoid printing to stdout in docs/conf.py
  docs/conf.py
Labels: Docs, build, Refactoring, no-changelog-entry-needed

#15845 BUG: fix an unintended exception being raised when attempting to compare two unequal ``Table`` instances.
  astropy/table/table.py
  astropy/table/tests/test_operations.py
  docs/changes/table/15845.bugfix.rst
  docs/table/access_table.rst
Labels: table, Bug, backport-v6.0.x

#15862 Define `__all__` for `units`
  astropy/units/__init__.py
  astropy/units/astrophys.py
  astropy/units/cds.py
  astropy/units/cgs.py
  astropy/units/function/__init__.py
  astropy/units/function/units.py
  astropy/units/imperial.py
  astropy/units/misc.py
  astropy/units/photometric.py
  astropy/units/si.py
Labels: units, Refactoring, no-changelog-entry-needed

#15870 change convention for typing_extensions
  astropy/modeling/bounding_box.py
  astropy/units/quantity.py
  astropy/units/typing.py
  pyproject.toml
Labels: units, modeling, installation, no-changelog-entry-needed, Extra CI

#15864 Update `pyerfa` version requirement
  pyproject.toml
Labels: testing, coordinates, installation, no-changelog-entry-needed, backport-v6.0.x

#15847 DOC: Update license year
  LICENSE.rst
Labels: Docs, no-changelog-entry-needed, Extra CI, backport-v6.0.x

#15874 Backport PR #15847 on branch v6.0.x (DOC: Update license year)
  LICENSE.rst
Labels: Docs, no-changelog-entry-needed, Extra CI, backport-v6.0.x

#15663 Use relative path for source files
  astropy/io/fits/hdu/compressed/setup_package.py
Labels: io.fits, Bug, build, no-changelog-entry-needed, backport-v6.0.x

#15875 Backport PR #15663 on branch v6.0.x (Use relative path for source files)
  astropy/io/fits/hdu/compressed/setup_package.py
Labels: io.fits, Bug, build, no-changelog-entry-needed, backport-v6.0.x

#15876 Backport PR #15864 on branch v6.0.x (Update pyerfa version requirement)
  pyproject.toml
Labels: installation, Manual Backport, skip-changelog-checks, skip-basebranch-check

#15851 Add type hints to `astropy/cosmology/utils.py`
  astropy/cosmology/utils.py
Labels: cosmology, no-changelog-entry-needed

#15873 Apply Ruff TCH rules to imports from `typing`
  astropy/cosmology/_utils.py
  pyproject.toml
Labels: cosmology, installation, no-changelog-entry-needed, dev-automation

#15879 cosmo: add type annotations for realizations
  astropy/cosmology/realizations.py
Labels: cosmology, no-changelog-entry-needed

#15883 BUG: fix an unhelpful TypeError when attempting truediv, lshift/mul/truediv with a Unit for right operand and a numpy array with non-numerical dtype for left operand
  astropy/units/core.py
  astropy/units/tests/test_units.py
  docs/changes/units/15883.bugfix.rst
Labels: units

#15885 BUG: fix write/read roundtrips with empty Table dumped to ECSV
  astropy/io/ascii/ecsv.py
  astropy/io/ascii/tests/test_ecsv.py
  docs/changes/units/15885.bugfix.rst
Labels: io.ascii

#15888 Account for change in mask of end point in np.geomspace
  astropy/utils/masked/tests/test_function_helpers.py
Labels: no-changelog-entry-needed, numpy-dev, utils.masked, backport-v6.0.x

#15892 units: remove vestigial cosmo imports
  astropy/units/__init__.py
Labels: Refactoring, no-changelog-entry-needed, backport-v6.0.x

#15887 Backport PR #15841 on branch v6.0.x (BUG: fix an edge case where quantity_support would produce duplicate tick labels for small data ranges)
  astropy/visualization/tests/test_units.py
  astropy/visualization/units.py
  docs/changes/visualization/15841.bugfix.rst
Labels: Bug, visualization, backport-v6.0.x

#15872 Address RET505 in astropy/convolution
  .ruff.toml
  astropy/convolution/convolve.py
  astropy/convolution/core.py
  astropy/convolution/kernels.py
  astropy/convolution/utils.py
Labels: testing, convolution, no-changelog-entry-needed, dev-automation

#15844 BUG: fix a spurious warning when calling sigma_clipped_stats on a MaskedColumn
  astropy/stats/sigma_clipping.py
  astropy/stats/tests/test_sigma_clipping.py
  docs/changes/stats/15844.bugfix.rst
Labels: Bug, stats, backport-v6.0.x

#15894 exclude overload from coverage.
  pyproject.toml
Labels: installation, no-changelog-entry-needed

#15901 Backport PR #15885 on branch v6.0.x (BUG: fix write/read roundtrips with empty Table dumped to ECSV)
  astropy/io/ascii/ecsv.py
  astropy/io/ascii/tests/test_ecsv.py
  docs/changes/units/15885.bugfix.rst
Labels: io.ascii, Bug, backport-v6.0.x

#15897 Backport PR #15844 on branch v6.0.x (BUG: fix a spurious warning when calling sigma_clipped_stats on a MaskedColumn)
  astropy/stats/sigma_clipping.py
  astropy/stats/tests/test_sigma_clipping.py
  docs/changes/stats/15844.bugfix.rst
Labels: Bug, stats, backport-v6.0.x

#15890 Backport PR #15888 on branch v6.0.x (Account for change in mask of end point in np.geomspace)
  astropy/utils/masked/tests/test_function_helpers.py
Labels: no-changelog-entry-needed, numpy-dev, utils.masked, backport-v6.0.x

#15891 Alphabetize units docs
  astropy/units/__init__.py
Labels: Docs, units, no-changelog-entry-needed

#15906 Edit a user-facing note in `coordinates`
  astropy/coordinates/solar_system.py
Labels: Docs, coordinates, no-changelog-entry-needed

#15893 Backport PR #15892 on branch v6.0.x (units: remove vestigial cosmo imports)
  astropy/units/__init__.py
Labels: units, no-changelog-entry-needed, Manual Backport, skip-changelog-checks, skip-basebranch-check

#15908 DOC: update url to pytest-mpl's hybrid mode documentation
  docs/development/testguide.rst
Labels: Docs, no-changelog-entry-needed

#15900 Tweak the `Distance` constructor
  astropy/coordinates/distances.py
Labels: coordinates, Refactoring, no-changelog-entry-needed

#15621 Rename mincut and maxcut to vmin vmax
  astropy/visualization/mpl_normalize.py
  astropy/visualization/scripts/fits2bitmap.py
  astropy/visualization/scripts/tests/test_fits2bitmap.py
  astropy/visualization/tests/test_norm.py
  docs/changes/visualization/15621.api.rst
Labels: visualization, API change

#15837 MNT: Remove defunct CircleCI notify
  .circleci/config.yml
Labels: testing, no-changelog-entry-needed, backport-v6.0.x

#15910 Backport PR #15837 on branch v6.0.x (MNT: Remove defunct CircleCI notify)
  .circleci/config.yml
Labels: testing, no-changelog-entry-needed, backport-v6.0.x

#15915 Enable Ruff `allow-dict-calls-with-keyword-arguments` setting
  .ruff.toml
  pyproject.toml
Labels: testing, installation, no-changelog-entry-needed, dev-automation

#15854 cosmo: type annotate `cosmology…connect.py`
  astropy/cosmology/connect.py
  astropy/cosmology/core.py
Labels: cosmology, no-changelog-entry-needed

#15895 coords: refactor transformations as module
  astropy/coordinates/builtin_frames/__init__.py
  astropy/coordinates/tests/test_transformations.py
  astropy/coordinates/transformations.py
  astropy/coordinates/transformations/__init__.py
  astropy/coordinates/transformations/affine.py
  astropy/coordinates/transformations/base.py
  astropy/coordinates/transformations/composite.py
  astropy/coordinates/transformations/function.py
  astropy/coordinates/transformations/graph.py
  docs/changes/coordinates/15895.api.rst
Labels: coordinates, Refactoring, API change

#15882 make ParametersAttribute.attr_name a string
  astropy/cosmology/parameter/_descriptors.py
  astropy/cosmology/parameter/tests/test_descriptors.py
  docs/changes/cosmology/15882.bugfix.rst
Labels: Bug, cosmology

#15916 Add typing module to IO
  astropy/io/typing.py
  docs/changes/io.registry/15916.feature.rst
  docs/glossary.rst
  docs/index_user_docs.rst
  docs/io/typing.rst
Labels: Docs, io.registry

#15918 cleanup cosmology comparison code
  astropy/cosmology/funcs/comparison.py
  astropy/cosmology/funcs/tests/test_comparison.py
Labels: cosmology, no-changelog-entry-needed

#15899 Ruff violation icn001 fix
  .pyinstaller/run_astropy_tests.py
  .ruff.toml
  astropy/conftest.py
  astropy/convolution/setup_package.py
  astropy/convolution/tests/test_convolve.py
  astropy/io/ascii/core.py
  astropy/io/ascii/setup_package.py
  astropy/io/misc/pandas/connect.py
  astropy/stats/setup_package.py
  astropy/table/setup_package.py
  astropy/table/tests/test_table.py
  astropy/time/setup_package.py
  astropy/timeseries/periodograms/bls/setup_package.py
  astropy/timeseries/periodograms/lombscargle/setup_package.py
  astropy/units/astrophys.py
  astropy/units/misc.py
  astropy/units/photometric.py
  astropy/units/si.py
  astropy/utils/tests/test_introspection.py
  astropy/visualization/mpl_normalize.py
  astropy/visualization/scripts/fits2bitmap.py
  astropy/visualization/wcsaxes/tests/test_misc.py
  astropy/visualization/wcsaxes/utils.py
  astropy/wcs/setup_package.py
  docs/development/codeguide.rst
Labels: testing, wcs, table, time, io.ascii, units, utils, io.misc, stats, convolution, unified-io, visualization, Refactoring, no-changelog-entry-needed, visualization.wcsaxes, timeseries, dev-automation, Extra CI

#15840 BUG: avoid a segfault when calling astropy.convolution.convolve on an empty array
  astropy/convolution/convolve.py
  astropy/convolution/tests/test_convolve.py
  docs/changes/convolution/15840.bugfix.rst
Labels: Bug, convolution

#15922 type annotate `cosmology.__init__`
  astropy/cosmology/__init__.py
Labels: cosmology, no-changelog-entry-needed

#15927 Remove aliases for `struct.pack` and `struct.unpack`
  astropy/io/votable/converters.py
Labels: io.votable, Refactoring, no-changelog-entry-needed

#15923 BUG: fix a bug where LaTeX formatter would return empty strings for unity (1) input
  astropy/units/format/utils.py
  astropy/units/tests/test_format.py
  docs/changes/units/15923.bugfix.rst
Labels: units, Bug, backport-v6.0.x

#15932 Backport PR #15923 on branch v6.0.x (BUG: fix a bug where LaTeX formatter would return empty strings for unity (1) input)
  astropy/units/format/utils.py
  astropy/units/tests/test_format.py
  docs/changes/units/15923.bugfix.rst
Labels: units, Bug, backport-v6.0.x

#15925 TST: fix deprecation warnings from numpy dev's __array_wrap__ signature
  astropy/convolution/core.py
  astropy/nddata/compat.py
  astropy/table/column.py
  astropy/units/quantity.py
Labels: table, nddata, units, convolution, no-changelog-entry-needed, numpy-dev, backport-v6.0.x

#15934 Deprecate unused introspection functions
  astropy/utils/introspection.py
  astropy/utils/tests/test_introspection.py
  docs/changes/utils/15934.api.rst
Labels: utils, API change

#15930 BUG: fix compatibility with numpy 2.0 for np.broadcast_arrays (now returns a tuple)
  astropy/utils/masked/function_helpers.py
Labels: table, nddata, units, convolution, no-changelog-entry-needed, numpy-dev, utils.masked, backport-v6.0.x

#15939 Backport PR #15930 on branch v6.0.x (BUG: fix compatibility with numpy 2.0 for np.broadcast_arrays (now returns a tuple))
  astropy/utils/masked/function_helpers.py
Labels: table, nddata, units, convolution, no-changelog-entry-needed, numpy-dev, skip-changelog-checks, skip-basebranch-check, utils.masked, backport-v6.0.x

#15937 Backport PR #15925 on branch v6.0.x (TST: fix deprecation warnings from numpy dev's __array_wrap__ signature)
  astropy/convolution/core.py
  astropy/nddata/compat.py
  astropy/table/column.py
  astropy/units/quantity.py
Labels: table, nddata, units, convolution, Manual Backport, skip-changelog-checks, skip-basebranch-check

#15940 TST: pin pluggy in image tests to get by future incompatibility with pytest-mpl
  tox.ini
Labels: testing, visualization, no-changelog-entry-needed, backport-v6.0.x

#15943 Backport PR #15940 on branch v6.0.x (TST: pin pluggy in image tests to get by future incompatibility with pytest-mpl)
  tox.ini
Labels: testing, visualization, no-changelog-entry-needed, backport-v6.0.x

#15945 Remove useless `Table` dunder methods
  astropy/table/table.py
Labels: table, Refactoring, no-changelog-entry-needed

#15950 Avoid importing both `inspect` and `types`
  astropy/modeling/core.py
  astropy/units/tests/test_quantity_non_ufuncs.py
  astropy/utils/introspection.py
Labels: units, modeling, utils, Refactoring, no-changelog-entry-needed

#15948 RFC: make all MaskedNDArray.__wrap_array__'s helper functions return a (result, mask, out) tuple (fix compat with numpy dev)
  astropy/utils/masked/core.py
  astropy/utils/masked/function_helpers.py
Labels: units, Affects-dev, no-changelog-entry-needed, numpy-dev, utils.masked, backport-v6.0.x

#15929 BUG: fix compatibility with numpy 2.0 for ndarray suclasses overriding ndarray.sort and ndarray.argsort
  astropy/units/quantity.py
  astropy/utils/masked/core.py
Labels: table, nddata, units, convolution, no-changelog-entry-needed, numpy-dev, utils.masked, backport-v6.0.x

#15951 Backport PR #15948 on branch v6.0.x (RFC: make all MaskedNDArray.__wrap_array__'s helper functions return a (result, mask, out) tuple (fix compat with numpy dev))
  astropy/utils/masked/core.py
  astropy/utils/masked/function_helpers.py
Labels: units, Affects-dev, no-changelog-entry-needed, numpy-dev, utils.masked, backport-v6.0.x

#15953 Backport PR #15929 on branch v6.0.x (BUG: fix compatibility with numpy 2.0 for ndarray suclasses overriding ndarray.sort and ndarray.argsort)
  astropy/units/quantity.py
  astropy/utils/masked/core.py
Labels: units, numpy-dev, skip-changelog-checks, skip-basebranch-check, utils.masked

#15954 RTD: Fix astropy version in v6.0.x doc build
  .readthedocs.yaml
Labels: Bug, no-changelog-entry-needed, skip-basebranch-check

#15941 TST: (numpy dev) fix return type for a selection of ufuncs applied to Column
  astropy/table/column.py
Labels: table, no-changelog-entry-needed, numpy-dev, backport-v6.0.x

#15965 Backport PR #15941 on branch v6.0.x (TST: (numpy dev) fix return type for a selection of ufuncs applied to Column)
  astropy/table/column.py
Labels: table, no-changelog-entry-needed, numpy-dev, backport-v6.0.x

#15966 Change "Project details" to title case
  docs/index.rst
  docs/index_project_details.rst
Labels: Docs, no-changelog-entry-needed, backport-v6.0.x

#15967 Backport PR #15966 on branch v6.0.x (Change "Project details" to title case)
  docs/index.rst
  docs/index_project_details.rst
Labels: Docs, no-changelog-entry-needed, backport-v6.0.x

#15664 fix: ruff c408 in astropy/units
  .ruff.toml
  astropy/units/equivalencies.py
  astropy/units/quantity.py
  astropy/units/tests/test_equivalencies.py
  astropy/units/tests/test_physical.py
  astropy/units/tests/test_quantity_non_ufuncs.py
Labels: units, Refactoring, no-changelog-entry-needed, dev-automation

#15961 TST: fix compatibility pytest 8.0 (episode 2)
  astropy/coordinates/tests/test_arrays.py
  astropy/coordinates/tests/test_spectral_coordinate.py
  astropy/tests/helper.py
  astropy/wcs/tests/test_wcs.py
  tox.ini
Labels: testing, coordinates, no-changelog-entry-needed, Extra CI, backport-v6.0.x

#15968 Backport PR #15961 on branch v6.0.x (TST: fix compatibility pytest 8.0 (episode 2))
  astropy/coordinates/tests/test_arrays.py
  astropy/coordinates/tests/test_spectral_coordinate.py
  astropy/tests/helper.py
  astropy/wcs/tests/test_wcs.py
  tox.ini
Labels: testing, coordinates, no-changelog-entry-needed, Extra CI, backport-v6.0.x

#15970 BUG: fix compat with numpy dev for numpy.linalg.lstsq's wrapper
  astropy/units/quantity_helper/function_helpers.py
Labels: units, no-changelog-entry-needed, numpy-dev, backport-v6.0.x

#15972 Backport PR #15970 on branch v6.0.x (BUG: fix compat with numpy dev for numpy.linalg.lstsq's wrapper)
  astropy/units/quantity_helper/function_helpers.py
Labels: units, no-changelog-entry-needed, numpy-dev, backport-v6.0.x
