Repository astropy/astropy, pull requests merged in 2024-05, with the labels that each got.

#16361 Add ``keep_order`` argument to ``table.join`` for original table order
  astropy/table/operations.py
  astropy/table/tests/test_operations.py
  docs/changes/table/16361.feature.rst
Labels: table, Enhancement

#16364 Remove useless col_name_map arg from internal table functions
  astropy/table/operations.py
Labels: table, Refactoring, no-changelog-entry-needed

#16373 Backport PR #16368 on branch v6.1.x (Update minimum required version of astropy-iers-data)
  pyproject.toml
Labels: no-changelog-entry-needed, utils.iers, backport-v6.1.x

#16354 DEP: bump minimal supported IPython version to 7.32, declare ipykernel and ipywidgets as optional deps, cleanup
  astropy/utils/compat/optional_deps.py
  astropy/utils/console.py
  pyproject.toml
Labels: utils, installation, Refactoring, no-changelog-entry-needed

#16369 RFC: improve readability of IPython-specific code blocks
  astropy/conftest.py
  astropy/logger.py
  astropy/tests/test_logger.py
Labels: testing, logging, Refactoring, no-changelog-entry-needed

#16367 Add type annotations to `astropy.units.format.Base`
  astropy/units/format/base.py
Labels: units, no-changelog-entry-needed

#16377 Simplify code in `Angle`
  astropy/coordinates/angles/core.py
Labels: coordinates, Refactoring, no-changelog-entry-needed

#16382 MAINT: fix typo
  docs/conf.py
Labels: Docs, no-changelog-entry-needed

#16380 Fix serialization of structured masked arrays
  astropy/io/ascii/tests/test_ecsv.py
  astropy/table/column.py
  astropy/table/serialize.py
  astropy/table/table.py
  astropy/utils/masked/core.py
  astropy/utils/masked/tests/test_masked.py
  docs/changes/table/16380.bugfix.rst
  docs/changes/time/16380.bugfix.rst
  docs/changes/utils/16380.bugfix.rst
Labels: table, time, io.ascii, Bug, utils, utils.masked, backport-v6.1.x

#16386 Backport PR #16380 on branch v6.1.x (Fix serialization of structured masked arrays)
  astropy/io/ascii/tests/test_ecsv.py
  astropy/table/column.py
  astropy/table/serialize.py
  astropy/table/table.py
  astropy/utils/masked/core.py
  astropy/utils/masked/tests/test_masked.py
  docs/changes/table/16380.bugfix.rst
  docs/changes/time/16380.bugfix.rst
  docs/changes/utils/16380.bugfix.rst
Labels: table, time, io.ascii, Bug, utils, utils.masked, backport-v6.1.x

#16385 TST: fix compatibility with numpy 2 (copy semantics) in a coordinates test
  astropy/coordinates/tests/test_intermediate_transformations.py
Labels: testing, coordinates, no-changelog-entry-needed, numpy-dev

#16390 Backport PR #16385 on branch v6.1.x (TST: fix compatibility with numpy 2 (copy semantics) in a coordinates test)
  astropy/coordinates/tests/test_intermediate_transformations.py
Labels: testing, coordinates, no-changelog-entry-needed, numpy-dev

#16389 Updated SECURITY.md following 6.1.0 release
  SECURITY.md
Labels: Docs, no-changelog-entry-needed

#16384 BUG: fix writing a `HDUList` to file when numpy 2 is installed and at least some of the data is represented as dask arrays (compatibility between numpy 2 and dask API)
  astropy/io/fits/hdu/image.py
  docs/changes/io.fits/16384.bugfix.rst
Labels: io.fits, Bug, backport-v6.1.x

#16394 Backport PR #16382 on branch v6.1.x (MAINT: fix typo)
  docs/conf.py
Labels: Docs, Bug, no-changelog-entry-needed, backport-v6.1.x

#16393 Backport PR #16384 on branch v6.1.x (BUG: fix writing a `HDUList` to file when numpy 2 is installed and at least some of the data is represented as dask arrays (compatibility between numpy 2 and dask API))
  astropy/io/fits/hdu/image.py
  docs/changes/io.fits/16384.bugfix.rst
Labels: io.fits, Bug, backport-v6.1.x

#16391 Fix endian-dependence of test introduced in gh-16380
  astropy/utils/masked/tests/test_masked.py
Labels: testing, utils, no-changelog-entry-needed, Extra CI, utils.masked, backport-v6.1.x

#16395 Forward port PR 16230 to main (Finalizing changelog for v6.0.1)
  CHANGES.rst
Labels: Release, skip-changelog-checks, backport-v6.1.x

#16400 Backport PR #16395 on branch v6.1.x (Forward port PR 16230 to main (Finalizing changelog for v6.0.1))
  CHANGES.rst
Labels: Release, skip-changelog-checks, backport-v6.1.x

#16397 Backport PR #16391 on branch v6.1.x (Fix endian-dependence of test introduced in gh-16380)
  astropy/utils/masked/tests/test_masked.py
Labels: testing, utils, no-changelog-entry-needed, Extra CI, utils.masked, backport-v6.1.x

#16408 TST: Fix typo in fitsio test machinery
  tox.ini
Labels: testing, io.fits, Bug, no-changelog-entry-needed, backport-v6.1.x

#16410 Backport PR #16408 on branch v6.1.x (TST: Fix typo in fitsio test machinery)
  tox.ini
Labels: testing, io.fits, Bug, no-changelog-entry-needed, backport-v6.1.x

#16335 MNT: add `astropy.system_info` report helper function
  .github/ISSUE_TEMPLATE/bug_report.yaml
  astropy/__init__.py
  astropy/utils/system_info.py
  docs/changes/utils/16335.feature.rst
  docs/utils/ref_api.rst
Labels: utils, dev-automation

#16404 TST: fix portability for tests matching exception notes
  astropy/coordinates/tests/test_frames.py
  astropy/modeling/tests/test_core.py
Labels: testing, coordinates, modeling, no-changelog-entry-needed, Extra CI

#16417 TST: skip hypothesis tests in weekly cron exotic archs (avoid timeouts)
  .github/workflows/ci_cron_weekly.yml
Labels: testing, Bug, no-changelog-entry-needed, ¯\_(ツ)_/¯, Extra CI, backport-v6.1.x

#16420 Backport PR #16417 on branch v6.1.x (TST: skip hypothesis tests in weekly cron exotic archs (avoid timeouts))
  .github/workflows/ci_cron_weekly.yml
Labels: testing, Bug, no-changelog-entry-needed, ¯\_(ツ)_/¯, Extra CI, backport-v6.1.x

#16416 BUG: fix yaml table serialization compatibility with numpy 2
  astropy/io/misc/tests/test_yaml.py
  astropy/io/misc/yaml.py
  docs/changes/io.misc/16416.bugfix.rst
Labels: Bug, io.misc, numpy-dev, backport-v6.1.x

#15751 Remove deprecated kwarg and property names in stretches
  astropy/visualization/stretch.py
  astropy/visualization/tests/test_stretch.py
  docs/changes/visualization/15751.api.rst
Labels: visualization, API change

#16425 ensure this array has the same length (100) as the associated example…
  docs/convolution/kernels.rst
Labels: Docs, convolution, no-changelog-entry-needed, backport-v6.1.x

#16428 Backport PR #16425 on branch v6.1.x (ensure this array has the same length (100) as the associated example…)
  docs/convolution/kernels.rst
Labels: Docs, convolution, no-changelog-entry-needed, backport-v6.1.x

#16422 Backport PR #16416 on branch v6.1.x (BUG: fix yaml table serialization compatibility with numpy 2)
  astropy/io/misc/tests/test_yaml.py
  astropy/io/misc/yaml.py
  docs/changes/io.misc/16416.bugfix.rst
Labels: Bug, io.misc, numpy-dev, backport-v6.1.x

#15758 MAINT: Remove deprecated keywords args from io.ascii
  astropy/io/ascii/tests/test_read.py
  astropy/io/ascii/ui.py
  docs/changes/io.ascii/15758.api.rst
  docs/io/ascii/read.rst
  docs/io/ascii/write.rst
Labels: io.ascii, API change

#16431 Ensure cenfunc and stdfunc scalars are np.float64
  astropy/stats/sigma_clipping.py
  docs/changes/stats/16431.bugfix.rst
Labels: Bug, stats, numpy-dev, backport-v6.1.x

#16436 Backport PR #16431 on branch v6.1.x (Ensure cenfunc and stdfunc scalars are np.float64)
  astropy/stats/sigma_clipping.py
  docs/changes/stats/16431.bugfix.rst
Labels: Bug, stats, numpy-dev, backport-v6.1.x

#16392 Add type annotations to `astropy/units/format/utils.py`
  astropy/units/format/utils.py
Labels: units, no-changelog-entry-needed

#16406 Fix minus signs in WCSAxes in TeX mode
  astropy/visualization/wcsaxes/tests/test_misc.py
  astropy/visualization/wcsaxes/ticklabels.py
  docs/changes/visualization/16406.bugfix.rst
Labels: Bug, visualization.wcsaxes, backport-v6.1.x

#15642 Remove deprecated Quantity.nansum() method
  astropy/units/quantity.py
  astropy/units/tests/test_quantity_array_methods.py
  docs/changes/units/15642.api.rst
Labels: units, keep-open, API change

#16437 Easier and better help for `io.ascii` `read` and `write` functions
  astropy/io/ascii/docs.py
  astropy/io/ascii/tests/test_read.py
  astropy/io/ascii/ui.py
  astropy/io/registry/interface.py
  docs/io/ascii/index.rst
  docs/io/ascii/read.rst
  docs/io/ascii/write.rst
Labels: Docs, io.ascii, io.registry, no-changelog-entry-needed

#16443 BUG: fix bugs with how masked structured arrays were represented with numpy 2
  astropy/conftest.py
  astropy/io/misc/tests/test_yaml.py
  astropy/utils/masked/function_helpers.py
  astropy/utils/masked/tests/test_masked.py
  docs/changes/utils/16443.bugfix.rst
Labels: testing, utils, io.misc, numpy-dev, utils.masked, backport-v6.1.x

#16439 Fix pandas to Table conversion failures with numpy-dev
  astropy/table/table.py
  docs/changes/table/16439.bugfix.rst
Labels: testing, table, Bug, numpy-dev, Extra CI, backport-v6.1.x

#16447 Backport PR #16439 on branch v6.1.x (Fix pandas to Table conversion failures with numpy-dev)
  astropy/table/table.py
  docs/changes/table/16439.bugfix.rst
Labels: testing, table, Bug, numpy-dev, Extra CI, backport-v6.1.x

#16448 Backport PR #16426 on branch v6.1.x (BUG: fix compatibility with numpy 2 in diff reports (io.fits, utils))
  astropy/io/fits/diff.py
  astropy/io/fits/tests/test_diff.py
  astropy/io/fits/tests/test_fitsdiff.py
  astropy/utils/diff.py
  docs/changes/io.fits/16426.bugfix.rst
Labels: testing, io.fits, utils, io.misc, numpy-dev, backport-v6.1.x

#16444 TST: improve test coverage for io.misc.yaml.AstropyDumper
  astropy/io/misc/tests/test_yaml.py
Labels: testing, io.misc, Affects-dev, no-changelog-entry-needed, numpy-dev, backport-v6.1.x

#16442 BUG: fix bugs in io.votable related to numpy 2's representation of scalars
  astropy/io/votable/converters.py
  astropy/io/votable/tests/test_converter.py
  astropy/io/votable/tests/test_vo.py
  astropy/io/votable/tree.py
  docs/changes/io.votable/16442.bugfix.rst
Labels: testing, io.votable, numpy-dev, backport-v6.1.x

#16453 Backport PR #16444 on branch v6.1.x (TST: improve test coverage for io.misc.yaml.AstropyDumper)
  astropy/io/misc/tests/test_yaml.py
Labels: testing, io.misc, Affects-dev, no-changelog-entry-needed, numpy-dev, backport-v6.1.x

#16454 Backport PR #16442 on branch v6.1.x (BUG: fix bugs in io.votable related to numpy 2's representation of scalars)
  astropy/io/votable/converters.py
  astropy/io/votable/tests/test_converter.py
  astropy/io/votable/tests/test_vo.py
  astropy/io/votable/tree.py
  docs/changes/io.votable/16442.bugfix.rst
Labels: testing, io.votable, numpy-dev, backport-v6.1.x

#16450 BUG: fix compilation with gcc 14, avoid implicit pointer conversions
  astropy/wcs/src/wcslib_celprm_wrap.c
  astropy/wcs/src/wcslib_prjprm_wrap.c
  docs/changes/wcs/16450.bugfix.rst
Labels: wcs, Bug, build, Extra CI, Build all wheels, backport-v6.1.x

#16457 Backport PR #16450 on branch v6.1.x (BUG: fix compilation with gcc 14, avoid implicit pointer conversions)
  astropy/wcs/src/wcslib_celprm_wrap.c
  astropy/wcs/src/wcslib_prjprm_wrap.c
  docs/changes/wcs/16450.bugfix.rst
Labels: wcs, Bug, build, Extra CI, Build all wheels, backport-v6.1.x

#16455 Rename `Fits` class in `units.format` to `FITS`
  astropy/units/format/__init__.py
  astropy/units/format/fits.py
  astropy/units/tests/test_format.py
  docs/changes/units/16455.api.rst
Labels: units, API change

#16445 Reduce code duplication in `units.format.Generic` subclasses
  astropy/units/format/fits.py
  astropy/units/format/generic.py
  astropy/units/format/ogip.py
  astropy/units/format/vounit.py
Labels: units, Refactoring, no-changelog-entry-needed

#16357 Let fitsdiff compare files with lower case HIERARCH keyword
  astropy/io/fits/diff.py
  astropy/io/fits/tests/test_diff.py
  docs/changes/io.fits/16357.bugfix.rst
Labels: io.fits, Bug, backport-v6.1.x

#16468 Avoid building docs with `matplotlib` 3.9.0
  pyproject.toml
Labels: Docs, :fire:, installation, no-changelog-entry-needed, backport-v6.1.x

#16467 Backport PR #16357 on branch v6.1.x (Let fitsdiff compare files with lower case HIERARCH keyword)
  astropy/io/fits/diff.py
  astropy/io/fits/tests/test_diff.py
  docs/changes/io.fits/16357.bugfix.rst
Labels: io.fits, Bug, backport-v6.1.x

#16469 Backport PR #16468 on branch v6.1.x (Avoid building docs with `matplotlib` 3.9.0)
  pyproject.toml
Labels: Docs, :fire:, installation, no-changelog-entry-needed, backport-v6.1.x

#16421 Stop using `flynt`
  .github/workflows/ci_cron_weekly.yml
  pyproject.toml
  tox.ini
Labels: testing, installation, no-changelog-entry-needed, dev-automation

#16462 Pre-commit autoupdate
  .pre-commit-config.yaml
  astropy/io/fits/header.py
  astropy/utils/masked/function_helpers.py
Labels: testing, io.fits, no-changelog-entry-needed, skip-changelog-checks, dev-automation, utils.masked

#15852 cosmo: add type annotations to `astropy.cosmology.units.py`
  astropy/cosmology/units.py
  docs/nitpick-exceptions
  docs/units/ref_api.rst
Labels: cosmology, no-changelog-entry-needed

#16475 Improve README.rst with TOC and clearer instructions
  README.rst
Labels: Docs, no-changelog-entry-needed

#16483 BUG: Fix donate URL
  README.rst
Labels: Docs, Bug, no-changelog-entry-needed, backport-v6.1.x

#16484 Backport PR #16483 on branch v6.1.x (BUG: Fix donate URL)
  README.rst
Labels: Docs, Bug, no-changelog-entry-needed, backport-v6.1.x

#16481 Revert "cosmo: add type annotations to `astropy.cosmology.units.py`"
  astropy/cosmology/units.py
  docs/nitpick-exceptions
  docs/units/ref_api.rst
Labels: Docs, units, Bug, cosmology, Affects-dev, no-changelog-entry-needed

#16465 Add type annotations to `Console` and `Unicode` unit formatters
  astropy/units/format/console.py
  astropy/units/format/unicode_format.py
  docs/nitpick-exceptions
Labels: units, no-changelog-entry-needed

#15713 Add example of CCDData
  docs/io/fits/index.rst
  docs/nddata/index.rst
Labels: Docs, io.fits, no-changelog-entry-needed

#16427 TST: adapt a coordinates test to numpy 2
  astropy/coordinates/tests/test_sky_coord.py
Labels: testing, coordinates, no-changelog-entry-needed, numpy-dev, backport-v6.1.x

#16490 Backport PR #16427 on branch v6.1.x (TST: adapt a coordinates test to numpy 2)
  astropy/coordinates/tests/test_sky_coord.py
Labels: testing, coordinates, no-changelog-entry-needed, numpy-dev, backport-v6.1.x

#15781 Add missing dunder __all__ to star-imported modules
  astropy/io/fits/hdu/compressed/compressed.py
  astropy/io/fits/hdu/compressed/section.py
  astropy/visualization/units.py
  docs/changes/io.fits/15781.api.rst
  docs/changes/visualization/15781.api.rst
Labels: io.fits, visualization, API change

#16487 TST: use macOS arm64 in normal CI, move macOS x86_64 to weekly cron
  .github/workflows/ci_cron_weekly.yml
  .github/workflows/ci_workflows.yml
Labels: testing, no-changelog-entry-needed, Extra CI, backport-v6.1.x

#16493 Backport PR #16487 on branch v6.1.x (TST: use macOS arm64 in normal CI, move macOS x86_64 to weekly cron)
  .github/workflows/ci_cron_weekly.yml
  .github/workflows/ci_workflows.yml
Labels: testing, no-changelog-entry-needed, Extra CI, backport-v6.1.x

#16492 Reduce the number of `_get_unit_name()` methods
  astropy/units/format/base.py
  astropy/units/format/cds.py
  astropy/units/format/fits.py
  astropy/units/format/generic.py
  astropy/units/format/latex.py
  astropy/units/format/ogip.py
  astropy/units/format/unicode_format.py
  astropy/units/format/vounit.py
Labels: units, Refactoring, no-changelog-entry-needed, benchmark

#16485 Remove ancient compatibility code from `BaseCoordinateFrame.represent_as()`
  astropy/coordinates/baseframe.py
  astropy/coordinates/tests/test_frames.py
Labels: coordinates, no-changelog-entry-needed, API change

#16433 TST: adapt table representation tests to numpy 2
  astropy/table/tests/test_mixin.py
  astropy/table/tests/test_operations.py
Labels: testing, table, no-changelog-entry-needed, numpy-dev, backport-v6.1.x

#16494 Backport PR #16433 on branch v6.1.x (TST: adapt table representation tests to numpy 2)
  astropy/table/tests/test_mixin.py
  astropy/table/tests/test_operations.py
Labels: testing, table, no-changelog-entry-needed, numpy-dev, backport-v6.1.x

#16505 Ensure unsigned integer dtype is preserved also for empty table
  astropy/io/fits/fitsrec.py
  astropy/io/fits/tests/test_connect.py
  docs/changes/io.fits/16505.bugfix.rst
Labels: io.fits, Bug, backport-v6.1.x

#16506 Backport PR #16505 on branch v6.1.x (Ensure unsigned integer dtype is preserved also for empty table)
  astropy/io/fits/fitsrec.py
  astropy/io/fits/tests/test_connect.py
  docs/changes/io.fits/16505.bugfix.rst
Labels: io.fits, Bug, backport-v6.1.x

#16503 Ensure we can initialize using multiple MaskedQuantity inputs.
  astropy/coordinates/tests/test_arrays.py
  astropy/units/quantity.py
  astropy/utils/masked/tests/test_masked.py
  docs/changes/utils/16503.bugfix.rst
Labels: units, Bug, coordinates, utils, utils.masked

#16504 Remove distracting quotation marks form `UnknownSiteException` messages
  astropy/coordinates/errors.py
  astropy/coordinates/tests/test_exceptions.py
Labels: coordinates, Refactoring, no-changelog-entry-needed

#16499 Ensure Masked quantity works with np.block
  astropy/units/quantity_helper/function_helpers.py
  astropy/utils/masked/tests/test_function_helpers.py
  docs/changes/utils/16499.bugfix.rst
Labels: units, Bug, utils, utils.masked, backport-v6.1.x

#16507 Backport PR #16499 on branch v6.1.x (Ensure Masked quantity works with np.block)
  astropy/units/quantity_helper/function_helpers.py
  astropy/utils/masked/tests/test_function_helpers.py
  docs/changes/utils/16499.bugfix.rst
Labels: units, Bug, utils, utils.masked, backport-v6.1.x

#16340 build: improve opt deps
  docs/development/codeguide.rst
  docs/development/testguide.rst
  docs/development/workflow/development_workflow.rst
  pyproject.toml
Labels: installation, no-changelog-entry-needed, Extra CI, Build all wheels

#16509 Simplify short methods in `BaseCoordinateFrame`
  astropy/coordinates/baseframe.py
Labels: coordinates, Refactoring, no-changelog-entry-needed

#16510 TST: unignore imp deprecation warning
  pyproject.toml
Labels: installation, no-changelog-entry-needed, Extra CI, Build all wheels

#15065 Adjust to numpy dev scalar format
  .github/workflows/ci_workflows.yml
  astropy/conftest.py
  astropy/coordinates/baseframe.py
  astropy/coordinates/tests/test_sky_coord.py
  astropy/io/fits/tests/test_diff.py
  astropy/io/fits/tests/test_fitsdiff.py
  astropy/io/misc/tests/test_yaml.py
  astropy/io/votable/tests/test_converter.py
  astropy/io/votable/tests/test_vo.py
  astropy/stats/info_theory.py
  astropy/stats/jackknife.py
  astropy/stats/sigma_clipping.py
  astropy/table/row.py
  astropy/table/table_helpers.py
  astropy/table/tests/test_mixin.py
  astropy/table/tests/test_operations.py
  astropy/time/formats.py
  astropy/timeseries/periodograms/bls/core.py
  astropy/timeseries/periodograms/lombscargle/core.py
  astropy/units/structured.py
  astropy/utils/masked/tests/test_masked.py
  astropy/wcs/wcs.py
  docs/coordinates/angles.rst
  docs/coordinates/frames.rst
  docs/coordinates/index.rst
  docs/coordinates/matchsep.rst
  docs/coordinates/skycoord.rst
  docs/cosmology/index.rst
  docs/cosmology/units.rst
  docs/io/fits/index.rst
  docs/io/fits/usage/image.rst
  docs/io/fits/usage/unfamiliar.rst
  docs/known_issues.rst
  docs/modeling/models.rst
  docs/modeling/units.rst
  docs/nddata/ccddata.rst
  docs/nddata/index.rst
  docs/nddata/nddata.rst
  docs/nddata/subclassing.rst
  docs/stats/index.rst
  docs/stats/robust.rst
  docs/table/access_table.rst
  docs/table/construct_table.rst
  docs/table/index.rst
  docs/table/indexing.rst
  docs/time/index.rst
  docs/timeseries/lombscargle.rst
  docs/timeseries/masking.rst
  docs/units/equivalencies.rst
  docs/units/index.rst
  docs/units/logarithmic_units.rst
  docs/units/quantity.rst
  docs/utils/masked/index.rst
  docs/visualization/normalization.rst
  docs/wcs/wcsapi.rst
  pyproject.toml
Labels: io.votable, table, io.fits, units, utils, io.misc, no-changelog-entry-needed, numpy-dev, utils.masked
