Repository astropy/astropy, pull requests merged in 2024-03, with the labels that each got.

#16137 Shorten `_get_frame_without_data()`
  astropy/coordinates/sky_coordinate_parsers.py
Labels: coordinates, Refactoring, no-changelog-entry-needed

#16144 BUG: declare private str ufuncs as unsupported (np._core.umath._expandtabs*)
  astropy/units/quantity_helper/helpers.py
Labels: units, no-changelog-entry-needed, numpy-dev

#16145 Backport PR #16144 on branch v6.0.x (BUG: declare private str ufuncs as unsupported (`np._core.umath._expandtabs*`))
  astropy/units/quantity_helper/helpers.py
Labels: units, no-changelog-entry-needed, numpy-dev, Manual Backport, skip-basebranch-check

#16155 Revert "TST: temporarily pin pytest<8.1"
  pyproject.toml
Labels: testing, installation, Affects-dev, no-changelog-entry-needed

#16150 MAINT: Use array-api-strict instead of np.array_api
  astropy/units/tests/test_quantity_array_methods.py
  astropy/utils/compat/optional_deps.py
  pyproject.toml
Labels: testing, units, utils, installation, no-changelog-entry-needed, Extra CI

#16142 BUG: fix compatibility with numpy 2.0 copy semantics
  astropy/convolution/convolve.py
  astropy/convolution/core.py
  astropy/coordinates/polarization.py
  astropy/coordinates/tests/test_representation.py
  astropy/modeling/parameters.py
  astropy/modeling/polynomial.py
  astropy/nddata/compat.py
  astropy/nddata/nddata.py
  astropy/nddata/nduncertainty.py
  astropy/nddata/tests/test_nddata.py
  astropy/table/column.py
  astropy/table/row.py
  astropy/table/table.py
  astropy/table/tests/test_column.py
  astropy/table/tests/test_row.py
  astropy/table/tests/test_table.py
  astropy/time/core.py
  astropy/uncertainty/core.py
  astropy/units/quantity.py
  astropy/units/tests/test_quantity.py
  astropy/utils/compat/numpycompat.py
  astropy/utils/masked/core.py
Labels: table, time, nddata, units, coordinates, modeling, utils, convolution, no-changelog-entry-needed, numpy-dev, uncertainty, backport-v6.0.x

#16157 Backport PR #16142: BUG: fix compatibility with numpy 2.0 copy semantics
  astropy/convolution/convolve.py
  astropy/convolution/core.py
  astropy/coordinates/polarization.py
  astropy/coordinates/tests/test_representation.py
  astropy/modeling/parameters.py
  astropy/modeling/polynomial.py
  astropy/nddata/compat.py
  astropy/nddata/nddata.py
  astropy/nddata/nduncertainty.py
  astropy/nddata/tests/test_nddata.py
  astropy/table/column.py
  astropy/table/row.py
  astropy/table/table.py
  astropy/table/tests/test_column.py
  astropy/table/tests/test_row.py
  astropy/table/tests/test_table.py
  astropy/time/core.py
  astropy/uncertainty/core.py
  astropy/units/quantity.py
  astropy/units/tests/test_quantity.py
  astropy/utils/compat/numpycompat.py
  astropy/utils/masked/core.py
Labels: table, time, nddata, units, coordinates, modeling, utils, convolution, no-changelog-entry-needed, numpy-dev, skip-changelog-checks, uncertainty, skip-basebranch-check, utils.masked

#16169 Replaced pow with a multiply
  astropy/stats/src/compute_bounds.c
Labels: stats, Performance, no-changelog-entry-needed

#16173 Remove `astropy.coordinates.representation.base._make_getter()`
  astropy/coordinates/representation/base.py
Labels: coordinates, Refactoring, no-changelog-entry-needed

#16179 DOC: Add test runner limitation wrt asdf-astropy to Known Issues
  docs/known_issues.rst
Labels: testing, Docs, no-changelog-entry-needed

#15603 Bump minimum Python to 3.10
  .circleci/config.yml
  .github/workflows/ci_cron_daily.yml
  .github/workflows/ci_cron_weekly.yml
  .github/workflows/ci_workflows.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish.yml
  .readthedocs.yaml
  .ruff.toml
  CONTRIBUTING.md
  astropy/coordinates/earth.py
  astropy/coordinates/name_resolve.py
  astropy/coordinates/sky_coordinate.py
  astropy/coordinates/transformations/graph.py
  astropy/cosmology/funcs/comparison.py
  astropy/cosmology/parameter/_converter.py
  astropy/cosmology/parameter/_core.py
  astropy/cosmology/parameter/_descriptors.py
  astropy/cosmology/parameter/tests/test_parameter.py
  astropy/io/fits/column.py
  astropy/io/fits/connect.py
  astropy/io/fits/util.py
  astropy/io/typing.py
  astropy/io/votable/validator/result.py
  astropy/modeling/bounding_box.py
  astropy/table/groups.py
  astropy/tests/figures/py310-test-image-mpl334-cov.json
  astropy/tests/figures/py310-test-image-mpldev-cov.json
  astropy/time/core.py
  astropy/units/tests/test_quantity_annotations.py
  astropy/units/tests/test_quantity_typing.py
  astropy/units/tests/test_quantity_ufuncs.py
  astropy/units/typing.py
  astropy/utils/introspection.py
  docs/changes/15603.other.rst
  docs/development/workflow/git_edit_workflow_examples.rst
  docs/units/type_hints.rst
  docs/whatsnew/6.1.rst
  pyproject.toml
  tox.ini
Labels: whatsnew-needed, Python3.10, Extra CI

#16122 TST: remove workarounds now that contourpy has unpinned nightlies
  .github/workflows/ci_workflows.yml
  tox.ini
Labels: testing, no-changelog-entry-needed, numpy-dev, Extra CI

#16170 RFC: refactor copy argument sanitizing into a unified compat function
  astropy/table/column.py
  astropy/time/core.py
  astropy/units/quantity.py
  astropy/utils/compat/numpycompat.py
  astropy/utils/masked/core.py
Labels: table, time, units, utils, Refactoring, no-changelog-entry-needed, utils.masked

#16166 RFC: refactor internal usage of copy=False to copy=COPY_IF_NEEDED
  astropy/coordinates/angles/core.py
  astropy/coordinates/angles/utils.py
  astropy/coordinates/attributes.py
  astropy/coordinates/builtin_frames/cirs_observed_transforms.py
  astropy/coordinates/builtin_frames/fk4.py
  astropy/coordinates/builtin_frames/icrs_cirs_transforms.py
  astropy/coordinates/builtin_frames/icrs_observed_transforms.py
  astropy/coordinates/distances.py
  astropy/coordinates/earth.py
  astropy/coordinates/representation/cylindrical.py
  astropy/coordinates/representation/spherical.py
  astropy/coordinates/sky_coordinate.py
  astropy/coordinates/sky_coordinate_parsers.py
  astropy/coordinates/solar_system.py
  astropy/coordinates/spectral_coordinate.py
  astropy/coordinates/tests/test_representation.py
  astropy/modeling/bounding_box.py
  astropy/modeling/core.py
  astropy/table/table.py
  astropy/time/core.py
  astropy/units/core.py
  astropy/units/function/core.py
  astropy/units/physical.py
  astropy/units/quantity.py
  astropy/units/quantity_helper/function_helpers.py
  astropy/utils/masked/core.py
Labels: table, time, units, Refactoring, no-changelog-entry-needed, numpy-dev, utils.masked

#16184 CLN: cleanup unused try block in astropy/convolution/convolve.py
  astropy/convolution/convolve.py
Labels: convolution, Refactoring, no-changelog-entry-needed

#16182 Simplify coordinate transformation graph caching
  astropy/coordinates/transformations/graph.py
Labels: coordinates, Refactoring, no-changelog-entry-needed

#16185 DOC: Test guide should be consistent with actual jobs we run
  docs/development/testguide.rst
Labels: Docs, Affects-dev, no-changelog-entry-needed

#16183 CLN: cleanup unused bits now that Python 3.9 was dropped
  astropy/io/fits/tests/test_image.py
  astropy/modeling/fitting.py
  astropy/units/structured.py
Labels: io.fits, units, modeling, Refactoring, no-changelog-entry-needed

#16186 RFC: inline usage of sys.version_info to enable automated clean up of compatibility code
  astropy/cosmology/tests/test_core.py
  astropy/io/fits/tests/test_image.py
  astropy/tests/helper.py
  astropy/time/core.py
  astropy/time/tests/test_mask.py
  astropy/utils/compat/misc.py
Labels: testing, io.fits, time, cosmology, utils, Refactoring, no-changelog-entry-needed

#16189 Backport PR #15954 on branch main (RTD: Fix astropy version in v6.0.x doc build)
  .readthedocs.yaml
Labels: Docs, Bug, no-changelog-entry-needed, skip-basebranch-check

#16095 TST: Mark slow tests in astropy/samp
  astropy/samp/tests/test_client.py
  astropy/samp/tests/test_hub.py
Labels: testing, samp, Performance, no-changelog-entry-needed

#16188 Implement `Table.setdefault()`
  astropy/table/table.py
  astropy/table/tests/test_table.py
  docs/changes/table/16188.feature.rst
  docs/table/modify_table.rst
Labels: table, Docs, Enhancement

#16191 TST: Sort test parametrization in cosmology
  astropy/cosmology/flrw/tests/test_base.py
  astropy/cosmology/flrw/tests/test_lambdacdm.py
  astropy/cosmology/funcs/tests/test_comparison.py
  astropy/cosmology/tests/test_connect.py
Labels: testing, Bug, cosmology, no-changelog-entry-needed, backport-v6.0.x

#16192 Backport PR #16191 on branch v6.0.x (TST: Sort test parametrization in cosmology)
  astropy/cosmology/flrw/tests/test_base.py
  astropy/cosmology/flrw/tests/test_lambdacdm.py
  astropy/cosmology/funcs/tests/test_comparison.py
  astropy/cosmology/tests/test_connect.py
Labels: testing, Bug, cosmology, no-changelog-entry-needed, backport-v6.0.x

#16196 TST: Speed-up test suite when using pytest-xdist
  astropy/conftest.py
  pyproject.toml
Labels: testing, Bug, installation, Performance, no-changelog-entry-needed, backport-v6.0.x

#16197 Backport PR #16196 on branch v6.0.x (TST: Speed-up test suite when using pytest-xdist)
  astropy/conftest.py
  pyproject.toml
Labels: testing, Bug, installation, Performance, no-changelog-entry-needed, backport-v6.0.x

#16198 BUG/API: Changed the default value of the copy argument in `CylindricalDifferential.__init__` from `False` to `True`
  astropy/coordinates/representation/cylindrical.py
  docs/changes/coordinates/16198.api.rst
Labels: coordinates, API change

#15259 Improve automatically retrieved documentation of coordinate-frame attributes
  astropy/coordinates/attributes.py
  astropy/coordinates/baseframe.py
  astropy/coordinates/builtin_frames/altaz.py
  astropy/coordinates/builtin_frames/cirs.py
  astropy/coordinates/builtin_frames/ecliptic.py
  astropy/coordinates/builtin_frames/equatorial.py
  astropy/coordinates/builtin_frames/fk4.py
  astropy/coordinates/builtin_frames/fk5.py
  astropy/coordinates/builtin_frames/galactocentric.py
  astropy/coordinates/builtin_frames/gcrs.py
  astropy/coordinates/builtin_frames/hadec.py
  astropy/coordinates/builtin_frames/hcrs.py
  astropy/coordinates/builtin_frames/itrs.py
  astropy/coordinates/builtin_frames/lsr.py
  astropy/coordinates/builtin_frames/skyoffset.py
Labels: Docs, coordinates, no-changelog-entry-needed

#16193 Update SAMP hub web profile for Private Network Access
  astropy/samp/web_profile.py
  docs/changes/samp/16193.feature.rst
Labels: samp, Enhancement

#15973 Remove `fixed_width_indent()`
  astropy/io/fits/diff.py
  astropy/utils/diff.py
Labels: io.fits, utils, Refactoring, no-changelog-entry-needed

#16202 DOC: pandas Series __mul__ was updated in 2.0
  docs/known_issues.rst
Labels: testing, table, Docs, Bug, no-changelog-entry-needed, backport-v6.0.x

#16203 Backport PR #16202 on branch v6.0.x (DOC: pandas Series __mul__ was updated in 2.0)
  docs/known_issues.rst
Labels: testing, table, Docs, Bug, no-changelog-entry-needed, backport-v6.0.x

#16204 DOC: Un-ignore OSU link in linkcheck
  docs/conf.py
Labels: testing, Docs, no-changelog-entry-needed, Extra CI

#15779 Add continuous CI benchmarking using astropy-benchmarks
  .github/workflows/ci_benchmark.yml
  asv.ci.conf.json
Labels: testing, modeling, installation, stats, visualization, skip-changelog-checks, dev-automation, benchmark

#16205 BUG: declare private str ufuncs as unsupported (np._core.umath._(ljust, rjust, _center, _zfill))
  astropy/units/quantity_helper/helpers.py
Labels: units, no-changelog-entry-needed, numpy-dev, backport-v6.0.x

#16206 Backport PR #16205 on branch v6.0.x (BUG: declare private str ufuncs as unsupported (np._core.umath._(ljust, rjust, _center, _zfill)))
  astropy/units/quantity_helper/helpers.py
Labels: units, no-changelog-entry-needed, numpy-dev, backport-v6.0.x

#16127 BUG: ensure find_equivalent_units returns proper equivalent units
  astropy/units/core.py
  astropy/units/tests/test_equivalencies.py
  docs/changes/units/16127.bugfix.rst
Labels: units, Bug, backport-v6.0.x

#16210 Backport PR #16127 on branch v6.0.x (BUG: ensure find_equivalent_units returns proper equivalent units)
  astropy/units/core.py
  astropy/units/tests/test_equivalencies.py
  docs/changes/units/16127.bugfix.rst
Labels: units, Bug, backport-v6.0.x

#15878 DOC: describe how to create a test environment with tox
  docs/development/testguide.rst
Labels: testing, Docs, no-changelog-entry-needed

#16213 Fix SyntaxWarning: invalid escape sequence in docs build
  astropy/modeling/powerlaws.py
  docs/modeling/compound-models.rst
Labels: Docs, modeling, no-changelog-entry-needed

#16214 Backport PR #16213 on branch v6.0.x (Fix SyntaxWarning: invalid escape sequence in docs build)
  astropy/modeling/powerlaws.py
  docs/modeling/compound-models.rst
Labels: Docs, Bug, modeling, no-changelog-entry-needed, backport-v6.0.x

#16088 PERF: optimize a hot path in `Angle.__new__`
  astropy/coordinates/angles/core.py
Labels: coordinates, Performance, no-changelog-entry-needed, benchmark

#16194 DOC: Move FITS example gallery to FAQ
  docs/install.rst
  docs/io/fits/appendix/faq.rst
  docs/io/fits/index.rst
  docs/io/unified.rst
  examples/README.rst
  examples/io/Hs-2009-14-a-web.jpg
  examples/io/README.txt
  examples/io/create-mef.py
  examples/io/fits-tables.py
  examples/io/modify-fits-header.py
  examples/io/plot_fits-image.py
  examples/io/skip_create-large-fits.py
  examples/io/split-jpeg-to-fits.py
Labels: Docs, io.fits, installation, Refactoring, no-changelog-entry-needed

#16096 PERF: reduce validation overhead in `Latitude._validate_angles`
  astropy/coordinates/angles/core.py
Labels: coordinates, Performance, no-changelog-entry-needed, benchmark

#15985 Fix issue in ndcube requiring changes in astropy
  astropy/visualization/wcsaxes/coordinate_helpers.py
  astropy/visualization/wcsaxes/tests/test_coordinate_helpers.py
  docs/changes/visualization/15985.bugfix.rst
Labels: Bug, visualization.wcsaxes

#16215 Reorganize coordinate separation method tests
  astropy/coordinates/tests/test_angular_separation.py
  astropy/coordinates/tests/test_arrays.py
  astropy/coordinates/tests/test_frame_skycoord_common_methods.py
  astropy/coordinates/tests/test_frames.py
  astropy/coordinates/tests/test_separation.py
  astropy/coordinates/tests/test_sky_coord.py
  astropy/coordinates/tests/test_sky_coord_velocities.py
Labels: testing, coordinates, no-changelog-entry-needed

#16222 PERF: skip angle wrapping when possible
  astropy/coordinates/angles/core.py
Labels: coordinates, Performance, no-changelog-entry-needed, benchmark

#16212 DEPR: deprecate Time.ptp in favor of np.ptp with Numpy >= 2.0
  astropy/time/core.py
  astropy/time/tests/test_methods.py
  docs/changes/time/16212.api.rst
  docs/time/index.rst
Labels: time, API change

#16223 Deprecate `astropy.utils.misc.indent()`
  astropy/io/fits/column.py
  astropy/io/fits/verify.py
  astropy/modeling/core.py
  astropy/modeling/polynomial.py
  astropy/utils/misc.py
  astropy/utils/tests/test_misc.py
  docs/changes/utils/16223.api.rst
Labels: io.fits, modeling, utils, API change

#16207 MAINT: Benchmark action should fail if a regression is caught
  .github/workflows/ci_benchmark.yml
Labels: testing, Bug, Affects-dev, no-changelog-entry-needed

#16226 Shorten `_parse_coordinate_data()`
  astropy/coordinates/sky_coordinate_parsers.py
Labels: coordinates, Refactoring, no-changelog-entry-needed

#16228 Simplify `_parse_coordinate_arg()` signature
  astropy/coordinates/sky_coordinate_parsers.py
Labels: coordinates, Refactoring, no-changelog-entry-needed

#16233 BUG: hotfix compatibility with numpy 1.22 for astropy 6.0.x
  astropy/table/table.py
Labels: table, skip-changelog-checks, skip-basebranch-check

#16154 Deprecate `TableColumns.setdefault()` and `TableColumns.update()`
  astropy/table/table.py
  astropy/table/tests/test_table.py
  docs/changes/table/16154.api.rst
Labels: table, Bug, backport-v6.0.x

#16229 BUG: fix compatibility with numpy@maintenance/v2.0.x
  astropy/units/quantity_helper/helpers.py
  astropy/utils/compat/numpycompat.py
Labels: units, utils, no-changelog-entry-needed

#16139 ENH: Move _get_converter to public API
  astropy/units/core.py
  astropy/units/quantity_helper/converters.py
  astropy/units/quantity_helper/helpers.py
  astropy/units/structured.py
  astropy/units/tests/test_quantity_erfa_ufuncs.py
  astropy/units/tests/test_units.py
  docs/changes/units/16139.api.rst
  docs/units/conversion.rst
  docs/units/equivalencies.rst
Labels: Docs, units, API change

#15491 Removed OrderedDict from time in formats.py
  astropy/time/formats.py
  docs/changes/time/15491.api.rst
Labels: time, Refactoring

#16232 DOC: add a note that wrapping Angle with integral dtypes isn't supported
  docs/coordinates/angles.rst
Labels: Docs, coordinates, no-changelog-entry-needed, backport-v6.0.x

#16238 Backport PR #16093 on branch v6.0.x (BUG: fix calling Table.group_by on an empty table)
  astropy/table/groups.py
  astropy/table/tests/test_table.py
  docs/changes/table/16093.bugfix.rst
Labels: table, Bug, backport-v6.0.x

#16239 DOC: rework documentation for the __astropy_table__ protocol to avoid mingling with numpy 2.0's copy semantics
  docs/table/construct_table.rst
Labels: table, Docs, no-changelog-entry-needed

#15871 BUG: fix a bug where columns with dtype=object wouldn't be properly deep-copied using copy.deepcopy
  astropy/table/table.py
  astropy/table/tests/test_column.py
  astropy/table/tests/test_table.py
  docs/changes/table/15871.bugfix.rst
Labels: table, Bug

#16135 feat: fast-path physicsspherical to cylindrical
  astropy/coordinates/representation/cylindrical.py
  astropy/coordinates/representation/spherical.py
  astropy/coordinates/tests/test_representation.py
Labels: coordinates, Performance, no-changelog-entry-needed, benchmark

#16224 Support Masked setops functions and hashing of scalars.
  astropy/time/tests/test_basic.py
  astropy/utils/masked/core.py
  astropy/utils/masked/function_helpers.py
  astropy/utils/masked/tests/test_containers.py
  astropy/utils/masked/tests/test_function_helpers.py
  astropy/utils/masked/tests/test_functions.py
  astropy/utils/masked/tests/test_masked.py
  docs/changes/time/16224.bugfix.rst
  docs/changes/utils/16224.api.rst
  docs/changes/utils/16224.feature.rst
Labels: time, Bug, utils, Enhancement, API change, utils.masked

#15484 Cosmo as a dataclass
  astropy/cosmology/_io/ecsv.py
  astropy/cosmology/_io/mapping.py
  astropy/cosmology/_io/model.py
  astropy/cosmology/_io/tests/base.py
  astropy/cosmology/_io/tests/test_ecsv.py
  astropy/cosmology/_io/tests/test_html.py
  astropy/cosmology/_io/tests/test_json.py
  astropy/cosmology/_io/tests/test_mapping.py
  astropy/cosmology/_io/tests/test_row.py
  astropy/cosmology/_io/tests/test_table.py
  astropy/cosmology/_utils.py
  astropy/cosmology/core.py
  astropy/cosmology/flrw/base.py
  astropy/cosmology/flrw/lambdacdm.py
  astropy/cosmology/flrw/tests/test_base.py
  astropy/cosmology/flrw/tests/test_w0cdm.py
  astropy/cosmology/flrw/tests/test_w0wacdm.py
  astropy/cosmology/flrw/tests/test_w0wzcdm.py
  astropy/cosmology/flrw/tests/test_wpwazpcdm.py
  astropy/cosmology/flrw/w0cdm.py
  astropy/cosmology/flrw/w0wacdm.py
  astropy/cosmology/flrw/w0wzcdm.py
  astropy/cosmology/flrw/wpwazpcdm.py
  astropy/cosmology/funcs/tests/test_funcs.py
  astropy/cosmology/parameter/_core.py
  astropy/cosmology/parameter/tests/test_descriptors.py
  astropy/cosmology/parameter/tests/test_parameter.py
  astropy/cosmology/realizations.py
  astropy/cosmology/tests/test_core.py
  docs/changes/cosmology/15484.api.rst
  docs/cosmology/dev.rst
  docs/cosmology/index.rst
  docs/whatsnew/6.1.rst
Labels: testing, Docs, cosmology, Enhancement, whatsnew-needed, API change

#16246 Make computing angular separations less surprising
  astropy/coordinates/baseframe.py
  astropy/coordinates/errors.py
  astropy/coordinates/tests/test_exceptions.py
  astropy/coordinates/tests/test_separation.py
  astropy/coordinates/tests/test_sky_coord.py
  docs/changes/coordinates/16246.feature.rst
  docs/coordinates/common_errors.rst
  docs/whatsnew/6.1.rst
Labels: Docs, coordinates, Enhancement, whatsnew-needed

#16225 DOCS: Add docs about CI benchmarking
  CONTRIBUTING.md
  docs/development/testguide.rst
  docs/development/workflow/maintainer_workflow.rst
Labels: Docs, Performance, no-changelog-entry-needed, dev-automation
