Repository astropy/astropy, pull requests merged in 2024-12, with the labels that each got.

#17488 Backport PR #17486 on branch v7.0.x (Update minimum required version of astropy-iers-data)
  pyproject.toml
Labels: no-changelog-entry-needed, utils.iers, backport-v7.0.x

#17435 STY: autofix `unsorted-dunder-slots` (`RUF023`)
  astropy/table/bst.py
  astropy/utils/data_info.py
Labels: table, utils, Refactoring, no-changelog-entry-needed

#17356 Fix writing COOSYS elements from votable to xml
  astropy/io/votable/tests/data/coosys.xml
  astropy/io/votable/tests/data/regression.bin.tabledata.truth.1.3.xml
  astropy/io/votable/tests/test_coosys.py
  astropy/io/votable/tree.py
  docs/changes/io.votable/17356.bugfix.rst
Labels: io.votable, Bug, backport-v7.0.x

#17498 Backport PR #17356 on branch v7.0.x (Fix writing COOSYS elements from votable to xml)
  astropy/io/votable/tests/data/coosys.xml
  astropy/io/votable/tests/data/regression.bin.tabledata.truth.1.3.xml
  astropy/io/votable/tests/test_coosys.py
  astropy/io/votable/tree.py
  docs/changes/io.votable/17356.bugfix.rst
Labels: io.votable, Bug, backport-v7.0.x

#17444 BUG: Fix ticklabels getter in `CoordinateHelper`
  astropy/visualization/wcsaxes/coordinate_helpers.py
  astropy/visualization/wcsaxes/tests/test_coordinate_helpers.py
  docs/changes/visualization/17444.bugfix.rst
Labels: Bug, visualization.wcsaxes, backport-v7.0.x

#17441 STY: manual fixes for `dict-index-missing-items` (`PLC0206`) (`nddata`)
  astropy/nddata/mixins/ndarithmetic.py
Labels: nddata, Refactoring, no-changelog-entry-needed

#17496 Make several argument defaults immutable (and annotate them)
  astropy/units/core.py
  astropy/units/function/core.py
  astropy/units/quantity.py
  astropy/units/structured.py
  docs/nitpick-exceptions
Labels: units, no-changelog-entry-needed, typing

#17499 Backport PR #17444 on branch v7.0.x (BUG: Fix ticklabels getter in `CoordinateHelper`)
  astropy/visualization/wcsaxes/coordinate_helpers.py
  astropy/visualization/wcsaxes/tests/test_coordinate_helpers.py
  docs/changes/visualization/17444.bugfix.rst
Labels: Bug, visualization.wcsaxes, backport-v7.0.x

#17501 fix: Ob0 is never None
  astropy/cosmology/flrw/base.py
  astropy/cosmology/flrw/tests/test_base.py
  astropy/cosmology/flrw/tests/test_w0cdm.py
  astropy/cosmology/flrw/tests/test_w0wacdm.py
  astropy/cosmology/flrw/tests/test_w0wzcdm.py
  astropy/cosmology/flrw/tests/test_wpwazpcdm.py
Labels: cosmology, Refactoring, no-changelog-entry-needed, backport-v7.0.x

#17153 cosmo: separate out tcmb
  astropy/cosmology/flrw/base.py
Labels: cosmology, no-changelog-entry-needed

#17479 Fix Ruff rule PT022 violations
  .ruff.toml
  astropy/cosmology/_io/tests/test_yaml.py
  astropy/io/registry/tests/test_registries.py
  astropy/utils/tests/test_data.py
Labels: testing, cosmology, utils, io.registry, no-changelog-entry-needed, dev-automation

#17503 feat(coords): deprecate `.get_name()` for `.name`
  astropy/coordinates/baseframe.py
  astropy/coordinates/builtin_frames/icrs_cirs_transforms.py
  astropy/coordinates/representation/base.py
  astropy/coordinates/sky_coordinate_parsers.py
  astropy/coordinates/tests/test_representation.py
  astropy/coordinates/tests/test_representation_arithmetic.py
  astropy/coordinates/tests/test_sky_coord_velocities.py
  docs/changes/coordinates/17503.api.rst
Labels: coordinates, Refactoring, API change

#17510 fix table extensions compilation
  astropy/table/setup_package.py
Labels: table, installation, no-changelog-entry-needed, backport-v7.0.x

#17511 Backport PR #17510 on branch v7.0.x (fix table extensions compilation)
  astropy/table/setup_package.py
Labels: table, installation, no-changelog-entry-needed, backport-v7.0.x

#17494 MNT: remove unused convolution benchmark code
  astropy/convolution/tests/test_convolve_speeds.py
Labels: convolution, no-changelog-entry-needed

#17513 BUG: fix a crash in `Table.show_in_browser` due to an internal type inconsistency
  astropy/table/table.py
  docs/changes/table/17513.bugfix.rst
Labels: table, Bug, backport-v7.0.x

#17517 Backport PR #17513 on branch v7.0.x (BUG: fix a crash in `Table.show_in_browser` due to an internal type inconsistency)
  astropy/table/table.py
  docs/changes/table/17513.bugfix.rst
Labels: table, Bug, backport-v7.0.x

#17518 MNT: upgrade ruff pre-commit hook (0.7.2->0.8.2)
  .pre-commit-config.yaml
Labels: testing, no-changelog-entry-needed, dev-automation

#17523 TST: fix incorrect branching on numpy version
  astropy/units/quantity_helper/helpers.py
Labels: units, Bug, :fire:, Affects-dev, no-changelog-entry-needed, backport-v7.0.x

#17525 Backport PR #17523 on branch v7.0.x (TST: fix incorrect branching on numpy version)
  astropy/units/quantity_helper/helpers.py
Labels: units, Bug, :fire:, Affects-dev, no-changelog-entry-needed, backport-v7.0.x

#17519 DEP: add missing lower bound for objgraph (test-only dependency)
  pyproject.toml
Labels: installation, no-changelog-entry-needed, dependencies

#17487 MNT: add a trailing newline to `pyproject.toml` in `update_astropy_iers_data_pin.py`
  .github/workflows/update_astropy_iers_data_pin.py
Labels: no-changelog-entry-needed, utils.iers, dev-automation

#17473 BUG: fix importing from `astropy.config.paths` under Python's optimized mode
  astropy/config/paths.py
Labels: config, Bug, no-changelog-entry-needed

#17461 Optimize getting config item values
  astropy/config/configuration.py
  docs/changes/config/17461.perf.rst
Labels: config, Performance, benchmark

#17463 Backport PR #17315 on branch v7.0.x (SEC: fix security breaches in GHA workflows detected with zizmor)
  .github/workflows/ci_benchmark.yml
  .github/workflows/ci_cron_daily.yml
  .github/workflows/ci_cron_weekly.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/open_actions.yml
  .github/workflows/update_astropy_iers_data_pin.yml
Labels: testing, no-changelog-entry-needed, Manual Backport, utils.iers, dev-automation, skip-basebranch-check, Extra CI, backport-v7.0.x

#17520 DOC: add documentation on why astropy has tables
  docs/table/index.rst
  docs/table/pandas.rst
  docs/table/table_and_dataframes.rst
Labels: table, Docs, no-changelog-entry-needed, backport-v7.0.x

#17529 Change setting up temporary directories in `astropy` test runner
  astropy/tests/runner.py
Labels: testing, no-changelog-entry-needed, Extra CI, Build all wheels, backport-v7.0.x

#17532 Backport PR #17529 on branch v7.0.x (Change setting up temporary directories in `astropy` test runner)
  astropy/tests/runner.py
Labels: testing, no-changelog-entry-needed, Extra CI, Build all wheels, backport-v7.0.x

#17530 Backport PR #17520 on branch v7.0.x (DOC: add documentation on why astropy has tables)
  docs/table/index.rst
  docs/table/pandas.rst
  docs/table/table_and_dataframes.rst
Labels: table, Docs, no-changelog-entry-needed, backport-v7.0.x

#17474 BUG: fix importing from `astropy.visualization.wcsaxes.patches` under Python's optimized mode
  astropy/visualization/wcsaxes/patches.py
Labels: Bug, no-changelog-entry-needed, visualization.wcsaxes

#17514 Fix configuring `astropy` cache location
  astropy/config/paths.py
  astropy/config/tests/test_configs.py
  docs/changes/config/17514.bugfix.rst
Labels: config, Bug, backport-v7.0.x

#17522 refactor(cosmo): refactor separate baryon component
  astropy/cosmology/flrw/base.py
Labels: cosmology, Refactoring, no-changelog-entry-needed

#17537 Backport PR #17514 on branch v7.0.x (Fix configuring `astropy` cache location)
  astropy/config/paths.py
  astropy/config/tests/test_configs.py
  docs/changes/config/17514.bugfix.rst
Labels: config, Bug, backport-v7.0.x

#17535 MNT: bump OpenAstronomy's publish action (1.13.0 -> 1.15.0) (v7.0.x)
  .github/workflows/publish.yml
Labels: Release, Manual Backport, skip-changelog-checks, skip-basebranch-check, Build all wheels

#17534 MNT: bump OpenAstronomy's publish action (1.14.0 -> 1.15.0)
  .github/workflows/publish.yml
Labels: Release, no-changelog-entry-needed, Build all wheels

#17536 BUG: ensure cds.Angstrom and u.Angstrom have the same short name
  astropy/units/cds.py
  astropy/units/tests/test_format.py
  docs/changes/units/17536.bugfix.rst
Labels: Docs, units, Bug

#17521 Remove js code bundled with Astropy for DataTables
  .github/labeler.yml
  .pre-commit-config.yaml
  astropy/config/tests/test_configs.py
  astropy/extern/README.rst
  astropy/extern/jquery/__init__.py
  astropy/extern/jquery/data/css/jquery.dataTables.css
  astropy/extern/jquery/data/images/sort_asc.png
  astropy/extern/jquery/data/images/sort_asc_disabled.png
  astropy/extern/jquery/data/images/sort_both.png
  astropy/extern/jquery/data/images/sort_desc.png
  astropy/extern/jquery/data/images/sort_desc_disabled.png
  astropy/extern/jquery/data/js/jquery-3.6.0.js
  astropy/extern/jquery/data/js/jquery-3.6.0.min.js
  astropy/extern/jquery/data/js/jquery.dataTables.js
  astropy/extern/jquery/data/js/jquery.dataTables.min.js
  astropy/table/jsviewer.py
  astropy/table/table.py
  astropy/table/tests/test_jsviewer.py
  docs/changes/extern/17521.api.rst
Labels: testing, table, Docs, config, external, skip-changelog-checks, API change, dev-automation, backport-v7.0.x

#17539 fix(cosmo): remove unneeded import
  astropy/cosmology/realizations.py
Labels: cosmology, no-changelog-entry-needed

#15853 Cosmo: type annotate the optimization functions
  astropy/cosmology/funcs/optimize.py
  astropy/cosmology/units.py
Labels: cosmology, no-changelog-entry-needed, keep-open, typing

#17544 MAINT: remove duplicated calculation of number of points
  astropy/utils/masked/core.py
Labels: Refactoring, no-changelog-entry-needed, utils.masked

#17545 Backport PR #17544 on branch v7.0.x (MAINT: remove duplicated calculation of number of points)
  astropy/utils/masked/core.py
Labels: Bug, Refactoring, no-changelog-entry-needed, utils.masked

#17540 style(cosmo): group public submodules in __all__
  astropy/cosmology/__init__.py
Labels: cosmology, no-changelog-entry-needed

#17548 BUG: ensure `Config `classes' docstrings remain available at runtime for introspection (fix calling `ConfigNamespace.help` under Python's optimized mode)
  astropy/__init__.py
  astropy/config/configuration.py
  astropy/io/ascii/__init__.py
  astropy/io/fits/__init__.py
  astropy/io/votable/__init__.py
  astropy/io/votable/exceptions.py
  astropy/logger.py
  astropy/nddata/__init__.py
  astropy/samp/__init__.py
  astropy/table/__init__.py
  astropy/table/jsviewer.py
  astropy/time/__init__.py
  astropy/units/quantity.py
  astropy/utils/data.py
  astropy/utils/iers/iers.py
  astropy/visualization/wcsaxes/__init__.py
  docs/config/index.rst
Labels: io.votable, table, Docs, io.fits, config, time, io.ascii, nddata, units, Bug, utils, logging, samp, no-changelog-entry-needed, visualization.wcsaxes, utils.iers

#17551 DOC: Add dBW def_unit problem to known issues
  docs/known_issues.rst
Labels: Docs, units, no-changelog-entry-needed

#17546 Add more type annotations to `config`
  astropy/config/configuration.py
  astropy/config/paths.py
Labels: config, no-changelog-entry-needed, typing

#17549 BUG: fix astropy.utils.decorators compatibility with Python's optimized mode (`classproperty` and `format_doc`)
  astropy/utils/decorators.py
  astropy/utils/tests/test_decorators.py
Labels: Bug, utils, no-changelog-entry-needed, Extra CI

#17547 SEC: add zizmor pre-commit hook
  .pre-commit-config.yaml
Labels: testing, no-changelog-entry-needed, skip-changelog-checks, dev-automation

#17559 TST: avoid `NameError`s in a couple tests that couldn't be run in isolation
  astropy/io/registry/tests/test_registries.py
Labels: testing, Bug, io.registry, no-changelog-entry-needed, backport-v7.0.x

#17561 Backport PR #17559 on branch v7.0.x (TST: avoid `NameError`s in a couple tests that couldn't be run in isolation)
  astropy/io/registry/tests/test_registries.py
Labels: testing, Bug, io.registry, no-changelog-entry-needed, backport-v7.0.x

#17560 Ensure `cds.solMass` and `u.solMass` have the same string representation
  astropy/table/tests/test_showtable.py
  astropy/units/cds.py
  astropy/units/tests/test_format.py
  docs/changes/units/17560.bugfix.rst
Labels: table, units, Bug

#17568 Revert "BUG: ensure `Config `classes' docstrings remain available at runtime for introspection (fix calling `ConfigNamespace.help` under Python's optimized mode)"
  astropy/__init__.py
  astropy/io/ascii/__init__.py
  astropy/io/fits/__init__.py
  astropy/io/votable/__init__.py
  astropy/io/votable/exceptions.py
  astropy/logger.py
  astropy/nddata/__init__.py
  astropy/samp/__init__.py
  astropy/table/__init__.py
  astropy/table/jsviewer.py
  astropy/time/__init__.py
  astropy/units/quantity.py
  astropy/utils/data.py
  astropy/utils/iers/iers.py
  astropy/visualization/wcsaxes/__init__.py
  docs/config/index.rst
Labels: io.votable, table, Docs, io.fits, config, time, io.ascii, nddata, units, utils, logging, samp, no-changelog-entry-needed, visualization.wcsaxes, utils.iers

#17565 BUG: fix a crash where a string was prematurely converted to pathlib.Path in an internal heuristic function
  astropy/io/ascii/tests/test_read.py
  astropy/io/ascii/ui.py
  docs/changes/io.ascii/17565.bugfix.rst
Labels: io.ascii, Bug, backport-v7.0.x

#17569 Backport PR #17565 on branch v7.0.x (BUG: fix a crash where a string was prematurely converted to pathlib.Path in an internal heuristic function)
  astropy/io/ascii/tests/test_read.py
  astropy/io/ascii/ui.py
  docs/changes/io.ascii/17565.bugfix.rst
Labels: io.ascii, Bug, backport-v7.0.x

#17573 TST: skip a docstring-checking test under Python's optimized mode
  astropy/tests/tests/test_runner.py
Labels: testing, no-changelog-entry-needed

#17581 Add type annotations to `astropy/units/format/__init__.py`
  astropy/units/format/__init__.py
Labels: units, no-changelog-entry-needed, typing

#17527 Refactor validation in unit formatters
  astropy/units/core.py
  astropy/units/format/base.py
  astropy/units/format/generic.py
  astropy/units/format/ogip.py
  astropy/units/format/vounit.py
Labels: units, Refactoring, no-changelog-entry-needed

#17584 Remove an import loop from `units`
  astropy/units/core.py
  astropy/units/format/__init__.py
  astropy/units/format/base.py
  astropy/units/format/cds.py
  astropy/units/format/fits.py
  astropy/units/format/generic.py
  astropy/units/format/ogip.py
  astropy/units/format/vounit.py
Labels: units, Refactoring, no-changelog-entry-needed

#17579 refactor: ReadOnlyDict as MappingProxyType
  astropy/utils/data.py
Labels: utils, no-changelog-entry-needed

#17563 Remove three useless properties from `UnitBase`
  astropy/units/core.py
Labels: units, no-changelog-entry-needed

#17586 Deprecate multiplying and dividing units with `str` or `bytes`
  astropy/units/core.py
  astropy/units/tests/test_quantity.py
  astropy/units/tests/test_units.py
  docs/changes/units/17586.api.rst
Labels: units, API change
