Repository astropy/astropy, pull requests merged in 2025-07, with the labels that each got.

#18373 Import first party types at runtime in `coordinates`
  astropy/coordinates/angles/core.py
  astropy/coordinates/baseframe.py
  astropy/coordinates/builtin_frames/galactocentric.py
  astropy/coordinates/errors.py
  astropy/coordinates/polarization.py
  astropy/coordinates/sky_coordinate.py
  astropy/coordinates/tests/test_exceptions.py
Labels: coordinates, no-changelog-entry-needed, typing, backport-v7.1.x

#18376 Backport PR #18373 on branch v7.1.x (Import first party types at runtime in `coordinates`)
  astropy/coordinates/angles/core.py
  astropy/coordinates/baseframe.py
  astropy/coordinates/builtin_frames/galactocentric.py
  astropy/coordinates/errors.py
  astropy/coordinates/polarization.py
  astropy/coordinates/sky_coordinate.py
  astropy/coordinates/tests/test_exceptions.py
Labels: coordinates, no-changelog-entry-needed, typing, backport-v7.1.x

#18262 Add sphinx-lint as a pre-commit hook
  .pre-commit-config.yaml
  CHANGES.rst
  docs/convolution/index.rst
  docs/coordinates/index.rst
  docs/coordinates/representations.rst
  docs/development/docguide.rst
  docs/development/maintainers/releasing.rst
  docs/io/fits/appendix/header_transition.rst
  docs/io/fits/appendix/history.rst
  docs/io/unified_table.rst
  docs/io/unified_table_fits.rst
  docs/io/votable/mivot_blocks.rst
  docs/modeling/example-fitting-model-sets.rst
  docs/modeling/parameters.rst
  docs/modeling/physical_models.rst
  docs/nddata/covariance.rst
  docs/table/construct_table.rst
  docs/table/operations.rst
  docs/timeseries/lombscargle.rst
  docs/timeseries/lombscarglemb.rst
  docs/units/format.rst
  docs/units/logarithmic_units.rst
  docs/visualization/rgb.rst
  docs/wcs/relax.rst
  docs/wcs/wcsapi.rst
Labels: testing, Docs, no-changelog-entry-needed, dev-automation

#18380 Backport PR #18378 on branch v7.1.x (Update minimum required version of astropy-iers-data)
  pyproject.toml
Labels: no-changelog-entry-needed, utils.iers, backport-v7.1.x

#18358 style(cosmo): unstringify annotations
  astropy/cosmology/_src/core.py
  astropy/cosmology/_src/flrw/base.py
  astropy/cosmology/_src/io/builtin/cosmology.py
  astropy/cosmology/_src/io/builtin/ecsv.py
  astropy/cosmology/_src/io/builtin/html.py
  astropy/cosmology/_src/io/builtin/latex.py
  astropy/cosmology/_src/io/builtin/mapping.py
  astropy/cosmology/_src/io/builtin/model.py
  astropy/cosmology/_src/io/builtin/row.py
  astropy/cosmology/_src/io/builtin/table.py
  astropy/cosmology/_src/io/builtin/yaml.py
  astropy/cosmology/_src/io/connect.py
  astropy/cosmology/_src/parameter/converter.py
  astropy/cosmology/_src/parameter/core.py
  astropy/cosmology/_src/parameter/dataclass_utils.py
  astropy/cosmology/_src/parameter/descriptors.py
  astropy/cosmology/_src/tests/flrw/test_parameters.py
  astropy/cosmology/_src/tests/parameter/test_descriptors.py
  astropy/cosmology/_src/typing.py
  astropy/cosmology/_src/units_equivalencies.py
  astropy/cosmology/_src/utils.py
  astropy/cosmology/units.py
Labels: cosmology, no-changelog-entry-needed, typing, backport-v7.1.x

#17669 RFC: avoid metaclass usage in `Optimization` class hierarchy
  astropy/modeling/optimizers.py
  astropy/modeling/tests/test_fitters.py
Labels: modeling, Refactoring, no-changelog-entry-needed

#17874 RFC: Introduce pending deprecation warning of test runner
  astropy/__init__.py
  astropy/conftest.py
  astropy/tests/runner.py
  astropy/tests/tests/test_run_tests.py
  astropy/tests/tests/test_runner.py
  docs/changes/tests/17874.api.rst
  docs/development/maintainers/testhelpers.rst
  docs/development/testguide.rst
Labels: testing, Ready-for-final-review, API change, Extra CI, Build all wheels

#18249 RFC: restrict `utils.xml`'s extension modules to CPython's Limited API
  .github/workflows/ci_workflows.yml
  astropy/utils/xml/src/iterparse.c
Labels: testing, utils, Windows, build, Refactoring, no-changelog-entry-needed, Limited API

#18313 Fix bug in LaTeX label simplification in WCSAxes
  astropy/visualization/wcsaxes/tests/test_misc.py
  astropy/visualization/wcsaxes/ticklabels.py
  docs/changes/visualization/18313.bugfix.rst
Labels: Bug, Ready-for-final-review, visualization.wcsaxes

#18347 ci(ruff): change to from select-all+ignore to select+ignore list
  .pre-commit-config.yaml
  .ruff.toml
  astropy/table/soco.py
  pyproject.toml
Labels: testing, table, installation, samp, no-changelog-entry-needed, skip-changelog-checks, dev-automation

#18261 RFC: restrict `cosmology` extension modules to CPython's Limited API
  .github/workflows/ci_workflows.yml
  astropy/cosmology/_src/signature_deprecations.c
Labels: testing, cosmology, build, Refactoring, no-changelog-entry-needed, Limited API

#18394 Fixed broken world->pixel on a sliced 1D WCS
  astropy/wcs/wcsapi/wrappers/sliced_wcs.py
  astropy/wcs/wcsapi/wrappers/tests/test_sliced_wcs.py
  docs/changes/wcs/18394.bugfix.rst
Labels: Bug, wcs.wcsapi, backport-v7.1.x

#18393 Speed up `astropy.stats.histogram_intervals()`
  astropy/stats/funcs.py
Labels: stats, Performance, no-changelog-entry-needed

#18414 Backport PR #18406 on branch v7.1.x (Avoid stringified type annotations in `time`)
  astropy/time/core.py
Labels: time, no-changelog-entry-needed, typing, backport-v7.1.x

#18415 Move the implementation of `online_help()`
  astropy/__init__.py
  astropy/utils/misc.py
Labels: utils, Refactoring, no-changelog-entry-needed

#18231 RFC: restrict `wcs` extension modules to CPython's limited API
  .github/workflows/ci_workflows.yml
  astropy/time/src/parse_times.c
  astropy/wcs/include/astropy_wcs/distortion_wrap.h
  astropy/wcs/include/astropy_wcs/sip_wrap.h
  astropy/wcs/include/astropy_wcs/wcslib_auxprm_wrap.h
  astropy/wcs/include/astropy_wcs/wcslib_celprm_wrap.h
  astropy/wcs/include/astropy_wcs/wcslib_prjprm_wrap.h
  astropy/wcs/include/astropy_wcs/wcslib_tabprm_wrap.h
  astropy/wcs/include/astropy_wcs/wcslib_wrap.h
  astropy/wcs/include/astropy_wcs/wcslib_wtbarr_wrap.h
  astropy/wcs/src/astropy_wcs.c
  astropy/wcs/src/distortion_wrap.c
  astropy/wcs/src/pyutil.c
  astropy/wcs/src/sip_wrap.c
  astropy/wcs/src/str_list_proxy.c
  astropy/wcs/src/unit_list_proxy.c
  astropy/wcs/src/wcslib_auxprm_wrap.c
  astropy/wcs/src/wcslib_celprm_wrap.c
  astropy/wcs/src/wcslib_prjprm_wrap.c
  astropy/wcs/src/wcslib_tabprm_wrap.c
  astropy/wcs/src/wcslib_wrap.c
  astropy/wcs/src/wcslib_wtbarr_wrap.c
Labels: wcs, build, Refactoring, no-changelog-entry-needed, Extra CI, benchmark, Limited API

#18350 Fix bug in Wcs.wcs.print_contents() related to stdout buffer not bein…
  astropy/wcs/src/wcslib_wrap.c
  astropy/wcs/tests/test_wcsprm.py
  docs/changes/wcs/18350.bugfix.rst
Labels: wcs, Bug, backport-v7.1.x

#18420 WHL: build and distribute stable-ABI-compliant wheels
  .github/workflows/ci_workflows.yml
  .github/workflows/publish.yml
  astropy/time/src/parse_times.c
  astropy/utils/xml/src/iterparse.c
  astropy/wcs/src/astropy_wcs.c
  astropy/wcs/src/distortion_wrap.c
  astropy/wcs/src/str_list_proxy.c
  astropy/wcs/src/unit_list_proxy.c
  astropy/wcs/src/wcslib_auxprm_wrap.c
  astropy/wcs/src/wcslib_celprm_wrap.c
  astropy/wcs/src/wcslib_prjprm_wrap.c
  pyproject.toml
Labels: Release, no-changelog-entry-needed, Build all wheels, Python 3.14, Limited API

#18423 Backport PR #18350 on branch v7.1.x (Fix bug in Wcs.wcs.print_contents() related to stdout buffer not bein…)
  astropy/wcs/src/wcslib_wrap.c
  astropy/wcs/tests/test_wcsprm.py
  docs/changes/wcs/18350.bugfix.rst
Labels: wcs, Bug, backport-v7.1.x

#18424 FIX: Issue 15397
  astropy/nddata/mixins/ndarithmetic.py
  astropy/nddata/mixins/tests/test_ndarithmetic.py
  docs/changes/nddata/18424.bugfix.rst
Labels: nddata

#18417 Fixed bugs with WCS slicing,
  astropy/wcs/tests/test_utils.py
  astropy/wcs/wcs.py
  docs/changes/wcs/18417.bugfix.rst
Labels: wcs, Bug, Extra CI, backport-v7.1.x

#18428 Backport PR #18419 on branch v7.1.x (Fix _naxis dimensionality)
  astropy/wcs/wcs.py
  astropy/wcs/wcsapi/fitswcs.py
  docs/changes/wcs/18419.bugfix.rst
Labels: wcs, Bug, needs-downstream-testing, backport-v7.1.x

#18431 Backport PR #18424 on branch v7.1.x (FIX: Issue 15397)
  astropy/nddata/mixins/ndarithmetic.py
  astropy/nddata/mixins/tests/test_ndarithmetic.py
  docs/changes/nddata/18424.bugfix.rst
Labels: nddata, Bug, backport-v7.1.x

#18430 Backport PR #18417 on branch v7.1.x (Fixed bugs with WCS slicing, )
  astropy/wcs/tests/test_utils.py
  astropy/wcs/wcs.py
  docs/changes/wcs/18417.bugfix.rst
Labels: wcs, Bug, Extra CI, backport-v7.1.x

#18432 Backport PR #18405 on branch v7.1.x (Add a test for the reporting of the shape of a 1D WCS)
  astropy/wcs/tests/test_wcs.py
Labels: testing, wcs, no-changelog-entry-needed, backport-v7.1.x

#18434 Ensure Python files without a shebang are not executable
  .ruff.toml
  astropy/io/votable/setup_package.py
  astropy/wcs/tests/test_celprm.py
  astropy/wcs/tests/test_prjprm.py
  astropy/wcs/tests/test_tabprm.py
Labels: testing, io.votable, wcs, no-changelog-entry-needed, dev-automation, backport-v7.1.x

#18437 Backport PR #18434 on branch v7.1.x (Ensure Python files without a shebang are not executable)
  .ruff.toml
  astropy/io/votable/setup_package.py
  astropy/wcs/tests/test_celprm.py
  astropy/wcs/tests/test_prjprm.py
  astropy/wcs/tests/test_tabprm.py
Labels: testing, io.votable, wcs, no-changelog-entry-needed, dev-automation, backport-v7.1.x

#18324 Emit warning if axes given to set_*_position are invalid
  astropy/visualization/wcsaxes/_auto.py
  astropy/visualization/wcsaxes/axislabels.py
  astropy/visualization/wcsaxes/frame.py
  astropy/visualization/wcsaxes/tests/test_coordinate_helpers.py
  astropy/visualization/wcsaxes/tests/test_misc.py
  astropy/visualization/wcsaxes/ticklabels.py
  astropy/visualization/wcsaxes/ticks.py
  docs/changes/visualization/18324.api.rst
Labels: Ready-for-final-review, visualization.wcsaxes

#18366 Try to improve version checks in VOTable
  astropy/io/votable/exceptions.py
  astropy/io/votable/tests/data/test.order.xml
  astropy/io/votable/tests/test_tree.py
  astropy/io/votable/tree.py
  docs/changes/io.votable/18366.api.rst
  docs/changes/io.votable/18366.feature.rst
Labels: io.votable, Bug

#18447 Dark Energy Component Trait Class
  astropy/cosmology/_src/flrw/base.py
  astropy/cosmology/_src/traits/__init__.py
  astropy/cosmology/_src/traits/darkenergy.py
  astropy/cosmology/traits.py
  docs/changes/cosmology/18447.feature.rst
  docs/cosmology/traits.rst
  docs/whatsnew/7.2.rst
Labels: cosmology

#18446 Speed up `utils.diff.diff_values()`
  astropy/utils/diff.py
  astropy/utils/tests/test_diff.py
Labels: utils, Performance, no-changelog-entry-needed, Extra CI, benchmark

#18460 TST: remove macOS + x86_64 combo from weekly cron
  .github/workflows/ci_cron_weekly.yml
Labels: testing, Mac OSX, no-changelog-entry-needed, backport-v7.1.x

#18461 Backport PR #18139 on `v7.1.x` (TST: improve `ArrayWrapper` roundtrips (preserve dtype byteorder))
  astropy/table/table_helpers.py
  astropy/table/tests/test_mixin.py
  astropy/tests/helper.py
  docs/changes/table/18139.bugfix.rst
Labels: testing, table, Docs, Bug, cosmology, Manual Backport, skip-changelog-checks, skip-basebranch-check, Extra CI, Python 3.14

#18464 Remove unused `ErfaAstromInterpolator._get_c2i()`
  astropy/coordinates/erfa_astrom.py
Labels: coordinates, no-changelog-entry-needed

#18457 WHL: test wheels against CPython 3.14 (GIL-enabled)
  pyproject.toml
Labels: installation, no-changelog-entry-needed, Build all wheels, Python 3.14

#18472 Backport PR #16411 on branch v7.1.x (Avoid calling wcsset if the wcsprm is unchanged)
  astropy/wcs/src/wcslib_wrap.c
  astropy/wcs/tests/test_wcs.py
  docs/changes/wcs/16411.bugfix.rst
Labels: wcs, Manual Backport, skip-changelog-checks, skip-basebranch-check
