Repository astropy/astropy, pull requests merged in 2025-06, with the labels that each got.

#18200 Backport PR #18188 on branch v7.1.x (Fix aggregate_downsample performance regression non-default `aggregate_func `)
  astropy/timeseries/downsample.py
  astropy/timeseries/tests/test_downsample.py
  docs/changes/timeseries/18188.bugfix.rst
Labels: Bug, Performance, timeseries, benchmark, backport-v7.1.x

#18202 Backport PR #18199 on branch v7.1.x (Update minimum required version of astropy-iers-data)
  pyproject.toml
Labels: no-changelog-entry-needed, utils.iers, backport-v7.1.x

#18197 Removing itertools from test_fits compressed
  astropy/io/fits/hdu/compressed/tests/test_compressed.py
Labels: testing, io.fits, Refactoring, no-changelog-entry-needed

#18196 Updating test_kernel_class.py to avoid itertools
  astropy/convolution/tests/test_discretize.py
  astropy/convolution/tests/test_kernel_class.py
Labels: testing, convolution, Refactoring, no-changelog-entry-needed

#18207 Backport PR #18204 on branch v7.1.x (Stopped the warning when importing an installation from source)
  astropy/_dev/scm_version.py
Labels: Bug, installation, no-changelog-entry-needed, backport-v7.1.x

#18195 Updating the test_polynomial to not use itertools
  astropy/modeling/tests/test_polynomial.py
Labels: testing, modeling, Refactoring, no-changelog-entry-needed

#18215 Fix missing space in error message
  astropy/visualization/wcsaxes/axislabels.py
Labels: Bug, no-changelog-entry-needed, visualization.wcsaxes

#18209 Remove itertools.product parameterization from test_convolve_kernals.py
  astropy/convolution/tests/test_convolve_kernels.py
Labels: testing, convolution, Refactoring, no-changelog-entry-needed

#18205 Make interpret_bit_flags strip whitespace from flag names
  astropy/nddata/bitmask.py
  astropy/nddata/tests/test_bitmask.py
  docs/changes/nddata/18205.feature.rst
Labels: nddata

#18217 TST: add a job for free-threading CPython 3.13 to weekly cron
  .github/workflows/ci_cron_weekly.yml
  tox.ini
Labels: testing, no-changelog-entry-needed, Extra CI, free-threading

#18222 Fixed pathing to base directory for setuptools-scm
  astropy/_dev/scm_version.py
Labels: Bug, installation, no-changelog-entry-needed, backport-v7.1.x

#18223 Backport PR #18222 on branch v7.1.x (Fixed pathing to base directory for setuptools-scm)
  astropy/_dev/scm_version.py
Labels: Bug, installation, no-changelog-entry-needed, backport-v7.1.x

#18225 Backport PR #18191 on branch v7.1.x (Import standard library types at runtime)
  astropy/config/configuration.py
  astropy/config/paths.py
  astropy/coordinates/baseframe.py
  astropy/coordinates/sky_coordinate.py
  astropy/cosmology/_src/core.py
  astropy/cosmology/_src/default.py
  astropy/cosmology/_src/flrw/base.py
  astropy/cosmology/_src/funcs/comparison.py
  astropy/cosmology/_src/funcs/optimize.py
  astropy/cosmology/_src/io/builtin/ecsv.py
  astropy/cosmology/_src/io/builtin/row.py
  astropy/cosmology/_src/io/builtin/table.py
  astropy/cosmology/_src/io/builtin/yaml.py
  astropy/cosmology/_src/io/connect.py
  astropy/cosmology/_src/parameter/core.py
  astropy/cosmology/_src/tests/flrw/conftest.py
  astropy/cosmology/_src/tests/flrw/test_parameters.py
  astropy/cosmology/_src/units_equivalencies.py
  astropy/io/ascii/core.py
  astropy/io/ascii/latex.py
  astropy/io/typing.py
  astropy/modeling/bounding_box.py
  astropy/modeling/utils.py
  astropy/stats/bayesian_blocks.py
  astropy/stats/biweight.py
  astropy/stats/funcs.py
  astropy/stats/histogram.py
  astropy/stats/jackknife.py
  astropy/stats/nanfunctions.py
  astropy/stats/sigma_clipping.py
  astropy/stats/spatial.py
  astropy/units/core.py
  astropy/units/equivalencies.py
  astropy/units/format/base.py
  astropy/units/format/cds.py
  astropy/units/format/console.py
  astropy/units/format/fits.py
  astropy/units/format/generic.py
  astropy/units/format/latex.py
  astropy/units/format/ogip.py
  astropy/units/format/unicode_format.py
  astropy/units/format/utils.py
  astropy/units/format/vounit.py
  astropy/units/function/core.py
  astropy/units/physical.py
  astropy/units/quantity.py
  astropy/units/structured.py
  astropy/units/tests/test_format.py
  astropy/units/tests/test_quantity_non_ufuncs.py
  astropy/units/tests/test_quantity_ufuncs.py
  astropy/units/typing.py
  astropy/units/utils.py
  astropy/utils/iers/iers.py
  astropy/utils/introspection.py
  astropy/utils/misc.py
  astropy/utils/parsing.py
  astropy/utils/shapes.py
  docs/nitpick-exceptions
  pyproject.toml
Labels: testing, Docs, config, io.ascii, units, coordinates, modeling, cosmology, utils, installation, stats, io.registry, no-changelog-entry-needed, utils.iers, skip-basebranch-check, typing, backport-v7.1.x

#18151 ENH: enable color and suggestion-on-typos in all `argparse` CLIs with CPython >= 3.14
  astropy/io/fits/scripts/fitscheck.py
  astropy/io/fits/scripts/fitsdiff.py
  astropy/io/fits/scripts/fitsheader.py
  astropy/io/fits/scripts/fitsinfo.py
  astropy/io/votable/volint.py
  astropy/samp/hub_script.py
  astropy/table/scripts/showtable.py
  astropy/visualization/scripts/fits2bitmap.py
  astropy/wcs/wcslint.py
  docs/changes/io.fits/18151.feature.rst
  docs/changes/io.votable/18151.feature.rst
  docs/changes/samp/18151.feature.rst
  docs/changes/table/18151.feature.rst
  docs/changes/visualization/18151.feature.rst
  docs/changes/wcs/18151.feature.rst
Labels: io.votable, wcs, table, io.fits, samp, Enhancement, visualization, Python 3.14

#18244 Backport PR #18241 on branch v7.1.x (Remove empty legends from SqrtStretch and SquaredStretch example plots)
  astropy/visualization/stretch.py
Labels: Docs, Bug, visualization, no-changelog-entry-needed, backport-v7.1.x

#18239 DOC: Add rename_columns example
  docs/table/modify_table.rst
Labels: table, Docs, no-changelog-entry-needed, backport-v7.1.x

#18250 Run limited API build on Mac in addition to Linux
  .github/workflows/ci_workflows.yml
  astropy/stats/src/fast_sigma_clip.c
Labels: testing, no-changelog-entry-needed, Limited API

#18251 Backport PR #18239 on branch v7.1.x (DOC: Add rename_columns example)
  docs/table/modify_table.rst
Labels: table, Docs, no-changelog-entry-needed, backport-v7.1.x

#18263 Update `jplephem` requirement to >=2.15
  astropy/coordinates/tests/test_intermediate_transformations.py
  pyproject.toml
Labels: testing, coordinates, installation, no-changelog-entry-needed

#18253 BLD: fix building from source on Windows from the top of the repository
  .ruff.toml
  astropy/convolution/setup_package.py
  astropy/stats/setup_package.py
  astropy/time/setup_package.py
  astropy/timeseries/periodograms/bls/setup_package.py
  astropy/timeseries/periodograms/lombscargle/setup_package.py
  docs/changes/18253.other.rst
Labels: time, Bug, stats, convolution, Windows, build, timeseries, Extra CI, Build all wheels, backport-v7.1.x

#18252 TST: also test building against Limited API on Windows
  .github/workflows/ci_workflows.yml
Labels: testing, Windows, build, no-changelog-entry-needed, Limited API

#18265 BUG: ensure time parser works with numpy 2.3.0
  astropy/time/src/parse_times.c
  astropy/time/tests/test_fast_parser.py
  docs/changes/time/18265.bugfix.rst
Labels: time, Bug, backport-v7.1.x

#18270 Backport PR #18265 on branch v7.1.x (BUG: ensure time parser works with numpy 2.3.0)
  astropy/time/src/parse_times.c
  astropy/time/tests/test_fast_parser.py
  docs/changes/time/18265.bugfix.rst
Labels: time, Bug, backport-v7.1.x

#18268 Remove a useless constant from `modeling` tests
  astropy/modeling/tests/test_constraints.py
Labels: testing, modeling, no-changelog-entry-needed

#18269 Docs: Missing ``meta`` added to Mixin-attributes
  docs/table/mixin_columns.rst
Labels: table, Docs, no-changelog-entry-needed, backport-v7.1.x

#18255 Update Unicode guidelines
  astropy/tests/helper.py
  docs/development/codeguide.rst
Labels: testing, Docs, no-changelog-entry-needed

#18285 CLN: drop unused `noqa: RUF009` in `cosmology`
  astropy/cosmology/_src/core.py
  astropy/cosmology/_src/flrw/base.py
  astropy/cosmology/_src/flrw/w0cdm.py
  astropy/cosmology/_src/flrw/w0wacdm.py
  astropy/cosmology/_src/flrw/w0wzcdm.py
  astropy/cosmology/_src/flrw/wpwazpcdm.py
Labels: cosmology, Refactoring, no-changelog-entry-needed

#18286 CLN: drop unused `noqa` comments in `units`
  astropy/units/photometric.py
  astropy/units/tests/test_quantity_annotations.py
Labels: units, Refactoring, no-changelog-entry-needed

#18228 Import third party types at runtime
  astropy/cosmology/_src/funcs/optimize.py
  astropy/cosmology/_src/io/builtin/yaml.py
  astropy/cosmology/_src/tests/test_core.py
  astropy/io/misc/pyarrow/csv.py
  astropy/modeling/utils.py
  astropy/stats/bayesian_blocks.py
  astropy/stats/biweight.py
  astropy/stats/circstats.py
  astropy/stats/funcs.py
  astropy/stats/histogram.py
  astropy/stats/jackknife.py
  astropy/stats/nanfunctions.py
  astropy/stats/sigma_clipping.py
  astropy/stats/spatial.py
  astropy/units/format/base.py
  astropy/units/format/generic.py
  astropy/units/format/ogip.py
  astropy/units/format/vounit.py
  astropy/utils/shapes.py
  pyproject.toml
Labels: Docs, units, modeling, cosmology, utils, io.misc, installation, stats, no-changelog-entry-needed, typing, backport-v7.1.x

#18288 RFC: avoid 14 violations of lint rule `PLR01733` with a simpler, manual refactor
  astropy/utils/metadata/merge.py
Labels: utils, Refactoring, no-changelog-entry-needed

#18303 Backport PR #18228 on branch v7.1.x (Import third party types at runtime)
  astropy/cosmology/_src/funcs/optimize.py
  astropy/cosmology/_src/io/builtin/yaml.py
  astropy/cosmology/_src/tests/test_core.py
  astropy/io/misc/pyarrow/csv.py
  astropy/modeling/utils.py
  astropy/stats/bayesian_blocks.py
  astropy/stats/biweight.py
  astropy/stats/circstats.py
  astropy/stats/funcs.py
  astropy/stats/histogram.py
  astropy/stats/jackknife.py
  astropy/stats/nanfunctions.py
  astropy/stats/sigma_clipping.py
  astropy/stats/spatial.py
  astropy/units/format/base.py
  astropy/units/format/generic.py
  astropy/units/format/ogip.py
  astropy/units/format/vounit.py
  astropy/utils/shapes.py
  pyproject.toml
Labels: Docs, units, modeling, cosmology, utils, io.misc, installation, stats, no-changelog-entry-needed, typing, backport-v7.1.x

#18220 Replace `lazyproperty` with `functools.cached_property` in `coordinates`
  astropy/coordinates/baseframe.py
  astropy/coordinates/transformations/graph.py
Labels: coordinates, Refactoring, no-changelog-entry-needed

#18310 Backport PR #18293 on branch v7.1.x (Restrict maximum version of array_strict_api on python 3.11)
  pyproject.toml
  tox.ini
Labels: testing, units, no-changelog-entry-needed, Extra CI, Python 3.11, backport-v7.1.x

#18316 TST: avoid default values in test functions (`PT028`) in `visualization`
  astropy/visualization/tests/test_histogram.py
Labels: visualization, Refactoring, no-changelog-entry-needed

#18315 TST: avoid default values in a test function (`PT028`) in `wcs`
  astropy/wcs/tests/test_wcs.py
Labels: wcs, Refactoring, no-changelog-entry-needed

#18309 Backport PR #18308 on branch v7.1.x (Import first party types at runtime in `utils`)
  astropy/utils/parsing.py
Labels: utils, no-changelog-entry-needed, typing, backport-v7.1.x

#18328 Backport PR #18327 on branch v7.1.x (Fix WCSAxes.get_transform() for 1D plots)
  astropy/tests/figures/py311-test-image-mpl360-cov.json
  astropy/tests/figures/py311-test-image-mpldev-cov.json
  astropy/visualization/wcsaxes/tests/test_images.py
  astropy/visualization/wcsaxes/wcsapi.py
  docs/changes/visualization/18327.bugfix.rst
Labels: Bug, visualization.wcsaxes, backport-v7.1.x

#18331 TST: simplify `jplephem` test case for newer versions
  astropy/coordinates/tests/test_solar_system.py
  pyproject.toml
Labels: testing, Bug, coordinates, no-changelog-entry-needed, Extra CI, backport-v7.1.x

#18340 Backport PR #18337 on branch v7.1.x (TST: adapt a test to Python 3.14)
  astropy/io/fits/tests/test_hdulist.py
Labels: testing, io.fits, Windows, no-changelog-entry-needed, Python 3.14, backport-v7.1.x

#18306 RFC: auto-fix unique violation of lint rule `FURB122` in `samp`
  astropy/samp/lockfile_helpers.py
Labels: samp, Refactoring, no-changelog-entry-needed

#18354 Run more tests in `stats` without `scipy`
  astropy/stats/tests/test_funcs.py
  astropy/stats/tests/test_sigma_clipping.py
Labels: testing, Bug, stats, no-changelog-entry-needed, backport-v7.1.x

#18355 Backport PR #18354 on branch v7.1.x (Run more tests in `stats` without `scipy`)
  astropy/stats/tests/test_funcs.py
  astropy/stats/tests/test_sigma_clipping.py
Labels: testing, Bug, stats, no-changelog-entry-needed, backport-v7.1.x

#18335 Backport PR #18331 on branch v7.1.x (TST: simplify `jplephem` test case for newer versions)
  astropy/coordinates/tests/test_solar_system.py
  pyproject.toml
Labels: testing, Bug, coordinates, installation, no-changelog-entry-needed, Manual Backport, skip-basebranch-check

#18352 Fix bug in ``WCS.pixel_to_world`` for spectral WCS where ``restwav`` or ``restfrq`` was not defined
  astropy/wcs/wcsapi/fitswcs.py
  astropy/wcs/wcsapi/tests/test_fitswcs.py
  docs/changes/wcs/18352.bugfix.rst
Labels: wcs, Bug, wcs.wcsapi, backport-v7.1.x

#18361 Backport PR #18352 on branch v7.1.x (Fix bug in ``WCS.pixel_to_world`` for spectral WCS where ``restwav`` or ``restfrq`` was not defined)
  astropy/wcs/wcsapi/fitswcs.py
  astropy/wcs/wcsapi/tests/test_fitswcs.py
  docs/changes/wcs/18352.bugfix.rst
Labels: wcs, Bug, wcs.wcsapi, backport-v7.1.x

#18371 Backport PR #18368 on branch v7.1.x (DOC: linkcheck to ignore hst-docs.stsci.edu)
  docs/conf.py
Labels: Docs, no-changelog-entry-needed, Extra CI, backport-v7.1.x
