Repository astropy/astropy, pull requests merged in 2025-02, with the labels that each got.

#17700 TST: fix 32-bit portability issue in a table doctest
  astropy/table/row.py
Labels: testing, table, Bug, no-changelog-entry-needed, backport-v7.0.x

#17709 Backport PR #17700 on branch v7.0.x (TST: fix 32-bit portability issue in a table doctest)
  astropy/table/row.py
Labels: testing, table, Bug, no-changelog-entry-needed, backport-v7.0.x

#17711 TST: Pin bs4 in oldestdeps
  tox.ini
Labels: testing, no-changelog-entry-needed, backport-v7.0.x

#17712 Backport PR #17707 on branch v7.0.x (Update minimum required version of astropy-iers-data)
  pyproject.toml
Labels: no-changelog-entry-needed, utils.iers, backport-v7.0.x

#17714 Backport PR #17711 on branch v7.0.x (TST: Pin bs4 in oldestdeps)
  tox.ini
Labels: testing, no-changelog-entry-needed, backport-v7.0.x

#17713 Backport PR #17704 on branch v7.0.x (Bump the actions group in /.github/workflows with 5 updates)
  .github/workflows/ci_benchmark.yml
  .github/workflows/ci_cron_daily.yml
  .github/workflows/ci_cron_weekly.yml
  .github/workflows/ci_workflows.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish.yml
  .github/workflows/update_astropy_iers_data_pin.yml
Labels: testing, Release, no-changelog-entry-needed, Manual Backport, utils.iers, dev-automation, skip-basebranch-check, Extra CI, Build all wheels

#17705 BUG: fix writing table to a file object as fits
  astropy/io/fits/connect.py
  astropy/io/fits/tests/test_connect.py
Labels: io.fits, Bug, unified-io, Affects-dev, no-changelog-entry-needed, benchmark, backport-v7.0.x

#17722 Backport PR #17705 on branch v7.0.x (BUG: fix writing table to a file object as fits)
  astropy/io/fits/connect.py
  astropy/io/fits/tests/test_connect.py
Labels: io.fits, Bug, unified-io, Affects-dev, no-changelog-entry-needed, benchmark, backport-v7.0.x

#17682 TST: require `pytest-doctestplus` 1.0.0 or newer
  pyproject.toml
Labels: testing, installation, Affects-dev, no-changelog-entry-needed, Extra CI

#17723 MNT: upgrade sp-repo-review (`v2024.08.19` -> `v2025.01.22`)
  .pre-commit-config.yaml
  pyproject.toml
Labels: testing, installation, no-changelog-entry-needed, skip-changelog-checks, dev-automation

#17721 MNT: upgrade zizmor (`v1.0.0` -> `v1.3.0`)
  .github/workflows/CFF-test.yml
  .github/workflows/check_changelog.yml
  .github/workflows/check_milestone.yml
  .github/workflows/ci_cron_weekly.yml
  .github/workflows/ci_workflows.yml
  .github/workflows/open_actions.yml
  .github/workflows/stalebot.yml
  .pre-commit-config.yaml
Labels: testing, no-changelog-entry-needed, skip-changelog-checks, dev-automation, backport-v7.0.x

#17724 Backport PR #17721 on branch v7.0.x (MNT: upgrade zizmor (v1.0.0 -> v1.3.0))
  .github/workflows/CFF-test.yml
  .github/workflows/check_changelog.yml
  .github/workflows/check_milestone.yml
  .github/workflows/ci_cron_weekly.yml
  .github/workflows/ci_workflows.yml
  .github/workflows/open_actions.yml
  .github/workflows/stalebot.yml
Labels: testing, no-changelog-entry-needed, Manual Backport, dev-automation, skip-basebranch-check, Extra CI

#17282 TST: Localize ignores for ResourceWarning for socket and SSL
  astropy/samp/tests/test_client.py
  astropy/utils/tests/test_data.py
  pyproject.toml
Labels: testing, installation, no-changelog-entry-needed, Extra CI, Build all wheels

#17726 Use native aarch runner for wheels
  .github/workflows/publish.yml
  pyproject.toml
Labels: Release, installation, no-changelog-entry-needed, Build all wheels, backport-v7.0.x

#17728 Backport PR #17726 on branch v7.0.x (Use native aarch runner for wheels)
  .github/workflows/publish.yml
  pyproject.toml
Labels: Release, installation, no-changelog-entry-needed, Manual Backport, skip-basebranch-check, Build all wheels

#17717 BUG: Table can be created empty with some empty inputs to rows or data
  astropy/table/table.py
  astropy/table/tests/test_table.py
  docs/changes/table/17717.bugfix.rst
Labels: table, Bug, benchmark

#16963 TST: have `oldestdeps` trully pin every direct dependency using `uv`'s `--resolution=lowest-direct`
  pyproject.toml
  tox.ini
Labels: testing, installation, no-changelog-entry-needed

#17720 MNT: upgrade codespell (`v2.3.0` -> `v2.4.1`)
  .pre-commit-config.yaml
  astropy/coordinates/baseframe.py
  astropy/coordinates/tests/test_api_ape5.py
  astropy/io/fits/connect.py
  astropy/io/fits/tests/test_header.py
  astropy/io/fits/tests/test_table.py
  astropy/samp/integrated_client.py
  astropy/uncertainty/distributions.py
  astropy/visualization/wcsaxes/coordinates_map.py
  pyproject.toml
Labels: testing, io.fits, units, coordinates, unified-io, samp, no-changelog-entry-needed, visualization.wcsaxes, wcs.wcsapi, uncertainty, dev-automation, utils.masked

#17735 v7.0.1 changelog
  CHANGES.rst
  docs/changes/17480.other.rst
  docs/changes/config/17514.bugfix.rst
  docs/changes/coordinates/17693.bugfix.rst
  docs/changes/io.ascii/17565.bugfix.rst
  docs/changes/io.ascii/17624.bugfix.rst
  docs/changes/io.fits/16143.bugfix.rst
  docs/changes/io.fits/17328.bugfix.rst
  docs/changes/io.fits/17458.bugfix.rst
  docs/changes/io.fits/17552.bugfix.rst
  docs/changes/io.votable/17356.bugfix.rst
  docs/changes/modeling/17618.bugfix.rst
  docs/changes/table/17381.bugfix.rst
  docs/changes/table/17480.api.rst
  docs/changes/table/17513.bugfix.rst
  docs/changes/table/17677.bugfix.rst
  docs/changes/units/17469.bugfix.rst
  docs/changes/units/17692.bugfix.rst
  docs/changes/visualization/17444.bugfix.rst
  docs/changes/visualization/17531.bugfix.rst
Labels: table, config, units, coordinates, modeling, visualization, skip-changelog-checks, skip-basebranch-check, Build all wheels

#17732 TST: Do not use astropy.test() in double run
  tox.ini
Labels: testing, no-changelog-entry-needed, backport-v7.0.x

#17351 BUG: make `TimeSeries.from_pandas` and `BinnedTimeSeries.read` more robust to subclassing
  astropy/timeseries/binned.py
  astropy/timeseries/sampled.py
  docs/changes/timeseries/17351.bugfix.rst
Labels: Bug, timeseries, backport-v7.0.x

#17737 Fix setting slice on FITS_record
  astropy/io/fits/fitsrec.py
  astropy/io/fits/tests/test_table.py
  docs/changes/io.fits/17737.bugfix.rst
Labels: io.fits, Bug, backport-v7.0.x

#17739 Backport PR #17732 on branch v7.0.x (TST: Do not use astropy.test() in double run)
  tox.ini
Labels: testing, no-changelog-entry-needed, backport-v7.0.x

#17741 Backport PR #17737 on branch v7.0.x (Fix setting slice on FITS_record)
  astropy/io/fits/fitsrec.py
  astropy/io/fits/tests/test_table.py
  docs/changes/io.fits/17737.bugfix.rst
Labels: io.fits, Bug, backport-v7.0.x

#17742 BUG: treatment of some units in erfa.apio
  astropy/units/quantity_helper/erfa.py
  astropy/units/tests/test_quantity_erfa_ufuncs.py
  docs/changes/units/17742.bugfix.rst
Labels: units, Bug, backport-v7.0.x

#17744 Backport PR #17742 on branch v7.0.x (BUG: treatment of some units in erfa.apio)
  astropy/units/quantity_helper/erfa.py
  astropy/units/tests/test_quantity_erfa_ufuncs.py
  docs/changes/units/17742.bugfix.rst
Labels: units, Bug, backport-v7.0.x

#17725 Remove "indx" from `codespell` ignore list
  astropy/io/fits/column.py
  astropy/io/fits/diff.py
  astropy/io/fits/fitsrec.py
  astropy/io/fits/hdu/groups.py
  astropy/io/fits/hdu/image.py
  astropy/units/quantity.py
  astropy/utils/masked/core.py
  astropy/utils/masked/tests/test_function_helpers.py
  astropy/wcs/wcsapi/high_level_api.py
  pyproject.toml
Labels: io.fits, units, no-changelog-entry-needed, skip-changelog-checks, wcs.wcsapi, dev-automation, utils.masked

#17747 Ensure doctests do not have side effects
  docs/io/ascii/read.rst
  docs/time/index.rst
  docs/units/combining_and_defining.rst
  docs/units/standard_units.rst
  docs/utils/iers.rst
  tox.ini
Labels: testing, Docs, time, io.ascii, units, no-changelog-entry-needed, utils.iers

#17752 BUG: avoid test pollution in `astropy.modeling`
  astropy/modeling/tests/test_input.py
Labels: testing, Bug, modeling, no-changelog-entry-needed, backport-v7.0.x

#17673 samp_hub command line: infer valid --log-level from the logging module
  astropy/samp/hub_script.py
  astropy/samp/tests/test_hub_script.py
  docs/changes/samp/17673.bugfix.rst
Labels: Bug, samp

#17754 Backport PR #17752 on branch v7.0.x (BUG: avoid test pollution in `astropy.modeling`)
  astropy/modeling/tests/test_input.py
Labels: testing, Bug, modeling, no-changelog-entry-needed, backport-v7.0.x

#17750 BUG: avoid test pollution in `astropy.units`
  astropy/units/tests/test_quantity_ufuncs.py
Labels: testing, units, Bug, no-changelog-entry-needed, backport-v7.0.x

#17756 Backport PR #17750 on branch v7.0.x (BUG: avoid test pollution in `astropy.units`)
  astropy/units/tests/test_quantity_ufuncs.py
Labels: testing, units, Bug, no-changelog-entry-needed, backport-v7.0.x

#17751 Backport PR #17747 on branch v7.0.x (Ensure doctests do not have side effects)
  docs/io/ascii/read.rst
  docs/table/mixin_columns.rst
  docs/time/index.rst
  docs/units/combining_and_defining.rst
  docs/units/standard_units.rst
  docs/utils/iers.rst
  tox.ini
Labels: testing, Docs, time, io.ascii, units, Bug, no-changelog-entry-needed, utils.iers

#17757 Backport PR #17751 on branch main (Backport PR #17747 on branch v7.0.x (Ensure doctests do not have side effects))
  docs/table/mixin_columns.rst
Labels: testing, Docs, time, io.ascii, units, Bug, no-changelog-entry-needed, utils.iers

#17716 Update links to VOUnit 1.0 standard
  astropy/io/votable/exceptions.py
  astropy/units/format/vounit.py
  docs/units/format.rst
  docs/units/index.rst
Labels: io.votable, Docs, units, no-changelog-entry-needed, Extra CI, backport-v7.0.x

#17761 Remove Ruff configuration for `examples/` directory
  .ruff.toml
  pyproject.toml
Labels: testing, installation, no-changelog-entry-needed, dev-automation

#17748 Allow long header values also for HIERARCH keys
  astropy/io/fits/card.py
  astropy/io/fits/tests/test_header.py
  astropy/io/fits/util.py
  docs/changes/io.fits/17748.feature.rst
Labels: io.fits, units, installation, Enhancement, wcs.wcsapi, utils.masked

#17570 BUG: Fix VOTable unit format on write so it does not hardcode to CDS format always
  astropy/io/votable/tests/test_table.py
  astropy/io/votable/tree.py
  docs/changes/io.votable/17570.bugfix.rst
Labels: io.votable, Bug, backport-v7.0.x

#17764 Backport PR #17570 on branch v7.0.x (BUG: Fix VOTable unit format on write so it does not hardcode to CDS format always)
  astropy/io/votable/tests/test_table.py
  astropy/io/votable/tree.py
  docs/changes/io.votable/17570.bugfix.rst
Labels: io.votable, Bug, backport-v7.0.x

#17611 Add dtype property to Section
  astropy/io/fits/hdu/image.py
  astropy/io/fits/tests/test_image.py
  astropy/nddata/tests/test_utils.py
  docs/changes/io.fits/17611.bugfix.rst
Labels: io.fits, nddata, Bug, backport-v7.0.x

#17767 Backport PR #17611 on branch v7.0.x (Add dtype property to Section)
  astropy/io/fits/hdu/image.py
  astropy/io/fits/tests/test_image.py
  astropy/nddata/tests/test_utils.py
  docs/changes/io.fits/17611.bugfix.rst
Labels: io.fits, nddata, Bug, backport-v7.0.x

#17766 update ruff.toml docs #14818
  .ruff.toml
Labels: testing, no-changelog-entry-needed, dev-automation

#17769 Use correct UCD for air wavelengths (replay #16907)
  astropy/wcs/wcsapi/fitswcs.py
  docs/changes/wcs/17769.bugfix.rst
Labels: wcs, Bug, wcs.wcsapi, backport-v7.0.x

#17772 TST: Clean up doctest example to avoid error in double run
  docs/units/combining_and_defining.rst
Labels: testing, Docs, units, Bug, no-changelog-entry-needed, backport-v7.0.x

#17593 Document that `def_unit()` returns a `NamedUnit`
  astropy/units/core.py
Labels: Docs, units, no-changelog-entry-needed, typing

#17729 Update `test_iau_fullstack.py`
  astropy/coordinates/tests/test_iau_fullstack.py
Labels: testing, coordinates, no-changelog-entry-needed

#17779 Annotate `UnitBase.bases` as `list[NamedUnit]`
  astropy/units/core.py
Labels: units, no-changelog-entry-needed, typing

#17774 Updates construct_table.rst to modify Row Data to List of Rows
  docs/table/construct_table.rst
Labels: table, Docs, no-changelog-entry-needed, backport-v7.0.x

#17776 Support using quantities in erfa.apco13
  astropy/coordinates/tests/test_iau_fullstack.py
  astropy/units/quantity_helper/erfa.py
  astropy/units/tests/test_quantity_erfa_ufuncs.py
Labels: units, coordinates, erfa, Refactoring, no-changelog-entry-needed

#17784 Backport PR #17774 on branch v7.0.x (Updates construct_table.rst to modify Row Data to List of Rows)
  docs/table/construct_table.rst
Labels: table, Docs, no-changelog-entry-needed, backport-v7.0.x

#17782 Followup fixes for HIERARCH cards with long values
  astropy/io/fits/card.py
  astropy/io/fits/tests/test_header.py
  astropy/io/fits/util.py
Labels: io.fits, Bug, Affects-dev, no-changelog-entry-needed

#17749 BUG: ensure `custom_ucd_coord_meta_mapping` context manager performs a (correct) cleanup
  astropy/visualization/wcsaxes/tests/test_wcsapi.py
  astropy/visualization/wcsaxes/wcsapi.py
  docs/changes/visualization/17749.bugfix.rst
Labels: Bug, visualization.wcsaxes, backport-v7.0.x

#17789 Backport PR #17749 on branch v7.0.x (BUG: ensure `custom_ucd_coord_meta_mapping` context manager performs a (correct) cleanup)
  astropy/visualization/wcsaxes/tests/test_wcsapi.py
  astropy/visualization/wcsaxes/wcsapi.py
  docs/changes/visualization/17749.bugfix.rst
Labels: Bug, visualization.wcsaxes, backport-v7.0.x

#17790 Update `pytest` minversion setting
  pyproject.toml
Labels: installation, no-changelog-entry-needed

#17791 fix: ruff rule c408 in astropy/cosmology
  .ruff.toml
  astropy/cosmology/_src/core.py
Labels: testing, cosmology, no-changelog-entry-needed, dev-automation

#17792 BLD: set `NPY_NO_DEPRECATED_API` at the root level of the package
  astropy/convolution/setup_package.py
  astropy/io/ascii/setup_package.py
  astropy/stats/setup_package.py
  astropy/table/setup_package.py
  astropy/timeseries/periodograms/bls/setup_package.py
  astropy/timeseries/periodograms/lombscargle/setup_package.py
  setup.py
Labels: table, io.ascii, installation, stats, convolution, build, no-changelog-entry-needed, timeseries, Extra CI, Build all wheels

#17781 Improve error message for trying to dynamically document a `CompositeUnit`
  astropy/units/tests/data/bad_module.py
  astropy/units/tests/test_utils.py
  astropy/units/utils.py
  pyproject.toml
Labels: units, Enhancement, no-changelog-entry-needed

#17795 Include all `units` type aliases in API documentation
  astropy/units/typing.py
Labels: Docs, units, no-changelog-entry-needed, typing

#17798 fix ruff rule c408 violations in all remaining subpackages
  .ruff.toml
  astropy/logger.py
  astropy/nddata/bitmask.py
  astropy/nddata/mixins/ndarithmetic.py
  astropy/tests/helper.py
  astropy/uncertainty/distributions.py
  astropy/wcs/wcsapi/wrappers/sliced_wcs.py
Labels: testing, nddata, logging, no-changelog-entry-needed, wcs.wcsapi, uncertainty, dev-automation

#17799 TST: rewrite `units` test to ensure safe test collection in `pyinstaller` job
  astropy/units/tests/data/bad_module.py
  astropy/units/tests/test_utils.py
Labels: testing, units, Bug, Affects-dev, no-changelog-entry-needed, Extra CI

#17800 BUG: Fix `bayesian_blocks` to correctly handle binned data with zero entries
  astropy/stats/bayesian_blocks.py
  astropy/stats/tests/test_bayesian_blocks.py
  docs/changes/stats/17800.bugfix.rst
Labels: Bug, stats, backport-v7.0.x

#17802 Backport PR #17800 on branch v7.0.x (BUG: Fix `bayesian_blocks` to correctly handle binned data with zero entries)
  astropy/stats/bayesian_blocks.py
  astropy/stats/tests/test_bayesian_blocks.py
  docs/changes/stats/17800.bugfix.rst
Labels: Bug, stats, backport-v7.0.x

#17805 Clean up `.ruff.toml`
  .ruff.toml
Labels: testing, no-changelog-entry-needed, dev-automation

#17808 Fix Ruff rules for astropy/constants
  .ruff.toml
  astropy/constants/tests/test_constant.py
  astropy/constants/tests/test_prior_version.py
  pyproject.toml
Labels: testing, installation, constants, no-changelog-entry-needed, dev-automation

#17807 TST: use earlier ubuntu to see if that allows docker images to work
  .github/workflows/ci_cron_weekly.yml
Labels: testing, no-changelog-entry-needed, Extra CI, backport-v7.0.x

#17809 Backport PR #17807 on branch v7.0.x (TST: use earlier ubuntu to see if that allows docker images to work)
  .github/workflows/ci_cron_weekly.yml
Labels: testing, no-changelog-entry-needed, Extra CI, backport-v7.0.x

#17811 Improve type annotations in `astropy/units/utils.py`
  astropy/units/utils.py
Labels: units, no-changelog-entry-needed, typing

#17316 DOC: avoid pyplot interface in documentation
  docs/convolution/index.rst
  docs/convolution/kernels.rst
  docs/convolution/non_normalized_kernels.rst
  docs/coordinates/performance.inc.rst
  docs/coordinates/skycoord.rst
  docs/development/testguide.rst
  docs/modeling/compound-models.rst
  docs/modeling/example-fitting-constraints.rst
  docs/modeling/example-fitting-line.rst
  docs/modeling/example-fitting-model-sets.rst
  docs/modeling/fitting.rst
  docs/modeling/index.rst
  docs/modeling/jointfitter.rst
  docs/modeling/models.rst
  docs/modeling/new-model.rst
  docs/modeling/parallel-fitting.rst
  docs/modeling/physical_models.rst
  docs/modeling/predef_models1D.rst
  docs/modeling/predef_models2D.rst
  docs/modeling/spline_models.rst
  docs/modeling/units.rst
  docs/nddata/index.rst
  docs/nddata/utils.rst
  docs/stats/ripley.rst
  docs/stats/robust.rst
  docs/timeseries/analysis.rst
  docs/timeseries/bls.rst
  docs/timeseries/index.rst
  docs/timeseries/io.rst
  docs/timeseries/lombscargle.rst
  docs/timeseries/lombscarglemb.rst
  docs/uncertainty/index.rst
  docs/wcs/wcstools.rst
Labels: wcs, Docs, time, nddata, coordinates, modeling, stats, convolution, no-changelog-entry-needed, uncertainty, timeseries

#17768 Refactor some pieces in fits.ImageHDU (mostly)
  astropy/io/fits/hdu/base.py
  astropy/io/fits/hdu/compressed/compressed.py
  astropy/io/fits/hdu/hdulist.py
  astropy/io/fits/hdu/image.py
  astropy/io/fits/hdu/table.py
  astropy/io/fits/tests/test_checksum.py
Labels: io.fits, Refactoring, no-changelog-entry-needed, Extra CI, Build all wheels

#17814 Fix Ruff rule PLE0101 violations
  .ruff.toml
  astropy/coordinates/representation/cartesian.py
  astropy/io/fits/hdu/compressed/header.py
  astropy/modeling/physical_models.py
  astropy/tests/command.py
Labels: testing, io.fits, coordinates, modeling, no-changelog-entry-needed, dev-automation

#17815 fix .fileinfo() for compressed HDUs
  astropy/io/fits/hdu/compressed/compressed.py
  astropy/io/fits/hdu/compressed/tests/test_compressed.py
  astropy/io/fits/hdu/hdulist.py
  docs/changes/io.fits/17815.bugfix.rst
Labels: io.fits, Bug, backport-v7.0.x

#17816 Backport PR #17815 on branch v7.0.x (fix .fileinfo() for compressed HDUs)
  astropy/io/fits/hdu/compressed/compressed.py
  astropy/io/fits/hdu/compressed/tests/test_compressed.py
  astropy/io/fits/hdu/hdulist.py
  docs/changes/io.fits/17815.bugfix.rst
Labels: io.fits, Bug, backport-v7.0.x

#17817 move io.fits API toctree to a dedicated page
  docs/io/fits/api/index.rst
  docs/io/fits/index.rst
Labels: Docs, io.fits, no-changelog-entry-needed, backport-v7.0.x

#17819 Backport PR #17817 on branch v7.0.x (move io.fits API toctree to a dedicated page)
  docs/io/fits/api/index.rst
  docs/io/fits/index.rst
Labels: Docs, io.fits, no-changelog-entry-needed, backport-v7.0.x

#17823 MNT: Fix Ruff rule PLR0911 violation in astropy/convolution
  .ruff.toml
  astropy/convolution/utils.py
Labels: testing, convolution, no-changelog-entry-needed, dev-automation

#17822 Ensure that equal units have equal hashes
  astropy/units/core.py
  astropy/units/tests/test_units.py
  docs/changes/units/17822.bugfix.rst
Labels: units, Bug

#17685 FEAT: Make common Masked subclasses importable for ASDF support
  astropy/utils/masked/core.py
  astropy/utils/masked/tests/test_dynamic_subclasses.py
  docs/changes/utils/17685.feature.rst
Labels: utils.masked

#17826 Add a decorator for skipping docstring tests
  astropy/tests/helper.py
  astropy/tests/tests/test_runner.py
  astropy/time/tests/test_sidereal.py
  astropy/utils/tests/test_decorators.py
Labels: testing, time, utils, no-changelog-entry-needed

#17825 RFC: replace nested `if`/`else` logic tree with flat pattern matching in `discretize_model`
  astropy/convolution/utils.py
Labels: convolution, Refactoring, no-changelog-entry-needed

#17829 Add proper support for the Å, ℓ and Ω unit symbols
  astropy/units/core.py
  astropy/units/format/generic.py
  astropy/units/si.py
  docs/changes/units/17829.feature.rst
  docs/units/equivalencies.rst
  docs/units/standard_units.rst
Labels: units, Enhancement

#17827 MNT: bump ubuntu image (`22.04` -> `24.04`) and `uraimo/run-on-arch-action` (`v2.8.1` -> `v3.0.0`) on exotic archs
  .github/workflows/ci_cron_weekly.yml
Labels: testing, no-changelog-entry-needed, Extra CI, backport-v7.0.x

#17828 maint: update domain name for vizier ftp server
  astropy/io/ascii/cds.py
  docs/io/unified.rst
  docs/table/io.rst
Labels: table, Docs, io.ascii, unified-io, no-changelog-entry-needed, backport-v7.0.x

#17831 Backport PR #17828 on branch v7.0.x (maint: update domain name for vizier ftp server)
  astropy/io/ascii/cds.py
  docs/io/unified.rst
  docs/table/io.rst
Labels: table, Docs, io.ascii, unified-io, no-changelog-entry-needed, backport-v7.0.x
