Repository astropy/astropy, pull requests merged in 2025-03, with the labels that each got.

#17830 Backport PR #17827 on branch v7.0.x (MNT: bump ubuntu image (`22.04` -> `24.04`) and `uraimo/run-on-arch-action` (`v2.8.1` -> `v3.0.0`) on exotic archs)
  .github/workflows/ci_cron_weekly.yml
Labels: testing, no-changelog-entry-needed, Extra CI, backport-v7.0.x

#17833 Backport PR #17832 on branch v7.0.x (Bump the actions group in /.github/workflows with 3 updates)
  .github/workflows/ci_benchmark.yml
  .github/workflows/update_astropy_iers_data_pin.yml
Labels: testing, no-changelog-entry-needed, utils.iers, dev-automation, dependencies, backport-v7.0.x

#17835 Backport PR #17834 on branch v7.0.x (Update minimum required version of astropy-iers-data)
  pyproject.toml
Labels: no-changelog-entry-needed, utils.iers, backport-v7.0.x

#17845 Re-enable analytics tracking for docs
  docs/conf.py
Labels: Docs, no-changelog-entry-needed, backport-v7.0.x

#17847 Backport PR #17845 on branch v7.0.x (Re-enable analytics tracking for docs)
  docs/conf.py
Labels: Docs, no-changelog-entry-needed, backport-v7.0.x

#17843 Apply monthly `pre-commit` update manually
  .pre-commit-config.yaml
  astropy/config/configuration.py
  astropy/io/ascii/mrt.py
  astropy/io/ascii/tests/test_c_reader.py
  astropy/io/ascii/ui.py
  astropy/io/fits/hdu/compressed/_tiled_compression.py
  astropy/io/fits/hdu/compressed/header.py
  astropy/io/fits/header.py
  astropy/io/fits/tests/test_diff.py
  astropy/io/fits/tests/test_table.py
  astropy/io/votable/converters.py
  astropy/io/votable/exceptions.py
  astropy/io/votable/tests/test_table.py
  astropy/modeling/fitting.py
  astropy/modeling/spline.py
  astropy/modeling/tests/test_fitting_parallel.py
  astropy/modeling/tests/test_parameters.py
  astropy/nddata/nddata.py
  astropy/table/column.py
  astropy/table/tests/test_operations.py
  astropy/time/tests/test_basic.py
  astropy/timeseries/io/tests/test_kepler.py
  astropy/timeseries/periodograms/bls/tests/test_bls.py
  astropy/timeseries/tests/test_sampled.py
  astropy/units/function/core.py
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/tests/test_physical.py
  astropy/units/tests/test_quantity_non_ufuncs.py
  astropy/utils/iers/iers.py
  astropy/utils/tests/test_data.py
  astropy/version.py
  astropy/wcs/wcs.py
  conftest.py
Labels: testing, io.votable, wcs, table, io.fits, config, time, io.ascii, nddata, units, modeling, utils, no-changelog-entry-needed, skip-changelog-checks, timeseries, utils.iers, dev-automation

#17853 Apply NFKC normalization to unit names before injecting them into a namespace
  astropy/units/core.py
  astropy/units/tests/test_units.py
  docs/changes/units/17853.bugfix.rst
Labels: units, Bug, backport-v7.0.x

#17855 Backport PR #17853 on branch v7.0.x (Apply NFKC normalization to unit names before injecting them into a namespace)
  astropy/units/core.py
  astropy/units/tests/test_units.py
  docs/changes/units/17853.bugfix.rst
Labels: units, Bug, backport-v7.0.x

#17850 Improve message for fit failed with non-finite value
  astropy/modeling/fitting.py
Labels: modeling, no-changelog-entry-needed

#17303 TST: avoid pyplot in most visualization tests
  astropy/visualization/tests/test_histogram.py
  astropy/visualization/tests/test_norm.py
  astropy/visualization/tests/test_time.py
  astropy/visualization/tests/test_units.py
  astropy/visualization/wcsaxes/tests/test_coordinate_helpers.py
  astropy/visualization/wcsaxes/tests/test_display_world_coordinates.py
  astropy/visualization/wcsaxes/tests/test_frame.py
  astropy/visualization/wcsaxes/tests/test_images.py
  astropy/visualization/wcsaxes/tests/test_misc.py
  astropy/visualization/wcsaxes/tests/test_transform_coord_meta.py
  astropy/visualization/wcsaxes/tests/test_wcsapi.py
  docs/visualization/matplotlib_integration.rst
  docs/visualization/normalization.rst
  docs/visualization/rgb.rst
  docs/visualization/wcsaxes/controlling_axes.rst
  docs/visualization/wcsaxes/custom_frames.rst
  docs/visualization/wcsaxes/images_contours.rst
  docs/visualization/wcsaxes/index.rst
  docs/visualization/wcsaxes/initializing_axes.rst
  docs/visualization/wcsaxes/overlaying_coordinate_systems.rst
  docs/visualization/wcsaxes/overlays.rst
  docs/visualization/wcsaxes/slicing_datacubes.rst
  docs/visualization/wcsaxes/ticks_labels_grid.rst
Labels: Affects-dev, visualization, no-changelog-entry-needed, visualization.wcsaxes, Extra CI

#17862 Add tests for automatic unit summary generation
  astropy/units/tests/test_utils.py
Labels: testing, units, no-changelog-entry-needed

#17806 Fix checksum computation with in-memory VLA columns
  astropy/io/fits/fitsrec.py
  astropy/io/fits/hdu/table.py
  astropy/io/fits/tests/test_checksum.py
  docs/changes/io.fits/17806.bugfix.rst
Labels: io.fits, Bug, Extra CI, backport-v7.0.x

#17865 Stop storing unit scale as `Fraction` or `int`
  astropy/units/core.py
  astropy/units/format/base.py
  astropy/units/tests/test_units.py
  astropy/units/typing.py
  astropy/units/utils.py
  docs/changes/units/17822.bugfix.rst
Labels: units, no-changelog-entry-needed, skip-changelog-checks, benchmark

#17856 DOC: FITS_rec init using recarray
  docs/io/fits/usage/table.rst
Labels: Docs, io.fits, Bug, no-changelog-entry-needed, backport-v7.0.x

#17867 Backport PR #17856 on branch v7.0.x (DOC: FITS_rec init using recarray)
  docs/io/fits/usage/table.rst
Labels: Docs, io.fits, Bug, no-changelog-entry-needed, backport-v7.0.x

#17857 TST: avoid non-falsifiable matches (`match=''`) in `pytest.raises`
  astropy/modeling/tests/test_models.py
  tox.ini
Labels: testing, modeling, no-changelog-entry-needed, Extra CI, backport-v7.0.x

#17871 Backport PR #17857 on branch v7.0.x (TST: avoid non-falsifiable matches (`match=''`) in `pytest.raises`)
  astropy/modeling/tests/test_models.py
  tox.ini
Labels: testing, modeling, no-changelog-entry-needed, Extra CI, backport-v7.0.x

#17870 Clarify fitting error message about non-finite values
  astropy/modeling/fitting.py
Labels: modeling, no-changelog-entry-needed, API change

#17873 TST: Replace test with conf in test_find_mod_objs()
  astropy/utils/tests/test_introspection.py
Labels: testing, utils, Refactoring, no-changelog-entry-needed

#17868 Enable units from `required_by_vounit` properly
  astropy/units/__init__.py
  astropy/units/required_by_vounit.py
  astropy/units/utils.py
  docs/changes/units/17868.bugfix.rst
Labels: units, Bug, backport-v7.0.x

#17877 CLN: simplify now unneeded import-complexity in conftest.py
  astropy/conftest.py
Labels: testing, Refactoring, no-changelog-entry-needed, Extra CI

#17879 Backport PR #17868 on branch v7.0.x (Enable units from `required_by_vounit` properly)
  astropy/units/__init__.py
  astropy/units/required_by_vounit.py
  astropy/units/utils.py
  docs/changes/units/17868.bugfix.rst
Labels: units, Bug, backport-v7.0.x

#17878 fix ruff rule B007 violation in astropy/coordinates
  .ruff.toml
  astropy/coordinates/builtin_frames/utils.py
  astropy/coordinates/transformations/graph.py
Labels: testing, coordinates, no-changelog-entry-needed, dev-automation

#17872 Add initial type annotations to `units/physical.py`
  astropy/units/core.py
  astropy/units/function/core.py
  astropy/units/physical.py
  astropy/units/typing.py
  docs/nitpick-exceptions
Labels: units, no-changelog-entry-needed, typing

#17882 CLN: remove unneeded warning filter conftest.py
  astropy/conftest.py
Labels: testing, Refactoring, no-changelog-entry-needed, Extra CI

#17884 Simplify `PhysicalType`
  astropy/units/physical.py
Labels: units, Refactoring, no-changelog-entry-needed

#17895 RFC: fix `PLC1802` (`len-test`) for `wcs`
  astropy/wcs/wcs.py
Labels: wcs, Refactoring, no-changelog-entry-needed

#17893 RFC: fix new lint violations in `io.ascii`
  astropy/io/ascii/misc.py
  astropy/io/ascii/tests/test_ecsv.py
Labels: io.ascii, Refactoring, no-changelog-entry-needed

#17890 RFC: fix new lint violations in `units`
  astropy/units/core.py
  astropy/units/tests/test_quantity_erfa_ufuncs.py
Labels: units, Refactoring, no-changelog-entry-needed

#17889 RFC: fix `RUF046` (`unnecessary-cast-to-int`) package-wise
  astropy/io/fits/hdu/compressed/tests/test_compressed.py
  astropy/io/fits/hdu/compressed/utils.py
  astropy/io/fits/tests/test_image.py
  astropy/io/votable/validator/html.py
  astropy/modeling/_fitting_parallel.py
  astropy/utils/console.py
Labels: io.votable, io.fits, modeling, utils, Refactoring, no-changelog-entry-needed

#17894 RFC: fix new lint violations in `modeling`
  astropy/modeling/core.py
  astropy/modeling/mappings.py
  astropy/modeling/tabular.py
Labels: modeling, Refactoring, no-changelog-entry-needed, benchmark

#17892 RFC: fix new lint violations in `table`
  astropy/table/info.py
  astropy/table/table.py
  astropy/table/tests/test_info.py
Labels: table, Refactoring, no-changelog-entry-needed, benchmark

#17888 RFC: fix `PLW1508` (`invalid-envvar-default`) package-wise
  astropy/utils/xml/setup_package.py
  astropy/wcs/setup_package.py
Labels: wcs, utils, Refactoring, no-changelog-entry-needed

#17897 MNT: avoid a `blanket-noqa` (`PGH004`) in `io.ascii`
  astropy/io/ascii/__init__.py
  pyproject.toml
Labels: io.ascii, no-changelog-entry-needed

#17896 Fix typing errors within `units/physical.py`
  astropy/units/physical.py
Labels: units, Refactoring, no-changelog-entry-needed, typing

#17898 MNT: ignore undesired `PYI019` flags on mixin cosmology class
  astropy/cosmology/_src/core.py
  astropy/cosmology/_src/flrw/base.py
Labels: cosmology, no-changelog-entry-needed, dev-automation

#17881 fix ruff rule B007 violation in astropy/samp
  .ruff.toml
  astropy/samp/utils.py
Labels: testing, samp, no-changelog-entry-needed, dev-automation

#17860 fix ruff rule B007 violation in astropy/modeling
  .ruff.toml
  astropy/modeling/_fitting_parallel.py
  astropy/modeling/fitting.py
  astropy/modeling/tests/test_spline.py
Labels: testing, modeling, no-changelog-entry-needed, dev-automation

#17904 MNT: upgrade cfitstio (`4.5.0` -> `4.6.0`)
  cextern/cfitsio/ChangeLog
  cextern/cfitsio/lib/fits_hdecompress.c
  cextern/cfitsio/lib/ricecomp.c
  docs/changes/17904.other.rst
Labels: io.fits, external, Extra CI, backport-v7.0.x

#17906 Backport PR #17904 on branch v7.0.x (MNT: upgrade cfitsio (`4.5.0` -> `4.6.0`))
  cextern/cfitsio/ChangeLog
  cextern/cfitsio/lib/fits_hdecompress.c
  cextern/cfitsio/lib/ricecomp.c
  docs/changes/17904.other.rst
Labels: io.fits, external, Extra CI, backport-v7.0.x

#17909 Simplify the generic unit parser
  astropy/units/format/generic.py
  astropy/units/format/generic_lextab.py
  astropy/units/format/generic_parsetab.py
Labels: units, Refactoring, no-changelog-entry-needed

#17914 fix ruff rule B007 violation in astropy/visualization
  .ruff.toml
  astropy/visualization/wcsaxes/core.py
Labels: testing, no-changelog-entry-needed, visualization.wcsaxes, dev-automation

#17913 fix Ruff rule B007 violation in astropy/utils
  .ruff.toml
  astropy/units/cds.py
  astropy/units/core.py
  astropy/units/format/vounit.py
  astropy/units/tests/test_aliases.py
  astropy/units/tests/test_quantity_ufuncs.py
  astropy/utils/console.py
  astropy/utils/data.py
  astropy/utils/data_info.py
  astropy/utils/introspection.py
  astropy/utils/tests/test_console.py
  astropy/utils/tests/test_data.py
  astropy/utils/tests/test_decorators.py
  astropy/utils/tests/test_misc.py
Labels: testing, units, utils, no-changelog-entry-needed, dev-automation

#17911 fix ruff rule B007 violation in astropy/table
  .ruff.toml
  astropy/table/operations.py
  astropy/table/tests/test_mixin.py
  astropy/table/tests/test_np_utils.py
Labels: testing, table, no-changelog-entry-needed, dev-automation

#17912 fix ruff rule B007 violation in astropy/tests
  .ruff.toml
  astropy/tests/tests/test_imports.py
Labels: testing, no-changelog-entry-needed, dev-automation

#17891 RFC: fix new lint violations in `coordinates`
  astropy/coordinates/representation/base.py
  astropy/coordinates/transformations/graph.py
Labels: coordinates, Refactoring, no-changelog-entry-needed, benchmark

#17921 Enforce Ruff rule I001 in `astropy/io/ascii/__init__.py`
  astropy/io/ascii/__init__.py
  pyproject.toml
Labels: io.ascii, no-changelog-entry-needed, dev-automation

#17922 Define `__all__` in all unit definition files
  astropy/units/deprecated.py
  astropy/units/required_by_vounit.py
Labels: units, Refactoring, no-changelog-entry-needed

#17900 TST: Re-enable test_all for devdeps but only when noscipy is not specified (try 3)
  tox.ini
Labels: testing, no-changelog-entry-needed, Extra CI, backport-v7.0.x

#17923 Backport PR #17900 on branch v7.0.x (TST: Re-enable test_all for devdeps but only when noscipy is not specified (try 3))
  tox.ini
Labels: testing, no-changelog-entry-needed, Extra CI, backport-v7.0.x

#17899 MNT: upgrade ruff to 0.11
  .pre-commit-config.yaml
  astropy/coordinates/tests/test_polarization.py
  astropy/cosmology/_src/core.py
  astropy/cosmology/_src/flrw/base.py
Labels: testing, coordinates, cosmology, no-changelog-entry-needed, skip-changelog-checks, dev-automation

#17866 fix ruff rule B007 violation in astropy/wcs
  .ruff.toml
  astropy/wcs/wcs.py
Labels: testing, wcs, no-changelog-entry-needed, dev-automation

#17925 Backport PR #17450 on branch v7.0.x (BUG: prevent corrupting a column by mutating its name to an invalid type)
  astropy/table/column.py
  astropy/table/table.py
  astropy/table/tests/test_column.py
  astropy/table/tests/test_table.py
  astropy/units/quantity.py
  astropy/units/tests/test_quantity_info.py
  astropy/utils/data_info.py
  astropy/utils/tests/test_data_info.py
  docs/changes/table/17450.bugfix.rst
  docs/changes/utils/17450.bugfix.rst
Labels: table, Bug, utils, backport-v7.0.x

#17926 Rewrite "deprecated" units tests
  astropy/units/tests/test_deprecated.py
  astropy/units/tests/test_units.py
Labels: testing, units, no-changelog-entry-needed

#17876 Add limit_rounding_method parameter to Cutout2D
  astropy/nddata/tests/test_utils.py
  astropy/nddata/utils.py
  docs/changes/nddata/17876.feature.rst
Labels: nddata, API change

#17929 Deprecate deprecated units
  astropy/units/deprecated.py
  astropy/units/required_by_vounit.py
  astropy/units/tests/test_deprecated.py
  docs/changes/units/17929.api.rst
Labels: units, API change

#17935 DOC: clarifying changelog entry
  docs/changes/units/17929.api.rst
Labels: Docs, units, Affects-dev, skip-changelog-checks

#17937 Inherit docs from parent classes in visualization
  astropy/visualization/interval.py
  docs/nitpick-exceptions
  docs/visualization/ref_api.rst
Labels: Docs, visualization, no-changelog-entry-needed, backport-v7.0.x

#17939 Backport PR #17937 on branch v7.0.x (Inherit docs from parent classes in visualization)
  astropy/visualization/interval.py
  docs/nitpick-exceptions
  docs/visualization/ref_api.rst
Labels: Docs, visualization, no-changelog-entry-needed, backport-v7.0.x

#17943 Ensure LinearStretch values are clipped
  astropy/visualization/stretch.py
  astropy/visualization/tests/test_stretch.py
  docs/changes/visualization/17943.bugfix.rst
Labels: Bug, visualization, backport-v7.0.x

#17944 Backport PR #17943 on branch v7.0.x (Ensure LinearStretch values are clipped)
  astropy/visualization/stretch.py
  astropy/visualization/tests/test_stretch.py
  docs/changes/visualization/17943.bugfix.rst
Labels: Bug, visualization, backport-v7.0.x

#17599 Rewrite unit formatter `get_format()`
  astropy/units/core.py
  astropy/units/format/__init__.py
  astropy/units/tests/test_format.py
Labels: units, Refactoring, no-changelog-entry-needed

#17940 Fix formulae and docstrings for Stretch classes
  astropy/visualization/stretch.py
Labels: Docs, Bug, visualization, no-changelog-entry-needed, backport-v7.0.x

#17941 Fix parameter bound for PowerDistStretch and InvertedPowerDistStretch
  astropy/visualization/stretch.py
  astropy/visualization/tests/test_stretch.py
  docs/changes/visualization/17941.bugfix.rst
Labels: Bug, visualization, backport-v7.0.x

#17945 Backport PR #17940 on branch v7.0.x (Fix formulae and docstrings for Stretch classes)
  astropy/visualization/stretch.py
Labels: Docs, Bug, visualization, no-changelog-entry-needed, backport-v7.0.x

#17931 Fix setuptools deprecation warnings related to license
  .github/workflows/publish.yml
  pyproject.toml
Labels: installation, no-changelog-entry-needed, Build all wheels

#17950 Backport PR #17941 on branch v7.0.x (Fix parameter bound for PowerDistStretch and InvertedPowerDistStretch)
  astropy/visualization/stretch.py
  astropy/visualization/tests/test_stretch.py
  docs/changes/visualization/17941.bugfix.rst
Labels: Bug, visualization, backport-v7.0.x

#17953 Backport PR #17936: Fix unit bug in Table creation, fixes #17930
  astropy/table/column.py
  astropy/table/tests/test_table.py
  docs/changes/table/17936.bugfix.rst
Labels: table, Bug, Manual Backport, skip-changelog-checks, skip-basebranch-check
