Repository astropy/astropy, pull requests merged in 2025-01, with the labels that each got.

#17585 Enhance Documentation for jyear and decimalyear Formats in astropy.time
  astropy/time/formats.py
Labels: Docs, time, no-changelog-entry-needed, backport-v7.0.x

#17592 Backport PR #17585 on branch v7.0.x (Enhance Documentation for jyear and decimalyear Formats in astropy.time)
  astropy/time/formats.py
Labels: Docs, time, no-changelog-entry-needed, backport-v7.0.x

#17598 ENH: ensure that dir(astropy) lists subpackages
  astropy/__init__.py
  astropy/tests/tests/test_imports.py
  astropy/utils/introspection.py
  docs/changes/17598.other.rst
  docs/changes/coordinates/17503.api.rst
  docs/nitpick-exceptions
Labels: testing, Enhancement, skip-changelog-checks, Extra CI, Build all wheels

#17605 Rename `Complex` and `Real` type aliases
  astropy/units/core.py
  astropy/units/typing.py
  astropy/units/utils.py
  docs/nitpick-exceptions
Labels: Docs, units, no-changelog-entry-needed, typing

#17608 Remove a needless pair of `fmt: off/on` instructions
  astropy/table/table.py
Labels: table, no-changelog-entry-needed

#17617 STY: autofix for `FURB188` (`slice-to-remove-prefix-or-suffix`) (`table`)
  astropy/table/meta.py
Labels: table, Refactoring, no-changelog-entry-needed

#17625 MNT: Add supported Python versions to classifiers
  pyproject.toml
Labels: Docs, installation, no-changelog-entry-needed

#17627 Add documentation for LaTeX formatted tables with units
  astropy/io/ascii/latex.py
  docs/io/ascii/index.rst
Labels: Docs, io.ascii, no-changelog-entry-needed, backport-v7.0.x

#17624 Read LaTeX tables where there is whitespace before the `\begin{tabular}`
  astropy/io/ascii/latex.py
  astropy/io/ascii/tests/data/latex3.tex
  docs/changes/io.ascii/17624.bugfix.rst
Labels: io.ascii, Bug, backport-v7.0.x

#17628 Backport PR #17627 on branch v7.0.x (Add documentation for LaTeX formatted tables with units)
  astropy/io/ascii/latex.py
  docs/io/ascii/index.rst
Labels: Docs, io.ascii, no-changelog-entry-needed, backport-v7.0.x

#17632 Add a short section in the docs on writing Column objects
  docs/table/io.rst
Labels: table, Docs, no-changelog-entry-needed

#17629 Backport PR #17624 on branch v7.0.x (Read LaTeX tables where there is whitespace before the `\begin{tabular}`)
  astropy/io/ascii/latex.py
  astropy/io/ascii/tests/data/latex3.tex
  docs/changes/io.ascii/17624.bugfix.rst
Labels: io.ascii, Bug, backport-v7.0.x

#17633 Backport PR #17632 on branch v7.0.x (Add a short section in the docs on writing Column objects)
  docs/table/io.rst
Labels: table, Docs, no-changelog-entry-needed

#17613 TST: declare `str` `ufunc np._core.umath._slice` as unsupported
  astropy/units/quantity_helper/helpers.py
Labels: units, Bug, no-changelog-entry-needed, numpy-dev, Extra CI, backport-v7.0.x

#17635 Backport PR #17613 on branch v7.0.x (TST: declare `str` `ufunc np._core.umath._slice` as unsupported)
  astropy/units/quantity_helper/helpers.py
Labels: units, Bug, no-changelog-entry-needed, numpy-dev, Extra CI, backport-v7.0.x

#17634 Annotate `did_you_mean()`
  astropy/utils/misc.py
Labels: utils, Refactoring, no-changelog-entry-needed, typing

#17630 Add a doc example for an io.ascii writer with fixed width and commented header
  docs/io/ascii/read.rst
Labels: Docs, io.ascii, no-changelog-entry-needed, backport-v7.0.x

#17636 Backport PR #17630 on branch v7.0.x (Add a doc example for an io.ascii writer with fixed width and commented header)
  docs/io/ascii/read.rst
Labels: Docs, io.ascii, no-changelog-entry-needed, backport-v7.0.x

#17552 Make `overwrite=True` work with `Path` arguments
  astropy/io/fits/connect.py
  astropy/io/fits/tests/test_connect.py
  docs/changes/io.fits/17552.bugfix.rst
Labels: io.fits, Bug, unified-io, backport-v7.0.x

#17641 Backport PR #17552 on branch v7.0.x (Make `overwrite=True` work with `Path` arguments)
  astropy/io/fits/connect.py
  astropy/io/fits/tests/test_connect.py
  docs/changes/io.fits/17552.bugfix.rst
Labels: io.fits, Bug, unified-io, backport-v7.0.x

#17647 Split the `test_si_prefixes()` unit test
  astropy/units/tests/test_units.py
Labels: testing, units, no-changelog-entry-needed

#17616 STY: autofix for `PLR1716` (`boolean-chained-comparison`)
  astropy/cosmology/_src/flrw/lambdacdm.py
Labels: cosmology, Refactoring, no-changelog-entry-needed

#17645 TST: Use free Linux ARM64 runner
  .github/workflows/ci_cron_weekly.yml
Labels: Upstream Fix Required, testing, no-changelog-entry-needed, Extra CI, backport-v7.0.x

#17655 Backport PR #17645 on branch v7.0.x (TST: Use free Linux ARM64 runner)
  .github/workflows/ci_cron_weekly.yml
Labels: testing, no-changelog-entry-needed, Extra CI, backport-v7.0.x

#17653 DOC: improve table.unique's docstring to reflect that the return table is expected to be sorted
  astropy/table/operations.py
Labels: table, Docs, no-changelog-entry-needed, backport-v7.0.x

#17657 TST: Move Linux ARM64 job from cron to CI
  .github/workflows/ci_cron_weekly.yml
  .github/workflows/ci_workflows.yml
Labels: testing, no-changelog-entry-needed, backport-v7.0.x

#17660 Backport PR #17657: TST: Move Linux ARM64 job from cron to CI
  .github/workflows/ci_cron_weekly.yml
  .github/workflows/ci_workflows.yml
Labels: testing, no-changelog-entry-needed, Manual Backport, skip-basebranch-check

#17651 Add proper support for the "μ" unit prefix
  astropy/units/cds.py
  astropy/units/core.py
  astropy/units/format/generic.py
  astropy/units/si.py
  docs/changes/units/17651.feature.rst
Labels: units, Enhancement, Extra CI, Build all wheels

#17612 Make unit prefixes immutable
  astropy/units/core.py
  astropy/units/typing.py
Labels: units, no-changelog-entry-needed, typing

#17659 Use ``co_firstlineno`` to calculate line numbers in ``make_function_with_signature``
  astropy/utils/codegen.py
  astropy/utils/decorators.py
  docs/conf.py
  docs/rtd_environment.yaml
Labels: Docs, utils, no-changelog-entry-needed, Python 3.13

#17677 DOC: fix incorrect description of the `unique` parameter in `Table.add_index`'s docstring. Add missing Raises section.
  astropy/table/table.py
  docs/changes/table/17677.bugfix.rst
Labels: table, Docs, backport-v7.0.x

#17678 Backport PR #17677 on branch v7.0.x (DOC: fix incorrect description of the `unique` parameter in `Table.add_index`'s docstring. Add missing Raises section.)
  astropy/table/table.py
  docs/changes/table/17677.bugfix.rst
Labels: table, Docs, backport-v7.0.x

#17679 Backport PR #17659 on branch v7.0.x (Use ``co_firstlineno`` to calculate line numbers in ``make_function_with_signature``)
  astropy/utils/codegen.py
  astropy/utils/decorators.py
  docs/conf.py
  docs/nitpick-exceptions
  docs/rtd_environment.yaml
Labels: Docs, utils, no-changelog-entry-needed, Python 3.13

#17675 TST: require pytest 8.0 or newer
  astropy/coordinates/tests/test_frames.py
  astropy/coordinates/tests/test_iau_fullstack.py
  astropy/coordinates/tests/test_regression.py
  astropy/coordinates/tests/test_spectral_coordinate.py
  astropy/coordinates/tests/test_utils.py
  astropy/cosmology/_src/tests/funcs/test_funcs.py
  astropy/io/votable/tests/test_tree.py
  astropy/modeling/tests/test_core.py
  astropy/nddata/tests/test_ccddata.py
  astropy/table/tests/test_groups.py
  astropy/tests/helper.py
  astropy/units/tests/test_quantity_erfa_ufuncs.py
  astropy/units/tests/test_quantity_ufuncs.py
  astropy/units/tests/test_units.py
  astropy/utils/tests/test_data.py
  astropy/utils/tests/test_decorators.py
  astropy/wcs/tests/test_pickle.py
  astropy/wcs/tests/test_wcs.py
  astropy/wcs/wcsapi/tests/test_fitswcs.py
  pyproject.toml
Labels: testing, io.votable, wcs, table, nddata, units, coordinates, modeling, cosmology, utils, installation, no-changelog-entry-needed, wcs.wcsapi, Extra CI

#17668 MNT: update `setuptools-scm` section in `pyproject.toml` (`write_to` option is deprecated)
  pyproject.toml
Labels: installation, no-changelog-entry-needed, Extra CI, dependencies

#17618 Fix Polynomial2D fitting when used in compound model
  astropy/modeling/core.py
  astropy/modeling/tests/test_compound.py
  docs/changes/modeling/17618.bugfix.rst
Labels: Bug, modeling, backport-v7.0.x

#17687 Backport PR #17618 on branch v7.0.x (Fix Polynomial2D fitting when used in compound model)
  astropy/modeling/core.py
  astropy/modeling/tests/test_compound.py
  docs/changes/modeling/17618.bugfix.rst
Labels: Bug, modeling, backport-v7.0.x

#17686 BLD: Temporarily disable aarch64 wheels because they crash non-deterministically
  .github/workflows/publish.yml
Labels: Upstream Fix Required, Release, build, no-changelog-entry-needed, Build all wheels

#17693 Fixed a numerical-precision bug with the Cylindrical->PhysicsSpherical conversion
  astropy/coordinates/representation/cylindrical.py
  astropy/coordinates/tests/test_representation.py
  docs/changes/coordinates/17693.bugfix.rst
Labels: Bug, coordinates, backport-v7.0.x

#17531 API: reintroduce private classes from `astropy.visualization.lupton_rgb` that were removed without deprecation in astropy 7.0.0
  astropy/visualization/__init__.py
  astropy/visualization/lupton_rgb.py
  docs/changes/visualization/17531.bugfix.rst
Labels: Bug, visualization, API change, backport-v7.0.x

#17694 Backport PR #17693 on branch v7.0.x (Fixed a numerical-precision bug with the Cylindrical->PhysicsSpherical conversion)
  astropy/coordinates/representation/cylindrical.py
  astropy/coordinates/tests/test_representation.py
  docs/changes/coordinates/17693.bugfix.rst
Labels: Bug, coordinates, backport-v7.0.x

#17692 Implement zebi and yobi binary prefixes
  astropy/units/core.py
  astropy/units/format/vounit.py
  astropy/units/tests/test_format.py
  astropy/units/tests/test_units.py
  docs/changes/units/17692.bugfix.rst
  docs/units/standard_units.rst
Labels: Docs, units, Bug, backport-v7.0.x

#17691 ENH: also catch `TimeoutError`s in `download_file`
  astropy/utils/data.py
  docs/changes/utils/17691.feature.rst
Labels: utils, Enhancement

#17697 Backport PR #17531 on branch `v7.0.x` (API: reintroduce private classes from `astropy.visualization.lupton_rgb` that were removed without deprecation in astropy 7.0.0)
  astropy/visualization/__init__.py
  astropy/visualization/lupton_rgb.py
  docs/changes/visualization/17531.bugfix.rst
Labels: Bug, visualization, Manual Backport, skip-changelog-checks, API change, skip-basebranch-check
