Repository astropy/astropy, pull requests merged in 2025-04, with the labels that each got.

#17962 Simplify `PhysicalType` arithmetic implementation
  astropy/units/physical.py
Labels: units, Refactoring, no-changelog-entry-needed

#17971 Backport PR #17970 on branch v7.0.x (Update minimum required version of astropy-iers-data)
  pyproject.toml
Labels: no-changelog-entry-needed, utils.iers, backport-v7.0.x

#17961 Force setuptools update for exotic archs
  .github/workflows/ci_cron_weekly.yml
  .github/workflows/codeql-analysis.yml
Labels: testing, no-changelog-entry-needed, Extra CI

#17973 Remove two unneeded Ruff rule exceptions from global configuration
  .ruff.toml
  astropy/modeling/tests/test_parameters.py
  pyproject.toml
Labels: testing, modeling, installation, no-changelog-entry-needed, dev-automation

#17975 Make `astropy.units.imperial` properly available
  astropy/units/__init__.py
  astropy/units/physical.py
Labels: units, no-changelog-entry-needed

#17976 DOC: Clarify that parquet needs pandas
  astropy/io/misc/parquet.py
  docs/io/unified_table_parquet.rst
Labels: Docs, io.misc, no-changelog-entry-needed, backport-v7.0.x

#16780 Add tdat reader - resolves issue 15190
  astropy/io/ascii/__init__.py
  astropy/io/ascii/tdat.py
  astropy/io/ascii/tests/test_tdat.py
  astropy/io/ascii/tests/test_write.py
  astropy/table/tests/test_mixin.py
  docs/changes/io.ascii/16780.feature.rst
  docs/io/ascii/extension_classes.rst
  docs/io/ascii/index.rst
  docs/io/unified_table.rst
  docs/io/unified_table_text.rst
  docs/whatsnew/7.1.rst
Labels: table, io.ascii, whatsnew-needed

#17990 Remove clutter from `misc` units definition file
  astropy/units/misc.py
Labels: units, no-changelog-entry-needed

#17968 Add LZMA file support to `io.fits`
  astropy/io/fits/convenience.py
  astropy/io/fits/file.py
  astropy/io/fits/hdu/base.py
  astropy/io/fits/hdu/hdulist.py
  astropy/io/fits/tests/test_core.py
  docs/changes/io.fits/17968.feature.rst
  docs/io/fits/index.rst
Labels: io.fits

#17984 Fix LZMA invalid file checking in `utils`
  astropy/utils/data.py
  astropy/utils/tests/test_data.py
  docs/changes/utils/17984.bugfix.rst
Labels: Bug, utils

#17993 Cache the unit equivalencies that have no parameters
  astropy/units/equivalencies.py
Labels: units, Performance, no-changelog-entry-needed, benchmark

#17995 Fix possible int overflow in io.fits compression
  astropy/io/fits/hdu/compressed/src/compression.c
  docs/changes/io.fits/17995.bugfix.rst
Labels: io.fits, Bug, :fire:, Extra CI, Build all wheels

#17933 Fix table repr when column has scaling factors
  astropy/io/fits/fitsrec.py
  astropy/io/fits/tests/test_table.py
  docs/changes/io.fits/17933.bugfix.rst
Labels: io.fits, Bug, backport-v7.0.x

#17998 Backport PR #17933 on branch v7.0.x (Fix table repr when column has scaling factors)
  astropy/io/fits/fitsrec.py
  astropy/io/fits/tests/test_table.py
  docs/changes/io.fits/17933.bugfix.rst
Labels: io.fits, Bug, backport-v7.0.x

#17960 Add LZW file support to `io.fits`, `io.ascii` and `utils.data`
  astropy/io/ascii/tests/data/ipac.dat.Z
  astropy/io/ascii/tests/data/short.rdb.Z
  astropy/io/ascii/tests/test_compressed.py
  astropy/io/fits/file.py
  astropy/io/fits/tests/data/lzw.fits.Z
  astropy/io/fits/tests/test_core.py
  astropy/utils/compat/optional_deps.py
  astropy/utils/data.py
  astropy/utils/tests/data/local.dat.Z
  astropy/utils/tests/data/unicode.txt.Z
  astropy/utils/tests/test_data.py
  docs/changes/io.ascii/17960.feature.rst
  docs/changes/io.fits/17960.feature.rst
  docs/changes/utils/17960.feature.rst
  docs/io/fits/index.rst
  pyproject.toml
Labels: io.fits, utils, installation

#17642 Add back bzero and bscale keywords when `do_not_scale_image_data` is true for the appended hdu
  astropy/io/fits/hdu/base.py
  astropy/io/fits/hdu/hdulist.py
  astropy/io/fits/tests/test_hdulist.py
  docs/changes/io.fits/17642.bugfix.rst
Labels: io.fits, Bug, backport-v7.0.x

#18006 Backport PR #17642: Add back bzero and bscale keywords when `do_not_s…
  astropy/io/fits/hdu/base.py
  astropy/io/fits/hdu/hdulist.py
  astropy/io/fits/tests/test_hdulist.py
  docs/changes/io.fits/17642.bugfix.rst
Labels: io.fits, skip-changelog-checks, skip-basebranch-check

#17932 DOC: document runtime environment variables in a dedicated page
  docs/config/index.rst
  docs/development/testguide.rst
  docs/environment_variables.rst
  docs/index_user_docs.rst
  docs/utils/data.rst
Labels: Docs, config, utils, no-changelog-entry-needed

#18014 Fix "<U" in dtype check breaking TDAT writer on big-endian systems
  astropy/io/ascii/tdat.py
  astropy/io/ascii/tests/test_tdat.py
Labels: io.ascii, Bug, no-changelog-entry-needed, Extra CI

#18017 DOC: get rid of excessive warnings in doc build / alternative
  docs/conf.py
  docs/units/ref_api.rst
Labels: Docs, units, no-changelog-entry-needed

#16690 Adds a utility Covariance class for NDData
  astropy/nddata/__init__.py
  astropy/nddata/covariance.py
  astropy/nddata/nduncertainty.py
  astropy/nddata/tests/test_covariance.py
  docs/changes/nddata/16690.feature.rst
  docs/nddata/covariance.rst
  docs/nddata/index.rst
  docs/nddata/nddata.rst
  docs/whatsnew/7.1.rst
Labels: nddata, unified-io, Enhancement, whatsnew-needed

#17952 Remove some duplicated and outdated documentation from testing guidelines
  docs/development/maintainers/testhelpers.rst
  docs/development/testguide.rst
Labels: Docs, no-changelog-entry-needed

#18025 BUG,TST: fix writing to table used in all tests.
  astropy/io/ascii/tests/test_tdat.py
Labels: testing, io.ascii, Bug, Affects-dev, no-changelog-entry-needed

#17869 Fix filtering of non-finite values
  astropy/modeling/fitting.py
  astropy/modeling/tests/test_fitters.py
  docs/changes/modeling/17869.bugfix.rst
Labels: Bug, modeling, backport-v7.0.x

#18028 Backport PR #17869 on branch v7.0.x (Fix filtering of non-finite values)
  astropy/modeling/fitting.py
  astropy/modeling/tests/test_fitters.py
  docs/changes/modeling/17869.bugfix.rst
Labels: Bug, modeling, backport-v7.0.x

#18020 Simplify and speed up three Doppler equivalencies
  astropy/units/equivalencies.py
Labels: units, Performance, no-changelog-entry-needed

#18027 Backport PR #17954 on branch v7.0.x (Add example plots for Stretch classes)
  astropy/visualization/stretch.py
Labels: Docs, visualization, no-changelog-entry-needed, backport-v7.0.x

#18030 Fix ruff B007 failure in modeling test
  astropy/modeling/tests/test_fitters.py
Labels: modeling, Affects-dev, no-changelog-entry-needed

#17927 Fix interval classes for MaskedArray and MaskedNDArray
  astropy/visualization/interval.py
  astropy/visualization/tests/test_interval.py
  docs/changes/visualization/17927.bugfix.rst
Labels: Bug, visualization, backport-v7.0.x

#18032 Backport PR #17927 on branch v7.0.x (Fix interval classes for MaskedArray and MaskedNDArray)
  astropy/visualization/interval.py
  astropy/visualization/tests/test_interval.py
  docs/changes/visualization/17927.bugfix.rst
Labels: Bug, visualization, backport-v7.0.x

#18029 Add example plots for LuptonAsinhStretch
  astropy/visualization/lupton_rgb.py
Labels: Docs, visualization, no-changelog-entry-needed, backport-v7.0.x

#18035 Backport PR #18029 on branch v7.0.x (Add example plots for LuptonAsinhStretch)
  astropy/visualization/lupton_rgb.py
Labels: Docs, visualization, no-changelog-entry-needed, backport-v7.0.x

#18034 Simplify imports in unit definition modules
  astropy/units/astrophys.py
  astropy/units/cds.py
  astropy/units/cgs.py
  astropy/units/imperial.py
  astropy/units/photometric.py
  astropy/units/si.py
Labels: units, Refactoring, no-changelog-entry-needed

#18040 Backport PR #18039 on branch v7.0.x (TST: Disable doctest for exotic archs)
  .github/workflows/ci_cron_weekly.yml
Labels: testing, no-changelog-entry-needed, Extra CI, backport-v7.0.x

#18038 Allow importing `constants` before `units`
  astropy/tests/tests/test_imports.py
  astropy/units/photometric.py
  astropy/utils/iers/tests/test_leap_second.py
Labels: units, Bug, Affects-dev, no-changelog-entry-needed

#17985 Redefine degrees Rankine as a scaled version of the kelvin
  astropy/units/equivalencies.py
  astropy/units/imperial.py
  astropy/units/physical.py
  astropy/units/tests/test_equivalencies.py
  docs/changes/units/17985.feature.rst
  docs/units/equivalencies.rst
Labels: units, Enhancement

#17702 cosmo: feat: “traits” module
  astropy/cosmology/__init__.py
  astropy/cosmology/_src/flrw/base.py
  astropy/cosmology/_src/traits/__init__.py
  astropy/cosmology/_src/traits/baryons.py
  astropy/cosmology/_src/traits/rhocrit.py
  astropy/cosmology/_src/traits/scale_factor.py
  astropy/cosmology/_src/traits/tcmb.py
  astropy/cosmology/traits.py
  docs/changes/cosmology/17702.api.rst
  docs/cosmology/index.rst
  docs/cosmology/traits.rst
  docs/glossary.rst
  docs/whatsnew/7.1.rst
Labels: cosmology, whatsnew-needed

#18041 Potential fix for code scanning alert no. 15: Multiplication result converted to larger type
  astropy/wcs/src/sip.c
Labels: wcs, Refactoring, no-changelog-entry-needed, Extra CI, Build all wheels

#18049 Improve formatting of degrees Rankine
  astropy/units/imperial.py
  astropy/units/tests/test_quantity.py
  docs/changes/units/18049.bugfix.rst
Labels: units, Bug

#18005 Fix WCSAxes.plot_coord slice issue
  astropy/visualization/wcsaxes/core.py
  astropy/visualization/wcsaxes/tests/test_misc.py
  docs/changes/visualization/18005.bugfix.rst
Labels: Bug, visualization.wcsaxes

#17999 feat: conversion between votables's coosys and astropy built in frames
  astropy/io/votable/data/ivoa-vocalubary_refframe-v20220222.json
  astropy/io/votable/tests/test_coosys.py
  astropy/io/votable/tree.py
  docs/changes/io.votable/17999.bugfix.rst
  docs/changes/io.votable/17999.feature.rst
  docs/io/votable/coosys_element.rst
  docs/io/votable/index.rst
  docs/io/votable/mivot_blocks.rst
  docs/io/votable/table_element.rst
  docs/whatsnew/7.1.rst
Labels: io.votable

#17706 Astropy CSV table reader using pyarrow
  astropy/io/misc/connect.py
  astropy/io/misc/pyarrow/__init__.py
  astropy/io/misc/pyarrow/csv.py
  astropy/io/misc/pyarrow/tests/__init__.py
  astropy/io/misc/pyarrow/tests/test_csv.py
  docs/changes/io.misc/17706.feature.rst
  docs/io/ascii/index.rst
  docs/io/misc.rst
  docs/io/misc_ref_api.rst
  docs/io/unified_table.rst
  docs/io/unified_table_text.rst
  docs/whatsnew/7.1.rst
Labels: io.misc, unified-io

#18047 API: Rename showtable to showtable-astropy
  astropy/table/scripts/showtable.py
  docs/changes/table/18047.api.rst
  docs/io/unified_table.rst
  pyproject.toml
Labels: table, Docs, installation, API change

#18054 TST: bumping minimum doctestplus version so we can use new directives
  pyproject.toml
Labels: installation, no-changelog-entry-needed, Extra CI, Build all wheels, dependencies

#18053 Deprecate the `isiterable()` utility function
  astropy/config/configuration.py
  astropy/coordinates/angles/core.py
  astropy/coordinates/funcs.py
  astropy/coordinates/tests/test_representation.py
  astropy/coordinates/tests/test_sky_coord.py
  astropy/io/fits/column.py
  astropy/io/fits/hdu/image.py
  astropy/io/fits/header.py
  astropy/modeling/bounding_box.py
  astropy/modeling/core.py
  astropy/modeling/parameters.py
  astropy/modeling/spline.py
  astropy/nddata/flag_collection.py
  astropy/stats/sigma_clipping.py
  astropy/table/table.py
  astropy/time/tests/test_basic.py
  astropy/units/core.py
  astropy/units/equivalencies.py
  astropy/units/quantity_helper/function_helpers.py
  astropy/units/tests/test_quantity.py
  astropy/utils/console.py
  astropy/utils/misc.py
  astropy/utils/tests/test_misc.py
  astropy/visualization/wcsaxes/tests/test_images.py
  astropy/wcs/wcsapi/wrappers/sliced_wcs.py
  docs/changes/utils/18053.api.rst
Labels: table, io.fits, config, time, nddata, units, coordinates, modeling, utils, stats, visualization.wcsaxes, wcs.wcsapi, API change, Extra CI

#18051 Fix bugs in Table indices related to list/ndarray item in .loc/.loc_indices
  astropy/table/index.py
  astropy/table/tests/test_index.py
  docs/changes/table/18051.api.rst
  docs/changes/table/18051.bugfix.rst
Labels: table, Bug, API change

#17489 API: mark most arguments from simple_norm as future keyword-only
  astropy/utils/decorators.py
  astropy/utils/tests/test_decorators.py
  astropy/visualization/mpl_normalize.py
  docs/changes/visualization/17489.api.rst
Labels: utils, visualization, API change

#18061 Fix bug not setting null_values=[""] by default in pyarrow.csv reader
  astropy/io/misc/pyarrow/csv.py
  astropy/io/misc/pyarrow/tests/test_csv.py
Labels: Bug, Affects-dev, no-changelog-entry-needed

#17818 Fix Ruff rule RET504 violations in astropy/visualization
  .ruff.toml
  astropy/visualization/mpl_normalize.py
  astropy/visualization/time.py
  astropy/visualization/wcsaxes/core.py
  astropy/visualization/wcsaxes/formatter_locator.py
  astropy/visualization/wcsaxes/grid_paths.py
  astropy/visualization/wcsaxes/wcsapi.py
Labels: visualization, no-changelog-entry-needed, visualization.wcsaxes, dev-automation

#18023 ENH,BUG: Timeseries downsampling can now deal with MaskedColumn
  astropy/timeseries/downsample.py
  astropy/timeseries/tests/test_downsample.py
  docs/changes/timeseries/18023.feature.rst
Labels: Enhancement, timeseries

#18058 MAINT: remove usage of deprecated old name Table
  astropy/io/votable/dataorigin.py
Labels: io.votable, Bug, Affects-dev, no-changelog-entry-needed, backport-v7.1.x

#18060 DOC: adding votable.parquet and parquet.votable to the formats table
  docs/io/unified_table.rst
Labels: Docs, unified-io, no-changelog-entry-needed, backport-v7.1.x

#18068 Backport PR #18060 on branch v7.1.x (DOC: adding votable.parquet and parquet.votable to the formats table)
  docs/io/unified_table.rst
Labels: Docs, unified-io, no-changelog-entry-needed, backport-v7.1.x

#18069 DOC: Fix ref to What's New for 7.2.dev
  docs/development/maintainers/releasing.rst
  docs/index_getting_started.rst
Labels: Docs, Bug, no-changelog-entry-needed

#18065 Added what's new entry for fit_info option to parallel_fit_dask
  docs/modeling/parallel-fitting.rst
  docs/whatsnew/7.1.rst
Labels: Docs, skip-changelog-checks, skip-basebranch-check

#18073 Deprecate isiterable in 7.2 rather than 7.1 (try 2)
  astropy/utils/misc.py
Labels: utils, Affects-dev, no-changelog-entry-needed, API change

#18076 Update `pytest` `norecursedirs` setting
  pyproject.toml
Labels: testing, Bug, installation, no-changelog-entry-needed, backport-v7.0.x, backport-v7.1.x

#18078 Backport PR #18076 on branch v7.1.x (Update `pytest` `norecursedirs` setting)
  pyproject.toml
Labels: testing, Bug, installation, no-changelog-entry-needed, backport-v7.0.x, backport-v7.1.x

#18077 Backport PR #18076 on branch v7.0.x (Update `pytest` `norecursedirs` setting)
  pyproject.toml
Labels: testing, Bug, installation, no-changelog-entry-needed, backport-v7.0.x, backport-v7.1.x

#18075 fix: unicodechar fields can have bounded variable size
  astropy/io/votable/converters.py
  astropy/io/votable/tests/test_converter.py
  docs/changes/io.votable/18075.bugfix.rst
Labels: io.votable, Bug, backport-v7.0.x, backport-v7.1.x

#18079 Backport PR #18075 on branch v7.0.x (fix: unicodechar fields can have bounded variable size)
  astropy/io/votable/converters.py
  astropy/io/votable/tests/test_converter.py
  docs/changes/io.votable/18075.bugfix.rst
Labels: io.votable, Bug, backport-v7.0.x, backport-v7.1.x

#18080 Backport PR #18075 on branch v7.1.x (fix: unicodechar fields can have bounded variable size)
  astropy/io/votable/converters.py
  astropy/io/votable/tests/test_converter.py
  docs/changes/io.votable/18075.bugfix.rst
Labels: io.votable, Bug, backport-v7.0.x, backport-v7.1.x
