Repository astropy/astropy, pull requests merged in 2025-09, with the labels that each got.

#18591 Replace `lazyproperty` with `cached_property` in `units`
  astropy/units/core.py
  astropy/units/function/logarithmic.py
Labels: units, Refactoring, no-changelog-entry-needed

#18577 Fix units error on `CoordinateHelper.set_ticks`
  astropy/visualization/wcsaxes/coordinate_helpers.py
  astropy/visualization/wcsaxes/tests/test_coordinate_helpers.py
  docs/changes/visualization/18577.bugfix.rst
Labels: Bug, visualization.wcsaxes, backport-v7.1.x

#18590 Fixed an image-normalization bug where the interval could be ignored when plotting
  astropy/visualization/mpl_normalize.py
  astropy/visualization/tests/test_norm.py
  docs/changes/visualization/18590.bugfix.rst
Labels: Bug, visualization

#18593 Remove `detailed_exception` parameter from unit formatter `_validate_unit()` methods
  astropy/units/core.py
  astropy/units/format/base.py
  astropy/units/format/generic.py
  astropy/units/format/ogip.py
  astropy/units/format/vounit.py
Labels: units, Refactoring, no-changelog-entry-needed

#18584 DOC: Fix broken link by using HTTPS
  astropy/time/formats.py
  docs/changes/time/18330.feature.rst
Labels: Docs, time, Bug, Affects-dev, skip-changelog-checks, Extra CI

#18600 Backport PR #18599 on branch v7.1.x (Replace deprecated setting of dtype on numpy arrays)
  astropy/io/fits/hdu/groups.py
Labels: io.fits, no-changelog-entry-needed, numpy-dev, uncertainty, backport-v7.1.x

#18601 Backport PR #18542 on branch v7.1.x (Document ability to explicitly set axis units with Matplotlib)
  astropy/visualization/tests/test_units.py
  astropy/visualization/units.py
  docs/visualization/matplotlib_integration.rst
Labels: Docs, visualization, no-changelog-entry-needed, backport-v7.1.x

#18603 Refactor unit formatter `_validate_unit()` methods
  astropy/units/format/base.py
  astropy/units/format/generic.py
  astropy/units/format/ogip.py
  astropy/units/format/vounit.py
Labels: units, Refactoring, no-changelog-entry-needed

#18606 Only insert valid identifiers to unit definition module `__all__` lists
  astropy/units/docgen.py
  astropy/units/tests/test_units.py
Labels: units, Bug, no-changelog-entry-needed, backport-v7.1.x

#18607 Replace deprecated indent() with textutils.indent() in io.fits warning
  astropy/io/fits/hdu/hdulist.py
  astropy/io/fits/tests/test_hdulist.py
Labels: io.fits, Refactoring, no-changelog-entry-needed, backport-v7.1.x

#18608 Backport PR #18607 on branch v7.1.x (Replace deprecated indent() with textutils.indent() in io.fits warning)
  astropy/io/fits/hdu/hdulist.py
  astropy/io/fits/tests/test_hdulist.py
Labels: io.fits, Refactoring, no-changelog-entry-needed, backport-v7.1.x

#18609 Backport PR #18606 on branch v7.1.x (Only insert valid identifiers to unit definition module __all__ lists)
  astropy/units/tests/test_units.py
  astropy/units/utils.py
Labels: units, Bug, no-changelog-entry-needed, Manual Backport, skip-basebranch-check, backport-v7.1.x

#18537 DOC: add a badge with currently supported Python versions (as of the latest stable release)
  README.rst
Labels: Docs, no-changelog-entry-needed, backport-v7.1.x

#18626 Remove unneeded code from `coordinates/sites.py`
  astropy/coordinates/sites.py
Labels: coordinates, Refactoring, no-changelog-entry-needed

#18627 Fix for latex representation for DexUnit in astropy.units
  astropy/units/function/core.py
  astropy/units/function/logarithmic.py
  astropy/units/tests/test_format.py
  astropy/units/tests/test_logarithmic.py
  docs/changes/units/18627.bugfix.rst
Labels: units, Bug, backport-v7.1.x

#18633 refactor: group scipy compat
  astropy/cosmology/_src/flrw/base.py
  astropy/cosmology/_src/flrw/lambdacdm.py
  astropy/cosmology/_src/scipy_compat.py
  astropy/cosmology/_src/tests/flrw/test_base.py
  astropy/cosmology/_src/tests/test_scipy_compat.py
  astropy/cosmology/_src/traits/darkenergy.py
Labels: cosmology, Refactoring, no-changelog-entry-needed

#18451 Compute maximum absolute and relative differences reported by ImageDataDiff on the full arrays
  astropy/io/fits/diff.py
  astropy/utils/diff.py
  astropy/utils/tests/test_diff.py
  docs/changes/io.fits/18451.bugfix.rst
Labels: io.fits, Bug, utils, benchmark, backport-v7.1.x

#18619 Restrict some CI to astropy repo
  .github/workflows/check_changelog.yml
  .github/workflows/ci_workflows.yml
Labels: testing, no-changelog-entry-needed

#18630 Backport PR #18627 on branch v7.1.x (Fix for latex representation for DexUnit in astropy.units)
  astropy/units/function/core.py
  astropy/units/function/logarithmic.py
  astropy/units/tests/test_format.py
  astropy/units/tests/test_logarithmic.py
  docs/changes/units/18627.bugfix.rst
Labels: units, Bug, backport-v7.1.x

#18635 perf: phi amplitude functions
  astropy/cosmology/_src/flrw/lambdacdm.py
Labels: cosmology, Refactoring, no-changelog-entry-needed

#18638 Remove `coordinates.earth_orientation`
  astropy/coordinates/builtin_frames/fk4.py
  astropy/coordinates/builtin_frames/fk5.py
  astropy/coordinates/earth_orientation.py
  astropy/coordinates/tests/test_earth_orientation.py
  docs/changes/coordinates/18638.api.rst
Labels: coordinates, Refactoring

#18651 TST: ban a known incompatible pre-release version of pyparsing in devdeps testing
  pyproject.toml
Labels: testing, Affects-dev, no-changelog-entry-needed, Extra CI, backport-v7.1.x

#18648 DOC: Add note about get_testdata_filepath
  docs/io/fits/index.rst
  docs/io/fits/usage/image.rst
  docs/io/fits/usage/table.rst
Labels: Docs, io.fits, no-changelog-entry-needed, backport-v7.1.x

#18640 Fix slicing FITS compressed file with .section when data is scaled
  astropy/io/fits/hdu/compressed/compressed.py
  astropy/io/fits/hdu/compressed/section.py
  astropy/io/fits/hdu/compressed/tests/test_compressed.py
  astropy/nddata/tests/test_utils.py
  astropy/nddata/utils.py
  docs/changes/io.fits/18640.bugfix.rst
  docs/changes/nddata/18640.bugfix.rst
Labels: io.fits, nddata, Bug, backport-v7.1.x

#18660 DOC: Fix linkcheck, change some URLs to HTTPS
  docs/conf.py
  docs/coordinates/index.rst
  docs/io/fits/appendix/faq.rst
  docs/time/index.rst
  licenses/ERFA.rst
Labels: Docs, io.fits, time, Bug, coordinates, no-changelog-entry-needed, Extra CI, backport-v7.1.x

#18659 Speed up some FK4-related code
  astropy/coordinates/builtin_frames/fk4.py
Labels: coordinates, Performance, no-changelog-entry-needed, benchmark

#18661 Backport PR #18660 on branch v7.1.x (DOC: Fix linkcheck, change some URLs to HTTPS)
  docs/conf.py
  docs/coordinates/index.rst
  docs/io/fits/appendix/faq.rst
  docs/time/index.rst
  licenses/ERFA.rst
Labels: Docs, io.fits, time, Bug, coordinates, no-changelog-entry-needed, Extra CI, backport-v7.1.x
